* {
    margin: 0;
    padding: 0;
    }
    .row {
    margin-right: 0px;
    }
    
    #insrSummary .container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    }
    #insrSummary .labelText {
    font-size: 14px;
    }
    #insrSummary .viewDetail {
    color: gray;
    font-size: 14px;
    }
    #insrSummary li {
    list-style: none;
    }
    #insrSummary li {
    list-style: none;
    }
    @media (min-width: 1281px) {
    #insrSummary .secondChild {
    margin-top: 10px;
    }
    
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
    #insrSummary .container {
    padding: 10px;
    }
    #insrSummary .col-lg-2 {
    border-left: none;
    height: 70px;
    }
    #insrSummary .viewDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    color: gray;
    }
    }
    @media (min-width: 481px) and (max-width: 767px) {
    #insrSummary .container {
    padding: 20px;
    }
    #insrSummary .col-lg-2 {
    border-left: none;
    height: 80px;
    }
    #insrSummary .viewDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    color: gray;
    }
    #insrSummary .container {
    border-radius: 10px;
    }
    
    }
    @media (min-width: 320px) and (max-width: 480px) {
    #insrSummary .container {
    padding: 20px;
    }
    
    #insrSummary .viewDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    color: gray;
    }
    #insrSummary .changeBtn {
    margin-top: 2px;
    }
    #insrSummary .container {
    border-radius: 0px;
    }
    
    }
    .title-box {
    background: #000080;
    color: #fff;
    width: 220px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    }
    .title-box h2 {
    font-size: 20px;
    }
    .title-box::after {
    content: "";
    border-top: 40px solid #000080;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 209px;
    }
    .visa-type {
    padding: 0px !important;
    font-size: 14px;
    }
    .visa-type li {
    padding: 3px 0;
    float: left;
    width: 100%;
    }
    .fieldData {
    float: right;
    margin-right: 20px;
    }
    .priceHeading {
    display: flex;
    justify-content: center;
    font-size: 16px;
    }
    .visa-price {
    color: navy;
    font-weight: 700;
    }
    .continueBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    }
    .card-body {
    /* flex: 1 1 auto; */
    padding: 10px;
    /* padding-bottom: 4px; */
    }
    .card {
    margin-top: 10px !important;
    }
    .btn-continue {
    color: #fff !important;
    background-color: navy !important;
    border-color: navy !important;
    }
    .btn-continue :hover {
    color: navy;
    background-color: white;
    border-color: navy;
    }
    li {
    display: list-item;
    text-align: -webkit-match-parent;
    }
    ul {
    list-style: none;
    }
    .flex-center {
    display: flex;
    justify-content: center;
    }
    .btn-outline-navy {
    color: navy;
    background-color: transparent;
    background-image: none;
    border-color: navy;
    }
    .btn-outline-navy:hover {
    color: white;
    background-color: navy;
    }
    .card .card-header {
    font-weight: 700;
    }
    .card-footer button {
    width: 100%;
    }
    .sim-card .card {
    border-color: linear-gradient(
    to top right,
    #ff4e00 0%,
    #ec9f05 74%);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    }
    .sim-card .card-header {
    border-top-right-radius: 10px;
    background-image: linear-gradient(
    to top right,
    #ff4e00 0%,
    #ec9f05 74%
    );
    border-top-left-radius: 10px;
    }
    .sim-card .card-footer {
    border-color: linear-gradient(
    to top right,
    #ff4e00 0%,
    #ec9f05 74%);
    }
    .insurance .card {
    border-color: 1px solid linear-gradient(to top right, #000080, #c2e9fb);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    }
    .insurance .card-header {
    background-image: linear-gradient(to top right, #000080, #c2e9fb);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }
    .insurance .card-footer {
    border-color: linear-gradient(to top right, #000080, #c2e9fb);
    }
    .visa .card {
    border-color: linear-gradient(to right, #00563f, #35b535);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    }
    .visa .card-header {
    background-image: linear-gradient(to right, #00563f, #35b535);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }
    .visa .card-footer {
    border-color: linear-gradient(to right, #00563f, #35b535);
    }
    
    .bookingDetail {
      margin-top: 40px;
    }
    
    