<div style="display: flex; justify-content: center">
  <section id="insrSummary">
    <div
      class="container summaryContainer"
      *ngIf="selectedBooking.booking.bookingType == 'Visa'"
    >
      <div class="row">
        <div class="col-md-12">
          <h3 style="font-size: 20px; font-weight: 600">Summary</h3>
        </div>

        <div class="col-md-7 pdLeft">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12 col-sm-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING ID:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingId }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-6 pdLeft mgTop">
                  <div class="labelText">
                    <b>TRANSACTION ID:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.paymentId }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>VISA FOR :</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.visaForCountry }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>VISA TYPE:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.visaType }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>ENTRY TYPE:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.entryType }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>TOTAL TRAVELLERS:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.totalTravellers }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 pdLeft">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING DATE:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingDate }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>DATE OF JOURNEY:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.dateOfTravel }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING STATUS:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingStatus }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>PAYMENT STATUS:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.paymentStatus }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row mt-3"
      *ngIf="
        selectedBooking.booking.bookingType == 'Visa' &&
        selectedBooking.booking.bookingStatus == 'Visa application approved'
      "
    >
      <div class="col-12 text-right">
        <button
          class="btn btn-sm download_evisa"
          id="evisa_download"
          (click)="
            downloadEvisa(
              selectedBooking.booking.bookingId,
              selectedBooking.booking.bookingFrom
            )
          "
        >
          Download E-Visa
        </button>
      </div>
    </div>

    <div
      class="container summaryContainer"
      *ngIf="selectedBooking.booking.bookingType == 'Sim'"
    >
      <div class="row">
        <div class="col-md-12">
          <h3 style="font-size: 20px; font-weight: 600">Summary</h3>
        </div>

        <div class="col-md-12 pdLeft">
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 col-sm-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING ID:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingId }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-6 pdLeft mgTop">
                  <div class="labelText">
                    <b>TRANSACTION ID:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.paymentId }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b
                      >{{
                        selectedBooking.booking.bookingType == "Visa"
                          ? "VISA"
                          : "SIM"
                      }}
                      FOR :</b
                    >
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.visaForCountry }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>TOTAL TRAVELLERS:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.totalTravellers }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING DATE:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingDate }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>PAYMENT STATUS:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.paymentStatus }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING STATUS:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingStatus }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container summaryContainer"
      *ngIf="selectedBooking.booking.bookingType == 'Insurance'"
    >
      <div class="row">
        <div class="col-md-12">
          <h3 style="font-size: 20px; font-weight: 600">Summary</h3>
        </div>

        <div class="col-md-7 pdLeft">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12 col-sm-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING ID:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingId }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-6 pdLeft mgTop">
                  <div class="labelText">
                    <b>TRANSACTION ID:</b>
                    <div class="viewDetail">
                      <li *ngIf="selectedBooking.booking.paymentId != null">
                        {{ selectedBooking.booking.paymentId }}
                      </li>
                      <li *ngIf="selectedBooking.booking.paymentId == null">
                        NA
                      </li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>INSURANCE FOR:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.insuranceBookings.country }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>PLAN TYPE:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.insuranceBookings.planType }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>COVERAGE:</b>
                    <div class="viewDetail">
                      <li>
                        {{
                          selectedBooking.insuranceBookings.currency +
                            " " +
                            selectedBooking.insuranceBookings.coverage
                        }}
                      </li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>NO OF INSURED PERSON:</b>
                    <div class="viewDetail">
                      <li>
                        {{
                          selectedBooking.insuranceBookings
                            .numberOfInsuredPerson
                        }}
                      </li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 pdLeft">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING DATE:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingDate }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>POLICY COMMENCEMENT DATE:</b>
                    <div class="viewDetail">
                      <li>
                        {{
                          selectedBooking.insuranceBookings.policyCommencementDt
                        }}
                      </li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText firstChild">
                    <b>BOOKING STATUS:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.bookingStatus }}</li>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-6 pdLeft">
                  <div class="labelText">
                    <b>PAYMENT STATUS:</b>
                    <div class="viewDetail">
                      <li>{{ selectedBooking.booking.paymentStatus }}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="bookingDetail" style="margin-bottom: 40px">
  <div class="container">
    <div class="row mt-4">
      <div
        *ngFor="let traveller of selectedBooking.travellers"
        class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2"
      >
        <div class="visa">
          <div class="card">
            <div class="card-header priceHeading text-white">
              Traveller Details
            </div>
            <div class="card-body">
              <ul class="visa-type">
                <li *ngIf="traveller.emailId != null">
                  Email ID :
                  <span class="fieldData">{{ traveller.emailId }}</span>
                </li>
                <li *ngIf="traveller.firstName != null">
                  First Name :
                  <span class="fieldData">{{ traveller.firstName }}</span>
                </li>
                <li *ngIf="traveller.middleName != ''">
                  Middle Name :
                  <span class="fieldData">{{ traveller.middleName }}</span>
                </li>
                <li *ngIf="traveller.lastName != null">
                  Last Name :
                  <span class="fieldData">{{ traveller.lastName }}</span>
                </li>
                <li *ngIf="traveller.cellNumber != null">
                  Cell Number :
                  <span class="fieldData">{{ traveller.cellNumber }}</span>
                </li>
                <li *ngIf="traveller.code != null">
                  Code:
                  <span class="fieldData">{{ traveller.code }}</span>
                </li>
                <li *ngIf="traveller.addressLine1 != null">Address Line 1 :</li>
                <li *ngIf="traveller.addressLine1 != null">
                  <textarea
                    name=""
                    class="form-control"
                    disabled
                    id=""
                    cols="30"
                    rows="4"
                    >{{ traveller.addressLine1 }}</textarea
                  >
                </li>
                <li *ngIf="traveller.addressLine2 != null">Address Line 2 :</li>
                <li *ngIf="traveller.addressLine2 != null">
                  <textarea
                    name=""
                    class="form-control"
                    disabled
                    id=""
                    cols="30"
                    rows="4"
                    >{{ traveller.addressLine2 }}</textarea
                  >
                </li>
                <li *ngIf="traveller.city != null">
                  City:
                  <span class="fieldData">{{ traveller.city }}</span>
                </li>
                <li *ngIf="traveller.state != null">
                  State :
                  <span class="fieldData">{{ traveller.state }}</span>
                </li>
                <li *ngIf="traveller.pinCode != null">
                  Pin Code :
                  <span class="fieldData">{{ traveller.pinCode }}</span>
                </li>
                <li *ngIf="traveller.country != null">
                  Country :
                  <span class="fieldData">{{ traveller.country }}</span>
                </li>
                <li
                  *ngIf="
                    selectedBooking.booking.bookingType == 'Visa' &&
                    traveller.title != null
                  "
                >
                  Title :
                  <span class="fieldData">{{ traveller.title }}</span>
                </li>
                <li *ngIf="traveller.dateOfBirth != null">
                  Date Of Birth :
                  <span class="fieldData">{{ traveller.dateOfBirth }}</span>
                </li>
                <li *ngIf="traveller.passportNumber != null">
                  Passport Number :
                  <span class="fieldData">{{ traveller.passportNumber }}</span>
                </li>
                <li *ngIf="traveller.passportExpiryDate != null">
                  Passport Expire Date :
                  <span class="fieldData">{{
                    traveller.passportExpiryDate
                  }}</span>
                </li>
                <div *ngIf="traveller.onlineCountry">
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.passportFrontUrl != null
                    "
                  >
                    Passport Front :
                    <span
                      (click)="
                        downloadImage(
                          traveller.passportFrontUrl,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.passportFrontUrl == null
                            ? "NA"
                            : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.passportFrontUrl != null
                    "
                  >
                    Passport Bio Image :
                    <span
                      (click)="
                        downloadImage(
                          traveller.passportBioImage,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.passportFrontUrl == null
                            ? "NA"
                            : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.userImageUrl != null
                    "
                  >
                    User Image :
                    <span
                      (click)="
                        downloadImage(
                          traveller.userImageUrl,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.userImageUrl == null ? "NA" : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.departureFlightTicketUrl != null
                    "
                  >
                    Department Flight Ticket :
                    <span
                      (click)="
                        downloadImage(
                          traveller.departureFlightTicketUrl,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.departureFlightTicketUrl == null
                            ? "NA"
                            : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.arrivalFlightTicketUrl != null
                    "
                  >
                    Arrival Flight Ticket :
                    <span
                      (click)="
                        downloadImage(
                          traveller.arrivalFlightTicketUrl,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.arrivalFlightTicketUrl == null
                            ? "NA"
                            : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.hotelAccommodationUrl != null
                    "
                  >
                    Hotel Accommodation :
                    <span
                      (click)="
                        downloadImage(
                          traveller.hotelAccommodationUrl,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.hotelAccommodationUrl == null
                            ? "NA"
                            : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.sixMonthsBankStatementUrl != null
                    "
                  >
                    Six Months Bank Statement :
                    <span
                      (click)="
                        downloadImage(
                          traveller.sixMonthsBankStatementUrl,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.sixMonthsBankStatementUrl == null
                            ? "NA"
                            : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.insuranceUrl != null
                    "
                  >
                    Insurance :
                    <span
                      (click)="
                        downloadImage(
                          traveller.insuranceUrl,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.insuranceUrl == null ? "NA" : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.businessCardUrl != null
                    "
                  >
                    Business Card :
                    <span
                      (click)="
                        downloadImage(
                          traveller.businessCardUrl,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{
                          traveller.businessCardUrl == null
                            ? "NA"
                            : "Click Here"
                        }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.noc != null
                    "
                  >
                    NOC :
                    <span
                      (click)="
                        downloadImage(
                          traveller.noc,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{ traveller.noc == null ? "NA" : "Click Here" }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.panCard != null
                    "
                  >
                    PAN Card :
                    <span
                      (click)="
                        downloadImage(
                          traveller.panCard,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{ traveller.panCard == null ? "NA" : "Click Here" }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.itr != null
                    "
                  >
                    ITR :
                    <span
                      (click)="
                        downloadImage(
                          traveller.itr,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{ traveller.itr == null ? "NA" : "Click Here" }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                  <li
                    *ngIf="
                      selectedBooking.booking.bookingType == 'Visa' &&
                      traveller.invitation != null
                    "
                  >
                    Invitation :
                    <span
                      (click)="
                        downloadImage(
                          traveller.invitation,
                          selectedBooking.booking.bookingId
                        )
                      "
                      class="fieldData"
                      ><a class="pointer">
                        {{ traveller.invitation == null ? "NA" : "Click Here" }}
                        <svg
                          style="height: 16px; width: 16px; margin-left: 2px"
                        >
                          <use
                            xlink:href="assets/sprites/sprite.svg#download"
                          ></use>
                        </svg> </a
                    ></span>
                  </li>
                </div>
                <li>
                  Booking Status :
                  <span class="fieldData">{{ traveller.bookingStatus }} </span>
                </li>
                <!-- <li>
                  Online Country :
                  <span class="fieldData">{{traveller.onlineCountry}}</span>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngFor="let simItem of selectedBooking.simBookings"
        class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2"
      >
        <div class="sim-card">
          <div class="card">
            <div class="card-header priceHeading text-white">
              Sim Booking Detail
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5>
                                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a> -->
              <ul class="visa-type">
                <li>
                  Plan Name :
                  <span class="fieldData">{{ simItem.simPlanName }}</span>
                </li>
                <li>
                  Qty :
                  <span class="fieldData">{{ simItem.quantity }}</span>
                </li>
                <li>
                  Sim For :
                  <span class="fieldData">{{ simItem.simPlanForCountry }}</span>
                </li>
                <li>
                  Status :
                  <span class="fieldData">{{ simItem.status }}</span>
                </li>
                <li>
                  Activate Date :
                  <span class="fieldData">{{ simItem.activationDate }}</span>
                </li>

                <li>
                  <div class="summaryContainer">
                    <h6
                      class="summaryHeading text-center"
                      style="
                        border: 1px solid #d4d4d4;
                        padding: 4px 0px;
                        border-radius: 5px;
                        margin: 10px 10px;
                      "
                    >
                      Summary
                    </h6>
                    <p>
                      {{ simItem.summary }}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngFor="let insuranceItem of insuranceDetail"
        class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2"
      >
        <div class="insurance" *ngIf="insuranceItem != null">
          <div class="card">
            <div class="card-header priceHeading text-white">
              Insurance Booking Detail
            </div>
            <div class="card-body">
              <ul class="visa-type">
                <li>
                  Policy Number:
                  <span class="fieldData">{{
                    insuranceItem.policyNum != null
                      ? insuranceItem.policyNum
                      : "null"
                  }}</span>
                </li>
                <li>
                  Country:
                  <span class="fieldData">{{ insuranceItem.country }}</span>
                </li>
                <li>
                  Coverage :
                  <span class="fieldData">{{
                    insuranceItem.currency + " " + insuranceItem.coverage
                  }}</span>
                </li>
                <li>
                  No Of Insured Person :
                  <span class="fieldData">{{
                    insuranceItem.numberOfInsuredPerson
                  }}</span>
                </li>
                <li>
                  Plan Type:
                  <span class="fieldData">{{ insuranceItem.planType }}</span>
                </li>
                <li>
                  Policy Commencement Date:
                  <span class="fieldData">{{
                    insuranceItem.policyCommencementDt
                  }}</span>
                </li>
                <li>
                  Policy Maturity Date:
                  <span class="fieldData">{{
                    insuranceItem.policyMaturityDt
                  }}</span>
                </li>
                <li>
                  Booking date:
                  <span class="fieldData">{{
                    selectedBooking.booking.bookingDate
                  }}</span>
                </li>
                <li>
                  Date of journey:
                  <span class="fieldData">{{
                    insuranceItem.policyCommencementDt
                  }}</span>
                </li>
                <li>
                  Booking Status:
                  <span
                    [ngClass]="{
                      'badge-success':
                        selectedBooking.booking.statusColor == 'g',
                      'badge-danger':
                        selectedBooking.booking.statusColor == 'r',
                      'badge-warning':
                        selectedBooking.booking.statusColor == 'y'
                    }"
                    class="fieldData badge"
                    >{{ selectedBooking.booking.bookingStatus }}</span
                  >
                </li>
                <li>
                  Payment status:
                  <span
                    [ngClass]="{
                      'badge-success':
                        selectedBooking.booking.statusColor == 'g',
                      'badge-danger':
                        selectedBooking.booking.statusColor == 'r',
                      'badge-warning':
                        selectedBooking.booking.statusColor == 'y'
                    }"
                    class="fieldData badge"
                    >{{ selectedBooking.booking.paymentStatus }}</span
                  >
                </li>

                <li class="text-center mt-4">
                  <button
                    (click)="
                      downloadPolicy(
                        selectedBooking.insuranceBookings.policyNum,
                        selectedBooking.booking.paymentColor,
                        selectedBooking.booking.bookingId
                      )
                    "
                    type="button"
                    class="btn btn-outline-success btn-sm"
                  >
                    Get Policy
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <button
          class="btn btn-primary"
          [routerLink]="['/myBookings']"
        >
          Go Back To Bookings
        </button>
      </div>
    </div>
  </div>
</section>
