.row {
  margin-right: 0px;
}

#insrSummary {
  margin-top: 70px;
}

textarea {
  font-size: 13px;
  background: #fff !important;
}

.pointer {
  cursor: pointer;
}


#insrSummary .summaryContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 10px 20px 20px;
  margin-top: 20px;
}
#insrSummary .labelText {
  font-size: 14px;
}
#insrSummary .viewDetail {
  color: gray;
  font-size: 14px;
}
#insrSummary li {
  list-style: none;
}
#insrSummary li {
  list-style: none;
}

@media (min-width: 1281px) {
  #insrSummary .firstChild {
    margin-bottom: 10px;
  }
}

@media (min-width: 981px) and (max-width: 1024px) {
  .viewDetail li {
    word-wrap: break-word;
    width: 152px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #insrSummary .container {
    padding: 20px 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 370px;
  }

  #insrSummary {
    margin-top: 100px;
  }
  

  .pdLeft {
    padding-left: 0px;
  }

  #insrSummary .viewDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    color: gray;
  }
}

@media (min-width: 380px) and (max-width: 480px) { 
  #insrSummary .summaryContainer {
    padding: 20px 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 370px;
  }

}

@media (min-width: 351px) and (max-width: 379px) { 
  #insrSummary .summaryContainer {
    padding: 20px 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 332px;
  }
}


@media (min-width: 320px) and (max-width: 350px) { 
  #insrSummary .summaryContainer {
    padding: 20px 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
  }

}



@media (min-width: 768px) and (max-width: 980px) {
  .viewDetail li {
    word-wrap: break-word;
    width: 152px;
  }

  .viewDetail {
    height: 40px;
  }
  .mgTop {
    margin-top: 22px;
  }
}

.visa-type {
  padding: 0px !important;
  font-size: 14px;
}
.visa-type li {
  padding: 3px 0;
  float: left;
  width: 100%;
}
.fieldData {
  float: right;
}
.priceHeading {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.card-body {
  /* flex: 1 1 auto; */
  padding: 10px;
  /* padding-bottom: 4px; */
}
.card {
  margin-top: 10px !important;
  min-height: 500px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul {
  list-style: none;
}
.card .card-header {
  font-weight: 700;
}
.sim-card .card {
  border-color: linear-gradient(to top right, #ff4e00 0%, #ec9f05 74%);
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}
.sim-card .card-header {
  border-top-right-radius: 10px;
  background-image: linear-gradient(to top right, #ff4e00 0%, #ec9f05 74%);
  border-top-left-radius: 10px;
}
.insurance .card {
  border-color: 1px solid linear-gradient(to top right, #000080, #c2e9fb);
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}
.insurance .card-header {
  background-image: linear-gradient(to top right, #000080, #c2e9fb);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.visa .card {
  border-color: linear-gradient(to right, #00563f, #35b535);
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}
.visa .card-header {
  background-image: linear-gradient(to right, #00563f, #35b535);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.bookingDetail {
  margin-top: 40px;
}

@media only screen and (min-width: 550px) and (max-width: 799px) and (orientation: landscape) {
  .viewDetail li {
    word-wrap: break-word;
    width: 198px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) and (orientation: landscape) {
  .viewDetail li {
    word-wrap: break-word;
    width: 155px;
  }
}

@media screen and (min-width: 600px) and (max-width: 640px) {
  .summaryContainer {
margin-top: 50px !important;
  }
}