.topNavContainer {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 37px;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 68px;
  /* margin-top: 50px; */
  border-bottom: 1px solid whitesmoke;
}

.soon {
  font-size: 8px;
  top: 7px;
  right: 10px;
  position: absolute;
}

/* .visa-icon {
    width: 20px;
    height: 20px;
    background: url('src\assets\mobile-header\mobile-header.png') 0 -20px;
}

.sim-icon {
  width: 20px;
  height: 20px;
  background: url('src\assets\mobile-header\mobile-header.png') 40px -60px;
}

.insurance-icon {
  width: 20px;
  height: 20px;
  background: url('src\assets\mobile-header\mobile-header.png') 20px -40px;
} */

.form-inline {
  /* padding-left: 0px; */
  float: right;
  padding-right: 10px;
}

.nav-item a {
  font-size: 14px;
}

.noMargin {
  margin-left: 0px;
  margin-right: 0px;
}
.container-fluid1 {
  width: 100%;
}

.topNavItem {
  padding: 10px;
  /* background-color: #ededed; */
}
.topNavItem:focus {
  outline: none;
}

/* .topNavItem:active {
    background-color: navy;
} */

.topNavItemIcon {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 7px;
}

.topNavItemContent {
  color: navy;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 3px;
}

.selectedItem {
  border-bottom: 2px solid navy;
  color: navy;
  margin-bottom: 0px;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.2s;
}

.headerIcon {
  width: 50px;
  height: 50px;
  zoom: 0.4;
}

.fixed-top {
  height: 40px;
  background-color: white;
}

.dropdown-menu {
  position: absolute;
  left: 0% !important;
  /* margin-top: 10px; */
  padding-right: 5px;
  padding-left: 10px;
  text-align: left;
  /* min-width: 50px !important; */
  /* right: 10px !important; */
  /* left: 57%; */
}

.dropdown-item {
  font-size: 14px;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

/* .ml-3, */
/* .mx-3 { */
/* margin-left: 0px !important; */
/* } */

.navbar-light .navbar-toggler {
  border: none;
  position: absolute;
  left: 3%;
  top: 10%;
}
/* .navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 15%;
} */

.navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-brand-home {
  position: absolute;
  left: 88%;
  top: 10%;
  /* transform: translate(-50%, -50%); */
}

.navbar-light .navbar-toggler-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
}

/* .dropdown-menu { */
/* left: 39%; */
/* width: 70%; */
/* } */

.dropdown-menu .btn img {
  display: inline-block;
}

.user-dropdown.user-name {
  margin-left: 0px !important;
}

@media screen and (max-width: 340px) {
  .dropdown-menu {
    position: absolute;
    left: 45% !important;
    /* margin-top: 10px; */
    text-align: right;
    /* min-width: 50px !important; */
    right: 10px !important;
    /* left: 57%; */
  }
}

@media screen and (min-width: 600px) and (max-width: 640px) {
  .dropdown-menu {
    left: 70% !important;
  }

  .soon {
    right: 40px;
  }
}

@media (min-width: 500px) and (max-width: 1024px) and (orientation: landscape) {
  .soon {
    font-size: 8px;
    top: 5px;
    right: 63px;
    position: absolute;
  }
}

@media screen and (max-width: 376px) {
  .topNavContainer {
    height: 65px;
  }

  .topNavItemContent {
    font-size: 11.5px;
  }
}

@media screen and (max-width: 321px) {
  .topNavContainer {
    height: 62px;
  }

  .topNavItemContent {
    font-size: 10px;
  }
}
