<nav
  class="navbar heightNav fixed-top navbar-expand-lg navbar-light headerPrimary"
  style="padding-left: 50px; padding-right: 50px"
>
  <!-- Navbar brand -->
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../../../assets/visa2flyNew.png" alt="visa2Fly">
  </a>

  <a class="navbar-brand-home" [routerLink]="['/']">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.6979 8.13435L14.9699 5.20475V1.82056C14.9699 1.20865 14.5081 0.712751 13.9375 0.712751C13.3682 0.712751 12.9064 1.20865 12.9064 1.82056V2.98885L10.8752 0.807452C9.87099 -0.270431 8.12494 -0.268519 7.12298 0.809403L0.301994 8.13435C-0.100665 8.56763 -0.100665 9.2687 0.301994 9.70131C0.704833 10.1345 1.35893 10.1345 1.76162 9.70131L8.58196 2.37616C8.80414 2.13881 9.19575 2.13881 9.41678 2.37546L16.2383 9.70131C16.4405 9.91791 16.7043 10.0256 16.9679 10.0256C17.2321 10.0256 17.4962 9.91779 17.6979 9.70131C18.1007 9.26874 18.1007 8.56767 17.6979 8.13435Z" fill="#1A096D"/>
      <path d="M9.35834 4.47898C9.16017 4.26628 8.8393 4.26628 8.64172 4.47898L2.64196 10.9203C2.54723 11.0219 2.49353 11.1608 2.49353 11.3057V16.0037C2.49353 17.1061 3.32588 17.9999 4.3524 17.9999H7.32289V13.0596H10.6765V17.9999H13.647C14.6735 17.9999 15.5059 17.1061 15.5059 16.0037V11.3057C15.5059 11.1608 15.4526 11.0219 15.3574 10.9203L9.35834 4.47898Z" fill="#1A096D"/>
    </svg>
  </a>

  <!-- *ngIf="visa2FlyLogoForlogin" -->

  <!-- Collapse button -->
  <!-- <button
    class="navbar-toggler"
    type="button"
    id="dropdownMenuButton1"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    aria-controls="dropDown-menu-new"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <div id="menubar">
      <svg  width="30" height="20" viewBox="0 0 38 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 2C0 0.895431 0.895431 0 2 0H36C37.1046 0 38 0.895431 38 2C38 3.10457 37.1046 4 36 4H2C0.89543 4 0 3.10457 0 2Z" fill="#1A096D"/>
        <path d="M0 11C0 9.89543 0.895431 9 2 9H19C20.1046 9 21 9.89543 21 11C21 12.1046 20.1046 13 19 13H2C0.89543 13 0 12.1046 0 11Z" fill="#1A096D"/>
        <path d="M0 20C0 18.8954 0.895431 18 2 18H31C32.1046 18 33 18.8954 33 20C33 21.1046 32.1046 22 31 22H2C0.895431 22 0 21.1046 0 20Z" fill="#1A096D"/>
      </svg>
    </div>
  </button>

  <div class="dropdown-menu" id="dropDown-menu-new" aria-labelledby="dropdownMenuButton1">
    <form *ngIf="userLoggedIn" class="form-inline">
      <li class="nav-item dropdown">
        <div class="btn-group">
          <button
            [routerLink]="['profile']"
            class="btn btn-sm ml-3 user-dropdown user-name"
            type="button"
          >
            <img
              data-src="https://static.visa2fly.com/assets/download.png"
              class="lazyload"
              alt="apply visa online"
              style="width: 25px; border-radius: 50px"
            />
            {{ userDetails.firstName }}
          </button>
        </div>
      </li>
    </form>
    <a
      *ngIf="userLoggedIn"
      class="dropdown-item"
      [routerLink]="['profile']"
      style="color: navy"
      >My Profile</a
    >
    <a
      target="_blank"
      class="dropdown-item"
      href="https://blog.visa2fly.com"
      style="color: navy"
      >Blog</a
    >
    <a class="dropdown-item" [routerLink]="['freeVisa']" style="color: navy"
      >Free Visas</a
    >
    <a
      class="dropdown-item"
      [routerLink]="['visaOnArrival']"
      style="color: navy"
      >Visa On Arrival</a
    >
    <button
      *ngIf="userLoggedIn"
      [routerLink]="['myBookings']"
      class="dropdown-item"
      style="color: navy"
    >
      My Bookings
    </button>

    <a class="dropdown-item" [routerLink]="['/offers']" style="color: navy"
      >Offers</a
    >

    <a
      class="dropdown-item"
      *ngIf="userLoggedIn"
      (click)="logoutUser()"
      style="color: navy"
      >Logout</a
    >

    <form *ngIf="!userLoggedIn" class="form-inline">
      <button
        class="btn btn-primary signUpButton my-2 my-sm-0 ml-3 btn-sm"
        type="submit" style="border-radius: 5px;"
        [routerLink]="['slcontainer', 'signup']"
      >
        Signup
      </button>
      <button
        class="btn btn-primary my-2 my-sm-0 ml-3 btn-sm"
        type="submit" style="border-radius: 5px;"
        [routerLink]="['slcontainer', 'login']"
      >
        Login
      </button>
    </form>
  </div> -->

  <input id="nav-toggle" type="checkbox">
	<!-- <div class="logo"></div> -->
	<ul class="links">
    <li *ngIf="userLoggedIn">
      <form class="form-inline">
        <li class="nav-item dropdown">
          <div class="btn-group">
            <button
              [routerLink]="['profile']"
              class="btn btn-sm ml-3 user-dropdown user-name"
              type="button"
            >
              <img
                data-src="https://static.visa2fly.com/assets/download.png"
                class="lazyload"
                alt="apply visa online"
                style="width: 25px; border-radius: 50px"
              />
              {{ userDetails.firstName }}
            </button>
          </div>
        </li>
      </form>
    </li>
    <li *ngIf="userLoggedIn"><a

    class="dropdown-item"
    [routerLink]="['profile']"
    style="color: navy"
    >My Profile</a
    ></li>
    <li><a
      target="_blank"
      class="dropdown-item"
      href="https://blog.visa2fly.com"
      style="color: navy"
      >Blog</a
    ></li>
    <li><a class="dropdown-item" [routerLink]="['freeVisa']" style="color: navy"
      >Free Visas</a
    ></li>
    <li><a
      class="dropdown-item"
      [routerLink]="['visaOnArrival']"
      style="color: navy"
      >Visa On Arrival</a
    ></li>
    <li><a class="dropdown-item" [routerLink]="['/offers']" style="color: navy"
      >Offers</a
    ></li>
    <li *ngIf="!userLoggedIn">
      <form class="form-inline">
        <button
          class="btn btn-primary signUpButton my-2 my-sm-0 ml-3 btn-sm"
          type="submit" style="border-radius: 5px;"
          [routerLink]="['slcontainer', 'signup']"
        >
          Signup
        </button>
        <button
          class="btn btn-primary my-2 my-sm-0 ml-3 btn-sm"
          type="submit" style="border-radius: 5px;"
          [routerLink]="['slcontainer', 'login']"
        >
          Login
        </button>
      </form>
    </li>
    <li *ngIf="userLoggedIn">
      <button
      [routerLink]="['myBookings']"
      class="dropdown-item"
      style="color: navy; font-weight: 650;"
    >
      My Bookings
    </button>
    </li>
    <li *ngIf="userLoggedIn">
      <a
        class="dropdown-item"

        (click)="logoutUser()"
        style="color: navy"
        >Logout</a
      >
    </li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>

</nav>

<div class="topNavContainer" *ngIf="headerForAll">
  <div class="container-fluid1">
    <div class="row noMargin">
      <div class="col topNavItem" [routerLink]="['/']">
        <div class="topNavItemIcon">
          <div class="headerIcon-visa headerIcon img-sprite"></div>
        </div>
        <div class="topNavItemContent" routerLinkActive="selectedItem">
          Visa
        </div>
      </div>
      <div class="col topNavItem" [routerLink]="['sim']">
        <div class="topNavItemIcon">
          <div class="headerIcon-sim headerIcon img-sprite"></div>
        </div>
        <div class="topNavItemContent" routerLinkActive="selectedItem">Sim</div>
      </div>
      <div class="col topNavItem" [routerLink]="['insurance']">
        <div class="topNavItemIcon">
          <div class="headerIcon-insurance headerIcon img-sprite"></div>
        </div>
        <div class="topNavItemContent" routerLinkActive="selectedItem">
          Travel Insurance
          <span class="badge badge-warning soon">Covers COVID</span>
        </div>
      </div>
    </div>
  </div>
</div>
