  input {
      border: 1px solid #e6e6e6;
      border-bottom-width: 3px;
  }
  
  .adjusting {
      margin-bottom: 25px;
      margin-top: -7px;
      margin-left: 30px;
  }
  /* .adjusting1 {
      margin-top: 20px;
      margin-left: -15px;
  } */
  
  .changeBtn {
      margin-right: 10px;
      display: inline;
      padding: 10px;
  }
  
  .resendBtn {
      margin-left: 12px;
      margin-bottom: 10px;
      width: 130px;
      border: 1px solid #e6e6e6;
      border-bottom-width: 3px;
      display: initial;
      border-radius: 6px;
      padding: 5px 5px;
  }
  
  .cbx {
      position: relative;
      top: 1px;
      width: 17px;
      height: 17px;
      border: 1px solid #c8ccd4;
      border-radius: 3px;
      vertical-align: middle;
      transition: background 0.1s ease;
      cursor: pointer;
  }
  
  .cbx:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 5px;
      width: 5px;
      height: 11px;
      opacity: 0;
      transform: rotate(45deg) scale(0);
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: all 0.3s ease;
      transition-delay: 0.15s;
  }
  
  .lbl {
      margin-left: 5px;
      vertical-align: middle;
      cursor: pointer;
  }
  
  #cbx:checked~.cbx {
      border-color: transparent;
      background: #6871f1;
      animation: jelly 0.6s ease;
  }
  
  #cbx:checked~.cbx:after {
      opacity: 1;
      transform: rotate(45deg) scale(1);
  }
  
  @media(max-width:480px) {
      .small-no-padding {
          padding-left: 0px;
          padding-right: 0px;
      }
  }
  /* On mouse-over, add a deeper shadow */
  
  .roundedinput {
      border-radius: 20px;
      height: 35px;
      font-size: 16px;
  }
  
  .input-group {
      margin-bottom: 14px;
  }
  /* On mouse-over, add a deeper shadow */
  
  .input-group-prepend span {
      border-radius: 20px 0px 0px 20px;
      width: 50px;
      background-color: navy;
      padding-left: 20px;
      color: white;
      padding-left: 20px;
      border: 0 !important;
  }
  
  input:focus {
      outline: 0 0 0 0 !important;
      box-shadow: 0 0 0 0 !important;
  }
  
  .remember {
      color: navy;
  }
  
  .remember input {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      margin-right: 5px;
  }
  
  .adjusting {
      margin-bottom: 25px;
      margin-top: -16px;
      margin-left: -2px;
  }
  
  .buttonalignment {
      margin-top: -20px;
  }
  
  .login_btn {
      border-radius: 20px;
      margin-left: 5px;
      border-bottom-width: 3px;
      color: white;
      background-color: navy;
      width: 100px;
      transition: .5s;
  }
  
  .login_btn:hover {
      border-color: #2A2A72;
      color: navy;
      background-color: white;
  }
  
  @media (max-width: 410px) {
      .agree {
          font-size: 14px;
      }
  }
  
  .spinner-border {
      animation: spinner-border .8s linear infinite !important;
      color: navy;
  }
  
  .scale-transition {
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
      transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
      transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
      transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63), -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
  }
  
  .scale-transition.scale-out {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform .2s !important;
      transition: -webkit-transform .2s !important;
      transition: transform .2s !important;
      transition: transform .2s, -webkit-transform .2s !important;
  }
  
  .input-group>.form-control:not(:last-child) {
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
  }
  
  @media screen and (width: 320px) {
      .login_btn {
          border-radius: 20px;
          margin-left: 5px;
          padding: 2px;
          border-bottom-width: 3px;
          color: white;
          background-color: navy;
          width: 100px;
          transition: .5s;
      }
      .resendBtn {
          margin-left: 12px;
          margin-bottom: 10px;
          width: 130px;
          border: 1px solid #e6e6e6;
          border-bottom-width: 3px;
          display: initial;
          border-radius: 6px;
          padding: 2px 2px !important;
      }
  }