<form>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-user"></i></span>
    </div>
    <input type="text" class="form-control roundedinput" placeholder="Email">

  </div>

  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-key"></i></span>
    </div>
    <input type="password" class="form-control roundedinput" placeholder="Mobile">
  </div>

  <div class="row align-items-center remember">
    <input type="checkbox"><span>I Agree to Terms and Conditions</span>
  </div>
  <div class=" row form-group d-flex justify-content-center" style="">

    <input type="submit" value="Signup" class="btn float-right login_btn" style="width: 40%;">
  </div>
</form>
