.form-body {
  position: relative;
  margin-top: 0px;
  text-align: left;
  z-index: 1;
}

.form-body label,
.form-body input {
  display: block;
}

.form-body label {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-body .input-group:not(:nth-child(1)),
.form-body .input-group:not(:nth-child(2)) {
  margin-top: 15px;
}

.form-body .input-group:last-child {
  margin-bottom: 15px;
}

.form-body .input-group input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #bce0fd;
  width: 100%;
  height: 35px;
  padding: 5px;
}

.form-body input:focus {
  box-shadow: none;
  outline: none;
}

.form-body .button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-body .button-group .btn,
.form-body .button-group .btn:disabled {
  background-color: #130654;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  font-size: 14px;
  opacity: 1;
}

.form-body .rememberMeBox {
  text-align: left;
}

.form-body .rememberMeBox input,
.form-body .rememberMeBox label {
  display: inline-block;
}

.form-body .rememberMeBox input {
  height: 15px;
  width: 5px;
}

.form-body .rememberMeBox label {
  margin-left: 10px;
}

.invalid-feedback {
  color: #fff;
}
