.form-body {
  position: relative;
  margin-top: 0px;
  text-align: left;
  z-index: 1;
}

.form-body label,
.form-body input {
  display: block;
  font-size: 14px;
}

.form-body label {
  font-size: 15px;
  color: #808080;
  font-weight: 500;
  margin-bottom: 3px;
}

.form-body .input-group:not(:nth-child(1)),
.form-body .input-group:not(:nth-child(2)) {
  margin-top: 10px;
}

.form-body .input-group input {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border: none;
  border-bottom: 1px solid #808080;
  width: 100%;
  padding: 0px 5px;
  font-size: 14px;
}

.form-body input:focus {
  box-shadow: none;
  outline: none;
}

.form-body .button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form-body .button-group .btn,
.form-body .button-group .btn:disabled {
  background-color: #130654;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 15px;
  font-size: 14px;
  opacity: 1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.form-body .rememberMeBox {
  text-align: left;
}

.form-body .rememberMeBox input,
.form-body .rememberMeBox label {
  display: inline-block;
}

.form-body .rememberMeBox input {
  height: 15px;
  width: 5px;
}

.form-body .rememberMeBox label {
  margin-left: 10px;
}

.invalid-feedback {
  color: red;
}

.form-group.tnc input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group.tnc label {
  font-size: 13px !important;
}

.form-group.tnc label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group.tnc input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 20px;
  width: 3px;
  height: 8px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 600px) {
  .form-body .input-group {
    padding: 0px;
  }
}

.change-group {
  display: flex;
  justify-content: space-evenly;
}

.change-group .resendBtn button,
.change-group .resendBtn button:disabled {
  color: navy;
  border: none;
  background: rgba(221, 221, 221, 0.4);
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 4px;
}

.loading svg {
  animation: rotatingLoader 1.5s linear infinite;
  -webkit-animation: rotatingLoader 1.5s linear infinite;
}

@keyframes rotatingLoader {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.otp-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-top: 15px;
  margin: 0 auto;
}

.otp-box .box {
  width: 35px;
  height: 35px;
  padding: 0;
  margin-right: 15px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
