body {
    background-color: whitesmoke;
}


.bg {
   /* background-image: url('../../../assets/static/visa2fly_generic.jpg');*/
    height: 40vh;
    background-position: center;
        background-size: cover;
}


#box .container{
    padding: 20px 50px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

#box .heading{
    color: #333;
    font-size: 22px;

}

#box .info {
    font-size: 14px;
}
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    #box .container{
        padding: 50px 50px;
        margin-top: -140px;
        background-color: #fff;
        box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
    }
    
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    #box .container{
        padding: 50px 50px;
        background-color: #fff;
    }
    
    #box .heading{
        color: #333;
        font-size: 20px;
    }

    .info {
        font-size: 14px;
    }
      
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    #box .container{
        padding: 50px 20px;
        background-color: #fff;
    }

    
    #box .heading{
        color: #333;
        font-size: 24px;
    }

    
    .info {
        font-size: 14px;
    }
    
  }