<div class="static">
  <div class="bg" style="background-image: url('https://static.visa2fly.com/assets/generic.png');
    background-position: center;
        background-size: cover;"></div>
  <section id="box">
    <div class="container">
      <div class="main">
        <h1 class="heading">Terms And Conditions</h1>
        <p class="info bold-Info"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 286.614 286.614"
            style="enable-background:new 0 0 286.614 286.614;" xml:space="preserve" width="16px" height="16px">
            <g>
              <g>
                <path
                  d="M270.126,105.055H146.394l23.487-18.548c7.147-5.643,8.364-16.011,2.721-23.156c-5.643-7.146-16.012-8.365-23.156-2.721   c0,0-40.819,33.689-60.28,47.603c-13.14,9.395-25.402,20.959-25.402,38.096v39.537c0,24.077,19.588,43.666,43.665,43.666   c17.677,0,61.369,0,77.789,0c9.106,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h5.359   c9.105,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h3.71c9.105,0,16.487-7.382,16.487-16.487   c0-5.927-3.138-11.108-7.832-14.014h49.874c9.105,0,16.487-7.382,16.487-16.487S279.232,105.055,270.126,105.055z"
                  data-original="#000000" class="active-path" fill="#000080" />
                <path
                  d="M37.885,110.781H9.282c-5.126,0-9.282,4.156-9.282,9.282V220.25c0,5.126,4.156,9.282,9.282,9.282h28.603   c5.126,0,9.282-4.156,9.282-9.282V120.063C47.167,114.936,43.011,110.781,37.885,110.781z"
                  data-original="#000000" class="active-path" fill="#000080" />
              </g>
            </g>
          </svg> &nbsp; Agreement between User and Hashbug Tech Private Limited.
        </p>
        <p class="info bold-Info">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" viewBox="0 0 286.614 286.614" style="enable-background:new 0 0 286.614 286.614;"
            xml:space="preserve" width="16px" height="16px">
            <g>
              <g>
                <path
                  d="M270.126,105.055H146.394l23.487-18.548c7.147-5.643,8.364-16.011,2.721-23.156c-5.643-7.146-16.012-8.365-23.156-2.721   c0,0-40.819,33.689-60.28,47.603c-13.14,9.395-25.402,20.959-25.402,38.096v39.537c0,24.077,19.588,43.666,43.665,43.666   c17.677,0,61.369,0,77.789,0c9.106,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h5.359   c9.105,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h3.71c9.105,0,16.487-7.382,16.487-16.487   c0-5.927-3.138-11.108-7.832-14.014h49.874c9.105,0,16.487-7.382,16.487-16.487S279.232,105.055,270.126,105.055z"
                  data-original="#000000" class="active-path" fill="#000080" />
                <path
                  d="M37.885,110.781H9.282c-5.126,0-9.282,4.156-9.282,9.282V220.25c0,5.126,4.156,9.282,9.282,9.282h28.603   c5.126,0,9.282-4.156,9.282-9.282V120.063C47.167,114.936,43.011,110.781,37.885,110.781z"
                  data-original="#000000" class="active-path" fill="#000080" />
              </g>
            </g>
          </svg> &nbsp; www.visa2fly.com (hereinafter referred to as visa2fly or V2F) is a domain name operated by
          Hashbug Tech Private Limted.
        </p>
        <p class="info">
          This Web site is offered to you conditioned on your acceptance without modification of the terms, conditions,
          and notices contained herein. Your use of this Web site constitutes your agreement to all such terms,
          conditions, and notices which are subject
          to amendment without any notice. You agree to click on the links to and familiarize yourself with the Terms of
          Use and other terms and guidelines found throughout this Web site and abide by them if you choose to use the
          sites, pages
          or services to which they apply.
        </p>
        <p class="info bold-Info">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" viewBox="0 0 286.614 286.614" style="enable-background:new 0 0 286.614 286.614;"
            xml:space="preserve" width="16px" height="16px">
            <g>
              <g>
                <path
                  d="M270.126,105.055H146.394l23.487-18.548c7.147-5.643,8.364-16.011,2.721-23.156c-5.643-7.146-16.012-8.365-23.156-2.721   c0,0-40.819,33.689-60.28,47.603c-13.14,9.395-25.402,20.959-25.402,38.096v39.537c0,24.077,19.588,43.666,43.665,43.666   c17.677,0,61.369,0,77.789,0c9.106,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h5.359   c9.105,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h3.71c9.105,0,16.487-7.382,16.487-16.487   c0-5.927-3.138-11.108-7.832-14.014h49.874c9.105,0,16.487-7.382,16.487-16.487S279.232,105.055,270.126,105.055z"
                  data-original="#000000" class="active-path" fill="#000080" />
                <path
                  d="M37.885,110.781H9.282c-5.126,0-9.282,4.156-9.282,9.282V220.25c0,5.126,4.156,9.282,9.282,9.282h28.603   c5.126,0,9.282-4.156,9.282-9.282V120.063C47.167,114.936,43.011,110.781,37.885,110.781z"
                  data-original="#000000" class="active-path" fill="#000080" />
              </g>
            </g>
          </svg> &nbsp; Personal and non-commercial use limitation
        </p>
        <p class="info">
          This Web site is for your personal and non-commercial use. You will not modify, copy, distribute, transmit,
          display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any
          information, software, products or services
          obtained from this Web site.
        </p>
        <p class="info bold-Info">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" viewBox="0 0 286.614 286.614" style="enable-background:new 0 0 286.614 286.614;"
            xml:space="preserve" width="16px" height="16px">
            <g>
              <g>
                <path
                  d="M270.126,105.055H146.394l23.487-18.548c7.147-5.643,8.364-16.011,2.721-23.156c-5.643-7.146-16.012-8.365-23.156-2.721   c0,0-40.819,33.689-60.28,47.603c-13.14,9.395-25.402,20.959-25.402,38.096v39.537c0,24.077,19.588,43.666,43.665,43.666   c17.677,0,61.369,0,77.789,0c9.106,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h5.359   c9.105,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h3.71c9.105,0,16.487-7.382,16.487-16.487   c0-5.927-3.138-11.108-7.832-14.014h49.874c9.105,0,16.487-7.382,16.487-16.487S279.232,105.055,270.126,105.055z"
                  data-original="#000000" class="active-path" fill="#000080" />
                <path
                  d="M37.885,110.781H9.282c-5.126,0-9.282,4.156-9.282,9.282V220.25c0,5.126,4.156,9.282,9.282,9.282h28.603   c5.126,0,9.282-4.156,9.282-9.282V120.063C47.167,114.936,43.011,110.781,37.885,110.781z"
                  data-original="#000000" class="active-path" fill="#000080" />
              </g>
            </g>
          </svg> &nbsp;Links to third party sites
        </p>
        <p class="info">
          This Web site may contain links to websites operated by parties other than V2F. Such links are provided for
          your convenience only. V2F does not control such websites, and is not responsible for their contents under any
          circumstances. V2F’s inclusion of
          links to such web sites does not imply any endorsement of the material on such Web sites or any association
          with their operators.
        </p>
        <p class="info">
          Your correspondence or business dealings with or participation in activities such as but not limited to
          promotions found in or through such websites are solely between you and such parties. You agree that V2F shall
          not be responsible or liable for any
          loss or damage of any sort incurred as a result of any such dealings or as a result of the presence of such
          links on V2F website.
        </p>
        <p class="info bold-Info"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 286.614 286.614"
            style="enable-background:new 0 0 286.614 286.614;" xml:space="preserve" width="16px" height="16px">
            <g>
              <g>
                <path
                  d="M270.126,105.055H146.394l23.487-18.548c7.147-5.643,8.364-16.011,2.721-23.156c-5.643-7.146-16.012-8.365-23.156-2.721   c0,0-40.819,33.689-60.28,47.603c-13.14,9.395-25.402,20.959-25.402,38.096v39.537c0,24.077,19.588,43.666,43.665,43.666   c17.677,0,61.369,0,77.789,0c9.106,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h5.359   c9.105,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h3.71c9.105,0,16.487-7.382,16.487-16.487   c0-5.927-3.138-11.108-7.832-14.014h49.874c9.105,0,16.487-7.382,16.487-16.487S279.232,105.055,270.126,105.055z"
                  data-original="#000000" class="active-path" fill="#000080" />
                <path
                  d="M37.885,110.781H9.282c-5.126,0-9.282,4.156-9.282,9.282V220.25c0,5.126,4.156,9.282,9.282,9.282h28.603   c5.126,0,9.282-4.156,9.282-9.282V120.063C47.167,114.936,43.011,110.781,37.885,110.781z"
                  data-original="#000000" class="active-path" fill="#000080" />
              </g>
            </g>
          </svg> &nbsp;No Unlawful or Prohibited Use</p>
        <p class="info">
          As a condition of your use of this Web site, you warrant to V2F that you will not use this Web site for any
          purpose that is unlawful or prohibited by these terms, conditions, and notices.
        </p>
        <p class="info bold-Info">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" viewBox="0 0 286.614 286.614" style="enable-background:new 0 0 286.614 286.614;"
            xml:space="preserve" width="16px" height="16px">
            <g>
              <g>
                <path
                  d="M270.126,105.055H146.394l23.487-18.548c7.147-5.643,8.364-16.011,2.721-23.156c-5.643-7.146-16.012-8.365-23.156-2.721   c0,0-40.819,33.689-60.28,47.603c-13.14,9.395-25.402,20.959-25.402,38.096v39.537c0,24.077,19.588,43.666,43.665,43.666   c17.677,0,61.369,0,77.789,0c9.106,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h5.359   c9.105,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h3.71c9.105,0,16.487-7.382,16.487-16.487   c0-5.927-3.138-11.108-7.832-14.014h49.874c9.105,0,16.487-7.382,16.487-16.487S279.232,105.055,270.126,105.055z"
                  data-original="#000000" class="active-path" fill="#000080" />
                <path
                  d="M37.885,110.781H9.282c-5.126,0-9.282,4.156-9.282,9.282V220.25c0,5.126,4.156,9.282,9.282,9.282h28.603   c5.126,0,9.282-4.156,9.282-9.282V120.063C47.167,114.936,43.011,110.781,37.885,110.781z"
                  data-original="#000000" class="active-path" fill="#000080" />
              </g>
            </g>
          </svg> &nbsp; Online bookings
        </p>
        <p class="info">
          V2F has made this facility available to you as a value-added service. Using this service, you can make your
          online booking/booking request for booking various services offered by V2F. Your booking request will be
          processed for confirmation of prices and
          availability of services requested by you. Only on confirmation to you about the prices and availability, V2F
          will be bound to provide you the requested services subject however to you making full payment and complying
          with the relevant
          terms and conditions. Any correspondence with, you prior to V2F aforesaid confirmation, will not be treated as
          any acceptance of your request.
        </p>
        <p class="info">
          The online booking of the products and services made available through this website is subject to availability
          and solely at the discretion of V2F and/or its respective suppliers. Please ensure that all information given
          by you while booking is correct.
          For security reasons and to be able to advice you of any developments affecting your travel we need to be able
          to contact you by telephone and email and to have your correct address on record .If any or all of these
          contact details
          are not correctly given by you, we reserve the right to cancel the transaction at your risk and cost.
        </p>
        <p class="info">
          The right to access and transact on the web site is reserved as is the right to use any particular credit card
          or payment wallet on the site for payment purposes.
        </p>
        <p class="info bold-Info"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 286.614 286.614"
            style="enable-background:new 0 0 286.614 286.614;" xml:space="preserve" width="16px" height="16px">
            <g>
              <g>
                <path
                  d="M270.126,105.055H146.394l23.487-18.548c7.147-5.643,8.364-16.011,2.721-23.156c-5.643-7.146-16.012-8.365-23.156-2.721   c0,0-40.819,33.689-60.28,47.603c-13.14,9.395-25.402,20.959-25.402,38.096v39.537c0,24.077,19.588,43.666,43.665,43.666   c17.677,0,61.369,0,77.789,0c9.106,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h5.359   c9.105,0,16.487-7.382,16.487-16.487c0-5.927-3.138-11.108-7.833-14.014h3.71c9.105,0,16.487-7.382,16.487-16.487   c0-5.927-3.138-11.108-7.832-14.014h49.874c9.105,0,16.487-7.382,16.487-16.487S279.232,105.055,270.126,105.055z"
                  data-original="#000000" class="active-path" fill="#000080" />
                <path
                  d="M37.885,110.781H9.282c-5.126,0-9.282,4.156-9.282,9.282V220.25c0,5.126,4.156,9.282,9.282,9.282h28.603   c5.126,0,9.282-4.156,9.282-9.282V120.063C47.167,114.936,43.011,110.781,37.885,110.781z"
                  data-original="#000000" class="active-path" fill="#000080" />
              </g>
            </g>
          </svg> &nbsp;Disclaimer -</p>
        <p class="info">Liability Exemptions</p>
        <p class="info">
          V2F is only responsible for submitting the visa application on behalf of the applicant and cannot be held
          responsible for the result of the application. It must be noted that the grant or refusal of the visa is at
          the sole discretion of the Embassy of
          the respective Country and V2F is neither involved in the process nor is liable or responsible in any manner
          whatsoever for any delay in processing or grant or rejection of the visa application of any applicant by the
          Embassy, which
          reserves the right to ask for further documentation and to refuse the visa application.
        </p>
        <p class="info">
          The approval of the application is subject to the government of the country to which the visa is applied. V2F
          is not responsible for application results which are caused by inaccurate information or from a mistake made
          by the applicant.
        </p>
        <p class="info">
          V2F reserves the right to cancel an applicant’s registration and to delete their personal information if he or
          she: does not meet eligibility requirements and therefore is not considered suitable to complete the online or
          offline application; gives erroneous
          or fraudulent personal information or participates in any activity which is unlawful; disregards, changes,
          deletes or omits any part or section of the required procedure for registration.
        </p>
        <p class="info">
          V2F is not liable whatsoever if the applicant’s visa is rejected due to circumstances beyond our reasonable
          control. If the applicant’s visa application is denied by the Government of the country to which the visa is
          applied, he/she accepts that neither
          the government (through it’s embassy), nor V2F is required to provide a reason.
        </p>
        <p class="info">
          V2F will not be held responsible for any costs incurred due to a delay in the visa process due to
          circumstances outside of our control.
        </p>
        <p class="info">
          V2F bears no responsibility for costs incurred by an applicant or any secondary applicants while waiting for a
          visa to be finalised by the immigration authorities. These costs may include but are not limited to cost of
          flights, rent of accommodation,
          loss of earnings or any other costs. V2F is not liable for any costs arising from any action or inaction of
          any immigration authority, embassy or government body associated with the visa process or indeed for the
          non-provision of service
          from any third party associated with the visa process or visa delivery; which may result in a visa application
          or any part in the visa application process being delayed or refused as a result.
        </p>
        <p class="info">
          An embassy may decide to review an application in the destination country rather than at the local embassy.
          This decision is at the discretion of the embassy and it is not something that would be known in advance by
          V2F. It may take longer than the standard
          processing time for such applications to be processed and this is outside the control of V2F.
        </p>
        <p class="info">
          V2F will always lodge a visa application in the applicants’ best interest. We are a private company and we do
          not have authority to grant a visa of any kind. We cannot guarantee a positive result on a visa application or
          any assessment or review in arriving
          at the final result, which is part of the visa process. The final decision on all applications rests with the
          relevant organization responsible for issuing that result.
        </p>
        <p class="info">
          V2F cannot influence: any decision made by an immigration authority; any requests for additional information
          before finalising a visa; any delay by an immigration authority in the issuing of a visa; or a decision to
          refuse to grant a visa.
        </p>
        <p class="info">
          The immigration authority/officer has the sole decision on the term of a visa that they grant. This term may
          be less than the term expected or requested by the client. Similarly, the immigration authority / officer has
          the sole decision on the activation
          date that they place on a granted visa. This date may be prior to the date expected or requested by the
          client. V2F is not responsible for the term of any visa issued or the activation date placed on a visa by an
          immigration authority
          even. V2F has no authority or control to change this term/date.
        </p>
        <p class="info">
          V2F advises its clients on visa options and applies for visa applications on their behalf in good faith based
          on immigration information made available directly by immigration and embassy departments at the time of
          lodgement. In the event where immigration
          laws and/or regulations have been updated by an immigration department but such updates have not made known to
          the public at the time of visa lodgement such conflicting information is outside the control of V2F. V2F will
          not be liable
          for any visa application being refused or any additional costs arising from such a refusal (including travel
          costs) should situations of outdated information arise.
        </p>
        <p class="info">
          V2F will use and rely on information provided by the client in the provision of services to that client. V2F
          will not independently verify or assume responsibility for the accuracy or completeness of such information.
        </p>
        <p class="info">
          It is the client's responsibility to provide V2F with all required information and documentation concerning an
          application. This may include but is not limited to documentation from third parties such as partners, family,
          employers, sponsors, assessment
          bodies, educational bodies, etc. If the required documentation does not meet with the requirements of V2F, V2F
          retains the right not to lodge that visa application until it has received all of the required information in
          order to do
          so.
        </p>
        <p class="info">
          If an immigration authority has incorporated a deadline for the submission of documents to an application,
          these documents must be provided at the earliest possible time but no later than 48 hours prior to the
          deadline date.
        </p>
        <p class="info">
          V2F cannot be held responsible for any expense and/or delay arising from incomplete application forms,
          inaccurate/false or incomplete information provided or inaccurate/false or incomplete supporting
          documentation.
        </p>
        <p class="info">
          No refund is forthcoming of any fees paid to V2F where the visa application has been lodged to the Immigration
          Authorities regardless of the reason for withdrawal.
        </p>
      </div>
    </div>
  </section>
</div>
