<div class="site-wrapper">
    <div class="row">
      <div class="col">
        <h2>Destination Germany</h2>
        <p>

        </p>

        <h2>Covid-19 Travel Plans?</h2>
        <p>
          Annually, over 30 million international tourists would visit Germany. Due to COVID-19, travel
          and tourism took a major setback. Soon Germany will once again welcome international
          tourists and travellers to their country. Even after tourism resumes, everyone must ensure
          that all rules and regulations are respected and followed. Those entering the country must
          present a negative COVID-19 test result and for travellers from certain countries, a 14-day
          quarantine is mandatory. While travelling locally, if you are using Public transport, your
          mouth and nose must be covered at all times and you must keep a distance from other
          people. You also need to keep the contact details of your home country’s embassy or
          consulate in Germany for any required assistance.
        </p>
        <!-- <p>
          At the time of writing this section (Dec 2020) tourists must take two
          COVID 19 PCR tests; one prior to departure from their home country with
          a validity of 96 hours from the date of the test, and a second test upon
          arrival in Dubai. The certificate must be for a polymerase chain
          reaction (PCR) test. Other test certificates including antibody tests
          and home testing kits are not accepted in Dubai. Travellers must bring
          an official, printed certificate in English or Arabic to check in – SMS
          and digital certificates are not accepted.
        </p> -->

        <h2>Rustic Germany</h2>
        <p>
          Indian tourists, in particular, enjoy visiting the Schengen Area, which includes Germany too.
          German visas and Schengen visas are highly sought after by Indian tourists as this region is
          very rich in scenic tourism. The tourist season is usually from May through September. Not
          only is it a geographical gem, but the historic castle, cities and architecture also add to the
          scenic beauty. The Berlin Wall is probably the most popular tourist attraction in the capital
          city due to its historic significance. Another popular tourist attraction for Indian travellers is
          the city of Munich. Munich is known for its beautiful parks, museums, churches and palaces
          which showcase stunning medieval-Germany architecture. Oktoberfest is a festival which is
          celebrated for over 2 weeks all over the country. The festival is a beer festival and is
          celebrated every autumn!
        </p>

        <h2>What Germany offers:</h2>
        <p>
          Germany surely has a lot of things that tourists can do. You can visit Berlin’s Brandenburg
          Gate, Neuschwanstein Castle, Bamberg and the Island of Rugen. These places offer
          stunning views which you will never forget. Germany is full of many such similar wonders
          which you must visit. If you wish to visit spooky places, head on over to Spreepark (an
          abandoned park in Berlin) or visit the Rakotzbrucke Devil’s Bridge. You can also go on
          underground tours of Berlin or visit the Museum Island. The Burg Eltz castle is the most
          beautiful in Germany while Berchtesgaden National Park is home to serene lakes, calming
          forests and petit villages. If you wish to shop, you should visit Berlin, Hamburg or Stuttgart.
          These cities have many big shopping centres to cater to your desires!
        </p>

        <h2>Visa, Flights and Accommodation</h2>
        <p>
          Indian travellers do require a Germany Visa to visit Germany. You need to apply for a
          Germany Visa online, fill the Germany Visa application online and pay the required fees. You
          can apply for Germany tourist visas, Germany student visas and Germany business visas.
          You need to decide which is suitable for you and then fill the visa application and submit it.
          It’ll take a few days for your visa to be processed. The flight rates from India to Germany
          depend on many factors like the airline, the type of seats you choose, how early you book
          your tickets etc. Plan your trip well and book your tickets accordingly. Germany has many
          different accommodation options like hotels, hostels, Bed and Breakfasts and Airbnbs. You
          can choose whatever accommodation option that fits your requirements. It’s always a good
          idea to book your stay well in advance to avoid any last-minute hassles.
        </p>
      </div>
    </div>
  </div>
