section.testimonial {
  background-image: url("https://static.visa2fly.com/assets/testimonial_bg.png");
  background-size: contain;
  padding-top: 30px;
  padding-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

section.testimonial .testimonial_box {
  padding: 25px 30px;
  background-color: #F2F2F2;
  color: #000;
  height: 220px;
  width: 350px;
  margin: 0px 10px;
  font-size: 13px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 13%);
  transition: all .7s ease;
  transform: scale(1, .94);
  position: relative;
  opacity: .9;
  -webkit-transform: scale(1, .94);
  -moz-transform: scale(1, .94);
  -ms-transform: scale(1, .94);
  -o-transform: scale(1, .94);
  -webkit-transition: all .7s ease;
}

section.testimonial .testimonial_box .testimonial_icon_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

section.testimonial .testimonial_box .testimonial_icon_box .testimonial_star_box svg {
  height: 18px;
  width: 18px;
}

section.testimonial .testimonial_box .testimonial_icon_box .testimonial_star_box svg path {
  fill: #F0BF18;
}

section.testimonial .testimonial_box .testimonial_icon_box .testimonial_star_box .testimonial_star_count {
  margin-left: 10px;
  font-size: 15px;
}

section.testimonial .testimonial_box .testimonial_icon_box .testimonial_star_box .testimonial_star_count span {
  font-size: 10px;
}

section.testimonial .slick-center .testimonial_box {
  color: #fff;
  background-color: #00a3ff;
  transform: scale(1.4, 1.2);
  -webkit-transform: scale(1.4, 1.2);
  -moz-transform: scale(1.4, 1.2);
  -ms-transform: scale(1.4, 1.2);
  z-index: 4;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 30%);
  opacity: 1;
  border-radius: 4px;
  overflow: hidden;
  -o-transform: scale(1.4, 1.2);
}

section.testimonial .slick-center .testimonial_box>* {
  transform: scale(.85, 1.05);
  -webkit-transform: scale(.85, 1.05);
  -moz-transform: scale(.85, 1.05);
  -ms-transform: scale(.85, 1.05);
  -o-transform: scale(.85, 1.05);
}

section.testimonial h3.testimonial_heading {
  margin-bottom: 15px;
  font-weight: 600;
}

section.testimonial h3.testimonial_heading span {
  color: #1A096D;
  display: block;
}

section.testimonial p.testimonial_desc {
  font-size: 14px;
  width: 44%;
}

section.testimonial .testimonial_quote_box svg {
  height: 20px;
  width: 20px;
}

section.testimonial .testimonial_quote_box svg path {
  fill: currentColor;
}

section.testimonial .testimonial_review {
  margin-bottom: 15px;
}

section.testimonial .testimonial_author_box {
  text-align: center;
}

@media screen and (max-width: 600px) {

  section.testimonial .testimonial_container,
  section.testimonial .testimonial_slick_col {
    padding: 0px;
  }

  section.testimonial .testimonial_box {
    padding: 25px 20px;
    height: 240px;
    width: 260px;
  }

  section.testimonial .slick-center .testimonial_box {
    transform: scale(1.2, 1);
    -webkit-transform: scale(1.2, 1);
    -moz-transform: scale(1.2, 1);
    -ms-transform: scale(1.2, 1);
    -o-transform: scale(1.2, 1);
  }

  section.testimonial h3.testimonial_heading {
    font-size: 20px;
    text-align: center;
  }

  section.testimonial p.testimonial_desc {
    font-size: 14px;
    width: 100%;
    letter-spacing: .2px;
    text-align: center;
  }

}

@media screen and (max-width: 321px) {
  section.testimonial .testimonial_box {
    padding: 25px 20px;
    height: 250px;
    width: 250px;
  }
}
