<div class="container-fluid p-0">
  <div class="iconSection">
    <ngb-tabset #t="ngbTabset" (tabChange)="changePurpose($event)" class="tabset" type="pills"
      [justify]="desktopJustify" [orientation]="desktopOrientation">
      <ngb-tab id="Tourist" title="Tourist">

        <ng-template ngbTabContent>

          <div class="container-fluid wrapContainer" [@simpleFadeAnimation]="'in'">
            <!-- tourist -->
            <div class="row">
              <div class="col-12 text-center mgxTop">
                <h1 class="outerRequirement"><span class="requirementContainer text-uppercase">TOURIST
                    VISA REQUIREMENT FOR
                    Azerbaijan</span>
                </h1>
              </div>
            </div>

            <!-- desktopContainer -->
            <div class="desktopContainer accordion" id="touristAccodion">
              <div class="row mt-2">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#tourist1" aria-expanded="true" aria-controls="tourist1"
                        [class.showDiv]="selectedTourist === 1" (click)="setActiveTourist(1, 'setActiveTourist1')"
                        id="setActiveTourist1">
                        <div class="makeIconCntr">
                          <div class="vr-passport requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Passport</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="tourist1" class="collapse" [ngStyle]="{
                        'display': showTouristFirst ? 'block' : '',
                        'opacity': showTouristFirst ? '1' : '',
                        'visibility': showTouristFirst ? 'visible' : '',
                        'transition': showTouristFirst ? 'all .35s ease-in-out' : ''
                        }" aria-labelledby="heading1" data-parent="#touristAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Passport</h1>
                            <p>You must hold a passport valid for at least 3 months after your intended date of travel.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#tourist2" aria-expanded="false" aria-controls="tourist2"
                        [class.showDiv]="selectedTourist === 2" (click)="setActiveTourist(2, 'setActiveTourist2')"
                        id="setActiveTourist2">
                        <div class="makeIconCntr">
                          <div class="vr-photograph requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Photograph</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="tourist2" class="collapse" aria-labelledby="heading2" data-parent="#touristAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Photograph</h1>
                            <p>
                              A recent color passport-size photograph must be submitted. This must be taken on a white
                              or cream-colored background. A neutral expression must be maintained.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#tourist3" aria-expanded="false" aria-controls="tourist3"
                        [class.showDiv]="selectedTourist === 3" (click)="setActiveTourist(3, 'setActiveTourist3')"
                        id="setActiveTourist3">
                        <div class="makeIconCntr">
                          <div class="vr-flightTickets requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Flight Tickets</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="tourist3" class="collapse" aria-labelledby="heading3" data-parent="#touristAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Flight Tickets
                            </h1>
                            <p>
                              Confirmed round-trip tickets must be shown upon application of the visa. Please note, a
                              return ticket is mandatory.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#toursit4" aria-expanded="false" aria-controls="toursit4"
                        [class.showDiv]="selectedTourist === 4" (click)="setActiveTourist(4, 'setActiveTourist4')"
                        id="setActiveTourist4">
                        <div class="makeIconCntr">
                          <div class="vr-proofOfFunds requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Proof Of Sufficient Funds</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="toursit4" class="collapse" aria-labelledby="heading4" data-parent="#touristAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Proof Of Sufficient Funds</h1>
                            <p>
                              Sufficient funding is required to guarantee entry into Azerbaijan, and proof of the same
                              must be displayed (in the form of hard cash, or bank statements).
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                    </ng-template>
                    <ng-template ngbTabContent>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                    </ng-template>
                    <ng-template ngbTabContent>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>

            <!-- mobileContainer -->
            <div class="mobileContainer wrapContainer accordion" id="touristAccodionMobile">
              <div class="row">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#touristMobile1" aria-expanded="true"
                        aria-controls="touristMobile1" [class.showDiv]="selectedMobileTourist === 1"
                        (click)="setActiveTouristMobile(1, 'setActiveTouristMobile1')" id="setActiveTouristMobile1">
                        <div class="makeIconCntr">
                          <div class="vr-passport requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Passport</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="touristMobile1" class="collapse" [ngStyle]="{
                        'display': showTouristMobileFirst ? 'block' : '',
                        'opacity': showTouristMobileFirst ? '1' : '',
                        'visibility': showTouristMobileFirst ? 'visible' : '',
                        'transition': showTouristMobileFirst ? 'all .35s ease-in-out' : ''
                        }" aria-labelledby="headingMobile1"
                        data-parent="#touristAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Passport</h1>
                            <p>You must hold a passport valid for at least
                              3 months after your intended date of travel.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#touristMobile2" aria-expanded="true"
                        aria-controls="touristMobile2" [class.showDiv]="selectedMobileTourist === 2"
                        (click)="setActiveTouristMobile(2, 'setActiveTouristMobile2')" id="setActiveTouristMobile2">
                        <div class="makeIconCntr">
                          <div class="vr-photograph requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Photograph</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="touristMobile2" class="collapse" aria-labelledby="headingMobile2"
                        data-parent="#touristAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Photograph</h1>
                            <p>
                              A recent color passport-size photograph must be
                              submitted. This must be taken on a white or
                              cream-colored background. A neutral expression
                              must be maintained.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#touristMobile3" aria-expanded="true"
                        aria-controls="touristMobile3" [class.showDiv]="selectedMobileTourist === 3"
                        (click)="setActiveTouristMobile(3, 'setActiveTouristMobile3')" id="setActiveTouristMobile3">
                        <div class="makeIconCntr">
                          <div class="vr-flightTickets requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Flight Tickets</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="touristMobile3" class="collapse" aria-labelledby="headingMobile3"
                        data-parent="#touristAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Flight Tickets
                            </h1>
                            <p>
                              Confirmed round-trip tickets must be shown upon
                              application of the visa. Please note, a return
                              ticket is mandatory.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>


                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#touristMobileFour" aria-expanded="true"
                        aria-controls="touristMobileFour" [class.showDiv]="selectedMobileTourist === 4"
                        (click)="setActiveTouristMobile(4, 'setActiveTouristMobile')" id="setActiveTouristMobile">
                        <div class="makeIconCntr">
                          <div class="vr-proofOfFunds requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Proof Of Sufficient Funds</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="touristMobileFour" class="collapse" aria-labelledby="headingMobileFour"
                        data-parent="#touristAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Proof Of Sufficient Funds</h1>
                            <p>Sufficient funding is required to guarantee
                              entry into Azerbaijan, and proof of the same must
                              be displayed (in the form of hard cash, or
                              bank statements).
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#touristMobileFour" aria-expanded="true"
                        aria-controls="touristMobileFour" [class.showDiv]="selectedMobileTourist === 4"
                        (click)="setActiveTouristMobile(4, 'setActiveTouristMobile')" id="setActiveTouristMobile">
                        <div class="makeIconCntr">
                          <div class="vr-proofOfFunds requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Proof Of Sufficient Funds</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="touristMobileFour" class="collapse" aria-labelledby="headingMobileFour"
                        data-parent="#touristAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Proof Of Sufficient Funds</h1>
                            <p>Sufficient funding is required to guarantee
                              entry into Azerbaijan, and proof of the same must
                              be displayed (in the form of hard cash, or
                              bank statements).
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>

          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="Business" title="Business">
        <ng-template ngbTabContent>

          <div class="container-fluid wrapContainer" [@simpleFadeAnimation]="'in'">
            <!-- business -->
            <div class="row">
              <div class="col-12 text-center mgxTop">
                <h1 class="outerRequirement"><span class="requirementContainer text-uppercase">BUSINESS
                    VISA REQUIREMENT FOR
                    Azerbaijan</span>
                </h1>
              </div>
            </div>

            <div class="desktopContainer accordion" id="businessAccodion">
              <div class="row mt-2">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" id="#businessHeading1" data-target="#business1" aria-expanded="true"
                        aria-controls="business1" [class.showDiv]="selectedBusiness === 1"
                        (click)="setActiveBusiness(1, 'setActiveBusiness1')" id="setActiveBusiness1">
                        <div class="makeIconCntr">
                          <div class="vr-passport requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Passport</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="business1" class="collapse" [ngStyle]="{
                        'display': showBusinessFirst ? 'block' : '',
                        'opacity': showBusinessFirst ? '1' : '',
                        'visibility': showBusinessFirst ? 'visible' : '',
                        'transition': showBusinessFirst ? 'all .35s ease-in-out' : ''
                        }" aria-labelledby="businessHeading1"
                        data-parent="#businessAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Passport</h1>
                            <p>You must hold a passport valid for at least 3 months after your intended date of travel.
                            </p>

                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div class="collapsed" id="#businessHeading2" data-toggle="collapse" data-target="#business2"
                        aria-expanded="false" aria-controls="business2" [class.showDiv]="selectedBusiness === 2"
                        (click)="setActiveBusiness(2, 'setActiveBusiness2')" id="setActiveBusiness2">
                        <div class="makeIconCntr">
                          <div class="vr-photograph requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Photograph</h2>
                      </div>

                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="business2" class="collapse" aria-labelledby="businessHeading2"
                        data-parent="#businessAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Photograph</h1>
                            <p>
                              A recent color passport-size photograph must
                              be submitted along with your Azerbaijan e-visa
                              application. This must be taken on a white or
                              cream-colored background. A neutral expression
                              must be maintained.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div class="collapsed" id="#businessHeading3" data-toggle="collapse" data-target="#business3"
                        aria-expanded="false" aria-controls="business3" [class.showDiv]="selectedBusiness === 3"
                        (click)="setActiveBusiness(3, 'setActiveBusiness3')" id="setActiveBusiness3">
                        <div class="makeIconCntr">
                          <div class="vr-flightTickets requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Flight Tickets</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="business3" class="collapse" aria-labelledby="businessHeading3"
                        data-parent="#businessAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Flight Tickets
                            </h1>
                            <p>
                              Confirmed round-trip tickets must be shown upon
                              application of the visa. Please note, a return
                              ticket is mandatory when you apply
                              Azerbaijan e-visa online.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div class="collapsed" id="#businessHeading4" data-toggle="collapse" data-target="#business4"
                        aria-expanded="false" aria-controls="business4" [class.showDiv]="selectedBusiness === 4"
                        (click)="setActiveBusiness(4, 'setActiveBusiness4')" id="setActiveBusiness4">
                        <div class="makeIconCntr">
                          <div class="vr-proofOfFunds requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Proof Of Sufficient Funds</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="business4" class="collapse" aria-labelledby="businessHeading4"
                        data-parent="#businessAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Proof Of Sufficient Funds</h1>
                            <p>
                              Sufficient funding is required to guarantee
                              entry into Azerbaijan, and proof of the same
                              must be displayed (in the form of hard cash,
                              or bank statements).
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#business5" aria-expanded="true"
                        aria-controls="business5" [class.showDiv]="selectedBusiness === 5"
                        (click)="setActiveBusiness(5, 'setActiveBusiness5')" id="setActiveBusiness5">
                        <div class="makeIconCntr">
                          <div class="vr-invitationLetter requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Invitation Letter</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="business5" class="collapse" aria-labelledby="business5" data-parent="#businessAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Invitation Letter
                            </h1>
                            <p>
                              An invitation letter, either by the host company in
                              Azerbaijan or the sponsoring company in your
                              current county, must be shown. It should contain
                              the name and passport details of the traveler, as
                              well as the official sign/stamp of the company. It
                              must be addressed to the respective authorities of
                              the Republic of Azerbaijan.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                    </ng-template>
                    <ng-template ngbTabContent>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>

            <!-- mobileContainer -->
            <div class="mobileContainer wrapContainer accordion" id="businessAccodionMobile">
              <div class="row">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#businessMobile1" aria-expanded="true"
                        aria-controls="businessMobile1" [class.showDiv]="selectedMobileBusiness === 1"
                        (click)="setActiveBusinessMobile(1, 'setActiveBusinessMobile1')" id="setActiveBusinessMobile1">
                        <div class="makeIconCntr">
                          <div class="vr-passport requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Passport</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="businessMobile1" class="collapse" [ngStyle]="{
                        'display': showBusinessMobileFirst ? 'block' : '',
                        'opacity': showBusinessMobileFirst ? '1' : '',
                        'visibility': showBusinessMobileFirst ? 'visible' : '',
                        'transition': showBusinessMobileFirst ? 'all .35s ease-in-out' : ''
                        }" aria-labelledby="headingMobile1"
                        data-parent="#businessAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Passport</h1>
                            <p>You must hold a passport valid for at least 3
                              months after your intended date of travel.
                            </p>

                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#businessMobile2" aria-expanded="true"
                        aria-controls="businessMobile2" [class.showDiv]="selectedMobileBusiness === 2"
                        (click)="setActiveBusinessMobile(2, 'setActiveBusinessMobile2')" id="setActiveBusinessMobile2">
                        <div class="makeIconCntr">
                          <div class="vr-photograph requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Photograph</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="businessMobile2" class="collapse" aria-labelledby="headingMobile2"
                        data-parent="#businessAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Photograph</h1>
                            <p>
                              A recent color passport-size photograph must
                              be submitted along with your Azerbaijan e-visa
                              application. This must be taken on a white or
                              cream-colored background. A neutral expression
                              must be maintained.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#businessMobile3" aria-expanded="true"
                        aria-controls="businessMobile3" [class.showDiv]="selectedMobileBusiness === 3"
                        (click)="setActiveBusinessMobile(3, 'setActiveBusinessMobile3')" id="setActiveBusinessMobile3">
                        <div class="makeIconCntr">
                          <div class="vr-flightTickets requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Flight Ticket</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="businessMobile3" class="collapse" aria-labelledby="headingMobile3"
                        data-parent="#businessAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Flight Ticket
                            </h1>
                            <p>
                              Confirmed round-trip tickets must be shown
                              upon application of the visa. Please note, a
                              return ticket is mandatory when you apply
                              Azerbaijan e-visa online.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#businessMobile4" aria-expanded="true"
                        aria-controls="businessMobile4" [class.showDiv]="selectedMobileBusiness === 4"
                        (click)="setActiveBusinessMobile(4, 'setActiveBusinessMobile4')" id="setActiveBusinessMobile4">
                        <div class="makeIconCntr">
                          <div class="vr-proofOfFunds requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Proof Of Sufficient Funds</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="businessMobile4" class="collapse" aria-labelledby="headingMobile4"
                        data-parent="#businessAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Proof Of Sufficient Funds</h1>
                            <p>
                              Sufficient funding is required to guarantee entry
                              into Azerbaijan, and proof of the same must be
                              displayed (in the form of hard cash, or bank statements).
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#businessMobile5" aria-expanded="true"
                        aria-controls="businessMobile5" [class.showDiv]="selectedMobileBusiness === 5"
                        (click)="setActiveBusinessMobile(5, 'setActiveBusinessMobile5')" id="setActiveBusinessMobile5">
                        <div class="makeIconCntr">
                          <div class="vr-invitationLetter requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Invitation Letter</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="businessMobile5" class="collapse" aria-labelledby="headingMobile5"
                        data-parent="#businessAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Invitation Letter
                            </h1>
                            <p>
                              An invitation letter, either by the host company
                              in Azerbaijan or the sponsoring company in your
                              current county, must be shown. It should contain
                              the name and passport details of the traveler, as
                              well as the official sign/stamp of the company.
                              It must be addressed to the respective authorities
                              of the Republic of Azerbaijan.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="Transit" title="Transit">
        <ng-template ngbTabContent>

          <div class="container-fluid wrapContainer" [@simpleFadeAnimation]="'in'">
            <!-- transit -->
            <div class="row">
              <div class="col-12 text-center mgxTop">
                <h1 class="outerRequirement"><span class="requirementContainer text-uppercase">TRANSIT
                    VISA REQUIREMENT FOR
                    Azerbaijan</span>
                </h1>
              </div>
            </div>

            <div class="desktopContainer accordion" id="transitAccodion">
              <div class="row mt-2">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#transit1" aria-expanded="true" aria-controls="transit1"
                        [class.showDiv]="selectedTransit === 1" (click)="setActiveTransit(1, 'setActiveTransit1')"
                        id="setActiveTransit1">
                        <div class="makeIconCntr">
                          <div class="vr-passport requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Passport</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="transit1" class="collapse" [ngStyle]="{
                        'display': showTransitFirst ? 'block' : '',
                        'opacity': showTransitFirst ? '1' : '',
                        'visibility': showTransitFirst ? 'visible' : '',
                        'transition': showTransitFirst ? 'all .35s ease-in-out' : ''
                        }" aria-labelledby="transit1" data-parent="#transitAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Passport</h1>
                            <p>You must hold a passport valid for at least 3 months after your intended date of travel.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#transit2" aria-expanded="true" aria-controls="transit2"
                        [class.showDiv]="selectedTransit === 2" (click)="setActiveTransit(2, 'setActiveTransit2')"
                        id="setActiveTransit2">
                        <div class="makeIconCntr">
                          <div class="vr-flightTickets requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Flight Ticket</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="transit2" class="collapse" aria-labelledby="transit2" data-parent="#transitAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Flight Ticket</h1>
                            <p>
                              Confirmed round-trip tickets must be shown upon application of the visa. Please note, a
                              return ticket is mandatory.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#transit3" aria-expanded="true" aria-controls="transit3"
                        [class.showDiv]="selectedTransit === 3" (click)="setActiveTransit(3, 'setActiveTransit3')"
                        id="setActiveTransit3">
                        <div class="makeIconCntr">
                          <div class="vr-photograph requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Photograph</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="transit3" class="collapse" aria-labelledby="transit3" data-parent="#transitAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Photograph</h1>
                            <p>A recent color passport-size photograph must
                              be submitted. This must be taken on a white or
                              cream-colored background. A neutral expression
                              must be maintained.</p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#transit4" aria-expanded="true" aria-controls="transit4"
                        [class.showDiv]="selectedTransit === 4" (click)="setActiveTransit(4, 'setActiveTransit4')"
                        id="setActiveTransit4">
                        <div class="makeIconCntr">
                          <div class="vr-businessForm requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Application Form</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="transit4" class="collapse" aria-labelledby="transit4" data-parent="#transitAccodion">
                        <div class="card requiredIcon">
                          <div class="card-body">
                            <h1 class="requiredIconHeading">Application Form</h1>
                            <p>
                              Since the application for the visa is manual, it
                              is required to fill out the application form
                              fully, with all particulars correct and matching
                              your travel document (passport).
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                    </ng-template>
                    <ng-template ngbTabContent>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                    </ng-template>
                    <ng-template ngbTabContent>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>

            <div class="mobileContainer wrapContainer accordion" id="transitAccodionMobile">
              <div class="row">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#transitMobile1" aria-expanded="true"
                        aria-controls="transitMobile1" [class.showDiv]="selectedMobileTransit === 1"
                        (click)="setActiveTransitMobile(1, 'setActiveTransitMobile1')" id="setActiveTransitMobile1">
                        <div class="makeIconCntr">
                          <div class="vr-passport requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Passport</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="transitMobile1" class="collapse" [ngStyle]="{
                        'display': showTransitMobileFirst ? 'block' : '',
                        'opacity': showTransitMobileFirst ? '1' : '',
                        'visibility': showTransitMobileFirst ? 'visible' : '',
                        'transition': showTransitMobileFirst ? 'all .35s ease-in-out' : ''
                        }" aria-labelledby="transitMobile1"
                        data-parent="#transitAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Passport</h1>
                            <p>You must hold a passport valid for at least 3 months after your intended date of travel.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#transitMobile2" aria-expanded="true"
                        aria-controls="transitMobile2" [class.showDiv]="selectedMobileTransit === 2"
                        (click)="setActiveTransitMobile(2, 'setActiveTransitMobile2')" id="setActiveTransitMobile2">
                        <div class="makeIconCntr">
                          <div class="vr-flightTickets requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Flight Ticket</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="transitMobile2" class="collapse" aria-labelledby="transitMobile2"
                        data-parent="#transitAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Flight Ticket</h1>
                            <p>
                              Confirmed round-trip tickets must be shown upon application of the visa. Please note, a
                              return ticket is mandatory.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#transitMobile3" aria-expanded="true"
                        aria-controls="transitMobile3" [class.showDiv]="selectedMobileTransit === 3"
                        (click)="setActiveTransitMobile(3, 'setActiveTransitMobile3')" id="setActiveTransitMobile3">
                        <div class="makeIconCntr">
                          <div class="vr-photograph requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Photograph</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="transitMobile3" class="collapse" aria-labelledby="transitMobile3"
                        data-parent="#transitAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Photograph</h1>
                            <p>A recent color passport-size photograph must
                              be submitted. This must be taken on a white or
                              cream-colored background. A neutral expression
                              must be maintained.</p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>

              <div class="row mt-4">
                <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                  type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <div data-toggle="collapse" data-target="#transitMobile4" aria-expanded="true"
                        aria-controls="transitMobile4" [class.showDiv]="selectedMobileTransit === 4"
                        (click)="setActiveTransitMobile(4, 'setActiveTransitMobile4')" id="setActiveTransitMobile4">
                        <div class="makeIconCntr">
                          <div class="vr-businessForm requiredIcons img-sprite"></div>
                        </div>
                        <h2 class="setFontSize">Application Form</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbTabContent>
                      <div id="transitMobile4" class="collapse" aria-labelledby="transitMobile4"
                        data-parent="#transitAccodionMobile">
                        <div class="card requiredIcon">
                          <div class="card-body" style="padding: 10px">
                            <h1 class="requiredIconHeading">Application Form</h1>
                            <p>
                              Since the application for the visa is manual, it is
                              required to fill out the application form fully,
                              with all particulars correct and matching your
                              travel document (passport).
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
