<div  id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-top: auto;" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" class="bigCarouselImage" src="http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg" alt="First slide" width="100%" height="500px" >
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" class="bigCarouselImage"  src="http://wowslider.com/sliders/demo-93/data1/images/landscape.jpg" alt="Second slide">
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" class="bigCarouselImage"  src="http://res.cloudinary.com/simpleview/image/upload/v1497480003/clients/lasvegas/strip_b86ddbea-3add-4995-b449-ac85d700b027.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" class="bigCarouselImage"  src="https://www.abercrombiekent.com/-/media/ak/media-for-prod/destinations/mastheads/australia-sydney-harbour-panorama.jpg?h=500&w=1224&la=en&hash=2E00321AC456292843788C693A158B313FD2DF80" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" class="bigCarouselImage"  src="http://static.asiawebdirect.com/m/phuket/portals/www-singapore-com/homepage/pagePropertiesImage/singapore.jpg.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon carouselprevious" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon carouselnext" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div >
