.carouselnext {
  margin-left: 50px;
}
.carouselprevious {
  margin-right: 50px;
}

.carousel-caption{
  display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    position: absolute;
    /* margin-left: -150px; */
}

.carousel-caption h5{
  color: #fff;
  font-size: 30px;
}


@media (min-width:1400px) and (max-width:1900px) {
  .bigCarouselImage{
    width: 100%;
    height: 480px;
}
}
/* @media (min-width: 1281px) {

    .bigCarouselImage{
        width: 100%;
        height: 400px;
    }
  } */
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .bigCarouselImage{
        width: 100%;
        height: 400px;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .bigCarouselImage{
        width: 100%;
        height: 350px;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .bigCarouselImage{
        width: 100%;
        height: 300px;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .bigCarouselImage{
        width: 100%;
        height: 250px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .bigCarouselImage{
        width: 100%;
        height: 250px;
    }
    
  }