<div id="carouselExampleSlidesOnly" data-interval="1000" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 bigCarouselImage" src="../../../assets/carousel/luca-bravo-TaCk3NspYe0-unsplash.png" alt="First slide">
      <div class="carousel-caption">
        <h2>New York</h2>
        <h5>United State</h5>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100 bigCarouselImage" src="../../../assets/carousel/dubai.jpg" alt="First slide">
      <div class="carousel-caption">
        <h2>Dubai</h2>
        <h5>United Arab Emirates</h5>
      </div>
    </div>
    
    <div class="carousel-item">
      <img class="d-block w-100 bigCarouselImage" src="../../../assets/carousel/qaNcz43MeY8_Full-min.jpg" alt="Fifth slide">
      <div class="carousel-caption">
        <h2>Sydney</h2>
        <h5>Australia</h5>
      </div>
    </div>
  </div>
</div>
