.bigCarouselImage {
  width: 100%;
  height: 480px !important;
}

.carousel-item::before {
  content: "";
  background: linear-gradient(to top, rgba(0, 45, 75, 0), rgba(0, 0, 0, 0.4));
}

.carousel-caption {
  position: absolute;
  top: 20%;
  right: -60%;
  color: #fff;
}

.carousel-caption h2 {
  font-size: 24px;
}

.carousel-caption h5 {
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 1281px) {
  .bigCarouselImage {
    width: 100%;
    height: 480px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .bigCarouselImage {
    width: 100%;
    height: 480px !important;
  }

  .carousel-caption {
    position: absolute;
    top: 20%;
    right: -60%;
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bigCarouselImage {
    width: 100%;
    height: 400px !important;
  }

  .carousel-caption {
    position: absolute;
    top: 20%;
    right: -52%;
    color: #fff;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .bigCarouselImage {
    width: 100%;
    height: 300px !important;
  }

  .carousel-caption {
    position: absolute;
    top: 20%;
    right: -52%;
    color: #fff;
  }

  .carousel-caption h2 {
    font-size: 20px;
  }

  .carousel-caption h5 {
    font-size: 14px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .bigCarouselImage {
    width: 100%;
    height: 225px !important;
  }

  .carousel-caption {
    position: absolute;
    top: 20%;
    right: -45%;
    color: #fff;
  }

  .carousel-caption h2 {
    font-size: 18px;
  }

  .carousel-caption h5 {
    font-size: 14px;
  }

  .carousel-caption {
    position: absolute;
    top: 20%;
    right: -50%;
    color: #fff;
  }
}

@media screen and (max-width: 320px) {
  .bigCarouselImage {
    width: 100%;
    height: 190px !important;
  }

  .carousel-caption h2 {
    font-size: 16px;
  }

  .carousel-caption h5 {
    font-size: 13px;
  }

  .carousel-caption {
    position: absolute;
    top: 20%;
    right: -40%;
    color: #fff;
  }
}
