<div class="imageContainer desktopView">
  <div class="row">
    <div class="col-12 text-right">
      <p class="breadcrum">
        <span>
          <a [routerLink]="['/visa']">Home</a>&nbsp;/&nbsp;<b>{{ selectedCountrytype }} Visa
            Details</b>
        </span>
      </p>
    </div>
  </div>

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-12">
        <div class="country-img__box">
          <img data-src="https://static.visa2fly.com/flag/{{selectedCountrytype}}.png"
            alt="{{selectedCountrytype}} flag image" class="img-fluid countryFlag rounded lazyload">

          <div class="country-info">
            <h2 class="country-heading">{{selectedCountrytype}}</h2>
            <p class="country-desc">Zambia is a landlocked country in southern Africa. The country is at one with the earth, which can be seen in their Valley of the Leopard, Victoria Falls and numerous nature reserves and parks. Their indigenous people, called Zambezi, are equally entrancing: to spend a day in their midst is worthwhile if you are travelling this far.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-5">
        <div class="changingPurpose">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4 setPadding">
              Visa Type :
            </div>
            <div class="col-lg-9 col-md-6 col-8">
              <form [formGroup]="purposeChooseForm">
                <div class="select-box">
                  <div class="select-box__current" tabindex="1" (change)="purposeChanged()">
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="Tourist" value="Tourist" name="purposeSelected"
                        formControlName="purposeSelected" checked="checked" />
                      <p class="select-box__input-text">Tourist</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="Business" value="Business"
                        name="purposeSelected" formControlName="purposeSelected" checked="checked" />
                      <p class="select-box__input-text">Business</p>
                    </div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px" height="15px" width="15px" class="select-box__icon" viewBox="0 0 1000 1000"
                      enable-background="new 0 0 1000 1000" xml:space="preserve">
                      <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                      <g>
                        <path d="M500,775.4L10,287.2l64.4-62.6L500,650.2l425.6-425.6l64.4,62.6L500,775.4z" />
                      </g>
                    </svg>
                  </div>
                  <ul class="select-box__list">
                    <li>
                      <label class="select-box__option" style="margin-bottom: 0px;" for="Tourist"
                        aria-hidden="aria-hidden">Tourist</label>
                    </li>
                    <li>
                      <label class="select-box__option" style="margin-bottom: 0px;" for="Business"
                        aria-hidden="aria-hidden">Business</label>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="imageContainer mobileView">
  <div class="row">
    <div class="col-12 text-right p-0">
      <p class="breadcrum">
        <span>
          <a [routerLink]="['/visa']">Home</a>&nbsp;/&nbsp;<b>{{ selectedCountrytype }} Visa
            Details</b>
        </span>
      </p>
    </div>
  </div>

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-12">
        <div class="country-img__box">
          <img data-src="https://static.visa2fly.com/flag/{{selectedCountrytype}}.png"
            alt="{{selectedCountrytype}} flag image" class="img-fluid countryFlag rounded lazyload">

          <div class="country-info">
            <h2 class="country-heading">{{selectedCountrytype}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-5">
        <div class="changingPurpose">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4 setPadding" style="display: flex; align-items: center;">
              Visa Type :
            </div>
            <div class="col-lg-9 col-md-6 col-8">
              <form [formGroup]="purposeChooseForm">
                <div class="select-box">
                  <div class="select-box__current" tabindex="1" (change)="purposeChanged()">
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="Tourist" value="Tourist" name="purposeSelected"
                        formControlName="purposeSelected" checked="checked" />
                      <p class="select-box__input-text">Tourist</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="Business" value="Business"
                        name="purposeSelected" formControlName="purposeSelected" checked="checked" />
                      <p class="select-box__input-text">Business</p>
                    </div>
                    <!-- <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="Transit" value="Transit"
                        name="purposeSelected" formControlName="purposeSelected" checked="checked" />
                      <p class="select-box__input-text">Transit</p>
                    </div> -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px" height="15px" width="15px" class="select-box__icon" viewBox="0 0 1000 1000"
                      enable-background="new 0 0 1000 1000" xml:space="preserve">
                      <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                      <g>
                        <path d="M500,775.4L10,287.2l64.4-62.6L500,650.2l425.6-425.6l64.4,62.6L500,775.4z" />
                      </g>
                    </svg>
                  </div>
                  <ul class="select-box__list">
                    <li>
                      <label class="select-box__option" style="margin-bottom: 0px;" for="Tourist"
                        aria-hidden="aria-hidden">Tourist</label>
                    </li>
                    <li>
                      <label class="select-box__option" style="margin-bottom: 0px;" for="Business"
                        aria-hidden="aria-hidden">Business</label>
                    </li>
                    <!-- <li>
                      <label class="select-box__option" style="margin-bottom: 0px;" for="Transit"
                        aria-hidden="aria-hidden">Transit</label>
                    </li> -->
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4 mobileView">
  <div class="row">
    <div class="col-12">
      <p class="country-desc">Zambia is a landlocked country in southern Africa. The country is at one with the earth, which can be seen in their Valley of the Leopard, Victoria Falls and numerous nature reserves and parks. Their indigenous people, called Zambezi, are equally entrancing: to spend a day in their midst is worthwhile if you are travelling this far.</p>
    </div>
  </div>
</div>

<div class="container-fluid wrapContainer mt-2" style="overflow: hidden;">
  <div class="row">
    <app-quotation-zambia class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3" *ngFor="let quotation of MyQuotation1"
      [quotation]="quotation">
    </app-quotation-zambia>
  </div>
</div>

<app-offline-process-steps [country]="selectedCountrytype" *ngIf="!onlinestatus"></app-offline-process-steps>
<app-online-process-steps [country]="selectedCountrytype" *ngIf="onlinestatus"></app-online-process-steps>

<app-requirements-zambia (changedPurpose)="navigateTo($event)" [selectedBusiness]="selectedBusiness"
  [selectedTransit]="selectedTransit" [selectedTourist]="selectedTourist"
  [selectedMobileTourist]="selectedMobileTourist" [selectedMobileBusiness]="selectedMobileBusiness"
      [selectedMobileTransit]="selectedMobileTransit" [selectedVisaType]="selectedVisaType" [selectedPurpose]="selectedPurpose">
</app-requirements-zambia>

<app-important-points-zambia></app-important-points-zambia>

<app-faq></app-faq>

<div class="container-fluid wrapContainer linkAddress">
  <div class="row">
    <app-country-address></app-country-address>
  </div>
</div>
