<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input
        class="form-control addTravelDate"
        placeholder="Passport Expiry Date"
        name="dp"
        [(ngModel)]="model"
        ngbDatepicker
        #dp="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="dp.toggle()"
          type="button"
        >
          <i class="fas fa-calendar-alt"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<!-- <div class="mat-app-background basic-container">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div> -->
