input {
  border-color: #9c9c9c;
  font-size: 14px;
}

.btn {
  padding: 2px 10px !important;
}

@media (min-width: 1281px) {

  input {
    border-color: #A9A9A9;
    font-size: 14px;
  }
  
    .addTravelDate{
        flex: none !important;
        width: 12rem !important;
    }

    .btn {
      padding: 2px 10px !important;
    }
  }

@media (min-width: 1025px) and (max-width: 1280px) {
  .addTravelDate{
      flex: none !important;
      width: 9rem !important;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  
   
    .addTravelDate {
        max-width: 7rem !important;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
  
    
    .addTravelDate {
        max-width: 6rem !important;
    }
  }
  
  