<div class="site-wrapper">
  <div class="row">
    <div class="col">
      <h2>Services We Offer!</h2>
      <p>
        We at Visa2Fly aim to be your go-to online visa service provider along
        with offering other services like travel insurances and SIM card
        services. You can apply for e-visas for Dubai, Srilanka, Malaysia,
        Thailand, Cambodia, Vietnam and many more countries in a few clicks
        sitting at home!
      </p>
      <p>
        Indian tourists travelling to international destinations has
        consistently increased each year by a whopping 30%. To ensure a
        hassle-free visa process, Visa2Fly offers a fast and reliable online
        visa processing service that you can access right from your home! The
        process is simple and we ensure safety, professionalism, and
        confidentiality in our processes. Once you apply for an online visa
        application, we will come to your doorstep and assist you with your
        online visa application and documents.Once your visa is approved, it
        will be delivered right to your doorstep!
      </p>
      <p>
        You can opt for a contactless e-visa process where you can simply upload
        the required documents on our website and get your e-visa on your
        registered email. It also ensures your safety during these tough times.
        Our other services have been adjusted according to the COVID-19
        regulations to guarantee minimal contact and safety. You can also get
        the latest update on the COVID-19 norms and travel guidelines for each
        country.
      </p>
      <p>
        That’s not all! You will be pleased to note that we don’t just offer
        tourist visa services; here at Visa2fly, we help you with your business
        visas and transit visas as well! We can make your visa obtaining process
        simple even for countries that are notorious for rejecting Indian
        applicants as we know exactly how to avoid these obstacles and assist in
        complete documentation. Our online services to top international
        destinations include Tourist visa, Transit visa and Business visas.
      </p>
      <p>
        You can easily apply international visa to many countries. Whether you
        need a Schengen tourist visa, a Singapore tourist visa, or a USA tourist
        visa, we are here to help!
      </p>

      <h2>Why Choose Visa2Fly?</h2>
      <p>
        In simple words: We do all the work for you and are here to assist you
        with any help you may need!
      </p>
      <p>
        We prioritise making your visa obtaining process as hassle-free as
        possible. We make sure you know everything that is to know about the
        visa types, process, fees, requirements etc, of the country you wish to
        visit. This enables our personnel to help you make an informed decision
        about the kind of visa you need to apply for and the requirements for
        the same. At Visa2fly, we ensure that your information is kept secure
        and assist in tracking your visa application too.
      </p>
      <p>
        Our personnel are experienced and highly skilled in finding any errors
        which may result in your visa being rejected. The personnel will
        personally check your documents and make sure that your visa application
        is complete. This reduces the chances of your visa application getting
        rejected. If you are short on travel insurance (which is now necessary
        for travel and even required for the visa application process for most
        countries, especially visas to Schengen countries) we can assist you
        with that as well. In case of some visas where you are required to give
        an interview, we will help you to book your appointment and choose a
        suitable date and time and even help you with the preparation
      </p>
      <p>
        We will be right here for you at every step; from filling the visa
        application to receiving your visa. If an interview is required, our
        personnel will assist you with those too. Once your visa is approved, we
        will collect it and deliver it to your home - simple and convenient!
      </p>

      <h2>Travel Simplified</h2>
      <p>
        Here at Visa2fly, we do more than just Visas! We believe in offering our
        customers the whole travel package; complete with blogs about the
        countries they would like to visit. Apart from assisting with online
        Visa services, we also offer other travel services like currency
        exchange, SIM cards and travel insurance. It makes travelling convenient
        for you as you can access everything you need right here!
      </p>
      <p>
        If you wish to know more about the country you are travelling to or
        about any country in the world, you can explore the interactive globe on
        our homepage. It tells you fun facts about the country you click on and
        gives you an overview of the country too! The blog page dives more into
        detail about the countries and tells you about different things like how
        to travel with a pet, surviving a long-haul flight and places to visit
        in each country!
      </p>
      <p>
        Do check out our other social media handles on Instagram and Facebook!
      </p>
    </div>
  </div>
</div>
