<div class="site-wrapper">
  <div class="row">
    <div class="col">
      <h2>The Services We Offer</h2>
      <p>We at Visa2Fly offer many services - visa processing, travel insurance and SIM card
        services being some of them.</p>
      <p>The number of Indian tourists travelling to international destinations has increased by 15-
        18% per year. To keep up with this, Visa2Fly has fast and reliable visa processing services
        available. We offer contactless visa services such as e-visas, which keep everyone’s health
        and safety in mind during these trying times. Our other visa services are also customized to
        Covid-19 regulations to include minimal contact - clients will not need to leave their homes
        multiple times. You can apply for visa online with us, and we will come assist you at your
        doorstep: this is our specialty. We have information on visas for all countries - and we offer
        services for them as well:  Whether you need an Australia tourist visa or a Japanese tourist
        visa, we are here to help.</p>
      <p>You’ll be pleased to note that we don’t just offer a tourist visa - on our webpage, there are
        business visa and transit visa options as well. Along with offering these services, we assist
        you at your doorstep, process the online visa application, receive the visa on your behalf and
        deliver it to your home, safe and sound. Even if it is a visa such as the Singapore visa for
        Indians - which is rumoured to be tough to obtain, we at Visa2Fly know exactly how to move
        around these obstacles. We know both popular destinations and rarely visited gems well, so
        our familiarity and professionalism in terms of keeping your documents confidential, assisting
        you well and delivering your visa is unparalleled. New features such as health check-ups
        and Covid-19 check-ups are also available on our website - your health while travelling is our
        priority. </p>

      <h2>Not Just A Visa Company</h2>
      <p>Let’s say you are travelling to UAE - apart from visas for Dubai, you might want to know
        more about the area: things to do, places to visit, food to eat… Since, we love to explore and
        travel just as much as you do, our services extend beyond the monetary realm.</p>
      <p>Our interactive globe on the homepage tells you fun facts about every country you might
        want to visit, and our blog gives you more details on the same! Along with travel tips and
        tricks, like how to travel with a pet and surviving a long-haul flight, of course. If you want a
        Malaysian tourist visa, as well as ways to travel to Malaysia hassle-free and things to do
        here, the combination of our services and the blog page is sure to be of use. We also love to
        post about our travel experiences, relatable memes and travel news updates on our
        Instagram and Facebook pages. Check out our social media handles to be up-to-date on all
        the happenings :)</p>
      <p>As you may have noticed, we like to share our knowledge with you, especially if it means
        that your travel might go down more smoothly. For this reason, we also have information on
        visas and travel requirements for visa free and visa on arrival countries/ zones. As you can
        see, Visa2Fly has all you need for a smooth-sailing trip :)</p>

      <h2>Why Choose Visa2Fly?</h2>
      <p>Because you don’t have to move a finger - have you son’s lunch to prepare? Or a busy
        online meeting to attend in half an hour? It’s okay, even if you don’t have much time to step
        out of the house and obtain your Canadian tourist visa - because we come home to you. And
        we keep your information safe. We also assist with tracking visa application, and personally
        help you face-to-face in any visa choices you will have to make. </p>
      <p>We don’t just give you a choice to buy visas - we give you all the choices in-between. Our
        priority is to enable you with as much information so that you can make an informed
        decision. Because of this, common visa rejections are a thing of the past with Visa2Fly. Our
        visa personnel are highly skilled in finding any errors that might deter your application
        process, as since you are seated in front of us throughout, you will be privy to all this
        information.</p>
      <p>You will not have to fret about any of the documents being less or inadequate - our people
        will personally flip through them in front of you, and make sure that you are aware of all the
        inner workings needed. If you are short on travel insurance (which is sometimes necessary
        for visa applications, especially the Germany tourist visa and other Schengen countries) we
        can arrange for these to be provided to you.</p>
      <p>The extra convenience of having a person to do the job for you means that you will have
        more to do in the day - it’s hard to digest, we know ;) You might ask, what about interviews?
        What about times when my presence is needed? Well, when we say that we’re here for you
        every step of the way, we meant it. For processes like the US tourist visa, where you need to
        attend an interview, we will assist in every way possible. To help book your appointment in
        front of you - choose a suitable date and time, as well as send you reminders to remember
        to attend. After your visa has been approved, we will collect it and deliver it to your home as
        well - so there’s no need to worry!</p>

      <h2>Visas Simplified</h2>
      <p>Primarily a visa company, Visa2Fly is owned by Hashbug Tech Private Limited. We offer
        more than just visas, though, because we believe that offering other travel services (like B2B
        hotels, currency exchange, SIM cards and travel insurance) on the same platform enables
        convenience and travel-readiness at the single click of a button. </p>
      <p>The aim of our company was to build India’s first truly online visa application platform, and
        so far, we’ve been doing well. As some of our previous clients have stated, “The doorstep
        visa assistance made it so easy for me to get a visa done for me and my family.” - and you could
        be next! Our priority is to maximize the success rate of the visa process, through thorough
        checking of documents and end-to-end assistance - this minimizes the hassles and uncertainties
        related to visas for clients, and makes sure they are all set for the start of a good trip. If you’d like
        to book your next visa and are looking for where to do it, consider Visa2Fly - visas, truly
        simplified.</p>
    </div>
  </div>
</div>
