<div class="container-fluid wrapContainer">
    <div class="row">
      <div class="col-12 text-center">
        <h1><span class="faqContainer">FAQ's</span></h1>
      </div>
  
      <div class="col-12 p-0">
        <div class="accordion" id="antiguaAccordion">
  
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#antiguaAccordion1"
              aria-expanded="true" aria-controls="antiguaAccordion1">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                    How long can I stay in Antigua and Barbuda with my visa validity?
                </button>
              </h5>
            </div>
  
            <div id="antiguaAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#antiguaAccordion">
              <div class="card-body">
                <p>
                    You will need to specify the number of days in your visa 
                    application. This will be taken into consideration, and a 
                    stay period for your visa (also depending on your purpose of 
                    stay and itinerary) will be decided by the Immigration authorities.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#antiguaAccordion2"
              aria-expanded="false" aria-controls="antiguaAccordion2">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Can I photocopy my documents instead of scanning them?
                </button>
              </h5>
            </div>
            <div id="antiguaAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#antiguaAccordion">
              <div class="card-body">
                <p>
                    All documentation that you submit needs to be clearly scanned, 
                    with the use of a scanner only. It needs to be scanned in 
                    full colour, and scanned from the original documents 
                    only. Photocopies are not accepted.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#antiguaAccordion3"
              aria-expanded="false" aria-controls="antiguaAccordion3">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    My visa got rejected. Can I appeal against this?
                </button>
              </h5>
            </div>
            <div id="antiguaAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#antiguaAccordion">
              <div class="card-body">
                <p>
                    Yes, you can do this. Within 7 days from receiving this 
                    information (about rejection of visa), you can appeal against. 
                    The processing time for this is 14 days after the 
                    consulate receives your appeal.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#antiguaAccordion4"
              aria-expanded="false" aria-controls="antiguaAccordion4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Are there any ways I can get to know if my visa is approved?
                </button>
              </h5>
            </div>
            <div id="antiguaAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#antiguaAccordion">
              <div class="card-body">
                <p>
                    You will be e-mailed with an application receipt, as well as the EEV travel letter. This travel letter is your ‘visa’. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#antiguaAccordion5"
              aria-expanded="false" aria-controls="antiguaAccordion5">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Are there any things I need to know about my document size and uploading?
                </button>
              </h5>
            </div>
            <div id="antiguaAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#antiguaAccordion">
              <div class="card-body">
                <p>
                    Your documents must all be in any of these extension 
                    types - JPG, JPEG or PDF. You will need to have a scanned 
                    passport, and photocopies are not allowed. You cannot attach 
                    more than 10 uploads. Each file can be a maximum 
                    of 512KB in size.
                </p>
              </div>
            </div>
          </div>
  
          <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#antiguaAccordion6"
                aria-expanded="false" aria-controls="antiguaAccordion6">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I use any type of credit card?
                  </button>
                </h5>
              </div>
              <div id="antiguaAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#antiguaAccordion">
                <div class="card-body">
                  <p>
                    You will only be able to use Mastercard or Visa cards. For 
                    this visa application, you can pay fees via either 
                    way - credit or debit.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#antiguaAccordion7"
                aria-expanded="false" aria-controls="antiguaAccordion7">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    How should I apply for a multiple entry visa?
                  </button>
                </h5>
              </div>
  
              <div id="antiguaAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#antiguaAccordion">
                <div class="card-body">
                  <p>
                    There will be a tick-box that should be checked within the application form. This will need to be ticked.
                  </p>
  
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#antiguaAccordion8"
                aria-expanded="false" aria-controls="antiguaAccordion8">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Can I apply for someone else whom I know?
                  </button>
                </h5>
              </div>
  
              <div id="antiguaAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#antiguaAccordion">
                <div class="card-body">
                  <p>
                    Yes. The application form does allow you to fill an application for someone else. 
                  </p>
  
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="headingtransit9" data-toggle="collapse"
                data-target="#antiguaAccordion9" aria-expanded="false" aria-controls="antiguaAccordion9">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    My child is included in my passport, and I am included in theirs. Will I have to make a separate visa application to Antigua and Barbuda for them?
                  </button>
                </h5>
              </div>
              <div id="antiguaAccordion9" class="collapse" aria-labelledby="headingtransit9"
                data-parent="#antiguaAccordion">
                <div class="card-body">
                  <p>
                    Yes, you will need to do this. Please use their ID information, as well as your passport info in the application.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="headingtransit10" data-toggle="collapse"
                data-target="#antiguaAccordion10" aria-expanded="false" aria-controls="antiguaAccordion10">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    What does ‘double entry’ mean?
                  </button>
                </h5>
              </div>
              <div id="antiguaAccordion10" class="collapse" aria-labelledby="headingtransit10"
                data-parent="#antiguaAccordion">
                <div class="card-body">
                  <p>
                    Double entry means that you will be able to enter and leave Antigua and Barbuda a maximum of two times using this visa. The visa is valid for two entries/exits. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="headingtransit11" data-toggle="collapse"
                data-target="#antiguaAccordion11" aria-expanded="false" aria-controls="antiguaAccordion11">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is it possible to apply for a transit visa with a shorter validity? I am only going for one stay, for a max. Of 2 days.
                  </button>
                </h5>
              </div>
              <div id="antiguaAccordion11" class="collapse" aria-labelledby="headingtransit11"
                data-parent="#antiguaAccordion">
                <div class="card-body">
                  <p>
                    This is the general transit visa. If you need to go for a shorter time, you will still need to apply for the same visa, since this is the only transit visa available for Antigua and Barbuda.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="headingtransit12" data-toggle="collapse"
                data-target="#antiguaAccordion12" aria-expanded="false" aria-controls="antiguaAccordion12">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    I am transiting on a cruise ship. Is there any precaution considering this?
                  </button>
                </h5>
              </div>
              <div id="antiguaAccordion12" class="collapse" aria-labelledby="headingtransit12"
                data-parent="#antiguaAccordion">
                <div class="card-body">
                  <p>
                    If you are coming on a cruise ship and departing on the same day, you would not require one. If not, and you are staying for longer, you need a visa.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit13" data-toggle="collapse"
                  data-target="#antiguaAccordion13" aria-expanded="false" aria-controls="antiguaAccordion13">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        Is there any way I can transit without a visa?
                    </button>
                  </h5>
                </div>
                <div id="antiguaAccordion13" class="collapse" aria-labelledby="headingtransit13"
                  data-parent="#antiguaAccordion">
                  <div class="card-body">
                    <p>
                        Yes. If you are entering and leaving Antigua and Barbuda within 24 hours, and do not leave the ‘controlled’ area of the airport, you will not need a visa. You will still need to show the passport, as well as proof of your onward ticket for this.
                    </p>
                  </div>
                </div>
              </div>
          </ng-container>
  
        </div>
      </div>
  
      <div class="col-12 text-center loadMore mt-3">
        <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
      </div>
    </div>
  </div>
