<div id="sim">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 form">
            <form [formGroup]="simHomeForm">
            <label class="mr-sm-2 text-white" for="country">Choose Country Where You Want</label>
            <select formControlName="simSelect" class="form-control form-control-sm" id="country">
              <option value="">Select Country</option>
              <option *ngFor="let country of simCountries" value="{{country}}">{{country}}</option>

            </select>
            <button (click) = "onSimCountrySelected()" type="button" class="btn btn-outline-primary btn-sm">
              Buy Online
            </button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sim-plan" style="margin-bottom: 30px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-center visaHeading">Tariff Plans For Popular Destinations</h1>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/Australia.jpg" alt="Australia" class="img-fluid" />
              </div>
              <div class="content">
                <p>Australia</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/Austria.jpg" alt="Austria" class="img-fluid" />
              </div>
              <div class="content">
                <p>Austria</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/Belgium.jpg" alt="Belgium" class="img-fluid" />
              </div>
              <div class="content">
                <p>Belgium</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/Bulgaria.jpg" alt="Bulgaria" class="img-fluid" />
              </div>
              <div class="content">
                <p>Bulgaria</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/Canada.jpg" alt="Canada" class="img-fluid" />
              </div>
              <div class="content">
                <p>Canada</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/China.jpg" alt="China" class="img-fluid" />
              </div>
              <div class="content">
                <p>China</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/Cyprus.jpg" alt="Cyprus" class="img-fluid" />
              </div>
              <div class="content">
                <p>Cyprus</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/Czech Republic.jpg" alt="Czech Republic" class="img-fluid" />
              </div>
              <div class="content">
                <p>Czech Republic</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="https://static.visa2fly.com/sim/Denmark.jpg" alt="Denmark" class="img-fluid" />
              </div>
              <div class="content">
                <p>Denmark</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
            <a href="#">
              <div class="visa-card">
                <div class="img-box">
                  <img src="https://static.visa2fly.com/sim/Estonia.jpg" alt="Estonia" class="img-fluid" />
                </div>
                <div class="content">
                  <p>Estonia</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
              <a href="#">
                <div class="visa-card">
                  <div class="img-box">
                    <img src="https://static.visa2fly.com/sim/Europe.jpg" alt="Europe" class="img-fluid" />
                  </div>
                  <div class="content">
                    <p>Europe</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                <a href="#">
                  <div class="visa-card">
                    <div class="img-box">
                      <img src="https://static.visa2fly.com/sim/Finland.jpg" alt="Finland" class="img-fluid" />
                    </div>
                    <div class="content">
                      <p>Finland</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                  <a href="#">
                    <div class="visa-card">
                      <div class="img-box">
                        <img src="https://static.visa2fly.com/sim/France.jpg" alt="France" class="img-fluid" />
                      </div>
                      <div class="content">
                        <p>France</p>
                      </div>
                    </div>
                  </a>
                </div>


                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                    <a href="#">
                      <div class="visa-card">
                        <div class="img-box">
                          <img src="https://static.visa2fly.com/sim/Germany.jpg" alt="Germany" class="img-fluid" />
                        </div>
                        <div class="content">
                          <p>Germany</p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                      <a href="#">
                        <div class="visa-card">
                          <div class="img-box">
                            <img src="https://static.visa2fly.com/sim/Greece.jpg" alt="Greece" class="img-fluid" />
                          </div>
                          <div class="content">
                            <p>Greece</p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                        <a href="#">
                          <div class="visa-card">
                            <div class="img-box">
                              <img src="https://static.visa2fly.com/sim/Hong Kong.jpg" alt="Hong Kong" class="img-fluid" />
                            </div>
                            <div class="content">
                              <p>Hong Kong</p>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                          <a href="#">
                            <div class="visa-card">
                              <div class="img-box">
                                <img src="https://static.visa2fly.com/sim/Hungary.jpg" alt="Hungary" class="img-fluid" />
                              </div>
                              <div class="content">
                                <p>Hungary</p>
                              </div>
                            </div>
                          </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                            <a href="#">
                              <div class="visa-card">
                                <div class="img-box">
                                  <img src="https://static.visa2fly.com/sim/Iceland.jpg" alt="Iceland" class="img-fluid" />
                                </div>
                                <div class="content">
                                  <p>Iceland</p>
                                </div>
                              </div>
                            </a>
                          </div>

                          <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                              <a href="#">
                                <div class="visa-card">
                                  <div class="img-box">
                                    <img src="https://static.visa2fly.com/sim/Indonasia.jpg" alt="Indonasia" class="img-fluid" />
                                  </div>
                                  <div class="content">
                                    <p>Indonasia</p>
                                  </div>
                                </div>
                              </a>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                <a href="#">
                                  <div class="visa-card">
                                    <div class="img-box">
                                      <img src="https://static.visa2fly.com/sim/Ireland.jpg" alt="Ireland" class="img-fluid" />
                                    </div>
                                    <div class="content">
                                      <p>Ireland</p>
                                    </div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Italy.jpg" alt="Italy" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Italy</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Latvia.jpg" alt="Latvia" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Latvia</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Lithuania.jpg" alt="Lithuania" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Lithuania</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Luxembourg.jpg" alt="Luxembourg" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Luxembourg</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Macau.jpg" alt="Macau" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Macau</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Malaysia.jpg" alt="Malaysia" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Malaysia</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Malta.jpg" alt="Malta" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Malta</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Mauritius.jpg" alt="Mauritius" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Mauritius</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Mexico.jpg" alt="Mexico" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Mexico</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Myanmar.jpg" alt="Myanmar" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Myanmar</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Netherlands.jpg" alt="Netherlands" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>New Zealand</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/New Zealand.jpg" alt="New Zealand" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>New Zealand</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Norway.jpg" alt="Norway" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Norway</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Oman.jpg" alt="Oman" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Oman</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Philippines.jpg" alt="Philippines" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Philippines</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Poland.jpg" alt="Poland" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Poland</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Portugal.jpg" alt="Portugal" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Portugal</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Qatar.jpg" alt="Qatar" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Qatar</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Romania.jpg" alt="Romania" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Romania</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Saudi Arabia.jpg" alt="Saudi Arabia" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Saudi Arabia</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>



                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Singapore.jpg" alt="Singapore" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Singapore</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Slovakia.jpg" alt="Slovakia" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Slovakia</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>


                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Slovenia.jpg" alt="Slovenia" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Slovenia</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>



                              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/South Africa.jpg" alt="South Africa" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>South Africa</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                    <a href="#">
                                      <div class="visa-card">
                                        <div class="img-box">
                                          <img src="https://static.visa2fly.com/sim/South Korea.jpg" alt="South Korea" class="img-fluid" />
                                        </div>
                                        <div class="content">
                                          <p>South Korea</p>
                                        </div>
                                      </div>
                                    </a>
                                  </div>

                                  <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                      <a href="#">
                                        <div class="visa-card">
                                          <div class="img-box">
                                            <img src="https://static.visa2fly.com/sim/Spain.jpg" alt="Spain" class="img-fluid" />
                                          </div>
                                          <div class="content">
                                            <p>Spain</p>
                                          </div>
                                        </div>
                                      </a>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                        <a href="#">
                                          <div class="visa-card">
                                            <div class="img-box">
                                              <img src="https://static.visa2fly.com/sim/Sri Lanka.jpg" alt="Sri Lanka" class="img-fluid" />
                                            </div>
                                            <div class="content">
                                              <p>Sri Lanka</p>
                                            </div>
                                          </div>
                                        </a>
                                      </div>

                                      <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                  <a href="#">
                                    <div class="visa-card">
                                      <div class="img-box">
                                        <img src="https://static.visa2fly.com/sim/Sweden.jpg" alt="Sweden" class="img-fluid" />
                                      </div>
                                      <div class="content">
                                        <p>Sweden</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                    <a href="#">
                                      <div class="visa-card">
                                        <div class="img-box">
                                          <img src="https://static.visa2fly.com/sim/Switzerland.jpg" alt="Switzerland" class="img-fluid" />
                                        </div>
                                        <div class="content">
                                          <p>Switzerland</p>
                                        </div>
                                      </div>
                                    </a>
                                  </div>

                                  <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                      <a href="#">
                                        <div class="visa-card">
                                          <div class="img-box">
                                            <img src="https://static.visa2fly.com/sim/Thailand.jpg" alt="Thailand" class="img-fluid" />
                                          </div>
                                          <div class="content">
                                            <p>Thailand</p>
                                          </div>
                                        </div>
                                      </a>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                        <a href="#">
                                          <div class="visa-card">
                                            <div class="img-box">
                                              <img src="https://static.visa2fly.com/sim/Turkey.jpg" alt="Turkey" class="img-fluid" />
                                            </div>
                                            <div class="content">
                                              <p>Turkey</p>
                                            </div>
                                          </div>
                                        </a>
                                      </div>

                                      <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                          <a href="#">
                                            <div class="visa-card">
                                              <div class="img-box">
                                                <img src="https://static.visa2fly.com/sim/United Arab Emirates.jpg" alt="United Arab Emirates" class="img-fluid" />
                                              </div>
                                              <div class="content">
                                                <p>United Arab Emirates</p>
                                              </div>
                                            </div>
                                          </a>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                            <a href="#">
                                              <div class="visa-card">
                                                <div class="img-box">
                                                  <img src="https://static.visa2fly.com/sim/United Kingdom.jpg" alt="United Kingdom" class="img-fluid" />
                                                </div>
                                                <div class="content">
                                                  <p>United Kingdom</p>
                                                </div>
                                              </div>
                                            </a>
                                          </div>

                                          <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                              <a href="#">
                                                <div class="visa-card">
                                                  <div class="img-box">
                                                    <img src="https://static.visa2fly.com/sim/United State Of America.jpg" alt="United State Of America" class="img-fluid" />
                                                  </div>
                                                  <div class="content">
                                                    <p>United State Of America</p>
                                                  </div>
                                                </div>
                                              </a>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                                <a href="#">
                                                  <div class="visa-card">
                                                    <div class="img-box">
                                                      <img src="https://static.visa2fly.com/sim/Uzbekistan.jpg" alt="Uzbekistan" class="img-fluid" />
                                                    </div>
                                                    <div class="content">
                                                      <p>Uzbekistan</p>
                                                    </div>
                                                  </div>
                                                </a>
                                              </div>
  
      </div>
      <div style="display: flex; justify-content: center; margin-bottom: 10px; margin-top: 20px;">
          <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
      </div>
    </div>
  </div>