<div id="sim" style="margin-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 form">
            <form [formGroup]="simHomeForm">
            <label class="mr-sm-2 text-white" for="country">Choose Country Where You Want</label>
            <select formControlName="simSelect" class="form-control form-control-sm" id="country">
              <option value="">Select Country</option>
              <option *ngFor="let country of simCountries" value="{{country}}">{{country}}</option>

            </select>
            <button (click) = "onSimCountrySelected()" type="button" class="btn btn-outline-primary btn-sm">
              Buy Online
            </button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sim-plan">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="heading text-center visaHeading">Tariff Plan For Popular Destination</h1>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="brazil.png" alt="" class="img-fluid" />
              </div>
              <div class="content">
                <p>Australia</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="uae.png" alt="" class="img-fluid" />
              </div>
              <div class="content">
                <p>Paris</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="uk.png" alt="" class="img-fluid" />
              </div>
              <div class="content">
                <p>Switzerland</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="canada.png" alt="" class="img-fluid" />
              </div>
              <div class="content">
                <p>France</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="canada.png" alt="" class="img-fluid" />
              </div>
              <div class="content">
                <p>France</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="canada.png" alt="" class="img-fluid" />
              </div>
              <div class="content">
                <p>France</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="canada.png" alt="" class="img-fluid" />
              </div>
              <div class="content">
                <p>France</p>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
          <a href="#">
            <div class="visa-card">
              <div class="img-box">
                <img src="canada.png" alt="" class="img-fluid" />
              </div>
              <div class="content">
                <p>France</p>
              </div>
            </div>
          </a>
        </div>
  
      </div>
    </div>
  </div>