#sim {
  background-image: url('../../../assets/sim/harley-davidson-AyH9hAmiX9Y-unsplash.jpg');
height: 60vh;
background-size: cover;
background-position: center center;
}
#sim .form {
  margin-top: 100px;
  font-size: 14px;
}
#sim select {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
#sim option {
  background: #fff;
  color: #000;
}
.t-place {
  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
#sim button {
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 4px 40px;
  margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #sim select {
    max-width: 300px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #sim {
    height: 50vh;
    background-size: cover;
    background-position: center center;
  }
  #sim select {
    max-width: 300px;
  }
}
      

@media (min-width: 481px) and (max-width: 767px) {
 
  #sim {
    height: 50vh;
    background-size: cover;
    background-position: center center;
  }
  #sim .form {
    margin-top: 50px;
  }
  #sim select {
    max-width: 200px;
  }
}

 .container .visaHeading {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container .visa-card {
  position: relative;
  background: #e2e2e2;
  border: none;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
}

.container .visa-card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.container .visa-card .img-box {
  transition: 0.5s;
}

.container .visa-card:hover .img-box {
  opacity: 0.5;
}

.container .visa-card .content {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: -100%;
  padding-top: 60px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
}

.container .visa-card:hover .content {
  bottom: 0;
}

.container .visa-card:nth-child(1) .content {
  background: linear-gradient(0deg, #000080, transparent);
}

.container .visa-card .content p {
  color: #fff;
  position: absolute;
  left: 20px;
  bottom: 0px;
  font-size: 16px;
}