section#insurance {
  padding-top: 70px;
  padding-bottom: 70px;
}

section#insurance .container {
  margin: 50px auto 0;
  background: linear-gradient(45deg, #00000026, transparent),
    url(https://images.pexels.com/photos/210205/pexels-photo-210205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cssTabbing {
  position: relative;
  top: -23px;
  width: 340px;
  margin: 0 auto;
}

.right-sty {
  width: 50%;
  max-width: 450px;
  float: right;
  background: rgba(1, 55, 110, 0.5);
  border-radius: 10px;
}

.invalid-input {
  color: #eee;
  font-size: 12px;
}

.travelFormTab {
  display: block;
  list-style: none;
  background: #fff;
  margin-bottom: 0;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(159, 159, 159, 0.5);
}

.travelFormTab li {
  position: relative;
}

.articleWrapper .travelFormTab li,
.travelFormTab li {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.padding_margin,
li,
ol,
ul {
  padding: 0;
  margin: 0;
}

.travelFormTab li a.active {
  background: #002154;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.travelFormTab li a {
  display: block;
  list-style: none;
  padding: 10px 6px 10px 26px;
  color: #333;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.input-sty {
  letter-spacing: 0;
  font-size: 11px;
  font-weight: 500;
  border: 0;
  padding: 4px 10px;
  border-radius: 4px;
  width: 100%;
  color: #757575;
  font-size: 12px;
  min-height: 40px;
  box-shadow: 1px 1px 1px #000;
  display: flex;
}

.label-sty {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  position: relative;
}

.card {
  border-radius: 0px;
}

.input-sty::-webkit-input-placeholder {
  color: #8d908d;
  letter-spacing: 0;
}

.input-sty:-ms-input-placeholder {
  color: #8d908d;
  letter-spacing: 0;
}

.input-sty::placeholder {
  color: #8d908d;
  letter-spacing: 0;
}

.insurance_related {
  display: table;
  width: 436px;
  margin: 15px auto;
}

.insurance_related ul {
  padding: 0;
  margin: 0;
}

.ins_icons.family li {
  display: inline-block;
  float: left;
  text-align: center;
  background: #fff;
  color: #333;
  width: 115px;
  height: 107px;
  border-radius: 10px;
  margin: 15px 15px;
  border: 1px solid #fff;
  /* box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8); */
  position: relative;
}

.ins_icons.family li img {
  width: 45px;
  margin-top: 5px;
}

.ins_icons.family li span {
  display: block;
  width: 96%;
  margin: 5px auto 0;
  text-align: center;
  font-weight: 600;
  line-height: 14px;
  font-size: 13px;
  letter-spacing: 0;
}

.left-sty {
  background-color: unset !important;
}

.left-sty h4 {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.left-sty span.subtxt {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  color: #fff;
  display: block;
}

.right-sty .float_left {
  float: left;
}

.right-sty .float_right {
  float: right;
}

.right-sty .date_input {
  width: 49%;
}

.formbox_new {
  display: table;
  width: 100%;
}

.formbox_new .radioLabel {
  width: 50%;
  display: block;
  float: left;
}

.formbox_new span {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  top: 15px;
}

.formInput.alignRight.addBtnDiv {
  background: 0;
  box-shadow: none;
  height: 45px;
  position: relative;
  width: 10%;
  margin-right: 0;
  cursor: pointer;
}

.formbox_new .formInput.alignRight {
  float: right;
  position: relative;
}

.formbox_new .formInput {
  background: #fff;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  color: #333;
  font-size: 12px;
  min-height: 40px;
  box-shadow: 1px 1px 1px #000;
  display: flex;
}

.formInput.travellers input {
  text-align: center;
  padding: 0;
  height: 38px;
  color: #333;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0;
}

.formbox_new .formInput .inputLabel {
  background: #293f5e;
  color: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  font-size: 10px;
  top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2px 5px 2px 2px;
  display: none;
}

.formbox_new .formInput input,
.formbox_new .formInput select {
  width: 100%;
  border: 0;
  font-size: 11px;
  font-weight: 500;
  padding: 0 10px;
  letter-spacing: 0;
}

.formbox_new .formInput.travellers {
  min-height: 50px;
}

.formInput.travellers {
  width: 19%;
  margin: 0 6px 6px 0;
}

.formbox_new .formInput.alignLeft {
  float: left;
  position: relative;
}

.formbox_new .formInput {
  background: #fff;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  color: #333;
  font-size: 12px;
  min-height: 40px;
  box-shadow: 1px 1px 1px #000;
  display: flex;
}

.formbox_new .radioBox {
  float: right;
  width: 50%;
}

.formbox_new .radioBox label.wrapper {
  font-weight: 400;
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 7px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  float: left;
}

.formbox_new .wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.formbox_new .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.formbox_new span {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  top: 15px;
}

.formbox_new .wrapper input:checked ~ .checkmark:after {
  display: block;
}

.formbox_new .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
}

.formbox_new.tripF .wrapper {
  width: 45px !important;
}

button.btn-proceed {
  border-radius: 3px;
  background-color: #f8ab35;
  box-shadow: 0 0 8px 0 rgba(66, 66, 66, 0.8);
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px;
  margin: 13px 0 10px;
  position: relative;
}

ul.travellerAgelist li.ageList {
  display: inline-block;
  width: 20%;
  text-align: center;
  margin: 0 6px 6px 0;
}

ul.travellerAgelist li.list_btn {
  float: right;
  width: 12%;
  margin-right: 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  section#insurance {
    padding-top: 96px;
    padding-bottom: 0px;
  }

  .pd__0 {
    padding: 0;
  }

  section#insurance .container {
    padding: 15px 10px;
    margin: 0 auto;
  }

  .left-sty h4 {
    font-size: 18px;
  }

  .left-sty span.subtxt {
    font-size: 14px;
  }

  .left-sty {
    padding: 0;
  }

  .insurance_related {
    display: table;
    width: 100%;
    margin: 15px auto;
  }

  .ins_icons.family li {
    width: 44%;
    margin: 15px 10px;
  }

  .left-sty .card-body {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 600px) {
  .ins_icons.family li {
    width: 44%;
    margin: 15px 8px;
  }
}
