section#insurance {
  padding-top: 70px;
  padding-bottom: 70px;
}

section#insurance .container {
  margin: 50px auto 0;
  background: linear-gradient(45deg, #00000026, transparent),
    url(https://static.visa2fly.com/assets/insurance-home.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  section#insurance {
    padding-top: 92px;
    padding-bottom: 0px;
  }

  .pd__0 {
    padding: 0;
  }

  section#insurance .container {
    padding: 15px 10px;
    margin: 0 auto;
  }
}
