<section id="insurance">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-12 card left-sty">
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-center">
              <h4>Travel insurance covers all kinds of situation</h4>
              <span class="subtxt">Get free quotes and start comparing</span>
            </div>
            <div class="col-12">
              <div class="insurance_related">
                <ul class="ins_icons family">
                  <li class="familyIcon asme">
                    <span>Accidental &amp; sickness medical expenses</span>
                  </li>
                  <li class="familyIcon bdl">
                    <span>Baggage Delay / Loss</span>
                  </li>
                  <li class="familyIcon tdc">
                    <span>Trip Delay / Cancellation</span>
                  </li>
                  <li class="familyIcon pl"><span>Passport Loss</span></li>
                  <li class="familyIcon eme">
                    <span>Emergency Medical Evacuation</span>
                  </li>
                  <li class="familyIcon mf"><span>Missed flights</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 col-12 card right-sty">
        <div class="card-body pt-0">
          <form action="">
            <div class="form-row">
              <article class="cssTabbing">
                <ul class="travelFormTab" tabindex="0">
                  <li>
                    <a href="javascript:void(0)" class="active" data-value="1"
                      >Family/Self</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)" data-value="2"
                      >Group/Friends</a
                    >
                  </li>
                </ul>
              </article>
            </div>
            <div class="form-row">
              <div class="col-12 pb-2">
                <span class="label-sty">Destination</span>
                <input
                  type="text"
                  name=""
                  class="form-control input-sty"
                  id=""
                  placeholder="Please input all countries"
                />
              </div>
              <div class="col-12">
                <div class="formbox_new" id="travellerDetails">
                  <span>Age of Traveller(s)</span>
                <ul class="travellerAgelist">
                    <li class="ageList list_btn">
                        <button class="btn">Add</button>
                    </li>
                    <li class="ageList">
                        <input type="text" class="form-control input-sty">
                    </li>
                    <li class="ageList">
                        <input type="text" class="form-control input-sty">
                    </li>
                    <li class="ageList">
                        <input type="text" class="form-control input-sty">
                    </li>
                    <li class="ageList">
                        <input type="text" class="form-control input-sty">
                    </li>
                </ul>

                </div>
              </div>
              <div class="col-12 pb-2">
                <span class="label-sty">Travel Dates</span>
                <div class="float_left date_input">
                  <input
                    type="text"
                    name=""
                    class="form-control input-sty"
                    id=""
                  />
                </div>
                <div class="float_right date_input">
                  <input
                    type="text"
                    name=""
                    class="form-control input-sty"
                    id=""
                  />
                </div>
              </div>
              <div class="col-12 formbox_new">
                <span class="radioLabel">Any medical conditions</span>
                <div class="radioBox">
                  <label class="wrapper"
                    >Yes
                    <input type="radio" name="radio" value="1" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >No
                    <input
                      type="radio"
                      checked="checked"
                      name="radio"
                      value="0"
                    />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="col-12 formbox_new">
                <span class="radioLabel"
                  >Travelling multiple times in a year?</span
                >
                <div class="radioBox">
                  <label class="wrapper"
                    >Yes
                    <input type="radio" name="MultitripRadio" value="1" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >No
                    <input type="radio" name="MultitripRadio" value="0" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="col-12 formbox_new tripF">
                <span class="radioLabel">Trip Frequency</span>
                <div class="radioBox">
                  <label class="wrapper"
                    >30
                    <input type="radio" name="radio2" value="1" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >45
                    <input type="radio" name="radio2" value="0" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >60
                    <input type="radio" name="radio2" value="1" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >90
                    <input type="radio" name="radio2" value="1" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="col-12">
                <button class="btn-sm btn btn-proceed" type="button" (click)="proceedBtn()">Proceed</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
