<section id="mobik-offer">
  <div class="offer-banner">
    <div
      class="offer-banner_cover"
      style="
        background-image: url('../../../../assets/offer-banner/Mobiikwik\ 2000\ 200\ 1.jpg');
      "
    ></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 offer-detail_box">
        <header class="offer-header">
          <span class="offer-meta">
            <span class="offer-meta-date"> 3 March, 2021 </span>
          </span>
          <h1 class="offer-title">Get Flat ₹ 250 Cashback from MobiKwik</h1>
        </header>

        <main class="offer-detail_content">
          <div class="quicklook box">
            <h3 class="highligths">Highlights</h3>

            <p>
              <span class="quicklook-section">
                <span class="quicklook-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M21,4H3C2.447,4,2,4.447,2,5v14c0,0.553,0.447,1,1,1h18c0.553,0,1-0.447,1-1V5C22,4.447,21.553,4,21,4z M20,15 c-1.657,0-3,1.343-3,3H7c0-1.657-1.343-3-3-3V9c1.657,0,3-1.343,3-3h10c0,1.657,1.343,3,3,3V15z"
                    />
                    <path
                      d="M12,8c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S14.206,8,12,8z M12,14c-1.103,0-2-0.897-2-2s0.897-2,2-2s2,0.897,2,2 S13.103,14,12,14z"
                    />
                  </svg>
                </span>
                <span class="quicklook-subtext"> Apply Coupon </span>
                <span class="quicklook-text">VISAMBK21</span>
              </span>
            </p>

            <p>
              <span class="quicklook-section">
                <span class="quicklook-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M17,6V4H9.5H7H6v2h1h2.5c1.302,0,2.401,0.838,2.815,2H6v2h6.315c-0.414,1.162-1.514,2-2.815,2H6v2.414L11.586,20h2.828 l-6-6H9.5c2.414,0,4.435-1.721,4.898-4H17V8h-2.602c-0.151-0.744-0.481-1.416-0.924-2H17z"
                    />
                  </svg>
                </span>
                <span class="quicklook-subtext"> Flat Cashback </span>
                <span class="quicklook-text">₹ 250</span>
              </span>
            </p>

            <p>
              <span class="quicklook-section">
                <span class="quicklook-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M10 15.586L6.707 12.293 5.293 13.707 10 18.414 19.707 8.707 18.293 7.293z"
                    />
                  </svg>
                </span>
                <span class="quicklook-subtext"> Offer Valid </span>
                <span class="quicklook-text">31st March,2021</span>
              </span>
            </p>

            <p>
              <span class="quicklook-section">
                <span class="quicklook-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M17,6V4H9.5H7H6v2h1h2.5c1.302,0,2.401,0.838,2.815,2H6v2h6.315c-0.414,1.162-1.514,2-2.815,2H6v2.414L11.586,20h2.828 l-6-6H9.5c2.414,0,4.435-1.721,4.898-4H17V8h-2.602c-0.151-0.744-0.481-1.416-0.924-2H17z"
                    />
                  </svg>
                </span>
                <span class="quicklook-subtext"> Min. Booking Amount </span>
                <span class="quicklook-text">₹ 1500</span>
              </span>
            </p>
          </div>

          <hr />

          <div class="box">
            <h3 class="aboutoffer">About The Offer</h3>
            <ul>
              <li>Get flat <b>₹ 250 cashback</b> from MobiKwik</li>
              <li>
                Valid for all users on a <b>minimum transaction of ₹ 1500</b>
              </li>
              <li>Valid till <b>31st March,2021</b></li>
              <li>Code required to avail the offer: <b>VISAMBK21</b></li>
              <li>Valid <b>once per user</b> per month.</li>
            </ul>
          </div>

          <hr />

          <div class="box">
            <h3 class="aboutoffer">How to avail the offer</h3>
            <ol>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repudiandae, obcaecati at ratione vero sapiente dignissimos!
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repudiandae, obcaecati at ratione vero sapiente dignissimos!
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repudiandae, obcaecati at ratione vero sapiente dignissimos!
              </li>
            </ol>
          </div>

          <!-- <hr />

          <div class="box">
            <h3 class="aboutoffer">Terms & Conditions</h3>
            <ul>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repudiandae, obcaecati at ratione vero sapiente dignissimos!
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repudiandae, obcaecati at ratione vero sapiente dignissimos!
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repudiandae, obcaecati at ratione vero sapiente dignissimos!
              </li>
            </ul>
          </div> -->
        </main>
      </div>
    </div>
  </div>
</section>
