<!-- desktop Only -->
<div class="container-fluid imageContainer desktopView">
    <div class="row">
        <div class="col-lg-8">
            <div class="countryImage">
                <img class="bannerImage rounded img-fluid" src="https://static.visa2fly.com/country/{{selectedCountrytype}}.jpg"
                    [alt]="selectedCountrytype" />
            </div>
        </div>

        <div class="col-lg-4 visaStepContainer">
            <div class="visaStep">
                <div class="visaStepHeader text-center">
                    <h1 class="visaStepHeading">{{selectedCountrytype}}</h1>
                </div>
                <div class="visaStepContent">
                    <div class="row">
                        <div class="col-md-6 col-lg-12 col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h5 style="font-size: 14px;">Step 1</h5>
                                </div>
                                <div class="col-2">
                                    <img src="../../../assets/text-document.png" alt="text-document icon"
                                        class="img-fluid" style="height: 30px; width: 30px; margin-top: 4px;" />
                                </div>
                                <div class="col-10">
                                    <h5 style="font-size: 16px; margin-bottom: 5px;">Booking Online</h5>
                                    <p style="font-size: 12px; margin-bottom: 7px;">Select Your Visa And Pay Online</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12 col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h5 style="font-size: 14px;">Step 2</h5>
                                </div>
                                <div class="col-2">
                                    <img src="../../../assets/checked-files.png" alt="checked-files icon"
                                        class="img-fluid" style="height: 30px; width: 30px; margin-top: 4px;" />
                                </div>
                                <div class="col-10">
                                    <h5 style="font-size: 16px; margin-bottom: 5px;">
                                        Document Validation</h5>
                                    <p style="font-size: 12px; margin-bottom: 7px;">Our visa expert will verify &
                                        collect
                                        your
                                        document.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12 col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h5 style="font-size: 14px;">Step 3</h5>
                                </div>
                                <div class="col-2">
                                    <img src="../../../assets/time-left.png" alt="text-document icon" class="img-fluid"
                                        style="height: 30px; width: 30px; margin-top: 4px;" />
                                </div>
                                <div class="col-10">
                                    <h5 style="font-size: 16px; margin-bottom: 5px;">
                                        Visa Processing</h5>
                                    <p style="font-size: 12px; margin-bottom: 7px;">We schedule documents submission,
                                        biometric
                                        / Interview.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12 col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h5 style="font-size: 14px;">Step 4</h5>
                                </div>
                                <div class="col-2">
                                    <img src="../../../assets/passport(1).png" alt="text-document icon"
                                        class="img-fluid" style="height: 30px; width: 30px; margin-top: 4px;" />
                                </div>
                                <div class="col-10">
                                    <h5 style="font-size: 16px; margin-bottom: 5px;">

                                        Visa at doorstep</h5>
                                    <p style="font-size: 12px; margin-bottom: 7px;">Passport gets delivered at your
                                        doorstep.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid imageContainer mobileView">
    <div class="row">
        <div class="col-lg-12">
            <div class="countryImage">
                <img class="bannerImage rounded img-fluid" src="https://static.visa2fly.com/country/{{selectedCountrytype}}.jpg"
                    [alt]="selectedCountrytype" />
            </div>
        </div>

        <div class="col-lg-12 visaStepContainer">
            <div class="visaStep">
                <div class="visaStepHeader text-center">
                    <h1 class="visaStepHeading">{{selectedCountrytype}}</h1>
                </div>
                <div class="visaStepContent mt-3">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-6 txtCenter">
                            <div class="row">
                                <div class="col-12 ">
                                    <h5 style="font-size: 14px;">Step 1</h5>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <img src="../../../assets/text-document.png" alt="text-document icon"
                                        class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                </div>
                                <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                    <h5 class="visaStepMainPoint">Booking Online</h5>
                                    <p class="visaStepPoints">Select Your Visa And Pay Online</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-6 txtCenter">
                            <div class="row">
                                <div class="col-12">
                                    <h5 style="font-size: 14px;">Step 2</h5>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 ">
                                    <img src="../../../assets/checked-files.png" alt="checked-files icon"
                                        class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                </div>
                                <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                    <h5 class="visaStepMainPoint">
                                        Document Validation</h5>
                                    <p class="visaStepPoints">Our visa expert will verify &
                                        collect
                                        your
                                        document.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-6 txtCenter diffMg">
                            <div class="row">
                                <div class="col-12">
                                    <h5 style="font-size: 14px;">Step 3</h5>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 ">
                                    <img src="../../../assets/time-left.png" alt="time-left icon"
                                        class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                </div>
                                <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                    <h5 class="visaStepMainPoint">
                                        Visa Processing</h5>
                                    <p class="visaStepPoints">We schedule documents submission,
                                        biometric
                                        / Interview.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-6 txtCenter diffMg">
                            <div class="row">
                                <div class="col-12 ">
                                    <h5 style="font-size: 14px;">Step 4</h5>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <img src="../../../assets/passport(1).png" alt="passport icon"
                                        class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                </div>
                                <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                    <h5 class="visaStepMainPoint">

                                        Visa at doorstep</h5>
                                    <p class="visaStepPoints">Passport gets delivered at your
                                        doorstep.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid wrapContainer">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-4 setPadding">
                    Visa Type :
                </div>
                <div class="col-lg-5 col-md-6 col-8">
                    <form [formGroup]="purposeChooseForm1">
                    <!-- <mat-form-field class="setWidth">
                        <mat-select>
                            <mat-option >
                                Tourist
                            </mat-option>
                            <mat-option>
                                Business
                            </mat-option>
                            <mat-option value="Transit">
                                Transit
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <select (change)="purposeChanged()"  formControlName="purposeSelected" class="form-control" id="exampleFormControlSelect1">
                        <option value="Tourist">Tourist</option>
                        <option value="Business">Business</option>
                        <option value="Transit">Transit</option>
                      </select>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid wrapContainer mobileView">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-3 col-md-2 col-4">
                    Visa Type
                </div>
                <div class="col-lg-6 col-md-3 col-5">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                        <option value="tourist">Tourist</option>
                        <option value="business">Business</option>
                        <option value="transit">Transit</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container-fluid wrapContainer">
    <div class="row" >
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3" *ngFor="let quotation of MyQuotation">
        
            <div class="card planCard">
                <div class="card-header text-center font-weight-bold" style="background: #e2e2e2;">
                    {{quotation.purpose}}
                </div>
                <div class="card-body planCardBody">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow">Processing time:
                        </div>
                        <div class="col-lg-6 col-md-6 col-6 text-right planCardRow"> 
                         {{quotation.processingTime}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow">Stay period:</div>
                        <div class="col-lg-6 col-md-6 col-6 text-right planCardRow">{{quotation.stayPeriod}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow">Validity:</div>
                        <div class="col-lg-6 col-md-6 col-6 text-right planCardRow">{{quotation.validity}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow">Entry:</div>
                        <div class="col-lg-6 col-md-6 col-6 text-right planCardRow">{{quotation.entryType}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow
                        ">Fees:</div>
                        <div class="col-lg-6 col-md-6 col-6 font-weight-bold text-right
                        planCardRow" style="color: #000080;">
                        INR {{quotation.basePrice}}</div>
                    </div>
                    <!-- <div class="col-6">Processing time:</div>
                    <div class="col-6">Lorem ipsum dolor sit amet consectetur.</div>
                    <div class="col-6">Stay period :</div>
                    <div class="col-6">Lorem, ipsum se</div>
                    <div class="col-6">Validity :</div>
                    <div class="col-6">Lorem, ipsum se</div>
                    <div class="col-6">Entry:</div>
                    <div class="col-6">Lorem, ipsum se</div>
                    <div class="col-6">Fees:</div>
                    <div class="col-6 font-weight-bold" style="color: #000080;">Lorem, ipsum se</div> -->
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary btn-sm font-weight-bold submitBtn" (click)="navigate(quotation.quoteId, quotation.basePrice, quotation.serviceTax,quotation.stayPeriod)">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </div>
</div>

<div class="detailsContainer">
    <h2 class="headingOther" style="display: flex; justify-content: center;">
        <span class="ng-binding">REQUIREMENT FOR {{this.selectedCountrytype}} Visa</span>
    </h2>
    <div class="row accordianWrapper ng-scope" id="othercountry" ng-show="visaType == visa.Visa.Id"
        ng-repeat="visa in data.VisaData">
        <!-- <div class="row accordianWrapper container"> -->
        <div class="col-md-12 pcOnly">
            <div class="gmvsprite_container" *ngFor="let items of mainArr; let i = index ;">
                <div class="gmvsprite_row">
                    <div data-toggle="modal" data-target=".bd-example-modal-sm" class="gmvsprite_col"
                        *ngFor="let item of items;let j = index " (click)="onClickRequrements(i,j,item)">

                        <div class="parent ng-scope active">
                            <img class="img-fluid requiredIcon"
                                src="https://static.visa2fly.com/icon/{{item.fieldName}}.png" [alt]="item.fieldName"
                                style="height: 45px; margin-bottom: 10px;" />
                            <p>{{item.fieldName}}</p>
                        </div>
                    </div>
                </div>

                <div *ngIf="showRequirementsDetailArr[i]" id="innerwrap" class="innerWrap">
                    <h1 style="color: navy">{{selectedDataArr[i].fieldName}}</h1>
                    <p>
                        {{selectedDataArr[i].content}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 mobileOnly">
            <div class="gmvsprite_container" *ngFor="let items of mobileMainArr; let i = index ;">
                <div class="gmvsprite_row">
                    <div class="gmvsprite_col" *ngFor="let item of items;let j = index "
                        (click)="onClickRequrementsMobile(i,j,item)">

                        <div class="parent ng-scope active">
                            <img class="img-fluid requiredIcon"
                                src="https://static.visa2fly.com/icon/{{item.fieldName}}.png" [alt]="item.fieldName"
                                style="height: 45px; margin-bottom: 10px;" />
                            <p>{{item.fieldName}}</p>
                        </div>
                    </div>

                </div>

                <div *ngIf="mobileShowRequirementsDetailArr[i]" id="innerwrap" class="innerWrap"
                    style="">
                    <h1 style="color: navy">{{mobileSelectedDataArr[i].fieldName}}</h1>
                    <p>
                        {{mobileSelectedDataArr[i].content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid wrapContainer mt-4" [@simpleFadeAnimation]="'in'">
    <div class="row">
        <div class="col-lg-12 p-0 impRequired">
            <div class="card">
                <div class="card-header text-center text-white text-uppercase"
                    style="background: #000080; font-weight: 600;">
                    <i class="fa fa-info-circle info mr-2"></i>IMPORTANT VISA INFORMATION FOR {{selectedCountrytype}}
                </div>
                <div class="card-body">
                    <p *ngFor="let points of importantInfo;">
                        <li>{{points}}</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid wrapContainer" [@simpleFadeAnimation]="'in'">
    <div class="row">
        <div class="col-12 text-center">
            <h1><span class="faqContainer">FAQ's</span></h1>
        </div>

        <!-- tourist -->
        <div class="col-12 p-0">
            <div class="accordion" id="AccordionFaq">
                <div *ngFor="let faq of faqs; let first=first; let i = index" class="card faqQueryCard"
                style="border-bottom: 1px soild #000 !important;">
                <div class="card-header faqQuery" id="dataSource[i].id">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                            attr.data-target="{{ dataSource[i].dataToggleHash }}" aria-expanded="true"
                            attr.aria-controls="{{ dataSource[i].dataToggle }}">
                            {{faq.title}}
                        </button>
                    </h5>
                </div>
        
                <div id="{{ dataSource[i].dataToggle }}" class="collapse " [ngClass]="{'show': first}"
                    attr.aria-labelledby="{{ dataSource[i].id }}" data-parent="#AccordionFaq">
                    <div class="card-body">
                        {{faq.content}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>