.setPadding {
  font-weight: 600;
  padding-right: 0px;
  display: flex;
  align-items: center;
}


.visaDropDown {
  padding: 0px;
  padding-right: 15px;
}

.mobileView,
.mobileContainer {
  display: none;
}

.desktopView,
.desktopContainer {
  display: block;
}

.wrapContainer {
  padding: 10px 40px 10px;
}

.imageContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imageContainer.desktopView {
  margin-top: 50px;
  padding: 0px 0px 10px 40px;
  height: 500px;
  overflow: hidden;
}

.imageContainer .breadcrum {
  font-size: 12px;
  margin-bottom: 10px;
  color: #fff;
}

.imageContainer .breadcrum span {
  background-color: rgba(19, 6, 84, 0.4);
  padding: 5px 20px;
}

.imageContainer .breadcrum a {
  font-weight: 500;
  color: #fff;
}

.imageContainer .countryFlag {
  height: 100px;
}

.imageContainer .country-info {
  color: #fff;
  margin-top: 10px;
}

.imageContainer .country-info .country-heading {
  font-size: 20px;
}

.imageContainer .country-info .country-desc {
  font-size: 14px;
  width: 650px;
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .imageContainer {
    margin-top: 60px;
    padding: 0px 30px 10px;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 500px) {
  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .setPadding {
    font-weight: 600;
    padding: 0px;
  }

  .desktopContainer {
    display: none;
  }

  .mat-form-field-infix {
    width: 100px !important;
  }

  .mobileContainer {
    display: block;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .setPadding {
    font-weight: 600;
    padding: 0px;
  }

  .mat-form-field-infix {
    width: 100px !important;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  .changingPurpose {
    width: 250px !important;
  }
}

@media screen and (max-width: 600px) {
  .mobileView,
  .mobileContainer {
    display: block;
  }

  .desktopView,
  .desktopContainer {
    display: none;
  }

  .wrapContainer {
    padding: 10px 15px 10px;
  }

  .visaDropDown {
    padding: 0px;
    padding-right: 0px;
  }
}

.changingPurpose {
  width: 450px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  color: #60666d;
}

.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  opacity: 0.8;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.select-box__value {
  display: -webkit-box;
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  font-weight: 600;
  margin: 0;
  color: #fff;
  padding: 5px 10px;
  background-color: #000080;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.select-box__list {
  position: absolute;
  width: 100%;
  z-index: 99;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.select-box__option {
  display: block;
  padding: 10px;
  background-color: #fff;
}

.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

.select-box svg {
  fill: #fff;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .imageContainer {
    padding: 0px 0px 10px 10px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 600px) {
  .changingPurpose {
    width: 280px;
    padding: 5px 7px;
  }

  .country-desc {
    font-size: 14px;
    border-left: 2px solid dodgerblue;
    padding-left: 5px;
    margin-bottom: 0px;
  }

  .imageContainer {
    height: 225px;
  }
 .imageContainer .countryFlag {
    height: 60px;
    max-width: 110px; 
  }

  .imageContainer .country-info .country-heading {
    font-size: 16px;
  }
}

.planCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.planCard .card-header {
  background: #fec007;
  color: #130654;
}

.planCardRow {
  padding: 4px 0px;
}

.planCardBody {
  font-size: 14px;
  padding: 10px 22px;
}

.submitBtn {
  background: #130654 !important;
  border-radius: 20px !important;
  color: #fff !important;
  padding: 5px 20px !important;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .planCardBody {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .planCardBody {
    padding: 10px 15px;
  }
}

.impRequired .card-header {
  color: #130654;
  font-weight: 600;
  font-size: 16px;
}

.impRequired .card-header svg {
  height: 30px;
  margin-right: 10px;
}

.impRequired .card-body {
  background-color: #130654;
  font-size: 15px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .container-fluid {
    padding: 0px !important;
  }
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.faqQuery {
  background-color: rgba(0, 0, 0, 0.03);
  text-decoration: none !important;
  border-radius: 10px;
  cursor: pointer;
}

.faqQueryCard {
  border-radius: 10px !important;
  text-align: left;
}

.faqQueryCard .card-body {
  font-size: 14px;
}

.wrapContainer {
  padding: 0px 40px 10px;
}

.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.faqQuery button {
  font-weight: 500;
  font-size: 16px;
  color: #0000bb !important;
  text-decoration: none !important;
}

.visaTypeButton button {
  font-weight: 650;
  font-size: 16px;
  color: #fff !important;
  text-decoration: none !important;
}

.faqContainer {
  color: #000;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.faqContainer svg {
  margin-right: 10px;
}

@media screen and (min-width: 481px) and (max-width: 500px) {
  .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #0000bb !important;
    text-decoration: none !important;
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #0000bb !important;
    text-decoration: none !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .faqContainer {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .wrapContainer {
    padding: 0px 15px 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .faqContainer {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .wrapContainer {
    padding: 0px 15px 10px;
  }
}

:host ::ng-deep .tabset ul.nav-pills {
  padding: 7px;
  background-color: #130654;
}

:host ::ng-deep .tabset a.nav-link {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  font-weight: 700;
  padding: 7px;
  background: #8983aa;
}

.showDiv {
  background: #fff !important;
}

:host ::ng-deep .tabset a.nav-link.active {
  background: #fff;
  color: #130654;
}

:host ::ng-deep .iconTabset a.nav-link {
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 0px;
  font-weight: 700;
  padding: 0px;
  background: transparent;
}

:host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
  background: #fff;
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
  height: 120px;
  padding-right: 55px !important;
  border: none;
  font-weight: 700;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .iconTabset a.nav-link .ng-star-inserted::before {
  content: url(../../../../assets/arrow-down.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .iconTabset a.nav-link .showDiv.ng-star-inserted::before {
  content: url(../../../../assets/arrow-up.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .iconTabset ul.nav-pills {
  padding: 0;
  background-color: transparent;
}

:host ::ng-deep .iconTabset a.nav-link.active {
  background: none;
  color: #000;
}

.requiredIcon {
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background: #fff;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.mgxTop {
  margin-top: 10px;
}

.setFontSize {
  font-size: 18px;
  margin-bottom: 0px;
  margin-left: 5%;
  max-width: 160px;
}

.requiredIconHeading {
  font-size: 16px;
  font-weight: 600;
  color: #0000bb;
}

p,
li {
  font-size: 14px;
}

.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.mobileView,
.mobileContainer {
  display: none;
}

.desktopView,
.desktopContainer {
  display: block;
}

.wrapContainer {
  padding: 10px 40px 10px;
}

.requirementContainer {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

.iconSection {
  padding: 0px 0px 20px;
}

@media screen and (min-width: 801px) and (max-width: 1024px) {

  .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 712px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link {
    max-width: 215px !important;
  }

  .setFontSize {
    font-size: 16px;
  }
}

@media screen and (min-width: 481px) and (max-width: 500px) {
  .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }

  :host ::ng-deep .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    width: 155px;
    max-width: 216px;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    max-width: 340px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link.active {
    background: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }

  :host ::ng-deep .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    width: 216px;
    max-width: 216px;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    max-width: 340px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link.active {
    background: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .setFontSize {
    font-size: 16px;
  }

  .iconSection {
    padding: 0px 0px !important;
  }

  :host ::ng-deep .tabset a.nav-link {
    margin-left: 2px !important;
    margin-right: 2px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-size: 14px !important;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    height: 100px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link.active {
    background: none;
  }

  .desktopContainer {
    display: none;
  }

  .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 16px;
  }

  .outerRequirement {
    line-height: 20px;
    margin-top: 10px;
  }

  .mobileContainer {
    display: block;
  }

  .wrapContainer {
    padding: 10px 15px 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .setFontSize {
    font-size: 16px;
  }

  .iconSection {
    padding: 0px 0px !important;
  }

  :host ::ng-deep .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 100px !important;
    padding: 10px !important;
    border: none;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 100px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link.active {
    background: none;
  }

  .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 14px;
  }

  .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }

  .wrapContainer {
    padding: 10px 15px 10px;
  }

  .outerContainer {
    padding: 10px 0px 10px;
  }
}

@media screen and (min-width: 461px) and (max-width: 480px) {
  :host ::ng-deep .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 100px;
    border: none;
    width: 193px !important;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 2px;
    margin-right: 2px;
    height: 115px;
    width: 193px !important;
  }
}

@media screen and (min-width: 421px) and (max-width: 460px) {
  :host ::ng-deep .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 115px;
    padding: 10px;
    border: none;
    width: 170px !important;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    height: 115px;
    width: 170px !important;
  }
}

@media screen and (min-width: 393px) and (max-width: 420px) {
  :host ::ng-deep .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    font-weight: 700;
    width: 375px;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 380px) and (max-width: 392px) {
  :host ::ng-deep .iconTabset a.nav-link {
    background: #fff;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 115px;
    padding: 10px;
    border: none;
    width: 149px !important;
    font-weight: 700;
  }
}

@media screen and (min-width: 361px) and (max-width: 379px) {
  :host ::ng-deep .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    padding: 0px !important;
    border: none;
    width: 345px !important;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 351px) and (max-width: 360px) {
  :host ::ng-deep .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px !important;
    width: 330px !important;
    border: none;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  :host ::ng-deep .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px !important;
    border: none;
    width: 285px !important;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

@media screen and (max-width: 600px) {
  .mobileView,
  .mobileContainer {
    display: block;
  }

  .desktopView,
  .desktopContainer {
    display: none;
  }

  .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  :host ::ng-deep .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 120px;
    padding: 0px !important;
    border: none;
    font-weight: 700;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
    height: 120px;
  }
}

@media screen and (min-width: 1801px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 1735px;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1800px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 1630px;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    max-width: 537px !important;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1700px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 1480px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    max-width: 350px !important;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1501px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 1443px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    max-width: 460px !important;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1401px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 1370px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    max-width: 435px !important;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1301px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 1295px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    max-width: 412px !important;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1225px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 1140px !important;
  }
}

@media screen and (width: 768px) {
  
}

@media screen and (width: 800px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 667px !important;
  }
}

@media screen and (width: 1024px) {
  :host ::ng-deep .iconTabset .tab-pane {
    width: 970px !important;
  }

  :host ::ng-deep .iconTabset a.nav-link {
    max-width: 310px !important;
  }
}

@media screen and (max-width: 600px) {
  .mobileContainer :host ::ng-deep .iconTabset a.nav-link {
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    background: transparent;
  }

  .requiredIcon {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    background: #fff;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}