.form-body {
  position: relative;
  margin-top: 25px;
  text-align: left;
  z-index: 1;
}

.form-body label,
.form-body input {
  display: block;
}

.form-body label {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-body .input-group {
  margin-bottom: 15px;
}

.form-body .input-group input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #bce0fd;
  width: 100%;
  height: 35px;
  padding: 5px;
}

.form-body .input-group .form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=http://www.w3.org/2000/svg width=12 height=12 fill=none stroke=%23dc3545%3E%3Ccircle cx=6 cy=6 r=4.5/%3E%3Cpath stroke-linejoin=round d=M5.8 3.6h.4L6 6.5z/%3E%3Ccircle cx=6 cy=8.2 r=.6 fill=%23dc3545 stroke=none/%3E%3C/svg%3E"); */
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-body input:focus {
  box-shadow: none;
  outline: none;
}

.form-body .button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form-body .button-group .btn,
.form-body .button-group .btn:disabled {
  background-color: #130654;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  font-size: 14px;
  opacity: 1;
}

.form-body .rememberMeBox {
  text-align: left;
}

.form-body .rememberMeBox input,
.form-body .rememberMeBox label {
  display: inline-block;
}

.form-body .rememberMeBox input {
  border: 2px solid #bce0fd;
}

.form-body .rememberMeBox label {
  margin-left: 10px;
}

.spinner-border {
  border: 0.25em solid #fff;
  border-right-color: transparent;
}

.change-group {
  display: flex;
  justify-content: space-evenly;
}

.change-group .resendBtn {
  background: #fff;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 4px;
}

.alert {
  position: relative;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  margin: 0px 15px;
  width: 100%;
}

.invalid-feedback {
  color: #fff;
}