<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-user"></i></span>
    </div>
    <input minlength="6" pattern="^([4-9][0-9]{9}|[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?)$" formControlName="userId" placeholder="Email/Mobile" type="text" class="form-control roundedinput" [ngClass]="{'is-invalid':loginForm.get('userId').invalid && loginForm.get('userId').dirty,'is-valid':!(loginForm.get('userId').invalid && loginForm.get('userId').dirty) && !loginForm.get('userId').pristine}"/>
    <div  class="invalid-feedback" style="display: block;margin-left: 8%;">
        <!-- <div *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid ">Email is required</div> -->
        <div *ngIf="loginForm.get('userId').invalid && loginForm.get('userId').dirty ">Enter a valid email address of mobile number</div>
      </div>
  </div>

  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-lock"></i></span>
    </div>
    <input [ngClass]="{'is-invalid':loginForm.get('password').invalid && loginForm.get('password').dirty,'is-valid':!(loginForm.get('password').invalid && loginForm.get('password').dirty) && !loginForm.get('password').pristine}" minlength="8" maxlength="32" formControlName="password" type="password" class="form-control roundedinput" placeholder="Password" />
    <div  class="invalid-feedback" style="display: block;margin-left: 8%;">
        <!-- <div *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid ">Email is required</div> -->
        <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty ">Enter a valid email address</div>
      </div>
  </div>

  <div class="row align-items-center remember">
    <input formControlName="rememberMe" type="checkbox"><span>Remember Me</span>
  </div>
  <div class=" row form-group d-flex justify-content-center ">
    <div class="form-group">
      <button [disabled]="loginForm.get('userId').invalid && loginForm.get('userId').dirty || loginForm.get('password').invalid && loginForm.get('password').dirty || loginForm.get('password').pristine    || loginForm.get('userId').pristine" type="submit" class="btn float-right login_btn" style="width:200px;">Login</button>
    </div>
  </div>
  <div *ngIf="showLoader" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</form>
