@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

.world {
  position: relative;
  height: 100vh;
  margin-top: 30px;
  /* color: #ffffff;
    text-shadow: 0 0 140px rgba(0, 0, 0, 0.3); */
  /* background-color: #d4418e;
  background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%); */
}

.counrtyCourt {
  width: 500px;
}

.mobileView {
  display: none;
}

.desktopView {
  display: block;
}

.worldTitle {
  font-size: 22px;
  color: #000;
  font-weight: 600;
}

.worldTitle::after {
  content: "";
  background: #000080;
  display: block;
  height: 3px;
  width: 120px;
  margin: 4px auto 2px;
}

.pin {
  position: absolute;
  height: 50px;
  z-index: 1;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(27deg);
  width: 470px;
  height: 470px;
  background: url(https://static.visa2fly.com/globe/world.jpg);
  background-size: cover;
  animation: animateEarth 30s linear infinite;
  border-radius: 50%;
  /* box-shadow: inset 0 0 40px rgba(255, 255, 255, .5); */
  box-shadow: 0 0 70px #fff, 0 0 5px #f8fbfa, 0 0 20px #f8fbfa, 0 0 2px #f8fbfa,
    0 0 5px #f8fbfa, 0 0 0px #f8fbfa;
}

.exploreTheWorld {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(27deg);
  width: 470px;
  height: 470px;
  background: url(https://static.visa2fly.com/globe/world.jpg);
  background-size: cover;
  animation: animateEarth 0.5s linear infinite;
  border-radius: 50%;
  /* box-shadow: inset 0 0 40px rgba(255, 255, 255, .5); */
  box-shadow: 0 0 70px #fff, 0 0 5px #f8fbfa, 0 0 20px #f8fbfa, 0 0 2px #f8fbfa,
    0 0 5px #f8fbfa, 0 0 0px #f8fbfa;
}

.finallyReach {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(27deg);
  width: 470px;
  height: 470px;
  background: url(https://static.visa2fly.com/globe/world.jpg);
  background-size: cover;
  /* background-size: cover; */
  /* animation: animateEarth .5s linear infinite; */
  border-radius: 50%;
  /* box-shadow: inset 0 0 40px rgba(255, 255, 255, .5); */
  box-shadow: 0 0 70px #fff, 0 0 5px #f8fbfa, 0 0 20px #f8fbfa, 0 0 2px #f8fbfa,
    0 0 5px #f8fbfa, 0 0 0px #f8fbfa;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1600px 0;
  }
}

/* CSS talk bubble */
.talk-bubble {
  margin: 30px;
  display: inline-block;
  position: relative;
  width: 365px;
  height: auto;
  background-color: #dbe9fb;
}

.btn-top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.btn-top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.btn-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.btn-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.border {
  border: 8px solid #666;
}
.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/*Right triangle, placed bottom right side slightly in*/
/* .tri-right.border.btm-right-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: #dbe9fb #dbe9fb transparent transparent;
} */

.destinationContent {
  font-size: 15px;
  margin-bottom: 0px;
}

.destinationTitle {
  font-size: 18px;
  font-weight: 700;
  display: inline;
  padding-left: 10px;
  font-family: "Comic Neue", cursive;
}

.destinationImage {
  display: inline;
  height: 60px;
  margin-top: -40px;
}

.tri-right.btm-right:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 22px solid;
  border-color: #dbe9fb #dbe9fb transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  font-family: "Comic Neue", cursive;
  line-height: 1.5em;
}
.talktext p::first-letter {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-size: 22px;
  font-weight: 700;
}

/* 
.talk-bubble .talktext h5{
  margin-left: 72px;
} 

.talk-bubble:nth-child(1) .talktext h5::before{
  content: '';
  position: absolute;
  top: -25px;
  left: 20px;
  height: 60px;
  width: 60px;
  background-image: url(../../../assets/france.png);
  background-size: cover;
}

.talk-bubble:nth-child(2) .talktext h5::before{
  content: '';
  position: absolute;
  top: -25px;
  left: 20px;
  height: 60px;
  width: 60px;
  background-image: url(../../../assets/roman.png);
  background-size: cover;
}

.talk-bubble:nth-child(3) .talktext h5::before{
  content: '';
  position: absolute;
  top: -25px;
  left: 20px;
  height: 60px;
  width: 60px;
  background-image: url(../../../assets/taj-mahal.png);
  background-size: cover;
}

.talk-bubble:nth-child(4) .talktext h5::before{
  content: '';
  position: absolute;
  top: -25px;
  left: 20px;
  height: 60px;
  width: 60px;
  background-image: url(../../../assets/france1.png);
  background-size: cover;
} */

@media screen and (max-width: 768px) {
  .mobileView {
    display: block;
  }

  .pin {
    /* display: none !important; */
  }

  .desktopView {
    display: none;
  }

  .talk-bubble {
    /* display: none !important; */
  }

  .destinationContent {
    line-height: 22px;
  }

  .bubble {
    background-color: #dbe9fb;
    padding: 10px;
    border-radius: 20px;
  }

  .talktext {
    padding: 0px !important;
  }

  .destinationImage {
    display: inline;
    height: 40px;
    margin-top: -28px;
  }

  .worldTitle {
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }

  .worldSubTitle {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
  }
}

@media screen and (width: 320px) {
  .jugGhumia {
    height: 50vh;
  }

  .pin {
    height: 36px;
  }

  .pulse {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }
}

@media screen and (width: 414px) {
  .jugGhumia {
    height: 50vh;
  }

  .pulse {
    width: 310px;
    height: 310px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 310px;
    height: 310px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 310px;
    height: 310px;
    /* top: 40%; */
  }
}

@media screen and (width: 411px) {
  .jugGhumia {
    height: 42vh;
  }

  .pulse {
    width: 300px;
    height: 300px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 300px;
    height: 300px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 300px;
    height: 300px;
    /* top: 40%; */
  }
}

@media screen and (width: 375px) {
  .jugGhumia {
    height: 46vh;
  }
  .pulse {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }
}

@media screen and (width: 768px) {
  .jugGhumia {
    height: 50vh;
  }

  .pulse {
    width: 370px;
    height: 370px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 370px;
    height: 370px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 370px;
    height: 370px;
    /* top: 40%; */
  }
}

@media screen and (width: 360px) {
  .jugGhumia {
    height: 44vh;
  }

  .pulse {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }
}

@media screen and (width: 393px) {
  .jugGhumia {
    height: 50vh;
  }

  .pulse {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }
}

@media screen and (width: 1440px) {
  .world {
    height: 80vh;
  }

  .pulse {
    width: 470px;
    height: 470px;
    top: 55%;
  }

  .exploreTheWorld {
    width: 470px;
    height: 470px;
    top: 55%;
  }

  .finallyReach {
    width: 470px;
    height: 470px;
    top: 55%;
  }
}

@media screen and (max-width: 767px) {
  .counrtyCourt {
    width: 280px;
  }
}
