<section class="world">

  <div class="talk-bubble tri-right round btn-top-left btm-right">
    <div class="talktext">
      <h5>Incridable India</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, harum. Maxime facilis quaerat quia, ratione
        eum alias provident veniam amet architecto veritatis tempore molestias numquam, vero illo repellendus quisquam
        facere.</p>
    </div>
  </div>

  <div class="talk-bubble tri-right round btn-top-right btm-left">
    <div class="talktext">
      <h5>Incridable India</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, harum. Maxime facilis quaerat quia, ratione
        eum alias provident veniam amet architecto veritatis tempore molestias numquam, vero illo repellendus quisquam
        facere.</p>
    </div>
  </div>

  <div class="glow" [ngClass]="{
    'pulse':exploreWorld === 'simpleRotate',
    'exploreTheWorld':exploreWorld === 'findingDestination',
    'finallyReach':exploreWorld === 'reachYourDestination'
  }" [ngStyle]="{
      'background-image':exploreWorld === 'reachYourDestination' ? 'url(../../../assets/world.jpg)' : '',
      'background-size':exploreWorld === 'reachYourDestination' ? 'cover' : '',
      'background-position':exploreWorld === 'reachYourDestination' ? generatePosition: ''
    }" (click)="findPlace()">
    {{generatePosition}}

  </div>

  <div class="talk-bubble tri-right round btn-bottom-left btm-top-right">
    <div class="talktext">
      <h5>Incridable India</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, harum. Maxime facilis quaerat quia, ratione
        eum alias provident veniam amet architecto veritatis tempore molestias numquam, vero illo repellendus quisquam
        facere.</p>
    </div>
  </div>

  <div class="talk-bubble tri-right round btn-bottom-right btm-top-left">
    <div class="talktext">
      <h5>Incridable India</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, harum. Maxime facilis quaerat quia, ratione
        eum alias provident veniam amet architecto veritatis tempore molestias numquam, vero illo repellendus quisquam
        facere.</p>
    </div>
  </div>
</section>

<!-- <div class="talk-bubble">
  <div class="talktext">
    <p>CSS Talk Bubble configured by classes. Defaults to square shape, no triangle. Height is auto-adjusting to the height of the text.</p>
  </div>
</div>
<div class="talk-bubble tri-right left-top">
  <div class="talktext">
    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
  </div>
</div>
<div class="talk-bubble tri-right left-in">
  <div class="talktext">
    <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
  </div>
</div> -->

<!-- <div class="talk-bubble tri-right border round btm-left-in">
  <div class="talktext">
    <p>Now we add a border and it looks like a comic. Uses .border .round and .btm-left-in</p>
  </div>
</div>
<div class="talk-bubble tri-right border btm-right-in">
  <div class="talktext">
    <p>Now flipped the other way and square. Uses .border and .btm-right-in</p>
  </div>
</div> -->
<!-- <div class="talk-bubble tri-right btm-right">
  <div class="talktext">
    <p>Flush to the bottom right. Uses .btm-right only.</p>
  </div>
</div> -->
<!--- <div class="talk-bubble tri-right round right-in">
  <div class="talktext">
    <p>Moving our way back up the right side indented. Uses .round and .right-in</p>
  </div>
</div>
<div class="talk-bubble tri-right round border right-top">
  <div class="talktext">
    <p>And finally on the right flush at the top. Uses .round .border and .right-top</p>
  </div>
</div> -->
