<div class="container-fluid wrapContainer">
    <div class="row">
      <div class="col-12 text-center">
        <h1><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>
          FAQ's</span></h1>
      </div>
  
      <div class="col-12 p-0">
        <div class="accordion" id="bahrainAccordion">
  
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
              data-target="#bahrainAccordion1" aria-expanded="true" aria-controls="bahrainAccordion1">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                    How do I know that my visa has been approved/denied?
                </button>
              </h5>
            </div>
  
            <div id="bahrainAccordion1" class="collapse show" aria-labelledby="heading1"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    After the 3-5 working day process, you will be notified by e-mail on the status of your visa application.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
              data-target="#bahrainAccordion2" aria-expanded="false" aria-controls="bahrainAccordion2">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    If I have a visa, is my entry into Bahrain guaranteed?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion2" class="collapse" aria-labelledby="heading2"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    No. You must match all your visa conditions while on arrival into Bahrain. The Immigration Officer will then determine your final eligibility. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
              data-target="#bahrainAccordion3" aria-expanded="false" aria-controls="bahrainAccordion3">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    What are the grant conditions for my visa?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion3" class="collapse" aria-labelledby="heading3"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    There are a few grant conditions for your visa. These are conditions you need to satisfy to be able to obtain your visa. They include:
                </p>
                <li>You must be outside the Kingdom of Bahrain while you are applying for your visa.</li>
                <li>This visa is being issued on the Internet. You must have obtained and applied for this visa from here.</li>
                <li>The purposes and actual entry of the applicant cannot violate the security and national welfare of the Kingdom of Bahrain.</li>
                <li>The visa fees are paid over the internet, and no receipt is issued for the same.</li>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
              data-target="#bahrainAccordion4" aria-expanded="false" aria-controls="bahrainAccordion4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    What are the entry conditions for my visa?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion4" class="collapse" aria-labelledby="heading4"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    There are a few entry conditions for your visa. These are the conditions you need to be able to enter Bahrain after your flight has landed in the country. They include:
                </p>
                <li>You will not be able to take up any employment (paid or unpaid) during your visit to Bahrain.</li>
                <li>You will have to be able to financially support yourself (and any dependents) during this visit.</li>
                <li>Your passport should be valid for the entire length of time you will be in Bahrain, or the length of the visa, (the longer duration will be considered).</li>
                <li>If the validity of your passport is in doubt, it is likely that your entry into Bahrain may be denied.</li>
                <li>You will need to have a confirmed onward ticket that assures your leave from the Kingdom of Bahrain after your desired travel.</li>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
              data-target="#bahrainAccordion5" aria-expanded="false" aria-controls="bahrainAccordion5">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Can I extend my visa if I need more time?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion5" class="collapse" aria-labelledby="heading5"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    You can extend your visa for upto 14 days  at the Nationality, Passports and Residence Affairs office (NPRA). This is in the Kingdom of Bahrain. You will need to pay a fee for this service.
                </p>
              </div>
            </div>
          </div>
  
          <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
              data-target="#bahrainAccordion6" aria-expanded="false" aria-controls="bahrainAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    How long before my date of travel should I apply for my visa?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion6" class="collapse" aria-labelledby="heading6"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    You should apply at least 1 week in advance to your trip, but no more than 3 months before your date of travel. If your visa expires before entering Bahrain, a new application has to be submitted. Alternatively, if you have made any mistake in your application, you will need 3-5 extra days to process a new visa, so please keep that into consideration while planning.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
              data-target="#bahrainAccordion7" aria-expanded="true" aria-controls="bahrainAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                    Do I have to apply for this D2-4 visa online or in the embassy?
                </button>
              </h5>
            </div>
  
            <div id="bahrainAccordion7" class="collapse" aria-labelledby="heading7"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    This type of visa to Bahrain is issued online. You will not need to go to the Embassy for this visa. If you are confused, you are welcome to contact us for any further help with your visa. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
              data-target="#bahrainAccordion8" aria-expanded="false" aria-controls="bahrainAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Can I work on this business visa?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion8" class="collapse" aria-labelledby="heading8"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    As a general rule, you will not be able to engage in any paid/unpaid work on any business visa. The business visa to Bahrain is not an exception. You cannot take up any employment opportunities whilst here.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
              data-target="#bahrainAccordion9" aria-expanded="false" aria-controls="bahrainAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    My visa validity is over. Can I apply for a new visa while still in Bahrain?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion9" class="collapse" aria-labelledby="heading9"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    You will have to be outside Bahrain before you apply for a new visa. If you wish to extend your visa stay period, you can do so for a maximum of 14 days. This can be done  at the Nationality, Passports and Residence Affairs office (NPRA) in Bahrain. Please note, you will be charged a fee.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
              data-target="#bahrainAccordion10" aria-expanded="false" aria-controls="bahrainAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Can I obtain an A3-14 business visa online?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion10" class="collapse" aria-labelledby="heading10"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    This business visa can be applied for at the Embassy. You can go through us, and we will make it as online as possible for you. If any sites do state that this can be done online, they are either referring to a Visitor online visa or are trying to scam you. Please be careful.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
              data-target="#bahrainAccordion11" aria-expanded="false" aria-controls="bahrainAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    My employer is sponsoring my trip. How should I obtain my visa if this is the case?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion11" class="collapse" aria-labelledby="heading11"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    If you require a sponsored visa, it is the responsibility of your sponsor to arrange this. Your employer, if it is for work, this counted as a sponsor. If they are Registered Users of the Bahrain Visa site, they can apply online for your visa. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse"
              data-target="#bahrainAccordion12" aria-expanded="false" aria-controls="bahrainAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Can I apply for my business visa on my own?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion12" class="collapse" aria-labelledby="heading12"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    Yes, you can. If your employer is not sponsoring your trip, you will be able to apply through the embassy. We can help you with this.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
              data-target="#bahrainAccordion13" aria-expanded="false" aria-controls="bahrainAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Can I obtain a business visa with the documents mentioned above?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion13" class="collapse" aria-labelledby="heading13"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    Usually, these are the only documents needed. Often, the proof of showing that you are a bonafide businessman vary from case to case (eg. depending if you are employed, have your own business, are a freelancer, etc.). In this way, you may be asked for more documents.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse"
              data-target="#bahrainAccordion14" aria-expanded="false" aria-controls="bahrainAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Will I be issued a receipt for my visa fees?
                </button>
              </h5>
            </div>
            <div id="bahrainAccordion14" class="collapse" aria-labelledby="heading14"
              data-parent="#bahrainAccordion">
              <div class="card-body">
                <p>
                    Yes, you will. You will be issued a visa fee receipt for this kind of visa. If you apply online for a visitor visa, this may not be the case.
                </p>
              </div>
            </div>
          </div>
          
        </ng-container>
  
        </div>
      </div>
  
      <div class="col-12 text-center loadMore mt-3">
        <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
      </div>
      
    </div>
  </div>
  