section#plans {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cssTabbing {
  position: relative;
  top: -23px;
  width: 340px;
  margin: 0 auto;
}

.card_wrapper {
  background: red;
  padding: 5px 15px;
  border-radius: 7px;
}

.travelFormTab {
  display: block;
  list-style: none;
  background: #fff;
  margin-bottom: 0;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(159, 159, 159, 0.5);
}

.padding_margin,
li,
ol,
ul {
  padding: 0;
  margin: 0;
}

.articleWrapper.travelFormTab li,
.travelFormTab li {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.travelFormTab li a.active {
  background: #002154;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.travelFormTab li {
  position: relative;
}

.travelFormTab li a {
  display: block;
  list-style: none;
  padding: 10px 6px 10px 26px;
  color: #333;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.label_sty {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  position: relative;
  text-transform: uppercase;
}

 

.formbox_new {
  display: table;
  width: 100%;
}

.formbox_new span {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  top: 15px;
}

ul.travellerAgelist li.ageList {
  display: inline-block;
  width: 20%;
  text-align: center;
  position: relative;
  margin: 0 6px 6px 0;
}

ul.travellerAgelist li.list_btn {
  float: right;
  width: 12%;
  margin-right: 0;
  text-align: center;
}

.ageList input ~ label {
  color: #65657b;
    font-family: sans-serif;
    left: 15px;
    font-size: 12px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: all 200ms ease, color 200ms;
    top: 12px;
}

.ageList input:focus ~ label,
.has-content input ~ label {
  top: 0px;
  font-size: 10px;
  color: #3399ff;
  padding: 2px;
  transition: 0.3s;
  left: 10px;
}

.summary_details .date_input {
  width: 49%;
}

.summary_details .float_left {
  float: left;
}

.summary_details .float_right {
  float: right;
}

.input_sty {
  letter-spacing: 0;
  font-weight: 500;
  border: 0;
  padding: 4px 10px;
  border-radius: 4px;
  width: 100%;
  color: #757575;
  font-size: 12px;
  min-height: 40px;
  box-shadow: 1px 1px 1px #000;
  display: flex;
}

.plans-filter span {
    width: 50%;
    display: inline-block;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    margin: 5px 0 3px;
    letter-spacing: 0;
    position: relative;
    text-transform: uppercase;
}

.plans-filter select {
    height: 19px;
    width: 50%;
    background: transparent;
    display: inline-block;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    padding: 0;
    color: #fff;
}