<p>insurance-plan works!</p>
<section id="plans">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12 summary_details"
      >
        <div class="card_wrapper">
          <form action="">
            <div class="form-row">
              <div class="col-12">
                <article class="cssTabbing">
                  <ul tabindex="0" class="travelFormTab">
                    <li>
                      <a href="javascript:void(0)" data-value="1" class="active"
                        >Family/Self</a
                      >
                    </li>
                    <li>
                      <a href="javascript:void(0)" data-value="2"
                        >Group/Friends</a
                      >
                    </li>
                  </ul>
                </article>
              </div>
              <div class="col-12">
                <span class="label_sty">Destinations</span>
                <input
                  type="text"
                  name=""
                  id=""
                  placeholder="Please input all countries"
                  class="form-control input_sty"
                />
              </div>
              <div class="col-12">
                <div id="travellerDetails" class="formbox_new">
                  <span>Age of Traveller(s)</span>
                  <ul class="travellerAgelist">
                    <li class="ageList list_btn">
                      <button class="btn">Add</button>
                    </li>
                    <li class="ageList">
                      <input type="text" class="form-control input_sty" />
                      <label class="ng-binding" for="input_19">self</label>
                    </li>
                    <li class="ageList">
                      <input type="text" class="form-control input_sty" />
                      <label class="ng-binding" for="input_19">self</label>
                    </li>
                    <li class="ageList">
                      <input type="text" class="form-control input_sty" />
                      <label class="ng-binding" for="input_19">self</label>
                    </li>
                    <li class="ageList">
                      <input type="text" class="form-control input_sty" />
                      <label class="ng-binding" for="input_19">self</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 d-block pb-2">
                <span class="label_sty">Travel Dates</span>
                <div class="float_left date_input">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control input_sty"
                  />
                </div>
                <div class="float_right date_input">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control input_sty"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12 plans_details">
        <div class="card_wrapper">
            <div class="row">
                <div class="col-5" style="padding: 0px 8px;">
                    <div class="plans-filter">
                        <span>Sum Insured</span>
                        <select name="" id="" class="form-control-sm">
                            <option value="">Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-5" style="padding: 0px 8px;">
                    <div class="plans-filter">
                        <span>Sum Insured</span>
                        <select name="" id="" class="form-control-sm">
                            <option value="">Name</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
