<p>insurance-plan works!</p>
<section id="plans">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12 summary_details"
      >
        <div class="card_wrapper mt-2">
          <form action="">
            <div class="form-row">
              <div class="col-12">
                <article class="cssTabbing">
                  <ul tabindex="0" class="travelFormTab">
                    <li>
                      <a href="javascript:void(0)" data-value="1" class="active"
                        >Family/Self</a
                      >
                    </li>
                    <li>
                      <a href="javascript:void(0)" data-value="2"
                        >Group/Friends</a
                      >
                    </li>
                  </ul>
                </article>
              </div>
              <div class="col-12 mb-1">
                <span class="label_sty">Destinations</span>
                <input
                  type="text"
                  name=""
                  id=""
                  placeholder="Please input all countries"
                  class="form-control input_sty"
                />
              </div>
              <div class="col-12">
                <div id="travellerDetails" class="formbox_new">
                  <span>Age of Traveller(s)</span>
                  <ul class="travellerAgelist">
                    <li class="ageList list_btn">
                      <button class="btn">Add</button>
                    </li>
                    <li class="ageList">
                      <div class="ageListInputBox">
                        <input type="text" class="form-control input_sty" />
                        <label class="ng-binding" for="input_19">self</label>
                      </div>
                    </li>
                    <li class="ageList">
                      <div class="ageListInputBox">
                        <input type="text" class="form-control input_sty" />
                        <label class="ng-binding" for="input_19">self</label>
                      </div>
                    </li>
                    <li class="ageList">
                      <div class="ageListInputBox">
                        <input type="text" class="form-control input_sty" />
                        <label class="ng-binding" for="input_19">self</label>
                      </div>
                    </li>
                    <li class="ageList">
                      <div class="ageListInputBox">
                        <input type="text" class="form-control input_sty" />
                        <label class="ng-binding" for="input_19">self</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 d-block pb-2">
                <span class="label_sty">Travel Dates</span>
                <div class="float_left date_input">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control input_sty"
                  />
                </div>
                <div class="float_right date_input">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control input_sty"
                  />
                </div>
              </div>
              <div class="col-12 formbox_new">
                <span class="radioLabel">Any medical conditions</span>
                <div class="radioBox">
                  <label class="wrapper"
                    >Yes
                    <input type="radio" name="radio" value="1" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >No
                    <input
                      type="radio"
                      checked="checked"
                      name="radio"
                      value="0"
                    />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="col-12 formbox_new">
                <span class="radioLabel"
                  >Travelling multiple times in a year?</span
                >
                <div class="radioBox">
                  <label class="wrapper"
                    >Yes
                    <input type="radio" name="MultitripRadio" value="1" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >No
                    <input type="radio" name="MultitripRadio" value="0" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="col-12 formbox_new tripF">
                <span class="radioLabel">Trip Frequency</span>
                <div class="radioBox">
                  <label class="wrapper"
                    >30
                    <input type="radio" name="radio2" value="1" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >45
                    <input type="radio" name="radio2" value="0" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >60
                    <input type="radio" name="radio2" value="1" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="wrapper"
                    >90
                    <input type="radio" name="radio2" value="1" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn-sm btn btn-proceed" type="button">Proceed</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12 plans_details">
        <div class="card_wrapper mt-2">
          <div class="row">
            <div class="col-5" style="padding: 0px 8px">
              <div class="plans-filter">
                <span>Sum Insured</span>
                <select name="" id="" class="form-control-sm">
                  <option value="">Name</option>
                </select>
              </div>
            </div>
            <div class="col-5" style="padding: 0px 8px">
              <div class="plans-filter">
                <span>Sum Insured</span>
                <select name="" id="" class="form-control-sm">
                  <option value="">Name</option>
                </select>
              </div>
            </div>
            <div class="col-2" style="padding: 0px 8px">
              <div class="plans-filter">
                <button class="btn btn-sm">Filter</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card_wrapper mt-2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="plans_details">
                <table width="100%">
                  <thead style="font-size: 14px;">
                    <tr>
                      <th width="40%">Benefits</th>
                      <th width="30%" style="text-align: right;">Sub limit</th>
                      <th width="30%" style="text-align: right;">Deductible</th>
                    </tr>
                  </thead>
                  <tbody style="font-size: 13px;">
                    <tr>
                      <td>Hospitalization Expenses</td>
                      <td style="text-align: right;">
                        50k and 1 Ll
                      </td>
                      <td style="text-align: right;">
                        Nil
                      </td>
                    </tr>
                    <tr>
                      <td>-In-patient Care</td>
                      <td style="text-align: right;">
                        up to SI
                      </td>
                      <td style="text-align: right;">
                        up to SI
                      </td>
                    </tr>
                    <tr>
                      <td>-Out-patient Treatment</td>
                      <td style="text-align: right;">
                        10% Of sum insured
                      </td>
                      <td style="text-align: right;">
                        10% Of sum insured
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
