.world {
  position: relative;
  height: 570px;
  margin-top: 30px;
}

.counrtyCourt {
  width: 360px;
}

.mobileView {
  display: none;
}

.desktopView {
  display: block;
}

.worldTitle {
  font-size: 19px;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
}

.worldSubTitle  {
  font-size: 13px;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 0px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.worldTitle::after {
  content: "";
  background: #000080;
  display: block;
  height: 3px;
  width: 120px;
  margin: 4px auto 2px;
}

.pin {
  position: absolute;
  height: 50px;
  z-index: 1;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 400px;
  height: 400px;
  background: url(https://static.visa2fly.com/globe/world.jpg);
  background-size: cover;
  box-shadow: 0 0 70px #fff, 0 0 5px #f8fbfa, 0 0 20px #f8fbfa, 0 0 2px #f8fbfa,
    0 0 5px #f8fbfa, 0 0 0px #f8fbfa;
  -webkit-transform: translate(-50%, -45%);
  -moz-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  -o-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: animateEarth 30s linear infinite;
  animation: animateEarth 30s linear infinite;
}

.exploreTheWorld {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 400px;
  height: 400px;
  background: url(https://static.visa2fly.com/globe/world.jpg);
  background-size: cover;
  box-shadow: 0 0 70px #fff, 0 0 5px #f8fbfa, 0 0 20px #f8fbfa, 0 0 2px #f8fbfa,
    0 0 5px #f8fbfa, 0 0 0px #f8fbfa;
  -webkit-transform: translate(-50%, -45%);
  -moz-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  -o-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: animateEarth 0.5s linear infinite;
  animation: animateEarth 0.5s linear infinite;
}

.finallyReach {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 400px;
  height: 400px;
  background: url(https://static.visa2fly.com/globe/world.jpg);
  background-size: cover;
  box-shadow: 0 0 70px #fff, 0 0 5px #f8fbfa, 0 0 20px #f8fbfa, 0 0 2px #f8fbfa,
    0 0 5px #f8fbfa, 0 0 0px #f8fbfa;
  -webkit-transform: translate(-50%, -45%);
  -moz-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  -o-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1600px 0;
  }
}

/* CSS talk bubble */
.talk-bubble {
  margin: 30px;
  display: inline-block;
  position: relative;
  width: 380px;
  height: auto;
  background-color: #f0f8ff;
}

.btn-top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.btn-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.btn-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.border {
  border: 8px solid #666;
}
.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.destinationContent {
  font-size: 12px;
    margin-bottom: 0px;
    font-weight: normal;
}

.destinationTitle {
  font-size: 15px;
  font-weight: 500;
  display: inline;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

.world-Img {
  width: 60px;
  height: 60px;
  zoom: 0.95;
  display: inline-block;
  margin-top: -40px;
}

.tri-right.btm-right:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 22px solid;
  border-color: #f0f8ff #f0f8ff transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  font-family: "Roboto", sans-serif;
  /* font-family: cursive; */
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}
.talktext p::first-letter {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-size: 22px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .destinationContent {
    line-height: 22px;
  }

  .bubble {
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .talktext {
    padding: 0px !important;
  }

  .world-Img {
    zoom: 0.7;
  }

  .worldTitle {
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }

  .worldSubTitle {
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .jugGhumia {
    height: 50vh;
  }

  .counrtyCourt {
    width: 246px !important;
  }

  .pin {
    height: 36px;
  }

  .pulse {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .world-heritage {
    height: 90px;
    width: 100%;
    margin-top: -14px;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .jugGhumia {
    height: 48vh;
  }

  .counrtyCourt {
    width: 246px !important;
  }

  .pulse {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 240px;
    height: 240px;
    /* top: 40%; */
  }

  .world-heritage {
    height: 100px;
    width: 100%;
    margin-top: -10px;
  }
}

@media (min-width: 375px) and (max-width: 392px) {
  .jugGhumia {
    height: 46vh !important;
  }
  .pulse {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .world-heritage {
    height: 100px;
    width: 100%;
    margin-top: -2px;
  }
}

@media (min-width: 393px) and (max-width: 410px) {
  .jugGhumia {
    height: 50vh;
  }

  .pulse {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 270px;
    height: 270px;
    /* top: 40%; */
  }

  .world-heritage {
    height: 100px;
    width: 100%;
    margin-top: -2px;
  }
}

@media (min-width: 411px) and (max-width: 413px) {
  .jugGhumia {
    height: 50vh;
  }

  .counrtyCourt {
    width: 325px !important;
  }

  .pulse {
    width: 300px;
    height: 300px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 300px;
    height: 300px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 300px;
    height: 300px;
    /* top: 40%; */
  }

  .world-heritage {
    height: 110px;
    width: 100%;
    margin-top: -2px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .jugGhumia {
    height: 50vh;
  }

  .pulse {
    width: 310px;
    height: 310px;
    /* top: 40%; */
  }

  .exploreTheWorld {
    width: 310px;
    height: 310px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 310px;
    height: 310px;
    /* top: 40%; */
  }

  .world-heritage {
    height: 110px;
    width: 100%;
    margin-top: -2px;
  }
}

@media screen and (width: 768px) {
  .jugGhumia {
    height: 50vh;
  }

  .pulse {
    width: 370px;
    height: 370px;
    /* top: 40%; */
  }

  .counrtyCourt {
    width: 423px;
  }

  .exploreTheWorld {
    width: 370px;
    height: 370px;
    /* top: 40%; */
  }

  .finallyReach {
    width: 370px;
    height: 370px;
    /* top: 40%; */
  }
}

@media screen and (width: 1440px) {
  .world {
    height: 80vh;
  }

  .pulse {
    width: 470px;
    height: 470px;
    top: 55%;
  }

  .exploreTheWorld {
    width: 470px;
    height: 470px;
    top: 55%;
  }

  .finallyReach {
    width: 470px;
    height: 470px;
    top: 55%;
  }
}

@media screen and (max-width: 768px) {
  .counrtyCourt {
    width: 280px;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .counrtyCourt {
    width: 280px;
  }
}

@media screen and (max-width: 1026px) and (min-width: 1022px) {
  .world {
    position: relative;
    height: 900px;
    margin-top: 30px;
  }

  .pulse,
  .exploreTheWorld,
  .finallyReach {
    -webkit-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }

  .btn-top-left {
    position: absolute;
    top: 50px;
    left: 20px;
  }

  .btn-top-right {
    position: absolute;
    top: 50px;
    right: 20px;
  }
}
