<section id="faq">
<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
        </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="russiaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#russiaAccordion1" aria-expanded="true" aria-controls="russiaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can i get my Russia visa processed quickly like in 2-3 days?
              </button>
            </h5>
          </div>

          <div id="russiaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>
                Yes you can. Russian embassy provides Express visa service in which you visa
                can get processed within 2-3 days. You can opt for Express visa processing from the
                quotations that have been displayed to you on top of this page.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#russiaAccordion2" aria-expanded="false" aria-controls="russiaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there a visa on arrival for Russia?
              </button>
            </h5>
          </div>
          <div id="russiaAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>If you hold a normal (and not a diplomatic) passport, you will
                have to apply for a visa before your trip. Visa on arrival
                is not available for this country as of yet.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#russiaAccordion3" aria-expanded="false"
            aria-controls="russiaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What are the photograph requirements for the Russian visa?
              </button>
            </h5>
          </div>
          <div id="russiaAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>The photograph must be 3.5x4.5cm. It must also be taken
                no longer than 6 months prior to submitting the application.
                It should be on a
                light-coloured background, with a clear image of the applicant
                directly facing the camera.Please make sure the applicant is
                not wearing dark/ tinted glasses or any kind of headgear. Those who
                wear said headgear due to their ethnic/religious background are
                exempted from this rule.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#russiaAccordion4" aria-expanded="false" aria-controls="russiaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is the invitation letter necessary?
              </button>
            </h5>
          </div>
          <div id="russiaAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>Yes. You will need an invitation letter from a friend,
                acquaintance, relative, or establishment. This is necessary
                for all Russian visas.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#russiaAccordion5" aria-expanded="false" aria-controls="russiaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Who all are authorised to issue invitation letters?
              </button>
            </h5>
          </div>
          <div id="russiaAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>Depending on the type of visa, it can be issued by
                different people. It can be issued by a friend or a relative
                staying in Russia or a tourist company/organization. This organization
                should be accredited at the Department of Consulate Service of
                the Ministry for Foreign Affairs of the RF or the Federal
                Migration Service. The travel company must have its own reference
                number in Russia’s United Register of Tour Operators, so please
                make sure of this before you sign up.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse"  class="collapse">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#russiaAccordion6" aria-expanded="false" aria-controls="russiaAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How long does it take to obtain an invitation letter for the Russia Visa?
              </button>
            </h5>
          </div>
          <div id="russiaAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>Usually, this process can be done in a day or two. You will
                need to go through a travel agency, who will issue you this letter.
                This travel company must have its own reference number in Russia’s
                United Register of Tour Operators, so please make sure of
                this before you sign up.If you still have any doubts you can get on a call
                us on our support number
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#russiaAccordion7" aria-expanded="false"
            aria-controls="russiaAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I changed my signature after obtaining my passport - is it ok?
              </button>
            </h5>
          </div>
          <div id="russiaAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>The signature used on the passport, and the one used
                on the application form must be identical. Otherwise, the
                application you submit to the Russian Embassy
                will be considered invalid.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#russiaAccordion8" aria-expanded="false" aria-controls="russiaAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What information does my letter of invitation have to contain?
              </button>
            </h5>
          </div>

          <div id="russiaAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>Your letter of invitation will have to contain
                information on the individual applicant, as well as the
                company. For the individual, their full name, date of birth,
                sex, citizenship, phone number and passport details must
                be submitted. Their duration and purpose of visit, number of entries
                granted by the visa must also be shown. If applicable, the names
                and dates of birth of minor children accompanying the person invited
                must also be shown. For the hosting company (who is issuing the invitation),
                the full name of the organization, its registered and actual addresses,
                its individual taxpayer identification number and state registration
                number must be provided. The first name, surname and designation
                of the person signing the invitation, along with their contact
                telephone number and the organization’s official seal
                is also necessary.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#russiaAccordion9" aria-expanded="false"
            aria-controls="russiaAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What are the specifications for my invitation to entry?
              </button>
            </h5>
          </div>

          <div id="russiaAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>The letter can be any of the following:
              </p>
              <li>
                Should be issued by the Federal Migration Service of the
                Russian Federation; or the Ministry of Internal Affairs
                of the Russian Federation. These must be originals, unless
                they are issued electronically - then a copy will suffice.
              </li>
              <li>Or, it could be a visa directive sent by the Ministry of Foreign Affairs of the Russian
                Federation</li>
              <li>Or, you could submit a direct letter of invitation from the host organization (a copy can be
                submitted)
              </li>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#russiaAccordion10" aria-expanded="false"
            aria-controls="russiaAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What can I use my business visa for?
              </button>
            </h5>
          </div>

          <div id="russiaAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>Business visas are used for business purposes, such as
                attending conferences, signing papers, etc. You can also
                partake in tourist purposes, but that should not be your
                purpose of travel. Please note, you will not be able to work
                a job with this visa, it is temporary.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
            data-target="#russiaAccordion11" aria-expanded="true" aria-controls="russiaAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What can I use the Russia transit visa for?
              </button>
            </h5>
          </div>

          <div id="russiaAccordion11" class="collapse" aria-labelledby="heading11"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>You can only use this transit visa for moving through
                the Russian Federation. You cannot sightsee with
                this visa, even if you will only need 3 days.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading12" data-toggle="collapse"
            data-target="#russiaAccordion12" aria-expanded="true" aria-controls="russiaAccordion12">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I apply for an e-visa for Russia?
              </button>
            </h5>
          </div>

          <div id="russiaAccordion12" class="collapse" aria-labelledby="heading12"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>
                It is possible to apply for an e-visa for Russia. However,
                they are only for three regions (The Far East, St Petersburg
                and Leningrad region, and Kaliningrad). There are different
                e-visas for each region, therefore you will not be able to
                travel to the other regions without a full Russian visa. For
                a full Russian visa, you will need to go manually, not through
                an e-visa. The electronic visas are also only available
                for a short period of time, eg. 8 days.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
            data-target="#russiaAccordion13" aria-expanded="true" aria-controls="russiaAccordion13">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is hotel confirmation mandatory for visa processing ?
              </button>
            </h5>
          </div>

          <div id="russiaAccordion13" class="collapse" aria-labelledby="heading13"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>
                Yes. Hotel confirmation is required in Russian Language by the Russian embassy.
                You can request your tour operator or hotel for the same they will be providing you
                the same without any questions asked as it is a standard procedure by Russian embassy
                that they are aware of.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading14" data-toggle="collapse"
            data-target="#russiaAccordion14" aria-expanded="true" aria-controls="russiaAccordion14">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Whether Travel Insurance is required for travel to Russia?
              </button>
            </h5>
          </div>

          <div id="russiaAccordion14" class="collapse" aria-labelledby="heading14"
            data-parent="#russiaAccordion">
            <div class="card-body">
              <p>
                For issuance of Visa, Travel Insurance is not required but while travelling
                it is must to carry Travel Insurance along.
              </p>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>

  </div>
</div>
</section>
