<div class="marginTop">

<app-carousel></app-carousel>
<main class="homecontainer">
    <app-home-form ></app-home-form>
    <p>Click On These Buttons For Static Pages</p>
    <button class="btn btn-dark mr-2" [routerLink]="['/visa/united-kingdom','tourist']" routerLinkActive="router-link-active" >Uk</button>
    <!-- <button class="btn btn-dark" [routerLink]="['/australia']" routerLinkActive="router-link-active" >Australia</button> -->
</main>
<app-home-step> </app-home-step>
<app-mini-carousel></app-mini-carousel>
<app-why-choose-us></app-why-choose-us>
<app-testimonial></app-testimonial>
<!-- <app-date></app-date> -->
</div>
