.homecontainer{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}



@media (min-width: 320px) and (max-width: 767px) {
    
    .marginTop{
        margin-top: 50px;
    }

    .homecontainer{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
  
  }


  @media (min-width: 768px) {
    .marginTop {
        margin-top: 50px;
    }
  }