@media (min-width: 320px) and (max-width: 767px) {
  .marginTop {
    margin-top: 100px;
  }
}

@media (min-width: 570px) and (max-width: 900px) {
  .homecontainer {
    margin-top: 0px;
  }
}

@media screen and (min-width: 600px) and (max-width: 640px) {
  .homecontainer {
    margin-top: 65px !important;
  }
}
