<div class="marginTop">
  <app-carousel></app-carousel>
  <main class="homecontainer">
    <app-home-form></app-home-form>
    <!-- <app-offer-banner></app-offer-banner> -->
  </main>
  <app-home-step> </app-home-step>
  <app-short-video></app-short-video>
  <app-mini-carousel></app-mini-carousel>
  <app-why-choose-us></app-why-choose-us>
  <app-world></app-world>
  <app-testimonial></app-testimonial>
  <app-site-brief></app-site-brief>

  <div id="countryInputContainer">
    <h5 class="label_text" id="homeform_heading">
      <span>
        <svg id="backBtn" class="backBtn_icon" (click)="onBackButton()">
          <use xlink:href="assets/sprites/sprite.svg#arrow-left"></use>
        </svg>
      </span>
      <span class="label" id="homeform_label"> Destination </span>
    </h5>

    <form [formGroup]="homeForm">
      <!-- <ng-select
        placeholder="Select Country"
        id="countryInput_homeform"
        [isOpen]="true"
        (change)="countryChanged($event)"
      >
        <ng-option *ngFor="let country of countryList" [value]="country">
          {{ country }}
        </ng-option>
      </ng-select> -->

      <ng-select
        #countryMobile
        [items]="countryList"
        [dropdownPosition]="'bottom'"
        [searchable]="false"
        [searchFn]="inputSearchFn"
        (open)="focusInputField('countryMobile')"
        class="desktopInput"
        [isOpen]="true"
        id="countryInput_homeform"
        formControlName="country"
        placeholder="Select Country"
        required
        (change)="countryChanged()"
      >
        <ng-template ng-header-tmp>
          <div style="display: flex">
            <input
              #countryInput_mobile
              style="width: 100%; line-height: 24px; box-shadow: none"
              type="text"
              class="form-control form-control-sm"
              (input)="countryMobile.filter($event.target.value)"
            />
            <i
              [hidden]="countryInput_mobile.value.length === 0"
              (click)="countryMobile.filter(''); countryInput_mobile.value = ''"
            ></i>
          </div>
        </ng-template>
        <div>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            {{ item }}
          </ng-template>
        </div>
      </ng-select>

      <!-- <ng-select
        id="purposeInput_homeform"
        [isOpen]="true"
        (change)="visaTypeChanged($event)"
      >
        <ng-option value="" aria-disabled="true" disabled="disabled">
          Select
        </ng-option>
        <ng-option *ngFor="let purpose of purposeArr" [value]="purpose">
          {{ purpose }}
        </ng-option>
      </ng-select> -->

      <ng-select
        #visaTypeMobile
        [items]="purposeArr"
        [dropdownPosition]="'bottom'"
        [searchable]="false"
        [isOpen]="true"
        (change)="visaTypeChanged()"
        [searchFn]="inputSearchFn"
        (open)="focusInputField('visaTypeMobile')"
        class="desktopInput"
        id="purposeInput_homeform"
        formControlName="purpose"
        placeholder="Select"
        required
      >
        <ng-template ng-header-tmp>
          <div style="display: flex">
            <input
              #visaTypeInput_mobile
              style="width: 100%; line-height: 24px; box-shadow: none"
              type="text"
              class="form-control form-control-sm"
              (input)="visaTypeMobile.filter($event.target.value)"
            />
            <i
              [hidden]="visaTypeInput_mobile.value.length === 0"
              (click)="
                visaTypeMobile.filter(''); visaTypeInput_mobile.value = ''
              "
            ></i>
          </div>
        </ng-template>
        <div>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            {{ item }}
          </ng-template>
        </div>
      </ng-select>

      <!-- <ng-select
        formControlName="livingin"
        placeholder="Select Reside In"
        id="liveInInput_homeform"
        [isOpen]="true"
        (change)="resideInChanged($event)"
      >
        <ng-option value="" aria-disabled="true" disabled="disabled">
          Select
        </ng-option>
        <ng-option *ngFor="let livesin of resideInArr" [value]="livesin">
          {{ livesin }}
        </ng-option>
      </ng-select> -->

      <ng-select
        #resideInMobile
        [items]="resideInArr"
        [dropdownPosition]="'bottom'"
        [searchable]="false"
        [isOpen]="true"
        id="liveInInput_homeform"
        [searchFn]="inputSearchFn"
        (open)="focusInputField('resideInMobile')"
        class="desktopInput"
        formControlName="livingin"
        (change)="resideInChanged()"
        placeholder="Select"
        required
      >
        <ng-template ng-header-tmp>
          <div style="display: flex">
            <input
              #resideInInput_mobile
              style="width: 100%; line-height: 24px; box-shadow: none"
              type="text"
              class="form-control form-control-sm"
              (input)="resideInMobile.filter($event.target.value)"
            />
            <i
              [hidden]="resideInInput_mobile.value.length === 0"
              (click)="
                resideInMobile.filter(''); resideInInput_mobile.value = ''
              "
            ></i>
          </div>
        </ng-template>
        <div>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            {{ item }}
          </ng-template>
        </div>
      </ng-select>
    </form>
  </div>
</div>
