.homecontainer{
    margin-top: 0px;
    margin-left: 250px;
    margin-right: 250px;
}



@media (min-width: 320px) and (max-width: 767px) {
    
    .marginTop{
        margin-top: 50px;
    }

    .homecontainer{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
  
  }


  @media (min-width: 570px) and (max-width: 900px) {
    .homecontainer{
        margin-top: 0px;
        margin-left: 40px !important;
        margin-right: 40px !important;
    }
  }


@media screen and (min-width: 600px) and (max-width: 640px) {
    .homecontainer {
        margin-top: 65px !important;
    }

}


@media screen and (min-width: 900px) and (max-width: 1024px) {
    .homecontainer {
        margin-left: 230px;
        margin-right: 230px;
    }

}