<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-12 p-0 impRequired">
        <div class="card">
          <div class="card-header text-center  text-uppercase"
            >
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
              id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
              xml:space="preserve" width="15px" height="15px" class="hovered-paths mr-1"
              style="margin-top: -3px;">
              <g>
                <g>
                  <g>
                    <path
                      d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M298.667,416    c0,5.896-4.771,10.667-10.667,10.667h-64c-5.896,0-10.667-4.771-10.667-10.667V256h-10.667c-5.896,0-10.667-4.771-10.667-10.667    v-42.667c0-5.896,4.771-10.667,10.667-10.667H288c5.896,0,10.667,4.771,10.667,10.667V416z M256,170.667    c-23.531,0-42.667-19.135-42.667-42.667S232.469,85.333,256,85.333s42.667,19.135,42.667,42.667S279.531,170.667,256,170.667z"
                      data-original="#000000" class="hovered-path active-path" data-old_color="#000000"
                      fill="#FFFFFF" />
                  </g>
                </g>
              </g>
            </svg>IMPORTANT VISA INFORMATION FOR BRAZIL
          </div>
          <div class="card-body">
            <p>
              <li>All Indian passport holders require a valid visa to enter Brazil.</li>
            </p>
            <p>
              <li>Applicant must have all the mandatory documents while applying for Brazil Visa online as
                mentioned in requirement tabs below</li>
            </p>
            <p>
              <li>In addition to the documents mentioned, our visa experts or the concerned embassy may require
                you to furnish additional documents to process your visa. Your cooperation in furnishing any
                such additional documents
                is essential for a positive outcome.</li>
            </p>
            <p>
              <li>If all the documents are not ready at the time of agent visit then additional charges levied
                when agent visits your residence again</li>
            </p>
            <p>
              <li>The fee may vary for the country if the rate of the embassy fluctuates.</li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
