<div class="container-fluid wrapContainer mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
        xmlns="http://www.w3.org/2000/svg">
        <g>
          <g>
            <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
            <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
            <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
            <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
            <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
            <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
            <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
            <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
          </g>
          <path
            d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
            fill="#66b3ff" />
          <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
          <path d="m241 210h30v30h-30z" fill="#edf5ff" />
          <path
            d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
            fill="#edf5ff" />
          <g fill="#d5e8fe">
            <path d="m256 210h15v30h-15z" />
            <path
              d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
          </g>
        </g>
        </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="maldivesAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#maldivesAccordion1"
            aria-expanded="true" aria-controls="maldivesAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                How will I know exactly how many days of stay are permitted in my
                case?
              </button>
            </h5>
          </div>

          <div id="maldivesAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#maldivesAccordion">
            <div class="card-body">
              <p>The period of stay granted is shown on the endorsement in the passport. It is recommended to
                check your passport for the arrival endorsement, paying attention to the number of days
                granted for a stay in
                the Maldives. In case of Maldives Tourist Visa for Indians, once Immigration has been cleared,
                and the passenger is now dubbed a tourist, he/she is not allowed to engage in any form of
                business or paid
                employment while in the Maldives. The duration of stay is usually 30 days unless agreed by any
                bilateral means or treaty. Decisions on the period of stay are at the discretion of the
                Maldives Immigration
                to grant any number of days less than or equal to 30.</p>


            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#maldivesAccordion2"
            aria-expanded="false" aria-controls="maldivesAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What constitutes those who are not considered “genuine tourists”? Am
                I eligible for a Tourist Visa if I fall under this category?
              </button>
            </h5>
          </div>
          <div id="maldivesAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#maldivesAccordion">
            <div class="card-body">
              <p> Categories like social visitors, friends, family visitors or media and business visitors
                come under this umbrella and said persons are highly advised, if applicable, to declare
                sponsorship prior to their
                arrivals. If you fall under any of these categories, you are eligible for a tourist visa,
                however, as stated previously, declaring sponsorship is recommended.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#maldivesAccordion3"
            aria-expanded="true" aria-controls="maldivesAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I e-mail these documents to Immigration myself?
              </button>
            </h5>
          </div>

          <div id="maldivesAccordion3" class="collapse show" aria-labelledby="heading3"
            data-parent="#maldivesAccordion">
            <div class="card-body">
              <p>No, all the documents required must be e-mailed in mentioned formats, to Immigration at
                “bv@immigration.gov.mv “by the sponsor/employer. </p>


            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#maldivesAccordion4"
            aria-expanded="false" aria-controls="maldivesAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I board my flight to the Maldives if the 48-hour visa
                processing and approval period end while I am on-board?
              </button>
            </h5>
          </div>
          <div id="maldivesAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#maldivesAccordion">
            <div class="card-body">
              <p> No, it is advised against boarding the flight to travel to the Maldives before the visa is
                approved, as the entry to the Maldives will not be granted before the visa approval.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#maldivesAccordion5"
            aria-expanded="false" aria-controls="maldivesAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                As an employer, what do I need to do after the initial submission of documents for the visa?
              </button>
            </h5>
          </div>
          <div id="maldivesAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#maldivesAccordion">
            <div class="card-body">
              <p> After the Business Visa is approved – for which you be informed via email - the original
                form set of the application should be submitted to the Immigration Office at Velana
                International Airport and pay
                an amount of MVR750 (the visa fee), at least 1 hour before the arrival of the foreigner.
                Passengers scheduled to arrive from Gan International Airport can pay this amount to the
                Immigration Office at
                Gan International Airport itself.
              </p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#maldivesAccordion6"
              aria-expanded="true" aria-controls="maldivesAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Is there a Maldives visa on arrival for Indian citizens?
                </button>
              </h5>
            </div>

            <div id="maldivesAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>Yes. Citizens of all nationalities can obtain a visa on arrival to Maldives, provided they have the
                  correct supporting documents as entry requirement.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#maldivesAccordion7"
              aria-expanded="false" aria-controls="maldivesAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can you obtain a Maldives visa online?
                </button>
              </h5>
            </div>
            <div id="maldivesAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>People from all nationalities can obtain a Maldives visa on arrival. Hence, you would not need to
                  apply for Maldives visa online. You can check our website <a href="www.visafly.com">@Visa2Fly</a> to know more about what
                  documents you’ll need!</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#maldivesAccordion8"
              aria-expanded="false" aria-controls="maldivesAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  For how long is a Maldives visa for Indians valid?
                </button>
              </h5>
            </div>
            <div id="maldivesAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>You will be able to stay in Maldives for a maximum of 30 days on your visa, unless specified.
                  Maldives Immigration holds the right to grant you a stay of less than or equal to this amount. Check
                  the no. of days granted on your passport to know more about how long you’ll be able to stay in
                  Maldives for.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#maldivesAccordion9"
              aria-expanded="false" aria-controls="maldivesAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I apply for a Maldives business visa online?
                </button>
              </h5>
            </div>
            <div id="maldivesAccordion9" class="collapse" aria-labelledby="heading9" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>Yes. As of 2018, you can now apply for it online. Your application will have to be emailed to
                  <a href="mailto:bv@immigration.gov.mv">bv@immigration.gov.mv</a> by the sponsor/company. You cannot engage in paid/unpaid work on this
                  visa, for that you will need a Maldives working visa.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#maldivesAccordion10"
              aria-expanded="true" aria-controls="maldivesAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What all can I do on a Maldives tourist visa?
                </button>
              </h5>
            </div>

            <div id="maldivesAccordion10" class="collapse" aria-labelledby="heading10" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>You will be able to tour the island and enjoy its scenery. You can also meet friends and family, as
                  well as go on tours and trips in Maldives. You cannot engage in any business, occupation, profession
                  or paid employment while in Maldives.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#maldivesAccordion11"
              aria-expanded="false" aria-controls="maldivesAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My trip/accommodation/food is being sponsored by someone. Will this affect my Maldives
visa application online?
                </button>
              </h5>
            </div>
            <div id="maldivesAccordion11" class="collapse" aria-labelledby="heading11" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>You cannot apply for this visa online. It will be a visa on-arrival. However, if you are social visitors,
                  visiting friends and family, you are highly advised to declare sponsorship prior to your arrival. If
                  applicable, please do so, so that it facilitates an easier movement of passengers at the airport.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#maldivesAccordion12"
              aria-expanded="true" aria-controls="maldivesAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Do I need a parent visa if I am visiting my child in Maldives?
                </button>
              </h5>
            </div>

            <div id="maldivesAccordion12" class="collapse" aria-labelledby="heading12" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>You will need a regular Maldives visitor visa. You can use this to meet your children. It will be
                  available to you on-arrival.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#maldivesAccordion13"
              aria-expanded="true" aria-controls="maldivesAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Do I need to make a booking before I arrange for my Maldives visa application?
                </button>
              </h5>
            </div>

            <div id="maldivesAccordion13" class="collapse" aria-labelledby="heading13" data-parent="#maldivesAccordion">
              <div class="card-body">
              <p>Yes. You will need to book your flight, accommodation and other activities beforehand itself. After
                you reach Maldives, you will be granted a visa on-arrival provided you fulfil the entry requirements
                (and are carrying the necessary documents).</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#maldivesAccordion14"
              aria-expanded="false" aria-controls="maldivesAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How do I obtain a Maldives student visa?
                </button>
              </h5>
            </div>
            <div id="maldivesAccordion14" class="collapse" aria-labelledby="heading14" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>You will need to have a guardian in Maldives to be eligible to study there. Before this is confirmed,
                  please do not apply for one. You will also not be able to be employed on a student visa.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#maldivesAccordion15"
              aria-expanded="true" aria-controls="maldivesAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What is the Maldives visa fees like?
                </button>
              </h5>
            </div>

            <div id="maldivesAccordion15" class="collapse" aria-labelledby="heading15" data-parent="#maldivesAccordion">
              <div class="card-body">
                <p>For a tourist visa on arrival (for 30 days) it is free. After which, you will have to pay a fee. If you are
                  opting for another type of visa, you may have to pay.</p>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>

  </div>
</div>
