<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="maldivesAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#maldivesAccordion1"
            aria-expanded="true" aria-controls="maldivesAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                How will I know exactly how many days of stay are permitted in my
                case?
              </button>
            </h5>
          </div>

          <div id="maldivesAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#maldivesAccordion">
            <div class="card-body">
              <p>The period of stay granted is shown on the endorsement in the passport. It is recommended to
                check your passport for the arrival endorsement, paying attention to the number of days
                granted for a stay in
                the Maldives. In case of Maldives Tourist Visa for Indians, once Immigration has been cleared,
                and the passenger is now dubbed a tourist, he/she is not allowed to engage in any form of
                business or paid
                employment while in the Maldives. The duration of stay is usually 30 days unless agreed by any
                bilateral means or treaty. Decisions on the period of stay are at the discretion of the
                Maldives Immigration
                to grant any number of days less than or equal to 30.</p>


            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#maldivesAccordion2"
            aria-expanded="false" aria-controls="maldivesAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What constitutes those who are not considered “genuine tourists”? Am
                I eligible for a Tourist Visa if I fall under this category?
              </button>
            </h5>
          </div>
          <div id="maldivesAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#maldivesAccordion">
            <div class="card-body">
              <p> Categories like social visitors, friends, family visitors or media and business visitors
                come under this umbrella and said persons are highly advised, if applicable, to declare
                sponsorship prior to their
                arrivals. If you fall under any of these categories, you are eligible for a tourist visa,
                however, as stated previously, declaring sponsorship is recommended.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#maldivesAccordion3"
            aria-expanded="true" aria-controls="maldivesAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I e-mail these documents to Immigration myself?
              </button>
            </h5>
          </div>

          <div id="maldivesAccordion3" class="collapse show" aria-labelledby="heading3"
            data-parent="#maldivesAccordion">
            <div class="card-body">
              <p>No, all the documents required must be e-mailed in mentioned formats, to Immigration at
                “bv@immigration.gov.mv “by the sponsor/employer. </p>


            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#maldivesAccordion4"
            aria-expanded="false" aria-controls="maldivesAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I board my flight to the Maldives if the 48-hour visa
                processing and approval period end while I am on-board?
              </button>
            </h5>
          </div>
          <div id="maldivesAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#maldivesAccordion">
            <div class="card-body">
              <p> No, it is advised against boarding the flight to travel to the Maldives before the visa is
                approved, as the entry to the Maldives will not be granted before the visa approval.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#maldivesAccordion5"
            aria-expanded="false" aria-controls="maldivesAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                As an employer, what do I need to do after the initial submission of documents for the visa?
              </button>
            </h5>
          </div>
          <div id="maldivesAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#maldivesAccordion">
            <div class="card-body">
              <p> After the Business Visa is approved – for which you be informed via email - the original
                form set of the application should be submitted to the Immigration Office at Velana
                International Airport and pay
                an amount of MVR750 (the visa fee), at least 1 hour before the arrival of the foreigner.
                Passengers scheduled to arrive from Gan International Airport can pay this amount to the
                Immigration Office at
                Gan International Airport itself.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
