.uprImg {
  height: 60vh !important;
  width: 100% !important;
}
p {
  font-size: 14px;
}

a {
  color: #000 !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1290px;
  }
}
