<!-- Footer -->
<footer style="background-color: #fff; border-top: 1px solid #e1e1e1;" class="page-footer font-small mdb-color py-3 pt-4">


    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">VISA2FLY</h6>
                <p>Visa2Fly is an online visa platform which is dedicated to easing the lives of travellers.</p>
                <p>We simplify the way you book your visa. Whether it is a transit, tourist or business visa, we guide you from start to end to ensure maximum success of getting your visa on time. </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>
                    <a [routerLink]="['visa']" class="text-black">Visa</a>
                </p>
                <p>
                    <a [routerLink]="['sim']" class="text-black">Sim Cards</a>
                </p>
                <p>
                    <a class="text-black">Insurance</a>
                </p>

            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a [routerLink]="['/tnc']">Terms and Conditions</a>
                </p>
                <p>
                    <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
                </p>
                <p>
                    <a [routerLink]="['/cookiePolicy']">Cookie Policy</a>
                </p>
                <p>
                    <a [routerLink]="['/cancellationPolicy']">Cancellation Policy</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <!-- <p>
                    <i class="fas fa-home mr-3"></i>C 207 Mayfield Garden,<span style="display: block; margin-left: 32px;">Sector 50, Gurgaon</span>
                    <span style="display: block; margin-left: 32px;">
Haryana 122003, India</span></p> -->
                <p>
                    <a  href="mailto:support@visa2fly.com" target="_top"><i class="fas fa-envelope mr-3"></i>support@visa2fly.com</a></p>
                <p>
                   <a  href="tel:1800120220032"> <i class="fas fa-phone mr-3" style="transform: rotate(90deg);"></i>1800-120-220-032</a></p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright:
                    <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> -->
                    <strong>Hashbug Tech Private Limited</strong>
                    <!-- </a> -->
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1 socialLink" target="_blank" href="https://www.facebook.com/Visa2Flycom-124096785655917/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1 socialLink" target="_blank" href="https://twitter.com/visa2fly">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1 socialLink" target="_blank" href="https://www.instagram.com/_visa2fly.com_/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1 socialLink" target="_blank" href="https://www.linkedin.com/company/visa2fly-com/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->