.impRequired .card-header {
background-color: #130654;
font-weight: 600;
font-size: 16px;
}

.impRequired .card-header svg {
    height: 35px;
    margin-right: 10px;
}

.impRequired .card-body {
font-size: 15px;
}

@media screen and (max-width: 600px) {
.container-fluid {
    padding: 0px !important;
}
}