<section id="faq">
  <div
    class="container-fluid wrapContainer"
    style="position: relative"
  >
    <div class="row">
      <div class="col-12 text-center">
        <h3>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h3>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="germanyAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#germanyAccordion1"
              aria-expanded="true"
              aria-controls="germanyAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What are the modes I can use to pay the visa fees?
                </button>
              </h5>
            </div>

            <div
              id="germanyAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#germanyAccordion"
            >
              <div class="card-body">
                <p>
                  There are 3 modes of payment which you can use to submit
                  documents at VFS New Delhi:
                </p>
                <ul>
                  <li>Cash</li>
                  <li>
                    Demand Draft (addressed to VFS Global Services Pvt. Ltd)
                  </li>
                  <li>Visa, Master Card and Rupay</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#germanyAccordion2"
              aria-expanded="false"
              aria-controls="germanyAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there an interview I need to attend for the Germany short
                  term visa?
                </button>
              </h5>
            </div>
            <div
              id="germanyAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#germanyAccordion"
            >
              <div class="card-body">
                <p>
                  It is not mandatory to attend an interview. However, in some
                  cases and only if required, the Embassy may ask of you to
                  appear for an interview.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#germanyAccordion3"
              aria-expanded="false"
              aria-controls="germanyAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I submit copies of my documents or do I need to submit the
                  original?
                </button>
              </h5>
            </div>
            <div
              id="germanyAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#germanyAccordion"
            >
              <div class="card-body">
                <p>
                  You should submit original copies in the order that is stated
                  by VFS. If you wish to keep the original, kindly provide an A4
                  size copy of the same. DO NOT staple any documents together.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#germanyAccordion4"
              aria-expanded="false"
              aria-controls="germanyAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the validity of my visa?
                </button>
              </h5>
            </div>
            <div
              id="germanyAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#germanyAccordion"
            >
              <div class="card-body">
                <p>
                  Generally, short stay visas allow for a stay of 90 days within
                  every 180 days. The validity of your visa depends on the
                  Embassy that is issuing the visa, and also on how long you may
                  take to complete your purpose of travel.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#germanyAccordion5"
              aria-expanded="false"
              aria-controls="germanyAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If my child (who is a minor) is travelling without me, is
                  there any extra document required?
                </button>
              </h5>
            </div>
            <div
              id="germanyAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#germanyAccordion"
            >
              <div class="card-body">
                <p>
                  Yes. If minors are travelling unacccompanied by their parents,
                  a consent letter must be submitted. This letter should state
                  that the parent consents to this decision (of the minor
                  travelling), and it should be signed by both parents as well
                  as the applicant. The application form must also be signed by
                  both parents. A copy of both parents’ passport data page must
                  also be submitted.
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#germanyAccordion6"
                aria-expanded="false"
                aria-controls="germanyAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    I have a valid Schengen visa on my old passport. Can I use
                    that to travel?
                  </button>
                </h5>
              </div>
              <div
                id="germanyAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#germanyAccordion"
              >
                <div class="card-body">
                  <p>
                    You will need to get the old visa transferred onto your
                    current passport. This can be done by going to the German
                    Embassy directly. You will need to take your valid travel
                    insurance and travel itinerary with you when you go.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#germanyAccordion7"
                aria-expanded="false"
                aria-controls="germanyAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    My spouse is a citizen of an EU country. Do I still need a
                    visa?
                  </button>
                </h5>
              </div>

              <div
                id="germanyAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#germanyAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes, you will still need a visa to travel - however, you
                    will not be charged the visa fee that is usually levied.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#germanyAccordion8"
                aria-expanded="false"
                aria-controls="germanyAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    If I hold a US passport, do I still need a visa to travel to
                    Germany?
                  </button>
                </h5>
              </div>

              <div
                id="germanyAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#germanyAccordion"
              >
                <div class="card-body">
                  <p>
                    Passport holders of the US, Canada and all European Union
                    states do not require visas to travel to Germany.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading9"
                data-toggle="collapse"
                data-target="#germanyAccordion9"
                aria-expanded="false"
                aria-controls="germanyAccordion9"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there anything I need to know about my passport?
                  </button>
                </h5>
              </div>
              <div
                id="germanyAccordion9"
                class="collapse"
                aria-labelledby="heading9"
                data-parent="#germanyAccordion"
              >
                <div class="card-body">
                  <p>
                    You will need to use passports that do not have observations
                    regarding the front data page. Any passport with
                    observations on the front data page will not be accepted.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading10"
                data-toggle="collapse"
                data-target="#germanyAccordion10"
                aria-expanded="false"
                aria-controls="germanyAccordion10"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    If I am not leaving the international transit area of the
                    airport, do I still need a visa?
                  </button>
                </h5>
              </div>
              <div
                id="germanyAccordion10"
                class="collapse"
                aria-labelledby="heading10"
                data-parent="#germanyAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes, you will need the Airport Transit visa if you are an
                    Indian, even if you are not leaving the transit area of the
                    airport.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading11"
                data-toggle="collapse"
                data-target="#germanyAccordion11"
                aria-expanded="false"
                aria-controls="germanyAccordion11"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    If I need to leave the airport international transit area,
                    will this transit visa suffice?
                  </button>
                </h5>
              </div>
              <div
                id="germanyAccordion11"
                class="collapse"
                aria-labelledby="heading11"
                data-parent="#germanyAccordion"
              >
                <div class="card-body">
                  <p>
                    If you need to leave the international transit area for any
                    reason, you will need to apply for a regular short-stay
                    visa. This could be for a number of reasons, for example to
                    catch a connecting flight (that exits the Schengen area) in
                    a different airport.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading12"
                data-toggle="collapse"
                data-target="#germanyAccordion12"
                aria-expanded="false"
                aria-controls="germanyAccordion12"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are there any exemptions for needing a transit visa?
                  </button>
                </h5>
              </div>
              <div
                id="germanyAccordion12"
                class="collapse"
                aria-labelledby="heading12"
                data-parent="#germanyAccordion"
              >
                <div class="card-body">
                  <p>
                    If you come under any of the following categories, you will
                    not need to obtain a transit visa:
                  </p>
                  <ul>
                    <li>Diplomatic Passport holders</li>
                    <li>
                      If you hold a valid visa/residence permit from a member
                      state of the Schengen area or Bulgaria, Romania, Croatia,
                      Cyprus, Liechtenstein, Ireland, UK, Canada, Japan,
                      USA(except for holders of an US “Advanced Parole
                      Document”)
                    </li>
                    <li>
                      If you hold a valid residence permit for Andorra, Monaco
                      or San Marino
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
        <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
              {{loadText}}
            </button> -->
      </div>
    </div>
  </div>
</section>
