label {
    margin: 0px;
    font-weight: 550;
}

.card {
    margin-top: 180px;
    margin-bottom: 100px;
    border: none !important;
}

.b2b-header {
    font-size: 18px;
    font-weight: 550;
}

select {
    font-size: 16px;
    padding: 2px;
}

select:focus {
    box-shadow: none !important;
    outline: none !important;
}       

.submitBtn {
    font-size: 15px;
    border-radius: 20px;
    background-color: #000080;
    padding: 1px 10px;
    color: #fff;
}

.submitBtn:focus {
    outline: none !important;
    box-shadow: none !important ;
}

.b2b-home {
    background-color: #ffffff;
    height: 100vh;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.invalid {
    color: red;
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .card-body {
        padding: 0px;
    }
}

@media screen and (max-width: 375px) {
    .b2b-home {
        height: 110vh !important;
    }
    .card {
        margin-top: 90px !important;
    }
}