<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
        xmlns="http://www.w3.org/2000/svg">
        <g>
          <g>
            <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
            <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
            <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
            <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
            <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
            <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
            <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
            <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
          </g>
          <path
            d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
            fill="#66b3ff" />
          <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
          <path d="m241 210h30v30h-30z" fill="#edf5ff" />
          <path
            d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
            fill="#edf5ff" />
          <g fill="#d5e8fe">
            <path d="m256 210h15v30h-15z" />
            <path
              d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
          </g>
        </g>
        </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="taiwanAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#taiwanAccordion1" aria-expanded="true" aria-controls="taiwanAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is there any way I can enter Taiwan without getting a visa beforehand?
              </button>
            </h5>
          </div>

          <div id="taiwanAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                Yes. If you have a green card/ previously issued visa for any of these countries below, you will be
                exempted from getting a visa prior to entering Taiwan for a stay of (max) 30 days.
              </p>
              <li>USA</li>
              <li>Canada</li>
              <li>Japan</li>
              <li>UK</li>
              <li>Schengen states</li>
              <li>Australia</li>
              <li>New Zealand</li>
              <p>However, this process is not that simple, and there are conditions based on supporting documents.
                You’ll need to obtain an online authorization and have return flight tickets booked, as well.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#taiwanAccordion2" aria-expanded="false" aria-controls="taiwanAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there a tourist e-visa available as well?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                For Taiwan, there are three types of e-visas: e-tourist,
                e-business and e-medical. You will have to apply manually
                if you wish to obtain a transit visa. The e-tourist visa is
                only available to Indians if they are part of a
                tourist group. This is under their “Project for Simplifying
                Visa Regulations for High-end Group Tourists from Southeast Asian
                Countries”. Otherwise, you will need to go manually through the “General
                Visa Application”. Don’t worry, though - we at Visa2Fly will
                help you with the entire process!
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#taiwanAccordion3" aria-expanded="false"
            aria-controls="taiwanAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I want to travel to Taiwan for medical purposes. Can I get a tourist visa?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                You will need to get an e-medical visa. You will be able to undertake urgent medical treatment in
                Taiwan. If you are an accompanying spouse/relative, you must be within the third degree of relationship
                - and not more than 2 people are allowed within this quota.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#taiwanAccordion4" aria-expanded="false" aria-controls="taiwanAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is my entry into Taiwan guaranteed if I have a visa?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                No. Your entry is determined by the Taiwan Immigration
                Official at your port of entry. They hold the right to
                allow/deny you entry without providing further explanation.
                However, generally for tourists/visitors there are usually
                no restrictions to entry as long as you have a valid visa
                for the duration of your stay.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#taiwanAccordion5" aria-expanded="false" aria-controls="taiwanAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am unsure of my travel dates. Do I still need to fill in that part on the application form?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                Yes, you will need to. If you are unsure of the dates, please fill in the tentative, expected dates. You
                will need to fill in any fields on the form marked with an ‘*’. Those that do not have this symbol can
                be left out, however, we recommend filling these out as well.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse"  class="collapse">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#taiwanAccordion6" aria-expanded="false" aria-controls="taiwanAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                On the form, what do ‘DOMESTIC ID No.’ and ‘DOMESTIC KTP No.’ mean?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                These stand for the applicants’ home country ( in this case, India)
                identification card (ID card) number.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#taiwanAccordion7" aria-expanded="false"
            aria-controls="taiwanAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I finished filling out the application and have a print-out. What do I do next?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                If applying through visa2fly, our representative will
                collect your documents and submit it to the nearest Tiwanese
                Visa Office.This submission must be done within 30 days
                of the application. If you are submitting the document by
                yourself, the same process has to be as stated previously.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#taiwanAccordion8" aria-expanded="true" aria-controls="taiwanAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I heard there is no tourist e-visa for individuals. Can I still get a business e-visa?
              </button>
            </h5>
          </div>

          <div id="taiwanAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                Yes. If you are invited to attend international conferences/ sports events/ trade fairs, you can submit
                an application for an e-visa. If you are going for other activities in Taiwan
                organized/co-organized/sponsored by ROC central government agencies, you can also try to obtain an
                e-visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#taiwanAccordion9" aria-expanded="false" aria-controls="taiwanAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I extend the stay period of my visa?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                No, you will not be able to extend the stay period of your business e-visa. You can only stay for a
                maximum of 30 days.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#taiwanAccordion10" aria-expanded="false"
            aria-controls="taiwanAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I need a specific type of passport for my e-visa?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                Your passport must be an ordinary, official, or diplomatic passport. It should have a remaining validity
                of at least six months at the time of application for the eVisa. Temporary, emergency and other informal
                passports or travel documents cannot be used to apply for the e-visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
            data-target="#taiwanAccordion11" aria-expanded="false"
            aria-controls="taiwanAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I apply for a refund if my visa application is rejected or the visa is denied?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion11" class="collapse" aria-labelledby="heading11"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                You will not be refunded for any unused or denied applications, as the Taiwan e-visa facility does not
                process these. If your visa application is denied due to a mistake in your visa application form (the
                information does not match that of your passport), the embassy shall not refund the visa fee.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading12" data-toggle="collapse"
            data-target="#taiwanAccordion12" aria-expanded="false"
            aria-controls="taiwanAccordion12">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am not able to finalise the fee payment. What should I do?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion12" class="collapse" aria-labelledby="heading12"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                If you are applying with visa2fly, you can make payments securely through various methods such as credit
                cards, debit cards, bank accounts and e-wallets.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
            data-target="#taiwanAccordion13" aria-expanded="false" aria-controls="taiwanAccordion13">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is it possible to apply for a multiple-entry e-visa?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion13" class="collapse" aria-labelledby="heading13"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                It is NOT possible to apply for a multiple-entry e-visa currently.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading14" data-toggle="collapse"
            data-target="#taiwanAccordion14" aria-expanded="false"
            aria-controls="taiwanAccordion14">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How many days prior to my travel dates must I apply for an e-visa?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion14" class="collapse" aria-labelledby="heading14"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                You will need to apply at least 7 days (1 week) before the date of your departure from India/your
                country.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading15" data-toggle="collapse"
            data-target="#taiwanAccordion15" aria-expanded="false"
            aria-controls="taiwanAccordion15">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How do I check the status of my visa issuance?
              </button>
            </h5>
          </div>
          <div id="taiwanAccordion15" class="collapse" aria-labelledby="heading15"
            data-parent="#taiwanAccordion">
            <div class="card-body">
              <p>
                You will be notified when your visa is accepted/denied.
                You can also check on the online visa portal after you log
                in with your particulars. Please make sure your visa has
                been successfully issued before you apply again. If you do not
                check the approval of your first visa and submit a second
                eVisa application, the system considers that you need 2 eVisas.
                Therefore, the fee payment for both eVisa applications
                will not be refunded.
              </p>
            </div>
          </div>
        </div>
        </div>


      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>
    
  </div>
</div>
