<section id="faq">
<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
        </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="tajikistanAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#tajikistanAccordion1" aria-expanded="true"
            aria-controls="tajikistanAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What is a GBAO Permit and do I need it?
              </button>
            </h5>
          </div>

          <div id="tajikistanAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>A GBAO permit can be applied for along with your
                tourist visa. It allows you to visit Khorugh, Darvoz,
                Vanj, Rushon, Ishkoshim and Murghob districts. Foreign
                citizens travelling here must underline their visit to
                VMKB in the same application form for your tourist visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#tajikistanAccordion2" aria-expanded="false"
            aria-controls="tajikistanAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What happens if I need to stay for more than 60 days?
              </button>
            </h5>
          </div>
          <div id="tajikistanAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>You will need to inform the embassy of your country (that is
                situated in Tajikistan) if you need to extend your stay. If
                you stay for longer without informing/having proper visa
                requirements, you will be subject to fines, deportation or even
                banned from entering the country again.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#tajikistanAccordion3" aria-expanded="false"
            aria-controls="tajikistanAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I made a mistake in my application. What do I do?
              </button>
            </h5>
          </div>
          <div id="tajikistanAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>You will need to apply for a new one. If the details on
                your e-visa do not match with those on your passport,
                the visa is considered invalid. Tajikistan visa officials
                also do not refund the fees back to you, so please be careful
                while filling the form.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#tajikistanAccordion4" aria-expanded="false"
            aria-controls="tajikistanAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I do not have a USA bank account. Can I still pay the fees in USD?
              </button>
            </h5>
          </div>
          <div id="tajikistanAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>Yes, you can. Although the amount is asked for in
                USD (on the Tajikistan Government website), your account
                will be deducted of the same amount but in local currency.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#tajikistanAccordion5" aria-expanded="false"
            aria-controls="tajikistanAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is the difference between validity and stay period? Can I stay in Tajikistan for 90 days?
              </button>
            </h5>
          </div>
          <div id="tajikistanAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>The stay period is the maximum amount of time that you will
                be able to stay in Tajikistan for. In contrast, the validity
                is how long your visa is valid for. This means that if your
                visa is valid for 3 months, you can go and stay in Tajikistan
                for any 60 days in those 3 months. Therefore, you cannot stay
                in Tajikistan for 90 days - that is the validity and
                not the stay period.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse"  class="collapse">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#tajikistanAccordion6" aria-expanded="false"
            aria-controls="tajikistanAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I have a child who is a minor. Are there any special requirements?
              </button>
            </h5>
          </div>
          <div id="tajikistanAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>Yes. For children below seven years, proof of a polio
                vaccine and birth certificate are required.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#tajikistanAccordion7" aria-expanded="false"
            aria-controls="tajikistanAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                My child will be travelling by themselves. Is there any other document I need to attach?
              </button>
            </h5>
          </div>
          <div id="tajikistanAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>You will need an NOC (No-Objection Certificate) from the
                parents/guardian stating that it is okay for them to
                travel on their own, and that the respective parties
                do not object to it. Their travel and accommodation arrangements,
                as well as any special concerns regarding travel (eg. medical conditions)
                must be expressed in this letter.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#tajikistanAccordionbusiness8" aria-expanded="true"
            aria-controls="tajikistanAccordionbusiness8">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Are Indians eligible for a business e-visa to Tajikistan?
              </button>
            </h5>
          </div>

          <div id="tajikistanAccordionbusiness8" class="collapse" aria-labelledby="heading8"
            data-parent="#tajikistanAccordionbusiness">
            <div class="card-body">
              <p>Yes. Indian citizens can obtain an e-visa for business purposes.
                Please note, you cannot travel to Tajikistan
                to participate in conferences, sign business deals etc. on a tourist visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#tajikistanAccordion9" aria-expanded="true"
            aria-controls="tajikistanAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I leave the airport while transiting?
              </button>
            </h5>
          </div>

          <div id="tajikistanAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>No, you will not be allowed to leave unless you have a valid visa, such as a tourist visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#tajikistanAccordion10" aria-expanded="false"
            aria-controls="tajikistanAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                My baggage got lost in transit. Who do I contact?
              </button>
            </h5>
          </div>
          <div id="tajikistanAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>In this case, you will have to contact (or lodge a complaint)
                with the respective airline that you came in. Please refrain
                from contacting the Indian Embassy unless it is an emergency.
                If your passport gets lost, you will need to contact the Embassy
                in Tajikistan which is closest to you.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
            data-target="#tajikistanAccordion11" aria-expanded="false"
            aria-controls="tajikistanAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What happens if I need to transit for more than 72 hours?
              </button>
            </h5>
          </div>
          <div id="tajikistanAccordion11" class="collapse" aria-labelledby="heading11"
            data-parent="#tajikistanAccordion">
            <div class="card-body">
              <p>In this case, you may need to obtain a tourist visa. With this visa,
                you will be able to leave the transit areas of the airport
                in your 72+ hour stay.
              </p>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>
    
  </div>
</div>
</section>