<!--Navbar-->
<!-- transparentBg class for transparent background -->
<!-- colorBg class for colored background -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark headerPrimary transparentBg colorBg"
  style=" height: 50px;">
  <!-- Navbar brand -->

  <a class="navbar-brand" [routerLink]="['home']"><img src="../../../assets/logo.png" width="100" height="60%"
      class="d-inline-block align-top" alt="" /></a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li [routerLink]="['home']" class="nav-item" >
        <a  class="navlink" routerLinkActive="active" href="#">Visa</a>
      </li>

      <li [routerLink]="['sim']"  class="nav-item">
        <a class="navlink" >Sim Card</a>
      </li>
      <li class="nav-item">
        <a class="navlink " href="#">Insurance</a>
      </li>
      <li class="nav-item dropdown">
        <a class=" dropdown-toggle navlink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Others
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item navlink-dropdown" [routerLink]="['freeVisa']">Free Visa</a>
          <a class="dropdown-item navlink-dropdown" [routerLink]="['visaArrival']">Visa On Arrival</a>
        </div>
      </li>
    </ul>

    <!-- Login SignUp -->
    <form *ngIf="!userLoggedIn" class="form-inline">
      <li class="nav-item">
        <a class="login" [routerLink]="['slcontainer','login']">Login</a>
      </li>
      <button class="btn btn-outline-light my-2 my-sm-0 ml-3 btn-sm" type="submit"
        [routerLink]="['slcontainer','signup']">
        Signup
      </button>
    </form>

    <!-- After Login SignUp -->
    <form *ngIf="userLoggedIn" class="form-inline">
      <li class="nav-item dropdown">
        <div class="btn-group">
          <button (click)="toogleDropdown()" class="btn btn-sm dropdown-toggle ml-3 user-dropdown user-name"
            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img
              src="../../../assets/profile/download.png"
              alt="" style="width: 25px;  border-radius: 50px;">
            {{userDetails.emailId}}
          </button>
          <div class="dropdown-menu" [ngClass]="{'show':showDropDown}">
            <button [routerLink] = "['profile']" class="dropdown-item">My Profile</button>
            <button [routerLink] = "['myBookings']" class="dropdown-item">My Bookings</button>
            <div class="dropdown-divider"></div>
            <button (click)="logoutUser()" class="dropdown-item">Logout</button>

          </div>
        </div>
      </li>
    </form>
  </div>
</nav>

