.headerPrimary {
    background-color: navy;
}

.navbar-brand{
    margin-top: 15px;
}
.navbar {
    height: 70px;
}

.nav-link:hover {
    color: red;
    
}

.navlink {
    color: #cccccc;
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
}

.navlink:hover {
    color: white;
}