.headerPrimary {
    background-color: navy;
}

.dropdown-menu.show {
    display: block;
    /* margin-left: 58px; */
}

.active {
    border: none !important;
    color: #fff !important;
}

.navlink-dropdown {
    font-size: 14px;
}

.navbar-brand{
    margin-top: 15px;
}
.navbar {
    height: 70px;
    flex-wrap: initial;
}


.nav-link:hover {
    color: red;
    
}
.marginLeft {
    margin-left: 10px !important;
}
.navbar-collapse{
    background-color: navy !important;
}

.navlink {
    color: #cccccc;
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
}

.navlink:hover {
    color: white;
}

li {
    list-style: none;
}

.login {
    text-decoration: none;
    color: #fff;
}

.user-dropdown {
background: #f6f6f6;
color: #000080;
}

.user-dropdown:hover {
background: #dcdcdc;
}

.user-dropdown:focus {
    background: #dcdcdc;
    box-shadow: none !important;
}

.user-dropdown:active {
    background: #dcdcdc;
    box-shadow: none !important;
}
 .user-name {
     font-size: 13px;
     text-align: center;
     height: auto !important;
     font-weight: 500;
 }

 @media (width:768px){
    /* .navbar-brand {
        margin-top: 7px;
    } */

    .navbar {
        flex-wrap: initial !important;
    }
 }