.transparentBg {
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1200;
  background-color: transparent;
  font-weight: 600;
  color: #fff !important;
  position: absolute;
  width: 100%;
}

.dropdown-menu {
  left: -10px;
}

.soon {
  font-size: 8px;
  /* margin-top: -5px; */
  position: absolute;
  margin-left: -40px;
  margin-top: -8px;
  transition: .2s;
  transition-timing-function: ease-out;
}

.insurance:hover > .soon,
.sim:hover > .soon
 {
  margin-top: -10px;
}

.navlink:hover {
  margin-top: -1px;
}

.colorBg {
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1200;
  background-color: rgba(19, 6, 84, 1);
  font-weight: 600;
  color: #fff !important;
}

.nav-item:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu.show {
  display: block;
  /* margin-left: 58px; */
}

.active {
  border: none !important;
  color: #fff !important;
}

.navlink-dropdown {
  font-size: 14px;
}

svg {
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.navbar {
  height: 70px;
  flex-wrap: initial;
}

.nav-item:hover {
  cursor: pointer;
}

.marginLeft {
  margin-left: 10px !important;
}
.navbar-collapse {
  /*background-color: navy !important;*/
}

.navlink {
  color: #fff;
  display: block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding: 0.5rem 1rem;
}

.navlink:hover {
  color: white;
}

li {
  list-style: none;
}

.login {
  text-decoration: none;
  color: #fff;
}

.user-dropdown {
  background: #f6f6f6;
  color: #000080;
}

.user-dropdown:hover {
  background: #dcdcdc;
}

.user-dropdown:focus {
  background: #dcdcdc;
  box-shadow: none !important;
}

.user-dropdown:active {
  background: #dcdcdc;
  box-shadow: none !important;
}
.user-name {
  font-size: 13px;
  text-align: center;
  height: auto !important;
  font-weight: 500;
}

@media (width: 768px) {
  /* .navbar-brand {
        margin-top: 7px;
    } */

    .transparentBg {
      padding-right: 20px;
    }
    
    .colorBg {
      padding-right: 20px;
    }
    

  .navbar {
    /* font-size: 12px; */
    flex-wrap: initial !important;
  }

  .navlink {
    font-size: 12px;
  }
}

