.serchcountrybtn {
  margin-left: 10px !important;
  margin-right: 10px;
}

select {
  border: none;
  font-size: 16px !important;
  font-weight: 550;
  padding-left: 0px;
  color: #5b6167;
}

.option {
  padding: 4px;
  height: 35px !important;
}

select:focus {
  outline: none;
  font-size: 16px !important;
  box-shadow: none !important;
}

label {
  margin-bottom: 0px !important;
}

.chkLabel {
  font-size: 14px !important;
}

.chkIn {
  margin-top: -140px !important;
  padding: 0px !important;
}

@media (max-width: 767px) {
  select {
    font-size: 16px !important;
  }
}

@media (min-width: 850px) and (max-width: 1024px) {
  .chkIn {
    margin-bottom: 110px !important;
  }
}

@media (min-width: 768px) and (max-width: 849px) {
  .chkIn {
    margin-bottom: 60px !important;
  }
}

.purpose-opt {
  text-transform: capitalize !important;
}

.shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.disabled {
  background-color: grey;
  color: white;
  /* display: none; */
}

.disabled:hover {
  background-color: grey;
  color: white;
  border: none;
}

.invalid-feedback {
  display: block;
}

.chkIn {
  margin-bottom: 90px;
}

.chkIn .chkIp8 {
  width: 28%;
  /* border-right: 0; */
  border-right: 1px solid #e1e1e1 !important;
  /*margin-top: 5px;*/
  /*margin-bottom: 5px;*/
}

@media (min-width: 360px) and (max-width: 399px) {
  .home-form {
    width: 320px !important;
  }
  .chkLabel {
    font-size: 12px !important;
  }

  select {
    border: 1px solid #e1e1e1;
  }

  select:focus {
    border: 1px solid #e1e1e1;
  }

  .chkIn {
    margin-top: -50px !important;
    padding: 0px !important;
  }
}

@media (min-width: 400px) and (max-width: 480px) {
  .home-form {
    width: 360px !important;
  }
  .chkLabel {
    font-size: 12px !important;
  }

  select {
    border: 1px solid #e1e1e1;
  }

  select:focus {
    border: 1px solid #e1e1e1;
  }

  .chkIn {
    margin-top: -50px !important;
    padding: 0px !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .chkIn .chkIp8 {
    width: 21%;
    /* border-right: 0; */
    border-right: 1px solid #e1e1e1 !important;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 780px) and (orientation: landscape) {
  .serchcountrybtn {
    margin-bottom: 10px !important;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1024px) and (orientation: landscape) {
  .serchcountrybtn {
    margin-left: 4px !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 840px) {
  .serchcountrybtn {
    width: 100px;
    margin-left: 10px !important;
  }
  .chkIn .chkIp8 {
    width: 19%;
    border-right: 1px solid #e1e1e1 !important;
  }

  .chkIn {
    margin-bottom: 100px !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 640px) {
  .chkIn {
    margin-bottom: 50px !important;
  }
}

/*for FireFox*/
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
select::-moz-focus-inner,
a::-moz-focus-inner {
  border: 0px !important;
}
/*for IE8 */
input[type="submit"]:focus,
input[type="button"]:focus,
select:focus,
a:focus {
  outline: none !important;
}

/*::-webkit-scrollbar-track
{
	border: 2px solid white;
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #555;
}

::-webkit-scrollbar-thumb
{
	background-color: #888;
}*/

.home-form {
  margin-top: -160px;
  padding: 0px !important;
  border-radius: 6px;
  width: 800px;
  z-index: 10;
}

.homeDate input {
  border: 0;
  outline: none;
  padding: 0;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  height: 23px;
}
/*may end */
/*14 may */
/*end here*/
.bagcalendar {
  /* background: #ffffff url('../../Contents/Images/pink-calander.png') right no-repeat; */
  cursor: pointer;
}
/*End 01-02-2018*/
a {
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
}
input[type="submit"],
button {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  outline: none !important;
}
.clear {
  clear: both;
}
/*header.fixHeader .headerMain .hRight .navMenu {
   top: 20px;
 }*/
/*header .logo .beta {
   position: absolute;
   font-size: 12px;
   color: #522583;
   right: -28px;
   top: -20px;
   color: #fff;
 }*/
/* Youtube Video */
/* Embed Video */
.chkIn {
  background-color: #fff;
  margin: auto;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /*Edit 31-01-218*/
  /*End */
}
.chkIn .chkIp {
  float: left;
  border-right: 1px solid #e1e1e1;
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 5px;

  /*.chkInput,.chkselect{width: ~"calc(100% - 35px)";float: left;margin-left: 10px;display: inline-block;vertical-align: middle;.det (#000, 12px,  700);border: 0; outline: 0; height: 23px;*/
  /*Edit 31-01-2018*/
}

/*@media (min-width: 480px) and (max-width: 768px) { 
.chkIn .chkIp {
  float: left;
  border-right: 1px solid #e1e1e1;
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
}*/

.chkIn .chkIp .chkLabel {
  color: navy;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.chkIn .chkIp .chkselect {
  background-color: white;
  width: calc(100% - 35px);
  float: left;
  margin-left: 10px;
  border: 1px solid #aaa;
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  /* border: 0; */
  outline: 0;
  height: 23px;
  /*end*/
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  input:focus {
    font-size: 16px;
  }
}

.chkIn .chkIp1 {
  width: 28%;
}
.chkIn .chkIp2 {
  width: 28%;
}
.chkIn .chkIp3 {
  width: 28%;
}

.chkIn .chkSubmit {
  height: 39px !important;
  font-size: 14px;
  margin-top: 19px;
  width: calc(10% + 13px);
  background: navy;
  color: #fff;
  border: 0;
  outline: 0;
  margin-left: 0.5%;
  height: 85px;
  /* position: absolute; */
  top: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.chkIn .chkSubmit:hover {
  border: 2px solid navy;
  color: navy;
  background-color: white;
}
.chkIn .chkIpBack {
  width: 20px !important;
  border: 0;
  outline: 0;
  /*.chkIpBack{ width: 20px; border: 0; outline: 0; */
}
.chkIn .chkIpBack span {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  background: #eee;
  color: navy;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width: 40px;
  cursor: pointer;
  font-size: 24px;
  line-height: 85px;
  text-align: center;
}
.chkIn .chkIpBack span:hover {
  background: #999;
}
.chkIn.chkInSec2 {
  position: relative;
  bottom: 100%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
/*.chkIn.chkInSec2.nextFieldsIn { bottom: 0; }*/
.chkIn.chkInSec2.nextFieldsIn {
  bottom: 0;
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-group-addon {
  display: none;
}
.homeDate input {
  border: 0;
  outline: none;
  padding: 0;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  height: 23px;
}
.homeDate input:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

@keyframes toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.date .input-group-addon {
  display: table-cell;
}
.date .input-group-addon {
  position: absolute;
  opacity: 0;
}

.removeradius {
  border-radius: 0px;
  margin-top: 10px;
}

select {
  border-radius: 0;
}

.serchcountrybtn {
  height: 85px !important;
}

.img-loader {
  position: absolute;
  margin-left: 50px;
  margin-top: -12px;
  width: 100%;
  display: none;
}

@media (max-width: 1500px) {
  /*Edit 31-01-2017*/
  .chkIn .chkIp {
    padding: 2px 10px;
    /* height: 60px; */
  }
}

@media all and (max-width: 1024px) {
  .chkIn .chkIp .chkselect {
    font-size: 11px;
  }
  .chkIn .chkIp .chkLabel {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .chkIn .chkIp .chkLabel,
  .chkIn .chkIp .chkselect {
    font-size: 14px;
  }

  .chkIn .chkSubmit {
    clear: both;
    width: 100%;
    float: right;
    position: relative;
    height: 50px !important;
  }
  .chkIn .chkIp {
    padding: 0px 10px;
    height: 100%;
    float: left;
    width: 25.6% !important;
    border: none;
    margin-bottom: 0px;
    position: relative;
  }
  .chkIp.chkIpBack {
    padding: 0;
    margin: 0;
    position: relative;
    float: right;
    z-index: 99999999 !important;
  }
  .chkIn .chkIpBack span {
    height: 32px;
    left: -12px;
    width: 42px;
    font-size: 24px;
    line-height: 28px;
    background: #522583 !important;
    color: #fff !important;
  }
  .chkIn .chkIpBack span:hover {
    background: #ec008c !important;
    color: #fff !important;
  }
  .chkIn .chkIpBack span i {
    margin-left: -5px;
    margin-top: 3px;
  }
  .mobile {
    display: block !important;
  }
  .main-wrapper-button {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 15px 0;
  }
  .main-wrapper-button .serchcountrybtn {
    width: auto;
    display: inline-block !important;
    clear: none;
    margin-top: 10px;
    padding: 10px 40px !important;
    margin-right: 10px;
    font-size: 14px;
    line-height: 10px;
    float: none;
  }
  .chkIn .chkSubmit {
    height: 40px !important;
  }
  .chkIn .chkIp .chkLabel {
    margin-bottom: 5px;
  }
  /*.popular-prev, .popular-next,.visaNews-button-next,.visaNews-button-prev,.partners-button-next,.partners-button-prev{
		 top: auto !important;
		 border: 1px solid @purple;
		 bottom: -45px;
	 }*/
  .chkIp.chkIpBack {
    display: none;
  }
  /*.visaNews-button-next,.visaNews-button-prev{
		 display: none;
	 }*/
  /*.check-insurance-page {
	 top: auto;
   }*/
  /*.deactivated{
			 opacity: 1;
			 pointer-events:auto;
		 }*/
}
@media (max-width: 640px) {
  /*wheel csss*/
  /*end wheell csss*/

  /*edit for browserstack*/
  .chkIn .chkIp {
    width: 100% !important;
  }
  /*End here*/
  .main-wrapper-button .serchcountrybtn {
    padding: 10px 20px !important;
  }
  .chkIn .chkSubmit {
    height: 35px !important;
  }

  .main-wrapper-button .serchcountrybtn {
    width: 100px !important;
    margin-bottom: 10px;
    font-weight: bold;
  }
  /*.whyGmv.section {
	 display: none;
   }*/
  /*.testimonials{
		 padding-top: 0;
	 }*/
}

@media (max-width: 320px) {
  .home-form {
    width: 280px;
  }

  .chkIn {
    margin-top: -50px !important;
    padding: 0px !important;
  }
}

@media (width: 768px) {
  .home-form {
    margin-top: -160px;
    padding: 0px !important;
    border-radius: 6px;
    width: 700px;
  }
}

/*# sourceMappingURL=main.css.map


 /*Safari css*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  input {
    line-height: 10px !important;
  }
  ::i-block-chrome {
    width: 55.5% !important;
  }

  ::i-block-chrome {
    width: auto;
    float: right;
  }
  ::i-block-chrome {
    position: absolute;
    right: 10px;
  }
  ::i-block-chrome {
    clear: both;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    display: inline;
  }
  ::i-block-chrome {
    display: inline-block;
    margin: 0 5%;
    float: none !important;
  }
  ::i-block-chrome,
  ::i-block-chrome,
  .chkIn .chkIp .chkselect {
    width: 85% !important;
  }
  ::i-block-chrome,
  .chkIn .chkSubmit {
    width: 10% !important;
  }
  ::i-block-chrome {
    width: 50%;
  }
  ::i-block-chrome {
    padding: 10px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 640px) {
}

@media screen and (min-width: 0\0) {
  /*end*/

  .chkIn .chkSubmit {
    height: 20px !important;
    margin-top: 10px;
    width: calc(10% + 13px);
    background: navy;
    color: #fff;
    border: 0;
    outline: 0;
    height: 85px;
    /* position: absolute; */
    margin-left: 1%;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }

  .main-wrapper-button .serchcountrybtn {
    width: 50px;
  }
}
/*End Here*/

/* @media screen and (max-width: 640px) {
  .makeCenter {
    width: 100%;
    display: flex;
    justify-content: center;
  }
} */

@media screen and (min-width: 570px) and (max-width: 900px) {
  .chkIn .chkIp {
    padding: 0px 10px;
    height: 100%;
    float: left;
    width: 25% !important;
    border: none;
    margin-bottom: 0px;
    position: relative;
  }

  .main-wrapper-button {
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    padding: 15px 0;
  }
}

@media screen and (width: 800px) {
  .chkIn .chkIp {
    padding: 0px 10px;
    height: 100%;
    float: left;
    width: 25% !important;
    border: none;
    margin-bottom: 7px !important;
    position: relative;
  }
}

.autocomplete-container .input-container input {
  padding: 0px 0px !important;
}

.autocomplete-container {
  box-shadow: none !important;
}
