<div class="chkIn chkInSec1 shadow home-form">
  <form [formGroup]="homeForm" (ngSubmit)="onSubmit()">
    <div class="chkIp chkIp1 chkIp8">
      <label class="chkLabel">Destination</label>
      <div class="icon-s1-plane pull-left"></div>
      <div class="img-loader ldr1" style="display: none">
        <div class="icon-s1-small-loader" alt="apply visa online"></div>
      </div>

      <ng-select
        #country
        [items]="countryList"
        [dropdownPosition]="'bottom'"
        [searchable]="false"
        [searchFn]="inputSearchFn"
        (open)="focusInputField('counrty')"
        class="desktopInput"
        formControlName="country"
        placeholder="Select Country"
        required
        (change)="countryChanged()"
      >
        <ng-template ng-header-tmp>
          <div style="display: flex">
            <input
              #countryInput
              style="width: 100%; line-height: 24px; box-shadow: none"
              type="text"
              class="form-control form-control-sm"
              (input)="country.filter($event.target.value)"
            />
            <i
              [hidden]="countryInput.value.length === 0"
              (click)="country.filter(''); countryInput.value = ''"
            ></i>
          </div>
        </ng-template>
        <div>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            {{ item }}
          </ng-template>
        </div>
      </ng-select>

      <div class="onMobileInput mobileInput" id="countryInput">
        {{
          homeForm.get("country").value == ""
            ? "Select"
            : homeForm.get("country").value
        }}
      </div>
      <div *ngIf="countryNotSelected" class="invalid-feedback">
        Please choose a country.
      </div>
    </div>
    <div class="chkIp chkIp2">
      <label class="chkLabel">Visa Type</label>
      <div class="icon-s1-calender pull-left"></div>
      <!-- <ng-select
        class="desktopInput"
        formControlName="purpose"
        placeholder="Select Purpose"
        required
      >
        <ng-option value=""> Select </ng-option>
        <ng-option *ngFor="let purpose of purposeArr" [value]="purpose">
          {{ purpose }}
        </ng-option>
      </ng-select> -->
      <ng-select
        #visaType
        [items]="purposeArr"
        [dropdownPosition]="'bottom'"
        [searchable]="false"
        [searchFn]="inputSearchFn"
        (open)="focusInputField('visaType')"
        class="desktopInput"
        formControlName="purpose"
        placeholder="Select"
        required
      >
        <ng-template ng-header-tmp>
          <div style="display: flex">
            <input
              #visaTypeInput
              style="width: 100%; line-height: 24px; box-shadow: none"
              type="text"
              class="form-control form-control-sm"
              (input)="visaType.filter($event.target.value)"
            />
            <i
              [hidden]="visaTypeInput.value.length === 0"
              (click)="visaType.filter(''); visaTypeInput.value = ''"
            ></i>
          </div>
        </ng-template>
        <div>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            {{ item }}
          </ng-template>
        </div>
      </ng-select>
      <div class="onMobileInput mobileInput" id="visaTypeInput">
        {{
          homeForm.get("purpose").value == null
            ? "Select"
            : homeForm.get("purpose").value
        }}
      </div>

      <div *ngIf="purposeNotSelected" class="invalid-feedback">
        Please choose a Entry Type.
      </div>
    </div>

    <div class="makeCenter">
      <div class="chkIp chkIp3">
        <label class="chkLabel">I Reside in </label>
        <div class="icon-s1-location pull-left"></div>
        <div class="img-loader ldr3" style="display: none">
          <div class="icon-s1-small-loader" alt="apply visa online"></div>
        </div>

        <!-- <ng-select
        >
          <ng-option value=""> Select </ng-option>
          <ng-option *ngFor="let livesin of resideInArr" [value]="livesin">
            {{ livesin }}
          </ng-option>
        </ng-select> -->

        <ng-select
          #resideIn
          [items]="resideInArr"
          [dropdownPosition]="'bottom'"
          [searchable]="false"
          [searchFn]="inputSearchFn"
          (open)="focusInputField('resideIn')"
          class="desktopInput"
          formControlName="livingin"
          placeholder="Select"
          required
        >
          <ng-template ng-header-tmp>
            <div style="display: flex">
              <input
                #resideInInput
                style="width: 100%; line-height: 24px; box-shadow: none"
                type="text"
                class="form-control form-control-sm"
                (input)="resideIn.filter($event.target.value)"
              />
              <i
                [hidden]="resideInInput.value.length === 0"
                (click)="resideIn.filter(''); resideInInput.value = ''"
              ></i>
            </div>
          </ng-template>
          <div>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              {{ item }}
            </ng-template>
          </div>
        </ng-select>

        <div class="onMobileInput mobileInput" id="resideInInput">
          {{
            homeForm.get("livingin").value == null
              ? "Select"
              : homeForm.get("livingin").value
          }}
        </div>

        <div *ngIf="livesInNotSelected" class="invalid-feedback">
          Please choose where you live.
        </div>
      </div>
    </div>
    <div
      class="main-wrapper-button justify-content-center d-flex"
      style="padding: 0px !important"
    >
      <button
        class="chkIp chkSubmit serchcountrybtn"
        type="submit"
        style="
          padding: 10px !important;
          border-radius: 5px;
          width: 100px !important;
        "
      >
        Submit
      </button>
    </div>
  </form>
  <div class="clear"></div>
</div>
