<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="unitedstateofamericaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion1" aria-expanded="true"
            aria-controls="unitedstateofamericaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                If I am an athlete coming to the USA for a competition, what kind of Visa do I get?
              </button>
            </h5>
          </div>

          <div id="unitedstateofamericaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                You will need to get a B-2 Visitor visa when you apply for US visa online. This is generally
                referred to as a ‘tourist visa’. Please keep in mind that other than prize money from said
                competition, no money obtained from the sport must be received by you. E.g., you will not be
                able to coach/ get paid for coaching while on this type of visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion2" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there more than one type of visitor visa?
              </button>
            </h5>
          </div>
          <div id="unitedstateofamericaAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                Yes. Both tourist and business visas fall under the “Visitor’s visa” category. B-1 visas are
                business visas, and B-2 visas are tourist visas.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion3" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am traveling with my child. Would they need to be interviewed as well?
              </button>
            </h5>
          </div>
          <div id="unitedstateofamericaAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                If you are traveling with a child below the age of 13, they generally do not need to be
                interviewed. However, it may be safer to bring them along with you just in case any questions
                are asked.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion4" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am traveling with senior citizens. Would they need to be interviewed as well?
              </button>
            </h5>
          </div>
          <div id="unitedstateofamericaAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                If the senior citizens in question are over the age of 80, then they generally do not need to
                be interviewed.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion5" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I need to bring all the supporting documents mentioned, or is one enough?
              </button>
            </h5>
          </div>
          <div id="unitedstateofamericaAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                When you apply for US visa online, This will depend purely on your case, and is not
                generalizable to every applicant. These supporting documents will be used to further validate
                and strengthen your reasons and chances of getting a visa. They will usually be checked at the
                interview stage.
              </p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion6" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Are there any specifications for the photo requirements?
              </button>
            </h5>
          </div>
          <div id="unitedstateofamericaAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                The photos that you will submit must be taken within the last 6 months - they also must be in
                colour, with the image size such that 50% - 69% of the image's total height comprises of the
                face. This usually means that the head is between 1 inch and 1 3/8 inches (22 mm and 35 mm). A
                neutral facial expression must be maintained, with both eyes open. Please keep in mind, that
                the photo must be taken with a white background.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion7" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Are there any travel purposes which I cannot do on a visitor’s visa?
              </button>
            </h5>
          </div>
          <div id="unitedstateofamericaAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                Yes. These include:
              </p>
              <li>Study</li>
              <li>Search/find employment</li>
              <li>Get paid for performances, or any professional performance before a paying audience</li>
              <li>Arrive as a crewmember on a ship or aircraft</li>
              <li>Work as part of a foreign journalist/reporter/any other form of information media</li>
              <li>Permanently reside in the United States</li>
              <li>Come for birth tourism - i.e., for the sole purpose of birthing your child, hence granting
                U.S citizenship for said child.</li>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion8" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How long would I need to wait to get an interview appointment?
              </button>
            </h5>
          </div>
          <div id="unitedstateofamericaAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                This depends on the consulate you approach. Other factors that may influence waiting time
                include the type of visa, as well as the time of year. Usually, Indian nationals would need to
                wait 25-40 days for an appointment when you apply for US visa online.
              </p>

            </div>

          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion9" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I want to come to the USA to receive medical treatment. What kind of visa should I opt for?
              </button>
            </h5>
          </div>

          <div id="unitedstateofamericaAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                You would need a B-1 visa - this is generally referred to as a ‘business visa’. If you are
                visiting someone who is admitted into a US hospital, you would need to get a B-1 visa too.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion10" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What kind of questions will I be asked at the interview?
              </button>
            </h5>
          </div>

          <div id="unitedstateofamericaAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                People are usually asked about the purpose of their stay, as well as the duration and place of
                stay. How they will be able to fund their trip, as well as their current employment situation
                are also taken into consideration.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
            data-target="#unitedstateofamericaAccordion11" aria-expanded="false"
            aria-controls="unitedstateofamericaAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                How much prior to my trip must I apply for a US visa online?
              </button>
            </h5>
          </div>

          <div id="unitedstateofamericaAccordion11" class="collapse" aria-labelledby="heading11"
            data-parent="#unitedstateofamericaAccordion">
            <div class="card-body">
              <p>
                Since the waiting time for an interview is around 1 month, we suggest applying for your visa
                at least 1.5 months prior to your departure date.
              </p>

            </div>
          </div>
        </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
  </div>
</div>
