.insurance-banner {
  background-image: url(https://static.visa2fly.com/assets/insurance-banner.png);
  background-position: center;
  background-size: cover;
  height: 495px;
  margin-top: 50px;
}

.insurance_application {
  background-color: #f4f8fb;
}

.insurance_application-header_box {
  background-color: #d8cedd;
  padding: 10px 0px;
}

.insurance_application-heading {
  color: #713592;
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}

.insurance_application-container {
  padding: 20px 0;
}

.insurance_application-container table th,
.insurance_application-container table td {
  border: none;
  text-align: center;
  padding: 8px;
  font-size: 15px;
}

.insurance_application-container table th {
  background-color: #FFEEBE;
}

.insurance_application-container table td {
  background-color: #fff;
}

.insurance_application-subheading {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
  color: #130654;
}

.insurance-input_box {
  margin-bottom: 8px;
}

.insurance-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #130654;
}

.insurance-input,
.insurance-select {
  /* border-color: #9c9c9c; */
  border-color: #130654;
  font-size: 14px;
  height: 32px;
}

.insurance-input:focus,
.insurance-select:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .insurance-banner {
    background-image: url(https://static.visa2fly.com/assets/insurance-banner-mobile.png);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin-top: 105px;
  }
}
