<section class="insurance-banner"></section>
<section class="insurance_application">
  <div class="insurance_application-header_box text-center">
    <h2 class="insurance_application-heading">Insurance Application Form</h2>
  </div>

  <div class="container insurance_application-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 insurance_application-subheader_box">
        <h5 class="insurance_application-subheading">Policy Details :</h5>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1">
        <table class="table">
          <tr>
            <td class="p-0">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Visit Purpose</th>
                    <th>Number Of Travelers</th>
                    <th>Trip Period</th>
                    <th>Select Plan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 insurance_application-subheader_box">
        <h5 class="insurance_application-subheading">Customer Details :</h5>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1">
        <table class="table">
          <tr>
            <td class="p-0">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Visit Purpose</th>
                    <th>Number Of Travelers</th>
                    <th>Trip Period</th>
                    <th>Select Plan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="p-0">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Visit Purpose</th>
                    <th>Number Of Travelers</th>
                    <th>Trip Period</th>
                    <th>Select Plan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="p-0">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Visit Purpose</th>
                    <th>Number Of Travelers</th>
                    <th>Trip Period</th>
                    <th>Select Plan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 insurance_application-subheader_box">
        <h5 class="insurance_application-subheading">Customer Details :</h5>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1">
        <table class="table">
          <tr>
            <td class="p-0">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Visit Purpose</th>
                    <th>Number Of Travelers</th>
                    <th>Trip Period</th>
                    <th>Select Plan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="p-0">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Visit Purpose</th>
                    <th>Number Of Travelers</th>
                    <th>Trip Period</th>
                    <th>Select Plan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</section>
