
* {
  margin: 0;
  padding: 0;
}


/* CSS which you need for blurred box */
.auth_section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(
    to left,
    rgba(104, 183, 235, 0),
    rgba(0, 0, 0, 0.3)
  ), url(../../../assets/jeshoots-com-mSESwdMZr-A-unsplash.jpg);
  /* background-image: url(https://static.visa2fly.com/login/auth-login.jpg); */
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.auth_container {
  position: absolute;
  top: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  left: 50%;
  background: inherit;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.blurred-box {
  position: relative;
  width: 400px;
  height: 100%;
  /* background: inherit; */
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  padding: 15px 20px;
}

/* .blurred-box:after {
  content: "";
  width: 105%;
  height: 105%;
  background: inherit;
  position: absolute;
  left: -12px;
  right: 0;
  top: 5px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
} */

.form-header {
  position: relative;
  z-index: 1;
}

.form-header .nav-btn {
  background-color: #130654;
  opacity: 30%;
  z-index: 1;
}

.form-header .nav-btn a {
  color: #fff;
  font-weight: 500;
  z-index: 1;
}

.form-body {
  position: relative;
  margin-top: 10px;
  text-align: left;
  z-index: 1;
}

.form-body label,
.form-body input {
  display: block;
}

.form-body label {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-body .input-group {
  margin-bottom: 15px;
}

.form-body .input-group input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid #bce0fd;
  width: 100%;
  height: 35px;
  padding: 5px;
}

.form-body input:focus {
  box-shadow: none;
  outline: none;
}

.form-body .button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form-body .button-group .btn {
  background-color: #130654;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  font-size: 14px;
}

.form-body .rememberMeBox {
  text-align: left;
}

.form-body .rememberMeBox input,
.form-body .rememberMeBox label {
  display: inline-block;
}

.form-body .rememberMeBox input {
  height: 15px;
  width: 5px;
}

.form-body .rememberMeBox label {
  margin-left: 10px;
}

.form-header .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.form-header .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.form-header .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 6px 10px;
  background: rgba(19, 6, 84, 0.3);
  background: transparent;
  color: #6F6796;
  font-size: 15px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.form-header .tab-group li a:hover {
  background: rgba(18, 67, 81, 0.2);
  color: #ffffff;
}

.form-header .tab-group .active a {
  background: rgba(19, 6, 84, 0.6);
  border-bottom: 3px solid #fec007;
  color: #ffffff;
}

.form-header .tab-group .active a:hover {
  background: rgba(19, 6, 84, 0.3);
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .auth_section {
    height: 100vh;
  }

  .blurred-box {
    position: relative;
    width: 330px;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 10px;
    margin-top: 0px;
  }

  .auth_container {
    top: 50%;
    left: 50%;
  }
}


@media screen and (max-width: 321px) {
  .auth_section {
    height: 115vh;
  }

  .auth_container {
    top: 55%;
    left: 50%;
  }

  .blurred-box {
    position: relative;
    width: 300px;
    height: 100%;
    overflow: hidden;
    background: #fff;
    padding: 10px 10px;
    margin-top: 0px;
  }

  .form-header .tab-group li a {
    padding: 8px;
  }

}
