<!-- <div class="auth_section">
  <div class="auth_container">
    <div class="blurred-box">
      <div class="form-header">
        <ul class="tab-group">
          <li class="tab" id="signUp"><a (click)="navigateToSignup()">Sign Up</a></li>
          <li class="tab" id="signIn"><a (click)="navigateToLogin()">Sign In</a></li>
        </ul>
      </div>

      <app-signup *ngIf="show_signup"></app-signup>
      <app-login *ngIf="show_login"></app-login>
    </div>
  </div>
</div> -->

<section class="login_signup_section">
  <div class="login_decoration desktopView">
    <img src="../../../assets/Health passport-bro (2) 1.png" alt="visa2fly" class="img-fluid visaImage">
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 desktopView">
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 right-side">
          <div class="blurred-box">
            <!-- <div class="mobileHeadingSignIn mobileView" *ngIf="show_login">
              <h3 class="welcomeMessageheading">WELCOME!</h3>
              <p class="welcomeMessage">login to your account</p>
            </div> -->
            <div class="mobileHeading mobileView" *ngIf="show_signup">
              <h3 class="welcomeMessageheading">Hello!</h3>
              <p class="welcomeMessage">Go head and get your visa</p>
              <!-- <img src="../../../assets/Health passport-bro (2) 1.png" alt="visa2fly" class="img-fluid"> -->
            </div>
            <div class="form-header desktopView">
              <ul class="tab-group">
                <li class="tab"><a>{{ login }}</a></li>
              </ul>
            </div>
            <app-signup *ngIf="show_signup"></app-signup>
            <app-login *ngIf="show_login"></app-login>
            <div class="form-footer">
              <div class="other_option">
                <h4><span>Or login with</span></h4>
              </div>
              <div class="login_with_other">
                <img src="../../../assets/goolge.png" alt="visa2fly google login" class="img-fluid google">
                <img src="../../../assets/facebook.png" alt="visa2fly google login" class="img-fluid facebook">
              </div>
              <div class="option_for_login_signup">
                <p>If don't you have already an account then please <span (click)="NavigateToLoginAndSignup()">{{ signUp }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
