
* {
  margin: 0;
  padding: 0;
}


/* CSS which you need for blurred box */
/* .auth_section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #fff;
  background-image: linear-gradient(
    to left,
    rgba(104, 183, 235, 0),
    rgba(0, 0, 0, 0.3)
  ), url(https://static.visa2fly.com/login/auth-bg.jpg);

  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
} */

/* .auth_container {
  position: absolute;
  top: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  left: 20%;
  background: inherit;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
} */

/* .blurred-box {
  position: relative;
  width: 400px;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  padding: 15px 20px;
} */

/* .blurred-box:after {
  content: "";
  width: 105%;
  height: 105%;
  background: inherit;
  position: absolute;
  left: -12px;
  right: 0;
  top: 5px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
} */

/* .form-header {
  position: relative;
  z-index: 1;
}

.form-header .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
} */
/* .form-header .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.form-header .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 6px 10px;
  background: rgba(19, 6, 84, 0.3);
  background: transparent;
  color: #6F6796;
  font-size: 15px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.form-header .tab-group li a:hover {
  background: rgba(18, 67, 81, 0.2);
  color: #ffffff;
}

.form-header .tab-group .active a {
  background: rgba(19, 6, 84, 0.6);
  border-bottom: 3px solid #fec007;
  color: #ffffff;
}

.form-header .tab-group .active a:hover {
  background: rgba(19, 6, 84, 0.3);
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .auth_section {
    height: 100vh;
  }

  .blurred-box {
    position: relative;
    width: 330px;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 10px;
    margin-top: 0px;
  }

  .auth_container {
    top: 50%;
    left: 50%;
  }
}

@media screen and (max-width: 321px) {
  .auth_section {
    height: 115vh;
  }

  .auth_container {
    top: 55%;
    left: 50%;
  }

  .blurred-box {
    position: relative;
    width: 300px;
    height: 100%;
    overflow: hidden;
    background: #fff;
    padding: 10px 10px;
    margin-top: 0px;
  }

  .form-header .tab-group li a {
    padding: 8px;
  }

} */

.login_signup_section {
  /* min-height: 100vh; */
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 30px;
}

.desktopView.login_decoration .visaImage {
  height: 400px;
  position: absolute;
  top: 200px;
  left: 250px;
}

.right-side {
  margin-top: 110px;
  height: calc(100vh - 150px);
}

.blurred-box {
  position: relative;
  width: 529px;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  padding: 15px 20px;
  margin-left: 130px;
  /* margin-top:-60px */
}

.form-header {
  position: relative;
  z-index: 1;
}

.form-header .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

.form-header .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.form-header .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 6px 0px;
  background: rgba(19, 6, 84, 0.3);
  background: transparent;
  color: #6F6796;
  font-size: 18px;
  float: left;
  /* width: 50%; */
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.form-header .tab-group li a {
  border-bottom: 3px solid #407BFF;
  font-size: 19px;
  font-weight: 600;
  color: black;
}

.form-footer {
  padding-top: 25px;
}

.other_option {
  text-align: center;
}

.other_option h4 {
  width: 100%;
  text-align: center;
  border-bottom: 0.7px solid #ADADAD;
  line-height: 0.2em;
  margin: 10px 0 20px;
}

.other_option h4 span {
   background:#fff;
   font-size: 14px;
   color: #707070;
   padding:0 10px;
}

.login_with_other {
  text-align: center;
  padding: 20px;
}

.login_with_other .facebook {
  margin-left: 10px;
}

.option_for_login_signup {
  padding-top: 20px;
  text-align: center;
}

.option_for_login_signup p {
  font-size: 14px;
  color: #707070;
}

.option_for_login_signup p span {
  font-size: 16px;
  color: #407BFF;
  cursor: pointer;
}

.desktopView {
  display: block;
}

.mobileView {
  display: none;
}

@media screen and (max-width: 767px) {
  .login_signup_section {
    height: 100vh;
  }

  .desktopView {
    display: none;
  }

  .mobileView {
    display: block;
  }



  .form-footer {
    padding-top: 0px;
  }

  .login_with_other {
    text-align: center;
    padding: 10px;
  }

  .option_for_login_signup {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
  }

  .option_for_login_signup p {
    font-size: 12px;
    color: #707070;
  }

  .option_for_login_signup p span {
    font-size: 14px;
    color: #407BFF;
    cursor: pointer;
  }

}

/* @media all and (min-width: 768px) and (max-width: 1024px) {
  .login_signup_section {
    height: 100vh;
  }

  .desktopView {
    display: none;
  }

  .mobileView {
    display: block;
  }

  .blurred-box {
    position: relative;
    width: auto;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 55px;
  }

  .img-box {
    display: flex;
    justify-content: center;
  }

  .passport_verification_image {
    height: 247px;
    width: 260px;
  }

  .mobileHeading .welcomeMessageheading {
    font-size: 16px;
    font-weight: 600;
  }

  .mobileHeading .welcomeMessage {
    font-size: 14px;
    color: #939393;
  }

  .form-footer {
    padding-top: 30px;
  }

  .login_with_other {
    text-align: center;
    padding: 15px;
  }

  .option_for_login_signup {
    padding-top: 15px;
    text-align: center;
  }

  .option_for_login_signup p {
    font-size: 12px;
    color: #707070;
  }

  .option_for_login_signup p span {
    font-size: 14px;
    color: #407BFF;
    cursor: pointer;
  }
} */

/* @media all and (min-width: 1024px) and (max-width: 1340px) {
  .blurred-box {
    position: relative;
    width: 400px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 110px;
  }
} */


/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
  .right-side {
    margin-top: 15px;
  }

  .blurred-box {
    position: relative;
    width: auto;
    height: auto;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 15px;
    padding: 0px 15px;
    margin-left: 0px;
  }





}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
  .login_signup_section {
    height: 100vh;
  }

  .desktopView {
    display: none;
  }

  .mobileView {
    display: block;
  }

  .blurred-box {
    position: relative;
    width: auto;
    background-color: #fff;
    overflow: hidden;
    /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07); */
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 55px;
  }



  .mobileHeading .welcomeMessageheading {
    font-size: 16px;
    font-weight: 600;
  }

  .mobileHeading .welcomeMessage {
    font-size: 14px;
    color: #939393;
  }

  .form-footer {
    padding-top: 30px;
  }

  .login_with_other {
    text-align: center;
    padding: 15px;
  }

  .option_for_login_signup {
    padding-top: 15px;
    text-align: center;
  }

  .option_for_login_signup p {
    font-size: 12px;
    color: #707070;
  }

  .option_for_login_signup p span {
    font-size: 14px;
    color: #407BFF;
    cursor: pointer;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
/* @media (min-width:961px)  {
  .blurred-box {
    position: relative;
    width: auto;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    box-shadow: none;
    border-radius: 15px;
    padding: 0px 15px;
    margin-left: 0px;
  }

  .img-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .passport_verification_image {
    height: 260px;
    width: 260px;
  }

  .mobileHeadingSignIn {
    margin-top: 30px;
  }

  .mobileHeadingSignIn .welcomeMessageheading {
    font-size: 28px;
    font-weight: 600;
  }

  .mobileHeadingSignIn .welcomeMessage {
    font-size: 12px;
    margin-left: 5px;
    color: #939393;
  }

  .mobileHeading {
    margin-top: 25px;
  }

  .mobileHeading .welcomeMessageheading {
    font-size: 24px;
    font-weight: 600;
  }

  .mobileHeading .welcomeMessage {
    font-size: 12px;
    color: #939393;
  }

} */


/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .desktopView {
    display: block;
  }

  .mobileView {
    display: none;
  }

  .right-side {
      margin-top: 110px;
    }

  .desktopView.login_decoration .visaImage {
    height: 400px;
    position: absolute;
    top: 160px;
    left: 150px;
  }

  .blurred-box {
    position: relative;
    width: 400px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 83px;
  }
}

@media (min-width:1200px) {
  .desktopView {
    display: block;
  }

  .mobileView {
    display: none;
  }

  .right-side {
    margin-top: 110px;
  }


  .desktopView.login_decoration .visaImage {
    height: 400px;
    position: absolute;
    top: 160px;
    left: 150px;
  }

  .blurred-box {
    position: relative;
    width: 400px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 40px;
  }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
  .desktopView {
    display: block;
  }

  .mobileView {
    display: none;
  }

  .right-side {
    margin-top: 90px;
  }

  .desktopView.login_decoration .visaImage {
    height: 400px;
    position: absolute;
    top: 175px;
    left: 160px;
  }

  .blurred-box {
    position: relative;
    width: 490px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 20px;
  }

  .mobileHeading .welcomeMessageheading {
    font-size: 16px;
    font-weight: 600;
  }

  .mobileHeading .welcomeMessage {
    font-size: 14px;
    color: #939393;
  }

  .form-footer {
    padding-top: 16px;
  }

  .login_with_other {
    text-align: center;
    padding: 15px;
  }

  .option_for_login_signup {
    padding-top: 0px;
    text-align: center;
  }

  .option_for_login_signup p {
    font-size: 12px;
    color: #707070;
  }

  .option_for_login_signup p span {
    font-size: 14px;
    color: #407BFF;
    cursor: pointer;
  }

  .login_with_other {
    text-align: center;
    padding: 10px;
  }

}

@media (min-width:1350px) {
  .desktopView {
    display: block;
  }

  .mobileView {
    display: none;
  }

  .right-side {
    margin-top: 90px;
  }

  .desktopView.login_decoration .visaImage {
    height: 400px;
    position: absolute;
    top: 175px;
    left: 125px;
  }

  .blurred-box {
    position: relative;
    width: 529px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 25px;
    /* margin-top:-60px */
  }

}

@media (min-width: 1440px) {
  .desktopView {
    display: block;
  }

  .mobileView {
    display: none;
  }

  .right-side {
    margin-top: 89px;
  }

  .desktopView.login_decoration .visaImage {
    height: 400px;
    position: absolute;
    top: 170px;
    left: 198px;
  }

  .blurred-box {
    position: relative;
    width: 529px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 15px 20px;
    margin-left: 97px;
    /* margin-top:-60px */
  }

}
