.bgColor {
  background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.capsule {
  width: 50%;margin-left: 25%;margin-top: 0px;
}

.card-footer {
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

  
.formcontainer {
      /* margin: 100px; */
      padding: 30px;
    }
    .responsive-logo{
      height: 22px;
      width: 200px;
      margin-top: 20px;
    }

    .homeform {
      /* border-radius: 50px 50px 0px 0px; */
      margin-top: 180px;
      margin-bottom: 140px;
      padding: 0px 10px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .homeform {
      /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);; */
    }

    .customformrow {
      padding: 50px;
    }

    .inputround {
      border-radius: 20px;
    }

    .roundedinput {
      border-radius: 20px;
    }

    .cardheader {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    .signup-capsule {
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      display: flex;justify-content: center;align-items: center;background-color: #404040;color:white;border-radius: 20px 0px 0px 20px;height: 40px;
    }
    .signup-capsule:hover {
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      background-color: #666666;
      cursor: pointer;
    }

    .login-capsule {
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      display: flex;justify-content: center;align-items: center;background-color: #dfdfff;border-radius: 0px 20px 20px 0px;height: 40px;
    }

    @media only screen and (max-width: 576px) {
      .login-capsule {
        width: 85px;
        font-size: 14px;
      }
      .signup-capsule {
        width: 85px;
        font-size: 14px;
      }
      .forgotpassword {
        font-size: 15px;
      }
      
      }
    .login-capsule:hover {
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      background-color: #ebebff;
      cursor: pointer;
    }

    .card {
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      width: auto;
      background-color: white(0, 0, 0, 0.5) !important;
    }

    input {
        border: 1px solid #e6e6e6;
      border-bottom-width: 3px;
    }
      

    .card-header h3 {
      color: navy;
    }



    .input-group-prepend span {
      border-radius: 20px 0px 0px 20px;
      width: 50px;
      background-color: navy;
      color: white;
      border: 0 !important;
    }

    input:focus {
      outline: 0 0 0 0 !important;
      box-shadow: 0 0 0 0 !important;
    }

    .remember {
      color: navy;
    }

    .remember input {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      margin-right: 5px;
    }

    .login_btn {
      border-radius: 20px;
      margin-top: 10px;
      color: white;
      background-color: navy;
      width: 100px;
    }

    .login_btn:hover {
      border-color: navy;
      color: navy;
      background-color: white;
    }

    .links {
      color: black;
    }

    .links a {
      margin-left: 4px;
    }


    @media (max-width: 410px) {
      .form-control {
        font-size: 12px
      }

      .agree {
        font-size: 12px;
      }
  
      .login-capsule {
        width: 75px;
        font-size: 12px;
      }
      .signup-capsule {
        width: 75px;
        font-size: 12px;
      }
      .forgotpassword {
        font-size: 15px;
      }
    }


    @media screen and (max-width: 480px) {
      .homeform {
        margin-top: 130px;
      } 

      .capsule {
        width: 100%;margin-left: 0%;margin-top: 0px;
      }

      .login-capsule {
        height: 35px;
      }

      .signup-capsule {
        height: 35px;
      }
    }

    .card-body {
      padding: 8px 10px 0px;
    }

    @media screen and (min-width: 360px) and (max-width: 480px) {
      .homeform {
        margin-top: 180px;
        margin-bottom: 50px;
      }
    } 