<div class="bgColor">
<div class="container">
  <div>
    <div class="row">

      <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 ">

        <div class="homeform">

          <div style="display: flex;justify-content: center">
            <img data-src="https://static.visa2fly.com/assets/logo3.png" class="responsive-logo lazyload" alt="visa2fly logo">
          </div>
          <div  class="capsule">
            <div class="row" style=" display: flex; justify-content: center">
              <div  (click)="navigateToSignup()" id="SignUp" class="col-sm-6 signup-capsule" style="margin-top: 40px;">
                Sign Up
              </div>
              <div (click)="navigateToLogin()" id="Login" class="col-sm-6 login-capsule" style="margin-top: 40px;">
                Sign In
              </div>
            </div>
          </div>
          <div class="cardheader" style="margin-top: 20px;">
          </div>

            <div class="card-body">
                <app-login *ngIf="show_login"></app-login>
                <app-signup *ngIf="show_signup"></app-signup>
            </div>

          <div class="card-footer" style="background-color: white" *ngIf="show_login">

            <div class="d-flex justify-content-center" >
              <a class="forgotpassword" [routerLink]="['/slcontainer','signup']" routerLinkActive="router-link-active" >New User ? Signup</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>