<section id="faq">
  <div class="container-fluid wrapContainer" style="position: relative">
    <div class="row">
      <div class="col-12 text-center">
        <h1>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h1>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="estoniaAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#estoniaAccordion1"
              aria-expanded="true"
              aria-controls="estoniaAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                    Are there any extra documents required for minors to submit?
                </button>
              </h5>
            </div>

            <div
              id="estoniaAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#estoniaAccordion"
            >
              <div class="card-body">
                <p>
                    Yes. Minors will need the signatures of both parents on all pages of their application. They will also need a notarized NOC (No Objection Certificate) by both parents (if travelling alone) or by the parent who is not accompanying the minor. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#estoniaAccordion2"
              aria-expanded="false"
              aria-controls="estoniaAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    If I am travelling to other Schengen countries, can I apply to the Malta embassy only?
                </button>
              </h5>
            </div>
            <div
              id="estoniaAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#estoniaAccordion"
            >
              <div class="card-body">
                <p>
                    Yes, you can - only if you are staying in Malta for the maximum number of days. If the days are equal between countries, apply for a visa from the country which you will be entering the Schengen territories through. Your Schengen visa will need to be obtained from the embassy or consulate of the country where your main purpose of travel lies.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#estoniaAccordion3"
              aria-expanded="false"
              aria-controls="estoniaAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    If I am applying for more than one application, do I still need multiple copies of the documents?
                </button>
              </h5>
            </div>
            <div
              id="estoniaAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#estoniaAccordion"
            >
              <div class="card-body">
                <p>
                    Yes, you do. You will need photocopies of all documents in equal numbers as your application. For example, if you are processing 4 applications, you will need 4 copies of each of the documents - be it the invitation letter, itinerary, etc. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#estoniaAccordion4"
              aria-expanded="false"
              aria-controls="estoniaAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    If I am visiting more than 1 Schengen country, is there anything else I need to take into consideration?
                </button>
              </h5>
            </div>
            <div
              id="estoniaAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#estoniaAccordion"
            >
              <div class="card-body">
                <p>
                    If you are visiting more than 1 Schengen country, you will need to provide detailed travel accommodation proof for all mentioned countries. Transfer details (such as flight tickets) are also mandatory, and these two details must be highlighted in the application.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#estoniaAccordion5"
              aria-expanded="false"
              aria-controls="estoniaAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    What is the deadline for applying for the visa?
                </button>
              </h5>
            </div>
            <div
              id="estoniaAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#estoniaAccordion"
            >
              <div class="card-body">
                <p>
                    Your application should be submitted at least 4 weeks before your intended date of travel. The maximum date for applying in advance is upto 6 months in advance. 
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#estoniaAccordion6"
                aria-expanded="false"
                aria-controls="estoniaAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is it guaranteed that I will get the visa after submitting all of the docs?
                  </button>
                </h5>
              </div>
              <div
                id="estoniaAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    Submitting all documents does not guarantee that a visa will be granted to you. This decision lies at the discretion of the The High Commission - who can also request further documentation or personal interviews (if needed). If you do not comply with these conditions, it reduces your chances of obtaining the visa, and risks immediate rejection. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#estoniaAccordion7"
                aria-expanded="false"
                aria-controls="estoniaAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    For medical insurance purposes, does any insurance that includes medical expenses hold valid?
                  </button>
                </h5>
              </div>

              <div
                id="estoniaAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    No. You will need to purchase insurance from one of the 16 Schengen-recognized insurance companies in India. Please contact Visa2Fly for further details. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#estoniaAccordion8"
                aria-expanded="false"
                aria-controls="estoniaAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Should I attach the photos to the application form?
                  </button>
                </h5>
              </div>

              <div
                id="estoniaAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    You will not need to do this - our Visa2Fly officials shall handle it for you. In any case, please do not staple your photographs to the Application Form.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading9"
                data-toggle="collapse"
                data-target="#estoniaAccordion9"
                aria-expanded="false"
                aria-controls="estoniaAccordion9"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are there any steps between approval of visa and issuance of visa?
                  </button>
                </h5>
              </div>
              <div
                id="estoniaAccordion9"
                class="collapse"
                aria-labelledby="heading9"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    Usually there is nothing else you will need to worry about. However, in some circumstances, a confirmed return flight ticket may be asked for submission. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading10"
                data-toggle="collapse"
                data-target="#estoniaAccordion10"
                aria-expanded="false"
                aria-controls="estoniaAccordion10"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    My passport only has one blank page left in it to process visas. Is this ok?
                  </button>
                </h5>
              </div>
              <div
                id="estoniaAccordion10"
                class="collapse"
                aria-labelledby="heading10"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    You will need at least 2 blank pages in your passport for your visa to be processed. Kindly apply for a fresh passport to avoid this issue. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading11"
                data-toggle="collapse"
                data-target="#estoniaAccordion11"
                aria-expanded="false"
                aria-controls="estoniaAccordion11"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there any urgent visa that can be processed in a shorter time?
                  </button>
                </h5>
              </div>
              <div
                id="estoniaAccordion11"
                class="collapse"
                aria-labelledby="heading11"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    All applications take a minimum of 15 days, therefore, there is no urgent visa availability option. Please remember to not get scammed by companies offering this service for a higher price.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
      </div>
    </div>
  </div>
</section>
