.wrongPage {
  background-color: #ffffff;
  height: 90vh;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.something-went-wrong {
  margin-top: 50px;
  margin-bottom: 40px;
}

.goingWrong {
  top: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-main {
  color: red;
  font-size: 35px;
  font-weight: 700;
}

.wentHome .btn {
  font-size: 12px;
}

.primary-content {
  margin-top: 30px;
  font-size: 25px;
}

.primary-sub {
  font-weight: 600;
}

@media only screen and (max-width: 580px) {
  .something-went-wrong {
    margin-top: 50px;
    margin-bottom: 0px !important;
  }

  .goingWrong {
    top: 50% !important;
    position: relative !important;
  }

  .primary-main {
    color: red;
    font-size: 25px;
    font-weight: 700;
  }
  

  .primary-content {
    margin-top: 10px !important;
    font-size: 18px !important;
  }

  .wrongPage {
    background-color: #ffffff;
    height: 96vh !important;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  }
  
}
