<div class="wrongPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 text-center  something-went-wrong">
        <img src="../../../../assets/somethingWrong.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-7 col-md-6 text-center  something-went-wrong">
        <div class="goingWrong">
          <h2 class="primary-main">Unfortunately !</h2>
          <div class="primary-content">
            <p class="primary-sub">Something Went Wrong</p>
            <p class="primary-sub">Please Try Again Later</p>
          </div>
          <div class="wentHome text-center">
            <button class="btn btn-primary" (click)="goHome()">GO BACK HOME</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
