section#plans {
  padding-top: 50px;
  padding-bottom: 50px;
}

section#plans .container-sm {
  /* background-image: url(../../../../assets/insurance/plans/pexels-jeff-ibera-1320755.jpg); */
  background-image: url(../../../../../assets/insurance/plans/pexels-pok-rie-130879.jpg);
  /* background-image: url(../../../../assets/insurance/plans/pexels-pixabay-262325.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cssTabbing {
  position: relative;
  top: -23px;
  width: 340px;
  margin: 0 auto;
}

.card_wrapper {
  background: red;
  padding: 5px 15px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}

.summary_details .card_wrapper {
  background: transparent;
  color: #fff;
}

/* .plans_details {
  overflow: auto;
  height: 62vh;
}

.plans_details::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.plans_details::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
} */

.plans_details::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.plans_details .card_wrapper {
  background: #fff;
  color: #000;
}

.travelFormTab {
  display: block;
  list-style: none;
  background: #fff;
  margin-bottom: 0;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(159, 159, 159, 0.5);
}

.padding_margin,
li,
ol,
ul {
  padding: 0;
  margin: 0;
}

.mt__4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.articleWrapper.travelFormTab li,
.travelFormTab li {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.travelFormTab li a.active {
  background: #002154;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  position: relative;
}

.travelFormTab li {
  position: relative;
}

.travelFormTab li a {
  display: block;
  list-style: none;
  padding: 10px 6px 10px 26px;
  color: #333;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.label_sty {
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  position: relative;
  text-transform: uppercase;
}

.formbox_new {
  display: table;
  width: 100%;
}

.formbox_new span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  top: 15px;
  text-transform: uppercase;
}

ul.travellerAgelist li.ageList {
  display: inline-block;
  width: 20%;
  text-align: center;
  position: relative;
  margin: 0 6px 6px 0;
}

ul.travellerAgelist li.list_btn {
  float: right;
  width: 12%;
  margin-right: 0;
  text-align: center;
}

.ageList input ~ label {
  color: #65657b;
  font-family: sans-serif;
  left: 15px;
  font-size: 12px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: all 200ms ease, color 200ms;
  top: 12px;
}

.ageList input:focus ~ label,
.has-content input ~ label {
  top: 0px;
  font-size: 10px;
  color: #3399ff;
  padding: 2px;
  transition: 0.3s;
  left: 10px;
}

.summary_details .date_input {
  width: 49%;
}

.summary_details .float_left {
  float: left;
}

.summary_details .float_right {
  float: right;
}

.input_sty {
  letter-spacing: 0;
  font-weight: 500;
  border: 0;
  padding: 4px 10px;
  border-radius: 4px;
  width: 100%;
  color: #757575;
  font-size: 12px;
  min-height: 40px;
  box-shadow: 1px 1px 1px #000;
  display: flex;
}

.plans-filter span {
  width: 50%;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  position: relative;
  text-transform: uppercase;
}

.plans-filter select {
  width: 50%;
  background: transparent;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  padding: 0;
}

.plans-filter select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.formbox_new {
  display: table;
  width: 100%;
}

.formbox_new .radioLabel {
  width: 55%;
  display: block;
  float: left;
}

.formbox_new span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  top: 15px;
}

.formbox_new .formInput .inputLabel {
  background: #293f5e;
  width: 100%;
  position: absolute;
  left: 0;
  font-size: 10px;
  top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2px 5px 2px 2px;
  display: none;
}

.formbox_new .formInput.alignRight {
  float: right;
  position: relative;
}

.formbox_new .formInput {
  background: #fff;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  color: #333;
  font-size: 12px;
  min-height: 40px;
  box-shadow: 1px 1px 1px #000;
  display: flex;
}

.formbox_new .formInput input,
.formbox_new .formInput select {
  width: 100%;
  border: 0;
  font-size: 11px;
  font-weight: 500;
  padding: 0 10px;
  letter-spacing: 0;
}

.formbox_new .formInput.travellers {
  min-height: 50px;
}

.formbox_new .radioBox {
  float: right;
  width: 45%;
}

.formbox_new .radioBox label.wrapper {
  font-weight: 400;
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 7px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 25%;
  float: left;
}

.formbox_new .wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.formbox_new .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
}

table th {
  padding-bottom: 5px;
  border-bottom: 1ps solid #fff !important;
}

table td {
  padding-top: 5px;
}

.ageListInputBox {
  position: relative;
}

button.btn-proceed {
  border-radius: 3px;
  background-color: #f8ab35;
  box-shadow: 0 0 8px 0 rgba(66, 66, 66, 0.2);
  color: #fff;
  width: 60%;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px;
  margin: 13px 0 10px;
  position: relative;
}

.pb__04 {
  margin-bottom: 20px;
}

.pb__00 {
  padding: 5px 10px;
}

.xyz__0 {
  padding: 0 8px;
}


table tr th {
  padding: 5px;
  color: #fff;
  background-color: #000080;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

@media screen and (max-width: 600px) {
  .pb__04 {
    margin-bottom: 50px;
  }

  .plans_details .card_wrapper {
    padding: 10px;
  }
  
  .pb__00 {
    padding: 0;
  }
  
  .mt__4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .pdtp__02 {
    margin-top: 10px;
  }
}
