<section id="faq">
<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h3><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>FAQ's</span></h3>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="southafricaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#southafricaAccordion1"
            aria-expanded="true" aria-controls="southafricaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What are the things I can do with a visitors visa?
              </button>
            </h5>
          </div>

          <div id="southafricaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#southafricaAccordion">
            <div class="card-body">
              <p>
                You will be able to visit family or friends, as well as undertake tourism purposes. You can also attend
                sports events with this visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#southafricaAccordion2"
            aria-expanded="false" aria-controls="southafricaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I get my visa online?
              </button>
            </h5>
          </div>
          <div id="southafricaAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#southafricaAccordion">
            <div class="card-body">
              <p>
                The South African government has announced that an e-visa system may start
                in 2021. For now, you will have to apply in person at the nearest official
                visa application centre. However, some cases may require your attendance
                at the South African High Commission, Delhi or the Consulate General
                of the Republic of South Africa, Mumbai. This would be prior to them
                taking a decision on your visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#southafricaAccordion3"
            aria-expanded="false" aria-controls="southafricaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is it guaranteed that I can enter South Africa with my visa?
              </button>
            </h5>
          </div>
          <div id="southafricaAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#southafricaAccordion">
            <div class="card-body">
              <p>
                Your visa is proof that your application has been reviewed at
                a South African embassy, mission or consulate, and a consular
                officer has deemed you eligible to enter the country for a set
                purpose. The visa will allow you to exit your country and travel
                to a South African port of entry. Here, an immigration official
                will determine if you are allowed to enter or not, and for how
                long you can stay for that particular visit.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#southafricaAccordion4"
            aria-expanded="false" aria-controls="southafricaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is the stay period of my visa?
              </button>
            </h5>
          </div>
          <div id="southafricaAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#southafricaAccordion">
            <div class="card-body">
              <p>
                Your visa’s period of validity is calculated from the date of entry into
                South Africa. It will be set out under the heading "conditions" on the
                visa label. This is why you need to make sure that you apply for
                the correct visa/permit. You may be refused entry if your intentions do
                not match those on the visa. The stay period depends on your
                purpose and how long it will take to complete your itinerary - it varies
                from person to person, but is stated clearly in your visa label.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#southafricaAccordion5"
            aria-expanded="false" aria-controls="southafricaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I need a yellow fever vaccination?
              </button>
            </h5>
          </div>
          <div id="southafricaAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#southafricaAccordion">
            <div class="card-body">
              <p>
                If you are on a direct flight to South Africa, you do not. If you
                are transiting through the yellow-fever belt of Africa or South America,
                you will need to get one before leaving India.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse" class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#southafricaAccordion6"
              aria-expanded="false" aria-controls="southafricaAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I am travelling with a minor/the minor is travelling alone, are there any documents needed?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion6" class="collapse" aria-labelledby="heading6"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  You will need an NOC from the legal guardians (which is outlined in
                  the “Documents Required” part of this webpage). Other than this, you
                  will need a Parental Consent Affidavit form (for which the link is
                  with us as well as VFS), a passport copy of the parents and the child,
                  and the unabridged Birth Certificate of child must be carried for Parental
                  Consent Affidavit procedure. In the case of death of either parent,
                  their death certificate has to be produced. If the parents are divorced,
                  the legal divorce documents have to be produced. If the original birth
                  certificate of the minor is in a language other than English, it must
                  be translated into English, with the original attached as well.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#southafricaAccordion7"
              aria-expanded="false" aria-controls="southafricaAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I am travelling to visit family/friends, do I need any additional documents?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion7" class="collapse" aria-labelledby="heading7"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  You will need a letter of invitation from the South African hosts
                  whom you are going to visit. This should state the name and passport number
                  of the applicant, as well as the purpose and duration of visit to South Africa.
                  This letter should have the physical/postal address, as well as the contact
                  details of the host. It must be signed by the host, with their
                  name and designation written alongside. You must attach their ID
                  proof copy as well, and get the invitation Letter attested by a commissioner
                  of OATHS/South African Police.Another document needed is the attested residence
                  proof of the family/friends/host.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#southafricaAccordion8"
              aria-expanded="false" aria-controls="southafricaAccordionEigth">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What are the documents I can use to show my proof of financial means?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion8" class="collapse" aria-labelledby="heading8"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  These are the usually accepted documents. you will need to show proof of one or more of:
                </p>
                <li>Bank statements</li>
                <li>Salary advances</li>
                <li>Undertakings by the host(s) in South Africa</li>
                <li>Bursary</li>
                <li>Medical cover or</li>
                <li>The cash available with you in person (including credit cards and travellers’ cheques)</li>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#southafricaAccordion9"
              aria-expanded="false" aria-controls="southafricaAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I am travelling in a tour/group, is there any other document I need?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion9" class="collapse" aria-labelledby="heading9"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  For the proof of hotel booking, you need two more documents:
                </p>
                <li>A letter from South Africa is needed. This letter needs to contain
                  the name and details of the South Africa tour guide handling company,
                  as well as the travel agency in South Africa that it is partnering with.
                  This letter must list all the tourist names, as well as a signature.
                </li>
                <li>A copy of the tour's itinerary must also be signed by a South Africa host (tour handling company.)
                </li>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
              data-target="#southafricaAccordion10" aria-expanded="false" aria-controls="southafricaAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I want to work in South Africa, can I do so with this business visa?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion10" class="collapse" aria-labelledby="heading10"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  If you wish to work (and be allowed to engage in paid work) in South Africa, you will need to obtain a
                  short term work visitor’s visa, also known as section 11(2) visitor’s visa. This has a slightly
                  different set of documents required, however, these are outlined in the official application form
                  itself.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
              data-target="#southafricaAccordion11" aria-expanded="false" aria-controls="southafricaAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If my visa fee is denied, will I be able to obtain a refund?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion11" class="collapse" aria-labelledby="heading11"
              data-parent="#southafricaAccordion">
              <div class="card-body">

                <p>
                  It is not possible for Indians to obtain a fee refund for the South African visa, as VFS does not
                  process fee refunds.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse"
              data-target="#southafricaAccordion12" aria-expanded="false" aria-controls="southafricaAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I apply for my visa 6 days in advance since that is the visa processing time?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion12" class="collapse" aria-labelledby="heading12"
              data-parent="#southafricaAccordion">
              <div class="card-body">

                <p>
                  This processing time is an indicative figure only. Although
                  it is based on the majority of real processing times, the
                  duration may vary at the discretion of the South African High
                  Commission, New Delhi and South African Consulate General,
                  Mumbai. It is advised to apply for your visa at least 2 weeks
                  (and not more than 3 months) in advance.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
              data-target="#southafricaAccordion13" aria-expanded="false" aria-controls="southafricaAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I pay my visa fees by card?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion13" class="collapse" aria-labelledby="heading13"
              data-parent="#southafricaAccordion">
              <div class="card-body">

                <p>
                  If you are applying with us, then yes, you can. Otherwise,
                  your visa fees are accepted by the VFS (including the logistics
                  charges as well) in cash only.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse"
              data-target="#southafricaAccordion14" aria-expanded="false" aria-controls="southafricaAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  All my documents are in another language. What do I do?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion14" class="collapse" aria-labelledby="heading14"
              data-parent="#southafricaAccordion">
              <div class="card-body">

                <p>
                  Documents that are issued in a regional language must be officially translated to English before
                  submission. This is mandatory.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse"
              data-target="#southafricaAccordion15" aria-expanded="true" aria-controls="southafricaAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Do I need a transit visa if my nationality is Indian and I am an ordinary Indian passport holder?
                </button>
              </h5>
            </div>

            <div id="southafricaAccordion15" class="collapse" aria-labelledby="heading15"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  Yes, you do. If your citizenship is not Indian, but you reside in India, there may be chances that you
                  do not require a transit visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading16" data-toggle="collapse"
              data-target="#southafricaAccordion16" aria-expanded="false" aria-controls="southafricaAccordion16">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I leave the airport during transit in South Africa?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion16" class="collapse" aria-labelledby="heading16"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  You cannot leave the airport. During transit, you must stay in the international transit area of the
                  airport.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading17" data-toggle="collapse"
              data-target="#southafricaAccordion17" aria-expanded="false" aria-controls="southafricaAccordion17">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I use other travel documents instead of my passport?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion17" class="collapse" aria-labelledby="heading17"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  No, you will not be able to use any other documents - especially temporary
                  identification proofs. Your passport is the most secure way
                  of guaranteeing transit rights.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading18" data-toggle="collapse"
              data-target="#southafricaAccordion18" aria-expanded="false" aria-controls="southafricaAccordion18">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My baggage got lost in transit. Who can I contact?
                </button>
              </h5>
            </div>
            <div id="southafricaAccordion18" class="collapse" aria-labelledby="heading18"
              data-parent="#southafricaAccordion">
              <div class="card-body">
                <p>
                  You will need to contact the airline you came through. This must be done
                  immediately, on realising that your baggage is missing. Airlines will help you
                  with further procedures for obtaining your baggage. We recommend that you
                  take travel insurance whenever travelling abroad. Travel insurance covers
                  circumstances such as baggage loss, flight delays,
                  medical expenses etc.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
        data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
        {{loadText}}
      </button>
    </div>
  </div>
</div>
</section>
