p {
  font-size: 14px;
}

a {
  color: #000 !important;
}

.deskstopView {
  display: block;
}

@media screen and (max-width: 767px) {
  .deskstopView {
    display: none;
  }
}


 /* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .list-inline-item:not(:last-child) {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1290px;
  }

}

 /* hi-res laptops and desktops */
 @media (min-width:1281px) {
  .list-inline-item:not(:last-child) {
    margin-right: 6.0rem;
  }
}

@media (min-width:1440px) {
  .list-inline-item:not(:last-child) {
    margin-right: 6.5rem;
  }
}


