<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="japanAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#japanAccordion1"
            aria-expanded="true" aria-controls="japanAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Are there any extra documents that I would need to have if I am going to visit my friends/relatives?
              </button>
            </h5>
          </div>

          <div id="japanAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#japanAccordion">
            <div class="card-body">
              <p>You would need documents to prove kinship with the inviter (the person whom
                you are going to meet) eg. Birth certificate/ copy of family
                registry (if relatives) or photographs, letters, e-mails, bills
                for international phone calls, etc (for acquaintances).
                If the person whom you are visiting is a foregn national, they must
                show their passport, as well as proof of residence (residence card
                and certificate of residence)
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#japanAccordion2"
            aria-expanded="false" aria-controls="japanAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If I am being invited by someone, do they send their documents to the Embassy directly?
              </button>
            </h5>
          </div>
          <div id="japanAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#japanAccordion">
            <div class="card-body">
              <p>No. The person in Japan (who is inviting you) must give the
                applicant their documents. The applicant will submit them along
                with their visa application. If you have been invited, processing
                times for the visas will be longer as the supporting
                documents needed may be more than normal.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#japanAccordion3"
            aria-expanded="false" aria-controls="japanAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I get my documents back from the Embassy once submitted?
              </button>
            </h5>
          </div>
          <div id="japanAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#japanAccordion">
            <div class="card-body">
              <p>All documents, apart from the passport that is submitted,
                will not be returned. That means that you must NOT provide
                original copies of other documents (excluding passport).
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#japanAccordion4"
            aria-expanded="false" aria-controls="japanAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Are the visa fees refundable?
              </button>
            </h5>
          </div>
          <div id="japanAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#japanAccordion">
            <div class="card-body">
              <p>If your visa is not approved by the Embassy, then your visa
                fees may be refunded. The service charges, however,
                may not be refundable.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#japanAccordion5"
            aria-expanded="false" aria-controls="japanAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there an e-visa for Japan?
              </button>
            </h5>
          </div>
          <div id="japanAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#japanAccordion">
            <div class="card-body">
              <p>Sadly, there is no e-visa for Indians currently. Although,
                going through an operator such as us really helps to simplify
                the process to a point where it might even feel like an e-visa.
              </p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#japanAccordion6"
            aria-expanded="false" aria-controls="japanAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I have two passports - one old and one new. Should I submit only the new one?
              </button>
            </h5>
          </div>
          <div id="japanAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#japanAccordion">
            <div class="card-body">
              <p>You will need to submit both the old and the new passports. If
                you have more than one passport, you must submit all of them.
                You will need to submit photocopies of the first and last pages
                (biodata pages) of your current passport, though.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#japanAccordion7"
            aria-expanded="false" aria-controls="japanAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Are there different rates of visa fees for Indian nationals and people of other nationalities living in
                India/ those with other citizenship?
              </button>
            </h5>
          </div>
          <div id="japanAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                Yes. The Japanese embassy rates differ between those who
                are Indian nationals and those who have citizenship from a
                different country, even if both kinds of people are living in India.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#japanAccordion8"
            aria-expanded="false" aria-controls="japanAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am currently outside India. However, I am Indian and appling for this visa. Are there any special
                documents required?
              </button>
            </h5>
          </div>
          <div id="japanAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                Yes. You will need to show proof of your legal residence in India, eg. through property papers etc.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#japanAccordion9"
            aria-expanded="false" aria-controls="japanAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What are the eligibility requirements for the visa?
              </button>
            </h5>
          </div>
          <div id="japanAccordion9" class="collapse" aria-labelledby="heading9" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                You should have an ordinary Indian (not diplomatic etc.) passport, and one of the following:

              </p>
              <li>
                Be an Individual who has travel records as temporary visitor to Japan twice or more in the last three
                years
              </li>
              <li>
                Have a travel record as temporary visitor to Japan in the last three years and has financial capacity to
                pay the travel expense
              </li>
              <li>
                Have a travel record as a temporary visitor to Japan and/or travel records as temporary visitor to G7
                countries (except Japan) in the last three years
              </li>
              <li>Be an individual with sufficient financial capacity </li>
              <li>Be a spouse or child of the individuals with sufficient financial capacity.
              </li>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#japanAccordion10"
            aria-expanded="false" aria-controls="japanAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Are the documents mentioned above the only documents that I would need to submit?
              </button>
            </h5>
          </div>
          <div id="japanAccordion10" class="collapse" aria-labelledby="heading10" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                Most of the time, these are the only documents that will
                be asked for. Each visa is considered on a case-by-case basis,
                so sometimes there are extra documents that are needed - however,
                we cannot guarantee what these might be for everyone. Please
                contact us if you have any doubts on the details required.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#japanAccordion11"
            aria-expanded="false" aria-controls="japanAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If my visa is refused, will I be informed of the reason?
              </button>
            </h5>
          </div>
          <div id="japanAccordion11" class="collapse" aria-labelledby="heading11" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                No. The Embassy does not inform of reasons for the refusal of visas.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#japanAccordion12"
            aria-expanded="false" aria-controls="japanAccordion12">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is it guaranteed that I will be given a multiple-entry visa?
              </button>
            </h5>
          </div>
          <div id="japanAccordion12" class="collapse" aria-labelledby="heading12" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                No. This decision is at the discretion of the visa officials,
                and if they feel that you will be eligible for a single-entry
                visa only, then that is the visa you will receive.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#japanAccordion13"
            aria-expanded="true" aria-controls="japanAccordion13">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What are the eligibility requirements for this multiple-entry business visa?
              </button>
            </h5>
          </div>

          <div id="japanAccordion13" class="collapse show" aria-labelledby="heading13" data-parent="#japanAccordion">
            <div class="card-body">
              <p>You must be a (regular) employee of either: </p>
              <li>
                A public (government) enterprise
              </li>
              <li>
                A private company that is listed on the stock exchange (including the country Japan and other third
                countries)
              </li>
              <li>
                A private company which has constant business transactions with a Japanese company that is listed on the
                stock exchange
              </li>
              <li>
                Japanese-affiliated companies which are members of the Japan Chamber of Commerce and have a management
                base in Japan
              </li>
              <li>
                A joint venture company/subsidiary company/branch office of a company which is listed on the stock
                exchange (including that of Japan and the third countries)
              </li>
              <li>
                Be a regular employee having a travel record to Japan for business purpose as well as travel records as
                temporary visitor to G7 countries (except Japan) in the last three years
              </li>
              <li>
                Being a regular employee with more than three travel records to Japan for business purposes in the last
                three years.
              </li>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#japanAccordion14"
            aria-expanded="false" aria-controls="japanAccordion14">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is it guaranteed that I will be able to obtain a multiple-entry visa if I submit all these documents?
              </button>
            </h5>
          </div>

          <div id="japanAccordion14" class="collapse" aria-labelledby="heading14" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                The Japanese government holds the right to decide whether
                or not you obtain a multiple-entry visa. They may choose,
                after evaluation, that you are eligible for a single and
                not a multiple-entry. In this case, the single entry
                is the visa you will obtain.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#japanAccordion15"
            aria-expanded="false" aria-controls="japanAccordion15">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is this visa for Indian nationals?
              </button>
            </h5>
          </div>

          <div id="japanAccordion15" class="collapse" aria-labelledby="heading15" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                Yes. The procedures and documents required (including fees, validity and processing time) are
                specifically for Indian nationals wanting to receive a multiple-entry visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading16" data-toggle="collapse" data-target="#japanAccordion16"
            aria-expanded="false" aria-controls="japanAccordion16">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I get a job in Japan with this visa?
              </button>
            </h5>
          </div>

          <div id="japanAccordion16" class="collapse" aria-labelledby="heading16" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                This visa is not for performing activities such as revenue
                generating business operations or activities to receive
                remuneration. It is for the purpose of business affairs, eg. to
                close a contract/ attend a conference. If you wish to work in
                Japan, you need a work visa and NOT a business visa.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading17" data-toggle="collapse" data-target="#japanAccordion17"
            aria-expanded="false" aria-controls="japanAccordion17">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Do I have to engage in business activities for all times that I travel to Japan with this visa?
              </button>
            </h5>
          </div>

          <div id="japanAccordion17" class="collapse" aria-labelledby="heading17" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                For the first time you travel to Japan with this visa, it is necessary to engage in business activities.
                From the second visit, you can use the visa as a tourist or visiting relatives/ acquaintances visa as
                well.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading18" data-toggle="collapse" data-target="#japanAccordion18"
            aria-expanded="false" aria-controls="japanAccordion18">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Do I need this kind of visa if I am going for cultural/artistic competitions/training as well?
              </button>
            </h5>
          </div>

          <div id="japanAccordion18" class="collapse" aria-labelledby="heading18" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                Yes, you will. There is a different strain of multiple-entry visa of this kind, so if you are going to
                be travelling multiple times to Japan for this reason, then you will need to apply for this visa.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading19" data-toggle="collapse" data-target="#japanAccordion19"
            aria-expanded="false" aria-controls="japanAccordion19">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What are the visa photo details?
              </button>
            </h5>
          </div>

          <div id="japanAccordion19" class="collapse" aria-labelledby="heading19" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                The photograph you will submit needs to be of the
                size 2*2 inches. The photo has to be a colour one, with a
                white background and printed on good quality paper.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading20" data-toggle="collapse" data-target="#japanAccordion20"
            aria-expanded="false" aria-controls="japanAccordion20">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I leave the airport with a Japan Transit Visa?
              </button>
            </h5>
          </div>
          <div id="japanAccordion20" class="collapse" aria-labelledby="heading20" data-parent="#japanAccordion">
            <div class="card-body">
              <p>Yes, you can. However, you can only engage in leisure
                and rest activities for a maximum of 15 days. You must be traveling
                to a foreign country from another foreign country via Japan - that
                is, you should be transiting through the area.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading21" data-toggle="collapse" data-target="#japanAccordion21"
            aria-expanded="false" aria-controls="japanAccordion21">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there a link to the visa application form?
              </button>
            </h5>
          </div>
          <div id="japanAccordion21" class="collapse" aria-labelledby="heading21" data-parent="#japanAccordion">
            <div class="card-body">
              <p>
                Yes, this is the application form: http://www.vfsglobal.com/japan/india/pdf/visa_application_form.pdf .
                Please note, you will have to visit the Embassy/ call and submit it to us to actually obtain the visa.
              </p>
            </div>
          </div>
        </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
  </div>
</div>
