<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
        </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="UAEAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#UAEAccordion1" aria-expanded="true" aria-controls="UAEAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What are Visit and Service Visas?
              </button>
            </h5>
          </div>

          <div id="UAEAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>Both visit and service visas fall under the
                Tourist Visa category, however, the stay
                periods and validity of both differ from
                the regular Tourist Visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#UAEAccordion2" aria-expanded="false" aria-controls="UAEAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How long is the visa processing time?
              </button>
            </h5>
          </div>
          <div id="UAEAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p> As long as all required documents are filled and submitted correctly when you apply the
                UAE e-visa online, visas will normally reach you by email within four working days of your
                application.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#UAEAccordion3" aria-expanded="false" aria-controls="UAEAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is a security deposit?
              </button>
            </h5>
          </div>
          <div id="UAEAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>Residents of certain countries will have to pay a security deposit, which is refunded upon
                your departure from the UAE. This amount is usually equivalent to USD 272.5 + Taxes (note: as
                of UAEvisa.net website)
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#UAEAccordion4" aria-expanded="false" aria-controls="UAEAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                In the event of my application being rejected, will I get a refund of my visa fees?
              </button>
            </h5>
          </div>
          <div id="UAEAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>Currently, the UAE Immigration does not refund fees for rejected applications. However,
                security deposits will be refunded within four (international) working days of the application
                being returned.</p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#UAEAccordion5" aria-expanded="false" aria-controls="UAEAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Why was my visa application rejected?
              </button>
            </h5>
          </div>
          <div id="UAEAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>The UAE authorities do not disclose reasons for unsuccessful visa applications in the case of
                a UAE visa for Indians, so specific reasons as to why your application was rejected are not
                available to us.</p>

            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#UAEAccordion6" aria-expanded="false" aria-controls="UAEAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What if stay beyond the mentioned stay duration as per our evisa?
              </button>
            </h5>
          </div>
          <div id="UAEAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>If you exceed the stay duration on the e-Visa, you may be required to pay fines, be deported, or
                otherwise forbidden from future travel to UAE</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#UAEAccordion7" aria-expanded="true" aria-controls="UAEAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I get a long-term visa online?
              </button>
            </h5>
          </div>

          <div id="UAEAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>Long-term or residency visas are not issued through this system. In case you would want a
                long-term visa, you would need to contact the UAE Naturalisation and Residency Department
                (DNRD) for more information.</p>


            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#UAEAccordion8" aria-expanded="false" aria-controls="UAEAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What if I am currently in the UAE under a tourist visa, but have recently been informed of
                transferring here work-wise?
              </button>
            </h5>
          </div>
          <div id="UAEAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p> Anyone already in the UAE can apply for a change of status or can exit the country and come
                back.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#UAEAccordion9" aria-expanded="true" aria-controls="UAEAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                How do I obtain a Transit Visa?
              </button>
            </h5>
          </div>

          <div id="UAEAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>Transit visas can only be provided by airlines,
                and are available only if an applicant has an
                onward itinerary from DXB (UAE International
                Airport) to any 3rd Destination and not immediately
                returning (turnaround) back to the origin.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#UAEAccordion10" aria-expanded="false" aria-controls="UAEAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I need a separate visa for each entry, if I plan on stopping over in UAE on both my
                outward and return trips?
              </button>
            </h5>
          </div>
          <div id="UAEAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>You require a new visa each time you enter the UAE, so the answer is yes.
              </p>
              <p>It is possible to apply for up to two visas
                for anyone itinerary through the system.
                Each visa must be applied for separately – upon
                completion of your first application, the process
                for your second visa may be started. If your
                itinerary permits, another alternative to
                consider would be a multiple entry visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="headingt11" data-toggle="collapse"
            data-target="#UAEAccordion11" aria-expanded="false" aria-controls="UAEAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What you should know about A (DATV) Direct Airside Transit Visa?
              </button>
            </h5>
          </div>
          <div id="UAEAccordion11" class="collapse" aria-labelledby="headingt11"
            data-parent="#UAEAccordion">
            <div class="card-body">
              <p>Among Indian Nationals, only those with a
                visit visa or green card issued by the USA,
                as well as Indian nationals with residence
                visa issued by the UK/EU are eligible for
                visa on arrival. Other citizens of India
                require a prearranged UAE visa.
              </p>
            </div>
          </div>
        </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
    
  </div>
</div>
