.carousel-control-prev,
.carousel-control-next {
    width: 0% !important;
    opacity: 1;
    top: -10px;
    color: #000 !important;
}

i.fa {
    color: #000;
}

.mgContainer {
    margin-left: 50px;
    margin-right: 50px;
}

.country {
    font-size: 16px;
    margin-top: 4px;
}

@media (min-width: 1750px) {
    .carouselImage {
        width: 342px;
        height: 210px;
        margin-top: 20px;
        border-radius: 10px !important;
    }
    .smallHeader {
        display: none;
    }
    .smallCarousel {
        display: none;
    }
    .popularVisa {
        font-size: 28px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}

@media (min-width: 1281px) and (max-width: 1749px) {
    .carouselImage {
        width: 280px;
        height: 160px;
        border-radius: 10px;
    }
    .smallCarousel {
        display: none;
    }
    .popularVisa {
        font-size: 28px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .carousel {
        padding: 0px 40px;
        margin: 30px auto 60px;
        /*padding: 0 80px;*/
    }
    .smallHeader {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .carouselImage {
        width: 180px;
        height: 140px;
        border-radius: 10px;
    }
    .smallCarousel {
        display: none;
    }
    .popularVisa {
        font-size: 26px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .carousel {
        margin: 30px auto 60px;
        padding: 0 80px;
    }
    .smallHeader {
        display: none;
    }
}


/* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    /* .carouselImage {
        width: 200px;
        height: 120px;
        padding: 0px 10px;
        border-radius: 10px;
    } */
    .smallCarousel {
        display: none;
    }
    .popularVisa {
        font-size: 24px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .carousel {
        margin: 30px auto 60px;
        /*padding: 0 80px;*/
    }
    .smallHeader {
        display: none;
    }
}


/* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */


/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
	
  } */


/* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .carouselImage {
        width: 280px;
        height: 140px;
        /* padding: 10px; */
    }
    .popularVisa {
        display: none;
    }
    .largeCarousel {
        display: none;
    }
    .smallCarousel {
        margin: 10px auto 60px;
        display: block;
    }
    .smallHeader {
        margin-top: 30px;
    }
    .smallHeader h2 {
        font-size: 20px;
    }
}


/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .carouselImage {
        width: 350px;
        height: 90px;
        padding: 0px;
    }
    .mgContainer {
        margin-left: 15px;
        margin-right: 15px;
    }
    .popularVisa {
        display: none;
    }
    .largeCarousel {
        display: none;
    }
    .smallCarousel {
        margin: 10px auto 40px;
        display: block;
    }
    .smallHeader {
        margin-top: 30px;
    }
    .country {
        font-size: 12px;
        margin-top: 2px;
    }
    .smallHeader h2 {
        font-size: 20px;
    }
}

.col-center {
    margin: 0 auto;
    float: none !important;
}

.carousel .item {
    text-align: center;
    overflow: hidden;
}

.carousel .item h4 {
    font-family: 'Varela Round', sans-serif;
}

.carousel .item img {
    max-width: 100%;
    display: inline-block;
}

.carousel .item .btn {
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: #a177ff;
    padding: 6px 15px;
    margin-top: 5px;
}

.carousel .item .btn:hover {
    background: #8c5bff;
}

.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-wrapper {
    margin: 5px;
    text-align: left;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.carousel .thumb-content {
    padding: 15px;
    font-size: 13px;
}

.carousel .carousel-control {
    height: 44px;
    width: 44px;
    background: none;
    margin: auto 0;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}

.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}

.carousel .carousel-control.left i {
    margin-left: -3px;
}

.carousel .carousel-control.right i {
    margin-right: -3px;
}

.carousel .carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
    border-color: transparent;
}

.carousel-indicators li {
    background: #ababab;
}

.carousel-indicators li.active {
    background: #555;
}

@media screen and (min-width: 850px) and (max-width: 1024px) {
    .carouselImage {
        width: 200px;
        height: 120px;
        /* padding: 0px 10px; */
        border-radius: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 849px) {
    .carouselImage {
        width: 137px;
        height: 120px;
        /* padding: 0px 10px; */
        border-radius: 10px;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .img-pd {
        padding: 0px 10px;
    }
}

@media screen and (width: 800px) {
  .carouselImage{
      height: 90px
  }
}

@media screen and (width: 1280px) {
      .carouselImage {
          width: 255px !important;
      }
     }
    