<div class="mgContainer">
    <div class=" text-center my-3" style="width: 100%;">
        <h3 class="popularVisa">Popular Destinations</h3>
        <div id="recipeCarouselLarge" class="carousel slide w-100 largeCarousel" data-ride="carousel" data-interval="3000" style="padding: 0px 15px;">
            <div class="carousel-inner  w-100 " role="listbox">
                <!-- for tablet and upper -->
                <div class="carousel-item row no-gutters active ">
                    <div class="col-3 float-left img-fluid rounded">
                        <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/United State Of America.jpg" />
                        <div class="country">United States</div>
                    </div>
                    <div class="col-3 float-left">
                        <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/United Kingdom.jpg" />
                        <div class="country">United Kingdom</div>
                    </div>
                    <div class="col-3 float-left rounded">
                        <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/Italy.jpg" />
                        <div class="country">Italy</div>
                    </div>
                    <div class="col-3 float-left rounded">
                        <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/France.jpg" />
                        <div class="country">France</div>
                    </div>
                </div>
                <div class="carousel-item row no-gutters ">
                    <div class="col-3 float-left rounded">
                        <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/Germany.jpg" />
                        <div class="country">Germany</div>
                    </div>
                    <div class="col-3 float-left rounded">
                        <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/Australia.jpg" />
                        <div class="country">Australia</div>
                    </div>
                    <div class="col-3 float-left rounded">
                        <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/United Arab Emirates.jpg" />
                        <div class="country">United Arab Emirates</div>
                    </div>
                    <div class="col-3 float-left rounded">
                        <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/Singapore.jpg" />
                        <div class="country">Singapore</div>
                    </div>
                </div>
                <!--  -->
            </div>
            <a class="carousel-control-prev" href="#recipeCarouselLarge" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#recipeCarouselLarge" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <!-- large controls -->
        </div>

        <!-- small Carousel -->
        <div class="smallHeader">
            <h2>Popular Destinations</h2>
        </div>
        <div id="recipeCarouselSmall" class="carousel slide smallCarousel" data-ride="carousel" data-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6 img-pd">
                            <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/United State Of America.jpg" />
                            <div class="country">United States</div>
                        </div>
                        <div class="col-6 img-pd">
                            <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/United Kingdom.jpg" />
                            <div class="country">United Kingdom</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-6 img-pd">
                            <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/Italy.jpg" />
                            <div class="country">Italy</div>
                        </div>
                        <div class="col-6 img-pd">
                            <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/France.jpg" />
                            <div class="country">France</div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-6 img-pd">
                            <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/Germany.jpg" />
                            <div class="country">Germany</div>
                        </div>
                        <div class="col-6 img-pd">
                            <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/Australia.jpg" />
                            <div class="country">Australia</div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-6 img-pd">
                            <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/United Arab Emirates.jpg" />
                            <div class="country">United Arab Emirates</div>
                        </div>
                        <div class="col-6 img-pd">
                            <img class="img-fluid carouselImage rounded" src="../../../assets/eVisa/Singapore.jpg" />
                            <div class="country">Singapore</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>