<div style="margin-left: 50px; margin-right: 50px;">
  <div class=" text-center my-3" style="width: 100%;">
    <h3 class="popularVisa">Popular Destinations</h3>
    <div
      id="recipeCarouselLarge"
      class="carousel slide w-100 largeCarousel"
      data-ride="carousel" data-interval="2000"
      style="padding: 0px 15px;"
    >
      <div class="carousel-inner  w-100 " role="listbox">
        <!-- for tablet and upper -->
        <div class="carousel-item row no-gutters active ">
          <div class="col-3 float-left img-fluid rounded">
            <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/singapore.jpg"
            />
            <div>Singapore</div>
          </div>
          <div class="col-3 float-left">
            <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/vietnam.jpg"
            />
            <div>Vietnam</div>
          </div>
          <div class="col-3 float-left rounded">
            <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/turkey.jpg"
            />
            <div class="country">Turkey</div>
          </div>
          <div class="col-3 float-left rounded">
            <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/sri_lanka.jpg"
            />
            <div>Sri Lanka</div>
          </div>
        </div>
        <div class="carousel-item row no-gutters ">
          <div class="col-3 float-left rounded">
            <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/cambodia.jpg"
            />
            <div>Cambodia</div>
          </div>
          <div class="col-3 float-left rounded">
            <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/Malaysia.jpg"
            />
            <div>Malaysia</div>
          </div>
          <div class="col-3 float-left rounded">
            <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/Myanmar.jpg"
            />
            <div>Myanmar</div>
          </div>
          <div class="col-3 float-left rounded">
            <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/Georgia.jpg"
            />
            <div>Georgia</div>
          </div>
        </div>
        <!--  -->
      </div>
      <a class="carousel-control-prev" href="#recipeCarouselLarge" role="button" data-slide="prev">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#recipeCarouselLarge" role="button" data-slide="next">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <!-- large controls -->
    </div>

    <!-- <div
      id="recipeCarouselSmall"
      class="carousel slide w-100 smallCarousel"
      data-ride="carousel"
    >
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item row no-gutters active ">
          <div class="col-6 float-left">
            <img
              class="img-fluid carouselImage"
              src="../../../assets/eVisa/Myanmar.jpg"
            />
            <div>China</div>
          </div>
          <div class="col-6 float-left">
            <img
              class="img-fluid carouselImage"
              src="../../../assets/eVisa/Malaysia .jpg"
            />
            <div>Austria</div>
          </div>
        </div>

        <div class="carousel-item row no-gutters  ">
          <div class="col-6 float-left">
            <img
              class="img-fluid carouselImage"
              src="../../../assets/eVisa/Myanmar.jpg"
            />
            <div>China</div>
          </div>
          <div class="col-6 float-left">
            <img
              class="img-fluid carouselImage"
              src="../../../assets/eVisa/Malaysia .jpg"
            />
            <div>Austria</div>
          </div>
        </div>
      </div>

    
    </div> -->

    <div class="smallHeader">
      <h2>Popular eVisa Destinations</h2>
    </div>
    <div
      id="recipeCarouselSmall"
      class="carousel slide smallCarousel"
      data-ride="carousel"
      data-interval="2000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-6">
              <img
                class="img-fluid carouselImage rounded"
                src="../../../assets/eVisa/singapore.jpg"
              />
              <div>Singapore</div>
            </div>
            <div class="col-6">
              <img
                class="img-fluid carouselImage rounded"
                src="../../../assets/eVisa/vietnam.jpg"
              />
              <div>Vietnam</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-6">
              <img
                class="img-fluid carouselImage rounded"
                src="../../../assets/eVisa/turkey.jpg"
              />
              <div class="country">Turkey</div>
            </div>
            <div class="col-6">
              <img
                class="img-fluid carouselImage rounded"
                src="../../../assets/eVisa/sri_lanka.jpg"
              />
              <div>Sri Lanka</div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-6">
              <img 
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/Myanmar.jpg"
            />
            <div>Myanmar</div>
            </div>
            <div class="col-6">
              <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/Georgia.jpg"
            />
            <div>Georgia</div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-6">
              <img 
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/cambodia.jpg"
            />
            <div>Myanmar</div>
            </div>
            <div class="col-6">
              <img
              class="img-fluid carouselImage rounded"
              src="../../../assets/eVisa/Malaysia.jpg"
            />
            <div>Georgia</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
