<div class="site-wrapper">
  <div class="row">
    <div class="col">
      <h2>Destination Dubai</h2>
      <p>
        In 2019, in the glorious pre-pandemic times, Dubai was one of the top
        tourist destinations in the world. In 2019 16.73 million people applied
        for the Dubai Visa! Out of these Dubai Visa for Indians accounted for
        almost 12% of the total visas. Thus a whopping 1.97 million Indian
        tourists visited Dubai. With the roll-out of the Covid-19 vaccine
        globally, Dubai tourism has got an immense boost. A record number of
        tourists are flying into Dubai to celebrate Christmas and New Year after
        a virtually travel-less year due to the pandemic. In fact the travel
        rebound started from October 2020 onwards to Dubai which has been
        further aided by the good news of the Covid-19 vaccine. The year 2021
        shows even more potential with an anticipation of getting close to
        pre-covid levels of tourists into the emirate by the winter season on
        2021.
      </p>

      <h2>Covid-19 Travel Plans?</h2>
      <p>
        Dubai is open to tourists once again. The UAE has started accepting Visa
        applications for Tourist Visas for tourists travelling from India. It is
        however mandatory to get a Travel Insurance and Covid-19 certification
        prior to entering the country. Please check for the latest information
        about COVID-19 travel and testing requirements prior to travelling to,
        from or connecting through Dubai.
      </p>
      <p>
        At the time of writing this section (Dec 2020) tourists must take two
        COVID 19 PCR tests; one prior to departure from their home country with
        a validity of 96 hours from the date of the test, and a second test upon
        arrival in Dubai. The certificate must be for a polymerase chain
        reaction (PCR) test. Other test certificates including antibody tests
        and home testing kits are not accepted in Dubai. Travellers must bring
        an official, printed certificate in English or Arabic to check in – SMS
        and digital certificates are not accepted.
      </p>

      <h2>Dubai - a popular tourist destination for Indians</h2>
      <p>
        What makes Dubai one of the favourite destinations for Indian tourists
        is the short journey, multiple low cost flights and an easy process to
        get a Dubai tourist visa specially with the Dubai Visa on arrival for
        Indian tourists. Dubai has also started an easy process to apply for
        Dubai Visa Online. Dubai offers something for everyone. From the tallest
        buildings in the world, to dune bashing, there is a plethora of things
        to do in Dubai. It is also easy to visit Abu Dhabi which is the
        financial capital of the UAE. The drive from Dubai to Abu Dhabi is only
        about 170km. There are multiple modes of travelling from flights which
        are typically 45 minutes to driving (by taxi or bus) which takes about 1
        hour and 30 minutes.
      </p>

      <h2>Something for everyone</h2>
      <p>
        There is something for people of all age groups to do in Dubai. For
        children there are amazing theme parks, aquariums and safaris. For
        teenagers there are numerous amazing malls, dune bashing, indoor skiing,
        visiting the souks of Diera etc. Then there are the evergreen favourites
        such as a visit to the Burj Khalifa, Dhow Cruise, a short visit to Abu
        Dhabi, hiking etc. Given your age, you may end up deciding on getting a
        Dubai student visa or a Dubai work visa to be able spend an extended
        period of time in this wonderful emirate.
      </p>

      <h2>Visa, Flights and Accommodation</h2>
      <p>
        Today it is possible to get a holiday package or travel on your own to
        Dubai for virtually any budget. First step is to apply for Dubai visa
        under an appropriate visa class such as - Dubai working visa, Dubai
        visitor visa, Dubai business visa etc. Visa2Fly’s service of Dubai visa
        application online submission makes getting the visa a hassle free and
        effortless task. Then comes booking a flight ticket - there is a flight
        to Dubai from all metro cities and also from many tier-2 cities. There
        are many budget airlines to Dubai or to Sharjah along with plenty of
        legacy airlines. Accommodation is also aplenty in Dubai. From hostels to
        hotels one can choose their living quarters as per their preference.
        Beware though that in peak season, availability of all types of
        accommodation becomes scarce and prices can increase exponentially.
      </p>
    </div>
  </div>
</div>
