<section id="faq">
<div class="container-fluid wrapContainer">
    <div class="row">
      <div class="col-12 text-center">
        <h3><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
        </svg>FAQ's</span></h3>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="ukraineAccordion">

          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#ukraineAccordion1"
              aria-expanded="true" aria-controls="ukraineAccordion1">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Are the fees the same for Indian and Non-Indian nationals, if I apply at the same consulate?
                </button>
              </h5>
            </div>

            <div id="ukraineAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  The fees are different for the two. The rates that have been given above are for Indian nationals.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#ukraineAccordion2"
              aria-expanded="false" aria-controls="ukraineAccordion2">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What can I use to show my proof of funding for the trip?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>There are many documents that can facilitate this purpose:</p>
                <li>The last 3 months’ original updated bank statements (with the bank stamp and a minimum balance of USD 2500</li>
                <li>Cash in Ukrainian hryvnia or another convertible currency</li>
                <li>Bank cards along with current/savings account balance statements. This is only if the bank’s cards can be cashed in Ukraine.</li>
                <li>Hotel/accommodation booking</li>
                <li>A letter from the applicant’s employer/sponsor that confirms their coverage of applicant’s expenses in Ukraine - you will need to obtain a duly notarized Sponsorship Letter, with the original stamp and sign.</li>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#ukraineAccordion3"
              aria-expanded="false" aria-controls="ukraineAccordion3">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I book my flight tickets after applying for a visa?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  You will not be able to do this. Bookings for the flight tickets are necessary, as they ask for this in the visa process as well as the visa application form.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#ukraineAccordion4"
              aria-expanded="false" aria-controls="ukraineAccordion4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Are these all the documents that need to be submitted? Are there any more?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  This is the usual list of documents for a visa to Ukraine. You may be asked to submit more in  the event that the Consulate requires more. This is individual-dependant, and is not the case for all visa applications. These extra documents will be defined clearly, if necessary.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#ukraineAccordion5"
              aria-expanded="false" aria-controls="ukraineAccordion5">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  When should I apply for my visa?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>You should apply at least 30 days before going to Ukraine. Applying more than 3 months in advance is not allowed, so you will need to keep this in mind while applying.
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse"  class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#ukraineAccordion6"
              aria-expanded="false" aria-controls="ukraineAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  For how long can I stay in Ukraine in total?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  You can stay for a total of 90 days in a 180-day window. This means that after your 90 day stay, you will need to wait for another 90 days before coming again - if you have a double/multiple entry visa. This is independent of your visa entry permissions - whether you have a single, double or multiple-entry visa, the 90-in-180 day rule stands.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#ukraineAccordion7"
              aria-expanded="false" aria-controls="ukraineAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I am going for sports activities, do I need a business visa?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  You will need a separate visa for this. The business visa is of the category C-01. You will need the visa C-09 (Cultural, scientific, educational and sports activities).
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#ukraineAccordion8"
              aria-expanded="false" aria-controls="ukraineAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I extend the validity of my visa?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  Depending on your supporting documents, the visa validity can be extended for a period of max. 5 years. Your documents will need to show that you have long-term purposes for which you need to stay in Ukraine for that long. If your document proof is strong enough, you will be granted a visa for longer than 6 months.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#ukraineAccordion9"
              aria-expanded="false" aria-controls="ukraineAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is everything that I should include in my invitation letter for a Ukraninan business visa?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion9" class="collapse" aria-labelledby="heading9" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  The invitation should be presented on the official letterhead. It should include the organisation’s number according to Ukraine’s Unified State Registry of Legal Entities, Individual Entrepreneurs and Citizens’ Associations. Other details that need to be mentioned are:

                </p>
                <li>
                  Registration number
                </li>
                <li>
                  Date and signature of the recognized inviter
                </li>
                <li>
                  Full name of the invited along with their date and place of birth, nationality, passport details, place of residence
                </li>
                <li>The purpose and duration of intended visit to Ukraine - it must include travel dates</li>
                <li>Number of entries and place of stay in Ukraine Legal person’s obligations towards possible costs related to the invited person’s stay and/or departure from Ukraine
                </li>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#ukraineAccordion10"
              aria-expanded="false" aria-controls="ukraineAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What should I do if I need a business visa urgently?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion10" class="collapse" aria-labelledby="heading10" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  Ukraine does offer urgent business visas that are processed in 5 days. Urgent processing is only possible if the applicant is able to fairly prove the urgency. The Consular section does not guarantee that the decision will be in the applicant’s favour, also an urgent procedure implies that all supporting documents are readily present (and the application DOES NOT need more information for decision taking.). It should be noted that the Embassy has the right to refuse fast-tracking procedures.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#ukraineAccordion11"
              aria-expanded="false" aria-controls="ukraineAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there a visa on-arrival for Ukraine for transit?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion11" class="collapse" aria-labelledby="heading11" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  No, currently there are no Ukraine visa on arrival options. You will need to go through the Embassy, and submit all the above documents. We at Visa2Fly can help you with this :)
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#ukraineAccordion12"
              aria-expanded="false" aria-controls="ukraineAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Will I be asked for any more documents?
                </button>
              </h5>
            </div>
            <div id="ukraineAccordion12" class="collapse" aria-labelledby="heading12" data-parent="#ukraineAccordion">
              <div class="card-body">
                <p>
                  You may be asked for additional documents by the Ukraine visa officers (like return flight tickets or other documents that confirm your circumstances). However, this is on a case-to-case basis, and is not mandatory for all applicants. The documents listed above should suffice in normal terms.
                </p>
              </div>
            </div>
          </div>
          </div>

        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
      </div>
    </div>
  </div>
  </section>
