<section id="dubai_requirement" class="mgxTop">
  <div class="container-fluid">
    <!-- mandatory -->
    <div class="iconSection">
      <!-- desktopContainer -->
      <div class="row desktopContainer headingWrapContainer">
        <div class="col-12 text-center">
          <!-- <h1 class="outerRequirement">
            <span class="requirementContainer"
              > Mandatory documents Required For Dubai Visa</span
            >
          </h1> -->
          <h3 class="requirement-main--heading">Document required for Dubai {{visaType}} visa</h3>
        </div>

        <div class="col-12">
          <div class="card requiredIcon">
            <div class="card-body">
              <h1 class="requiredIconHeading">Photograph</h1>
              <ul>
                <li>
                  Upload scanned colour copy of your passport-sized
                  photograph.
                </li>
                <li>
                  Photo should be taken against a white background.
                </li>
                <li>Dimensions should be 45mm x 35mm.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card requiredIcon">
            <div class="card-body">
              <h1 class="requiredIconHeading">Photograph</h1>
              <ul>
                <li>
                  Upload scanned colour copy of your passport-sized
                  photograph.
                </li>
                <li>
                  Photo should be taken against a white background.
                </li>
                <li>Dimensions should be 45mm x 35mm.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card requiredIcon">
            <div class="card-body">
              <h1 class="requiredIconHeading">
                Covid Medical Insurance
              </h1>
              <p>
                International Travel Insurance and COVID Insurance is
                advisable to be taken by anyone travelling to Dubai/UAE.
                This is especially important as the cost of healthcare
                service and hospital admission can be very high in
                Dubai/UAE.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="visaType == 'Transit'">
          <div class="card requiredIcon">
            <div class="card-body">
              <h1 class="requiredIconHeading">Flight Tickets</h1>
              <ul>
                <li>
                  Flight tickets are mandatory to book Dubai transit
                  e-visa.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="desktopContainer wrapContainer accordion" id="mandatoryAccodion">
        <div class="row mt-2">
          <ngb-tabset
            [justify]="desktopJustify"
            [orientation]="desktopOrientation"
            class="iconTabset"
            type="pills"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#mandatory1"
                  aria-expanded="true"
                  aria-controls="mandatory1"
                  [class.showDiv]="selectedMandatory === 1"
                  (click)="setActiveMandatory(1, 'setActiveMandatory1')"
                  id="setActiveMandatory1"
                >
                  <div class="makeIconCntr">
                    <div class="vr-passport requiredIcons img-sprite"></div>
                  </div>
                  <h2 class="setFontSize">Passport</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="mandatory1"
                  class="collapse"
                  [ngStyle]="{
                    display: showMandatoryFirst ? 'block' : '',
                    opacity: showMandatoryFirst ? '1' : '',
                    visibility: showMandatoryFirst ? 'visible' : '',
                    transition: showMandatoryFirst ? 'all .35s ease-in-out' : ''
                  }"
                  aria-labelledby="heading1"
                  data-parent="#mandatoryAccodion"
                >
                  <div class="card requiredIcon">
                    <div class="card-body">
                      <h1 class="requiredIconHeading">Passport</h1>
                      <ul>
                        <li>
                          Upload coloured copies of the first and last page of
                          the passport.
                        </li>
                        <li>
                          Ensure that passport should be valid for 6 months from
                          the date of entry to the UAE.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#mandatory2"
                  aria-expanded="false"
                  aria-controls="mandatory2"
                  [class.showDiv]="selectedMandatory === 2"
                  (click)="setActiveMandatory(2, 'setActiveMandatory2')"
                  id="setActiveMandatory2"
                >
                  <div class="makeIconCntr">
                    <div class="vr-photograph requiredIcons img-sprite"></div>
                  </div>
                  <h2 class="setFontSize">Photograph</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="mandatory2"
                  class="collapse"
                  aria-labelledby="heading2"
                  data-parent="#mandatoryAccodion"
                >
                  <div class="card requiredIcon">
                    <div class="card-body">
                      <h1 class="requiredIconHeading">Photograph</h1>
                      <ul>
                        <li>
                          Upload scanned colour copy of your passport-sized
                          photograph.
                        </li>
                        <li>
                          Photo should be taken against a white background.
                        </li>
                        <li>Dimensions should be 45mm x 35mm.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#mandatory3"
                  aria-expanded="false"
                  aria-controls="mandatory3"
                  [class.showDiv]="selectedMandatory === 3"
                  (click)="setActiveMandatory(3, 'setActiveMandatory3')"
                  id="setActiveMandatory3"
                >
                  <div class="makeIconCntr">
                    <div class="vr-panCard requiredIcons img-sprite"></div>
                  </div>
                  <h2 class="setFontSize">Pan Card</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="mandatory3"
                  class="collapse"
                  aria-labelledby="heading3"
                  data-parent="#mandatoryAccodion"
                >
                  <div class="card requiredIcon">
                    <div class="card-body">
                      <h1 class="requiredIconHeading">Pan Card</h1>
                      <p>Upload scanned copy of your PAN Card</p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#mandatory5"
                  aria-expanded="true"
                  aria-controls="mandatory5"
                  [class.showDiv]="selectedMandatory === 5"
                  (click)="setActiveMandatory(5, 'setActiveMandatory5')"
                  id="setActiveMandatory5"
                >
                  <div class="makeIconCntr">
                    <div class="vr-Insurance requiredIcons img-sprite"></div>
                  </div>
                  <h2 class="setFontSize">Covid Medical Insurance</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="mandatory5"
                  class="collapse"
                  aria-labelledby="heading5"
                  data-parent="#mandatoryAccodion"
                >
                  <div class="card requiredIcon">
                    <div class="card-body">
                      <h1 class="requiredIconHeading">
                        Covid Medical Insurance
                      </h1>
                      <p>
                        International Travel Insurance and COVID Insurance is
                        advisable to be taken by anyone travelling to Dubai/UAE.
                        This is especially important as the cost of healthcare
                        service and hospital admission can be very high in
                        Dubai/UAE.
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle> </ng-template>
              <ng-template ngbTabContent> </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div> -->

      <!-- mobileContainer -->
      <!-- <div class="row mobileContainer headingWrapContainer">
        <div class="col-12 mgxTop">
          <h1 class="outerRequirement">
            <span class="d-block text-uppercase mobheadtext">
              Mandatory documents Required
            </span>
            <span class="requirementContainer text-uppercase"
              > For Dubai Visa</span
            >
          </h1>
        </div>
      </div> -->

      <!-- <div
        class="mobileContainer wrapContainer accordion"
        id="mandatoryAccodionMobile"
      >
        <div class="row">
          <ngb-tabset
            [justify]="desktopJustify"
            [orientation]="desktopOrientation"
            class="iconTabset"
            type="pills"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#mandatoryMobile1"
                  aria-expanded="true"
                  aria-controls="mandatoryMobile1"
                  [class.showDiv]="selectedMobileMandatory === 1"
                  (click)="
                    setActiveMandatoryMobile(1, 'setActiveMandatoryMobile1')
                  "
                  id="setActiveMandatoryMobile1"
                >
                  <div class="makeIconCntr">
                    <div class="vr-passport requiredIcons img-sprite"></div>
                  </div>
                  <h2 class="setFontSize">Passport</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="mandatoryMobile1"
                  class="collapse"
                  [ngStyle]="{
                    display: showTouristMobileFirst ? 'block' : '',
                    opacity: showTouristMobileFirst ? '1' : '',
                    visibility: showTouristMobileFirst ? 'visible' : '',
                    transition: showTouristMobileFirst
                      ? 'all .35s ease-in-out'
                      : ''
                  }"
                  aria-labelledby="headingMobile1"
                  data-parent="#mandatoryAccodionMobile"
                >
                  <div class="card requiredIcon">
                    <div class="card-body" style="padding: 10px">
                      <h1 class="requiredIconHeading">Passport</h1>
                      <ul>
                        <li>
                          Upload coloured copies of the first and last page of
                          the passport.
                        </li>
                        <li>
                          Ensure that passport should be valid for 6 months from
                          the date of entry to the UAE.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>

        <div class="row mt-4">
          <ngb-tabset
            [justify]="desktopJustify"
            [orientation]="desktopOrientation"
            class="iconTabset"
            type="pills"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#mandatoryMobile2"
                  aria-expanded="true"
                  aria-controls="mandatoryMobile2"
                  [class.showDiv]="selectedMobileMandatory === 2"
                  (click)="
                    setActiveMandatoryMobile(2, 'setActiveMandatoryMobile2')
                  "
                  id="setActiveMandatoryMobile2"
                >
                  <div class="makeIconCntr">
                    <div class="vr-photograph requiredIcons img-sprite"></div>
                  </div>
                  <h2 class="setFontSize">Photograph</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="mandatoryMobile2"
                  class="collapse"
                  aria-labelledby="headingMobile2"
                  data-parent="#mandatoryAccodionMobile"
                >
                  <div class="card requiredIcon">
                    <div class="card-body" style="padding: 10px">
                      <h1 class="requiredIconHeading">Photograph</h1>
                      <ul>
                        <li>
                          Upload scanned colour copy of your passport-sized
                          photograph.
                        </li>
                        <li>
                          Photo should be taken against a white background.
                        </li>
                        <li>Dimensions should be 45mm x 35mm.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>

        <div class="row mt-4">
          <ngb-tabset
            [justify]="desktopJustify"
            [orientation]="desktopOrientation"
            class="iconTabset"
            type="pills"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#mandatoryMobile3"
                  aria-expanded="true"
                  aria-controls="mandatoryMobile3"
                  [class.showDiv]="selectedMobileMandatory === 3"
                  (click)="
                    setActiveMandatoryMobile(3, 'setActiveMandatoryMobile3')
                  "
                  id="setActiveMandatoryMobile3"
                >
                  <div class="makeIconCntr">
                    <div
                      class="vr-panCard requiredIcons img-sprite"
                    ></div>
                  </div>
                  <h2 class="setFontSize">Pan Card</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="mandatoryMobile3"
                  class="collapse"
                  aria-labelledby="headingMobile3"
                  data-parent="#mandatoryAccodionMobile"
                >
                  <div class="card requiredIcon">
                    <div class="card-body" style="padding: 10px">
                      <h1 class="requiredIconHeading">Pan Card</h1>
                      <p>Upload scanned copy of your PAN Card</p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>

        <div class="row mt-4">
          <ngb-tabset
            [justify]="desktopJustify"
            [orientation]="desktopOrientation"
            class="iconTabset"
            type="pills"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#mandatoryMobile4"
                  aria-expanded="true"
                  aria-controls="mandatoryMobile4"
                  [class.showDiv]="selectedMobileMandatory === 4"
                  (click)="
                    setActiveMandatoryMobile(4, 'setActiveMandatoryMobile4')
                  "
                  id="setActiveMandatoryMobile4"
                >
                  <div class="makeIconCntr">
                    <div class="vr-Insurance requiredIcons img-sprite"></div>
                  </div>
                  <h2 class="setFontSize">Covid Medical Insurance</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="mandatoryMobile4"
                  class="collapse"
                  aria-labelledby="headingMobile4"
                  data-parent="#mandatoryAccodionMobile"
                >
                  <div class="card requiredIcon">
                    <div class="card-body" style="padding: 10px">
                      <h1 class="requiredIconHeading">
                        Covid Medical Insurance
                      </h1>
                      <p>
                        International Travel Insurance and COVID Insurance is
                        advisable to be taken by anyone travelling to Dubai/UAE.
                        This is especially important as the cost of healthcare
                        service and hospital admission can be very high in
                        Dubai/UAE.
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div> -->
    </div>

    <!-- business -->
    <!-- <div class="iconSection"> -->
      <!-- desktopContainer -->
      <!-- <div class="row desktopContainer headingWrapContainer">
        <div class="col-12 mgxTop">
          <h1 class="outerRequirement">
            <span class="requirementContainer text-uppercase"
              > Additional documents required for dubai business visa</span
            >
          </h1>
        </div>
      </div>

      <div class="desktopContainer wrapContainer accordion" id="mandatoryAccodion">
        <div class="row">
          <div class="col-12 p-0">
            <div class="card requiredIcon mt-0">
              <div class="card-body">
                <p class="mb-0">No Additional Documents required for Dubai business e-visa. Only above mentioned mandatory documents are required to apply for dubai business e-visa.</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- mobileContainer -->
      <!-- <div class="row mobileContainer headingWrapContainer">
        <div class="col-12 mgxTop">
          <h1 class="outerRequirement">
            <span class="d-block text-uppercase mobheadtext">
              Additional documents required
            </span>
            <span class="requirementContainer text-uppercase"
              > for dubai business visa</span
            >
          </h1>
        </div>
      </div>

      <div
        class="mobileContainer wrapContainer accordion"
        id="mandatoryAccodionMobile"
      >
        <div class="row">
          <div class="col-12">
            <div class="card requiredIcon mt-0">
              <div class="card-body">
                <p class="mb-0 pdpy">No Additional Documents required for Dubai business e-visa. Only above mentioned mandatory documents are required to apply for dubai business e-visa.</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- </div> -->

    <!-- transit -->
    <!-- <div class="iconSection"> -->
      <!-- desktopContainer -->
      <!-- <div class="row desktopContainer headingWrapContainer">
        <div class="col-12 mgxTop">
          <h1 class="outerRequirement">
            <span class="requirementContainer text-uppercase"
              >additional documents required for dubai transit visa</span
            >
          </h1>
        </div>
      </div>

      <div class="desktopContainer wrapContainer accordion" id="transitAccodion">
        <div class="row mt-2">
          <ngb-tabset
            [justify]="desktopJustify"
            [orientation]="desktopOrientation"
            class="iconTabset"
            type="pills"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#transit1"
                  aria-expanded="true"
                  aria-controls="transit1"
                  (click)="setActiveTransit(1, 'setActivetransit1')"
                  id="setActivetransit1"
                >
                  <div class="makeIconCntr">
                    <div
                      class="vr-flightTickets requiredIcons img-sprite"
                    ></div>
                  </div>
                  <h2 class="setFontSize">Flight Tickets</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="transit1"
                  class="collapse"
                  aria-labelledby="heading1"
                  data-parent="#transitAccodion"
                >
                  <div class="card requiredIcon">
                    <div class="card-body">
                      <h1 class="requiredIconHeading">Flight Tickets</h1>
                      <ul>
                        <li>
                          Flight tickets are mandatory to book Dubai transit
                          e-visa.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle> </ng-template>
              <ng-template ngbTabContent> </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle> </ng-template>
              <ng-template ngbTabContent> </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle> </ng-template>
              <ng-template ngbTabContent> </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle> </ng-template>
              <ng-template ngbTabContent> </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div> -->

      <!-- mobileContainer -->
      <!-- <div class="row mobileContainer headingWrapContainer">
        <div class="col-12 mgxTop">
          <h1 class="outerRequirement">
            <span class="d-block text-uppercase mobheadtext">
              Additional documents required
            </span>
            <span class="requirementContainer text-uppercase"
              > for dubai transit visa</span
            >
          </h1>
        </div>
      </div>

      <div
        class="mobileContainer wrapContainer accordion"
        id="TransitAccodionMobile"
      >
        <div class="row">
          <ngb-tabset
            [justify]="desktopJustify"
            [orientation]="desktopOrientation"
            class="iconTabset"
            type="pills"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <div
                  data-toggle="collapse"
                  data-target="#transitMobile1"
                  aria-expanded="true"
                  aria-controls="transitMobile1"
                  (click)="
                  setActiveTransitMobile(1, 'setActiveTransitMobile1')
                  "
                  id="setActiveTransitMobile1"
                >
                  <div class="makeIconCntr">
                    <div class="vr-flightTickets requiredIcons img-sprite"></div>
                  </div>
                  <h2 class="setFontSize">Flight Tickets</h2>
                </div>
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  id="transitMobile1"
                  class="collapse"
                  aria-labelledby="headingMobile1"
                  data-parent="#mandatoryAccodionMobile"
                >
                  <div class="card requiredIcon">
                    <div class="card-body" style="padding: 10px">
                      <h1 class="requiredIconHeading">Flight Tickets</h1>
                      <ul>
                        <li>
                          Flight tickets are mandatory to book Dubai transit
                          e-visa.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</section>
