<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="newzealandAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#newzealandAccordion1"
            aria-expanded="true" aria-controls="newzealandAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is there anything I would need to declare at Customs that I need to be aware of?
              </button>
            </h5>
          </div>

          <div id="newzealandAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#newzealandAccordion">
            <div class="card-body">
              <p>
                Carrying a large bulk of items (eg. food ingredients, sweets, cultural items, etc.) may attract a $400
                fine. There is a certain amount of each that is allowed, please ensure you carry only that amount. Fresh
                or packaged food, fruit, eggs, meat, spices, pulses, plants, seeds, skins and feathers are not allowed.
                The full list of items is available at:
                https://www.newzealand.com/assets/cc0f74822b/MPB0132-Indian-DoD-1-pager-v8.pdf.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#newzealandAccordion2"
            aria-expanded="false" aria-controls="newzealandAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I want to extend my stay. Can I do so?
              </button>
            </h5>
          </div>
          <div id="newzealandAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#newzealandAccordion">
            <div class="card-body">
              <p>You can apply for another 3 months’ stay if you wish to extend.
                You may be able to extend to 12 months (initial 9months + next 3 months) in a 24-month period, if:
              </p>
              <li>Your tourist itinerary needs more time to be completed</li>
              <li>you can’t leave the country for reasons beyond your control</li>
              <li>You have applied for residence for the first time</li>
              <p>You must have financially supported yourself completely throughout your stay of these months to apply
                for another 3 months’ stay. This includes having not worked, studied or been sponsored during the whole
                stay.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#newzealandAccordion3"
            aria-expanded="false" aria-controls="newzealandAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I wish to visit New Zealand again after my visa expires. Can I get a new one immediately after?
              </button>
            </h5>
          </div>
          <div id="newzealandAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#newzealandAccordion">
            <div class="card-body">
              <p>
                If you have visited New Zealand recently for a total of 12 months, you have to remain outside New
                Zealand for 12 months before you can apply for another Visitor Visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#newzealandAccordion4"
            aria-expanded="false" aria-controls="newzealandAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I search for a job/visit family with this visa?
              </button>
            </h5>
          </div>
          <div id="newzealandAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#newzealandAccordion">
            <div class="card-body">
              <p>
                You are not allowed to engage in any paid activity or work with this visa. If you are coming to New
                Zealand to take up an offer of employment, you will need a work visa. If you are visiting as a family
                member, you will need a Special Category Visitor Visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#newzealandAccordion5"
            aria-expanded="false" aria-controls="newzealandAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there anything else I will need other than my visa?
              </button>
            </h5>
          </div>
          <div id="newzealandAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#newzealandAccordion">
            <div class="card-body">
              <p>
                You will need your visa, passport, copy of your flight and hotel reservations, as well as an entry
                permission. You will receive the application for this on your way to New Zealand.
              </p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#newzealandAccordion6"
              aria-expanded="true" aria-controls="newzealandAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I transit through New Zealand without a visa?
                </button>
              </h5>
            </div>

            <div id="newzealandAccordion6" class="collapse show" aria-labelledby="heading6"
              data-parent="#newzealandAccordion">
              <div class="card-body">
                <p>
                  Transiting through New Zealand requires a visa unless specifically exempted by immigration policy. If
                  you are transiting on your way to Australia, however, you do not need a visa. While you are in transit
                  with the visa, you can only stay in its transit area.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#newzealandAccordion7"
              aria-expanded="false" aria-controls="newzealandAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I stay in any airport with this visa?
                </button>
              </h5>
            </div>
            <div id="newzealandAccordion7" class="collapse" aria-labelledby="heading7"
              data-parent="#newzealandAccordion">
              <div class="card-body">
                <p>You can only stay in Auckland International Airport with this visa for 24 hours.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#newzealandAccordion8"
              aria-expanded="false" aria-controls="newzealandAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Are there any opening and closing dates to apply for this visa?
                </button>
              </h5>
            </div>
            <div id="newzealandAccordion8" class="collapse" aria-labelledby="heading8"
              data-parent="#newzealandAccordion">
              <div class="card-body">
                <p>
                  No, you can apply for this visa at any time. The New Zealand Immigration accepts offers continually.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#newzealandAccordion9"
              aria-expanded="false" aria-controls="newzealandAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I want to apply for a tourist visa while in transit, can I do so?
                </button>
              </h5>
            </div>
            <div id="newzealandAccordion9" class="collapse" aria-labelledby="heading9"
              data-parent="#newzealandAccordion">
              <div class="card-body">
                <p>You cannot apply for any kind of entry permission or visa type whilst in transit. You must stay
                  within
                  the transit area of the airport at all times.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#newzealandAccordion10"
              aria-expanded="true" aria-controls="newzealandAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What all can I do with the business visa for New Zealand?
                </button>
              </h5>
            </div>

            <div id="newzealandAccordion10" class="collapse show" aria-labelledby="heading10"
              data-parent="#newzealandAccordion">
              <div class="card-body">
                <p>You can visit for business purposes (note: this does NOT include jobs/paid work), as well as study
                  for
                  3 months using this visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#newzealandAccordion11"
              aria-expanded="false" aria-controls="newzealandAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  I want to come for a sports tournament. Is this the visa for me?
                </button>
              </h5>
            </div>

            <div id="newzealandAccordion11" class="collapse" aria-labelledby="heading11"
              data-parent="#newzealandAccordion">
              <div class="card-body">
                <p>
                  There is a separate branch of visitor visas called the Sports Events Visitor Visa. This is the visa
                  you
                  will need. It is different from the Business visitor visa.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#newzealandAccordion12"
              aria-expanded="false" aria-controls="newzealandAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  I want to stay for more than 3 months for my business purpose. Can I extend this visa?
                </button>
              </h5>
            </div>

            <div id="newzealandAccordion12" class="collapse" aria-labelledby="heading12"
              data-parent="#newzealandAccordion">
              <div class="card-body">
                <p>You will not be able to do that. If you want to stay for more than 3 months with your business in New
                  Zealand, you will have to apply for a work visa. You can only apply once for a business visa in a year
                  -
                  stay only 3 months in any one year.
                </p>

              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
    
  </div>
</div>
