.whyChooseUs {
  font-size: 19px;
  color: #000;
  font-weight: 600;
}

.whyChooseUs::after {
  content: "";
  background: #000080;
  display: block;
  height: 3px;
  width: 120px;
  margin: 5px auto 2px;
}

.whyChooseUsSubHeader {
  font-size: 13px;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 0px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.homeform {
  color: black;
  padding: 5px 10px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.choose {
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.homeform {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #dadada;
}

.homeform:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 1281px) {
  .choosecontainer {
    padding: 10px;
  }
  .chooseicon {
    display: flex;
    justify-content: center;
    color: black;
  }
  /* .chooseImage {
    width: 40px;
    height: 40px;
  } */
  .chooserow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .choosenumber {
    color: black;
    font-size: 25px;
    margin-top: 30px;
  }
  .choosetitle {
    color: navy;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }
  .choosecontent {
    text-align: center;
    font-size: 18px;
    color: grey;
    margin-top: 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .chooseImage {
    width: 60px;
    height: 60px;
  }

  .choosecontainer {
    padding: 15px;
  }
  .chooseicon {
    font-size: 50px;
    color: black;
  }
  .chooserow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .choosenumber {
    color: black;
    font-size: 20px;
    margin-top: 30px;
  }
  .choosetitle {
    color: navy;
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
  }
  .choosecontent {
    text-align: center;
    font-size: 16px;
    color: grey;
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chooseImage {
    width: 45px;
    height: 45px;
  }
  .choosecontainer {
    padding: 10px;
  }
  .chooseicon {
    font-size: 40px;
    color: black;
  }
  .chooserow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .choosenumber {
    color: black;
    font-size: 20px;
    margin-top: 30px;
  }
  .choosetitle {
    color: navy;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }
  .choosecontent {
    text-align: center;
    font-size: 15px;
    color: grey;
    margin-top: 10px;
  }
  .homeform {
    margin-bottom: 50px;
  }
  .choose {
    height: 130px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .chooseImage {
    width: 40px;
    height: 40px;
  }
  .choosecontainer {
    padding: 10px;
    position: relative;
    width: 50%;
  }
  .chooseicon {
    font-size: 30px;
    color: black;
  }
  .chooserow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .choosenumber {
    color: black;
    font-size: 18px;
    margin-top: 30px;
  }
  .choosetitle {
    color: navy;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .choosecontent {
    text-align: center;
    font-size: 14px;
    color: grey;
    margin-top: 10px;
  }

  .whyChooseUs {
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }

  .whyChooseUs::after {
    content: "";
    background: #000080;
    display: block;
    height: 2px;
    width: 120px;
    margin: 2px auto 2px;
  }
  .whyChooseUsSubHeader {
    font-size: 12px;
    font-weight: lighter;
    
    margin-bottom: 5px;
    margin-top: 10px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .homeform {
    margin-left: 20px;
    margin-right: 20px;
  }
  .whyChooseUs {
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }

  .whyChooseUs::after {
    content: "";
    background: #000080;
    display: block;
    height: 2px;
    width: 120px;
    margin: 2px auto 2px;
  }
  .whyChooseUsSubHeader {
    font-size: 12px;
    font-weight: lighter;
    
    margin-bottom: 5px;
    margin-top: 10px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
  }
  /* .chooseImage {
    width: 27px;
    height: 27px;
  } */
  .choosecontainer {
    padding: 10px;
    position: relative;
    width: 50%;
  }
  .chooseicon {
    font-size: 22px;
    color: black;
  }
  .chooserow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .choosenumber {
    color: black;
    font-size: 15px;
    margin-top: 30px;
  }
  .choosetitle {
    color: navy;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
  }
  .choosecontent {
    text-align: center;
    font-size: 10px;
    color: grey;
    margin-top: 10px;
  }
}
