<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="whyChooseUs">Why Choose Us ?</div>
      <p class="whyChooseUsSubHeader">
        We Take Care Of Your Online Visa Application
      </p>
    </div>
  </div>
</div>

<div class="homeform">
  <div class="row chooserow">
    <div class="col-sm-6 col-md-6 col-lg-3 choosecontainer">
      <div class="choose">
        <div class="chooseicon" style="display: flex; justify-content: center">
          <svg style="height: 40px; width: 40px">
            <use xlink:href="assets/sprites/sprite.svg#why_choose_us_1"></use>
          </svg>
        </div>
        <div class="choosetitle" style="display: flex; justify-content: center">
          Visa Services for all Countries
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 choosecontainer">
      <div class="choose">
        <div class="chooseicon" style="display: flex; justify-content: center">
          <svg style="height: 40px; width: 40px">
            <use xlink:href="assets/sprites/sprite.svg#why_choose_us_2"></use>
          </svg>
        </div>
        <div class="choosetitle" style="display: flex; justify-content: center">
          End-to-End Visa Assistance
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 choosecontainer">
      <div class="choose">
        <div class="chooseicon" style="display: flex; justify-content: center">
          <svg style="height: 40px; width: 43px">
            <use xlink:href="assets/sprites/sprite.svg#why_choose_us_3"></use>
          </svg>
        </div>
        <div class="choosetitle" style="display: flex; justify-content: center">
          Doorstep Pick Up and Delivery
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 choosecontainer">
      <div class="choose">
        <div class="chooseicon" style="display: flex; justify-content: center">
          <svg style="height: 40px; width: 40px">
            <use xlink:href="assets/sprites/sprite.svg#why_choose_us_4"></use>
          </svg>
        </div>
        <div class="choosetitle" style="display: flex; justify-content: center">
          Safety & Confidentiality
        </div>
      </div>
    </div>
  </div>
</div>
