<div class="site-wrapper">
  <div class="row">
    <div class="col">
      <h2>Destination Thailand</h2>
      <p>
        Prior to the global pandemic, Thailand was one of the top tourist
        destinations in the world. This was true for Indian and International
        travellers as well. In 2019 almost 40 million people applied for the
        Thailand Visa! Out of these Thailand Visa for Indians accounted for
        almost 4.75% of the total visas. Thus a whopping 1.90 million Indian
        tourists visited Thailand. With the roll-out of the Covid-19 vaccine
        globally, Thailand tourism will likely get an immense boost. At the time
        of writing this (December 2020) the Thailand Minister for Sports and
        Tourism, Pipat Ratchakitprakan, has announced that Thailand’s tourism is
        close until the second quarter of 2021 i.e. till March 2021.
      </p>
      <p>
        This means that other Thailand tourist visas, such as Thailand e-Visa
        and Thailand visa-on-arrival, apart from the new Thailand TR and
        Thailand STV visa will still be on hold for now. This move thwarted the
        hopes of a turnaround in the tourism industry for the 2020/2021 high
        season. We hope that once tourism restarts in 2021 it will show great
        revival with an anticipation of getting close to pre- covid levels of
        tourists into Thailand by the winter season of 2021.
      </p>

      <h2>Covid-19 Travel Plans?</h2>
      <p>
        Once travel resumes to Thailand, tourists are still likely to take all
        standard precautions required for the Covid-19. These may include
      </p>
      <ul>
        <li>standard tests for Covid-19 such as the COVID 19 PCR tests.</li>
        <li>
          fit to fly Certificate issued by relevant authority and the COVID-19
          medical test result issued no longer than 72 hours before the date of
          travel
        </li>
        <li>
          This certificate may also be necessary at the airline’s check-in
          counter for a boarding pass to be issued.
        </li>
        <li>
          Travel Health Insurance Policy covering treatment and medical expenses
          related to COVID-19 with a minimum coverage of 100,000 USD.
        </li>
      </ul>
      <p>
        In addition to the above there may also be a mandatory quarantine for up
        to 14 days. However details of these requirements will soon be updated
        by the Thai Government so check this section again prior to your
        travels.
      </p>

      <h2>Thailand - a popular tourist destination for Indians</h2>
      <p>
        What makes Thailand one of the favourite destinations for Indian
        tourists is the short journey, multiple low cost flights and an easy
        process to get a Thai tourist visa specially with the Thailand Visa on
        arrival for Indian tourists. Thailand has also started an easy process
        to apply for Thailand Visa Online. Thailand offers something for
        everyone. From beaches, malls, the amazing nightlife and plenty of
        serene temples there is a plethora of things to do in Thailand. The most
        common destination to visit within Thailand are Bangkok, Pattaya, Krabi,
        Phuket, Phi Phi Islands and Koh Samui.
      </p>

      <h2>Top 3 Places to Visit</h2>
      <ol>
        <li>
          Bangkok - The city that never sleeps - Bangkok is the capital of
          Thailand and is a culmination of the modern world and ancient charm.
          Bangkok has many skyscrapers, some of which you can find next to the
          most beautiful temples and monasteries. There are plenty of luxury
          malls and shopping centres which compete with the street bazaars and
          floating markets. Bangkok is also known for it&#39;s nightlife which
          has everything from flashy nightclubs, go-go bars, bright neon light
          signs and cheap drinks.
        </li>
        <li>
          Pattaya - Pattaya is notoriously known as the Sex capital of Thailand.
          However, over the years Pattya has become known for much more than
          just a party hub - it has pristine beaches and islands and offers a
          variety of watersports, excellent restaurants offering world cuisine,
          abundant cafes making it ideal for all types of tourists from family
          and friends to couples. The nightlife in Pattaya still stands out and
          is famous for being loud and flashy. The most characteristic place is
          the Walking Street which has a host of bars and pubs with bright
          street lights and women standing along the streets. Cabaret shows such
          as the Alcazar Show and Tiffany's Cabaret Show also are popular
          tourist attractions during the night. Located within a two hours drive
          distance from Bangkok, most tourists to Pattaya come via trains, buses
          or cars from the capital.
        </li>
        <li>
          Phuket - Phuket is an island in Thailand (the largest in fact) and has
          something to offer for everyone. The best way to reach Phuket is via
          Bangkok landing at the Phuket International Airport. Phuket is one of
          the most popular destinations within Thailand for International and
          Indian tourists. The pristine white sand beaches, offshore islands,
          upbeat markets (night market, indy market, Sunday Walking market), a
          buzzing nightlife and thrilling watersports are characteristic of
          Phuket.
        </li>
      </ol>

      <h2>Visa, Flights and Accommodation</h2>
      <p>
        Today it is possible to get a holiday package or travel on your own to
        Thailand for virtually any budget. First step is to apply for Thailand
        visa under an appropriate visa class such as - Thailand working visa,
        Thailand visitor visa, Thailand business visa etc. Visa2Fly’s service of
        Thailand visa application online submission makes getting the visa a
        hassle free and effortless task. Then comes booking a flight ticket -
        there is a flight to Thailand from all metro cities and also from many
        tier-2 cities. There are many budget airlines to Thailand along with
        plenty of legacy airlines. Accommodation is also aplenty in Thailand.
        From hostels to hotels one can choose their living quarters as per their
        preference. Even in peak tourist season, availability of all types of
        accommodation remains relatively inexpensive.
      </p>
    </div>
  </div>
</div>
