.homeform {
  color: navy;
  /* background-color: antiquewhite; */
  padding: 5px 5px;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.stepMaincontainer {
  margin-top: 50px;
}

.homeformHeader {
  font-size: 19px;
  color: #000;
  font-weight: 600;
}

.homeformHeader::after {
  content: "";
  background: #000080;
  display: block;
  height: 3px;
  width: 120px;
  margin: 5px auto 2px;
}

.homeformSubHeader {
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 5px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.step {
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
}

.homeform {
  border-radius: 10px;
  margin-top: 15px !important;
  padding: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */

.homeform:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 1281px) {
  .stepcontainer {
    padding: 10px;
  }
  .stepicon {
    font-size: 40px;
    color: navy;
  }
  .steprow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .stepnumber {
    color: navy;
    font-size: 22px;
    margin-top: 30px;
  }
  .steptitle {
    color: navy;
    font-size: 14px;
    margin-top: 10px;
  }
  .stepcontent {
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
    color: grey;
    margin-top: 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .chooseImage {
    width: 50px;
    height: 50px;
  }
  .stepcontainer {
    padding: 10px;
  }
  .stepicon {
    font-size: 50px;
    color: navy;
  }
  .steprow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .stepnumber {
    color: navy;
    font-size: 20px;
    margin-top: 30px;
  }
  .steptitle {
    color: navy;
    font-size: 22px;
    margin-top: 10px;
  }
  .stepcontent {
    text-align: center;
    font-size: 16px;
    color: grey;
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chooseImage {
    width: 45px;
    height: 45px;
  }
  .stepcontainer {
    padding: 10px;
  }
  .stepicon {
    font-size: 40px;
    color: navy;
  }
  .steprow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .stepnumber {
    color: navy;
    font-size: 20px;
    margin-top: 30px;
  }
  .steptitle {
    color: navy;
    font-size: 15px;
    margin-top: 8px;
  }
  .stepcontent {
    text-align: center;
    font-size: 13px;
    color: grey;
    margin-top: 8px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .chooseImage {
    width: 35px;
    height: 35px;
  }
  .stepcontainer {
    padding: 10px;
    position: relative;
    width: 50%;
  }
  .stepicon {
    font-size: 30px;
    color: navy;
  }
  .steprow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .stepnumber {
    color: navy;
    font-size: 18px;
    margin-top: 30px;
  }
  .steptitle {
    color: navy;
    font-size: 18px;
    margin-top: 10px;
  }
  .stepcontent {
    text-align: center;
    font-size: 14px;
    color: grey;
    margin-top: 10px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .homeform {
    margin-left: 20px;
    margin-right: 20px;
  }
  .stepcontainer {
    padding: 10px;
    position: relative;
    width: 50%;
  }
  .stepicon {
    font-size: 22px;
    color: navy;
  }
  .steprow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .stepnumber {
    color: navy;
    font-size: 15px;
    margin-top: 30px;
  }
  .steptitle {
    color: navy;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
  }
  .stepcontent {
    text-align: center;
    font-size: 10px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .stepMaincontainer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .homeformHeader {
    font-size: 18px;
    margin-top: 30px;
    color: #000;
    font-weight: 600;
  }

  .homeformHeader::after {
    content: "";
    background: #000080;
    display: block;
    height: 2px;
    width: 120px;
    margin: 2px auto 2px;
  }

  .homeformSubHeader {
    font-size: 12px;
    font-weight: lighter;

    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px !important;
    margin-right: 0px !important;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
  }
}
/*may end */
/*14 may */
/*end here*/
/*End 01-02-2018*/
/*header.fixHeader .headerMain .hRight .navMenu {
   top: 20px;
 }*/
/*header .logo .beta {
   position: absolute;
   font-size: 12px;
   color: #522583;
   right: -28px;
   top: -20px;
   color: #fff;
 }*/
/* Youtube Video */
/* Embed Video */

/*@media (min-width: 480px) and (max-width: 768px) { 
.chkIn .chkIp {
  float: left;
  border-right: 1px solid #e1e1e1;
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
}*/
/*.chkIn.chkInSec2.nextFieldsIn { bottom: 0; }*/
/*.srchTxt{ color: #ec008c; font-size: 14px; font-weight: 600; margin: 15px 0; text-align: center; letter-spacing: 1px;}*/
/*Edit 31-01-2017*/
/*End */
/* Home Popup */
/* Why GetMyVisa */
/* // Why GetMyVisa */
/* Footer */
/* // Footer */
/* How It Works  */
/* // How It Works  */
/* Country Options */
/*.cntryOptions .cntry.c1 {
   background-image: url('../../Contents/Images/c1.png');
 }
 .cntryOptions .cntry.c2 {
   background-image: url('../../Contents/Images/c2.png');
 }
 .cntryOptions .cntry.c3 {
   background-image: url('../../Contents/Images/c3.png');
 }
 .cntryOptions .cntry.c4 {
   background-image: url('../../Contents/Images/c4.png');
 }*/
/*
 .cntryOptions .cntry.c1 {
   background-image: url('../../Contents/Images/hong-kong.jpg');
 }
 .cntryOptions .cntry.c2 {
   background-image: url('../../Contents/Images/malaysia.jpg');
 }
 .cntryOptions .cntry.c3 {
   background-image: url('../../Contents/Images/c2.png');
 }
 .cntryOptions .cntry.c4 {
   background-image: url('../../Contents/Images/sri-lanka.jpg');
 }
 .cntryOptions .cntry.c5 {
   background-image: url('../../Contents/Images/cambodia.jpg');
 }
 .cntryOptions .cntry.c6 {
   background-image: url('../../Contents/Images/kenya.png');
 }
 .cntryOptions .cntry.c7 {
   background-image: url('../../Contents/Images/bahrain.jpg');
 }
 .cntryOptions .cntry.c8 {
   background-image: url('../../Contents/Images/oman.jpg');
 }
  */
/* // Country Options */
/* footer */
/* --/footer -- */
/*New Changes as per Ritesh Sir suggestion*/
/*New Changes as per Ritesh Sir suggestion end*/
/* --- login page ---*/
/*.socialbtn{padding: 25px 20px; display: inline-block; background-color: #fff;vertical-align: middle; width: 24%; margin: 1px;.anim();
   p{margin-bottom: 0;}
   &:hover{opacity: 0.8;}
 }*/
/*---//login page ---*/
/* Search Country */
/* // Search Country */
/* Travel Essentials */
/* // Travel Essentials */
/* Profile */
/* / Profile */
/* Visa Search */
/* // Visa Search */
/* Application */
/* .appMain .asBodyBox li.asCompleted .asBdIcon {
   background: #83c76b url('../../Contents/Images/completed-white.png') no-repeat center 30px;
 } */
/* .appMain .asBodyBox li.asCompleted .asBdDet ul li span {
   color: #83c76b;
 }
 .appMain .asBodyBox li.asInProgress .asBdIcon {
   background: #ffb74e url('../../Contents/Images/inProgress-white.png') no-repeat center 30px;
 }
 .appMain .asBodyBox li.asInProgress .asBdDet ul li span {
   color: #ffb74e;
 }
 .appMain .asBodyBox li.asRejected .asBdIcon {
   background: #fe4d2d url('../../Contents/Images/rejected-white.png') no-repeat center 30px;
 } */
/* // Application */
/* Application Detail */
/* Application */
/* // Application Detail */
/* Dashboard */
@keyframes toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* // Dashboard */
/* Vault */
/* // Vault */
/* File Application */
/* // File Application */
/* Forgot Password */
/* // Forgot Password */
/* File Confirmation */
/* // File Confirmation */
/* Group */
/* // Group */
/* Search Multiple Country */
/* // Search Multiple Country */
/* Search Bar */
/* // Search Bar */
/* Why GMV */
/* // Why GMV */
/* Contact */
/*#map {width: 100%; height: 510px;margin-top : 50px;margin-bottom: 50px; }*/
/* // Contact */
/* Models */
/* // Models */
/* menu Dropdown */
/*header .headerMain .hRight ul.menuAccount li.myAcntDrop{position: relative;
   ul{ position: absolute; line-height: initial; top: 75px; background: #fff; padding: 20px; right: 0; width: 200px; border-radius: 5px; -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2); box-shadow: 0 0 20px rgba(0,0,0,0.2);.anim();display: none;
	 li{ width: 100%;top: -4px;float: left;position: relative;height: 25px;margin-bottom: 16px;; width: 100%;
	   a{ color: #522583; font-size: 16px; font-weight: 400; display: inline-block; width: 100%; padding: 5px 0;vertical-align: middle;
		 &:hover{color: @pink;}
	   }
	 }
	 li:last-child{
	   margin-bottom: 0;
	 }
   }
 }*/
/* // menu Dropdown */
/* Accept Reject Popup */
/* // Accept Reject Popup */
/* Blog Detail */
/* // Blog Detail */
/*

 .det (#522e91, 14px, 400);

 .trf-t(); .trf-r(); .trf-s();
 .box-shadow(0, 0, 20px, rgba(0,0,0,0.2));
 .gray(); .gray(false);
 .grayIn();.grayOut();


 */
/*Add new css for file application module layout by Krushna front end developer*/
/* edit by krushna */
/*.file-application-second .header-wrap .col:last-child {
   width: 30%;
 }*/
/*.file-application-second .middle-wrap .file-app-right .application-datedetails .application-date-first .removepadiing .icon-wrap .plan:after {
   content: '';
   background-image: url(../../Contents/Images/rocket-arrow.png);
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   top: 5px;
   width: 20px;
   height: 20px;
   display: inline-block;
 }*/
/*22 may 2018*/
/*End here*/
/*Model Add Document*/
/*End Application Select Plan*/
/*8-B-Travel Essentials*/
/* End 8-B travel Essetials*/
/* billig-wrapper*/
/* End billing*/
/*.download-document ul li .screen-shot .screen-text h3 {
   color: #522583;
   font-size: 14px;
   margin: 0;
   font-weight: 600;
   margin-bottom: 5px;
 }*/
/*.download-document ul li .download-wrap a:last-child {
   margin-bottom: 0px;
 }*/
/*.download-document ul li:nth-child(2),
 .download-document ul li:nth-child(5) {
   margin: 0 2%;
 }*/
/*.download-document ul li:nth-child(1),
 .download-document ul li:nth-child(2),
 .download-document ul li:nth-child(3) {
   margin-bottom: 16px;
 }*/
/* Payment 9-B*/
/*Payment 9-B end*/
/* Group Management */
/* End Group Management */
/*Edit 17-03-2018*/
/*end 17-03-2018*/
/* end edit by Krushna*/
/*According */
/*End according */
/*End file Application Here*/
/*edit at pune*/
/*.align-center > a {
	 padding: 5px 10px;
	 color: #522583;
	 background: #fff;
	 font-size: 14px;
	 font-weight: 500;
	 margin: auto;
	 border: 1px solid #522583;
	 width: auto;
	 display: inline-block;
	 text-transform: capitalize;
 }*/
/*.align-center #back-btn{
   float: left;
 }
 .align-center #add-passenger{
   float: right;
 }*/
/*end at pune*/
/* Single button */
/* end Single*/
/*IE specific broswers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* body{
	   background: red !important;
	 }*/
}
/*End Here */
/*pagination*/
/*End edit at pune*/
/*edit at pune*/
/*Edit 31-01-2017*/
/* checkbox aspect */
/* checked mark aspect */
/* checked mark aspect changes */
/* disabled checkbox */
/* accessibility */
/*edit for mobile */
/*end here*/
.verify {
  /* background-image: url('../../Contents/Images/verifyimg.png'); */
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 8px;
}
/*End sprite logo*/
/*Edit 17-03-2018*/
/*End */
/*Free break up page */
/*edit for mobile purpose*/

/*end mobile*/
/*10 may */
/*.msgbody-list{
	 border:1px solid #563291;
	 background: #fff;
	 .important-info-list-ul{
		 float: initial;
		 width: 100%;
		 padding: 15px;
		 li{
			 color: @purple;
			 font-size: 14px;
			 margin-bottom: 10px;
			 display: flex;
			 i{
			   margin-right: 10px;
			 }
			 span{
				color: #333333;
			 }
		 }
	 }
 }*/
/*edit here*/
/*10 may */
/*.important-visa:nth-child(2){
   padding-top: 25px;
 }*/
/*end here*/
/*End free break page*/
/*.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover{
   background: red !important;
   border-radius: 50%;
 }
 .datepicker table tr td.active:active,
 .datepicker table tr td.active.highlighted:active,
 .datepicker table tr td.active.active,
 .datepicker table tr td.active.highlighted.active {
   background: red !important;
   border-radius: 50%;
 }*/
/*table > tbody > tr:nth-of-type(odd) {
   background-color: #eee;
 }

 table > tbody > tr:nth-of-type(even) {
   background-color: #e2e2e2;
 }

 .table-condensed
 {
   background-color: #e2e2e2;
 }
 .table-condensed thead
 {
   background-color: #FFF;
 }
 .datepicker table tr td {
   border-radius: 0;
 }

 .ui-datepicker-week-end a {
	 color: red !important;
 }
 .datepicker table tr td{
   border: 1px soild gray !important;
 }*/
/*.datepicker table tr td:nth-child(7) ,.datepicker table tr td:nth-child(1){
	 color:green !important;
 }*/
/*Date picker*/
/*end picker*/
/*schengen intermediate page*/
/*.questions-wrapper .question-row .question-header .question:before {
   content: "";
   position: absolute;
   left: 0;
   background: url(../../Contents/Images/question.png) no-repeat;
   top: -2px;
   z-index: 99999;
   height: 23px;
   width: 24px;
 }*/
/*end here*/
/*20 june*/
/*end 20 june*/
/*Edit for mobile purpose*/
/*end mobile*/
/*Edit for mobile purpose*/
/*end mobile*/
/*New Landing page css*/
/*.landing-page-wrapper .landing-page .landing-menu li:first-child {
   width: 16%;
 }
 .landing-page-wrapper .landing-page .landing-menu li:nth-child(2) {
   width: 12%;
 }*/
/*end here*/
@media (max-width: 1920px) {
  /*.moreellipses{
		 display: none;
	 }*/
}
@media (max-width: 1500px) {
  /*Edit 31-01-2017*/
}
@media (max-width: 1440px) {
  /*.inputBox select,.inputBox input {height: 40px; padding: 0 15px; line-height: 40px; font-size: 14px; }*/
  /*#map {height: 400px; }*/
}
@media all and (max-width: 1400px) {
  /*EndEdit 31-01-2017*/
  /*.billig-wrapper .free-breakup .table-wrap tr td,.billig-wrapper .free-breakup .cupan-wrap .link-cupan,.billig-wrapper .free-breakup .table-wrap tr:last-child td:first-child{

		  font-size: 15px;
	  }*/
  /*Edit payment summary page*/
  /*End edit payment summary */
}
@media (max-width: 1400px) {
  /*.silver-verification-complete .containerright .view-document .anchor-btn {
	 width: 30%;
	 margin-top: 10px;
	 margin-right: 1%;
   }*/
  /*.width15per{
	 width:15%;
	 }
	 .width12per{
	 width:22%;
	 }
	 .width21per{
	 width:20%;
	 }*/
}
@media all and (max-width: 1300px) {
  /*.schedule-main-wrapper > div:first-child{
			 margin-bottom: 20px;
		 }*/
}
@media (max-width: 1300px) {
  /*22 may 2018*/
  /*end*/
}
@media all and (max-width: 1265px) {
  /*Edit by Krushna for desktop responsive*/
  /* Changes as per ritesh sir suggesion*/
  /*end here*/
  /*end here*/
}
@media (max-width: 1224px) {
  /*.custom-accordian-applisting .accordion-head-parent .accordion_body .process-banner .process-banner-list .left-wrapper-trip {
	 width: 88%;
   }*/
}
@media all and (max-width: 1200px) {
  /*22 may 2018*/
  /*end */
}
/*22 may 2018*/
@media (max-width: 1165px) {
  /*.silverplan .file-app-left .comman-left .icon-wrap {
		 padding: 18px 0 !important;
	 }*/
}
/*end */
@media all and (max-width: 1165px) {
  /*for responsive stuff  */
  /*.document-list .physical_latest_plan .list_latest_plan .list_item .header_wrapper .left_header p{
		 font-size: 16px;
	 }*/
  /*22 may 2018*/
  /*end */
  /*End Edit by Krushna*/
}
@media all and (max-width: 1150px) {
  /*.custom-accordian-applisting .accordion-head-parent .accordion_body .process-banner .process-banner-list .left-wrapper-trip {
	 width: 87%;
   }*/
  /*22 may 2018*/
  /*end here*/
}
@media all and (max-width: 1100px) {
  /*.reject-visa-wrap .view-document-granted{
		 padding: 7px 7px 7px 0;
	 }*/
  /*Edit search Country Page*/
  /*End search*/
}
@media all and (max-width: 1024px) {
  /*.billig-wrapper .free-breakup{
		 padding: 5px;
	 }*/
}
@media all and (max-width: 980px) {
  /*.file-application-second .header-wrap .col:last-child {
	 width: 35%;
   }*/
  /*.custom-accordian-applisting .accordion-head-parent .accordion_body .process-banner .process-banner-list .left-wrapper-trip {
		 width: 89%;
	 }*/
  /*.socialbtn {
		 width: 23.50%;
		 padding: 25px 8px;
	 }*/
  /*.grayBg .teMainContainer .heading span{
			 font-size: 80px;
		 }*/
  /*.landing-page-wrapper .content-wrapper .content-item{
		 padding-top: 20px;
	 }*/
}
@media (max-width: 800px) {
  /*.free-breakup-summary{
		 display: none;
	 }
	 .mobile-payment{
		 display: block !important;
		 margin-bottom: 20px;
		 float: left;
		 width: 100%;
		 .free-breakup-summary{
			 display: block;
			 padding: 20px;
			 .table-wrap tr td{
				 font-size: 15px;
			 }
		 }
	 }*/
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome {
    line-height: 10px !important;
  }
  ::i-block-chrome {
    width: 55.5% !important;
  }

  ::i-block-chrome {
    width: auto;
    float: right;
  }
  ::i-block-chrome {
    position: absolute;
    right: 10px;
  }
  ::i-block-chrome {
    clear: both;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    display: inline;
  }
  ::i-block-chrome {
    display: inline-block;
    margin: 0 5%;
    float: none !important;
  }
  ::i-block-chrome,
  ::i-block-chrome {
    width: 85% !important;
  }
  ::i-block-chrome {
    width: 10% !important;
  }
  ::i-block-chrome {
    width: 50%;
  }
  ::i-block-chrome {
    padding: 10px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 640px) {
}

/*End Safari css*/

@media (min-width: 320px) and (max-width: 480px) {
  .stepMaincontainer {
    margin-top: 10px !important;
  }
}
