<div class="container stepMaincontainer">
  <div class="row">
    <div class="col-12 text-center">
      <p class="homeformHeader">Apply Visa Online In 4 Simple Steps</p>
      <h1 class="homeformSubHeader">
        We Take Care Of Your Online Visa Application
      </h1>
    </div>
  </div>
</div>
<div class="homeform">
  <div class="row steprow">
    <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer">
      <div class="step">
        <div class="stepicon" style="display: flex; justify-content: center">
          <svg style="height: 40px; width: 40px">
            <use xlink:href="assets/sprites/sprite.svg#home_step_1"></use>
          </svg>
        </div>
        <div class="steptitle" style="display: flex; justify-content: center">
          Book Online
        </div>
        <p class="stepcontent" style="display: flex; justify-content: center">
          Apply Visa Online.
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer">
      <div class="step">
        <div class="stepicon" style="display: flex; justify-content: center">
          <svg style="height: 40px; width: 40px">
            <use xlink:href="assets/sprites/sprite.svg#home_step_2"></use>
          </svg>
        </div>
        <div
          class="steptitle text-center"
          style="display: flex; justify-content: center"
        >
          Document Validation
        </div>
        <p class="stepcontent" style="display: flex; justify-content: center">
          Our visa expert will verify & collect your document.
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer">
      <div class="step">
        <div class="stepicon" style="display: flex; justify-content: center">
          <svg style="height: 40px; width: 40px">
            <use xlink:href="assets/sprites/sprite.svg#home_step_3"></use>
          </svg>
        </div>
        <div class="steptitle" style="display: flex; justify-content: center">
          Visa Processing
        </div>
        <p class="stepcontent" style="display: flex; justify-content: center">
          We schedule documents submission, biometric / interview.
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer">
      <div class="step">
        <div class="stepicon" style="display: flex; justify-content: center">
          <svg style="height: 40px; width: 40px">
            <use xlink:href="assets/sprites/sprite.svg#home_step_4"></use>
          </svg>
        </div>
        <div class="steptitle" style="display: flex; justify-content: center">
          Visa at Doorstep
        </div>
        <div class="stepcontent" style="display: flex; justify-content: center">
          Passport get delivered at your doorstep.
        </div>
      </div>
    </div>
  </div>
</div>
