<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="ethiopiaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#ethiopiaAccordion1" aria-expanded="true" aria-controls="ethiopiaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I get a multiple-entry visa online?
              </button>
            </h5>
          </div>

          <div id="ethiopiaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#ethiopiaAccordion">
            <div class="card-body">
              <p>No, currently only single-entry visas are issued by Ethiopia online. </p>


            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#ethiopiaAccordion2" aria-expanded="false"
            aria-controls="ethiopiaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I enter through any port of Ethiopia with my Visa?
              </button>
            </h5>
          </div>
          <div id="ethiopiaAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#ethiopiaAccordion">
            <div class="card-body">
              <p> Currently, Addis Ababa Bole International Airport is the only port of entry for e-visa when
                you apply Ethiopian e-visa online.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#ethiopiaAccordion3" aria-expanded="false"
            aria-controls="ethiopiaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I require any Vaccinations to enter?
              </button>
            </h5>
          </div>
          <div id="ethiopiaAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#ethiopiaAccordion">
            <div class="card-body">
              <p>Yes, a yellow fever vaccination is required
                for entry into Ethiopia. Other countries
                listed in <a href="https://www.who.int/ith/ITH_Annex_I.pdf"
                  target="_blank">https://www.who.int/ith/ITH_Annex_I.pdf.</a> </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#ethiopiaAccordion4" aria-expanded="false"
            aria-controls="ethiopiaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What should I do if I travel with my kids?
              </button>
            </h5>
          </div>
          <div id="ethiopiaAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#ethiopiaAccordion">
            <div class="card-body">
              <p>In the event of traveling with a child, one must make sure that one is in possession of said
                child’s valid birth certificate and/or adoption certificate.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#ethiopiaAccordion5" aria-expanded="false"
            aria-controls="ethiopiaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What if I need to apply for an extension, or overstay my visa date?
              </button>
            </h5>
          </div>
          <div id="ethiopiaAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#ethiopiaAccordion">
            <div class="card-body">
              <p>You can apply Ethiopian e-visa online while still in Ethiopia, as well. Overstaying your visa
                can lead to fines or even imprisonment. Passengers are allowed to request an extension (before
                the visa expires)
                by traveling in person to the Head Office of The Main Department for Immigration and
                Nationality Affairs (Addis Ababa, Ethiopia). </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#ethiopiaAccordion6" aria-expanded="false"
            aria-controls="ethiopiaAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there anything I need to know about the validity of my visa?
              </button>
            </h5>
          </div>
          <div id="ethiopiaAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#ethiopiaAccordion">
            <div class="card-body">
              <p>The validity of an e-visa starts from the day you enter Ethiopia, rather than the date of
                issue. </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
