<div class="loader-box">
    <div class="loader">
      <div class="element-animation">
        <!-- <img
          src="https://static.visa2fly.com/preloader/preloader.png"
          width="480" height="100" > -->
          <div class="img-sprite preloader" style="width: 480px; height: 100px;"></div>
      </div>
    </div>
    <ul class="labels">
      <li class="label">Loading...</li>
      <li class="label">Wandering...</li>
      <li class="label">Thrillseeking...</li>
      <li class="label">Adventuring...</li>
    </ul>
  </div>