<section class="successfull_page">
  <div class="container pt-5">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="booking-container">
          <h4>Booking Successfull</h4>
          <div class="booking-details">
            <div class="row">
              <div class="col-6" style="font-size: 15px;
              font-weight: 600;">Booking Id</div>
              <div class="col-6">123456789456123</div>
            </div>
            <div class="row">
              <div class="col-6" style="font-size: 15px;
              font-weight: 600;">Service Type</div>
              <div class="col-6">Visa</div>
            </div>
            <div class="row">
              <div class="col-6" style="font-size: 15px;
              font-weight: 600;">Amount Paid</div>
              <div class="col-6">y 587452 /-</div>
            </div>
            <div class="row">
              <div class="col-6" style="font-size: 15px;
              font-weight: 600;">Booking Date</div>
              <div class="col-6">22 July, 2020</div>
            </div>
            <div class="row mt-2">
              <div class="col-6 text-center"><button class="btn" style="background-color: #1D8899;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    padding: 3px 12px;
    width: 80%;
    font-size: 16px;">Download Invoice</button></div>
              <div class="col-6 text-center"><button class="btn" style="background-color: #1D8899;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    padding: 3px 12px;
    width: 80%;
    font-size: 16px;">My Booking</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-5"></div>
      <div class="col-7 text-center">
        <div class="feedback-container">
          <h4 style="font-size: 20px;
          margin-bottom: 5px;">Feedback Form</h4>
          <p style="font-size: 15px;
          margin-bottom: 10px;">Your Feedback Is Valuable For Us</p>
          <div class="row" style="background-color: #fff; border-radius: 10px; padding: 10px 5px;">
            <div class="col-12">
              <form class="form-row text-left">
                <div class="col-6">
                  <div class="feed-box">
                    <label for="" style="color: #B00000; font-size: 14px; font-weight: 600;">How well does our product
                      meet your
                      needs?</label>

                    <div class="star-rating">
                      <input type="radio" id="5-stars" name="rating" value="5" />
                      <label for="5-stars" class="star">&#9733;</label>
                      <input type="radio" id="4-stars" name="rating" value="4" />
                      <label for="4-stars" class="star">&#9733;</label>
                      <input type="radio" id="3-stars" name="rating" value="3" />
                      <label for="3-stars" class="star">&#9733;</label>
                      <input type="radio" id="2-stars" name="rating" value="2" />
                      <label for="2-stars" class="star">&#9733;</label>
                      <input type="radio" id="1-star" name="rating" value="1" />
                      <label for="1-star" class="star">&#9733;</label>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="feed-box">
                    <label for="" style="color: #B00000; font-size: 14px; font-weight: 600;">Were you able to find the
                      information you
                      were looking for on our website?</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="feed-box">
                    <label for="" style="color: #B00000; font-size: 14px; font-weight: 600;">How likely are you to
                      recommend visa2fly to a friends or family?</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="feed-box">
                    <label for="" style="color: #B00000; font-size: 14px; font-weight: 600;">If you could change just
                      one thing about our product,what would it be?</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
