.successfull_page {
  height: calc(100vh - 50px);
  background-image: url(../../../assets/success-page.png);
  background-position: center center;
  background-size: cover;
  margin-top: 50px;
  background-color: #f4f8fb;
}

.star-rating {
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}
