<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>
          FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="azerbaijanAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#azerbaijanAccordion1"
            aria-expanded="true" aria-controls="azerbaijanAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I need to travel to Azerbaijan urgently. Is there any way that a visa could be facilitated?
              </button>
            </h5>
          </div>

          <div id="azerbaijanAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#azerbaijanAccordion">
            <div class="card-body">
              <p>Yes, Azerbaijan has an “urgent” e-visa that
                they offer. The processing time for this is 3 hours,
                so it is recommended to apply for one at least
                3 hours prior to your trip. Its validity starts on
                the same day it is issued.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#azerbaijanAccordion2"
            aria-expanded="false" aria-controls="azerbaijanAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How will I obtain my e-visa?
              </button>
            </h5>
          </div>
          <div id="azerbaijanAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#azerbaijanAccordion">
            <div class="card-body">
              <p> It will be sent to you by email, so please
                take extra caution to enter your email
                details correctly. Notifications on acceptance
                of payments, as well as on visa status are
                sent here as well.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#azerbaijanAccordion3"
            aria-expanded="false" aria-controls="azerbaijanAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                My visa has been rejected. May I know why?
              </button>
            </h5>
          </div>
          <div id="azerbaijanAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#azerbaijanAccordion">
            <div class="card-body">
              <p>The ASAN Visa system will send you an email
                regarding the same, in which the reason
                for your visa rejection is stated.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#azerbaijanAccordion4"
            aria-expanded="false" aria-controls="azerbaijanAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If my visa is rejected, can I apply again?
              </button>
            </h5>
          </div>
          <div id="azerbaijanAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#azerbaijanAccordion">
            <div class="card-body">
              <p>Yes, they do allow an applicant to apply
                again if an e-visa is rejected. However, they
                state that this time, you must apply for a
                regular visa through your relevant diplomatic
                representation of Azerbaijan. For Azerbaijan
                E-visa apply online at visa2fly</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#azerbaijanAccordion5"
            aria-expanded="false" aria-controls="azerbaijanAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Should I attach my e-visa to my passport before arrival?
              </button>
            </h5>
          </div>
          <div id="azerbaijanAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#azerbaijanAccordion">
            <div class="card-body">
              <p>No, you should carry a PRINTED copy of
                it with you, and show it along with
                your passport.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse" class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#azerbaijanAccordion6"
              aria-expanded="false" aria-controls="azerbaijanAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I want to extend my visa. Can I apply for a new one before I leave the country?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion6" class="collapse" aria-labelledby="heading6"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>Unfortunately, you can only apply for a new
                  e-visa after you have left the country. Hence,
                  you will have to exit and re-enter.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#azerbaijanAccordion7"
              aria-expanded="false" aria-controls="azerbaijanAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I do not own a credit or debit card. Is there any other way to make the fee payment?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion7" class="collapse" aria-labelledby="heading7"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>The payment for visa fees can only be made
                  through credit or debit cards (only MasterCard or Visa).
                  Alternatively, you could ask someone else to help
                  you, as the name on the card does not have to match
                  the one in your application.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#azerbaijanAccordion8"
              aria-expanded="true" aria-controls="azerbaijanAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I apply for an extension of my business visa?
                </button>
              </h5>
            </div>

            <div id="azerbaijanAccordion8" class="collapse" aria-labelledby="heading8"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>Yes, you can apply for an extension either
                  while you are still in Azerbaijan, or after you
                  have left. The application must be made to the
                  Registration and Assistance on Migration Issues
                  Office in Balakan if you are still in Azerbaijan.
                  If you are in your home country, you can apply
                  to the nearest Azerbaijan embassy to process it.
                  To make it easy, Visa2Fly helps you to apply for
                  an Azerbaijan e-visa online.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#azerbaijanAccordion9"
              aria-expanded="false" aria-controls="azerbaijanAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I wish to start working in Azerbaijan. Can I do so in with my business visa?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion9" class="collapse" aria-labelledby="heading9"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p> No, you cannot. You must apply for a work visa
                  and residence permit. Please note, it is not
                  possible to convert your business visa to a work visa.
                </p>


              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#azerbaijanAccordion10"
              aria-expanded="false" aria-controls="azerbaijanAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If my visa is rejected, do I get a fee refund?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion10" class="collapse" aria-labelledby="heading10"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>Unfortunately, the Republic of Azerbaijan does not refund rejected visa fees.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#azerbaijanAccordion11"
              aria-expanded="false" aria-controls="azerbaijanAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I have realized that some of the information I entered on my e-visa needs correction - what do
                  I do?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion11" class="collapse" aria-labelledby="heading11"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">

                <p>You would need to apply for a new Azerbaijan
                  e-visa online. In case your e-visa particulars
                  do not match those on your travel document,
                  your visa is considered invalid.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#azerbaijanAccordion12"
              aria-expanded="false" aria-controls="azerbaijanAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How much prior to my trip should I book a visa?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion12" class="collapse" aria-labelledby="heading12"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">

                <p>The Republic of Azerbaijan recommends that you
                  book a visa a minimum of 3 days in advance, as
                  that is the time it takes to process it. However,
                  for your safety, booking at least one week
                  in advance is advised.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#azerbaijanAccordion13"
              aria-expanded="false" aria-controls="azerbaijanAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I wish to check the validity of my visa - how do I do that?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion13" class="collapse" aria-labelledby="heading13"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">

                <p>If you wish to check the credibility and/or validity
                  of your visa or have any troubles related to
                  the processing of your visa/fees, you must email
                  the ASAN Visa system (info@evisa.gov.az )
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#azerbaijanAccordion14"
              aria-expanded="false" aria-controls="azerbaijanAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What can I do with my business visa?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion14" class="collapse" aria-labelledby="heading14"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">

                <p>It is possible to attend conferences, arrange
                  trade fairs, and hold business meetings, among
                  other things. You cannot engage in salaried
                  employment (i.e. get a job), however.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#azerbaijanAccordion15"
              aria-expanded="true" aria-controls="azerbaijanAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I extend my transit visa?
                </button>
              </h5>
            </div>

            <div id="azerbaijanAccordion15" class="collapse" aria-labelledby="heading15"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>Currently, it is not allowed to extend your transit visa.</p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading16" data-toggle="collapse" data-target="#azerbaijanAccordion16"
              aria-expanded="false" aria-controls="azerbaijanAccordion16">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there any way that I could transit without a visa?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion16" class="collapse" aria-labelledby="heading16"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>Yes, you can transit without a visa if you
                  stay inside the airport premises for
                  your entire transit time.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading17" data-toggle="collapse" data-target="#azerbaijanAccordion17"
              aria-expanded="false" aria-controls="azerbaijanAccordion17">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How do I obtain a transit visa?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion17" class="collapse" aria-labelledby="heading17"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>You must apply for a transit visa manually
                  (i.e. there is not an e-visa facility for this).
                  These can be obtained at the nearest Embassy of
                  Azerbaijan in your country. However, some embassies
                  do not offer this, so alternatively you could
                  apply for a tourist visa instead.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading18" data-toggle="collapse" data-target="#azerbaijanAccordion18"
              aria-expanded="false" aria-controls="azerbaijanAccordion18">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How is my visa validity calculated?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion18" class="collapse" aria-labelledby="heading18"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>Visa validity for transit visas is calculated from the day
                  you submit your application form. They are
                  valid for 30 days from this date. </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading19" data-toggle="collapse" data-target="#azerbaijanAccordion19"
              aria-expanded="false" aria-controls="azerbaijanAccordion19">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Are my transit visa fees refunded if I do not get the visa?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion19" class="collapse" aria-labelledby="heading19"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>No, the fees you pay for a transit visa are non-refundable.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading20" data-toggle="collapse" data-target="#azerbaijanAccordion20"
              aria-expanded="false" aria-controls="azerbaijanAccordion20">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Will I need to produce a return ticket if I am exempted from a visa?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion20" class="collapse" aria-labelledby="heading20"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>You do not need to show a return ticket (from your
                  third country) to the Azerbaijan authorities,
                  however, many airlines do not let you board
                  until they have seen proof of return tickets -
                  checking with your airline for this
                  matter is advised.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading21" data-toggle="collapse" data-target="#azerbaijanAccordion21"
              aria-expanded="false" aria-controls="azerbaijanAccordion21">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How can I track the status of my visa application?
                </button>
              </h5>
            </div>
            <div id="azerbaijanAccordion21" class="collapse" aria-labelledby="heading21"
              data-parent="#azerbaijanAccordion">
              <div class="card-body">
                <p>Since this visa is manual, you will need to
                  contact the nearest Azerbaijan Embassy or pay
                  them a visit to confirm your visa status. Any
                  questions on the validity or visa processing can
                  be asked here as well. The best way for an
                  Azerbaijan E-visa – Apply online at Visa2Fly
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>

  </div>
</div>
