
        <!-- <div class="col-md-7 col-lg-8 mobileLogoContainer">
            <img src="../../../assets/logo4.jpg" class="mobileLogo" alt="">
            <div class="dropdown" style="display: flex;align-content: center;align-items: center;justify-content: center;">
                    <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>

                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-right: 40px;">
                      <a class="dropdown-item" href="#">Free Visas</a>
                      <a class="dropdown-item" href="#">Visa On Arrival</a>
                    </div>
                </div>
      
          </div> -->
          <nav class="navbar heightNav fixed-top navbar-expand-lg navbar-light headerPrimary" style="padding-left: 50px;padding-right: 50px; z-index: 999 !important;">

                <!-- Navbar brand -->
                <a class="navbar-brand" [routerLink]="['home']"><img src="../../../assets/logo4.jpg" width="100" height="60%" class="d-inline-block align-top"  alt=""></a>
              
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <!-- Collapsible content -->
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-right: 40px;">
                        <a class="dropdown-item" href="#" style="color: navy">Free Visas</a>
                        <a class="dropdown-item" href="#" style="color: navy">Visa On Arrival</a>
                      </div>
                <!-- Collapsible content -->
              
              </nav>
    
    <div class="topNavContainer" style="z-index: 999 !important;" >
        <div class="container-fluid1" >
            <div class="row noMargin" >
                <div class="col topNavItem ">
    
                    <div class="topNavItemIcon">
                        <!-- <i class="fab fa-angellist"></i> -->
                        <img src="../../../assets/mobile-header/visa.png" class="headerIcon" alt="">
                    </div>
                    <div class="topNavItemContent selectedItem">
                        Visa
                    </div>
                </div>
                <div class="col topNavItem">
                    <div class="topNavItemIcon">
                        <img src="../../../assets/mobile-header/sim.png" class="headerIcon" alt="">

                    </div>
                    <div class="topNavItemContent">
                        Sim
                    </div>
                </div>
                <div class="col topNavItem">
                    <div class="topNavItemIcon">
                            <img src="../../../assets/mobile-header/shield.png" class="headerIcon" alt="">
                        <!-- <i class="fab fa-angellist"></i> -->
                    </div>
                    <div class="topNavItemContent">
                        Insurance
                    </div>
                </div>
                <!-- <div class="col topNavItem">
                    <div class="topNavItemIcon">
                        <img src="../../../assets/mobile-header/money.png" class="headerIcon" alt="">

                        
                        
                    </div>
                    <div class="topNavItemContent">
                        Forex
                    </div>
                </div> -->
              
            </div>
        </div>
    </div>