<section id="faq">
  <div class="container-fluid wrapContainer" style="position: relative">
    <div class="row">
      <div class="col-12 text-center">
        <h3>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h3>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="kenyaAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#kenyaAccordion1"
              aria-expanded="true"
              aria-controls="kenyaAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                    In what file format can I attach the documents for the e-visa?
                </button>
              </h5>
            </div>

            <div
              id="kenyaAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#kenyaAccordion"
            >
              <div class="card-body">
                <p>
                    You can attach documents in either PDF, JPG or Microsoft Word format.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#kenyaAccordion2"
              aria-expanded="false"
              aria-controls="kenyaAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    What are the photo requirements for a Kenya visa?
                </button>
              </h5>
            </div>
            <div
              id="kenyaAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#kenyaAccordion"
            >
              <div class="card-body">
                <p>
                    You will not be able to scan/take a photo of the picture in your passport. This is strictly prohibited, please do not do this. The applicant's photograph should be taken within the last 6 months, and be in colour. Make sure it shows your full front-facing face, with a cream or white-coloured background.</p>
                    <p>If you usually wear glasses or a hearing device or wig, they should be worn for your picture. Dark, tinted and non-prescription glasses are not acceptable - unless you need them for medical reasons. A medical certificate may be required for the same. Please take the picture in normal everyday clothes, and NOT in uniform.

                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#kenyaAccordion3"
              aria-expanded="false"
              aria-controls="kenyaAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    I am visiting family. Will I need any supporting documents?
                </button>
              </h5>
            </div>
            <div
              id="kenyaAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#kenyaAccordion"
            >
              <div class="card-body">
                <p>
                    Yes, you will. These are two documents, usually. One would be an invitation letter from the host (the person whom you are going to visit). The other document would be a proof of identification of the host. This could be in the form of an ID card/passport/entry permit/alien card (of the family member in Kenya).
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#kenyaAccordion4"
              aria-expanded="false"
              aria-controls="kenyaAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    What cards are accepted to pay the visa fees?
                </button>
              </h5>
            </div>
            <div
              id="kenyaAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#kenyaAccordion"
            >
              <div class="card-body">
                <p>
                    Most credit and debit cards are acceptable. Visa and Mastercards are also taken.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#kenyaAccordion5"
              aria-expanded="false"
              aria-controls="kenyaAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Can I extend my stay in Kenya beyond the given time on my visa?
                </button>
              </h5>
            </div>
            <div
              id="kenyaAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#kenyaAccordion"
            >
              <div class="card-body">
                <p>
                    Yes, you can. The stay period of the first visa is 90 days. If you wish to stay longer than 90 days, you will have to contact the Immigration Headquarters in Nairobi to renew your visa. The maximum number of days you can stay in Kenya for (at a time) is 6 months.
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#kenyaAccordion6"
                aria-expanded="false"
                aria-controls="kenyaAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    What is the stay period of my visa?
                  </button>
                </h5>
              </div>
              <div
                id="kenyaAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#kenyaAccordion"
              >
                <div class="card-body">
                  <p>
                    The maximum stay period available is 90 days. When you present yourself in front of the immigration officers at the port of entry (for indians, this is usually the airport), you will be given a stay period. This depends on the purpose and duration of your activities in Kenya. Because of this, it differs from person to person.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#kenyaAccordion7"
                aria-expanded="false"
                aria-controls="kenyaAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    If my e-visa application is denied, will I get a fee refund?
                  </button>
                </h5>
              </div>

              <div
                id="kenyaAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#kenyaAccordion"
              >
                <div class="card-body">
                  <p>
                    No, currently the Kenyan E-visa portal does not issue refunds for rejected applications. If you choose to cancel your visa application (before you get the results), you will still not be able to obtain a refund once the fees have been paid.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#kenyaAccordion8"
                aria-expanded="false"
                aria-controls="kenyaAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Can I exit Kenya and revisit using the same visa?
                  </button>
                </h5>
              </div>

              <div
                id="kenyaAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#kenyaAccordion"
              >
                <div class="card-body">
                  <p>
                    No, you cannot. The Kenyan E-visa is a single-entry visa. This means that you will need to apply for a new visa if you wish to re-enter Kenya. This is irrespective of the time difference between when you enter and when you exit.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading9"
                data-toggle="collapse"
                data-target="#kenyaAccordion9"
                aria-expanded="false"
                aria-controls="kenyaAccordion9"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is a Single Entry Visa for tourism or business purposes?
                  </button>
                </h5>
              </div>
              <div
                id="kenyaAccordion9"
                class="collapse"
                aria-labelledby="heading9"
                data-parent="#kenyaAccordion"
              >
                <div class="card-body">
                  <p>
                    This depends on the kind of documents you submit, as well as what you choose on the online form. The Single Entry visa is for both purposes but differs based on what the applicant is going to Kenya for.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading10"
                data-toggle="collapse"
                data-target="#kenyaAccordion10"
                aria-expanded="false"
                aria-controls="kenyaAccordion10"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there a different form/ process for the tourist and business visas?
                  </button>
                </h5>
              </div>
              <div
                id="kenyaAccordion10"
                class="collapse"
                aria-labelledby="heading10"
                data-parent="#kenyaAccordion"
              >
                <div class="card-body">
                  <p>
                    No. Since both of them are single entry visas, they come under the same umbrella. They also have the same fees. However, if you wish to opt for a business visa (depending on the purpose of your visit), you will need to submit slightly different documents.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading11"
                data-toggle="collapse"
                data-target="#kenyaAccordion11"
                aria-expanded="false"
                aria-controls="kenyaAccordion11"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Do I need a transit visa to travel to Kenya?
                  </button>
                </h5>
              </div>
              <div
                id="kenyaAccordion11"
                class="collapse"
                aria-labelledby="heading11"
                data-parent="#kenyaAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes, you do. You will need an e-visa to visit Kenya in any way: for tourism, business, as well as transit.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading12"
                data-toggle="collapse"
                data-target="#kenyaAccordion12"
                aria-expanded="false"
                aria-controls="kenyaAccordion12"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    If I do not leave the airport between transit, or I have a connecting flight, do I still need a visa?
                  </button>
                </h5>
              </div>
              <div
                id="kenyaAccordion12"
                class="collapse"
                aria-labelledby="heading12"
                data-parent="#kenyaAccordion"
              >
                <div class="card-body">
                  <p>
                    No, you will not. If you stay inside the transit area of the Kenyan airport, you will not be needing a Transit Visa.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
        <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
              {{loadText}}
            </button> -->
      </div>
    </div>
  </div>
</section>
