<section id="ui_requirement" class="mgxTop">
  <div class="container-fluid">
    <div class="iconSection">
      <div class="row headingWrapContainer">
        <!-- Heading -->
        <div class="col-12 text-center">
          <h3 class="requirement-main--heading">
            Document required for Vietnam {{ visaType }} visa
          </h3>
        </div>
        <!-- Content -->
        <div class="col-12">
          <div class="card requiredIcon">
            <div class="card-body">
              <h3 class="requiredIconHeading">Passport</h3>
              <p>
                Upload colored copies of the
                <button
                type="button"
                class="btn toggleHelperBtn"
                data-toggle="modal"
                data-target="#samplePassportFront"
                >
                first page
                </button> and
                <button
                  type="button"
                  class="btn toggleHelperBtn"
                  data-toggle="modal"
                  data-target="#samplePassportBack"

                >
                last page
                </button> of the passport.
                When you apply for a Vietnam e visa online, you must be in possession of a passport with at least 6 months validity.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-12">
          <div class="card requiredIcon">
            <div class="card-body">
              <h1 class="requiredIconHeading">Application Form</h1>
              <p>
                The Vietnam application form must be duly filled and signed by
                the traveler. This is the form:
                <a target="_blank" href="https://vietnamvisa.govt.vn/form-on-arrival.pdf">https://vietnamvisa.govt.vn/form-on-arrival.pdf</a>. It must be
                submitted in the same format (pdf).
              </p>
            </div>
          </div>
        </div> -->
        <div class="col-12">
          <div class="card requiredIcon">
            <div class="card-body">
              <h3 class="requiredIconHeading">Photograph</h3>
              <!-- <p>
                2 recent color 35mm width by 45 mm height photograph must be submitted. This must be
                taken on a white background. A neutral expression must be
                maintained, and no sunglasses or caps must be worn. One picture
                must be attached to the application, and the other must be
                submitted upon arrival.
              </p> -->
              <ul>
                <li>Upload scanned color copy of your passport-sized photograph</li>
                <li>
                  <button type="button" class="btn toggleHelperBtn" data-toggle="modal" data-target="#samplePhotograph">
                    Photo
                  </button>
                   should be taken against a white background.</li>
                <li>Dimensions should be 45mm height x 35mm width.</li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="col-12"
        >
          <div class="card requiredIcon">
            <div class="card-body">
              <h3 class="requiredIconHeading">Air ticket</h3>
              <p>
                Applicant must provide both departure and arrival flight tickets.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-12"
        >
          <div class="card requiredIcon">
            <div class="card-body">
              <h3 class="requiredIconHeading">Hotel confirmation</h3>
              <p>
                Applicant needs provide hotel booking confirmation or any other accommodation (if any).
              </p>
            </div>
          </div>
        </div>

        <div
        class="col-12" [ngStyle]="{'display': visaType == 'Business'? 'block' : 'none'}"
      >
        <div class="card requiredIcon">
          <div class="card-body">
            <h3 class="requiredIconHeading">Business Invitation</h3>
            <p>
              Applicant needs to provide Invitation from the inviting company from Vietnam.
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>

    <!-- <div class="iconSection">
      <ngb-tabset #t="ngbTabset" (tabChange)="changePurpose($event)" class="tabset" type="pills" [justify]="desktopJustify"
        [orientation]="desktopOrientation">
        <ngb-tab id="Tourist" title="Tourist">

          <ng-template ngbTabContent>

            <div class="container-fluid wrapContainer" [@simpleFadeAnimation]="'in'">
              <div class="row">
                <div class="col-12 text-center mgxTop">
                  <h1 class="outerRequirement"><span class="requirementContainer text-uppercase">TOURIST
                      VISA REQUIREMENT FOR
                      VIETNAM</span>
                  </h1>
                </div>
              </div>

              <div class="desktopContainer accordion" id="touristAccodion">
                <div class="row mt-2">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#tourist1" aria-expanded="true"
                          aria-controls="tourist1" [class.showDiv]="selectedTourist === 1"
                          (click)="setActiveTourist(1, 'setActiveTourist1')" id="setActiveTourist1">
                          <div class="makeIconCntr">
                            <div class="vr-passport requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Passport</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="tourist1" class="collapse" [ngStyle]="{
                          'display': showTouristFirst ? 'block' : '',
                          'opacity': showTouristFirst ? '1' : '',
                          'visibility': showTouristFirst ? 'visible' : '',
                          'transition': showTouristFirst ? 'all .35s ease-in-out' : ''
                          }" aria-labelledby="heading1"
                          data-parent="#touristAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Passport</h1>
                              <p>You must hold a passport valid for at least with an expiration date at least 6 months
                                beyond your intended duration of stay in Vietnam.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#tourist2" aria-expanded="false"
                          aria-controls="tourist2" [class.showDiv]="selectedTourist === 2"
                          (click)="setActiveTourist(2, 'setActiveTourist2')" id="setActiveTourist2">
                          <div class="makeIconCntr">
                            <div class="vr-applicationForm requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Application Form</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="tourist2" class="collapse" aria-labelledby="heading2" data-parent="#touristAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Application Form</h1>
                              <p>
                                The Vietnam application form must be duly filled and signed by the traveler. This is the
                                form: https://vietnamvisa.govt.vn/form-on-arrival.pdf. It must be submitted in the same
                                format (pdf).
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#tourist3" aria-expanded="false"
                          aria-controls="tourist3" [class.showDiv]="selectedTourist === 3"
                          (click)="setActiveTourist(3, 'setActiveTourist3')" id="setActiveTourist3">
                          <div class="makeIconCntr">
                            <div class="vr-photograph requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Photograph</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="tourist3" class="collapse" aria-labelledby="heading3"
                          data-parent="#touristAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Photograph
                              </h1>
                              <p>
                                2 recent color 4*6cm photograph must be submitted. This must be taken on a white
                                background. A neutral expression must be maintained, and no sunglasses or caps must be
                                worn. One picture must be attached to the application, and the other must be submitted
                                upon arrival. For your, Vietnam E-visa apply online at Visa2Fly.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#toursit4" aria-expanded="false"
                          aria-controls="toursit4" [class.showDiv]="selectedTourist === 4"
                          (click)="setActiveTourist(4, 'setActiveTourist4')" id="setActiveTourist4">
                          <div class="makeIconCntr">
                            <div class="vr-authorization requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Authorization Document</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="toursit4" class="collapse" aria-labelledby="heading4"
                          data-parent="#touristAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Authorization Document</h1>
                              <p>
                                this is handled by the Immigration Department (Ministry of Public Security) or the
                                Consular Department in Ho Chi Minh city (Ministry of Foreign Affairs).
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                      </ng-template>
                      <ng-template ngbTabContent>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                      </ng-template>
                      <ng-template ngbTabContent>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>

              <div class="mobileContainer wrapContainer accordion" id="touristAccodionMobile">
                <div class="row">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#touristMobile1" aria-expanded="true"
                          aria-controls="touristMobile1" [class.showDiv]="selectedTourist === 1"
                          (click)="setActiveTouristMobile(1, 'setActiveTouristMobile1')" id="setActiveTouristMobile1">
                          <div class="makeIconCntr">
                            <div class="vr-passport requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Passport</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="touristMobile1" class="collapse" [ngStyle]="{
                          'display': showTouristMobileFirst ? 'block' : '',
                          'opacity': showTouristMobileFirst ? '1' : '',
                          'visibility': showTouristMobileFirst ? 'visible' : '',
                          'transition': showTouristMobileFirst ? 'all .35s ease-in-out' : ''
                          }" aria-labelledby="headingMobile1"
                          data-parent="#touristAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Passport</h1>
                              <p>You must hold a passport valid for at least with an expiration date at least 6 months
                                beyond your intended duration of stay in Vietnam.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>

                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#touristMobile2" aria-expanded="true"
                          aria-controls="touristMobile2" [class.showDiv]="selectedTourist === 2"
                          (click)="setActiveTouristMobile(2, 'setActiveTouristMobile2')" id="setActiveTouristMobile2">
                          <div class="makeIconCntr">
                            <div class="vr-applicationForm requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Application Form</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="touristMobile2" class="collapse" aria-labelledby="headingMobile2"
                          data-parent="#touristAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Application Form</h1>
                              <p>
                                The Vietnam application form must be duly filled and signed by the traveler. This is the
                                form: https://vietnamvisa.govt.vn/form-on-arrival.pdf. It must be submitted in the same
                                format (pdf).
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>

                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#touristMobile3" aria-expanded="true"
                          aria-controls="touristMobile3" [class.showDiv]="selectedTourist === 3"
                          (click)="setActiveTouristMobile(3, 'setActiveTouristMobile3')" id="setActiveTouristMobile3">
                          <div class="makeIconCntr">
                            <div class="vr-photograph requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Photograph</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="touristMobile3" class="collapse" aria-labelledby="headingMobile3"
                          data-parent="#touristAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Photograph
                              </h1>
                              <p>
                                2 recent color 4*6cm photograph must be submitted. This must be taken on a white
                                background. A neutral expression must be maintained, and no sunglasses or caps must be
                                worn. One picture must be attached to the application, and the other must be submitted
                                upon arrival. For your, Vietnam E-visa apply online at Visa2Fly.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>


                    </ngb-tab>
                  </ngb-tabset>
                </div>

                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#touristMobile4" aria-expanded="true"
                          aria-controls="touristMobile4" [class.showDiv]="selectedTourist === 4"
                          (click)="setActiveTouristMobile(4, 'setActiveTouristMobile4')" id="setActiveTouristMobile4">
                          <div class="makeIconCntr">
                            <div class="vr-authorization requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Authorization Document</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="touristMobile4" class="collapse" aria-labelledby="headingMobile4"
                          data-parent="#touristAccodionMobile">
                          <div class="card requiredIcon" >
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Authorization Document</h1>
                              <p>
                                this is handled by the Immigration Department (Ministry of Public Security) or the
                                Consular Department in Ho Chi Minh city (Ministry of Foreign Affairs).
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="Business" title="Business">
          <ng-template ngbTabContent>

            <div class="container-fluid wrapContainer" [@simpleFadeAnimation]="'in'">
              <div class="row">
                <div class="col-12 text-center mgxTop">
                  <h1 class="outerRequirement"><span class="requirementContainer text-uppercase">BUSINESS
                      VISA REQUIREMENT FOR
                      Vietnam</span>
                  </h1>
                </div>
              </div>

              <div class="desktopContainer accordion" id="businessAccodion">
                <div class="row mt-2">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" id="#businessHeading1" data-target="#business1"
                          aria-expanded="true" aria-controls="business1" [class.showDiv]="selectedBusiness === 1"
                          (click)="setActiveBusiness(1, 'setActiveBusiness1')" id="setActiveBusiness1">
                          <div class="makeIconCntr">
                            <div class="vr-passport requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Passport</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="business1" class="collapse" [ngStyle]="{
                          'display': showBusinessFirst ? 'block' : '',
                          'opacity': showBusinessFirst ? '1' : '',
                          'visibility': showBusinessFirst ? 'visible' : '',
                          'transition': showBusinessFirst ? 'all .35s ease-in-out' : ''
                          }" aria-labelledby="businessHeading1"
                          data-parent="#businessAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Passport</h1>
                              <p>You must hold a passport valid for at least with an expiration date at least 6 months
                                beyond your intended duration of stay in Vietnam.
                              </p>

                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div class="collapsed" id="#businessHeading2" data-toggle="collapse" data-target="#business2"
                          aria-expanded="false" aria-controls="business2" [class.showDiv]="selectedBusiness === 2"
                          (click)="setActiveBusiness(2, 'setActiveBusiness2')" id="setActiveBusiness2">
                          <div class="makeIconCntr">
                            <div class="vr-applicationForm requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Application Form</h2>
                        </div>

                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="business2" class="collapse" aria-labelledby="businessHeading2"
                          data-parent="#businessAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Application Form</h1>
                              <p>
                                The Vietnam e-visa application form must be duly filled and signed by the traveler. This
                                is the form: https://vietnamvisa.govt.vn/form-on-arrival.pdf. It must be submitted in the
                                same format (pdf).
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div class="collapsed" id="#businessHeading3" data-toggle="collapse"
                          data-target="#business3" aria-expanded="false" aria-controls="business3"
                          [class.showDiv]="selectedBusiness === 3"
                          (click)="setActiveBusiness(3, 'setActiveBusiness3')" id="setActiveBusiness3">
                          <div class="makeIconCntr">
                            <div class="vr-photograph requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Photograph</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="business3" class="collapse" aria-labelledby="businessHeading3"
                          data-parent="#businessAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Photograph
                              </h1>
                              <p>
                                2 recent color 4*6cm photograph must be submitted. This must be taken on a white
                                background. A neutral expression must be maintained, and no sunglasses or caps must be
                                worn. One picture must be attached to the application, and the other must be submitted
                                upon arrival.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                      type="pills">
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <div data-toggle="collapse" id="#businessHeading4" class="collapsed" data-target="#business4"
                          aria-expanded="false" aria-controls="business4"
                            [class.showDiv]="selectedBusiness === 4"
                            (click)="setActiveBusiness(4, 'setActiveBusiness4')" id="setActiveBusiness4">
                            <div class="makeIconCntr">
                              <div class="vr-authorization requiredIcons img-sprite"></div>
                            </div>
                            <h2 class="setFontSize">Authorization Document</h2>
                          </div>
                        </ng-template>
                        <ng-template ngbTabContent>
                          <div id="business4" class="collapse" aria-labelledby="businessHeading4"
                            data-parent="#businessAccodion">
                            <div class="card requiredIcon">
                              <div class="card-body">
                                <h1 class="requiredIconHeading">Authorization Document</h1>
                                <p>
                                  this is handled by the Immigration Department (Ministry of Public Security) or the
                                  Consular Department in Ho Chi Minh city (Ministry of Foreign Affairs).
                                </p>


                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                        </ng-template>
                        <ng-template ngbTabContent>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                        </ng-template>
                        <ng-template ngbTabContent>
                        </ng-template>
                      </ngb-tab>
                   </ngb-tabset>


                </div>
              </div>

              <div class="mobileContainer accordion wrapContainer" id="businessAccodionMobile">
                <div class="row">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#businessMobile1" aria-expanded="true"
                          aria-controls="businessMobile1" [class.showDiv]="selectedBusiness === 1"
                          (click)="setActiveBusiness(1, 'setActiveBusiness1')" id="setActiveBusiness1">
                          <div class="makeIconCntr">
                            <div class="vr-passport requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Passport</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="businessMobile1" class="collapse" [ngStyle]="{
                          'display': showBusinessMobileFirst ? 'block' : '',
                          'opacity': showBusinessMobileFirst ? '1' : '',
                          'visibility': showBusinessMobileFirst ? 'visible' : '',
                          'transition': showBusinessMobileFirst ? 'all .35s ease-in-out' : ''
                          }" aria-labelledby="headingMobile1"
                          data-parent="#businessAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Passport</h1>
                              <p>You must hold a passport valid for at least with an expiration date at least 6 months
                                beyond your intended duration of stay in Vietnam.
                              </p>

                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>

                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#businessMobile2" aria-expanded="true"
                          aria-controls="businessMobile2" [class.showDiv]="selectedBusiness === 2"
                          (click)="setActiveBusiness(2, 'setActiveBusiness2')" id="setActiveBusiness2">
                          <div class="makeIconCntr">
                            <div class="vr-applicationForm requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Application Form</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="businessMobile2" class="collapse" aria-labelledby="headingMobile2"
                          data-parent="#businessAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Application Form</h1>
                              <p>
                                The Vietnam e-visa application form must be duly filled and signed by the traveler. This
                                is the form: https://vietnamvisa.govt.vn/form-on-arrival.pdf. It must be submitted in the
                                same format (pdf).
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>

                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#businessMobile3" aria-expanded="true"
                          aria-controls="businessMobile3" [class.showDiv]="selectedBusiness === 3"
                          (click)="setActiveBusiness(3, 'setActiveBusiness3')" id="setActiveBusiness3">
                          <div class="makeIconCntr">
                            <div class="vr-applicationForm requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Photograph</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="businessMobile3" class="collapse" aria-labelledby="headingMobile3"
                          data-parent="#businessAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Photograph
                              </h1>
                              <p>
                                2 recent color 4*6cm photograph must be submitted. This must be taken on a white
                                background. A neutral expression must be maintained, and no sunglasses or caps must be
                                worn. One picture must be attached to the application, and the other must be submitted
                                upon arrival.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>


                    </ngb-tab>
                  </ngb-tabset>
                </div>

                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#businessMobile4" aria-expanded="true"
                          aria-controls="businessMobile4" [class.showDiv]="selectedBusiness === 4"
                          (click)="setActiveBusiness(4, 'setActiveBusiness4')" id="setActiveBusiness4">
                          <div class="makeIconCntr">
                            <div class="vr-authorization requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Authorization Document</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="businessMobile4" class="collapse" aria-labelledby="headingMobile4"
                          data-parent="#businessAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Authorization Document</h1>
                              <p>
                                this is handled by the Immigration Department (Ministry of Public Security) or the
                                Consular Department in Ho Chi Minh city (Ministry of Foreign Affairs).
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                      </ng-template>
                      <ng-template ngbTabContent>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                      </ng-template>
                      <ng-template ngbTabContent>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="Transit" title="Transit">
          <ng-template ngbTabContent>

            <div class="container-fluid wrapContainer" [@simpleFadeAnimation]="'in'">
              <div class="row">
                <div class="col-12 text-center mgxTop">
                  <h1 class="outerRequirement"><span class="requirementContainer text-uppercase">TRANSIT
                      VISA REQUIREMENT FOR
                      Vietnam</span>
                  </h1>
                </div>
              </div>

              <div class="desktopContainer accordion" id="transitAccodion">
                <div class="row mt-2">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#transit1" aria-expanded="true"
                          aria-controls="transit1" [class.showDiv]="selectedTransit === 1"
                          (click)="setActiveTransit(1, 'setActiveTransit1')" id="setActiveTransit1">
                          <div class="makeIconCntr">
                            <div class="vr-passport requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Passport</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="transit1" class="collapse" [ngStyle]="{
                          'display': showTransitFirst ? 'block' : '',
                          'opacity': showTransitFirst ? '1' : '',
                          'visibility': showTransitFirst ? 'visible' : '',
                          'transition': showTransitFirst ? 'all .35s ease-in-out' : ''
                          }"  aria-labelledby="transit1"
                          data-parent="#transitAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Passport</h1>
                              <p>You must hold a passport valid for at least 6 months after your intended date of travel.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#transit2" aria-expanded="true"
                          aria-controls="transit2" [class.showDiv]="selectedTransit === 2"
                          (click)="setActiveTransit(2, 'setActiveTransit2')" id="setActiveTransit2">
                          <div class="makeIconCntr">
                            <div class="vr-flightTicket requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Flight Tickets</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="transit2" class="collapse" aria-labelledby="transit2" data-parent="#transitAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Flight Tickets</h1>
                              <p>
                                Confirmed round-trip tickets must be shown upon application of the visa. Please note, a
                                return ticket is mandatory.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#transit3" aria-expanded="true"
                          aria-controls="transit3" [class.showDiv]="selectedTransit === 3"
                          (click)="setActiveTransit(3, 'setActiveTransit3')" id="setActiveTransit3">
                          <div class="makeIconCntr">
                            <div class="vr-visa requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Visa For Final Destination</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="transit3" class="collapse" aria-labelledby="transit3"
                          data-parent="#transitAccodion">
                          <div class="card requiredIcon">
                            <div class="card-body">
                              <h1 class="requiredIconHeading">Visa For Final Destination</h1>
                              <p>Any visa for your final destination (the country you will be landing in after transit)
                                may be asked for.</p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>

              <div class="mobileContainer accordion wrapContainer" id="transitAccodionMobile">
                <div class="row">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>

                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#transitMobile1" aria-expanded="true"
                          aria-controls="transitMobile1" [class.showDiv]="selectedTransit === 1"
                          (click)="setActiveTransit(1, 'setActiveTransit1')" id="setActiveTransit1">
                          <div class="makeIconCntr">
                            <div class="vr-passport requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Passport</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="transitMobile1" class="collapse" [ngStyle]="{
                          'display': showTransitMobileFirst ? 'block' : '',
                          'opacity': showTransitMobileFirst ? '1' : '',
                          'visibility': showTransitMobileFirst ? 'visible' : '',
                          'transition': showTransitMobileFirst ? 'all .35s ease-in-out' : ''
                          }"  aria-labelledby="transitMobile1"
                          data-parent="#transitAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Passport</h1>
                              <p>You must hold a passport valid for at least 6 months after your intended date of travel.
                              </p>

                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>

                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#transitMobile2" aria-expanded="true"
                          aria-controls="transitMobile2" [class.showDiv]="selectedTransit === 2"
                          (click)="setActiveTransit(2, 'setActiveTransit2')" id="setActiveTransit2">
                          <div class="makeIconCntr">
                            <div class="vr-flightTicket requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Flight Tickets</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="transitMobile2" class="collapse" aria-labelledby="transitMobile2"
                          data-parent="#transitAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Flight Tickets</h1>
                              <p>
                                Confirmed round-trip tickets must be shown upon application of the visa. Please note, a
                                return ticket is mandatory.
                              </p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>

                <div class="row mt-4">
                  <ngb-tabset [justify]="desktopJustify" [orientation]="desktopOrientation" class="iconTabset"
                    type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <div data-toggle="collapse" data-target="#transitMobile3" aria-expanded="true"
                          aria-controls="transitMobile3" [class.showDiv]="selectedTransit === 3"
                          (click)="setActiveTransit(3, 'setActiveTransit3')" id="setActiveTransit3">
                          <div class="makeIconCntr">
                            <div class="vr-visa requiredIcons img-sprite"></div>
                          </div>
                          <h2 class="setFontSize">Visa For Final Destination</h2>
                        </div>
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div id="transitMobile3" class="collapse" aria-labelledby="transitMobile3"
                          data-parent="#transitAccodionMobile">
                          <div class="card requiredIcon">
                            <div class="card-body" style="padding: 10px">
                              <h1 class="requiredIconHeading">Visa For Final Destination</h1>
                              <p>Any visa for your final destination (the country you will be landing in after transit)
                                may be asked for.</p>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div> -->
  </div>
</section>

<div class="photo-spec">
  <div
    class="modal fade"
    id="samplePassportFront"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img
            src="https://static.visa2fly.com/sample/passport/PASSPORT_FRONT.jpg"
            alt="vietnam visa online"
            class="img-fluid feedImage"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="samplePassportBack"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img
            src="https://static.visa2fly.com/sample/passport/PASSPORT_BACK.jpg"
            alt="vietnam visa online"
            class="img-fluid feedImage"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="samplePhotograph"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img
            src="https://static.visa2fly.com/sample/photograph/{{
              selectedCountrytype
            }}.jpg"
            alt="vietnam visa online"
            class="img-fluid feedImage"
          />
        </div>
      </div>
    </div>
  </div>
</div>
