<section id="faq">
  <div
    class="container-fluid wrapContainer"
    style="position: relative"
    #ElementRefName
  >
    <div class="row">
      <div class="col-12 text-center">
        <h1>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h1>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="georgiaAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#georgiaAccordion1"
              aria-expanded="true"
              aria-controls="georgiaAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What are the types of Georgia visa?
                </button>
              </h5>
            </div>

            <div
              id="georgiaAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#georgiaAccordion"
            >
              <div class="card-body">
                <p>
                  Georgia has a short-term, long-term and transit visa facility. Tourist and business visas com under the short-term category. 

                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#georgiaAccordion2"
              aria-expanded="false"
              aria-controls="georgiaAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I want to extend/cancel my visa application, who do I contact?

                </button>
              </h5>
            </div>
            <div
              id="georgiaAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#georgiaAccordion"
            >
              <div class="card-body">
                <p>
                  You will need to contact the travel agency that helped you obtain the visa. We also undertake visa processing services, so if you would like to obtain a Georgia visa, we can help you do so. If you have applied on your own, you will need to contact the Indian Embassy. The Ministry of Foreign Affairs of Georgia/Embassy of Georgia in India are responsible for the creation, deletion and extension of legal Georgia visas. Extension of visa in Georgia is not possible. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#georgiaAccordion3"
              aria-expanded="false"
              aria-controls="georgiaAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How do I obtain a multiple-entry visa?
                </button>
              </h5>
            </div>
            <div
              id="georgiaAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#georgiaAccordion"
            >
              <div class="card-body">
                <p>
                  There are some conditions to be fulfilled for this. You must have already visited Georgia on a short-term single entry visa in the past year. There should also be valid grounds for this request - this is at the discretion of the Ministry of Foregin Affairs of Georgia. 
                  This multiple-entry visa would be valid for 5 years, the period of stay should not exceed 90 days in a 180-day window. 
                  
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#georgiaAccordion4"
              aria-expanded="false"
              aria-controls="georgiaAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  In what currency should my visa fees be paid, is it refundable?

                </button>
              </h5>
            </div>
            <div
              id="georgiaAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#georgiaAccordion"
            >
              <div class="card-body">
                <p>
                  It will be paid in INR, conversion rates are already accounted for. The visa fees are non-refundable. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#georgiaAccordion5"
              aria-expanded="false"
              aria-controls="georgiaAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My child is a minor and is the one who is travelling. Who needs to sign on the application form?

                </button>
              </h5>
            </div>
            <div
              id="georgiaAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#georgiaAccordion"
            >
              <div class="card-body">
                <p>
                  Both the legal guardian, as well as the minor who is applying for the visa must sign. You must also create an NOC (No Objection Certificate) that shows that you do not object to sending your minor by themselves. 
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#georgiaAccordion6"
                aria-expanded="false"
                aria-controls="georgiaAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    My child is a citizen of Georgia, but I am not. Do I need any special documents?
                  </button>
                </h5>
              </div>
              <div
                id="georgiaAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#georgiaAccordion"
              >
                <div class="card-body">
                  <p>
                    You will need a document to display proof of custodianship/guardianship. This could be a birth certificate (if biological parent), or any other legal document that shows the same. 

                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#georgiaAccordion7"
                aria-expanded="false"
                aria-controls="georgiaAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Are these all the documents necessary?
                  </button>
                </h5>
              </div>

              <div
                id="georgiaAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#georgiaAccordion"
              >
                <div class="card-body">
                  <p>
                    In most cases, these are the only documents asked for. However, the Embassy reserves the right to ask for more documents or change this requirement, so it is dependent on each individual applicant and their unique case/circumstance. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#georgiaAccordion8"
                aria-expanded="false"
                aria-controls="georgiaAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Is a transit visa also called a short-term visa/ does it come under this category?

                  </button>
                </h5>
              </div>

              <div
                id="georgiaAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#georgiaAccordion"
              >
                <div class="card-body">
                  <p>
                    A transit visa is a separate category by itself. Short-term visas and transit visas are different, short-term visas include business and tourist visas. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
        <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
              {{loadText}}
            </button> -->
      </div>
    </div>
  </div>
</section>
