
:host ::ng-deep .tabset a.nav-link {
    background: #fff;
    color: #000;
    border: 1px solid #000080;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    font-weight: 700;
    padding: 3px;
  }
  
  .showDiv {
    background: rgba(0, 28, 105, 0.5) !important;
  }
  
  :host ::ng-deep .tabset .nav-pills {
    margin-left: 370px;
    margin-right: 370px;
  }
  
  :host ::ng-deep .tabset a.nav-link.active {
    background: #000080;
    color: #fff;
  }
  
  :host ::ng-deep .iconTabset a.nav-link {
    /* background: #fff; */
    /* color: #000; */
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    /* max-width: 295px; */
  }
  
  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    background: rgba(0, 37, 131, 0.2);
    color: #000;
    /* border: 1px solid #000080; */
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    height: 120px;
    padding: 20px !important;
    border: none;
    /* max-width: 295px !important; */
    font-weight: 700;
  }
  
  :host ::ng-deep .iconTabset .nav-pills {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  :host ::ng-deep .iconTabset a.nav-link.active {
    /* background: #a49cb2; */
    background: none;
    color: #000;
  }
  
  .bannerImage {
    height: 370px;
    width: 100%;
  }
  
  .mgxTop {
    margin-top: 10px;
  }
  
  .setFontSize {
    font-size: 16px;
  }
  
  .setPadding {
    font-weight: 600;  padding-right: 0px;
  } 
  
  .requiredIconHeading {
    font-size: 16px;
    font-weight: 600;;
    color: #000080;
  }
  
  .submitBtn {
    background: #000080 !important;
  border-radius: 20px !important;
  color: #fff !important;
  padding: 4px 10px !important;
  }
  
  p, li {
    font-size: 14px;
  }

  
  .btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
  .btn--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
  }
  .btn--primary:hover {
    background: #6c7ff2;
  }
  .btn--primary:active {
    background: #7f8ff4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }
  .btn--inside {
    margin-left: -96px;
  }
  
  .form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
  }
  
  
  .planCardBody {
  font-size: 14px;
    padding: 10px 22px;
  }
  
  .faqQuery {
    /* background: #0000bb; */
    /* border-radius: 10px; */
    background-color: rgba(0,0,0,.03);
    /* border-bottom: 1px solid rgba(0,0,0,.125); */
    /* color: #0000bb !important;   */
    text-decoration: none !important;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .visaTypeButton {
    background: #000080;
    /* border-radius: 10px; */
    color: #fff !important;  
    text-decoration: none !important;
    border-radius: 10px;
    padding: 5px !important;
  }
  
  .faqQueryCard {
    border-radius: 10px !important;
  }
  
  .visaTypeHeader {
    border-radius: 10px !important;
  }
  
  .accordion>.card:not(:first-of-type) .card-header:first-child {
    border-radius: 10px;
  }
  
  .faqQuery button {
    font-weight: 500;
    font-size: 16px;
    color: #0000bb !important;  
    text-decoration: none !important;
  }
  
  .visaTypeButton button {
    font-weight: 650;
    font-size: 16px;
    color: #fff !important;  
    text-decoration: none !important;
  }
  
  .mobileView, .mobileContainer {
    display: none;
  }
  
  .desktopView, .desktopContainer {
    display: block;
  }
  
  .planCardRow {
    padding: 4px 0px;
  }
  
  select {
    background: none;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0px;
    font-size: 16px !important;
  }
  
  select:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .visaFilter {
    padding: 0px 8px;
    height: 25px !important;
  }
  
  .requiredIcon {
    border-radius: 0px;
    margin-top: 4px;
    background: #918b9c;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .setHeight {
    height: 130px;
  }
  
  .wrapContainer {
    padding: 10px 40px 10px;
  }
  
  .imageContainer {
    padding: 80px 40px 10px;
  }
  
  .visaStep {
    background: #f5f5f5;
    padding: 12px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  .visaStepHeading {
    font-size: 16px;
  }
  .planCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  /* .planCardItem { */
    /* padding: 3px 0px; */
  /* } */
  
  .requirementContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 700;
    font-size: 20px;
  }
  
  .faqContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .iconSection {
    border: 5px solid #e2e2e2;
    padding: 35px 20px 20px;
  }
  
  @media screen and (min-width: 801px) and (max-width: 1024px) {
    .imageContainer {
      padding: 90px 30px 10px;
    }
  
    .mgTop {
      margin-top: 10px;
    }
  
  :host ::ng-deep .tabset .nav-pills {
    margin-left: 150px;
    margin-right: 150px;
  }
  
  :host ::ng-deep .iconTabset .nav-pills {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  :host ::ng-deep .iconTabset a.nav-link {
    max-width: 220px !important;
  }
  
  :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
    background: rgba(0, 37, 131, 0.2);
    color: #000;
    /* border: 1px solid #000080; */
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    height: 120px;
    padding: 20px !important;
    border: none;
    /* max-width: 340px !important; */
    font-weight: 700;
  }
  
  .requirementContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 700;
    font-size: 20px;
  }
  
    .visaStepContainer {
      margin-top: 20px;
    }
  
    .mobileView {
      display: block;
    }
  
    .desktopView {
      display: none;
    }
  }
  
  
  @media screen and (min-width: 768px) and (max-width: 800px) {
  
    :host ::ng-deep .tabset .nav-pills {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
    
    :host ::ng-deep .iconTabset .nav-pills {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    
    :host ::ng-deep .iconTabset a.nav-link {
      max-width: 165px !important;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 120px;
      padding: 20px !important;
      border: none;
      max-width: 165px !important;
      font-weight: 700;
    }
  
    .setFontSize {
      font-size: 15px;
    }
  
    .visaStepContainer {
      margin-top: 20px;
    }
    
  }
  
  @media screen and (min-width: 481px) and (max-width: 500px) {
    .imageContainer {
      padding: 120px 10px 10px;
    }
  
  
    .outerRequirement {
      margin-top: 10px;
      line-height: 20px;
    }
  
    :host ::ng-deep .tabset a.nav-link {
      background: #fff;
      color: #000;
      border: 1px solid #000080;
      margin-left: 2px;
      margin-right: 2px;
      font-size: 14px !important;
      border-radius: 20px;
      padding: 2px 5px;
      font-weight: 700;
    }
    
    :host ::ng-deep .tabset .nav-pills {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  
  
    :host ::ng-deep .iconTabset a.nav-link {
      /* background: #fff; */
      /* color: #000; */
      border: none;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      font-weight: 700;
      padding: 0px;
      width: 155px;
      max-width: 216px;
    }
  
    .bannerImage {
      height: 230px;
    }
  
    .visaStepMainPoint {
      font-size: 16px;
    }
    
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 120px;
      padding: 20px !important;
      border: none;
      max-width: 340px !important;
      font-weight: 700;
    }
    
    :host ::ng-deep .iconTabset .nav-pills {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    
    :host ::ng-deep .iconTabset a.nav-link.active {
      /* background: #a49cb2; */
      background: none;
    }
    
  
  
    .faqQuery button {
      font-weight: 500;
      font-size: 14px;
      color: #0000bb !important;  
      text-decoration: none !important;
    }
  
    .visaStepContainer {
      margin-top: 20px;
    }
  
    .mobileView {
      display: block;
    }
  
    .desktopView {
      display: none;
    }
  }
  
  @media screen and (min-width: 501px) and (max-width: 767px) {
    .imageContainer {
      padding: 120px 10px 10px;
    }
  
  
    .outerRequirement {
      margin-top: 10px;
      line-height: 20px;
    }
  
    :host ::ng-deep .tabset a.nav-link {
      background: #fff;
      color: #000;
      border: 1px solid #000080;
      margin-left: 2px;
      margin-right: 2px;
      font-size: 14px !important;
      border-radius: 20px;
      padding: 2px 5px;
      font-weight: 700;
    }
    
    :host ::ng-deep .tabset .nav-pills {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  
  
    :host ::ng-deep .iconTabset a.nav-link {
      /* background: #fff; */
      /* color: #000; */
      border: none;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      font-weight: 700;
      padding: 0px;
      width: 216px;
      max-width: 216px;
    }
  
    .bannerImage {
      height: 230px;
    }
  
    .visaStepMainPoint {
      font-size: 16px;
    }
    
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 120px;
      padding: 20px !important;
      border: none;
      max-width: 340px !important;
      font-weight: 700;
    }
    
    :host ::ng-deep .iconTabset .nav-pills {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    
    :host ::ng-deep .iconTabset a.nav-link.active {
      /* background: #a49cb2; */
      background: none;
    }
    
  
  
    .faqQuery button {
      font-weight: 500;
      font-size: 14px;
      color: #0000bb !important;  
      text-decoration: none !important;
    }
  
    .visaStepContainer {
      margin-top: 20px;
    }
  
    .mobileView {
      display: block;
    }
  
    .desktopView {
      display: none;
    }
  }
  
  
  @media screen and (min-width: 360px) and (max-width: 480px) {
    .imageContainer {
      padding: 120px 10px 10px;
    }
  
    .setPadding {
      font-weight: 600;  padding: 0px;
    } 
  
    .setFontSize {
      font-size: 13px;
    }
  
    .impRequired {
      padding: 0px;
    }
  
    .iconSection {
      border: 5px solid #e2e2e2; padding: 20px 0px !important;
    }
    
  
    :host ::ng-deep .tabset a.nav-link {
      background: #fff;
      color: #000;
      border: 1px solid #000080;
      margin-left: 2px !important;
      margin-right: 2px !important;
      border-radius: 20px;
      padding: 2px 5px;
     font-size: 14px !important;
      font-weight: 700;
    }
    
    :host ::ng-deep .tabset .nav-pills {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  
  
  
    :host ::ng-deep .iconTabset a.nav-link {
      /* background: #fff; */
      /* color: #000; */
      border: none;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      font-weight: 700;
      padding: 0px;
      width: 210px;
      max-width: 216px;
    }
    
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 100px !important;
      padding: 10px !important;
      border: none;
      max-width: 340px !important;
      font-weight: 700;
    }
  
  
    
    :host ::ng-deep .iconTabset .nav-pills {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    
    :host ::ng-deep .iconTabset a.nav-link.active {
      /* background: #a49cb2; */
      background: none;
    }
      
  
    .planCardBody {
      padding: 10px 15px;
    }
  
    .desktopContainer {
      display: none;
    }
  
    .faqQuery button {
      font-weight: 500;
      font-size: 14px;
      color: #0000bb !important;  
      text-decoration: none !important;
    }
  
    .requirementContainer {
      color: #000;
      border-bottom: 2px solid navy;
      font-weight: 700;
      font-size: 16px;
    }
  
    .mat-form-field-infix {
      width: 100px !important;
    }
  
  
    .outerRequirement {
      line-height: 20px;
      margin-top: 10px;
    }
    
    .faqContainer {
      color: #000;
      border-bottom: 2px solid navy;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .mobileContainer {
      display: block;
    }
  
    .bannerImage {
      height: 200px;
      width: 100%;
    }
  
    .visaStepContainer {
      margin-top: 20px;
    }
  
    .mobileView {
      display: block;
    }
  
    .desktopView {
      display: none;
    }
  
    .visaStep {
      background: #f5f5f5;
      padding: 12px 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }
  
    .txtCenter {
      text-align: center;
      padding: 0px;
    }
  
    .visaStep {
      font-size: 8px;
      margin-bottom: 7px;
    }
  
    .visaStepPoints {
      font-size: 8px;
      margin-bottom: 7px;
    }
  
    .visaStepMainPoint {
      font-size: 10px;
      margin-bottom: 5px;
    }
  
    .diffMg {
      margin-top: 4px;
    }
  
    .diffMg2 {
      margin-top: 8px;
    }
  
    .wrapContainer {
      padding: 10px 15px 10px;
    }
  
    .visaStepHeading {
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 359px) {
    .imageContainer {
      padding: 120px 10px 10px;
    }
  
    .setWidth {
      width: 148px !important;
  }
  
    .setPadding {
      font-weight: 600;  padding: 0px;
    } 
  
    .setFontSize {
      font-size: 13px;
    }
  
    .iconSection {
      border: 5px solid #e2e2e2; padding: 20px 0px !important;
    }
    
  
    .visaStepHeading {
      font-size: 14px;
    }
  
    :host ::ng-deep .tabset a.nav-link {
      background: #fff;
      color: #000;
      border: 1px solid #000080;
      margin-left: 2px;
      margin-right: 2px;
      font-size: 14px !important;
      border-radius: 20px;
      padding: 2px 5px;
      font-weight: 700;
    }
    
    :host ::ng-deep .tabset .nav-pills {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  
    :host ::ng-deep .iconTabset a.nav-link {
      background: none;
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      height: 100px !important;
      padding: 10px !important;
      border: none;
      font-weight: 700;
    }
  
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      height: 100px !important;
      padding: 10px !important;
      border: none;
      font-weight: 700;
    }
    
    :host ::ng-deep .iconTabset .nav-pills {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    
    :host ::ng-deep .iconTabset a.nav-link.active {
      /* background: #a49cb2; */
      background: none;
    }
      
  
    .planCardBody {
      padding: 10px 15px;
    }
  
    .requirementContainer {
      color: #000;
      border-bottom: 2px solid navy;
      font-weight: 700;
      font-size: 14px;
    }
  
    .mat-form-field-infix {
      width: 100px !important;
    }
  
  
    .outerRequirement {
      margin-top: 10px;
      line-height: 20px;
    }
    
    .faqContainer {
      color: #000;
      border-bottom: 2px solid navy;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 20px;
    }
  
  
    .visaStepContainer {
      margin-top: 20px;
    }
  
   
    .mobileView {
      display: block;
    }
  
    .desktopView {
      display: none;
    }
  
    .visaStep {
      background: #f5f5f5;
      padding: 12px 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }
  
    .visaStepPoints {
      font-size: 8px;
      margin-bottom: 7px;
    }
  
    .visaStepMainPoint {
      font-size: 10px;
      margin-bottom: 5px;
    }
  
    .diffMg {
      margin-top: 4px;
    }
  
    .diffMg2 {
      margin-top: 8px;
    }
  
    .txtCenter {
      text-align: center;
      padding: 0px;
    }
  
    .impRequired {
      padding: 0px;
    }
  
  
    .wrapContainer {
      padding: 10px 15px 10px;
    }
  }
  
  @media screen and (min-width: 461px) and (max-width: 480px) { 
    :host ::ng-deep .iconTabset a.nav-link {
      background: none;
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      height: 100px;
      /* padding: 10px; */
      border: none;
      width: 193px !important;
      font-weight: 700;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted{
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      height: 115px;
      padding: 10px;
      border: none;
      width: 193px !important;
      font-weight: 700;
    }
  
  }
  
  
  @media screen and (min-width: 421px) and (max-width: 460px) { 
    :host ::ng-deep .iconTabset a.nav-link {
      background: none;
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      height: 115px;
      padding: 10px;
      border: none;
      width: 170px !important;
      font-weight: 700;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted{
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      height: 115px;
      padding: 10px;
      border: none;
      width: 170px !important;
      font-weight: 700;
    }
  
  }
  
  @media screen and (min-width: 393px) and (max-width: 420px) { 
    :host ::ng-deep .iconTabset a.nav-link {
      background: none;
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      /* height: 115px; */
      /* padding: 10px; */
      border: none;
      width: 165px !important;
      font-weight: 700;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted{
      background: rgba(0, 37, 131, 0.2);
    }
  
  }
  
  @media screen and (min-width: 380px) and (max-width: 392px) { 
    :host ::ng-deep .iconTabset a.nav-link {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      height: 115px;
      padding: 10px;
      border: none;
      width: 149px !important;
      font-weight: 700;
    }
  
  }
  
  @media screen and (min-width: 361px) and (max-width: 379px) { 
    :host ::ng-deep .iconTabset a.nav-link {
      background: none;
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      /* height: 140px; */
      padding: 0px !important;
      border: none;
      width: 145px !important;
      font-weight: 700;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 140px;
      padding: 20px;
      border: none;
      width: 145px !important;
      font-weight: 700;
    }
    
  }
  
  @media screen and (min-width: 351px) and (max-width: 360px) { 
    :host ::ng-deep .iconTabset a.nav-link {
      background: none;
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      /* height: 140px; */
      padding: 0px !important;
      width: 140px !important;
      border: none;
      font-weight: 700;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 100px;
      padding: 10px !important;
      width: 140px !important;
      border: none;
      font-weight: 700;
    }
    
  }
  
  @media screen and (min-width: 320px) and (max-width: 350px) { 
    :host ::ng-deep .iconTabset a.nav-link {
      background: none;
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      /* height: 140px; */
      padding: 0px !important;
      border: none;
      width: 120px !important;
      font-weight: 700;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 100px;
      padding: 10px !important;
      border: none;
      width: 120px !important;
      font-weight: 700;
    }
  
    
    
  
  }
  
  
  
  
  @media screen and (max-width: 600px) {
    .mobileView, .mobileContainer {
      display: block;
    }
    
    .desktopView, .desktopContainer {
      display: none;
    }
  
    .diffMg {
      margin-top: 4px;
    }
  
    .diffMg2 {
      margin-top: 8px;
    }
  
    .requirementContainer {
      color: #000;
      border-bottom: 2px solid navy;
      font-weight: 700;
      font-size: 14px;
    }
    
    .faqContainer {
      color: #000;
      border-bottom: 2px solid navy;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 20px;
    }
  
   
  }
  
  @media screen and (min-width: 1600px) {
   
    :host ::ng-deep .iconTabset a.nav-link {
      background: none;
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 0px;
      height: 120px;
      padding: 0px !important;
      border: none;
      /* max-width: 456px !important; */
      font-weight: 700;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      background: rgba(0, 37, 131, 0.2);
      color: #000;
      /* border: 1px solid #000080; */
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 120px;
      padding: 20px;
      border: none;
      /* max-width: 456px !important; */
      font-weight: 700;
    }
  
  }
  
  @media screen and (min-width: 1801px) {
  
    :host ::ng-deep .iconTabset .tab-pane {
      width: 1660px;
    }
  }
  
  
  @media screen and (min-width: 1701px) and (max-width: 1800px) {
  
    :host ::ng-deep .iconTabset .tab-pane {
      width: 1550px;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      max-width: 382px !important;
    }
  }
  
  @media screen and (min-width: 1601px) and (max-width: 1700px) {
  
    :host ::ng-deep .iconTabset .tab-pane {
      width: 1480px !important;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      max-width: 350px !important;
    }
  }
  
  @media screen and (max-width: 1600px) and (min-width: 1501px) {
  
    :host ::ng-deep .iconTabset .tab-pane {
      width: 1375px !important;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      max-width: 335px !important;
    }
  }
  
  @media screen and (max-width: 1500px) and (min-width: 1401px) {
  
    :host ::ng-deep .iconTabset .tab-pane {
      width: 1287px !important;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      max-width: 310px !important;
    }
  }
  
  @media screen and (max-width: 1400px) and (min-width: 1301px) {
    :host ::ng-deep .iconTabset .tab-pane {
      width: 1215px !important;
    }
  
    :host ::ng-deep .iconTabset a.nav-link .ng-star-inserted {
      max-width: 295px !important;
    }
  }
  
  @media screen and (max-width: 1300px) and (min-width: 1225px) {
    :host ::ng-deep .iconTabset .tab-pane {
      width: 1090px !important;
    }
  }
  
  @media screen and (width: 768px) {
    :host ::ng-deep .iconTabset .tab-pane {
      width: 633px !important;
    }
  }
  
  @media screen and (max-width: 767px) {
   .txtCenter {
     text-align: center !important;
   }
  }
  
  
  @media screen and (width: 800px) {
    :host ::ng-deep .iconTabset .tab-pane {
      width: 667px !important;
    }
  }
  
  @media screen and (width: 1024px) {
    :host ::ng-deep .iconTabset .tab-pane {
      width: 882px !important;
    }
  }
  
  @media screen and (width: 320px) {
    .bannerImage {
      height: 180px;
    }
  }