.testimonial .container{
    padding-top: 50px;
    padding-bottom: 20px;
}

.testimonialHeading {
    font-size: 22px;
    font-weight: 600;
}

.testimonial-bg {
    background-image: url(../../../assets/testimonial.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 40px;
    width: 80px;
    height: 80px;
    background: url(../../../assets/left-quote.png);
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
    background-size: cover;
}

.card::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 80px;
    height: 80px;
    background: url(../../../assets/left-quote.png);
    opacity: 0.05;
    pointer-events: none;
    transition: 0.5s;
    background-size: cover;
}

.card:hover::before,
.card:hover::after {
    opacity: 1;
    transform: translateY(-60px);
}