<section class="insurance-banner"></section>
<section class="insurance_application">
  <div class="insurance_application-header_box text-center">
    <h2 class="insurance_application-heading">Insurance Application Form</h2>
  </div>

  <div class="container insurance_application-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 insurance_application-subheader_box">
        <h5 class="insurance_application-subheading">Policy Details :</h5>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="TravelPurpuse" class="insurance-label">Travel Purpuse</label>
          <select name="" id="TravelPurpuse" class="insurance-select form-control">
            <option value="">-- Select --</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="NumberOfTravelers" class="insurance-label">Number Of Travelers</label>
          <select name="" id="" class="insurance-select form-control">
            <option value="">-- Select --</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="TripPeriod" class="insurance-label">Trip Period</label>
          <select name="" id="TripPeriod" class="insurance-select form-control">
            <option value="">-- Select --</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="SelectPlan" class="insurance-label">Select Plan</label>
          <select name="" id="SelectPlan" class="insurance-select form-control">
            <option value="">-- Select --</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 insurance_application-subheader_box">
        <h5 class="insurance_application-subheading">Customer Details :</h5>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="firstName" class="insurance-label">First Name</label>
          <input type="text" id="firstName" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="middleName" class="insurance-label">Middle Name</label>
          <input type="text" id="middleName" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="dateOfBirth" class="insurance-label">Date Of Birth</label>
          <input type="text" id="dateOfBirth" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="gender" class="insurance-label">Gender</label>
          <input type="text" id="gender" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="nationality" class="insurance-label">Nationality</label>
          <input type="text" id="nationality" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="residenceProof" class="insurance-label">Residence Proof</label>
          <input type="text" id="residenceProof" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="relation" class="insurance-label">Relation</label>
          <input type="text" id="relation" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="role" class="insurance-label">Role</label>
          <input type="text" id="role" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="contactNo" class="insurance-label">Contact No.</label>
          <input type="text" id="contactNo" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="emailAddress" class="insurance-label">Email Address</label>
          <input type="text" id="emailAddress" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="identityNumber" class="insurance-label">Identity Number</label>
          <input type="text" id="identityNumber" class="form-control insurance-input">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="identityType" class="insurance-label">Identity Type</label>
          <input type="text" id="identityType" class="form-control insurance-input">
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 insurance_application-subheader_box">
        <h5 class="insurance_application-subheading">Address Details :</h5>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="line1" class="insurance-label">Line 1</label>
          <input type="text" id="line1" class="insurance-input form-control">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="line2" class="insurance-label">Line 2</label>
          <input type="text" id="line2" class="insurance-input form-control"></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="addressType" class="insurance-label">Address Type</label>
          <input type="text" id="addressType" class="insurance-input form-control"></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="area" class="insurance-label">Area</label>
          <input type="text" id="area" class="insurance-input form-control"></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="city" class="insurance-label">City</label>
          <input type="text" id="city" class="insurance-input form-control"></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="pinCode" class="insurance-label">Pin Code</label>
          <input type="text" id="pinCode" class="insurance-input form-control"></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="state" class="insurance-label">State</label>
          <input type="text" id="state" class="insurance-input form-control"></div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 insurance-box">
        <div class="insurance-input_box">
          <label for="country" class="insurance-label">Country</label>
          <input type="text" id="country" class="insurance-input form-control"></div>
      </div>
    </div>
  </div>
</section>
