.insurance-banner {
  background-image: url(../../../../assets/kjbhvbhj.png);
  background-position: center;
  background-size: cover;
  height: 350px;
  margin-top: 50px;
}

.insurance_application {
  background-color: #f4f8fb;
}

.insurance_application-header_box {
  background-color: #d8cedd;
  padding: 10px 0px;
}

.insurance_application-heading {
  color: #713592;
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}

.insurance_application-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.insurance_application-subheading {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
  color: #130654;
}

.insurance-input_box {
  margin-bottom: 8px;
}

.insurance-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #130654;
}

.insurance-input,
.insurance-select {
  /* border-color: #9c9c9c; */
  font-size: 14px;
  height: 32px;
}

.astrisk {
  color: red;
}

.titleSelect {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.insurance-input:focus,
.insurance-select:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .insurance-banner {
    background-image: url(../../../../assets/insurance-banner-mobile.png);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin-top: 105px;
  }

  .insurance-box,
  .insurance_application-subheader_box {
    padding: 0 10px;
  }

  .policyDetailForm .insurance-box .insurance-input_box.right {
    justify-content: flex-start !important;
  }

  .policyDetailForm .insurance-box .insurance-input_box.right .insurance-label {
    width: 50% !important;
  }
  
}

.main__card-heading {
  background: #000080;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.main__card-heading .btn,
.main__card-heading .btn:disabled,
.valueAddServices h5 {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  opacity: 1;
}

.main__card-heading .btn,
.main__card-heading .btn:disabled {
  color: #fff;
}

.main__card-heading .main__card-heading-form_statue {
  margin-right: auto;
  display: flex;
}

.proceedBtn {
  background-color: navy;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.addInsurerBtn {
  display: flex;
  align-items: center;
  border-radius: 25px !important;
  padding: 4px 10px;
  background-color: #000080;
  font-weight: 600;
}

.addInsurerBtn svg {
  margin-right: 10px;
}

.calendar {
  border-color: #6c757d;
  color: #6c757d;
}

.calendar .calendarSvg {
  fill: currentColor;
}

.calendar:hover,
.calendar:focus {
  background-color: #6c757c;
  color: #fff;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px !important;
  }
}

.valueAddServices {
  margin-top: 20px;
}

.valueAddServices h5 {
  color: #000080;
}

.valueAddServices .wrapper-box {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.termsAndConditions .wrapper-box {
  padding: 10px 5px;
}

.valueAddServices .form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
} 

.valueAddServices .custom-control-label {
  position: static !important;
  margin-bottom: 0;
  vertical-align: top;
  font-size: 14px;
}

/* collapse */
.collapse {
  visibility: hidden;
}
.collapse.show {
  visibility: visible;
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}


.policyDetailForm .insurance-box .insurance-input_box {
  display: flex;
  align-items: center;
}

.policyDetailForm .insurance-box .insurance-input_box.right {
  justify-content: flex-end;
  margin-top: 7px;
}

.policyDetailForm .insurance-box .insurance-input_box.right .insurance-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #130654;
  margin-bottom: 0px;
}

.policyDetailForm .insurance-box .insurance-input_box .insurance-label {
  width: 30%;
  display: inline-block;
  letter-spacing: 0;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #130654;
}

.policyDetailForm .insurance-box .insurance-input_box .styleSelectPlan,
.policyDetailForm .insurance-box .insurance-input_box input {
  width: 60%;
  background: #eee;
  padding: 0px 8px;
  border-radius: 50px;
  border: none;
}

.policyDetailForm .insurance-box .insurance-input_box .styleSelectPlan select {
  background: transparent;
  display: inline-block;
  border: none;
  border-radius: 0px;
  padding: 0;
  font-weight: 600;
}