.page-not-found {
  background-color: #fefefe;
  padding-top: 30px;
  padding-bottom: 30px;
}

.goToHome {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.errorMsg {
position: absolute;
top: 50%;
left: -30%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%) rotate(30deg);
height: 165px;
width: 165px;
background-color: #fbb040;
border-radius: 10px;
z-index: -1;
padding: 10px;
box-shadow: 1px 1px 5px 3px #ccc;
}

.errorMsg p {
color: #fff;
font-weight: 600;
font-size: 18px;
text-transform: uppercase;
transform: rotate(-30deg);
margin-left: 10px;
margin-top: 10px;
}

.errorMsg::after {
content: " ";
position: absolute;
width: 0;
height: 0;
right: auto;

left: 0px;
bottom: -22px;
border: 16px solid;
border-color: #fbb040 transparent transparent #fbb040;
}

.goToHomeBtn {
position: absolute;
top: 20px;
left: 80%;
width: 125px;
margin-left: 35px;
margin-top: 12px;
}

.colorBg {
padding-left: 50px;
padding-right: 50px;
z-index: 1000;
background-color: rgba(19, 6, 84, 1);
font-weight: 600;
color: #fff !important;
display: block;
}


@media screen and (width: 768px) {

.goToHome {
  left: 30%;
}

.errorMsg {
  height: 140px;
  width: 140px;
}

.errorMsg p {
  font-size: 14px;
}
}

@media screen and (max-width: 767px) {
  .page-not-found {
      padding-top: 100px;
      padding-bottom: 30px;
    }

    .gogogo {
        height: 130px;
    }

    .errorMsg {
      height: 120px;
      width: 120px;
    }

    .errorMsg p {
      font-size: 14px;
      margin-top: 0px;
      margin-left: 7px;
    }

    .goToHomeBtn {
        font-size: 14px;
    }


.colorBg {
display: none;
}
}

