<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 mt-4 p-0">
      <div class="accordion" id="rwandaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#rwandaAccordion1"
            aria-expanded="true" aria-controls="rwandaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Do Rwanda provide visa on Arrival?
              </button>
            </h5>
          </div>

          <div id="rwandaAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>
                Yes, Rwanda provides visa on arrival from 1st January 2018.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#rwandaAccordion2"
            aria-expanded="false" aria-controls="rwandaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is the processing time for Rwanda tourist visa application? What is the validity of visa?
              </button>
            </h5>
          </div>
          <div id="rwandaAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>
                Rwanda application processing time for a tourist visa is 3 days. In case you application is getting
                delayed, there must be some issues. Check if you’ve got any mail or please contact the embassy. The
                validity for a Rwanda visa passport is of 6 months.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#rwandaAccordion3"
            aria-expanded="false" aria-controls="rwandaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is the validity of a Rwanda visa for Indians?
              </button>
            </h5>
          </div>
          <div id="rwandaAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>
                This visa is valid for up to 30 days. The validity and stay period for a tourist visa is only for 30
                Days as decided by the embassy.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#rwandaAccordion4"
            aria-expanded="false" aria-controls="rwandaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How much amount is needed to process Rwanda visa application?
              </button>
            </h5>
          </div>
          <div id="rwandaAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>
                To process Rwanda tourist visa application you need to pay $50. You can pay the fees by credit or debit
                card also net banking might be available.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#rwandaAccordion5"
            aria-expanded="true" aria-controls="rwandaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What is the processing time for a business visa?
              </button>
            </h5>
          </div>

          <div id="rwandaAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>Rwanda Business Visa will take 3 workdays. If it takes more than the scheduled date, you may contact
                the embassy and ask for the reason. The best way is to keep check on your email account for being
                updated.</p>

            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#rwandaAccordion6"
              aria-expanded="false" aria-controls="rwandaAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Which documents required for Rwanda Business visa ?
                </button>
              </h5>
            </div>

            <div id="rwandaAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  Following are the documents required for Rwanda business visa-
                </p>
                <li>Visa application (2)</li>
                <li>Photo (3)</li>
                <li>Passport (take along old passport too!)</li>
                <li>Yellow fever certificate</li>
                <li>Covering letter</li>
                <li>Business License</li>
                <li>Invitation letter from another company</li>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#rwandaAccordion7"
              aria-expanded="false" aria-controls="rwandaAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  How much does a Rwandan visa cost?
                </button>
              </h5>
            </div>

            <div id="rwandaAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  The visa fee is 50 USD. Visa fees may change by time so before you proceed please check on the
                  official
                  website for updated information or fees!
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#rwandaAccordion8"
              aria-expanded="false" aria-controls="rwandaAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Should I carry the old passport?
                </button>
              </h5>
            </div>

            <div id="rwandaAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  Yes, it is necessary to carry old passport as officials find it as an important document while
                  verification. So, to complete the current process, to fly for any conference in Rwanda you will need
                  the
                  copies and also the original of old passport.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#rwandaAccordion9"
              aria-expanded="true" aria-controls="rwandaAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What is a transit visa?
                </button>
              </h5>
            </div>

            <div id="rwandaAccordion9" class="collapse show" aria-labelledby="heading9" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  A transit visa is a permit for person who only needs to enter the border of the country, in order to
                  change the flights. However, this visa doesn’t allow the holder to leave the transit area of an
                  airport, even if it is for long hours.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#rwandaAccordion10"
              aria-expanded="false" aria-controls="rwandaAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the processing time for Rwandan transit visa?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion10" class="collapse" aria-labelledby="heading10" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  Rwanda transit Visa will take 3-4 workdays. If it takes more than the scheduled date, you may contact
                  the embassy and ask for the reason. The best way is to keep check on your email account for being
                  updated.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#rwandaAccordion11"
              aria-expanded="false" aria-controls="rwandaAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the validity of Rwanda Transit visa?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion11" class="collapse" aria-labelledby="heading11" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  The Rwandan Authorities allows a transit visa only for 72 hours.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#rwandaAccordion12"
              aria-expanded="false" aria-controls="rwandaAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I extend or am I allowed to extend my transit visa?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion12" class="collapse" aria-labelledby="heading12" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  No, you can’t extend your visa. Visa extension can only be allowed in severe or exceptional cases. The
                  rules are decided by the Rwandan officials, if cases is exceptional you might get an extended visa.
                </p>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
  </div>
</div>
