<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 mt-4 p-0">
      <div class="accordion" id="rwandaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#rwandaAccordion1"
            aria-expanded="true" aria-controls="rwandaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Am I eligible for a visa on-arrival to Rwanda?
              </button>
            </h5>
          </div>

          <div id="rwandaAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>
                All nationals of African Union, CommonWealth (India is a Commonwealth country)  and La Francophonie countries can avail a visa on arrival. If this includes you, you are eligible.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#rwandaAccordion2"
            aria-expanded="false" aria-controls="rwandaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I work on this visa?
              </button>
            </h5>
          </div>
          <div id="rwandaAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>
                You will not be permitted to take on paid/unpaid work on this visa. Please note that failure to abide by these rules may cause deportation.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#rwandaAccordion3"
            aria-expanded="false" aria-controls="rwandaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is the validity of a visa on arrival for Rwanda?
              </button>
            </h5>
          </div>
          <div id="rwandaAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>
                For Indian citizens, the visa on arrival is valid for 30 days from the date of entry. This means that you will have to leave Rwanda within 30 days from entering.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#rwandaAccordion4"
            aria-expanded="false" aria-controls="rwandaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is this visa on arrival only applicable through air travel?
              </button>
            </h5>
          </div>
          <div id="rwandaAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>
                Those who are applicable for a Rwanda visa on arrival can obtain it from air, sea or road ports. This means that even if you are coming on a cruise ship or by road through another country, you can still obtain it.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#rwandaAccordion5"
            aria-expanded="true" aria-controls="rwandaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                When was this visa on-arrival established?
              </button>
            </h5>
          </div>

          <div id="rwandaAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#rwandaAccordion">
            <div class="card-body">
              <p>Citizens of India were eligible for a visa on arrival from 1 January 2018. It was available prior to this date as well, for citizens of African countries, and a few other countries (like the US, UK, Germany and Singapore).</p>

            </div>
          </div>
        </div>

        <div id="faqCollapse"  class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#rwandaAccordion6"
              aria-expanded="false" aria-controls="rwandaAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Do I have to pay visa fees?
                </button>
              </h5>
            </div>

            <div id="rwandaAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  The visa on-arrival offer has a waived visa fee for a validity of 30 days. If you need to stay longer than that, you may have to pay visa extension fees. If you want to extend your visa, you will need to do it while your previous one is still valid.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#rwandaAccordion7"
              aria-expanded="false" aria-controls="rwandaAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What can I do on a V5 Business visa in Rwanda?
                </button>
              </h5>
            </div>

            <div id="rwandaAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  This visa is eligible for those people who wish to attend conferences, workshops, meetings or other related activities.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#rwandaAccordion8"
              aria-expanded="false" aria-controls="rwandaAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Where can the application of this visa be made?
                </button>
              </h5>
            </div>

            <div id="rwandaAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  This visa can be issued in one of four places -  upon arrival at the border post, application through online, at the Directorate General, or at the office of a diplomatic mission of Rwanda in India. If you wish to apply online (which is convenient and safe), you can apply through us @ Visa2Fly.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#rwandaAccordion9"
              aria-expanded="true" aria-controls="rwandaAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Are there any other kinds of business visas?
                </button>
              </h5>
            </div>

            <div id="rwandaAccordion9" class="collapse show" aria-labelledby="heading9" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  Yes. Rwanda has a few more types of business visa - these include Visitor Visa Type V6 (Business Survey) and V9 (Itinerant Business). Depending on your purpose of travel, you will need to apply to one of the three types.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#rwandaAccordion10"
              aria-expanded="false" aria-controls="rwandaAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is a V6 Visa valid for?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion10" class="collapse" aria-labelledby="heading10" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  You will need to obtain this visa if you are a “foreign prospective investor, entrepreneur or trader who visits Rwanda to explore available business opportunities”. This is not a visa on-arrival, you will need to go through the diplomatic mission. We at Visa2Fly can help you with this. It is valid for 90 days, and depending on whether you want a single or multiple entry visa, the fee varies.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#rwandaAccordion11"
              aria-expanded="false" aria-controls="rwandaAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is a V9 visa valid for?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion11" class="collapse" aria-labelledby="heading11" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  You will need to obtain this visa if you are a “foreign investor, board member or representative of a multinational company who does not reside in Rwanda but has significant business activities in the country and needs to regularly visit his or her activities”. This is not a visa on-arrival, you will need to go through the directorate general of Immigration and Emigration HQ. We at Visa2Fly can help you with this. It is valid for either 2 or 10 years, and is a multiple entry visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#rwandaAccordion12"
              aria-expanded="false" aria-controls="rwandaAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I work on these visas?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion12" class="collapse" aria-labelledby="heading12" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  You cannot work on the V5 and V6 visas. These are strictly business visas, so you are not allowed to engage in any paid or unpaid work on them. The V9 visa can be used to work - however, only under the guidelines stated in FAQ no. 11. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#rwandaAccordion13"
              aria-expanded="false" aria-controls="rwandaAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there a transit visa on-arrival facility available?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion13" class="collapse" aria-labelledby="heading13" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  Yes, there is. If you do not feel comfortable with this, you can apply online (Visa2Fly does processing for the same) or through the Embassy.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#rwandaAccordion14"
              aria-expanded="false" aria-controls="rwandaAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How many entries is this visa valid for?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion14" class="collapse" aria-labelledby="heading14" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  This visa is valid for a single entry only. If you are transiting twice on the same trip (eg. while on your departure and arrival trip), you will need to apply both times.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#rwandaAccordion15"
              aria-expanded="false" aria-controls="rwandaAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I choose to stay for a few days and need a tourist visa, can I change the status of my existing transit visa?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion15" class="collapse" aria-labelledby="heading15" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  No, you cannot. Some Rwanda visas do allow a change of status, but not the transit visa facility.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading16" data-toggle="collapse" data-target="#rwandaAccordion16"
              aria-expanded="false" aria-controls="rwandaAccordion16">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What are the countries with which Rwanda has a fee waiver facility?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion16" class="collapse" aria-labelledby="heading16" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  These countries include the African Union, CommonWealth and La francophonie countries. India is part of this list (CommonWealth).
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading17" data-toggle="collapse" data-target="#rwandaAccordion17"
              aria-expanded="false" aria-controls="rwandaAccordion17">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My flight schedule suddenly changed. Do I need to get a transit visa?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion17" class="collapse" aria-labelledby="heading17" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  There is an emergency transit visa available, namely the VE-2 (Transit Due to Unforeseen Circumstances). This is for people who are stuck in Rwanda due to circumstances beyond their control - including changes in flight schedule, bad weather conditions or any other valid reason.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading18" data-toggle="collapse" data-target="#rwandaAccordion18"
              aria-expanded="false" aria-controls="rwandaAccordion18">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I extend my transit visa to more than 72 hours?
                </button>
              </h5>
            </div>
            <div id="rwandaAccordion18" class="collapse" aria-labelledby="heading18" data-parent="#rwandaAccordion">
              <div class="card-body">
                <p>
                  No, you will not be able to do that for a normal transit visa (Subtype VT). For the VE-2 (Transit Due to Unforeseen Circumstances) visa, extension is allowed, but only for exceptional circumstances.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>
  </div>
</div>
