<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="srilankaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#srilankaAccordion1"
            aria-expanded="true" aria-controls="srilankaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What is an ETA?
              </button>
            </h5>
          </div>

          <div id="srilankaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#srilankaAccordion">
            <div class="card-body">
              <p>An ETA is an electronic approval note that
                allows for short-term stays in the Republic
                of Sri Lanka.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#srilankaAccordion2"
            aria-expanded="false" aria-controls="srilankaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is the ETA process an online one?
              </button>
            </h5>
          </div>
          <div id="srilankaAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#srilankaAccordion">
            <div class="card-body">
              <p> Yes, you will have to submit an online
                application, and the visa will be issued
                to you on the same platform as well.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#srilankaAccordion3"
            aria-expanded="false" aria-controls="srilankaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I have a child. Do I require an ETA for them as well?
              </button>
            </h5>
          </div>
          <div id="srilankaAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#srilankaAccordion">
            <div class="card-body">
              <p>Everyone who travels to Sri Lanka, regardless
                of their age, require an ETA. If your children hold
                a separate passport, then their application would
                be separate from yours, but either way, the applicant
                must fill in their details as they appear on
                the passport.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#srilankaAccordion4"
            aria-expanded="false" aria-controls="srilankaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am transiting through Sri Lanka. Do I require an ETA?
              </button>
            </h5>
          </div>
          <div id="srilankaAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#srilankaAccordion">
            <div class="card-body">
              <p>This depends. If your flight has a stopover
                in Sri Lanka, and you do not plan to exit the
                transit area of the airport, a transit ETA is
                not required. However, if you are transiting on
                your way to a third country by a different mode
                of transport (eg. arrive by flight and depart
                by boat) or through a different airport (eg. changing
                airports whilst still in Sri Lanka), you would
                need an ETA.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#srilankaAccordion5"
            aria-expanded="false" aria-controls="srilankaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I wish to extend my visa. Is this possible?
              </button>
            </h5>
          </div>
          <div id="srilankaAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#srilankaAccordion">
            <div class="card-body">
              <p>Yes, you can apply for an extension
                of a visa whilst in Sri Lanka itself. This
                will be valid for 90 days and can be extended
                a second time for 90 more.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse"  class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#srilankaAccordion6"
              aria-expanded="false" aria-controls="srilankaAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What if I plan to leave the airport during transit? Do I apply for a transit visa?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#srilankaAccordion">
              <div class="card-body">
                <p>You can apply for an ETA if you are
                  planning on leaving the airport
                  during your time in transit.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#srilankaAccordion7"
              aria-expanded="false" aria-controls="srilankaAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Do I need a flight ticket/ hotel accomodation to apply for an ETA?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#srilankaAccordion">
              <div class="card-body">
                <p>No, you do not - however, you will need to
                  show both of these to the Immigration
                  Officer upon arrival into Sri Lanka.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#srilankaAccordion8"
              aria-expanded="false" aria-controls="srilankaAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I get a Sri Lanka visa online?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion8" class="collapse" aria-labelledby="headingBusiness8"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  Yes, you can – there is a Sri Lanka e-visa available. This is called an ETA; Electronic Travel
                  Authorization.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#srilankaAccordion9"
              aria-expanded="false" aria-controls="srilankaAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Do I need to book flight tickets before I apply for Sri Lanka visa?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion9" class="collapse" aria-labelledby="headingBusiness9"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  No. You can book your flight tickets later as well. Applying for an ETA and then booking your flight
                  tickets is also possible.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#srilankaAccordion10"
              aria-expanded="false" aria-controls="srilankaAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How can I get to know the status of my Sri Lanka visa for Indians?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion10" class="collapse" aria-labelledby="headingBusiness10"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  You can check the status of your visa online before you travel, on the official Sri Lanka ETA website.
                  If you are tied up with us @ Visa2Fly, we can help you find out without any hassle!
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#srilankaAccordion11"
              aria-expanded="false" aria-controls="srilankaAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I get a Sri Lanka business visa online?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion11" class="collapse" aria-labelledby="headingBusiness11"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  Yes, you can apply for an ETA for business purposes as well – check with us at Visa2Fly for more
                  details!
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#srilankaAccordion12"
              aria-expanded="false" aria-controls="srilankaAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How long is a Sri Lanka tourist visa valid for?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion12" class="collapse" aria-labelledby="headingBusiness12"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  An ETA is valid for a period of 6 months. If you wish to get a new one, you will need to wait until
                  the 6-month period is over to apply.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#srilankaAccordion13"
              aria-expanded="false" aria-controls="srilankaAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What happens if my Sri Lanka visa application is not approved?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion13" class="collapse" aria-labelledby="headingBusiness13"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  If your ETA does not get approved, it is referred to the closest Sri Lankan Overseas Mission. You will
                  need to go there physically, where you will be instructed on what to do next.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#srilankaAccordion14"
              aria-expanded="false" aria-controls="srilankaAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there a Sri Lanka visa on-arrival for Indian citizens?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion14" class="collapse" aria-labelledby="headingBusiness14"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  Yes. You will need to complete the ETA form before leaving, and submit it upon your arrival. Although
                  having an ETA is not a pre-condition to board a flight/vessel to Sri Lanka, it will be useful to get
                  your visa on-arrival if it is completed.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#srilankaAccordion15"
              aria-expanded="false" aria-controls="srilankaAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My Sri Lanka visa is expiring soon. Can I apply for a new one whilst still in Sri Lanka?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion15" class="collapse" aria-labelledby="headingBusiness15"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  No. Whether your ETA is expired or expiring soon, you will need to exit the country and the apply for
                  a new one.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading16" data-toggle="collapse" data-target="#srilankaAccordion16"
              aria-expanded="false" aria-controls="srilankaAccordion16">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Does Visa2Fly process Sri Lanka student visas?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion16" class="collapse" aria-labelledby="headingBusiness16"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  Visa2Fly processes short-term visas, such as tourist, business and transit visas. We do not undertake
                  requests for Sri Lanka working visa or student visa. However, we can process your travel insurance and
                  SIM card needs for the same. Contact us to know more!
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading17" data-toggle="collapse" data-target="#srilankaAccordion17"
              aria-expanded="false" aria-controls="srilankaAccordion17">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What are the Sri Lanka visa fees like?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion17" class="collapse" aria-labelledby="headingBusiness17"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  Our page on obtaining a Sri Lanka visitor visa tells you exactly what the fees are like – for business
                  tourist and transit facilities! Click the hyperlink to know more. Please note, the Sri Lankan visa
                  authorities do not process fee refunds or transfers.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading18" data-toggle="collapse" data-target="#srilankaAccordion18"
              aria-expanded="false" aria-controls="srilankaAccordion18">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How can I obtain a Sri Lanka parent visa?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion18" class="collapse" aria-labelledby="headingBusiness18"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  The Sri Lanka parent visa is essentially just a normal visitor visa. If you obtain an ETA it will
                  suffice. Contact Visa2Fly to get yours today!
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading19" data-toggle="collapse" data-target="#srilankaAccordion19"
              aria-expanded="false" aria-controls="srilankaAccordion19">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I process a multiple-entry Sri Lanka visa application online?
                </button>
              </h5>
            </div>
            <div id="srilankaAccordion19" class="collapse" aria-labelledby="headingBusiness19"
              data-parent="#srilankaAccordion">
              <div class="card-body">

                <p>
                  Yes, you can. All ETA’s (for business and travel purposes) are double entry. This means you can enter
                  and exit twice in the validity of your visa.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
        data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
        {{loadText}}
      </button>
    </div>
    
  </div>
</div>
