<section id="faq">
  <div
    class="container-fluid wrapContainer"
    style="position: relative"
    
  >
    <div class="row">
      <div class="col-12 text-center">
        <h1>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h1>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="austriaAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#austriaAccordion1"
              aria-expanded="true"
              aria-controls="austriaAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Is the visa fee same for children and adults?
                </button>
              </h5>
            </div>

            <div
              id="austriaAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#austriaAccordion"
            >
              <div class="card-body">
                <p>
                  The visa fee for those above 12 years is 80 euros. For those between the ages of 6 and 12, the fee is 40 euros.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#austriaAccordion2"
              aria-expanded="false"
              aria-controls="austriaAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What documents do I need to show as part of ‘occupational evidence’ for a tourist visa?
                </button>
              </h5>
            </div>
            <div
              id="austriaAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#austriaAccordion"
            >
              <div class="card-body">
                <p>
                  If you are employed, these will need to be submitted:
                </p>
                  <li>Your last 3 months’ salary certificate</li>
                  <li>employment contract </li>
                  <li>An NOC (No Objection Certificate) from your company to leave.</li>
                  <p>In case the applicant is self-employed, the following needs to be submitted:</p>
                  <li>(whichever is applicable) CIN / LLP / GST certificate, or Udhyog Aadhar Memorandum or Import Export Certificate etc.</li>
                  <p>If you are a student, you will need to submit an NOC (No Objection Certificate) from your school or college stating that you have permission to travel. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#austriaAccordion3"
              aria-expanded="false"
              aria-controls="austriaAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My child is a minor and travelling without me. Are there any extra documents to be submitted?
                </button>
              </h5>
            </div>
            <div
              id="austriaAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#austriaAccordion"
            >
              <div class="card-body">
                <p>
                  Yes, there are extra documents to be submitted. If the minor is travelling with one parent, an original notarized NOC must be submitted by the other parent (who is not accompanying). A minor travelling alone must provide an original notarized NOC from both parents. Both these cases require the submission of copies of parents passports or ID cards as well.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#austriaAccordion4"
              aria-expanded="false"
              aria-controls="austriaAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Will there be any information to note before applying?
                </button>
              </h5>
            </div>
            <div
              id="austriaAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#austriaAccordion"
            >
              <div class="card-body">
                <p>
                  Consider your duration of stay before you apply. If you will be travelling for more than 6 months, Residence Permit (“Aufenthaltstitel”) has to be applied for (instead of your visa). Your visa cannot be extended or renewed in Austria. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#austriaAccordion5"
              aria-expanded="false"
              aria-controls="austriaAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  When do applications for Austria open?
                </button>
              </h5>
            </div>
            <div
              id="austriaAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#austriaAccordion"
            >
              <div class="card-body">
                <p>
                  Applications can be submitted upto 3 months in advance (to your trip). You cannot submit applications before this. Make sure to apply at least 1 month in advance, to ensure a safe arrival of your visa before departure.
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#austriaAccordion6"
                aria-expanded="false"
                aria-controls="austriaAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are there any other documents I would need to submit?
                  </button>
                </h5>
              </div>
              <div
                id="austriaAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#austriaAccordion"
              >
                <div class="card-body">
                  <p>
                    In case your purpose of trip is anything other than meetings, (eg. training, voluntary or project work), you will need to get permission from the Austrian Labor Market Authority “AMS”(Entsendebewilligung, Anzeigebestätigung). This should be done by the inviting Austrian company.</p>
                    <p>
                    And, if applicable, you will need to get an Electronic letter of guarantee: “EVE” or “GVE”. This will need to be obtained from the Austrian business at the appropriate regional office in Austria (if applicable) or in case of GVE at the Austrian Ministry of Interior.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#austriaAccordion7"
                aria-expanded="false"
                aria-controls="austriaAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    What happens if I need to apply less than 15 days from my trip?
                  </button>
                </h5>
              </div>

              <div
                id="austriaAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#austriaAccordion"
              >
                <div class="card-body">
                  <p>
                    In this case, it is not certain whether you will receive your visa or not. There is no visa option for Austria with processing times less than 15 days: and therefore, a timely processing of visa cannot be guaranteed. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#austriaAccordion8"
                aria-expanded="false"
                aria-controls="austriaAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Do Indian citizens need a transit visa to transit through Austria?
                  </button>
                </h5>
              </div>

              <div
                id="austriaAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#austriaAccordion"
              >
                <div class="card-body">
                  <p>
                    No, Indian citizens do not. However, citizens of Sri Lanka and Bangladesh do need transit visas, which can be obtained at VFS India.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit9"
                data-toggle="collapse"
                data-target="#austriaAccordion9"
                aria-expanded="false"
                aria-controls="austriaAccordion9"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I transit through all Schengen states without a transit visa?
                  </button>
                </h5>
              </div>
              <div
                id="austriaAccordion9"
                class="collapse"
                aria-labelledby="headingtransit9"
                data-parent="#austriaAccordion"
              >
                <div class="card-body">
                  <p>No, you cannot. Some Schengen countries require Indians to have a transit visa, such as Germany and Czech Republic. Please check if you are transiting through more than one Schengen country before you book your tickets. </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit10"
                data-toggle="collapse"
                data-target="#austriaAccordion10"
                aria-expanded="false"
                aria-controls="austriaAccordion10"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I exit the airport in Austria while
                  </button>
                </h5>
              </div>
              <div
                id="austriaAccordion10"
                class="collapse"
                aria-labelledby="headingtransit10"
                data-parent="#austriaAccordion"
              >
                <div class="card-body">
                  <p>
                    Since you do not have a visa, you cannot exit the airport. You will need to stay in the transit premises of your airport for the entire duration of your transit. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit11"
                data-toggle="collapse"
                data-target="#austriaAccordion11"
                aria-expanded="false"
                aria-controls="austriaAccordion11"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are there any exceptions to which I don’t need a transit visa?
                  </button>
                </h5>
              </div>
              <div
                id="austriaAccordion11"
                class="collapse"
                aria-labelledby="headingtransit11"
                data-parent="#austriaAccordion"
              >
                <div class="card-body">
                  <p>
                    In Austria, Indian citizens do not need a transit visa to transit. However, for other Schengen countries, if you wish to transit without a visa, there are some exceptions. If you hold a diplomatic passport, or are a family member of a citizen of the EU or have a residency permit in EU, you can transit without a visa.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit12"
                data-toggle="collapse"
                data-target="#austriaAccordion12"
                aria-expanded="false"
                aria-controls="austriaAccordion12"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are the processing times for Schengen transit visas less than the normal tourist visa?
                  </button>
                </h5>
              </div>
              <div
                id="austriaAccordion12"
                class="collapse"
                aria-labelledby="headingtransit12"
                data-parent="#austriaAccordion"
              >
                <div class="card-body">
                  <p>
                    The time taken to process both tourist and transit visas are the same: 15 days approx. It may take up to 30 days in special circumstances based on the individual applicant and the documents they submit. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
        <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
        {{loadText}}
      </button> -->
      </div>
    </div>
  </div>
</section>
