<section id="faq">
  <div class="container-fluid wrapContainer">
    <div class="row">
      <div class="col-12 text-center">
        <h1><span class="faqContainer">
            <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                  <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                  <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                  <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                  <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff" />
                <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff" />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
                </g>
              </g>
            </svg>
            FAQ's</span></h1>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="qatarAccordion">

          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#qatarAccordion1"
              aria-expanded="true" aria-controls="qatarAccordion1">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Do I need a pre-acquired visa to travel to Qatar?
                </button>
              </h5>
            </div>

            <div id="qatarAccordion1" class="collapse show" aria-labelledby="heading1"
              data-parent="#qatarAccordion">
              <div class="card-body">
                <p>
                  Nationals of India do not require a visa beforehand to travel to Qatar.
                  As per the visa waiver program, they will be allowed for a stay of upto
                  30 days on arrival at the airport.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#qatarAccordion2"
              aria-expanded="false" aria-controls="qatarAccordion2">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is this visa extendable?
                </button>
              </h5>
            </div>
            <div id="qatarAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#qatarAccordion">
              <div class="card-body">
                <p>
                  Yes, you can extend this visa for upto another 30 days.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#qatarAccordion3"
              aria-expanded="false" aria-controls="qatarAccordion3">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I want to visit Oman as well. Is there a joint option for both these emirates?
                </button>
              </h5>
            </div>
            <div id="qatarAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#qatarAccordion">
              <div class="card-body">
                <p>
                  Yes. There is a Qatar-Oman Joint Tourist Visa. This can also be acquired
                  on-arrival. It is not yet available for Indian citizens, however, can be
                  acquired if you are a citizen of one of the 37 countries that are allowed.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#qatarAccordion4"
              aria-expanded="false" aria-controls="qatarAccordion4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I wish to apply for a Qatar visa beforehand anyway, can I do so?
                </button>
              </h5>
            </div>
            <div id="qatarAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#qatarAccordion">
              <div class="card-body">
                <p>
                  Yes, you can. VFS Global processes Qatar visas. If the tasks seem a bit
                  too complicated, you can always contact Visa2Fly to know more and get your
                   visa processed at your doorstep.
                  </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#qatarAccordion5"
              aria-expanded="false" aria-controls="qatarAccordion5">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Will I need any more documents for my Qatar visa?
                </button>
              </h5>
            </div>
            <div id="qatarAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#qatarAccordion">
              <div class="card-body">
                <p>
                  You may be asked for more documents regarding your individual case. In this
                  case, kindly contact your airline before your travel to ensure that you
                  are safe. You can also contact us at Visa2Fly in case of any worries related to visas, and
                  we shall help you process your visa at your home itself.
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#qatarAccordion6"
                aria-expanded="false" aria-controls="qatarAccordion6">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I obtain a business visa on-arrival?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion6" class="collapse" aria-labelledby="heading6"
                data-parent="#qatarAccordion">
                <div class="card-body">
                  <p>
                    Yes, it is possible to obtain a Qatar business visa
                    on arrival. This will only be valid for 72 hours, though.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#qatarAccordion7"
                aria-expanded="false" aria-controls="qatarAccordion7">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    What kinds of Qatar business visa are there?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion7" class="collapse" aria-labelledby="heading7"
                data-parent="#qatarAccordion">
                <div class="card-body">
                  <p>
                    There are roughly 3 kinds - the 72-hour visa,
                    the business visa and the investor visa.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#qatarAccordion8"
                aria-expanded="true" aria-controls="qatarAccordion8">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    What is the Investor Visa?
                  </button>
                </h5>
              </div>

              <div id="qatarAccordion8" class="collapse" aria-labelledby="heading8"
                data-parent="#qatarAccordion">
                <div class="card-body">
                  <p>
                    For those who wish to invest in Qatar or Qatar businesses, there is a specific
                    visa called the Investor Visa. Documents required for this include those
                    that certify property ownership, that prove good conduct and behavior, and a medical
                    check-up report (along with all other regular documents, such as passports
                    and flight tickets).
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#qatarAccordion9"
                aria-expanded="false" aria-controls="qatarAccordion9">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I settle in Qatar with this visa?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion9" class="collapse" aria-labelledby="heading9"
                data-parent="#qatarAccordion">
                <div class="card-body">
                  <p>
                    No, this visa does not allow you to settle or permanently work
                    in Qatar. It is a temporary visa for business purposes, like meetings,
                    conferences and negotiations. You will need to apply for a work permit
                    if you wish to permanently reside on work in Qatar.
                  </p>


                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#qatarAccordion10"
                aria-expanded="false" aria-controls="qatarAccordion10">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there a minimum time frame to be eligible for the visa?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion10" class="collapse" aria-labelledby="heading10"
                data-parent="#qatarAccordion">
                <div class="card-body">
                  <p>
                    Yes. If your stopover is more than 5 hours, you will be eligible for
                    this visa. Otherwise, you will not be able to apply for the Qatar
                    transit visa.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#qatarAccordion11"
                aria-expanded="false" aria-controls="qatarAccordion11">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I extend the duration of stay for more than 96 hours?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion11" class="collapse" aria-labelledby="heading11"
                data-parent="#qatarAccordion">
                <div class="card-body">

                  <p>
                    No, you will not be able to do so. 96 hours is the maximum time.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#qatarAccordion12"
                aria-expanded="false" aria-controls="qatarAccordion12">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there any fee for the Qatar transit visa?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion12" class="collapse" aria-labelledby="heading12"
                data-parent="#qatarAccordion">
                <div class="card-body">

                  <p>
                    No, there is no fee to be paid - you can
                    obtain a Qatar transit visa for free.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#qatarAccordion13"
                aria-expanded="false" aria-controls="qatarAccordion13">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is the visa facility only available if I travel on a Qatar Airways flight?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion13" class="collapse" aria-labelledby="heading13"
                data-parent="#qatarAccordion">
                <div class="card-body">

                  <p>
                    Yes, this facility is only available if you are travelling via Qatar
                    Airways. Code share flights are not permitted under this scheme.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#qatarAccordion14"
                aria-expanded="false" aria-controls="qatarAccordion14">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    I have cancelled my booking. If the visa is valid for 30 days, can I use this visa at a later stage?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion14" class="collapse" aria-labelledby="heading14"
                data-parent="#qatarAccordion">
                <div class="card-body">

                  <p>
                    No, you will not be able to. The transit visa will be automatically
                    cancelled once you cancel your booking. You will need to apply for
                    a new one when you plan to travel again.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#qatarAccordion15"
                aria-expanded="true" aria-controls="qatarAccordion15">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Will I also have a complimentary hotel stay along with this visa?
                  </button>
                </h5>
              </div>

              <div id="qatarAccordion15" class="collapse" aria-labelledby="heading15"
                data-parent="#qatarAccordion">
                <div class="card-body">
                  <p>
                    No. Qatar Airways will not arrange hotel stays for you. You will need to apply
                    for stay in a hotel or another form of accommodation for yourself.
                  </p>

                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading16" data-toggle="collapse" data-target="#qatarAccordion16"
                aria-expanded="false" aria-controls="qatarAccordion16">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Do I need to carry a pre-approved copy of my visa with me at the airport?
                  </button>
                </h5>
              </div>
              <div id="qatarAccordion16" class="collapse" aria-labelledby="heading16"
                data-parent="#qatarAccordion">
                <div class="card-body">
                  <p>
                    Yes, you will need to show this pre-approved copy of
                    your visa at the Immigration checkpoint.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
        data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
        {{loadText}}
      </button>
      </div>

    </div>
  </div>
  </section>
