<section id="faq">
<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h3><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>FAQ's</span></h3>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="netherlandAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#netherlandAccordion1"
            aria-expanded="true" aria-controls="netherlandAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Will I need to submit biometrics for a Netherlands visa application?
              </button>
            </h5>
          </div>

          <div id="netherlandAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#netherlandAccordion">
            <div class="card-body">
              <p>Yes, you will. VFS handles this and charges a separate fee for the same - inclusive of VAT.
                This charge has already been taken into account in the value of the fees stated on this
                website.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#netherlandAccordion2"
            aria-expanded="false" aria-controls="netherlandAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How much in advance can I apply for my netherlands visa online for indians?
              </button>
            </h5>
          </div>
          <div id="netherlandAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#netherlandAccordion">
            <div class="card-body">
              <p>
                You will be able to apply for a maximum of 6 months in advance. This used to be 3 months,
                however, it has been extended to 6 recently. Those traveling by sea will be able to apply 9
                months in advance.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#netherlandAccordion3"
            aria-expanded="false" aria-controls="netherlandAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How many copies of the required documents must I bring?
              </button>
            </h5>
          </div>
          <div id="netherlandAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#netherlandAccordion">
            <div class="card-body">
              <p>For all documents that you need to submit, you must bring two sets - one original document,
                and one copy.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#netherlandAccordion4"
            aria-expanded="false" aria-controls="netherlandAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am traveling with my child/my child is traveling alone. Are there any extra documents to be
                submitted?
              </button>
            </h5>
          </div>
          <div id="netherlandAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#netherlandAccordion">
            <div class="card-body">
              <p>Yes. If the minor is traveling with only one parent, written consent
                must be provided by the other parent. This must be certified by a
                public notary. In the case of a parent having sole guardianship/custody,
                this is not required. Copies of passports of parents are required as
                well - if these are not available, copies of both parent's ID cards, as
                well as the birth certificate of the applicant must be submitted
                along with Netherland visa for Indians.
                In the case of a minor traveling alone, publicly notarized written
                consent must be submitted by both parents. Copies of passports of parents
                are required as well - if these are not available, copies of both parent's ID
                cards, as well as the birth certificate of the applicant must be submitted.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#netherlandAccordion5"
            aria-expanded="false" aria-controls="netherlandAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What are the Dutch photo guidelines?
              </button>
            </h5>
          </div>
          <div id="netherlandAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#netherlandAccordion">
            <div class="card-body">
              <p>
                These apply to any photos submitted for a Dutch visa. Guidelines include:
              </p>
              <p>The photo must be 35 by 45 mm</p>
              <p>It must be in color, with a minimum 400 dpi resolution</p>
              <p>Width - (from ear to ear) 16 to 20 mm</p>
              <p>Height - (from chin to crown) 26 to 30 mm. For children below 11, this figure is 19 to 30 mm.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse" class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#netherlandAccordion6"
              aria-expanded="false" aria-controls="netherlandAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Should I book my flight tickets before or after applying for my visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion6" class="collapse" aria-labelledby="heading6"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>
                  You will need to submit them for your visa, so you must book them before. However, please make
                  sure you book refundable tickets if your visa is refused.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#netherlandAccordion7"
              aria-expanded="false" aria-controls="netherlandAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I am traveling to more than 1 Schengen state. Must I show proof of lodging only for the
                  Netherlands to obtain a Netherlands visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion7" class="collapse" aria-labelledby="heading7"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>
                  If you are traveling to several Schengen areas, proof of lodging in each of them must be
                  shown.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#netherlandAccordion8"
              aria-expanded="true" aria-controls="netherlandAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Are there any documents I need to submit regarding my state of employment?
                </button>
              </h5>
            </div>

            <div id="netherlandAccordion8" class="collapse" aria-labelledby="heading8"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>Depending on your employment category, you must submit additional documents along with your
                  netherlands visa online for indians:</p>

                <p>
                  If employed, payslips for the last 3 months, an employment contract, and an employer's
                  statement for approval to travel must be submitted.
                </p>
                <p>
                  If you own a business, a certificate of registration of your company must be shown. If you are
                  sponsored, a separate Proof of Sponsorship form must be submitted.
                </p>
                <p>
                  If you are retired, pension statements for the last 3 months or proof of property/business
                  ownership (generation of regular income) must be shown.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#netherlandAccordion9"
              aria-expanded="false" aria-controls="netherlandAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there any biometrics to be submitted?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion9" class="collapse" aria-labelledby="heading9"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>Yes, you will. VFS handles this and charges a separate fee
                  for the same - inclusive of VAT. This charge has already been
                  taken into account in the value of the fees stated on this
                  website. Biometrics that you submit will be valid for a maximum
                  of 5 years - another netherlands visa online for indians within this period does
                  not require another submitting of biometrics.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#netherlandAccordion10"
              aria-expanded="false" aria-controls="netherlandAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How much in advance can I apply for my visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion10" class="collapse" aria-labelledby="heading10"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>You will be able to apply for a maximum of 6 months in advance.
                  This used to be 3 months, however, it has been extended to 6 recently.
                  Those traveling by sea will be able to apply 9 months in advance.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#netherlandAccordion11"
              aria-expanded="false" aria-controls="netherlandAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I engage in paid work while on a business visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion11" class="collapse" aria-labelledby="heading11"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>No, you cannot. If you want to stay in the Netherlands to work, you
                  will need to obtain a work permit.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#netherlandAccordion12"
              aria-expanded="false" aria-controls="netherlandAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is the Netherlands visa a Schengen visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion12" class="collapse" aria-labelledby="heading12"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>Yes. Netherlands is part of the Schengen territory, along with 25 other European countries (including
                  Denmark, Finland, France, Greece and Germany).</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#netherlandAccordion13"
              aria-expanded="false" aria-controls="netherlandAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I travel to other Schengen states with a Netherlands visa for Indians?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion13" class="collapse" aria-labelledby="heading13"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>Yes, you can. You will need to specify this in your application as well.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#netherlandAccordion14"
              aria-expanded="true" aria-controls="netherlandAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I apply for a Netherlands visa online?
                </button>
              </h5>
            </div>

            <div id="netherlandAccordion14" class="collapse" aria-labelledby="heading14"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>You will have to apply through the embassy. This is an offline process, however, if you go through a
                  travel agent such as Visa2Fly, we can get it done for you as online as possible. Check out our
                  <a href="www.visa2fly.com/visa/netherlands-visa-online">Netherlands visa</a> webpage to know more
                  about your next hassle-free Netherlands visa application</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#netherlandAccordion15"
              aria-expanded="false" aria-controls="netherlandAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there any Netherlands visa on arrival for Indian citizens?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion15" class="collapse" aria-labelledby="heading15"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>No. Netherlands does not offer a visa on arrival to Indians, and neither do they offer an e-visa. You
                  will have to go through the manual route, where you apply to the Embassy. But don’t worry! We at
                  Visa2Fly are here to help you make your visas as convenient and hassle-free as possible.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading16" data-toggle="collapse" data-target="#netherlandAccordion16"
              aria-expanded="false" aria-controls="netherlandAccordion16">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I partake in tourist activities on a Netherlands business visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion16" class="collapse" aria-labelledby="heading16"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>If you wish to combine a business trip with tourist activities, you will have to specify ‘business’
                  as
                  your purpose of travel to the Netherlands. Please keep this in mind while writing your application!
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading17" data-toggle="collapse" data-target="#netherlandAccordion17"
              aria-expanded="false" aria-controls="netherlandAccordion17">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Do I need a Schengen visa if I want to work in the Netherlands?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion17" class="collapse" aria-labelledby="heading17"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>If you are planning to work, study or live in a Schengen country (for more than 90 days), then you
                  will need a visa from that country. In this case, you will have to apply specifically for a
                  Netherlands
                  working visa and not a general Schengen one.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading18" data-toggle="collapse" data-target="#netherlandAccordion18"
              aria-expanded="false" aria-controls="netherlandAccordion18">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What are the activities that I can do on a Netherlands tourist visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion18" class="collapse" aria-labelledby="heading18"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>You will be able to sightsee, go on a holiday or a cruise, city trip or any other recreational
                  activity.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading19" data-toggle="collapse" data-target="#netherlandAccordion19"
              aria-expanded="false" aria-controls="netherlandAccordion19">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Will I need to provide biometric data for a Netherlands visitor visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion19" class="collapse" aria-labelledby="heading19"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>Yes. In your VFS appointment, you will have to give biometric data. This will be valid for the next 5
                  years. If you/someone you are travelling with is below the age of 12, they do not need a biometric
                  test done.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading20" data-toggle="collapse" data-target="#netherlandAccordion20"
              aria-expanded="false" aria-controls="netherlandAccordion20">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  When should I start processing my Netherlands visa application?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion20" class="collapse" aria-labelledby="heading20"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>The earliest you can apply for Netherlands visa is 6 months before your intended travel date. You
                  should not apply less than 30 working days before your intended travel date.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading21" data-toggle="collapse" data-target="#netherlandAccordion21"
              aria-expanded="true" aria-controls="netherlandAccordion21">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  My child is studying in Netherlands. Do I need a Netherlands parent visa to visit them?
                </button>
              </h5>
            </div>

            <div id="netherlandAccordion21" class="collapse" aria-labelledby="heading21"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>You will need a regular visitor visa to visit your child. You can partake in tourist activities on
                  this as
                  well.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading22" data-toggle="collapse" data-target="#netherlandAccordion22"
              aria-expanded="false" aria-controls="netherlandAccordion22">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Where should I apply for a Netherlands student visa?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion22" class="collapse" aria-labelledby="heading22"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>You can apply for a study visa to Netherlands in the Netherlands Embassy/Consulate in your home
                  country. Alternatively, the educational institution in Netherlands can apply for the MVV and VVR on
                  your behalf through the Dutch Immigration and Naturalization Service. You have to collect this MVV
                  in a maximum of 3 months’ time after issuing.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading23" data-toggle="collapse" data-target="#netherlandAccordion23"
              aria-expanded="false" aria-controls="netherlandAccordion23">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What are the Netherlands visa fees like?
                </button>
              </h5>
            </div>
            <div id="netherlandAccordion23" class="collapse" aria-labelledby="heading23"
              data-parent="#netherlandAccordion">
              <div class="card-body">
                <p>This depends on the type of visa you are going for. For more information about Visa2Fly’s visa fee
                  rates for Netherlands, visit our <a href="www.visa2fly.com/visa/netherlands-visa-online">Netherlands
                    visa</a> online page!</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
        data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
        {{loadText}}
      </button>
    </div>

  </div>
</div>
</section>
