<section id="faq">
    <div class="container-fluid wrapContainer" style="position: relative;" >
      <div class="row">
        <div class="col-12 text-center">
          <h1><span class="faqContainer" id="faqContainer">
              <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
                xmlns="http://www.w3.org/2000/svg">
                <g>
                  <g>
                    <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                    <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                    <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                    <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                    <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                    <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                    <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                    <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
                  </g>
                  <path
                    d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                    fill="#66b3ff" />
                  <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
                  <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                    fill="#edf5ff" />
                  <g fill="#d5e8fe">
                    <path d="m256 210h15v30h-15z" />
                    <path
                      d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
                  </g>
                </g>
              </svg>
              FAQ's</span></h1>
        </div>
    
        <div class="col-12 p-0">
          <div class="accordion" id="myanmarAccordion">
    
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#myanmarAccordion1"
                aria-expanded="true" aria-controls="myanmarAccordion1">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Can I extend my period of stay for longer than 28 days?
                  </button>
                </h5>
              </div>
    
              <div id="myanmarAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#myanmarAccordion">
                <div class="card-body">
                  <p>
                    No, you will not be able to extend the tourist visas. These will only last 
                    for the dates mentioned on your visa. Business 
                    visas, however, can be extended. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#myanmarAccordion2"
                aria-expanded="false" aria-controls="myanmarAccordion2">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I get a Visa on Arrival?
                  </button>
                </h5>
              </div>
              <div id="myanmarAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#myanmarAccordion">
                <div class="card-body">
                  <p>
                    Myanmar does have a visa on arrival facility for Indian travellers, 
                    however, it is only available at 3 ports of entry: Yangon, Mandalay 
                    and Naypyidaw airports. The fee for this service (to be paid upon 
                    arrival) is 50 USD.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#myanmarAccordion3"
                aria-expanded="false" aria-controls="myanmarAccordion3">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Will I be able to get a refund if my visa request is rejected?
                  </button>
                </h5>
              </div>
              <div id="myanmarAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#myanmarAccordion">
                <div class="card-body">
                  <p>
                    No, you will not be able to refund your visa service fees, as the 
                    Myanmar Government does not allow that function as yet.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#myanmarAccordion4"
                aria-expanded="false" aria-controls="myanmarAccordion4">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there a multiple-entry Tourist E-visa available?
                  </button>
                </h5>
              </div>
              <div id="myanmarAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#myanmarAccordion">
                <div class="card-body">
                  <p>
                    Myanmar does not offer a multiple-entry tourist e-visa. All tourist e-visas are single-entry valid for a duration of 90 days.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#myanmarAccordion5"
                aria-expanded="false" aria-controls="myanmarAccordion5">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Which ports of entry can be used for those with e-visas?
                  </button>
                </h5>
              </div>
              <div id="myanmarAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#myanmarAccordion">
                <div class="card-body">
                  <p>
                    These are the ports of entry that can be used:
                  </p>
                  <li>Mandalay International Airport</li>
                  <li>Nay Pyi Taw International Airport</li>
                  <li>Tachileik Land Border Checkpoint</li>
                  <li>Myawaddy Land Border Checkpoint</li>
                  <li>Kawthaung Land Border Checkpoint</li>
                  <li>Tamu Land Border Checkpoint</li>
                  <li>Rih Khaw Dar Land Border Checkpoint</li>
                </div>
              </div>
            </div>
    
            <div id="faqCollapse" class="collapse">
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#myanmarAccordion6"
                  aria-expanded="false" aria-controls="myanmarAccordion6">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      If I am applying for the express visa option, will I get the visa 24 hours from when I start the application?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      The 24-hour time limit starts from when the email acknowledgement is 
                      sent out to you: which is after you have completed both the 
                      application form and payment.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#myanmarAccordion7"
                  aria-expanded="false" aria-controls="myanmarAccordion7">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                      What are possible proofs of company registration that are acceptable?
                    </button>
                  </h5>
                </div>
    
                <div id="myanmarAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      Your company can submit a Certificate of Incorporation (For Local Companies), 
                      or a Certificate of Registration of Branch Office 
                      (For Foreign Investment Companies).
                    </p>
    
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#myanmarAccordion8"
                  aria-expanded="false" aria-controls="myanmarAccordion8">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                      Can I use other travel documents instead of a visa?
                    </button>
                  </h5>
                </div>
    
                <div id="myanmarAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      Many countries do offer a choice of travel documents that may be submitted. However, for the e-visa service, Myanmar does not accept any other document in the place of passports. I.e, only passports are accepted.
                    </p>
    
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit9" data-toggle="collapse"
                  data-target="#myanmarAccordion9" aria-expanded="false" aria-controls="myanmarAccordion9">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Can my business visa be extended?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion9" class="collapse" aria-labelledby="headingtransit9"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      Yes, with a relevant Ministry recommendation letter, you will be 
                      able to extend your visa, and stay for longer than 70 days. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit10" data-toggle="collapse"
                  data-target="#myanmarAccordion10" aria-expanded="false" aria-controls="myanmarAccordion10">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Are there any validity restrictions for the inviting company’s registration documents?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion10" class="collapse" aria-labelledby="headingtransit10"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      The inviting company must have a registration that has at least 3 months validity left for its registration.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit11" data-toggle="collapse"
                  data-target="#myanmarAccordion11" aria-expanded="false" aria-controls="myanmarAccordion11">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Can I apply for a multiple-entry business visa?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion11" class="collapse" aria-labelledby="headingtransit11"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      Yes, you can. However, this will not be an e-visa but a normal paper visa. You will 
                      need to go through the Embassy to submit documents physically. Visa2Fly can help 
                      you with this process, providing a doorstep delivery and processing for your convenience.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit12" data-toggle="collapse"
                  data-target="#myanmarAccordion12" aria-expanded="false" aria-controls="myanmarAccordion12">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      what is the processing time for a business visa in Myanmar?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion12" class="collapse" aria-labelledby="headingtransit12"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      The processing time for a business visa is usually 5-7 working days. If the waiting time 
                      exceeds this limit, please check if you’ve got any email notification or any kind of message. 
                      If not, then make a call to the Myanmar embassy for further information.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit13" data-toggle="collapse"
                  data-target="#myanmarAccordion13" aria-expanded="false" aria-controls="myanmarAccordion13">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      How can I check the status of my Myanmar visa?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion13" class="collapse" aria-labelledby="headingtransit13"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      If you have applied for a visa with us, we will update you. If not, the general procedure 
                      is to go to the official website, enter your application reference, then passport number, 
                      email ID and your request. You will soon get your current status of visa. If this 
                      too does not work, the last-ditch effort would be to please try and 
                      contact the embassy you’ve applied with.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit14" data-toggle="collapse"
                  data-target="#myanmarAccordion14" aria-expanded="false" aria-controls="myanmarAccordion14">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      My Myanmar visit dates are not confirmed. When should I apply for a visa?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion14" class="collapse" aria-labelledby="headingtransit14"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      This depends on the possible frequency that you might be travelling to Myanmar; 
                      it is better to first confirm if you will be visiting the country multiple times 
                      or only once. If once, please apply a maximum of 3 months) before your visit. 
                      Multiple-entry visas usually have longer validities, so if you are going to be 
                      travelling more than once, you can choose between the 3 options (3 month, 6 month 
                      and 12 month) based on your circumstance. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit15" data-toggle="collapse"
                  data-target="#myanmarAccordion15" aria-expanded="false" aria-controls="myanmarAccordion15">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      If my online e-visa is denied, can I try again in person (at the Embassy)?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion15" class="collapse" aria-labelledby="headingtransit15"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      Yes, you can. If your online visa does not go through, you can go 
                      to your country’s Myanmar Embassy or Consulate to try again. The Myanmar 
                      multiple-entry business visa is one that needs to be done in person itself. 
                      Visa2Fly can help you with this process, providing a doorstep delivery and 
                      processing for your convenience. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit16" data-toggle="collapse"
                  data-target="#myanmarAccordion16" aria-expanded="false" aria-controls="myanmarAccordion16">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Can I apply for a visa on arrival for Business Visas?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion16" class="collapse" aria-labelledby="headingtransit16"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      Yes, you can. You will need to submit the same documents as an e-visa, 
                      except at the Myanmar airport rather than before leaving India. You must also 
                      fill an application form (either on the flight or after you land) along with 
                      these documents. There are more conditions, outlined in this 
                      link: http://www.mip.gov.mm/portfolio/the-required-terms-and-conditions-for-visa-on-arrival/  
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit17" data-toggle="collapse"
                  data-target="#myanmarAccordion17" aria-expanded="false" aria-controls="myanmarAccordion17">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Will there be a visa on arrival for transit visas?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion17" class="collapse" aria-labelledby="headingtransit17"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      No, they do not have a visa on arrival for Myanmar transit. 
                      They do have these for business visas, though.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit18" data-toggle="collapse"
                  data-target="#myanmarAccordion18" aria-expanded="false" aria-controls="myanmarAccordion18">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Can I refund my visa fees if I don’t get the visa?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion18" class="collapse" aria-labelledby="headingtransit18"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      No, Myanmar does not usually provide a refund service for visa fees.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit19" data-toggle="collapse"
                  data-target="#myanmarAccordion19" aria-expanded="false" aria-controls="myanmarAccordion19">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Can I use other travel documents instead of a visa?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion19" class="collapse" aria-labelledby="headingtransit19"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      Many countries do offer a choice of travel documents that may be submitted. 
                      However, for the e-visa service, Myanmar does not accept any other document in 
                      the place of passports. I.e, only passports are accepted.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit20" data-toggle="collapse"
                  data-target="#myanmarAccordion20" aria-expanded="false" aria-controls="myanmarAccordion20">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      I have not received the visa for the country I will be moving to (after transiting through Myanmar). Can I still apply for a transit visa?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion20" class="collapse" aria-labelledby="headingtransit20"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      You may be able to apply, however, it is unlikely that you will be able to receive the confirmed transit visa. You must make sure that the destination country’s visa is in order before you step into the airport, so that you will be able to safely move through immigration. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div class="card-header faqQuery" id="headingtransit21" data-toggle="collapse"
                  data-target="#myanmarAccordion21" aria-expanded="false" aria-controls="myanmarAccordion21">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      I have another photograph which meets similar guidelines. Can I use this instead?
                    </button>
                  </h5>
                </div>
                <div id="myanmarAccordion21" class="collapse" aria-labelledby="headingtransit21"
                  data-parent="#myanmarAccordion">
                  <div class="card-body">
                    <p>
                      As long as your picture is clear, meets the guideline size and proportions 
                      (must be on a very light coloured background, with 80% of the photo being 
                      your face and taken within the last 3 months), you may be able to apply. We 
                      strongly recommend using a professional photography service for this function. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-12 text-center loadMore mt-3">
          <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
          data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
          {{loadText}}
        </button>
          <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
            {{loadText}}
          </button> -->
        </div>
      </div>
    </div>
    </section>