<div class="feature-list">
  <div class="feature-banner active-link" [routerLink]="['/offers']">
    <img
      class="img-fluid desktopBanner"
      src="https://static.visa2fly.com/offers/home-banner.png"
      alt="Get Flat ₹ 250 Cashback from MobiKwik"
      title="Get Flat ₹ 250 Cashback from MobiKwik"
    />
    <img
      class="img-fluid mobileBanner"
      src="https://static.visa2fly.com/offers/Mobiikwik-m-offer-new.jpg"
      alt="Get Flat ₹ 250 Cashback from MobiKwik"
      title="Get Flat ₹ 250 Cashback from MobiKwik"
    />
  </div>
</div>
