<div class="feature-list">
  <div class="feature-banner active-link" [routerLink]="['/offers']">
    <img
      class="img-fluid desktopBanner"
      src="../../../../assets/offer-banner/Mobiikwik1.jpg"
      alt="Get Flat ₹ 250 Cashback from MobiKwik"
      title="Get Flat ₹ 250 Cashback from MobiKwik"
    />
    <img
      class="img-fluid mobileBanner"
      src="../../../../assets/offer-banner/Mobiikwik 320 110 3.jpg"
      alt="Get Flat ₹ 250 Cashback from MobiKwik"
      title="Get Flat ₹ 250 Cashback from MobiKwik"
    />
  </div>
</div>
