input:focus,
select:focus,
textarea:focus {
  outline: none;
  /* box-shadow: none !important; */
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px, rgb(0 0 0 / 8%) 0px 2px 8px;
  /* height: 30px; */
}

input::placeholder {
  font-size: 12px;
  color: #cecece;
}

.form-control.is-valid {
  background-image: none;
}

.addressDetailsHeading {
  margin-left: -26px;
}

.gstFieldSetting {
  margin-top: -10px;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.headingForForm {
  background-color: #FAFAFA;
}

textarea::placeholder {
  font-size: 12px;
  color: #cecece;
}

.paddReq {
  padding: 5px 65px;
}

.paddReq1 {
  padding: 0px 65px;
}

/* //cecece */

.headingTitle {
  margin-left: 20px;
  /* background-color: #FAFAFA; */
}

.addressHeading {
  margin-left: -38px;
  margin-top: 10px;
}

.summary {
  /* margin-left: 19px; */
  font-size: 16px;
  color: #0A0080;
  font-weight: 600;
}

/* .summaryBox {
  background-color: #F5F5F5;
} */

.summaryHeader {
  background-color: #F5F5F5;
  border: none;
  padding: 18px 15px;
}

.carousel-control-prev {
  left : -5px;
  /* color : black; */
}

.carousel-control-prev-icon {
  background-image: url(../../../assets/iconfinder_multimedia-04_2849832.png);
}

.carousel-control-next-icon {
  background-image: url(../../../assets/iconfinder_multimedia-03_2849833.png);
}

.summaryBody {
  padding: 0px 0px;
  /* border-bottom: 1px #000; */
}

.summaryFooter {
  padding: 0px 0px;
  background-color: #F5F5F5;
  /* border-top: 1px solid #888888; */
  box-shadow: #888888 0px -1px, #888888 0px 0px;
}

.summaryHeading {
  background-color: #FAFAFA;
}

.summaryHeadings {
  font-size: 13px;
  font-weight: 500;
}

.summaryData1 {
  font-size: 13px;
  font-weight: 450;
}

.summaryData {
  font-size: 13px;
  font-weight: 450;
}

.gstPart {
   margin-top: 25px;
}

input {
  border-radius: 5px;
  padding: 6px 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px, rgb(0 0 0 / 8%) 0px 2px 8px;
  /* border: 1px solid #ddd; */
  background-color: #fff;
  position: relative;
  line-height: 18px;
}

.btn-dark {
  background-color: #0C203C;
  border: none;
  color: #fff;
  font-weight: 550;
  /* border-radius: 25px; */
  padding: 4px 20px;
  font-size: 15px;
  cursor: pointer;
}

select {
  border-radius: 5px;
  padding: 6px 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px, rgb(0 0 0 / 8%) 0px 2px 8px;
  /* border: 1px solid #ddd; */
  background-color: #fff;
  position: relative;
  line-height: 18px;
}

label {
  margin-bottom: 0px !important;
}

.calendarSvg {
  fill: #6c757d;
}

.btn-outline-secondary.calendar:hover .calendarSvg {
  fill: #fff;
}

.invalid-feedback {
  font-size: 13px;
  color: #FF5252;
}

.form-control.is-invalid {
  /* background-color: #fce3e9 !important; */
  color: #a94442 !important;
  border: 1px solid #FEA0A0 !important;
  background-image: none;
}

/* !important is needed sometimes */
::-webkit-scrollbar {
  width: 1px !important;
  height: 4px !important;
}

/* Track */

/* Handle */

/* FIREFOX FIX OF UGLY SELECT BOXES */
@supports (-moz-appearance: none) {
  select {
    -moz-appearance: none !important;
    background: #fff
      url("data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==")
      right center no-repeat !important;
    background-position: calc(100% - 5px) center !important;
  }
}

select {
  font-size: 14px;
  padding-left: 3px;
}

table,
th,
td {
  border: none !important;
  border-collapse: collapse;
  padding: 5px;
  background: #f1f1f1;
  font-size: 14px;
}

.table {
  display: block !important;
  overflow-x: auto !important;
  width: 100% !important;
}

input,
textarea {
  font-size: 14px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px, rgb(0 0 0 / 8%) 0px 2px 8px;
}

input {
  height: 45px;
}

input[type=checkbox] {
  height: 16px;
}

select {
  height: 45px;
}

.desktopView {
  display: block;
}

.mobileView {
  display: none;
}

/* .summaryContainer { */
/* min-height: 200px; */
/* } */

button.calendar {
  padding: 2px 11px;
  border: none;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px, rgb(0 0 0 / 8%) 0px 2px 8px;
  height: 45px;
}
.grandLabel {
  padding-right: 150px;
  float: right !important;
  font-size: 16px !important;
  font-weight: 700;
}

.mail {
  margin-left: 20px;
}


.gender {
  margin-left: 20px;
}

.country {
  margin-left: 20px;
}

.activated {
  /* padding-left: 90px; */
  margin-left: 20px;
}

.formHeading {
  display: inline-flex;
}

#insrSummary {
  margin-top: 60px;
}

#insrSummary .container {
  /* #f1f1f1 */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  background-color: #f1f1f1;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
}

.headTitle {
  color: #0A0080;
  font-weight: 500;
  margin-top: 3px;
  font-size: 16px !important;
}

#insrSummary .planDetail {
  margin-top: 10px;
  /* color: gray; */
  font-size: 14px;
}

#insrSummary li {
  list-style: none;
}

#insrSummary li {
  list-style: none;
}

section {
  padding-top: 50px;
  padding-bottom: 10px;
}

/* .addressHeading {
  background-color: #CAD5E2
} */

.summaryDetail {
  /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4); */
  background-color: #F5F5F5;
  border: 1px solid #888888;
  border-radius: 5px;
  /* padding: 15px 20px 15px; */
  margin-top: 20px;
  box-shadow: #888888 0px 1px 2px, #888888 0px 2px 4px;
}

.TrvDetail {
  /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4); */
  background-color: #F5F5F5;
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 15px 15px 15px;
  margin-top: 20px;
  box-shadow: #888888 0px 1px 2px, #888888 0px 2px 4px;
}

.TrvDetail span {
  color: dodgerblue;
}

/* .gstLabel {
  color: #000;
  font-size: 12px;
  font-weight: 500;
} */

.TrvDetail label {
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

.form-check-inline {
  padding-left: 0px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #insrSummary .container {
    padding: 10px 10px 0px;
  }

  #insrSummary .planDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    /* color: gray; */
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #insrSummary .container {
    padding: 20px;
  }

  .summaryDetail {
    margin-top: 60px;
  }

  #insrSummary .planDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    /* color: gray; */
  }

  #insrSummary .container {
    border-radius: 10px;
  }
  .TrvDetail .container {
    border-radius: 0px;
  }

  .mail {
    margin-left: 0px;
  }

  .country {
    margin-left: 0px;
  }

  .activated {
    margin-left: 0px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #insrSummary .container {
    padding: 20px;
  }

  .summaryDetail {
    margin-top: 60px;
  }

  hr {
    margin-bottom: 6px !important;
  }

  .mobileTotal {
    margin-top: 0px;
  }

  .grandLabel {
    padding-right: 0px;
    float: left;
  }

  .grandTotal {
    width: 50%;
  }

  .insuranceBox {
    margin: 0px 20px !important;
  }

  .mail {
    margin-left: 0px;
  }

  #insrSummary .planDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    /* color: gray; */
  }

  #insrSummary .container {
    border-radius: 10px;
  }

  .TrvDetail .container {
    border-radius: 10px;
  }

  input,
  select,
  .input-group-append,
  textarea {
    margin-top: 2px;
  }

  .mail,
  .gender,
  .country {
    margin-left: 5px;
    margin-top: 10px;
  }

  .activated {
    margin-left: 0px !important;
    margin-top: 10px;
  }

  #insrSummary {
    margin-top: 100px;
  }
}

.insuranceBox {
  margin: 0px 50px;
}

@media (min-width: 380px) and (max-width: 480px) {
  #insrSummary .container,
  .TrvDetail .container {
    padding: 20px 0px;
    margin-left: 15px;
    /* margin-right: 10px; */
    width: 382px;
  }

  .summaryDetail {
    margin-top: 60px;
  }

  .form-check-inline {
    padding-left: 15px;
  }

  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .forMobileUseOnly {
    margin-left: 0px;
  }
}

@media (min-width: 351px) and (max-width: 379px) {
  #insrSummary .container,
  .TrvDetail .container {
    padding: 20px 0px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    width: 332px;
  }

  .summaryDetail {
    margin-top: 60px;
  }

  .form-check-inline {
    padding-left: 15px;
  }

  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .forMobileUseOnly {
    margin-left: 0px;
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  #insrSummary .container,
  .TrvDetail .container {
    padding: 10px 0px 10px;
    margin-left: 17px;
    /* margin-right: 10px; */
    width: 285px;
  }

  .summaryDetail {
    margin-top: 60px;
  }

  .form-check-inline {
    padding-left: 15px;
  }
  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .forMobileUseOnly {
    margin-left: 0px;
  }
}

@media screen and (max-width: 980px) and (min-width: 678px) {
  .mail {
    margin-left: 16px;
  }

  .country {
    padding-left: 2px;
  }

  .activated {
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .desktopView,
  .onlyMob {
    display: none;
  }

  .headingTitle {
    margin-left: 0px;
    /* background-color: #FAFAFA; */
  }

  .TrvDetail {
    /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4); */
    background-color: #F5F5F5;
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 15px 0px 15px;
    margin-top: 20px;
    box-shadow: #888888 0px 1px 2px, #888888 0px 2px 4px;
  }

  .summaryData1 {
    font-size: 12px;
    font-weight: 500;
  }

  .summary {
    margin-left: 0px;
    font-size: 16px;
    color: #0A0080;
    font-weight: 600;
  }

  .summaryHeader {
    background-color: #F5F5F5;
    border: none;
    padding: 10px 0px;
  }

  .paddReq {
    padding: 5px 0px;
  }

  .label_for_gst {
    margin-left: 15px;
  }

  .gstMobileAdjustment {
    margin-top: -6px;
    margin-left: 13px;
    margin-right: 15px;
  }

  .headTitle {
    color: #000080;
    /* background-color: #F5F5F5; */
    text-align: center;
    font-size: 16px !important;
  }

  .summaryHeadings {
    font-size: 13px;
    font-weight: 600;
  }

  .addressHeading {
    margin-left: 0px;
    text-align: center;
  }

  .summaryData {
    font-size: 12px;
    font-weight: 550;
  }

  .form-check-inline {
    padding-left: 15px;
  }

  .mobileView {
    display: block;
  }

  /* .paddReq {
    padding: 0px;
  } */

  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }
  .forMobileUseOnly {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  tr,
  th,
  label {
    font-size: 14px;
  }

  .form-check-inline {
    padding-left: 15px;
  }

  .grandLabel {
    font-size: 14px !important;
  }

  .totalPrice {
    font-size: 15px !important;
  }
  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .forMobileUseOnly {
    margin-left: 0px;
  }
}

@media screen and (width: 600px) {
  #insrSummary .container {
    border-radius: 10px;
  }

  .summaryDetail {
    margin-top: 20px;
  }

  .form-check-inline {
    padding-left: 15px;
  }
  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }
  .forMobileUseOnly {
    margin-left: 10px;
  }
}

.form-group {
  margin-bottom: 0px;
}

.field_space {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .field_space_mb {
    margin-bottom: 10px;
  }
}

.feature-list {
  margin: 5px auto 30px;
  position: relative !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  background-color: #fff;
  border-radius: 10px;
  width: 900px;
}

.feature-list .feature-banner.active-link {
  display: block;
  min-height: 100px;
  line-height: 0;
  cursor: pointer;
  text-decoration: none !important;
}

.feature-list .feature-banner.active-link:focus {
  outline: none;
  border: none;
}

.feature-list .feature-banner.active-link img {
  width: 900px;
  border-radius: 10px;
}

.desktopBanner {
  display: block;
}

.mobileBanner {
  display: none;
}

@media screen and (max-width: 600px) {
  .feature-list {
    margin: 5px auto 30px;
    position: relative !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    background-color: #fff;
    border-radius: 10px;
    width: 320px;
  }

  .feature-list .feature-banner.active-link {
    display: block;
    min-height: 87px;
    line-height: 0;
    cursor: pointer;
  }

  .feature-list .feature-banner.active-link img {
    width: 320px;
    border-radius: 10px;
  }

  .desktopBanner {
    display: none;
  }

  .mobileBanner {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .feature-list {
    margin: 5px auto 30px;
    position: relative !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    background-color: #fff;
    border-radius: 10px;
    width: 280px;
  }

  .feature-list .feature-banner.active-link {
    display: block;
    min-height: 87px;
    line-height: 0;
    cursor: pointer;
  }

  .feature-list .feature-banner.active-link img {
    width: 280px;
    border-radius: 10px;
  }
}
