<!-- <section id="insrSummary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 style="font-size: 16px; font-weight: 600">Summary</h3>
      </div>
      <div class="col-md-12">
        <div class="insurancePlan">
          <div class="desktopView">
            <table>
              <tr>
                <th width="25%">ITEM:</th>
                <th width="15%">QTY:</th>
                <th width="15%">PRICE:</th>
                <th width="15%">CONVENIENCE FEE:</th>
                <th width="10%">GST:</th>
                <th width="25%">Sub Total (Inclusive of taxes)</th>
              </tr>
              <tr *ngFor="let item of simCart">
                <td style="font-weight: 600">{{ item.planName }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                  &#x20B9; &nbsp;{{ item.priceWithoutGST | number: "1.0-2" }}
                </td>
                <td>&#x20B9; &nbsp;{{ item.convenienceFee }}</td>
                <td>&#x20B9; &nbsp;{{ item.gst }}</td>
                <td>
                  &#x20B9; &nbsp;{{
                    item.quantity *
                      (item.price +
                        item.convenienceFee +
                        item.convenienceFeeTAX) | number: "1.0-2"
                  }}
                </td>
              </tr>
            </table>
          </div>

          <div class="mobileView">
            <li style="font-weight: 550">
              Item<span class="float-right">{{ totalQty }}</span>
            </li>
            <li style="font-weight: 550">
              Grand Total<span class="float-right"
                >&#x20B9; &nbsp;{{ totalPrice | number: "1.0-2" }}</span
              >
            </li>
          </div>

          <div class="onlyMob">
            <hr
              style="
                border-top: 1px solid #000;
                margin-bottom: 0px;
                margin-top: 5px;
              "
            />
            <div class="row mobileTotal">
              <div class="col-md-9 col-sm-6 grandTotal">
                <div class="planDetail grandLabel">
                  <li>GRAND TOTAL</li>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 grandTotal">
                <div
                  class="planDetail"
                  style="font-size: 18px; font-weight: 700"
                >
                  <li class="totalPrice">
                    <span>&#x20B9; &nbsp;</span
                    >{{ totalPrice | number: "1.0-2" }}
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="wrap mt-3 mobileView"
    style="background: #fff; padding: 0px; margin: 0px 20px"
  >
    <div class="row">
      <div class="col-12 p-0">
        <div style="margin-top: 5px">
          <div class="collapse mb-2" id="collapseExample">
            <div class="table-responsive">
              <table
                class="table"
                style="
                  width: 600px !important;
                  margin-bottom: 5px !important;
                  overflow: sroll;
                "
              >
                <thead>
                  <tr>
                    <th
                      style="
                        width: 120px;
                        vertical-align: top;
                        padding-left: 12px;
                      "
                    >
                      ITEM
                    </th>
                    <th style="width: 50px; vertical-align: top">QTY</th>
                    <th style="width: 90px; vertical-align: top">PRICE</th>
                    <th style="width: 120px; vertical-align: top">
                      CONVENIENCE FEE
                    </th>
                    <th style="width: 80px; vertical-align: top">GST</th>
                    <th style="width: 110px; vertical-align: top">
                      SUB TOTAL<br />(Inc. Of Taxes)
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of simCart">
                    <td style="padding-left: 12px">{{ item.planName }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                      &#x20B9; &nbsp;{{
                        item.priceWithoutGST | number: "1.0-2"
                      }}
                    </td>
                    <td>&#x20B9; &nbsp;{{ item.convenienceFee }}</td>
                    <td>&#x20B9; &nbsp;{{ item.gst }}</td>
                    <td>
                      &#x20B9; &nbsp;{{
                        item.quantity *
                          (item.price +
                            item.convenienceFee +
                            item.convenienceFeeTAX) | number: "1.0-2"
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p>
            <button
              class="btn btn-success btn-sm"
              style="border-radius: 20px; float: right"
              type="button"
              data-toggle="collapse"
              (click)="expand()"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Details
              <span class="ml-2" *ngIf="expandTable">
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="10px"
                  height="10px"
                  viewBox="0 0 970.586 970.586"
                  fill="#fff"
                  style="
                    enable-background: new 0 0 970.586 970.586;
                    margin-top: -2px;
                  "
                  xml:space="preserve"
                >
                  <g>
                    <path
                      d="M44.177,220.307l363.9,296.4c22.101,18,48.9,27,75.8,27c26.901,0,53.701-9,75.801-27l366.699-298.7
		c51.4-41.9,59.101-117.4,17.2-168.8c-41.8-51.4-117.399-59.1-168.8-17.3l-290.901,237l-288.1-234.7c-51.4-41.8-127-34.1-168.8,17.3
		C-14.923,102.907-7.123,178.407,44.177,220.307z"
                    />
                    <path
                      d="M44.177,642.207l363.9,296.399c22.101,18,48.9,27,75.8,27c26.901,0,53.701-9,75.801-27l366.699-298.7
		c51.4-41.899,59.101-117.399,17.2-168.8c-41.899-51.399-117.399-59.1-168.8-17.2l-290.901,236.9l-288.1-234.6
		c-51.4-41.9-127-34.101-168.8,17.199C-14.923,524.807-7.123,600.406,44.177,642.207z"
                    />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </span>
              <span class="ml-2" *ngIf="!expandTable">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1"
                  id="Capa_1"
                  x="0px"
                  y="0px"
                  width="10px"
                  height="10px"
                  viewBox="0 0 970.504 970.503"
                  style="enable-background: new 0 0 970.504 970.503"
                  xml:space="preserve"
                  class="hovered-paths"
                >
                  <g>
                    <g>
                      <path
                        d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27   c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5   c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"
                        data-original="#000000"
                        class="hovered-path active-path"
                        data-old_color="#000000"
                        fill="#FFFFFF"
                      />
                      <path
                        d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27   c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4   c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"
                        data-original="#000000"
                        class="hovered-path active-path"
                        data-old_color="#000000"
                        fill="#FFFFFF"
                      />
                    </g>
                  </g>
                </svg>
              </span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="" style="margin-bottom: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-4 mobileView">
        <div class="card summaryDetail">
          <div class="card-header summaryHeader text-center">
            <div class="row">
              <div class="col-md-12 summaryHeading">
                  <div class="summaryBox">
                    <span class="summary">Summary</span>
                  </div>
              </div>
            </div>
          </div>

          <div class="card-body summaryBody">
            <div style="width: 100%;">
               <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let item of simCart; let index = index; let isFirst=first" [ngClass]="{active:isFirst}">
                      <div class="col-lg-12 text-center">
                        <span class="summaryHeadings">Item: </span>
                        <p class="summaryData1">{{ item.planName }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                        <span class="summaryHeadings">Qty: </span>
                        <p class="summaryData1">{{ item.quantity }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                        <span class="summaryHeadings">Price: </span>
                        <p class="summaryData1"> &#x20B9; {{ item.priceWithoutGST | number: "1.0-2" }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                        <span class="summaryHeadings">Convenience Fee: </span>
                        <p class="summaryData1">&#x20B9; {{ item.convenienceFee }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                        <span class="summaryHeadings">GST: </span>
                        <p class="summaryData1">&#x20B9; {{ item.gst }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                        <span class="summaryHeadings">Sub Total (Inclusive of taxes)</span>
                        <p class="summaryData1">&#x20B9; {{
                          item.quantity *
                            (item.price +
                              item.convenienceFee +
                              item.convenienceFeeTAX) | number: "1.0-2"
                        }}</p>
                      </div>
                  </div>
                  </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-footer summaryFooter text-center">
            <div class="col-lg-12">
              <span class="summaryHeadings">GRAND TOTAL</span>
              <p class="summaryData">&#x20B9; {{ totalPrice | number: "1.0-2" }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 TrvDetail">
        <div class="row">
          <div class="col-md-12 headingForForm">
            <p
              class="headTitle lead font-weight-bold mb-1 headingTitle"
              style="text-transform: uppercase"
            >
              Traveller Detail
            </p>
          </div>
        </div>
        <form [formGroup]="simCheckoutForm">
          <div class="row">
            <div class="col-md-12 paddReq">
                <div class="form-row form-group forMobile">
                  <div class="col-md-6 field_space">
                    <label for="" class="">First Name:</label>
                    <input
                      formControlName="firstName"
                      pattern="[A-Za-z]{3,32}"
                      type="text"
                      autocomplete="new-name"
                      [ngClass]="{
                        'is-invalid':
                          (simCheckoutForm.get('firstName').invalid &&
                            simCheckoutForm.get('firstName').dirty) ||
                          (simCheckoutForm.get('firstName').pristine && errorMessage),
                        'is-valid':
                          !(
                            simCheckoutForm.get('firstName').invalid &&
                            simCheckoutForm.get('firstName').dirty
                          ) && !simCheckoutForm.get('firstName').pristine
                      }"
                      class="form-control form-control-sm trvName"
                      placeholder="Enter your first name"
                      (keypress)="onlyForError($event)"
                    />
                    <div *ngIf="simCheckoutForm.get('firstName').errors"
                          class="invalid-feedback" style="display: block;">
                          <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                          <div *ngIf="errorMessageFirstName">Enter a valid first name</div>
                          <div *ngIf="simCheckoutForm.get('firstName').errors.pattern">Invalid first name</div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-3">
                        <label for="" class="">First Name:</label>
                      </div>
                      <div class="col-md-6">
                        <input formControlName="firstName" pattern="[A-Za-z]{3,32}" type="text" autocomplete="new-name"
                          [ngClass]="{
                          'is-invalid':(simCheckoutForm.get('firstName').invalid && simCheckoutForm.get('firstName').dirty) ||
                          (simCheckoutForm.get('firstName').pristine && errorMessage),
                          'is-valid':!(simCheckoutForm.get('firstName').invalid && simCheckoutForm.get('firstName').dirty)
                          && !simCheckoutForm.get('firstName').pristine}"
                          class="form-control form-control-sm trvName" placeholder="First name" />
                        <div *ngIf="(simCheckoutForm.get('firstName').invalid && simCheckoutForm.get('firstName').dirty)
                        || (simCheckoutForm.get('firstName').pristine && errorMessage)"
                          class="invalid-feedback" style="display: block;">
                          Please enter valid First Name
                        </div>
                      </div>


                    </div> -->
                  </div>
                  <!-- <div class="col-md-1 field_space"></div> -->
                  <div class="col-md-6 field_space">
                    <label for="" class="">Last Name:</label>
                    <input
                      formControlName="lastName"
                      pattern="[A-Za-z]{3,32}"
                      type="text"
                      autocomplete="new-name"
                      class="form-control form-control-sm trvName"
                      placeholder="Enter your last name"
                      [ngClass]="{
                        'is-invalid':
                          (simCheckoutForm.get('lastName').invalid &&
                            simCheckoutForm.get('lastName').dirty) ||
                          (simCheckoutForm.get('lastName').pristine && errorMessage),
                        'is-valid':
                          !(
                            simCheckoutForm.get('lastName').invalid &&
                            simCheckoutForm.get('lastName').dirty
                          ) && !simCheckoutForm.get('lastName').pristine
                      }"
                      (keypress)="onlyForLastNameError($event)"
                    />
                    <div *ngIf="simCheckoutForm.get('lastName').errors"
                          class="invalid-feedback" style="display: block;">
                          <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                          <div *ngIf="errorMessageLastName">Enter a valid last name</div>
                          <div *ngIf="simCheckoutForm.get('lastName').errors.pattern">Invalid last name</div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-4 gender">
                        <label for="" class="">Last Name:</label>
                      </div>
                      <div class="col-md-6">
                        <input formControlName="lastName" pattern="[A-Za-z]{3,32}" type="text" autocomplete="new-name"
                          class="form-control form-control-sm trvName" placeholder="Last name"
                          [ngClass]="{
                          'is-invalid':(simCheckoutForm.get('lastName').invalid && simCheckoutForm.get('lastName').dirty) ||
                          (simCheckoutForm.get('lastName').pristine && errorMessage),
                          'is-valid':!(simCheckoutForm.get('lastName').invalid && simCheckoutForm.get('lastName').dirty)
                          && !simCheckoutForm.get('lastName').pristine}" />
                        <div *ngIf="(simCheckoutForm.get('lastName').invalid && simCheckoutForm.get('lastName').dirty)
                        || (simCheckoutForm.get('lastName').pristine && errorMessage)"
                          class="invalid-feedback" style="display: block;">
                          Please enter valid First Name
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="form-row form-group forMobile">
                  <div class="col-md-6 field_space">
                    <label for="" class="">Gender:</label>
                    <select
                      formControlName="gender"
                      class="form-control form-control-sm"
                    >
                      <option selected value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                  <div class="col-md-6 field_space">
                    <label for="" class="">Passport No:</label>
                    <input
                      formControlName="passport"
                      pattern="^[A-Za-z]{1}[0-9]{7}$"
                      type="text"
                      autocomplete="new-name"
                      [ngClass]="{
                        'is-invalid':
                          (simCheckoutForm.get('passport').invalid &&
                            simCheckoutForm.get('passport').dirty) ||
                          (simCheckoutForm.get('passport').pristine && errorMessage),
                        'is-valid':
                          !(
                            simCheckoutForm.get('passport').invalid &&
                            simCheckoutForm.get('passport').dirty
                          ) && !simCheckoutForm.get('passport').pristine
                      }"
                      class="form-control form-control-sm"
                      placeholder="Enter your passport no"
                      (keypress)="onlyForPassportError($event)"
                    />
                    <div *ngIf="simCheckoutForm.get('passport').errors"
                          class="invalid-feedback" style="display: block;">
                          <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                          <div *ngIf="errorMessagePassportNumber">Enter a valid passport number</div>
                          <div *ngIf="simCheckoutForm.get('passport').errors.pattern">Invalid passport number</div>
                    </div>
                  </div>
                </div>

                <div class="form-row form-group forMobile">
                  <div class="col-md-6">
                    <label for="" class="">Mobile:</label>
                    <input
                      formControlName="cell"
                      pattern="^[4-9][0-9]{9}$"
                      autocomplete="new-name"
                      [ngClass]="{
                        'is-invalid':
                          (simCheckoutForm.get('cell').invalid &&
                            simCheckoutForm.get('cell').dirty) ||
                          (simCheckoutForm.get('cell').pristine && errorMessage),
                        'is-valid':
                          !(
                            simCheckoutForm.get('cell').invalid &&
                            simCheckoutForm.get('cell').dirty
                          ) && !simCheckoutForm.get('cell').pristine
                      }"
                      type="tel"
                      class="form-control form-control-sm"
                      placeholder="Enter your mobile no"
                      maxlength="10"
                      (keypress)="onlyForMobileNumberError($event)"
                    />
                    <div *ngIf="simCheckoutForm.get('cell').errors"
                          class="invalid-feedback" style="display: block;">
                          <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                          <div *ngIf="errorMessageMobileNumber">Enter valid Mobile Number</div>
                          <div *ngIf="simCheckoutForm.get('cell').errors.pattern">invalid Phone Number</div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-3">
                        <label for="" class="">Mobile:</label>
                      </div>

                      <div class="col-md-6">
                        <input formControlName="cell" pattern="^[4-9][0-9]{9}$" autocomplete="new-name"
                          [ngClass]="{
                          'is-invalid':simCheckoutForm.get('cell').invalid && simCheckoutForm.get('cell').dirty ||
                          (simCheckoutForm.get('cell').pristine && errorMessage),
                          'is-valid':!(simCheckoutForm.get('cell').invalid && simCheckoutForm.get('cell').dirty)
                          && !simCheckoutForm.get('cell').pristine}"
                          type="tel" class="form-control form-control-sm" placeholder="Mobile Number" />
                        <div *ngIf="(simCheckoutForm.get('cell').invalid && simCheckoutForm.get('cell').dirty)
                        || (simCheckoutForm.get('cell').pristine && errorMessage)"
                          class="invalid-feedback" style="display: block;">
                          Please enter valid Mobile Number
                        </div>
                      </div>
                    </div> -->
                  </div>

                  <div class="col-md-6 field_space">
                    <label for="" class="">Email:</label>
                    <input
                      formControlName="emailId"
                      autocomplete="new-name"
                      pattern="^([A-Za-z0-9._%\+\-]+@[a-z0-9.\-]+\.[a-z]{2,3})$"
                      type="text"
                      [ngClass]="{
                        'is-invalid':
                          (simCheckoutForm.get('emailId').invalid &&
                            simCheckoutForm.get('emailId').dirty) ||
                          (simCheckoutForm.get('emailId').pristine && errorMessage),
                        'is-valid':
                          !(
                            simCheckoutForm.get('emailId').invalid &&
                            simCheckoutForm.get('emailId').dirty
                          ) && !simCheckoutForm.get('emailId').pristine
                      }"
                      class="form-control form-control-sm"
                      placeholder="Enter your email address"
                      (keypress)="onlyForEmailIdError($event)"
                    />
                    <div *ngIf="simCheckoutForm.get('emailId').errors"
                          class="invalid-feedback" style="display: block;">
                          <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                          <div *ngIf="errorMessageEmaildId">Enter valid email id</div>
                          <div *ngIf="simCheckoutForm.get('emailId').errors.pattern">invalid email id</div>
                    </div>
                    <!-- <div class="row">

                      <div class="col-md-4 mail">
                        <label for="" class="">Email:</label>
                      </div>

                      <div class="col-md-6">
                        <input formControlName="emailId" autocomplete="new-name"
                          pattern="^([A-Za-z0-9._%\+\-]+@[a-z0-9.\-]+\.[a-z]{2,3})$"
                          type="text"
                          [ngClass]="{
                          'is-invalid':(simCheckoutForm.get('emailId').invalid && simCheckoutForm.get('emailId').dirty)
                          || (simCheckoutForm.get('emailId').pristine && errorMessage),
                          'is-valid':!(simCheckoutForm.get('emailId').invalid && simCheckoutForm.get('emailId').dirty)
                          && !simCheckoutForm.get('emailId').pristine}"
                          class="form-control form-control-sm" placeholder="Email" />
                        <div *ngIf="(simCheckoutForm.get('emailId').invalid && simCheckoutForm.get('emailId').dirty)
                        || (simCheckoutForm.get('emailId').pristine && errorMessage)"
                          class="invalid-feedback" style="display: block;">
                          Please enter valid Email Id
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>

                <div class="form-row form-group forMobile">
                  <div class="col-md-6 field_space">
                    <label for="" class="">Date of Birth:</label>
                    <div class="input-group">
                      <input
                        [minDate]="{ year: 1930, month: 1, day: 1 }"
                        [maxDate]="maxDateDob"
                        formControlName="dateOfBirth"
                        autocomplete="new-name"
                        id="#dob"
                        class="form-control form-control-sm addTravelDate"
                        placeholder="Date of birth"
                        name="dob"
                        ngbDatepicker
                        #dob="ngbDatepicker"
                        (click)="dob.toggle()"
                        readonly="readonly"
                        [ngClass]="{
                          'is-invalid':
                            (simCheckoutForm.get('dateOfBirth').invalid &&
                              simCheckoutForm.get('dateOfBirth').dirty) ||
                            (simCheckoutForm.get('dateOfBirth').pristine &&
                              errorMessage),
                          'is-valid':
                            !(
                              simCheckoutForm.get('dateOfBirth').invalid &&
                              simCheckoutForm.get('dateOfBirth').dirty
                            ) && !simCheckoutForm.get('dateOfBirth').pristine
                        }"
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-sm btn-outline-secondary calendar"
                          (click)="dob.toggle()"
                          type="button"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            class="calendarSvg"
                            width="18px"
                            height="18px"
                          >
                            <path
                              d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"
                            />
                            <path d="M0 0h24v24H0z" fill="none" />
                          </svg>
                        </button>
                      </div>
                      <div *ngIf="(simCheckoutForm.get('dateOfBirth').invalid && simCheckoutForm.get('dateOfBirth').dirty)
                        || (simCheckoutForm.get('dateOfBirth').pristine && errorMessage)"
                          class="invalid-feedback" style="display: block;">
                          Select date of birth
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 field_space">
                    <label for="" class="">Sim To Be Activated On:</label>
                    <div class="input-group">
                      <input
                        formControlName="simActivationDate"
                        id="#activated"
                        class="form-control form-control-sm"
                        placeholder="Select Date"
                        autocomplete="new-name"
                        name="activated"
                        [minDate]="minDate"
                        [maxDate]="maxTravelDate"
                        ngbDatepicker
                        #activated="ngbDatepicker"
                        (click)="activated.toggle()"
                        readonly="readonly"
                        [ngClass]="{
                          'is-invalid':
                            (simCheckoutForm.get('simActivationDate').invalid &&
                              simCheckoutForm.get('simActivationDate').dirty) ||
                            (simCheckoutForm.get('simActivationDate').pristine &&
                              errorMessage),
                          'is-valid':
                            !(
                              simCheckoutForm.get('simActivationDate').invalid &&
                              simCheckoutForm.get('simActivationDate').dirty
                            ) && !simCheckoutForm.get('simActivationDate').pristine
                        }"
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary calendar"
                          (click)="activated.toggle()"
                          type="button"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="18px"
                            height="18px"
                            class="calendarSvg"
                          >
                            <path
                              d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"
                            />
                            <path d="M0 0h24v24H0z" fill="none" />
                          </svg>
                        </button>
                      </div>
                      <div *ngIf="(simCheckoutForm.get('simActivationDate').invalid && simCheckoutForm.get('simActivationDate').dirty)
                        || (simCheckoutForm.get('simActivationDate').pristine && errorMessage)"
                          class="invalid-feedback" style="display: block;">
                          Select activation date
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="form-row addressHeading"> -->
              <div class="col-md-12 paddReq1 headingForForm">
                <p
                  class="headTitle lead font-weight-bold addressDetailsHeading forMobileUseOnly mb-1"
                  style="text-transform: uppercase"
                >
                  Address Detail
                </p>
              </div>
            <!-- </div> -->
          </div>
          <div class="row">
            <div class="col-md-12 paddReq">
                <div class="form-row form-group forMobile">
                  <div class="col-md-12 field_space">
                    <label for="exampleFormControlInput1">Address:</label>
                    <textarea
                      formControlName="address"
                      pattern="^[ A-Za-z0-9-:./,]*$"
                      minlength="10"
                      maxlength="400"
                      [ngClass]="{
                        'is-invalid':
                          (simCheckoutForm.get('address').invalid &&
                            simCheckoutForm.get('address').dirty) ||
                          (simCheckoutForm.get('address').pristine &&
                            errorMessage),
                        'is-valid':
                          !(
                            simCheckoutForm.get('address').invalid &&
                            simCheckoutForm.get('address').dirty
                          ) && !simCheckoutForm.get('address').pristine
                      }"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="4"
                      placeholder="Enter your address"
                      (keypress)="onlyForAddressError($event)"
                    ></textarea>
                    <div *ngIf="simCheckoutForm.get('address').errors"
                          class="invalid-feedback" style="display: block;">
                          <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                          <div *ngIf="errorMessageAddess">Enter a valid address</div>
                          <div *ngIf="simCheckoutForm.get('address').errors.pattern">Invalid address</div>
                    </div>
                  </div>
                </div>

                <div class="form-row form-group forMobile">
                  <div class="col-md-6 field_space">
                    <label for="" class="">City:</label>
                    <input
                      formControlName="city"
                      autocomplete="new-name"
                      pattern="^[ a-zA-Z]*$"
                      type="text"
                      minlength="3"
                      [ngClass]="{
                        'is-invalid':
                          (simCheckoutForm.get('city').invalid &&
                            simCheckoutForm.get('city').dirty) ||
                          (simCheckoutForm.get('city').pristine &&
                            errorMessage),
                        'is-valid':
                          !(
                            simCheckoutForm.get('city').invalid &&
                            simCheckoutForm.get('city').dirty
                          ) && !simCheckoutForm.get('city').pristine
                      }"
                      class="form-control form-control-sm trvName"
                      placeholder="Enter your city"
                      (keypress)="onlyForCityError($event)"
                    />
                    <div *ngIf="simCheckoutForm.get('city').errors"
                    class="invalid-feedback" style="display: block;">
                    <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                      <div *ngIf="errorMessageCity">Enter a valid city</div>
                      <div *ngIf="simCheckoutForm.get('city').errors.pattern">Invalid city</div>
                    </div>
                  </div>
                  <div class="col-md-6 field_space">
                    <label for="exampleInputPassword1">State:</label>
                    <ng-select
                      formControlName="state"
                      placeholder="Select State"
                      (change)="stateChanged($event)"
                    >
                      <ng-option
                        *ngFor="let state of stateListArr"
                        [value]="state"
                      >
                        {{ state }}
                      </ng-option>
                    </ng-select>
                    <div
                      *ngIf="
                        simCheckoutForm.controls.state.errors?.valueErr ||
                        stateError
                      "
                      class="invalid-feedback"
                      style="display: block"
                    >
                      Select a valid state
                    </div>
                    <!-- <select formControlName="state" id="inputState" class="form-control col form-control-sm">
                      <option selected value="select" [disabled]="true" [selected]="true">Select State</option>
                      <option value="Andaman And Nicobar Islands">Andaman and Nicobar Islands</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                      <option value="Assam">Assam</option>
                      <option value="Bihar">Bihar</option>
                      <option value="Chhattisgarh">Chhattisgarh</option>
                      <option value="Chandigarh">Chandigarh</option>
                      <option value="Dadar And Nagar Haveli">Dadar and Nagar Haveli</option>
                      <option value="Daman">Daman and Diu</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Goa">Goa</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                      <option value="Jammu And Kashmir">Jammu and Kashmir</option>
                      <option value="Jharkhand">Jharkhand</option>
                      <option value="Karnataka">Karnataka</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Lakshadweep">Lakshadweep</option>
                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Manipur">Manipur</option>
                      <option value="Meghalaya">Meghalaya</option>
                      <option value="Mizoram">Mizoram</option>
                      <option value="Nagaland">Nagaland</option>
                      <option value="Odisha">Odisha</option>
                      <option value="Punjab">Punjab</option>
                      <option value="Puducherry">Puducherry</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Sikkim">Sikkim</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Telangana">Telangana</option>
                      <option value="Tripura">Tripura</option>
                      <option value="Uttar">Uttar Pradesh</option>
                      <option value="Uttarakhand">Uttarakhand</option>
                      <option value="West Bengal">West Bengal</option>
                    </select> -->
                  </div>
                </div>

                <div class="form-row form-group forMobile">
                  <div class="col-md-6 field_space_mb">
                    <label for="exampleInputPassword1">Pin Code:</label>
                    <input
                      type="text"
                      autocomplete="new-name"
                      pattern="^[1-9][0-9]{5}$"
                      formControlName="pinCode"
                      class="form-control form-control-sm col"
                      id="exampleInputPassword1"
                      placeholder="Enter your pincode"
                      [ngClass]="{
                        'is-invalid':
                          (simCheckoutForm.get('pinCode').invalid &&
                            simCheckoutForm.get('pinCode').dirty) ||
                          (simCheckoutForm.get('pinCode').pristine &&
                            errorMessage),
                        'is-valid':
                          !(
                            simCheckoutForm.get('pinCode').invalid &&
                            simCheckoutForm.get('pinCode').dirty
                          ) && !simCheckoutForm.get('pinCode').pristine
                      }"
                      (keypress)="onlyForPincodeError($event)"
                    />
                    <div *ngIf="simCheckoutForm.get('pinCode').errors"
                    class="invalid-feedback" style="display: block;">
                    <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                    <div *ngIf="errorMessagePincode">Enter a valid pincode</div>
                    <div *ngIf="simCheckoutForm.get('pinCode').errors.pattern">Invalid pincode</div>
                    </div>
                  </div>
                  <div class="col-md-6 field_space_mb">
                    <label for="" class="">Country:</label>
                    <input
                      disabled
                      autocomplete="new-name"
                      formControlName="country"
                      type="text"
                      style="font-weight: 700"
                      class="form-control form-control-sm trvName"
                      placeholder="Country"
                    />
                    <div
                      *ngIf="
                        simCheckoutForm.get('country').invalid &&
                        simCheckoutForm.get('country').dirty
                      "
                      class="invalid-feedback"
                      style="display: block"
                    >
                      Please enter valid Country
                    </div>
                  </div>
                </div>
                <form [formGroup]="gstOption">
                  <div class="form-row form-group gstPart">
                    <div class="col-md-4 field_space_mb">
                      <div class="form-check form-check-inline">
                        <input
                          formControlName="gstOptionResult"
                          class="form-check-input"
                          type="checkbox"
                          name="inlineRadioOptions"
                          autocomplete="new-name"
                          id="inlineRadio1"
                        />
                        <label
                          class="form-check-label"
                          for="inlineRadio1"
                          style="font-size: 13px"
                          >Have GST Number ?</label
                        >
                      </div>
                    </div>
                    <div class="col-md-2 field_space_mb label_for_gst" *ngIf="gstOption.get('gstOptionResult').value === true">
                      <label for="gstNumber" class="gstLabel">GST Number:</label>
                    </div>
                    <div class="col-md-6 field_space_mb gstFieldSetting gstMobileAdjustment" *ngIf="gstOption.get('gstOptionResult').value === true">
                        <input
                      formControlName="gstNumber"
                      autocomplete="new-name"
                      type="text"
                      id="gstNumber"
                      pattern="^[A-Za-z0-9]*$"
                      [ngClass]="{
                        'is-invalid':
                          simCheckoutForm.get('gstNumber').invalid &&
                          simCheckoutForm.get('gstNumber').dirty,
                        'is-valid':
                          !(
                            simCheckoutForm.get('gstNumber').invalid &&
                            simCheckoutForm.get('gstNumber').dirty
                          ) && !simCheckoutForm.get('gstNumber').pristine
                      }"
                      class="form-control form-control-sm trvName"
                      placeholder="Enter your GST Number"
                      (keypress)="onlyForGSTError($event)"
                        />
                        <div *ngIf="simCheckoutForm.get('gstNumber').errors"
                        class="invalid-feedback" style="display: block;">
                        <!-- <div *ngIf="simCheckoutForm.get('cell').pristine && errorMessage">Contact Number is Required</div> -->
                        <div *ngIf="errorMessageGST">Enter a valid GST number</div>
                        <div *ngIf="simCheckoutForm.get('gstNumber').errors.pattern">invalid GST</div>
                  </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 paddReq">
              <div class="d-flex justify-content-center mt-3">
                <div class="form-row form-group">
                  <div class="col-md-12">
                    <button
                      (click)="submitForm()"
                      class="btn btn-dark btn-sm"
                      style="width: 200px"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="col-md-1 col-lg-1"></div> -->
      <div class="col-md-5 col-lg-4 desktopView">
        <div class="card summaryDetail">
          <div class="card-header summaryHeader text-center">
            <div class="row">
              <div class="col-md-12 summaryHeading">
                  <div class="summaryBox">
                    <span class="summary">Summary</span>
                  </div>
              </div>
            </div>
          </div>
          <div id="carouselDeskstopControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let item of simCart; let index = index;" [ngClass]="{active: index == 0}">
                  <div class="card-body summaryBody">
                    <div style="width: 100%;">
                      <div class="col-lg-12 text-center">
                        <span class="summaryHeadings">Item: </span>
                        <p class="summaryData1">{{ item.planName }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                            <span class="summaryHeadings">Qty: </span>
                            <p class="summaryData1">{{ item.quantity }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                            <span class="summaryHeadings">Price: </span>
                            <p class="summaryData1"> &#x20B9; {{ item.priceWithoutGST | number: "1.0-2" }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                            <span class="summaryHeadings">Convenience Fee: </span>
                            <p class="summaryData1">&#x20B9; {{ item.convenienceFee }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                            <span class="summaryHeadings">GST: </span>
                            <p class="summaryData1">&#x20B9; {{ item.gst }}</p>
                      </div>
                      <div class="col-lg-12 text-center">
                            <span class="summaryHeadings">Sub Total (Inclusive of taxes)</span>
                            <p class="summaryData1">&#x20B9; {{
                              item.quantity *
                                (item.price +
                                  item.convenienceFee +
                                  item.convenienceFeeTAX) | number: "1.0-2"
                            }}</p>
                      </div>
                  </div>
                  </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselDeskstopControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselDeskstopControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-footer text-center summaryFooter">
            <div class="col-lg-12">
              <span class="summaryHeadings">GRAND TOTAL</span>
              <p class="summaryData">&#x20B9; {{ totalPrice | number: "1.0-2" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="details">
  <div class="container">
    <div class="form-row">
      <div class="col-12 p-0">
        <p class="lead" style="font-size: 12px; margin-bottom: 2px">
          <span class="asterisk">*</span> All sales are final and in case of a
          cancellation request, a fee of Rs.500 would be charged per sim card
          ordered.
        </p>
        <p class="lead" style="font-size: 12px">
          <span class="asterisk">*</span> Orders booked will be delivered only
          in India.
        </p>
      </div>
    </div>
  </div>
</section>


<div style="display: none">
  <form name="paymentForm" ngNoForm [action]="paymentUrl" method="POST">
    <input
      type="text"
      name="buyerEmail"
      id="buyerEmail"
      [(ngModel)]="buyerEmail"
    />
    <input type="text" name="orderId" id="orderId" [(ngModel)]="orderId" />
    <input type="text" name="amount" id="amount" [(ngModel)]="amount" />
    <input type="text" name="currency" id="currency" [(ngModel)]="currency" />
    <input
      type="text"
      name="merchantIdentifier"
      id="merchantIdentifier"
      [(ngModel)]="merchantIdentifier"
    />
    <input
      type="text"
      name="returnUrl"
      id="returnUrl"
      [(ngModel)]="returnUrl"
    />
    <input type="text" name="checksum" id="checksum" [(ngModel)]="checksum" />
  </form>
</div>

