* {
    margin: 0;
    padding: 0;
  }

  .row {
    margin-right: 0px;
  }

  .grandLabel {
    padding-right: 150px;
    float: right !important;
  }

  body {
    /* background: url(./img/generic.png); */
    background-attachment: fixed;
    height: 100vh;
    background-position: center center;
    background-size: cover;
  }

  .mail {
    margin-left: 40px;
  }

  #insrSummary .container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }

  #insrSummary .heading {
    color: #000080;
    font-size: 16px;
  }

  #insrSummary .planDetail {
    margin-top: 10px;
    color: gray;
    font-size: 14px;
  }

  #insrSummary li {
    list-style: none;
  }

  #insrSummary li {
    list-style: none;
  }

  section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .TrvDetail .container {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 20px 20px 0px;
    margin-top: 20px;
  }

  .TrvDetail span {
    color: dodgerblue;
  }

  .TrvDetail label {
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }

  .TrvDetail label {
    font-size: 14px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    #insrSummary .container {
      padding: 10px;
    }

    #insrSummary .col-lg-2 {
      border-left: none;
      height: 70px;
    }

    #insrSummary .planDetail {
      margin-top: 2px;
      margin-bottom: 20px;
      color: gray;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    #insrSummary .container {
      padding: 20px;
    }

    #insrSummary .col-lg-2 {
      border-left: none;
      height: 80px;
    }

    #insrSummary .planDetail {
      margin-top: 2px;
      margin-bottom: 20px;
      color: gray;
    }

    #insrSummary .container {
      border-radius: 10px;
    }
    .TrvDetail .container {
      border-radius: 0px;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    #insrSummary .container {
      padding: 20px;
    }

    .grandLabel {
      padding-right: 0px;
      float: left;
    }

    .grandTotal {
      width: 50%;
    }

    .insuranceBox {
      margin: 0px 20px !important;
    }

    .mail {
      margin-left: 0px;
    }


    #insrSummary .planDetail {
      margin-top: 2px;
      margin-bottom: 20px;
      color: gray;
    }

    #insrSummary .changeBtn {
      margin-top: 2px;
    }

    #insrSummary .container {
      border-radius: 0px;
    }

    .TrvDetail .container {
      border-radius: 0px;
    }

    .TrvDetail .form-row input.trvName {
      margin-top: 8px;
    }
  }

  .header {
    background: #000080;
  }

  .header .container {
    padding: 5px 0px;
  }

  .header .pull-left {
    float: left !important;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }

  .header .pull-right {
    float: right;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }

  .logo .pull-left img {
    vertical-align: middle;
  }

  .logo .pull-right p {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 100%;
  }

  .logo .pull-right p.cell {
    font-size: 22px;
  }
  
  .insuranceBox {
    margin: 0px 50px;
  }