.blurry-bg {
  /* position: absolute; */
  width: 100%;
  /* bottom: 0; */
  background: #0e1360;
  padding: 15px 0;
}

.complex-boxing {
  display: flex;
  justify-content: space-evenly;
}

.dateOfTravelContainer .invalid-feedback {
  color: #F1A600 !important;
}

/* .blurry-bg:after {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  left: -12px;
  right: 0;
  top: 5px;
  bottom: 0;
  filter: blur(10px);
} */

.box {
  z-index: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-info {
  text-align: center;
}

input,
select,
textarea,
.custom-file-label,
.custom-file-input {
  border-color: #9c9c9c;
  font-size: 14px;
}

.astrisk {
  color: red;
}

.breadcrumSection .breadcrum {
  font-size: 12px;
}

.breadcrumSection .breadcrum a {
  font-weight: 500;
  color: #000080;
}

input:focus,
select:focus,
textarea:focus,
.custom-file-input:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dateOfTravelContainer {
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  text-align: right;
  align-items: center;
}

.dateOfTravelContainer label {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: bold;
  width: 170px;
}

.dateOfTravelContainer .form-group {
  margin-bottom: 0px;
  margin-left: 10px;
}

.addPassengerContainer {
  padding-top: 30px;
}

.proceedToPayment {
  padding-bottom: 30px;
}

.addPassengerContainer,
.addPassengerForm,
.valueAddServices,
.acknowledgementContainer,
.proceedToPayment {
  padding-right: 50px;
  padding-left: 50px;
}

.addPassengerHeading {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addPassengerHeading h5,
.valueAddServices h5 {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.addPassengerHeading ul {
  margin: 0 !important;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
}

.addPassengerHeading ul li {
  padding-left: 30px;
  margin-bottom: 10px;
}

.addPassengerContainer .messageLead {
  font-weight: 500;
  margin-bottom: 0;
  padding: 0;
  padding-left: 30px !important;
}

.countryFlag {
  height: 80px;
  width: 140px;
  margin-top: 10px;
  border-radius: 6px;
}

.visaPriceHeading,
.visaTypeHeading {
  font-size: 16px;
  font-weight: 600;
}

.visaPrice,
.visaType {
  font-size: 18px;
}

.visaPrice span {
  font-size: 12px;
}

.top-calendar {
  color: #fff;
  border-color: #fff;
}

.calendarSvg {
  fill: #6c757d;
}

.top-calendar .calendarSvg {
  fill: #fff;
}

.btn-outline-secondary.calendar:hover .calendarSvg {
  fill: #fff;
}

.calendar.btn {
  padding: 2px 8px !important;
}

.addPassengerForm .travelerHeading {
  background: #130654;
  padding-bottom: 8px;
}

.travelerHeading button {
  color: #fff;
  font-size: medium;
  font-size: 16px;
  margin-top: -10px;
  font-weight: 500;
}

.valueAddServices {
  margin-top: 20px;
}

.valueAddServicesDetails {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.acknowledgementContainer {
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.proceedToPayment button {
  margin-top: 20px;
  padding: 8px !important;
  background-color: #000080;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.addTrallerBtn {
  margin-top: 20px;
}

.addTrallerBtn span {
  padding-left: 10px;
}

.addTrallerBtn button {
  background-color: navy;
  color: white;
  width: 45px;
  height: 45px;
  padding: 10px 12px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.custom-control-label {
  position: static !important;
  margin-bottom: 0;
  vertical-align: top;
}

.mobileView {
  display: none;
}

.desktopView,
.tabletView {
  display: flex;
}

.toggleHelperBtn {
  padding: 0px 5px;
}

.country-img {
  margin-bottom: 15px;
}

.country-img span {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;;
  color: #000;
}

.imageContainer {
  margin-top: 50px;
  position: relative;
}

.covid-poster {
  padding-top: 15px;
  padding-bottom: 25px;
}

.side {
  padding: 0;
}

.side img {
  height: 100px;
}

.slide-img {
  margin-top: 25px;
}

.slide-img .precaution-img {
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slide-img .precaution-caption {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}

.slide-img .precaution-img.activeSlide {
  background-color: #130654;
}

.highlight {
  color: #f4b938;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-content p {
  font-size: 18px;
  font-weight: 700;
}

.slide-content img {
  height: 120px;
}

.slide-content .carousel-inner {
  width: 400px;
  margin-top: 10px;
  height: 90px;
}

.slide-content .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -40px;
  left: 0;
  z-index: 15;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.slide-content .carousel-indicators .active {
  background-color: #f4b938;
}

.slide-content .carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  opacity: 1;
  cursor: pointer;
  background-color: #130654;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -ms-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.imageContainer .breadcrumLinker {
  /* display: flex; */
  /* justify-content: flex-end; */
  position: absolute;
  right: 0;
}

.imageContainer .breadcrum {
  font-size: 12px;
  margin-bottom: 10px;
  color: #fff;
}

.imageContainer .breadcrum span {
  background-color: rgba(19, 6, 84, 0.4);
  padding: 5px 20px;
}

.imageContainer .breadcrum a {
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .mobileView,
  .desktopView {
    display: none;
  }

  .tabletView {
    display: flex;
  }

  .addPassengerContainer,
  .addPassengerForm,
  .valueAddServices,
  .acknowledgementContainer,
  .proceedToPayment {
    padding-right: 30px;
    padding-left: 30px;
  }

  .addPassengerHeading {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .addPassengerHeading ul {
    margin-right: 0px;
    flex-direction: column;
    justify-content: unset;
  }

  .addPassengerHeading ul li {
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .tabletView,
  .desktopView {
    display: none;
  }

  .mobileView {
    display: flex;
  }

  .addPassengerForm {
    padding-right: 0px;
    padding-left: 0px;
  }

  .addPassengerContainer,
  .valueAddServices,
  .acknowledgementContainer,
  .proceedToPayment,
  .addTrallerBtn {
    padding-right: 20px;
    padding-left: 20px;
  }

  .imageContainer {
    margin-top: 107px;
  }

  .addPassengerHeading {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .addPassengerHeading ul {
    margin-right: 0px;
    flex-direction: column;
    justify-content: unset;
  }

  .addPassengerHeading ul li {
    padding-left: 0px;
  }

  .dateOfTravelContainer {
    margin-top: 15px;
    text-align: left;
    padding: 0px 15px;
  }

  .covid-poster {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .side {
    padding: 0;
  }

  .slide-img {
    margin-top: 25px;
    padding: 0;
  }

  .slide-img .precaution-img {
    height: 90px;
  }

  .slide-img .precaution-caption {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
  }

  .slide-content img {
    height: 100px;
  }

  .slide-content .carousel-inner {
    height: 105px;
  }

  .side-2 {
    height: 200px;
  }
}

@media (min-width: 1281px) {
  .addTravelDate {
    flex: none !important;
    width: 156px !important;
    border-color: #a9a9a9;
    font-size: 14px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .addTravelDate {
    flex: none !important;
    width: 6.8rem !important;
    border-color: #a9a9a9;
    font-size: 14px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .addTravelDate {
    max-width: 102px !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .addTravelDate {
    max-width: auto !important;
  }
}

@media (min-width: 340px) and (max-width: 375px) {
  .carousel-inner {
    max-width: 320px !important;
  }
}

@media (max-width: 339px) {
  .carousel-inner {
    max-width: 280px !important;
  }
}

.carousel-inner>.carousel-item {
  -webkit-transition: 0.9s ease-in-out left;
  transition: 0.9s ease-in-out left;
  -webkit-transition: 0.9s, ease-in-out, left;
  -moz-transition: .9s, ease-in-out, left;
  -o-transition: .9s, ease-in-out, left;
  transition: .9s, ease-in-out, left;
  }
