
.navbar-brand {
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.colorBg {
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1000;
  background-color: rgba(19, 6, 84, 1);
  font-weight: 600;
  color: #fff !important;
}

.navbar {
  height: 50px;
  flex-wrap: initial;
}



@media (width: 768px) {
  /* .navbar-brand {
          margin-top: 7px;
      } */

  .transparentBg {
    padding-right: 20px;
  }

  .colorBg {
    padding-right: 20px;
  }

  .navbar {
    /* font-size: 12px; */
    flex-wrap: initial !important;
  }
}
