<div class="site-wrapper">
  <div class="row">
    <div class="col">
      <!-- <h2>Destination Sri Lanka</h2> -->
      <!-- <p> -->

      <!-- </p> -->

      <h2>Splendid Sri Lanka!</h2>
      <p>
        Although COVID-19 has set back Sri-Lankan tourism, the country has always been one of
        the most attractive locations for tourism and vacations for international travellers. The
        country is divided into several resort regions which help to develop tourism efficiently. This
        has helped boost tourism in the country. Undoubtedly, the largest number of tourists visiting
        Sri Lanka are Indians with over 4 lakh people visiting in 2018 alone. The best time to visit Sri
        Lanka is from May to October if you plan on visiting the East Coast and if you plan on visiting
        the West and South Coast, December to April is the best time for you to visit. Sri Lankan
        culture and history too attract a large number of tourists each year!
      </p>

      <h2>Covid-19 Travel Plans?</h2>
      <p>
        The Sri-Lankan government has been trying to revive tourism for travellers and tourists while
        making sure that all safety guidelines are followed and that all necessary precautions are
        taken to ensure the safety of their citizens and the international visitors too. The government
        has mandated that all international travellers take a PCR test and even those who have
        been vaccinated must follow all protocols and precautionary rules while travelling and visiting
        Sri Lanka. While travelling, travellers must be mindful of the rules and make sure that they
        do not cause any inconvenience to the locals of the places that they visit.
      </p>
      <!-- <p>
        At the time of writing this section (Dec 2020) tourists must take two
        COVID 19 PCR tests; one prior to departure from their home country with
        a validity of 96 hours from the date of the test, and a second test upon
        arrival in Dubai. The certificate must be for a polymerase chain
        reaction (PCR) test. Other test certificates including antibody tests
        and home testing kits are not accepted in Dubai. Travellers must bring
        an official, printed certificate in English or Arabic to check in – SMS
        and digital certificates are not accepted.
      </p> -->

      <h2>Sri Lanka – Home of Majestic Elephants</h2>
      <p>
        Tourism is a major element of Sri-Lanka and the people love sharing their culture and
        traditions with the World. Due to the historical and mythological significance of Sri Lanka in
        India’s culture, Sri Lanka is a popular tourist attraction for Indians. Sri Lanka is the perfect
        destination for people who enjoy a fascinating blend of nature and history. The country is
        biologically very diverse and has high coverage of rainforests. These forests are home to
        some of the most spectacular views, animals, and plants. The country also has 6 cultural
        UNESCO heritage sites. Sri Lankan elephants have a very high symbolic, cultural, and
        economic importance in the country. These elephants too attract a large number of tourists
        each year because they are the largest subspecies of the Asiatic Elephants. These majestic
        social creatures are a sight to behold!
      </p>

      <h2>What Sri Lanka offers:</h2>
      <p>
        Sri Lanka is famous for Ceylon Tea and the lush green tea plantations that adorn the Sri
        Lankan fields. You can trek up to Ella Rock for breathtaking views or visit the capital, Kandy.
        Kandy is the most culturally and religiously significant city in the country and is surrounded
        by serene mountains and the magnificent Kandy Lake. You can sight whales and dolphins at
        Marissa Fishery Port or visit casinos in Colombo. The turtle hatchery at Bentota allows you
        to interact with and to watch endangered turtles grow. You can go for cruises, safaris,
        camps, scuba dives, and other adventure sports in Sri Lanka too. If you wish to see the vast
        horizon and stunning views from up above, you can take a ride on a hot air balloon at
        Kandalama. Make sure you research enough and decide what you wish to do or see as it’ll
        not only help you plan your itinerary better, it’ll ensure that you have the best experience
        possible.
      </p>

      <h2>Visa, Flights and Accommodation</h2>
      <p>
        While applying for a Sri-Lankan visa, make sure you first know what type of visa you need.
        Sri Lanka offers tourist visas, business visas, student visas, and working visas. You can find
        the Sri Lanka visa application online and apply for a Sri Lankan visa online too. After you
        have successfully filled in the required details and uploaded the documents, you can submit
        your application and expect the visa to arrive in a few days. The Sri Lanka visa fees may
        differ depending on your nationality and the type of visa you apply for, but you can pay the
        fees online itself. Once you have your itinerary planned, you can then apply for a Sri Lankan
        Visa and book your flight tickets too. The flight tickets to Sri Lanka vary according to the day
        you book your tickets, the company you choose to fly with, and the type of seat you take.
        The same applies to accommodations too. Sri Lanka has a lot of accommodation options
        varying from budget-friendly ones to luxurious ones too. You will not have any problem
        finding the appropriate accommodation as long as you book it well in advance.
      </p>
    </div>
  </div>
</div>
