.title-box {
  background: #000080;
  color: #fff;
  width: 220px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}

.myBooking {
  margin-top: 70px; margin-bottom: 40px;
}

.title-box h2 {
  font-size: 20px;
}

.title-box::after {
  content: "";
  border-top: 40px solid #000080;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 209px;
}

.visa-type {
  padding: 0px !important;
  font-size: 14px;
}
.visa-type li {
  padding: 3px 0;
  float: left;
  width: 100%;
}
.fieldData {
  float: right;
  /* overflow-wrap: break-word; */
  /* width: 100%; */
  /* word-wrap: break-word !important; */
  /* margin-right: 20px; */
}

.breakWord {
  font-size: 13px;
  width: 220px;
  word-break: break-all;
  text-align: right;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .breakWord {
    width: 172px !important;
  }
}

@media screen and (max-width: 359px) {
  .breakWord {
    width: 129px !important;
  }

  .btn {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .myBooking {
    margin-top: 120px; margin-bottom: 40px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .breakWord {
    font-size: 13px;
    width: 200px;
    word-break: break-all;
    text-align: right;
  }
}

.priceHeading {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.visa-price {
  color: navy;
  font-weight: 700;
}

.continueBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.card-body {
  /* flex: 1 1 auto; */
  padding: 10px;
  /* padding-bottom: 4px; */
}
.card {
  margin-top: 10px !important;
}

.btn-continue {
  color: #fff !important;
  background-color: navy !important;
  border-color: navy !important;
}
.btn-continue :hover {
  color: navy;
  background-color: white;
  border-color: navy;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.btn-outline-navy {
  color: navy;
  background-color: transparent;
  background-image: none;
  border-color: navy;
}

.btn-outline-navy:hover {
  color: white;
  background-color: navy;
}

.card .card-header {
  font-weight: 700;
}

.card-footer button {
  width: 100%;
}

.sim-card .card {
  border-color: linear-gradient(
    to top right,
    #ff4e00 0%,
    #ec9f05 74%);
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.sim-card .card-header {
  border-top-right-radius: 10px;
  background-image: linear-gradient(
    to top right,
    #ff4e00 0%,
    #ec9f05 74%
  );

  border-top-left-radius: 10px;
}

.sim-card .card-footer {
  border-color: linear-gradient(
    to top right,
    #ff4e00 0%,
    #ec9f05 74%);
}

.insurance .card {
  border-color: 1px solid linear-gradient(to top right, #000080, #c2e9fb);
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.insurance .card-header {
  background-image: linear-gradient(to top right, #000080, #c2e9fb);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.insurance .card-footer {
  border-color: linear-gradient(to top right, #000080, #c2e9fb);
}

.visa .card {
  border-color: linear-gradient(to right, #00563f, #35b535);
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.visa .card-header {
  background-image: linear-gradient(to right, #00563f, #35b535);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.visa .card-footer {
  border-color: linear-gradient(to right, #00563f, #35b535);
}
@media screen and (max-width: 676px) {
  .container {
    margin-top: 120px;
  }
}

.pagination .active a {
  color: #143361;
  background-color: transparent;
  font-weight: 600;
}
.pagination .active a:hover {
  background-color: transparent;
  color: #143361;
  border: 0px;
}
.pagination .active a:active {
  background-color: transparent;
  color: #143361;
  border: 0px;
}
.pagination .active a:focus {
  background-color: transparent;
  color: #143361;
  outline: none;
}
.pagination li a {
  border: 1px;
  margin-left: 0px;
  color: #707070;
  padding: 7px 2px;
  margin: 0px 20px;
}
.pagination li a:hover {
  background-color: transparent;
  color: #4A90E2;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}
.pagination li a:focus {
  outline: none;
  background-color: transparent;
  /*color:#707070;*/
}
.pagination li:first-child a, .pagination li:last-child a {
  border: 2px solid #143361 !important;
  border-radius: 6px;
  margin: 0px;
  padding: 6px 12px;
  border: 2px solid;
  font-size: 14px;
  color: #143361;
}
.pagination li:first-child a:hover, .pagination li:last-child a:hover {
  text-decoration: none !important;
  color: #fff;
  background-color: #143361;
}
.pagination li:first-child a:focus, .pagination li:last-child a:focus {
  outline: none;
}


@media (min-width: 1281px) {
  
  .pcOnly {
      display: block;

  }   
  .mobileOnly {
      display: none;
  } 
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .pcOnly {
      display: block;

  }   
  .mobileOnly {
      display: none;
  } 
  
}

/* .mobileOnly {
  position: fixed;
  bottom: 0;
} */
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .pcOnly {
      display: block;

  }   
  .mobileOnly {
      display: none;
  } 
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .pcOnly {
      display: block;

  }   
  .mobileOnly {
      display: none;
  } 
 
  
}

@media (min-width: 415px) and (max-width: 767px) {

.pcOnly {
    display: none;

}   
.mobileOnly {
    display: block;
} 

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 414px) {
  .pcOnly {
      display: none;

  }   
  .mobileOnly {
      display: block;
  } 
 

}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .emptyBanner {
    padding-top: 100px !important;
    padding-bottom: 40px !important;  
  }
}

p {
  font-size: 14px;
  margin-bottom: 0px !important;
}
label {
  margin-bottom: 0px !important;
}

.value {
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 5px;
}

textarea {
  font-size: 12px !important;
}

textarea:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.feedHeading {
  font-size: 22px;
  font-weight: 700;
}

.btn-submit {
background: #000080;
}

.wrap-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}


fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating>input {
  display: none;
}

.rating>label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */

.rating:not(:checked)>label:hover,
/* hover current star */

.rating:not(:checked)>label:hover~label {
  color: #ffcc33;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */

.rating>input:checked~label:hover~label {
  color: #ffcc33;
}