<div class="pcOnly">


  <div *ngIf="totalCount > 0" class="container myBooking">
    <div class="row mt-4">
      <!-- <div class=""> -->
      <div class="col-lg-12">
        <div class="title-box">
          <h2>Order History ({{totalCount}})</h2>
        </div>
      </div>


      <div
        *ngFor="let booking of allBooking.data | paginate: { itemsPerPage: 6, currentPage: currentPage1, id:'first' }"
        class=" col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2">
        <div [ngClass]="{'visa':booking.booking.bookingType == 'Visa','sim-card':booking.booking.bookingType == 'Sim'}">
          <div class="card">
            <div class="card-header priceHeading text-white">
              {{booking.booking.bookingType == 'Visa' ? 'Visa' : 'Sim'}}
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a> -->
              <ul class="visa-type">
                <li>
                  Booking ID:
                  <span class="fieldData breakWord">{{booking.booking.bookingId}}</span>
                </li>
                <li>
                  Transaction ID :
                  <span class="fieldData breakWord">{{booking.booking.paymentId}}</span>
                </li>
                <li>
                  Visa For :
                  <span class="fieldData">{{booking.booking.visaForCountry}}</span>
                </li>
                <li>
                  Visa Type:
                  <span class="fieldData">{{booking.booking.visaType}}</span>
                </li>
                <li>
                  Entry Type:
                  <span class="fieldData">{{booking.booking.entryType}}</span>
                </li>
                <li>
                  Total Travellers:
                  <span class="fieldData">{{booking.booking.totalTravellers}}</span>
                </li>
                <li>
                  Booking date:
                  <span class="fieldData">{{booking.booking.bookingDate}}</span>
                </li>
                <li>
                  Document Collection Date:
                  <span class="fieldData">{{booking.booking.documentCollectionDate}}</span>
                </li>
                <li>
                  Date of travel:
                  <span class="fieldData">{{booking.booking.dateOfTravel}}</span>
                </li>
                <li>
                  Booking Status:
                  <!-- <span class="fieldData">123</span> -->
                  <span
                    [ngClass]="{'badge-success':booking.booking.statusColor == 'g' ,'badge-danger':booking.booking.statusColor == 'r','badge-warning':booking.booking.statusColor == 'y' }"
                    class="fieldData badge ">{{booking.booking.bookingStatus}}</span>
                </li>
                <li>
                  Payment status:
                  <!-- <span class="fieldData"></span> -->
                  <!-- <span class="fieldData badge badge-danger">Failed</span> -->
                  <span class="fieldData badge "
                    [ngClass]="{'badge-success':booking.booking.paymentColor == 'g' ,'badge-danger':booking.booking.paymentColor == 'r','badge-warning':booking.booking.paymentColor == 'y' }">{{booking.booking.paymentStatus}}</span>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-6 button">
                  <button (click)="setActiveBooking(booking)" type="button" class="btn btn-outline-navy btn-sm">
                    View Detail
                  </button>
                </div>

                <div class="col-6 button">
                  <button (click) = "downloadInvoice(booking.booking.bookingId,booking.booking.paymentColor)" type="button" class="btn btn-outline-success btn-sm">
                    Get Invoice
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <pagination-controls (pageChange)="currentPage1 = $event" maxSize="3" id="first" class="my-pagination text-center"
responsive="true" autoHide="true" previousLabel="Previous" nextLabel="Next"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="totalCount < 1">
    <div class="row">
      <div class="col-md-12">
        <div class="emptyBanner">
          <img src="../../../assets/empty_1.png" class="img-fluid mt-3" alt="empty cart image">
        </div>
      </div>

    </div>
  </div>
</div>


<div class="mobileOnly">


  <div *ngIf="totalCount > 0" class="container myBooking">
    <div class="row mt-4">
      <!-- <div class=""> -->
      <div class="col-lg-12">
        <div class="title-box">
          <h2>Order History ({{totalCount}})</h2>
        </div>
      </div>


      <div
        *ngFor="let booking of myBookings | paginate: { itemsPerPage: 4, currentPage: currentPage2, id: 'second' }"
        class=" col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2">
        <div [ngClass]="{'visa':booking.booking.bookingType == 'Visa','sim-card':booking.booking.bookingType == 'Sim'}">
          <div class="card">
            <div class="card-header priceHeading text-white">
              {{booking.booking.bookingType == 'Visa' ? 'Visa' : 'Sim'}}
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a> -->
              <ul class="visa-type">
                <li>
                  Booking ID:
                  <span class="fieldData breakWord">{{booking.booking.bookingId}}</span>
                </li>
                <li>
                  Transaction ID :
                  <span class="fieldData breakWord">{{booking.booking.paymentId}}</span>
                </li>
                <li>
                  Visa For :
                  <span class="fieldData">{{booking.booking.visaForCountry}}</span>
                </li>
                <li>
                  Visa Type:
                  <span class="fieldData">{{booking.booking.visaType}}</span>
                </li>
                <li>
                  Entry Type:
                  <span class="fieldData">{{booking.booking.entryType}}</span>
                </li>
                <li>
                  Total Travellers:
                  <span class="fieldData">{{booking.booking.totalTravellers}}</span>
                </li>
                <li>
                  Booking date:
                  <span class="fieldData">{{booking.booking.bookingDate}}</span>
                </li>
                <li>
                  Document Collection Date:
                  <span class="fieldData">{{booking.booking.documentCollectionDate}}</span>
                </li>
                <li>
                  Date of travel:
                  <span class="fieldData">{{booking.booking.dateOfTravel}}</span>
                </li>
                <li>
                  Booking Status:
                  <!-- <span class="fieldData">123</span> -->
                  <span
                    [ngClass]="{'badge-success':booking.booking.statusColor == 'g' ,'badge-danger':booking.booking.statusColor == 'r','badge-warning':booking.booking.statusColor == 'y' }"
                    class="fieldData badge ">{{booking.booking.bookingStatus}}</span>
                </li>
                <li>
                  Payment status:
                  <!-- <span class="fieldData"></span> -->
                  <!-- <span class="fieldData badge badge-danger">Failed</span> -->
                  <span class="fieldData badge "
                    [ngClass]="{'badge-success':booking.booking.paymentColor == 'g' ,'badge-danger':booking.booking.paymentColor == 'r','badge-warning':booking.booking.paymentColor == 'y' }">{{booking.booking.paymentStatus}}</span>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-6 button">
                  <button (click)="setActiveBooking(booking)" type="button" class="btn btn-outline-navy btn-sm">
                    View Detail
                  </button>
                </div>

                <div class="col-6 button">
                  <button (click)="downloadInvoice(booking.booking.bookingId,booking.booking.paymentColor)" type="button"
                    class="btn btn-outline-success btn-sm">
                    Get Invoice
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <pagination-controls (pageChange)="currentPage2 = $event" id="second" maxSize="3" class="my-pagination text-center"
          autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
  </div>

  <div *ngIf="totalCount < 1" class="container d-flex justify-content-center" style="margin-top: 140px 0px 40px;">
    <div class="row">
      <div class="col-md-12">
        <div class="emptyBanner">
          <img src="../../../assets/empty.png" class="img-fluid" alt="empty cart image">
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary text-center mb-4 mt-2" [routerLink]="['/home']" style="width: 100%">Shop
          Now</button>
      </div>
    </div>
  </div>

</div>

<div class="feedback-popup">
  <button type="button" class="btn btn-primary" style="margin-top: 80px;" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 wrap-left p-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="feedHeading text-center text-uppercase">Feedback Form</h4>
                                </div>
                                <div class="col-md-12">
                                    <p class="value text-capitalize">Your feedback is valuable to us.</p>
                                </div>
                                <div class="col-md-12">
                                    <h1>
                                        <img src="../../../assets/feedback.png" style="margin-top: 80px;" alt="" class="img-fluid">
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wrap-right p-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Please provide your feedback on following topics:</h6>
                                </div>
                                <div class="col-md-12">
                                    <p><i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>How well does our
                                        product meet your needs ?</p>
                                    <fieldset class="rating" id="customCheck1">
                                        <input type="radio" id="f3-star5" name="f3-rating" value="5" /><label
                                            class="full" for="f3-star5"></label>
                                        <input type="radio" id="f3-star4" name="f3-rating" value="4" /><label
                                            class="full" for="f3-star4"></label>
                                        <input type="radio" id="f3-star3" name="f3-rating" value="3" /><label
                                            class="full" for="f3-star3"></label>
                                        <input type="radio" id="f3-star2" name="f3-rating" value="2" /><label
                                            class="full" for="f3-star2"></label>
                                        <input type="radio" id="f3-star1" name="f3-rating" value="1" /><label
                                            class="full" for="f3-star1"></label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <p><i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>Were you able to
                                        find the information you were looking for on our website ?
                                    </p>
                                    <fieldset class="rating" id="customCheck1">
                                        <input type="radio" id="f1-star5" name="f1-rating" value="5" /><label
                                            class="full" for="f1-star5"></label>
                                        <input type="radio" id="f1-star4" name="f1-rating" value="4" /><label
                                            class="full" for="f1-star4"></label>
                                        <input type="radio" id="f1-star3" name="f1-rating" value="3" /><label
                                            class="full" for="f1-star3"></label>
                                        <input type="radio" id="f1-star2" name="f1-rating" value="2" /><label
                                            class="full" for="f1-star2"></label>
                                        <input type="radio" id="f1-star1" name="f1-rating" value="1" /><label
                                            class="full" for="f1-star1"></label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <p><i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>How likely are you
                                        to recommend visa2fly to a friends or family ?</p>
                                    <fieldset class="rating" id="customCheck1">
                                        <input type="radio" id="f2-star5" name="f2-rating" value="5" /><label
                                            class="full" for="f2-star5"></label>
                                        <input type="radio" id="f2-star4" name="f2-rating" value="4" /><label
                                            class="full" for="f2-star4"></label>
                                        <input type="radio" id="f2-star3" name="f2-rating" value="3" /><label
                                            class="full" for="f2-star3"></label>
                                        <input type="radio" id="f2-star2" name="f2-rating" value="2" /><label
                                            class="full" for="f2-star2"></label>
                                        <input type="radio" id="f2-star1" name="f2-rating" value="1" /><label
                                            class="full" for="f2-star1"></label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <h6>If you could change just one thing about our product, what would it be ?
                                    </h6>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="" class="form-control" id="" cols="30"
                                        rows="4"></textarea>
                                </div>
                                <div class="col-md-12 text-center mt-2">
                                    <button class="btn text-white btn-submit btn-sm btn-block">Send Your
                                        Feedback</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>