<!-- desktop -->
<div class="container desktopView">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center visaHeading">Visa On Arrival Countries</h1>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div (click) = "proceedToHome('Bolivia')" div (click) = "proceedToHome('Bolivia')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Bolivia.jpg"
            alt="Bolivia"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Bolivia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Cambodia')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Cambodia.jpg"
            alt="Cambodia"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Cambodia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Cape Verde')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Cape Verde.jpg"
            alt="Cape Verde"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Cape Verde</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Comoros')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Comoros.jpg"
            alt="Comoros"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Comoros</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Djibouti')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Djibouti.jpg"
            alt="Djibouti"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Djibouti</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Ethiopia')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Ethiopia.jpg"
            alt="Ethiopia"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Ethiopia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Guinea Bissau')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Guinea Bissau.jpg"
            alt="Guinea Bissau"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Guinea Bissau</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Guyana')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Guyana.jpg"
            alt="Guyana"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Guyana</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Indonasia')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Indonasia.jpg"
            alt="Indonasia"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Indonasia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Jordan')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Jordan.jpg"
            alt="Jordan"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Jordan</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Laos')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Laos.jpg"
            alt="Laos"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Laos</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Madagascar')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Madagascar.jpg"
            alt="Madagascar"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Madagascar</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Maldives')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Maldives.jpg"
            alt="Maldives"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Maldives</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Mauritania')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Mauritania.jpg"
            alt="Mauritania"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Mauritania</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Palau')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Palau.jpg"
            alt="Palau"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Palau</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Saint Lucia')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Saint Lucia.jpg"
            alt="Saint Lucia"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Saint Lucia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Somalia')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Somalia.jpg"
            alt="Somalia"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Somalia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Tanzania')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Tanzania.jpg"
            alt="Tanzania"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Tanzania</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Thailand')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Thailand.jpg"
            alt="Thailand"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Thailand</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Timor Laste')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Timor Laste.jpg"
            alt="Timor Laste"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Timor Laste</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Togo')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Togo.jpg"
            alt="Togo"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Togo</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Tuvalu')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Tuvalu.jpg"
            alt="Tuvalu"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Tuvalu</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div div (click) = "proceedToHome('Uganda')" class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/voa/Uganda.jpg"
            alt="Uganda"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Uganda</p>
        </div>
      </div>
    </div>
  </div>
 
  <p class="lead" style="font-size: 12px">
    <span class="font-weight-bold">Disclaimer: </span> The information above has
    been last updated on 1st October 2019. The visa rules of individual
    countries can change at any time without any prior intimation. We cannot be
    held accountable whatsoever for any changes made to visa rules by any
    country. For any clarifications on information provided on this page, please
    call our Toll Free Number 1800-120-220-032 or write to us at
    <a href="mailto:support@visa2fly.com" target="_top">support@visa2fly.com</a>
  </p>
</div>

<!-- for mobile and tablet -->
<div class="container mobile">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center visaHeading">Visa On Arrival Countries</h1>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Bolivia')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Bolivia.jpg"
              alt="Bolivia"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Bolivia</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Cambodia')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Cambodia.jpg"
              alt="Cambodia"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Cambodia</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Cape Verde')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Cape Verde.jpg"
              alt="Cape Verde"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Cape Verde</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Comoros')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Comoros.jpg"
              alt="Comoros"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Comoros</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Djibouti')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Djibouti.jpg"
              alt="Djibouti"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Djibouti</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Ethiopia')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Ethiopia.jpg"
              alt="Ethiopia"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Ethiopia</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Guinea Bissau')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Guinea Bissau.jpg"
              alt="Guinea Bissau"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Guinea Bissau</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Guyana')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Guyana.jpg"
              alt="Guyana"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Guyana</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Indonasia')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Indonasia.jpg"
              alt="Indonasia"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Indonasia</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Jordan')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Jordan.jpg"
              alt="Jordan"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Jordan</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Laos')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Laos.jpg"
              alt="Laos"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Laos</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Madagascar')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Madagascar.jpg"
              alt="Madagascar"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Madagascar</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Maldives')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Maldives.jpg"
              alt="Maldives"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Maldives</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Mauritania')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Mauritania.jpg"
              alt="Mauritania"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Mauritania</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Palau')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Palau.jpg"
              alt="Palau"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Palau</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Saint Lucia')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Saint Lucia.jpg"
              alt="Saint Lucia"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Saint Lucia</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Somalia')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Somalia.jpg"
              alt="Somalia"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Somalia</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Tanzania')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Tanzania.jpg"
              alt="Tanzania"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Tanzania</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Thailand')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Thailand.jpg"
              alt="Thailand"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Thailand</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Timor Laste')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Timor Laste.jpg"
              alt="Timor Laste"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Timor Laste</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Togo')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Togo.jpg"
              alt="Togo"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Togo</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Tuvalu')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Tuvalu.jpg"
              alt="Tuvalu"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Tuvalu</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-4 col-sm-12 col-6 img-card">
        <div div (click) = "proceedToHome('Uganda')" class="visa-card">
          <div class="img-box">
            <img
              src="https://static.visa2fly.com/voa/Uganda.jpg"
              alt="Uganda"
              class="img-fluid"
            />
          </div>
          <div class="content">
            <p>Uganda</p>
          </div>
        </div>
      </div>
    </div>
  
    <p class="lead" style="font-size: 12px">
      <span class="font-weight-bold">Disclaimer: </span> The information above has
      been last updated on 1st October 2019. The visa rules of individual
      countries can change at any time without any prior intimation. We cannot be
      held accountable whatsoever for any changes made to visa rules by any
      country. For any clarifications on information provided on this page, please
      call our Toll Free Number 1800-120-220-032 or write to us at
      <a href="mailto:support@visa2fly.com" target="_top">support@visa2fly.com</a>
    </p>
  </div>
  