<div class="col-12 mt-2">
  <h5 class="linkAddressHeading">You can also apply for these visa online</h5>
  <p>
    <!-- <a *ngIf="activeRoute !== 'antigua & barbuda-visa-online'" (click)="resetPage()"
      [routerLink]="['/visa', 'antigua & barbuda-visa-online']">Antigua & Barbuda Visa
      online&nbsp;|&nbsp;</a> -->

    <a
      *ngIf="activeRoute !== 'armenia-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'armenia-visa-online']"
      >Armenia Visa online&nbsp;|&nbsp;</a
    >

    <a
      *ngIf="activeRoute !== 'australia-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'australia-visa-online']"
      >Australia Visa online&nbsp;|&nbsp;</a
    >

    <!-- <a
      *ngIf="activeRoute !== 'austria-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'austria-visa-online']"
      >Austria Visa online&nbsp;|&nbsp;</a
    > -->

    <a
      *ngIf="activeRoute !== 'azerbaijan-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'azerbaijan-visa-online']"
      >Azerbaijan Visa online&nbsp;|&nbsp;</a
    >

    <a
      *ngIf="activeRoute !== 'bahrain-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'bahrain-visa-online']"
      >Bahrain Visa online&nbsp;|&nbsp;</a
    >

    <a
      *ngIf="activeRoute !== 'belgium-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'belgium-visa-online']"
      >Belgium Visa online&nbsp;|&nbsp;</a
    >

    <!-- <a
      *ngIf="activeRoute !== 'bhutan-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'bhutan-visa-online']"
      >Bhutan Visa online&nbsp;|&nbsp;</a
    > -->

    <!-- <a *ngIf="activeRoute !== 'brazil-visa-online'" (click)="resetPage()"
      [routerLink]="['/visa', 'brazil-visa-online']">Brazil Visa online&nbsp;|&nbsp;</a> -->

    <a
      *ngIf="activeRoute !== 'china-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'china-visa-online']"
      >China Visa online&nbsp;|&nbsp;</a
    >

    <a
      *ngIf="activeRoute !== 'canada-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'canada-visa-online']"
      >Canada Visa online&nbsp;|&nbsp;</a
    >

    <a
      *ngIf="activeRoute !== 'cambodia-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'cambodia-visa-online']"
      >Cambodia Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'denmark-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'denmark-visa-online']"
      >Denmark Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'dubai-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'dubai-visa-online']"
      >Dubai Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'egypt-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'egypt-visa-online']"
      >Egypt Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'estonia-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'estonia-visa-online']"
      >Estonia Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'ethiopia-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'ethiopia-visa-online']"
      >Ethiopia Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'finland-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'finland-visa-online']"
      >Finland Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'france-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'france-visa-online']"
      >France Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'georgia-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'georgia-visa-online']"
      >Georgia Visa online&nbsp;|&nbsp;</a
    >
    <!-- <a
      *ngIf="activeRoute !== 'germany-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'germany-visa-online']"
      >Germany Visa online&nbsp;|&nbsp;</a
    > -->
    <!-- <a
      *ngIf="activeRoute !== 'iraq-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'iraq-visa-online']"
      >Iraq Visa online&nbsp;|&nbsp;</a
    > -->
    <a
      *ngIf="activeRoute !== 'japan-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'japan-visa-online']"
      >Japan Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'kenya-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'kenya-visa-online']"
      >Kenya Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'malaysia-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'malaysia-visa-online']"
      >Malaysia Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'maldives-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'maldives-visa-online']"
      >Maldives Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'malta-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'malta-visa-online']"
      >Malta Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'netherlands-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'netherlands-visa-online']"
      >Netherland Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'new-zealand-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'new-zealand-visa-online']"
      >New Zealand Visa online&nbsp;|&nbsp;</a
    >

    <!-- <a *ngIf="activeRoute !== 'russia-visa-online'" (click)="resetPage()"
      [routerLink]="['/visa', 'russia-visa-online']">Russia Visa
      online&nbsp;|&nbsp;</a> -->

    <!-- <a *ngIf="activeRoute !== 'rwanda-visa-online'" (click)="resetPage()"
      [routerLink]="['/visa', 'rwanda-visa-online']">Rwanda Visa
      online&nbsp;|&nbsp;</a> -->

    <a
      *ngIf="activeRoute !== 'singapore-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'singapore-visa-online']"
      >Singapore Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'south-africa-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'south-africa-visa-online']"
      >South Africa Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'spain-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'spain-visa-online']"
      >Spain Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'sri-lanka-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'sri-lanka-visa-online']"
      >Sri Lanka Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'swiss-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'swiss-visa-online']"
      >Switzerland Visa online&nbsp;|&nbsp;</a
    >
    <!-- <a *ngIf="activeRoute !== 'taiwan-visa-online'" (click)="resetPage()"
      [routerLink]="['/visa', 'taiwan-visa-online']">Taiwan Visa online&nbsp;|&nbsp;</a> -->

    <!-- <a *ngIf="activeRoute !== 'tajikistan-visa-online'" (click)="resetPage()"
      [routerLink]="['/visa', 'tajikistan-visa-online']">Tajikistan Visa online&nbsp;|&nbsp;</a> -->

    <a
      *ngIf="activeRoute !== 'thailand-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'thailand-visa-online']"
      >Thailand Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'turkey-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'turkey-visa-online']"
      >Turkey Visa online&nbsp;|&nbsp;</a
    >

    <!-- <a *ngIf="activeRoute !== 'ukraine-visa-online'" (click)="resetPage()"
      [routerLink]="['/visa', 'ukraine-visa-online']">Ukraine Visa online&nbsp;|&nbsp;</a> -->

    <a
      *ngIf="activeRoute !== 'uae-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'uae-visa-online']"
      >UAE Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'uk-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'uk-visa-online']"
      >UK Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'usa-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'usa-visa-online']"
      >USA Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'uzbekistan-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'uzbekistan-visa-online']"
      >Uzbekistan Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'vietnam-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'vietnam-visa-online']"
      >Vietnam Visa online&nbsp;|&nbsp;</a
    >
    <a
      *ngIf="activeRoute !== 'zambia-visa-online'"
      (click)="resetPage()"
      [routerLink]="['/visa', 'zambia-visa-online']"
      >Zambia Visa online</a
    >
  </p>
</div>
