<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>
          FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="brazilAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#brazilAccordion1"
            aria-expanded="true" aria-controls="brazilAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is it confirmed that these are all the documents I need?
              </button>
            </h5>
          </div>

          <div id="brazilAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#brazilAccordion">
            <div class="card-body">
              <p>Usually, these are the only documents they ask for
                in most cases. Although, you may be asked to submit
                extra documents, but these are usually on a case-by-case
                basis and not always mandatory.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#brazilAccordion2"
            aria-expanded="false" aria-controls="brazilAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am an Indian. Do I require a visa before entering the country?
              </button>
            </h5>
          </div>
          <div id="brazilAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#brazilAccordion">
            <div class="card-body">
              <p>No. As of a notice dated June 2019, Indian nationals do
                not require a visa before entry. They, along with some
                other countries as well, will be granted a stay of 30
                days without getting a visa beforehand. Please note,
                these are for tourist purposes only.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#brazilAccordion3"
            aria-expanded="false" aria-controls="brazilAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I have a child below 7 years. Are there any special requirements?
              </button>
            </h5>
          </div>
          <div id="brazilAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#brazilAccordion">
            <div class="card-body">
              <p>Yes. For children below seven years, proof of a polio
                vaccine and birth certificate are required.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#brazilAccordion4"
            aria-expanded="false" aria-controls="brazilAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I want to extend my stay. How can I do this, and for how long can I extend it?
              </button>
            </h5>
          </div>
          <div id="brazilAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#brazilAccordion">
            <div class="card-body">
              <p>It is possible to extend your stay up to a total of 180 days
                in a 12-month window. This includes the original 90 days
                that were promised in a tourist/business visa. You will
                need to contact the local Embassy of your country in Brazil
                if you want to extend your visa. Eg. If I am Indian, I will
                need to contact the nearest Indian Embassy in Brazil.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#brazilAccordion5"
            aria-expanded="false" aria-controls="brazilAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is travel insurance necessary if I am travelling to Brazil?
              </button>
            </h5>
          </div>
          <div id="brazilAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#brazilAccordion">
            <div class="card-body">
              <p>It is not necessary to obtain travel insurance, i.e., they will
                let you into the country even without it. However, we strongly
                recommend you do. This is because most travel insurance deals
                cover any theft, cancellations, baggage and health issues
                that you might face.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse" class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#brazilAccordion6"
              aria-expanded="false" aria-controls="brazilAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My baggage was lost while connecting flights. Who do I contact?
                </button>
              </h5>
            </div>
            <div id="brazilAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#brazilAccordion">
              <div class="card-body">
                <p>In this case, you will have to contact (or lodge a complaint)
                  with the respective airline that you came in. Please refrain
                  from contacting the Indian Embassy unless it is an emergency.
                  If your passport gets lost, you will need to contact the
                  Embassy in Brazil - there is an Indian Embassy
                  in Sao Paulo.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#brazilAccordion7"
              aria-expanded="false" aria-controls="brazilAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I apply for my business visa online?
                </button>
              </h5>
            </div>

            <div id="brazilAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#brazilAccordion">
              <div class="card-body">
                <p>Currently, only citizens of Australia, Canada, United
                  States and Japan are able to apply for a business visa online.
                  If you are a citizen of one of these countries, then yes,
                  you will be able to apply for a business e-visa. If not,
                  you will have to apply manually - don’t worry, we can
                  assist you with that!
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#brazilAccordion8"
              aria-expanded="false" aria-controls="brazilAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Do I need a Yellow Fever vaccination if I am visiting Brazil?
                </button>
              </h5>
            </div>

            <div id="brazilAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#brazilAccordion">
              <div class="card-body">
                <p>You do not need a Yellow Fever vaccine if you are travelling
                  to Brazil, however, you will need one to re-enter back into
                  India. This is because Brazil is considered as endemic
                  for Yellow Fever.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#brazilAccordion9"
              aria-expanded="true" aria-controls="brazilAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I leave the airport while transiting?
                </button>
              </h5>
            </div>

            <div id="brazilAccordion9" class="collapse" aria-labelledby="heading9" data-parent="#brazilAccordion">
              <div class="card-body">
                <p>No, you will not be allowed to leave unless you have a valid visa, such as a tourist visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#brazilAccordion10"
              aria-expanded="false" aria-controls="brazilAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What kind of ticket do I need to transit?
                </button>
              </h5>
            </div>
            <div id="brazilAccordion10" class="collapse" aria-labelledby="heading10" data-parent="#brazilAccordion">
              <div class="card-body">
                <p>You will need a single ticket which shows all your stops; separate
                  tickets for connecting flights are not allowed.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#brazilAccordion11"
              aria-expanded="false" aria-controls="brazilAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Do I need a Yellow Fever vaccination if I am visiting Brazil?
                </button>
              </h5>
            </div>
            <div id="brazilAccordion11" class="collapse" aria-labelledby="heading11" data-parent="#brazilAccordion">
              <div class="card-body">
                <p>You do not need a Yellow Fever vaccine if you are
                  travelling to Brazil, however, you will need one to re-enter
                  back into India. This is because Brazil is considered as
                  endemic for Yellow Fever. This holds true even if you are
                  just transiting through the country, as the disease
                  is spread by mosquitoes.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#brazilAccordion12"
              aria-expanded="false" aria-controls="brazilAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My baggage got lost in transit. Who do I contact?
                </button>
              </h5>
            </div>
            <div id="brazilAccordion12" class="collapse" aria-labelledby="heading12" data-parent="#brazilAccordion">
              <div class="card-body">
                <p>In this case, you will have to contact (or lodge a complaint) with
                  the respective airline that you came in. Please refrain from
                  contacting the Indian Embassy unless it is an emergency. If your
                  passport gets lost, you will need to contact the Embassy
                  in Brazil - there is an Indian Embassy in Sao Paulo.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>
  </div>
</div>
