<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>
          FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="uzbekistanAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#uzbekistanAccordion1" aria-expanded="true"
            aria-controls="uzbekistanAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I need to stay for longer than 30 days. What do I do?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>You will need to re-apply for the visa close to
                the end of your stay in Uzbekistan (close to the end of 30 days,
                not your prospective stay). If you stay for longer than 30
                days without a visa, you will be subject to legal action and
                may not be able to apply for an Uzbekistan visa again.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#uzbekistanAccordion2" aria-expanded="false"
            aria-controls="uzbekistanAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I use this visa for all airlines and all airports in Uzbekistan?
              </button>
            </h5>
          </div>
          <div id="uzbekistanAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>Yes, you will be able to use this e-visa to enter
                through any airport in Uzbekistan. There is no airline
                that does not accept this e-visa.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#uzbekistanAccordion3" aria-expanded="false"
            aria-controls="uzbekistanAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How will I obtain my e-visa after I fill the form?
              </button>
            </h5>
          </div>
          <div id="uzbekistanAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>The e-visa will be e-mailed to the address given
                in the application form. It usually takes around 2 days
                to process the visa, excluding the day of submission
                of the form.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#uzbekistanAccordion4" aria-expanded="false"
            aria-controls="uzbekistanAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I misspelt my name/have different details between my passport and e-visa. Is that ok?
              </button>
            </h5>
          </div>
          <div id="uzbekistanAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>Your e-visa is considered invalid if you have differing
                details between these two documents. Please cross-check before
                you submit the form, that all the details you typed into the
                application correspond with those on your passport.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#uzbekistanAccordion5" aria-expanded="false"
            aria-controls="uzbekistanAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                My child is 15. Do I need to obtain a visa for them too?
              </button>
            </h5>
          </div>
          <div id="uzbekistanAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>No. Foreign citizens under the age of 16 are applicable
                for visa-free travel to Uzbekistan - under some conditions. They
                must be travelling with their legal representatives (i.e. legal guardian/parent),
                and must be in possession of their own passport/ biometric
                travel document.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse"  [@slideInOut]="animationState">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#uzbekistanAccordion6" aria-expanded="false"
            aria-controls="uzbekistanAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I need to attach my e-visa to my passport manually?
              </button>
            </h5>
          </div>
          <div id="uzbekistanAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>E-visas are shown to officials in the form of a paper document.
                Please do not try and staple/glue the visa to your passport.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#uzbekistanAccordion7" aria-expanded="true"
            aria-controls="uzbekistanAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Will I get a refund if my visa is not accepted?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>No, you will not. The Uzbekistan government does not
                refund consular fees for rejected applications.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#uzbekistanAccordion8" aria-expanded="false"
            aria-controls="uzbekistanAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                If I want a multiple-visit visa, will I be able to apply for that?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>Yes. It is the same application process, however, you will
                need to indicate the number of stays. You will also need
                to make sure the number of days requested on your application
                form is identical to what you need printed on your Uzbekistan
                business visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#uzbekistanAccordion9" aria-expanded="false"
            aria-controls="uzbekistanAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                How many days prior to my flight should I book my visas?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>It is recommended to book at least 1 week prior, so that you can
                apply for a new visa in case your earlier application has a
                problem. Make sure to apply not more than 3 months before leaving.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#uzbekistanAccordion10" aria-expanded="false"
            aria-controls="uzbekistanAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Will I get a confirmation submission for my e-visa?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>Yes. After application, you will receive a confirmation e-mail
                of your completed form, on the e-mail address
                given in the same.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
            data-target="#uzbekistanAccordion11" aria-expanded="false"
            aria-controls="uzbekistanAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Do I have to pay anything else at the airport? (Apart from what I have paid online for visa)
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion11" class="collapse" aria-labelledby="heading11"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>No, you will not have to do this. The only fees that are
                asked for your visa will be before the date of travel. You
                will not have to pay any additional fee at the airport, so if
                you are asked to do so, please note that you may be being scammed.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading12" data-toggle="collapse"
            data-target="#uzbekistanAccordion12" aria-expanded="false"
            aria-controls="uzbekistanAccordion12">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I show the Immigration officers a digital copy of my e-visa?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion12" class="collapse" aria-labelledby="heading12"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>Yes, you can. It is possible, however, you will need to
                carry a hard copy anyway. Therefore, it makes sense
                to print one out - remember, you will also be needing to
                carry the original copy of your passport.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
            data-target="#uzbekistanAccordion13" aria-expanded="false"
            aria-controls="uzbekistanAccordion13">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I am not an Indian citizen. Can I still transit without a visa?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion13" class="collapse" aria-labelledby="heading13"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>This visa-free transit is offered for most countries,
                but just in case, it would be better to check on the official
                website as to whether your country meets the requirements.
                Indian citizens can get a 5-day transit, which is special
                to some countries - but most of them offer a 72-hour transit.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading14" data-toggle="collapse"
            data-target="#uzbekistanAccordion14" aria-expanded="false"
            aria-controls="uzbekistanAccordion14">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Do I have to pay anything as fees in the airport?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion14" class="collapse" aria-labelledby="heading14"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>No, you will not have to do this. The only fees that
                are asked for your visa (if tourist or business) will be
                before the date of travel. You will not have to pay any
                additional fee at the airport, so if you are asked to do so,
                please note that you may be being scammed.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading15" data-toggle="collapse"
            data-target="#uzbekistanAccordion15" aria-expanded="false"
            aria-controls="uzbekistanAccordion15">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I have dual citizenship. Do I need to show both passports at the airport?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion15" class="collapse" aria-labelledby="heading15"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>You will need to show both passports. If you have
                a visa, you will need to specifically show the
                passport you used to obtain the visa.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading16" data-toggle="collapse"
            data-target="#uzbekistanAccordion16" aria-expanded="false"
            aria-controls="uzbekistanAccordion16">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Where will I be notified about updates on my visa if I apply for a business or tourist one?
              </button>
            </h5>
          </div>

          <div id="uzbekistanAccordion16" class="collapse" aria-labelledby="heading16"
            data-parent="#uzbekistanAccordion">
            <div class="card-body">
              <p>You will be updated via the e-mail address you used to
                submit the visa, therefore, please keep a track of
                these threads.
              </p>

            </div>
          </div>
        </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>
  </div>
</div>
