<section id="faq">
  <div
    class="container-fluid wrapContainer"
    style="position: relative"
  >
    <div class="row">
      <div class="col-12 text-center">
        <h1>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h1>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="iraqAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#iraqAccordion1"
              aria-expanded="true"
              aria-controls="iraqAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                    Is this visa a single entry visa?
                </button>
              </h5>
            </div>

            <div
              id="iraqAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#iraqAccordion"
            >
              <div class="card-body">
                <p>
                    Yes. This visa is valid for a single entry to Iraq for one month. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#iraqAccordion2"
              aria-expanded="false"
              aria-controls="iraqAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    What can I do on this Iraq tourist visa?
                </button>
              </h5>
            </div>
            <div
              id="iraqAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#iraqAccordion"
            >
              <div class="card-body">
                <p>
                    You will be able to visit tourist and relic sites on this visa. You can purchase their goods as well, such as fine handcrafted rugs and souvenirs.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#iraqAccordion3"
              aria-expanded="false"
              aria-controls="iraqAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Is the Iraq visa electronic?
                </button>
              </h5>
            </div>
            <div
              id="iraqAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#iraqAccordion"
            >
              <div class="card-body">
                <p>
                    No. This visa is signed by the consul and stamped by the seal of the Iraqi consulate. If your visa does not fulfil these conditions, you need to approach the Embassy immediately. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#iraqAccordion4"
              aria-expanded="false"
              aria-controls="iraqAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                Can I fill my application form in English?
                </button>
              </h5>
            </div>
            <div
              id="iraqAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#iraqAccordion"
            >
              <div class="card-body">
                <p>
                    Your application form will need to be filled electronically (to avoid misconception in handwriting) and in Arabic. All fields - especially the address in Iraq (block /alley/House/ well-known point), and the phone number - must be filled in Arabic. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#iraqAccordion5"
              aria-expanded="false"
              aria-controls="iraqAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                    Can I extend my visa?
                </button>
              </h5>
            </div>
            <div
              id="iraqAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#iraqAccordion"
            >
              <div class="card-body">
                <p>
                    No, an expired Iraq visa is not extendable. You will need to apply for a fresh visa after the first visa’s validity (of 3 months) is over. 
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#iraqAccordion6"
                aria-expanded="false"
                aria-controls="iraqAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are there any special documents to be submitted for minors?
                  </button>
                </h5>
              </div>
              <div
                id="iraqAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#iraqAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes. In the case that your child is below the age of 15, a health certificate is required. This is to prove a full polio vaccine round has been administered and the child is vaccinated for at least 5 doses of oral polio vaccine.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#iraqAccordion7"
                aria-expanded="false"
                aria-controls="iraqAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    I have been banned entry/ my visa has been rejected on the grounds of ‘public health, national security, morals or the national economy’. What does this mean?
                  </button>
                </h5>
              </div>

              <div
                id="iraqAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#iraqAccordion"
              >
                <div class="card-body">
                  <p>
                    In the case that your visa has been rejected for this reason, or you have been banned for violating the interests of ‘public health, national security, morals or the national economy’, you can approach the Iraqi authorities and they are obliged to give you more details.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#iraqAccordion8"
                aria-expanded="false"
                aria-controls="iraqAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    What can I do on a business visa in Iraq?
                  </button>
                </h5>
              </div>

              <div
                id="iraqAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#iraqAccordion"
              >
                <div class="card-body">
                  <p>
                    You can attend conferences, job meetings, interviews or seek business prospects on this visa. You are not allowed to be employed or be paid on this visa. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading9"
                data-toggle="collapse"
                data-target="#iraqAccordion9"
                aria-expanded="false"
                aria-controls="iraqAccordion9"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                   Do I need a transit visa to Iraq from India?
                  </button>
                </h5>
              </div>
              <div
                id="iraqAccordion9"
                class="collapse"
                aria-labelledby="heading9"
                data-parent="#iraqAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes, you do. You will need to obtain an Iraq transit visa before you travel. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading10"
                data-toggle="collapse"
                data-target="#iraqAccordion10"
                aria-expanded="false"
                aria-controls="iraqAccordion10"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I apply for a second transit visa if I need it after a month?
                  </button>
                </h5>
              </div>
              <div
                id="iraqAccordion10"
                class="collapse"
                aria-labelledby="heading10"
                data-parent="#iraqAccordion"
              >
                <div class="card-body">
                  <p>
                    You will need to wait for 3 months if you have to apply for a second transit visa. Your first visa will need to expire. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
        <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
              {{loadText}}
            </button> -->
      </div>
    </div>
  </div>
</section>
