<nav
  class="navbar navbar-expand-md navbar-dark headerPrimary colorBg"
  style="height: 50px; z-index: -1"
></nav>
<section class="page-not-found">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <img
          data-src="https://static.visa2fly.com/404.jpg"
          class="img-fluid lazyload"
          alt=""
        />
      </div>
      <div class="col-md-4 gogogo">
        <div class="goToHome">
          <div class="errorMsg">
            <p>error..<br />seems like you're lost</p>
          </div>
          <button class="btn btn-primary goToHomeBtn" (click)="goToHome()">
            Go To Home
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
