.cssTabbing {
  position: relative;
  top: -23px;
  width: 340px;
  margin: 0 auto;
}

.right-sty {
  background: rgba(1, 55, 110, 0.5);
  height: 100%;
}

.invalid-input {
  color: #eee;
  font-size: 12px;
}

.btn.calender {
  padding: 2px 8px !important;
  border: 1px solid #fff;
}

.calenderSvg {
  height: 1em;
  width: 1em;
  color: #fff;
}

.travelFormTab {
  display: block;
  list-style: none;
  background: #fff;
  margin-bottom: 0;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(159, 159, 159, 0.5);
}

.travelFormTab li {
  position: relative;
}
 .travelFormTab li {
  display: inline-block;
  width: 100%;
  text-align: center;
}


li,
ul {
  padding: 0;
  margin: 0;
}

.travelFormTab li a.active {
  background: #002154;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.travelFormTab li a {
  display: block;
  list-style: none;
  padding: 10px 6px 10px 26px;
  color: #333;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.input-sty {
  letter-spacing: 0;
  font-size: 11px;
  font-weight: 500;
  border: 0;
  padding: 4px 10px;
  border-radius: 4px;
  width: 100%;
  color: #757575;
  font-size: 12px;
  min-height: 40px;
  box-shadow: 1px 1px 1px #000;
  display: flex;
}

.label-sty {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  position: relative;
}

.input-sty::-webkit-input-placeholder {
  color: #8d908d;
  letter-spacing: 0;
}

.input-sty:-ms-input-placeholder {
  color: #8d908d;
  letter-spacing: 0;
}

.input-sty::placeholder {
  color: #8d908d;
  letter-spacing: 0;
}

.right-sty .float_left {
  float: left;
}

.right-sty .float_right {
  float: right;
}

.right-sty .date_input {
  width: 49%;
}

.formbox_new {
  display: table;
  width: 100%;
}

.formbox_new .radioLabel {
  width: 50%;
  display: block;
  float: left;
}

.formbox_new span {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  top: 15px;
}

.formbox_new .radioBox label.wrapper {
  font-weight: 400;
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 7px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  float: left;
}

.formbox_new .wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.formbox_new .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.formbox_new span {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin: 5px 0 3px;
  letter-spacing: 0;
  top: 15px;
}

.formbox_new .wrapper input:checked ~ .checkmark:after {
  display: block;
}

.formbox_new .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
}

.formbox_new.tripF .wrapper {
  width: 45px !important;
}

button.btn-proceed {
  border-radius: 3px;
  background-color: #f8ab35;
  box-shadow: 0 0 8px 0 rgba(66, 66, 66, 0.8);
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px;
  margin: 13px 0 10px;
  position: relative;
}

button.btn-quotes {
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(66, 66, 66, 0.8);
  color: #f8ab35;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px;
  margin: 5px 0 10px;
  position: relative;
}

ul.travellerAgelist li.ageList {
  display: inline-block;
  width: 20%;
  text-align: center;
  margin: 0 6px 6px 0;
  position: relative;
}

ul.travellerAgelist li.ageList span {
  position: absolute;
  border-radius: 50%;
  background: #000;
  height: 15px;
  width: 15px;
  top: -10px;
  right: -5px;
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: display 0.3s ease;
}

/* ul.travellerAgelist li.ageList:nth-child(1):hover span,
ul.travellerAgelist li.ageList:nth-child(2):hover span,
ul.travellerAgelist li.ageList:nth-child(3):hover span,
ul.travellerAgelist li.ageList:nth-child(4):hover span,
ul.travellerAgelist li.ageList:nth-child(5):hover span {
  display: none;
} */

ul.travellerAgelist li.ageList:hover span {
  display: flex;
}

ul.travellerAgelist li.ageList span i {
  font-size: 10px;
}

ul.travellerAgelist li.list_btn {
  float: right;
  width: 12%;
  margin-right: 0;
  text-align: center;
}

