<div class="container-fluid wrapContainer mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>
          FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="vietnamAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#vietnamAccordion1" aria-expanded="true" aria-controls="vietnamAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is it possible for me to collect a visa on arrival?
              </button>
            </h5>
          </div>

          <div id="vietnamAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Yes, it is possible to opt for a Vietnamese visa on arrival. This would require the same
                form, however, it will be submitted at the airport upon arrival. You would also need to send
                it to them by post beforehand, so they can send you a Visa Approval Letter. This is chargeable
                and necessary for the visa-on-arrival. For your, Vietnam E-visa apply online at Visa2Fly.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#vietnamAccordion2" aria-expanded="false" aria-controls="vietnamAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I forgot to send my visa form over before I depart. Will I be able to just submit it when I
                arrive?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p> You will be denied entry into Vietnam if you do not have either an e-visa or a pre-approval
                letter. There are no exceptions to this rule, so please exercise caution.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#vietnamAccordion3" aria-expanded="false"
            aria-controls="vietnamAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If I opt for a visa on arrival, do I pay the approval letter fee online, or when I arrive?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>You would need to pay the fee online, through credit/debit cards - Visa, MasterCard, or
                American Express.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#vietnamAccordion4" aria-expanded="false"
            aria-controls="vietnamAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Where and how do I submit the application form?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>If you are opting for an e-visa, you would need to submit this form to your nearest
                Vietnamese embassy. A visa on arrival would entail the form is submitted at the International
                Border checkpoint (upon arrival in Vietnam), to an Immigration officer. For your, Vietnam
                E-visa apply online at Visa2Fly.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#vietnamAccordion5" aria-expanded="false"
            aria-controls="vietnamAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am entering via air. Can I obtain a visa on arrival?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>The visa on arrival is only available for those passengers who are arriving by air. Those who
                enter Vietnam by sea or land would need to opt for an e-visa.
              </p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#vietnamAccordion6" aria-expanded="false" aria-controls="vietnamAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am backpacking from Vietnam to Laos. What visa do I require?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>If you are traveling to Laos after visiting Vietnam, please make sure the visa that you have
                is affixed in your passport (and not detachable). Vietnamese officials remove detachable visas
                from the passports when travelers leave Vietnam – this means that there is no proof of
                departure from Vietnam after. Laos officials require proof of departure from Vietnam, without
                which they may ask you to return back. For your, Vietnam E-visa apply online at Visa2Fly.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#vietnamAccordion7" aria-expanded="false"
            aria-controls="vietnamAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Along with my e-visa, what other documents would I need for entry into Vietnam?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                You would also be required to show your passport. For precaution, we suggest you review the
                applicable ports of entry that you can enter through (with an e-visa) as well.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#vietnamAccordion8" aria-expanded="true" aria-controls="vietnamAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I want to work in Vietnam. Can I apply for a business visa?
              </button>
            </h5>
          </div>

          <div id="vietnamAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>No, you would need to apply for a work permit in this case. This process would need to be
                completed before you enter Vietnam itself. In the case of attending any conferences or
                meetings, in which you would stay in Vietnam only for a few days, you could apply for a
                business visa. For your, Vietnam E-visa apply online at Visa2Fly.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#vietnamAccordion9" aria-expanded="false"
            aria-controls="vietnamAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I entered Vietnam as a tourist. Now, my company is telling me that I have to attend a meeting
                here soon. Can I just use the same visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p> If the purpose of your visit changes, you would need a new visa. This means in your case,
                you must obtain a new visa outside of Vietnam (leave, apply for a visa, come back) that is
                appropriate for your new activities. You cannot start those activities before you get your
                visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#vietnamAccordion10" aria-expanded="false"
            aria-controls="vietnamAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I have submitted incorrect biodata on my application form by mistake. What should I do?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>You would need to apply for a new e-visa. The old one, which you would get after 3 days,
                would either be rejected or invalid. You will not be able to travel with it.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
            data-target="#vietnamAccordion11" aria-expanded="false"
            aria-controls="vietnamAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I be refunded my visa fees if the visa does not come through?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion11" class="collapse" aria-labelledby="heading11"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>No, visa fees are non-refundable – for which reason, please make sure all your information is
                entered correctly, and thoroughly checked before submission.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading12" data-toggle="collapse"
            data-target="#vietnamAccordion12" aria-expanded="false"
            aria-controls="vietnamAccordion12">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am running out of blank pages in my passport - will I still be able to apply for a visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion12" class="collapse" aria-labelledby="heading12"
            data-parent="#vietnamAccordion">
            <div class="card-body">

              <p>Yes, you can apply for a loose-leaf visa. This is detachable from your passport. Please note,
                if you are traveling to any third country after departing from Vietnam, please do not opt for
                this option. This is because the Vietnamese officials remove your detachable visa upon leaving
                the country – the third country would require you to show proof of departure from Vietnam, in
                the form of a passport stamp on your visa. You would not have this if you opted for a
                loose-leaf visa. For your, Vietnam E-visa apply online at Visa2Fly.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
            data-target="#vietnamAccordion13" aria-expanded="false"
            aria-controls="vietnamAccordion13">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What if I lose my passport while I am in Vietnam?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion13" class="collapse" aria-labelledby="heading13"
            data-parent="#vietnamAccordion">
            <div class="card-body">

              <p>You will require a replacement visa and passport, in order to legally be allowed to remain
                in, and depart from, Vietnam. Your country’s embassy in Vietnam can issue you a limited
                validity replacement passport (sometimes in as little as one business day) for emergency
                purposes; however, the Vietnamese government requires 3-5 (working) days to issue a
                replacement visa. For which reason, we recommend that you exercise extreme caution when it
                comes to your travel documents – theft and/or loss would cause unnecessary complications.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading14" data-toggle="collapse"
            data-target="#vietnamAccordion14" aria-expanded="false"
            aria-controls="vietnamAccordion14">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I need to travel for work urgently. Can I obtain a visa in less than 1 day?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion14" class="collapse" aria-labelledby="heading14"
            data-parent="#vietnamAccordion">
            <div class="card-body">

              <p>Yes, they do have an ‘urgent case’ visa available. This will be processed in 4-6 hours.
                However, please note that you will have to pay a premium for this kind of visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading15" data-toggle="collapse"
            data-target="#vietnamAccordion15" aria-expanded="true" aria-controls="vietnamAccordion15">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is there any way that I could transit without a visa?
              </button>
            </h5>
          </div>

          <div id="vietnamAccordion15" class="collapse" aria-labelledby="heading15"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Yes, you can transit without a visa if you stay inside the airport premises for your entire
                transit time.</p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading16" data-toggle="collapse"
            data-target="#vietnamAccordion16" aria-expanded="false" aria-controls="vietnamAccordion16">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What will I be able to do in transit, if I do not leave the airport?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion16" class="collapse" aria-labelledby="heading16"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Both the Ho Chi Minh City and Hanoi airports offer comfortable sleeping services and good
                food/beverage for transit passengers, so you would not have to worry about finding amenities.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading17" data-toggle="collapse"
            data-target="#vietnamAccordion17" aria-expanded="false"
            aria-controls="vietnamAccordion17">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What visa should I opt for if I want to leave the airport while in transit?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion17" class="collapse" aria-labelledby="heading17"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>If you are transiting in Vietnam for more than 6 hours, and you want to leave the airport,
                you could opt for a single-entry visa on arrival. We suggest that if this is the route you
                want to take, please make preparations for the visa before departure itself. ( You will need
                to submit a form to them, even before you arrive)
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading18" data-toggle="collapse"
            data-target="#vietnamAccordion18" aria-expanded="false"
            aria-controls="vietnamAccordion18">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I need to produce a return ticket if I am exempted from a visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion18" class="collapse" aria-labelledby="heading18"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>You do not need to show a return ticket (from your third country) to the Vietnam authorities,
                however, many airlines do not let you board until they have seen proof of return tickets -
                checking with your airline for this matter is advised. For your, Vietnam E-visa apply online
                at Visa2Fly.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading19" data-toggle="collapse"
            data-target="#vietnamAccordion19" aria-expanded="false"
            aria-controls="vietnamAccordion19">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I obtain a transit e-visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion19" class="collapse" aria-labelledby="heading19"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Currently, there is no e-visa facility for transit passengers. If you are staying in the
                airport premises itself (for the whole duration of your layover), then you would not require
                any transit visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading20" data-toggle="collapse"
            data-target="#vietnamAccordion20" aria-expanded="false" aria-controls="vietnamAccordion20">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am transiting at night. Are there any sleeping facilities available?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion20" class="collapse" aria-labelledby="heading20"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>If you are a light sleeper, it is advised to book into a hotel close to the airport. This is
                because some international airports (such as the Hanoi and Danang ones) are small, and
                bustling with life even at late hours. You might be disturbed by the noise.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading21" data-toggle="collapse"
            data-target="#vietnamAccordion21" aria-expanded="false"
            aria-controls="vietnamAccordion21">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I need a transit visa if I plan to change airports?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion21" class="collapse" aria-labelledby="heading21"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Yes, you require a visa in this case. Since there is no explicit transit visa for Vietnam,
                you should get a standard tourist e-visa, or a visa-on-arrival instead. You need to submit
                documents before your journey for both types, so planning ahead and preparing for the same is
                advised.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading22" data-toggle="collapse"
            data-target="#vietnamAccordion22" aria-expanded="false"
            aria-controls="vietnamAccordion22">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I apply for a Vietnam visa application online?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion22" class="collapse" aria-labelledby="heading22"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                Yes, you can. Vietnam has launched a pilot e-visa system. There are a group of 80 countries who can apply for an e-visa under this. India is one of these countries.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading23" data-toggle="collapse"
            data-target="#vietnamAccordion23" aria-expanded="false"
            aria-controls="vietnamAccordion23">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How long does it take to process a Vietnam visa online?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion23" class="collapse" aria-labelledby="heading23"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                For the e-visa, it can take around 3 working days (after the 
                Immigration Department receives the visa application and fee). 
                For a normal offline visa, it should not take more than a 
                week to process. 
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading24" data-toggle="collapse"
            data-target="#vietnamAccordion24" aria-expanded="false"
            aria-controls="vietnamAccordion24">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I apply for Vietnam visa even if my passport expires in the next 6 months?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion24" class="collapse" aria-labelledby="heading24"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                According to Vietnamese law, the expiry date of the visa must 
                be at least 30 days before your passport is set to expire. This 
                means that the e-visa expiry date should also be a 
                minimum of 30 days before your passport expires.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading25" data-toggle="collapse"
            data-target="#vietnamAccordion25" aria-expanded="false"
            aria-controls="vietnamAccordion25">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Are there any photograph requirements for a Vietnam tourist visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion25" class="collapse" aria-labelledby="heading25"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                Yes. You will need two photographs, of 4*6cm dimensions. You must 
                be looking straight into the camera and must not be wearing glasses. 
                The photo must be in portrait mode. You will also need to submit 
                a copy of your passport data page (the full page including 
                your passport photo).
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading26" data-toggle="collapse"
            data-target="#vietnamAccordion26" aria-expanded="false"
            aria-controls="vietnamAccordion26">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there a Vietnam visa on arrival for Indian citizens?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion26" class="collapse" aria-labelledby="heading26"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                There is something similar to a visa on arrival – however, you 
                will need a pre-prepared VOA (Visa On-Arrival) approval letter. 
                Upon showing this letter on arrival, you can get a visa on arrival. 
                However, we recommend going for an e-visa or a regular visa, 
                so that you will have a greater confirmation of entry 
                into the country.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading27" data-toggle="collapse"
            data-target="#vietnamAccordion27" aria-expanded="false"
            aria-controls="vietnamAccordion27">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I get a payment refund if I have a refused or unused Vietnam visa application?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion27" class="collapse" aria-labelledby="heading27"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                No, you will not be refunded. The Vietnamese Immigration Department 
                does not currently offer refunds for visas after 
                the fees have been paid.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading28" data-toggle="collapse"
            data-target="#vietnamAccordion28" aria-expanded="false"
            aria-controls="vietnamAccordion28">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How long do I have to wait for a Vietnam student visa to be processed? Can I work on this Vietnam visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion28" class="collapse" aria-labelledby="heading28"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                You will need at least 2 weeks. This is generally how long it takes. Students are allowed to take up part-time work opportunities, but no full-time jobs. If you wish to be employed in Vietnam, you must apply for a Vietnam working visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading29" data-toggle="collapse"
            data-target="#vietnamAccordion29" aria-expanded="false"
            aria-controls="vietnamAccordion29">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                My child is studying in Vietnam. Do I need a Vietnam parent visa to visit them?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion29" class="collapse" aria-labelledby="heading29"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                The parent visa for Vietnam is actually just a normal Vietnam visitor 
                visa. You will not have to apply for a separate visa for 
                parent purposes. For more information, and for booking your visa, 
                please contact us at Visa2Fly and we shall assist you 
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading30" data-toggle="collapse"
            data-target="#vietnamAccordion30" aria-expanded="false"
            aria-controls="vietnamAccordion30">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I need a Vietnam business visa to attend a conference there?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion30" class="collapse" aria-labelledby="heading30"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                Yes. You will need the visa if you wish to attend work 
                events, conferences, or negotiate deals. There are options 
                for visas of varying validities (1month and 3 months), as well 
                as single and multiple entries. Check out or website 
                at Visa2Fly to learn more!
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading31" data-toggle="collapse"
            data-target="#vietnamAccordion31" aria-expanded="false"
            aria-controls="vietnamAccordion31">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What are the Vietnam visa fees like?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion31" class="collapse" aria-labelledby="heading31"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                Our page on obtaining a Vietnam visitor visa tells you exactly 
                what the fees are like – for business tourist and transit facilities! 
                Click the hyperlink to know more. Please note, the Vietnam visa 
                authorities do not process fee refunds or transfers.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading32" data-toggle="collapse"
            data-target="#vietnamAccordion32" aria-expanded="false"
            aria-controls="vietnamAccordion32">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What are the ways to process a Vietnam visa for Indians?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion32" class="collapse" aria-labelledby="heading32"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                You can apply for an e-visa, or even apply for a regular visa. 
                You can also process a “visa on-arrival”, for which you will 
                need to process an approval letter before you leave India. Either 
                way, we @ Visa2Fly can help you with any of these processes. 
                Check out or website at Visa2Fly to learn more!
              </p>
            </div>
          </div>
        </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
  </div>
</div>
