<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="vietnamAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#vietnamAccordion1" aria-expanded="true" aria-controls="vietnamAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is it possible for me to collect a visa on arrival?
              </button>
            </h5>
          </div>

          <div id="vietnamAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Yes, it is possible to opt for a Vietnamese visa on arrival. This would require the same
                form, however, it will be submitted at the airport upon arrival. You would also need to send
                it to them by post beforehand, so they can send you a Visa Approval Letter. This is chargeable
                and necessary for the visa-on-arrival. For your, Vietnam E-visa apply online at Visa2Fly.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#vietnamAccordion2" aria-expanded="false" aria-controls="vietnamAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I forgot to send my visa form over before I depart. Will I be able to just submit it when I
                arrive?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p> You will be denied entry into Vietnam if you do not have either an e-visa or a pre-approval
                letter. There are no exceptions to this rule, so please exercise caution.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#vietnamAccordion3" aria-expanded="false"
            aria-controls="vietnamAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If I opt for a visa on arrival, do I pay the approval letter fee online, or when I arrive?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>You would need to pay the fee online, through credit/debit cards - Visa, MasterCard, or
                American Express.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#vietnamAccordion4" aria-expanded="false"
            aria-controls="vietnamAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Where and how do I submit the application form?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>If you are opting for an e-visa, you would need to submit this form to your nearest
                Vietnamese embassy. A visa on arrival would entail the form is submitted at the International
                Border checkpoint (upon arrival in Vietnam), to an Immigration officer. For your, Vietnam
                E-visa apply online at Visa2Fly.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#vietnamAccordion5" aria-expanded="false"
            aria-controls="vietnamAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am entering via air. Can I obtain a visa on arrival?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>The visa on arrival is only available for those passengers who are arriving by air. Those who
                enter Vietnam by sea or land would need to opt for an e-visa.
              </p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#vietnamAccordion6" aria-expanded="false" aria-controls="vietnamAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am backpacking from Vietnam to Laos. What visa do I require?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>If you are traveling to Laos after visiting Vietnam, please make sure the visa that you have
                is affixed in your passport (and not detachable). Vietnamese officials remove detachable visas
                from the passports when travelers leave Vietnam – this means that there is no proof of
                departure from Vietnam after. Laos officials require proof of departure from Vietnam, without
                which they may ask you to return back. For your, Vietnam E-visa apply online at Visa2Fly.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#vietnamAccordion7" aria-expanded="false"
            aria-controls="vietnamAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Along with my e-visa, what other documents would I need for entry into Vietnam?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>
                You would also be required to show your passport. For precaution, we suggest you review the
                applicable ports of entry that you can enter through (with an e-visa) as well.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#vietnamAccordion8" aria-expanded="true" aria-controls="vietnamAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I want to work in Vietnam. Can I apply for a business visa?
              </button>
            </h5>
          </div>

          <div id="vietnamAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>No, you would need to apply for a work permit in this case. This process would need to be
                completed before you enter Vietnam itself. In the case of attending any conferences or
                meetings, in which you would stay in Vietnam only for a few days, you could apply for a
                business visa. For your, Vietnam E-visa apply online at Visa2Fly.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#vietnamAccordion9" aria-expanded="false"
            aria-controls="vietnamAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I entered Vietnam as a tourist. Now, my company is telling me that I have to attend a meeting
                here soon. Can I just use the same visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p> If the purpose of your visit changes, you would need a new visa. This means in your case,
                you must obtain a new visa outside of Vietnam (leave, apply for a visa, come back) that is
                appropriate for your new activities. You cannot start those activities before you get your
                visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#vietnamAccordion10" aria-expanded="false"
            aria-controls="vietnamAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I have submitted incorrect biodata on my application form by mistake. What should I do?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>You would need to apply for a new e-visa. The old one, which you would get after 3 days,
                would either be rejected or invalid. You will not be able to travel with it.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
            data-target="#vietnamAccordion11" aria-expanded="false"
            aria-controls="vietnamAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I be refunded my visa fees if the visa does not come through?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion11" class="collapse" aria-labelledby="heading11"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>No, visa fees are non-refundable – for which reason, please make sure all your information is
                entered correctly, and thoroughly checked before submission.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading12" data-toggle="collapse"
            data-target="#vietnamAccordion12" aria-expanded="false"
            aria-controls="vietnamAccordion12">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am running out of blank pages in my passport - will I still be able to apply for a visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion12" class="collapse" aria-labelledby="heading12"
            data-parent="#vietnamAccordion">
            <div class="card-body">

              <p>Yes, you can apply for a loose-leaf visa. This is detachable from your passport. Please note,
                if you are traveling to any third country after departing from Vietnam, please do not opt for
                this option. This is because the Vietnamese officials remove your detachable visa upon leaving
                the country – the third country would require you to show proof of departure from Vietnam, in
                the form of a passport stamp on your visa. You would not have this if you opted for a
                loose-leaf visa. For your, Vietnam E-visa apply online at Visa2Fly.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
            data-target="#vietnamAccordion13" aria-expanded="false"
            aria-controls="vietnamAccordion13">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What if I lose my passport while I am in Vietnam?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion13" class="collapse" aria-labelledby="heading13"
            data-parent="#vietnamAccordion">
            <div class="card-body">

              <p>You will require a replacement visa and passport, in order to legally be allowed to remain
                in, and depart from, Vietnam. Your country’s embassy in Vietnam can issue you a limited
                validity replacement passport (sometimes in as little as one business day) for emergency
                purposes; however, the Vietnamese government requires 3-5 (working) days to issue a
                replacement visa. For which reason, we recommend that you exercise extreme caution when it
                comes to your travel documents – theft and/or loss would cause unnecessary complications.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading14" data-toggle="collapse"
            data-target="#vietnamAccordion14" aria-expanded="false"
            aria-controls="vietnamAccordion14">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I need to travel for work urgently. Can I obtain a visa in less than 1 day?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion14" class="collapse" aria-labelledby="heading14"
            data-parent="#vietnamAccordion">
            <div class="card-body">

              <p>Yes, they do have an ‘urgent case’ visa available. This will be processed in 4-6 hours.
                However, please note that you will have to pay a premium for this kind of visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading15" data-toggle="collapse"
            data-target="#vietnamAccordion15" aria-expanded="true" aria-controls="vietnamAccordion15">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is there any way that I could transit without a visa?
              </button>
            </h5>
          </div>

          <div id="vietnamAccordion15" class="collapse" aria-labelledby="heading15"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Yes, you can transit without a visa if you stay inside the airport premises for your entire
                transit time.</p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading16" data-toggle="collapse"
            data-target="#vietnamAccordion16" aria-expanded="false" aria-controls="vietnamAccordion16">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What will I be able to do in transit, if I do not leave the airport?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion16" class="collapse" aria-labelledby="heading16"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Both the Ho Chi Minh City and Hanoi airports offer comfortable sleeping services and good
                food/beverage for transit passengers, so you would not have to worry about finding amenities.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading17" data-toggle="collapse"
            data-target="#vietnamAccordion17" aria-expanded="false"
            aria-controls="vietnamAccordion17">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What visa should I opt for if I want to leave the airport while in transit?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion17" class="collapse" aria-labelledby="heading17"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>If you are transiting in Vietnam for more than 6 hours, and you want to leave the airport,
                you could opt for a single-entry visa on arrival. We suggest that if this is the route you
                want to take, please make preparations for the visa before departure itself. ( You will need
                to submit a form to them, even before you arrive)
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading18" data-toggle="collapse"
            data-target="#vietnamAccordion18" aria-expanded="false"
            aria-controls="vietnamAccordion18">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I need to produce a return ticket if I am exempted from a visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion18" class="collapse" aria-labelledby="heading18"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>You do not need to show a return ticket (from your third country) to the Vietnam authorities,
                however, many airlines do not let you board until they have seen proof of return tickets -
                checking with your airline for this matter is advised. For your, Vietnam E-visa apply online
                at Visa2Fly.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading19" data-toggle="collapse"
            data-target="#vietnamAccordion19" aria-expanded="false"
            aria-controls="vietnamAccordion19">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I obtain a transit e-visa?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion19" class="collapse" aria-labelledby="heading19"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Currently, there is no e-visa facility for transit passengers. If you are staying in the
                airport premises itself (for the whole duration of your layover), then you would not require
                any transit visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading20" data-toggle="collapse"
            data-target="#vietnamAccordion20" aria-expanded="false" aria-controls="vietnamAccordion20">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am transiting at night. Are there any sleeping facilities available?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion20" class="collapse" aria-labelledby="heading20"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>If you are a light sleeper, it is advised to book into a hotel close to the airport. This is
                because some international airports (such as the Hanoi and Danang ones) are small, and
                bustling with life even at late hours. You might be disturbed by the noise.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading21" data-toggle="collapse"
            data-target="#vietnamAccordion21" aria-expanded="false"
            aria-controls="vietnamAccordion21">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I need a transit visa if I plan to change airports?
              </button>
            </h5>
          </div>
          <div id="vietnamAccordion21" class="collapse" aria-labelledby="heading21"
            data-parent="#vietnamAccordion">
            <div class="card-body">
              <p>Yes, you require a visa in this case. Since there is no explicit transit visa for Vietnam,
                you should get a standard tourist e-visa, or a visa-on-arrival instead. You need to submit
                documents before your journey for both types, so planning ahead and preparing for the same is
                advised.
              </p>
            </div>
          </div>
        </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
  </div>
</div>
