<section id="faq">
<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h3><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>
          FAQ's
        </span></h3>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="franceAccordion">

        <!-- <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#franceAccordion1" aria-expanded="true" aria-controls="franceAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What is the current France visa processing time?
              </button>
            </h5>
          </div>

          <div id="franceAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#franceAccordion">
            <div class="card-body">
              <p>As a general rule, a decision is taken by the
                Consulate within 20 days. This period may,
                in individual cases, be extended.</p>

              <p> Please note these are the processing times after
                your Biometrics have been completed. Ideally, it
                is advised to start your visa application
                process 6-8 weeks prior to your intended
                date of departure.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#franceAccordion2" aria-expanded="false" aria-controls="franceAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What to do if my France visa application is refused/denied?
              </button>
            </h5>
          </div>
          <div id="franceAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#franceAccordion">
            <div class="card-body">
              <p> Any decision on the part of refusal of a visa to the
                applicant shall be notified using a standard
                form citing the reasons.
                You can appeal within the first 30 days
                of receipt of the visa refusal.
              </p>
              <p> If you are not updated with the reason for
                visa denial, you can apply for the visa
                again after a period of 6 months.
              </p>
            </div>
          </div>
        </div> -->

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#franceAccordion1"
            aria-expanded="true" aria-controls="franceAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What do I do if I need to renew/extend my France visa?
              </button>
            </h5>
          </div>

          <div id="franceAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#franceAccordion">
            <div class="card-body">
              <p>You will need to contact the prefecture of your place of residence. If you are outside France, you will
                need to contact your home country’s consular services to arrange this.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#franceAccordion2"
            aria-expanded="false" aria-controls="franceAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If my flight is making a stopover in France, will I need to apply for France visa of any
                kind?
              </button>
            </h5>
          </div>
          <div id="franceAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#franceAccordion">
            <div class="card-body">
              <p>If you have to transit through France on the way to another Schengen country, you must have an
                entry visa and a short-stay visa for the Schengen area (unless exempted from the same). If you are
                transiting through France on your way to a country that is located outside the Schengen area, you do
                not need an airport transit visa. This also depends on your nationality – if you are Indian and you do
                not intend to leave the airport premises for your entire transit stay, you do not need an ATV (Airport
                Transit Visa).</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#franceAccordion3"
            aria-expanded="false" aria-controls="franceAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                After I obtained my France tourist visa, should I submit any other travel documents
                to border control (other than my passport)?
              </button>
            </h5>
          </div>
          <div id="franceAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#franceAccordion">
            <div class="card-body">
              <p>Other than your passport (which is mandatory), you also need to carry your supporting documents
                to prove your purpose of stay. These will be the same as the ones you submitted to obtain your visa.
                You will need to show proof of funds, as well as a return ticket. A health insurance certificate is also
                necessary.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#franceAccordion4"
            aria-expanded="false" aria-controls="franceAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If I have a France visa for Indians, is it guaranteed that I can enter France?
              </button>
            </h5>
          </div>
          <div id="franceAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#franceAccordion">
            <div class="card-body">
              <p>Having a visa in your passport doesn’t necessarily guarantee that you will be authorised to enter the
                Schengen area. This decision is based on the border police, who may refuse your entry if you do not
                carry all the supporting documents necessary.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#franceAccordion5"
            aria-expanded="false" aria-controls="franceAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I made a mistake in my France visa application online. What can I do now?
              </button>
            </h5>
          </div>
          <div id="franceAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#franceAccordion">
            <div class="card-body">
              <p>You will have to fill out a new form – you do not have to delete/create a new account; however, you
                must remember to print the correct version of your form to add to the rest of your required
                documents.</p>
            </div>
          </div>
        </div>

        <div id="faqCollapse"  class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#franceAccordion6"
              aria-expanded="false" aria-controls="franceAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What are the photograph requirements for a France visitor visa?
                </button>
              </h5>
            </div>
            <div id="franceAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#franceAccordion">
              <div class="card-body">
                <p>The picture has to be recent and conform to reality. The photo size must be 35 mm wide and 45 mm
                  high. The size of the face in this photo should be 32 to 36 mm (=70 to 80% of the picture). The face
                  captured must be from chin to forehead (excluding your hair).</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#franceAccordion7"
              aria-expanded="false" aria-controls="franceAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Where do I need to submit my France visa application?
                </button>
              </h5>
            </div>
            <div id="franceAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#franceAccordion">
              <div class="card-body">
                <p>You will have to submit it to the French Embassy closest to you, in your home country – the country
                  where you legally reside. If you are going through your visa process with Visa2Fly, you can rest
                  assured that we will handle this step for you. If you are in a different country that the one which
                  you
                  legally reside in, and you can explain why your application cannot be submitted in the country of
                  your legal/passport residence, your application may still be accepted.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#franceAccordion8"
              aria-expanded="false" aria-controls="franceAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there a France visa on arrival for Indian citizens?
                </button>
              </h5>
            </div>
            <div id="franceAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#franceAccordion">
              <div class="card-body">
                <p>As of currently, there is no France visa on arrival for Indians. All Schengen states require Indian
                  nationals to have a visa before entering.</p>
              </div>

            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#franceAccordion9"
              aria-expanded="false" aria-controls="franceAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I am a minor. Can I apply for a France student visa?
                </button>
              </h5>
            </div>
            <div id="franceAccordion9" class="collapse" aria-labelledby="heading9" data-parent="#franceAccordion">
              <div class="card-body">
                <p>No, you cannot. If you have to apply for a French student visa, you need to be 18 years or older, as
                  of
                  the year of application.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#franceAccordion10"
              aria-expanded="false" aria-controls="franceAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Why was my France parent visa refused?
                </button>
              </h5>
            </div>
            <div id="franceAccordion10" class="collapse" aria-labelledby="heading10" data-parent="#franceAccordion">
              <div class="card-body">
                <p>Firstly, if you are a parent and want to visit your children in France, the ‘parent visa’ is
                  essentially just
                  a normal visitor visa. According to the provisions of French and European law, decisions about
                  refusing visas to France are justified. You can try to apply again.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#franceAccordion11"
              aria-expanded="true" aria-controls="franceAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What can I do on a France business visa?
                </button>
              </h5>
            </div>

            <div id="franceAccordion11" class="collapse" aria-labelledby="heading11" data-parent="#franceAccordion">
              <div class="card-body">
                <p>You can reply to invitations and requests from your partners in France. If you want to
                  attend/participate in trade fairs, seminars or conferences (that are related to your professional
                  field
                  of work), you can do this as well. You cannot engage in any paid or unpaid work whilst on this visa –
                  you need a France working visa for this. You can stay in France for a maximum of 90 days on this
                  visa.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#franceAccordion12"
              aria-expanded="true" aria-controls="franceAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Are the France visa fees refundable?
                </button>
              </h5>
            </div>

            <div id="franceAccordion12" class="collapse" aria-labelledby="heading12" data-parent="#franceAccordion">
              <div class="card-body">
                <p>No, they are not. All fees paid towards obtaining any Schengen visa are mandatory and non-
                  refundable.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#franceAccordion13"
              aria-expanded="true" aria-controls="franceAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  I have dual/triple nationality. Which passport should I use when applying for my
                  France visa online?
                </button>
              </h5>
            </div>

            <div id="franceAccordion13" class="collapse" aria-labelledby="heading13" data-parent="#franceAccordion">
              <div class="card-body">
                <p>You will need to use the passport that you plan to travel with. When you fill in the application
                  form,
                  you should indicate your original nationality, along with your current nationality (i.e. that shown on
                  your passport).</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>
  </div>
</div>
</section>
