p,
li {
  font-size: 14px;
  margin: 0;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.faqQuery {
  background-color: rgba(0, 0, 0, 0.03);
  text-decoration: none !important;
  border-radius: 10px;
  cursor: pointer;
}

.faqQueryCard {
  border-radius: 10px !important;
}

.wrapContainer {
  padding: 0px 40px 10px;
}

.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.faqQuery button {
  font-weight: 500;
  font-size: 16px;
  color: #0000bb !important;
  text-decoration: none !important;
}

.visaTypeButton button {
  font-weight: 650;
  font-size: 16px;
  color: #fff !important;
  text-decoration: none !important;
}

.faqContainer {
  color: #000;
  font-weight: 700;
  display: flex;
  justify-content:center ;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.faqContainer svg {
  margin-right: 10px;
}

@media screen and (min-width: 481px) and (max-width: 500px) {
 
  .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #0000bb !important;
    text-decoration: none !important;
  }

}

@media screen and (min-width: 501px) and (max-width: 767px) {

  .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #0000bb !important;
    text-decoration: none !important;
  }

}

@media screen and (min-width: 360px) and (max-width: 480px) {

  .faqContainer {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .wrapContainer {
    padding: 0px 15px 10px;
  }

}

@media screen and (min-width: 320px) and (max-width: 359px) {

  .faqContainer {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .wrapContainer {
    padding: 0px 15px 10px;
  }

}
