<section id="faq">
<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
        </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="turkeyAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#turkeyAccordion1" aria-expanded="true" aria-controls="turkeyAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                How will I obtain my e-visa?
              </button>
            </h5>
          </div>

          <div id="turkeyAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p>You will receive a link to download your Turkey e-visa online after the completion of the
                application. This link will also be sent to you by email, so please take extra caution to
                enter your email details
                correctly. Notifications on acceptance of payments, as well as on visa status are sent here as
                well.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#turkeyAccordion2" aria-expanded="false" aria-controls="turkeyAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Should I print my e-visa out?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p> This is not necessary, as Passport Control officials will verify your e-visa on their
                systems upon arrival. However, it is recommended to keep either a hard copy (printed version)
                or soft copy (downloaded
                version) with you at this time, in the event of any failure on their system.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#turkeyAccordion3" aria-expanded="false"
            aria-controls="turkeyAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What are the advantages of getting an e-visa?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p>The time taken to obtain your visa is relatively much sooner in the case of e-visas (less
                than 24 hours). You would also save time at the ports of entry (into Turkey). The best way way
                to secure a Turkey
                E-visa – apply online.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#turkeyAccordion4" aria-expanded="false" aria-controls="turkeyAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am an Indian citizen. Am I eligible for an e-visa?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p>Yes, Indian citizens are eligible for both business and Turkey tourist e-visas.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#turkeyAccordion5" aria-expanded="false" aria-controls="turkeyAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I need to arrive in Turkey on the exact date mentioned in my application?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p>It is not required to enter Turkey on the exact date. You can enter at any time within the
                validity of your visa (180 days). Please note, you cannot stay for more than 30 days after
                entering, and you can
                only enter once.
              </p>
            </div>
          </div>
        </div>

        <div id="faqCollapse"  class="collapse">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#turkeyAccordion6" aria-expanded="false" aria-controls="turkeyAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                My travel dates may change. Can I modify my e-visa to reflect those?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p>If your travel dates are within the valid period of the visa, there is no need to change.
                However, if not, you cannot modify your e-visa. You will need to apply for a Turkey e-visa
                online again.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#turkeyAccordion7" aria-expanded="false"
            aria-controls="turkeyAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I have a child. Do I apply for a separate e-visa for them?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p>Yes, you will need to apply for separate visas, even if your child’s details are in your
                passport. All individuals require separate visas.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#turkeyAccordion8" aria-expanded="true" aria-controls="turkeyAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What can I do with my business visa?
              </button>
            </h5>
          </div>

          <div id="turkeyAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p>It is possible to attend conferences, arrange trade
                fairs, and hold business meetings, among other things.
                You cannot engage in salaried employment
                (i.e. get a job), however.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
            data-target="#turkeyAccordion9" aria-expanded="false" aria-controls="turkeyAccordion9">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am traveling with my colleagues. Can we obtain one visa for all of us?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion9" class="collapse" aria-labelledby="heading9"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p> One visa will not be given for a whole
                group - each traveler must own a separate visa.
                You can, however, create a group application for
                a minimum of 10 and a maximum of 300 applicants. This
                will not be one visa, it will only be one
                application.
              </p>

              <p>Conditions include: being from the same country,
                having the same kind of travel documents (i.e. all
                diplomatic, or all normal passports), and having
                the same arrival date.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
            data-target="#turkeyAccordion10" aria-expanded="false"
            aria-controls="turkeyAccordion10">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I obtain a multiple-entry visa?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion10" class="collapse" aria-labelledby="heading10"
            data-parent="#turkeyAccordion">
            <div class="card-body">
              <p>No, you cannot obtain a multiple-entry e-visa. Only
                single entry e-visas (for both tourist and business
                purposes) are issued by the Turkish government. If you
                find someone who tells you otherwise, please note,
                they are probably trying to scam you.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
            data-target="#turkeyAccordion11" aria-expanded="false"
            aria-controls="turkeyAccordion11">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I be able to get a refund if I do not use my e-visa?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion11" class="collapse" aria-labelledby="heading11"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>No, Turkey does not give out refunds for unused
                e-visas in the case of Turkey e-visa online.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading12" data-toggle="collapse"
            data-target="#turkeyAccordion12" aria-expanded="false"
            aria-controls="turkeyAccordion12">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If I want to stay for a period longer than my e-visa permits, what do I do?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion12" class="collapse" aria-labelledby="heading12"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>If you want to extend your visa, you will need
                to go to the nearest Provincial Directorate of
                Migration Management in Turkey (once you reach). There,
                you will have to apply for a residence permit. If you
                overstay your visa without applying for this, you are
                liable to pay fines, be deported or even banned from
                future travel into Turkey.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
            data-target="#turkeyAccordion13" aria-expanded="false" aria-controls="turkeyAccordion13">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I realized that the information I submitted in my e-visa does not fully match my travel
                document (passport). How can I correct it?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion13" class="collapse" aria-labelledby="heading13"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>You will need to apply for a new visa, as
                the previous one is considered invalid. You will
                not be allowed entry into Turkey with your
                previous visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading14" data-toggle="collapse"
            data-target="#turkeyAccordion14" aria-expanded="false"
            aria-controls="turkeyAccordion14">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If my e-visa application is denied, will I be refunded?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion14" class="collapse" aria-labelledby="heading14"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>An e-visa fee is only charged to an approved
                e-visa. Therefore, yes, you will be refunded. However,
                for invalid applications (i.e. submitted, approved and
                then later realize some details are inaccurate),
                there will be no refund processed.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading15" data-toggle="collapse"
            data-target="#turkeyAccordion15" aria-expanded="false"
            aria-controls="turkeyAccordion15">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I apply for Turkey visa online?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion15" class="collapse" aria-labelledby="heading15"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                Yes, you can. Turkey does offer an e-visa for Indians; however, it is only for 
                citizens who have a valid visa to any of the Schengen countries/USA/UK/Ireland. 
                If you do not have this available, you will need to obtain a normal sticker 
                visa. We at Visa2fly can help you with this, so that it will 
                feel as online as possible! 
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading16" data-toggle="collapse"
            data-target="#turkeyAccordion16" aria-expanded="false"
            aria-controls="turkeyAccordion16">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there a Turkey Visa on arrival for Indian citizens?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion16" class="collapse" aria-labelledby="heading16"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                No, there is not. You can only apply for either an e-visa or a 
                regular sticker visa if you are an Indian wishing to enter Turkey. 
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading17" data-toggle="collapse"
            data-target="#turkeyAccordion17" aria-expanded="false"
            aria-controls="turkeyAccordion17">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I apply for Turkey visa at the Consulate/Embassy?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion17" class="collapse" aria-labelledby="heading17"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                No. You can only apply at authorized Visa Application Centres, 
                who are the sole authorized bodies. One such example is Gateway. 
                If you are confused, please contact Visa2Fly so we can 
                assist you on the next step
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading18" data-toggle="collapse"
            data-target="#turkeyAccordion18" aria-expanded="false"
            aria-controls="turkeyAccordion18">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                When should I start processing my Turkey visa application online?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion18" class="collapse" aria-labelledby="heading18"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                It is best to apply at least 1-2 weeks in advance, to make sure 
                that even if you make a mistake on your Turkey visa application, 
                you still have enough time to apply for a new one.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading19" data-toggle="collapse"
            data-target="#turkeyAccordion19" aria-expanded="false"
            aria-controls="turkeyAccordion19">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is the minimum period of validity that my passport should have, if I want to apply for a Turkey tourist visa?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion19" class="collapse" aria-labelledby="heading19"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                Your passport will need to have a minimum validity of at least 6 months if you need to apply for any Turkey visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading20" data-toggle="collapse"
            data-target="#turkeyAccordion20" aria-expanded="false"
            aria-controls="turkeyAccordion20">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                My child is studying in Turkey. Do I need a Turkey parent visa to visit them?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion20" class="collapse" aria-labelledby="heading20"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                The parent visa for Turkey is actually just a normal Turkey 
                visitor visa. You will not have to apply for a separate visa for 
                parent purposes. For more information, and for booking your visa, 
                please contact us at Visa2Fly and we shall 
                assist you
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading21" data-toggle="collapse"
            data-target="#turkeyAccordion21" aria-expanded="false"
            aria-controls="turkeyAccordion21">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How long does it take to process a Turkey student visa?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion21" class="collapse" aria-labelledby="heading21"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                It takes about 8 weeks to process a Turkish student visa. You must 
                have your completed university acceptance letter at least 2 months 
                in advance to the start of your term to apply.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading22" data-toggle="collapse"
            data-target="#turkeyAccordion22" aria-expanded="false"
            aria-controls="turkeyAccordion22">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there a multiple entry Turkey business visa?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion22" class="collapse" aria-labelledby="heading22"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                Yes – Turkey does offer both single- and multiple-entry visas for 
                business purposes. To obtain yours soon, contact Visa2Fly!
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading23" data-toggle="collapse"
            data-target="#turkeyAccordion23" aria-expanded="false"
            aria-controls="turkeyAccordion23">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I need a residence permit to get a work visa to Turkey?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion23" class="collapse" aria-labelledby="heading23"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                Yes. You will need to apply for a valid residence permit (valid for at 
                least 6 months, and not for student purposes) and obtain this 
                before applying for your Turkey working visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading24" data-toggle="collapse"
            data-target="#turkeyAccordion24" aria-expanded="false"
            aria-controls="turkeyAccordion24">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What are the Turkey visa fees like?
              </button>
            </h5>
          </div>
          <div id="turkeyAccordion24" class="collapse" aria-labelledby="heading24"
            data-parent="#turkeyAccordion">
            <div class="card-body">

              <p>
                Our page on obtaining a Turkey visa online tells you exactly 
                what the fees are like – for business tourist and transit facilities! 
                Click the hyperlink to know more. Please note, the Turkey 
                visa authorities do not process fee refunds or transfers.
              </p>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
      data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
      {{loadText}}
    </button>
    </div>
    
  </div>
</div>
</section>