<!-- <div class="toast fade" [ngClass]="{'show' : showToast}" style="position: fixed; top: 70px; left: 10px;z-index: 1000">
  <div class="toast-header" style="border-bottom: 1px solid black;background-color: darksalmon;color:white">
    <strong class="mr-auto">Notification</strong>
    <button (click)="dismissToast()" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body" style="background-color: white">
    {{notificationMessage}}
  </div>
</div> -->
