.static {
    background-color: whitesmoke;
    padding-bottom: 50px;
}

.bg {
    /* background-image: url('../../../assets/static/visa2fly_generic.jpg');*/
    height: 40vh;
    background-position: center;
    background-size: cover;
}

.bold-Info {
    font-weight: 700;
    font-size: 15px;
    color: #000080 !important;
}

#box .container {
    padding: 0px 50px 20px;
    border-radius: 10px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

#box .heading {
    color: #000080;
    font-size: 22px;
    font-weight: 700;
    /* text-align: left; */
}

ul {
    padding-left: 20px;
    padding-bottom: 8px;
    list-style: disc;
}

li {
    font-size: 14px;
}

#box .info {
    font-size: 14px;
    color: #333;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #box .container {
        padding: 50px 50px;
        margin-top: -90px;
        background-color: #fff;
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    }
    .bg {
        height: 20vh !important;
    }
    .heading {
        margin-top: 0px;
        padding-top: 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #box .container {
        padding: 50px 50px;
        background-color: #fff;
    }
    #box .heading {
        /* color: #333; */
        font-size: 20px;
    }
    .info {
        font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #box .container {
        padding: 50px 20px;
        margin-top: 90px;
        /* background-color: whitesmoke; */
    }
    .static {
        padding-bottom: 0px;
    }
    .bg {
        display: none;
    }
    .main {
        border: 5px solid #e1e1e1;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
    }
    #box .heading {
        /* color: #333; */
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: bold;
    }
    .info {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        border-radius: 0px !important;
    }
}