<div class="static">
  <div
    class="bg"
    style="
      background-image: url('https://static.visa2fly.com/assets/generic.png');
      height: 40vh;
      background-position: center;
      background-size: cover;
    "
  ></div>
  <section id="box">
    <div class="container">
      <div class="main">
        <h1 class="heading">About Us</h1>
        <p class="info">
          Owned by Hashbug Tech Private Limited, Visa2fly offers fast and
          reliable online visa processing services for countries across the
          globe! Our company aimed to build India’s first truly online visa
          application platform and so far we have helped many people in
          obtaining their visas, travel insurances and SIM cards in a
          hassle-free manner. People often struggle with their visa obtaining
          processes and make mistakes that cause their applications to be
          rejected. At Visa2fly, we not only help but also assist you in
          compiling your documents and prepping for your visa interview from the
          comfort of your home. We offer more than just visa services as we
          believe that our customers should be offered a wholesome experience
          complete with currency exchange services, SIM cards and travel
          insurance. We have a blog page where you can read about the country
          you wish to visit and the attractions, cities, and places you must see
          too. This enables our customers to access everything they need for an
          international trip all in one place! 
        </p>
        <p class="info">
          We also offer a B2B platform for Travel Agents & Corporates to log in
          and get access to Visas, SIM cards, travel insurances, Currency
          exchange and Hotels at great rates. We act on the supply side of all
          these services and have Lead management and Invoice management tools
          for our agents and corporate network.
        </p>
        <p class="info">
          As some of our previous clients have stated, “The doorstep visa
          assistance made it so easy for me to get a visa done for me and my
          family.” - and you could be next! Our priority is to maximize the
          success rate of the visa process via our highly skilled personnel who
          will guide you through the process and will provide you with
          end-to-end assistance. This ensures a hassle-free process and reduces
          the uncertainties related to visas for our clients. We make sure you
          are all set for the start of a good trip.
        </p>
        <p class="info">
          Here at Visa2Fly, visas are truly simplified! If you would like to
          book your next visa or have some queries, reach out to us at
          info@visa2fly.com
        </p>
      </div>
    </div>
  </section>
</div>
