<div class="static">
        <div
          class="bg"
          style="background-image: url('./../assets/static/generic.png'); height: 40vh;
            background-position: center;
                background-size: cover;"
        ></div>
        <section id="box">
          <div class="container">
            <div class="main">
              <h1 class="heading">About Us</h1>
              <p class="info">
                    Visa2Fly is an online platform which is dedicated to easing the lives of travelers. We simplify the way you book your visa. Whether it is a transit, tourist or business visa, we guide you from start to end to ensure maximum success of getting your visa on time. 
              </p>
              <p class="info">
                    Visa2Fly's USP 
              </p>
              <ol>
                <li>No agent, no hassle..no REGRET!</li>
                <li>Physical verification of documents at your home</li>
                <li>Doorstep pick and drop service for Passport and Documents</li> 
                <li>Reliablity with live application tracking</li>
                <li>Handled by Professionals</li>
              </ol>
              <p class="info bold-Info" style="font-size: 18px;">
                    Happy Travelling! 
              </p>
            </div>
          </div>
        </section>
      </div>
      