<div class="static">
  <div class="bg" style="background-image: url('https://static.visa2fly.com/assets/generic.png'); height: 40vh;
            background-position: center;
                background-size: cover;"></div>
  <section id="box">
    <div class="container">
      <div class="main">
        <h1 class="heading">About Us</h1>
        <p class="info">
          Visa2Fly is a web platform to apply for a visa online which is dedicated to
          easing the lives of travelers.</p>
        <p>We simplify the way you book your online visa application. Whether it is a
          transit, tourist or business visa, we guide you from start to end to ensure
          maximum success of getting your visa on time.
        </p>
        <p class="info">
          Visa2Fly's USP
        </p>
        <ol>
          <li>No agent, no hassle..no REGRET!</li>
          <li>Physical verification of documents at your home</li>
          <li>Doorstep pick and drop service for Passport and Documents</li>
          <li>Reliablity with live application tracking</li>
          <li>Handled by Professionals</li>
        </ol>
        <p class="info bold-Info" style="font-size: 18px;">
          Happy Travelling!
        </p>
      </div>
    </div>
  </section>
</div>
