<div id="chat-circle" class="btn btn-raised">
  <div id="chat-overlay"></div>
  <svg style="height: 22px; width: 22px">
    <use xlink:href="assets/sprites/sprite.svg#chatbox_chat"></use>
  </svg>
</div>
<div class="chat-box">
  <div class="chat-box-header">
    Get a call back from us.
    <span class="chat-box-toggle">
      <svg style="height: 1em; width: 1em">
        <use xlink:href="assets/sprites/sprite.svg#chatbox_minimize"></use>
      </svg>
    </span>
  </div>
  <div class="chat-box-body">
    <div class="chat-logs">
      <form [formGroup]="callBackForm">
        <div class="form-row form_row">
          <div class="col-sm-12">
            <input
              [ngClass]="{
                'is-invalid':
                  callBackForm.get('name').invalid &&
                  callBackForm.get('name').dirty,
                'is-valid':
                  !(
                    callBackForm.get('name').invalid &&
                    callBackForm.get('name').dirty
                  ) && !callBackForm.get('name').pristine
              }"
              pattern="[A-Z a-z]{3,32}"
              formControlName="name"
              type="text"
              class="form-control form-control-sm"
              id="inputName"
              placeholder="Name"
            />
            <div
              class="invalid-feedback"
              style="display: block"
              *ngIf="
                callBackForm.get('name').invalid &&
                callBackForm.get('name').dirty
              "
            >
              Enter a valid Name
            </div>
          </div>
        </div>
        <div class="form-row form_row">
          <div class="col-sm-12">
            <input
              [ngClass]="{
                'is-invalid':
                  callBackForm.get('emailId').invalid &&
                  callBackForm.get('emailId').dirty,
                'is-valid':
                  !(
                    callBackForm.get('emailId').invalid &&
                    callBackForm.get('emailId').dirty
                  ) && !callBackForm.get('emailId').pristine
              }"
              pattern="[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?"
              formControlName="emailId"
              type="email"
              class="form-control form-control-sm"
              id="inputEmail"
              placeholder="Email"
            />
            <div
              class="invalid-feedback"
              style="display: block"
              *ngIf="
                callBackForm.get('emailId').invalid &&
                callBackForm.get('emailId').dirty
              "
            >
              Enter a valid email
            </div>
          </div>
        </div>
        <div class="form-row form_row">
          <div class="col-sm-12">
            <input
              pattern="^[4-9][0-9]{9}$"
              [ngClass]="{
                'is-invalid':
                  callBackForm.get('cell').invalid &&
                  callBackForm.get('cell').dirty,
                'is-valid':
                  !(
                    callBackForm.get('cell').invalid &&
                    callBackForm.get('cell').dirty
                  ) && !callBackForm.get('cell').pristine
              }"
              formControlName="cell"
              type="number"
              class="form-control form-control-sm"
              id="inputMobile"
              placeholder="Phone"
            />
            <div
              class="invalid-feedback"
              style="display: block"
              *ngIf="
                callBackForm.get('cell').invalid &&
                callBackForm.get('cell').dirty
              "
            >
              Enter a valid Name
            </div>
          </div>
        </div>
        <div class="form-row form_row mt-1">
          <div class="col-6 mgBtm">
            <div class="form-check">
              <input
                formControlName="visa"
                class="form-check-input smallCheck"
                type="checkbox"
                id="chatbot-visa"
              />
              <label class="form-check-label smallLabel" for="chatbot-visa">
                <div class="callBack-visa img-sprite"></div>
                <label for="chatbot-visa">Visa</label>
              </label>
            </div>
          </div>
          <div class="col-6 mgBtm">
            <div class="form-check">
              <input
                formControlName="sim"
                class="form-check-input smallCheck"
                type="checkbox"
                id="chatbot-sim"
              />
              <label class="form-check-label smallLabel" for="chatbot-sim">
                <div class="callBack-sim img-sprite"></div>
                <label for="chatbot-sim">Sim Card</label>
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-check">
              <input
                formControlName="forex"
                class="form-check-input smallCheck"
                type="checkbox"
                id="chatbot-forex"
              />
              <label class="form-check-label smallLabel" for="chatbot-forex">
                <div class="callBack-forex img-sprite"></div>
                <label for="chatbot-forex">Forex</label>
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-check">
              <input
                formControlName="insurance"
                class="form-check-input smallCheck"
                type="checkbox"
                id="chatbot-insurance"
              />
              <label
                class="form-check-label smallLabel"
                for="chatbot-insurance"
              >
                <div class="callBack-insurance img-sprite"></div>
                <label for="chatbot-insurance">Insurance</label>
              </label>
            </div>
          </div>
        </div>
      </form>
      <div class="col-lg-12 mt-1" style="padding: 0px">
        <p
          style="font-weight: 600; font-size: 13px; margin-bottom: 3px"
          class="contactLabel"
        >
          Contact Info :
        </p>
        <p style="margin-bottom: 0px; line-height: 15px">
          <a
            href="mailto:support@visa2fly.com"
            target="_top"
            style="color: #000; text-decoration: none; font-size: 13px"
          >
            <svg style="height: 12px; width: 12px; margin-right: 14px">
              <use xlink:href="assets/sprites/sprite.svg#chatbox_mail"></use>
            </svg>
            support@visa2fly.com
          </a>
        </p>
        <p style="margin-bottom: 0px; line-height: 15px">
          <a
            href="tel:9899955722"
            style="color: #000; text-decoration: none; font-size: 12px"
          >
            <svg
              style="
                height: 10px;
                width: 10px;
                margin-top: 4px;
                margin-right: 14px;
              "
            >
              <use xlink:href="assets/sprites/sprite.svg#chatbox_phone"></use>
            </svg>
            +91 98999 55722
          </a>
        </p>
        <p class="mgBtm2 ml-4" style="font-size: 11px; margin-bottom: 5px">
          (Available from 9:00 am to 5:00 pm)
        </p>
      </div>
    </div>
    <!--chat-log -->
  </div>
  <div class="chat-input">
    <button
      (click)="onSubmit()"
      type="button"
      class="btn btn-primary btn-oval chat-submit"
      id="chat-submit"
      [disabled]="
        !callBackForm.valid ||
        (callBackForm.get('visa').value == false &&
          callBackForm.get('sim').value == false &&
          callBackForm.get('insurance').value == false &&
          callBackForm.get('forex').value == false)
      "
    >
      Submit
    </button>
  </div>
</div>
