/* .help {
    padding: 10px 10px 0px 10px;
    text-align: center;
    z-index: 1200;
    background-color: navy;
    color: white;
    position: fixed;
    bottom: 40px;
    right: 35px;
    font-size: 20px;
    border-radius: 100px;
    width: 45px;
}

svg {
    margin-bottom: 7px;
}

.shp0 {
    fill: #fff;
}

input {
    font-size: 14px;
}

input:focus {
    outline: none !important;
    border-color: #000080;
    box-shadow: none !important;
}

.modal-body {
    padding-bottom: 0px;
}

.modal-title {
    margin-left: 35px;
    font-size: 18px;
    color: navy;
}

.modal-content {
    width: 350px !important;
}

.help:hover {
    color: navy;
    background-color: white;
    border: 1px solid navy;
}

.help:hover .shp0 {
    fill: #000080;
}

.mgTop {
    font-size: 14px;
}

.contactLabel {
    margin-bottom: 2px;
}

.modal-dialog {
    position: fixed;
    bottom: 70px;
    right: 30px;
}

.smallCheck {
    height: 12px !important;
    width: 12px !important;
}

.smallLabel {
    font-size: 14px;
}

.marginLeft {
    margin-left: 5px;
}

.modal-footer {
    padding: 8px !important;
}

.btn-oval {
    border-radius: 20px 20px 20px 20px !important;
    background-color: navy;
}

.btn-oval:hover {
    background-color: white;
    color: navy;
    border: 1px solid navy;
}

@media (min-width: 481px) and (max-width: 767px) {
    .help {
        bottom: 70px;
        right: 20px;
    }
    .modal-dialog {
        bottom: 120px;
        right: 20px;
    }
    .mgBtm {
        margin-bottom: 5px;
    }

    .mgBtm2 {
        margin-bottom: 0px !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .help {
        bottom: 70px;
        right: 20px;
    }
    .modal-dialog {
        bottom: 115px;
        right: 20px;
    }
    .modal-content {
        width: 320px !important;
    }
    .modal-title {
        margin-left: 10px;
    }

    .mgBtm {
        margin-bottom: 5px;
    }

    .mgBtm2 {
        margin-bottom: 0px !important;
    }


input {
    font-size: 12px;
}
}

@media (max-width: 320px) {
    .modal-content {
        width: 100% !important;
        height: 100% !important;
    }
    .modal-header {
        padding: 10px 10px;
    }

    .help {
        bottom:  60px !important;
    }
    .modal-dialog {
        right: 0px !important;
        bottom: 100px !important;
    }
    .modal-body {
        height: 267px;
        padding-top: 8px;
    }
    .modal-title {
        font-size: 14px;
    }
    input {
        height: 27px;
    }
    .smallLabel {
        font-size: 12px;
    }
    .modal-body p {
        font-size: 12px;
        line-height: 1.5;
    }
    .mgTop {
        margin-top: 2px;
    }
    .contactLabel {
        margin-bottom: 4px;
    }
    .btn-oval {
        padding: 2px 10px;
    }

    .form-group {
        margin-bottom: 8px !important;
    }
}

.form-check-label b {
    font-size: 14px;
} */

#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #000080;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: white;
  padding: 12px 10px;
  z-index: 1200;
  cursor: pointer;
}

.btn#my-btn {
  background: white;
  padding-top: 13px;
  padding-bottom: 12px;
  border-radius: 45px;
  padding-right: 40px;
  padding-left: 40px;
  color: #5865c3;
}

#chat-overlay {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
}

.chat-box {
  display: none;
  background: #fff;
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 310px;
  max-width: 85vw;
  max-height: 100vh;
  border-radius: 5px;
  z-index: 1200;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.428571rem 0px;
}

.chat-box-toggle {
  float: right;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.chat-box-toggle:hover {
  background-color: rgba(225, 225, 225, 0.2);
}

.chat-box-header {
  background: #000080;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  letter-spacing: 0.0214286rem;
  text-align: center;
  font-size: 16px;
  padding: 10px 0px;
  font-weight: 500;
}

.chat-box-body {
  position: relative;
  height: 370px;
  height: auto;
  border: 1px solid #ccc;
  overflow: hidden;
}

.chat-box-body:after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.chat-input {
  width: 100%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
  outline: none;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  border-top: 0.0785714rem solid rgb(233, 235, 237);
  box-shadow: rgba(0, 0, 0, 0.08) 0px -0.0714286rem 0.857143rem;
  text-align: center;
}

.chat-input > form {
  margin-bottom: 0;
}

#chat-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}

#chat-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}

#chat-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}

#chat-input:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

.chat-submit {
  bottom: 3px;
  box-shadow: none;
  border-radius: 50%;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 13px;
  padding: 3px 10px;
  font-weight: 500;
  background-color: #000080;
}

.chat-logs {
  height: auto;
  /* overflow-y: scroll; */
  padding: 10px 15px;
}

.chat-logs .form_row {
  margin-bottom: 8px;
}

.chat-logs label {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 450;
}

.chat-logs::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar-thumb {
  background-color: #5a5eb9;
}

@media only screen and (max-width: 500px) {
  .chat-logs {
    height: 40vh;
  }
}

.chat-msg.user > .msg-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  width: 15%;
}

.chat-msg.self > .msg-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: right;
  width: 15%;
}

.cm-msg-text {
  background: white;
  color: #666;
  max-width: 75%;
  float: left;
  margin-left: 10px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 30px;
}

.chat-msg {
  clear: both;
}

.chat-msg.self > .cm-msg-text {
  float: right;
  margin-right: 10px;
  background: #5a5eb9;
  color: white;
}

.cm-msg-button > ul > li {
  list-style: none;
  float: left;
  width: 50%;
}

.cm-msg-button {
  clear: both;
  margin-bottom: 70px;
}
