.help {
    padding: 10px 10px 0px 10px;
    text-align: center;
    z-index: 10321;
    background-color: navy;
    color: white;
    position: fixed;
    bottom: 40px;
    right: 35px;
    font-size: 20px;
    border-radius: 100px;
    width: 45px;
}

input {
    font-size: 14px;
}

input:focus {
    outline: none !important;
    border-color: #000080;
    box-shadow: none !important;
}

.modal-body {
    padding-bottom: 0px;
}

.modal-title {
    margin-left: 35px;
    font-size: 18px;
    color: navy;
}

.modal-content {
    width: 350px !important;
}

.help:hover {
    color: navy;
    background-color: white;
    border: 1px solid navy;
}

.mgTop {
    /* margin-top: 10px; */
    font-size: 14px;
}

.contactLabel {
    margin-bottom: 2px;
}

.modal-dialog {
    position: fixed;
    bottom: 70px;
    right: 30px;
}

.smallCheck {
    height: 12px !important;
    width: 12px !important;
}

.smallLabel {
    font-size: 14px;
}

.marginLeft {
    margin-left: 5px;
}

.modal-footer {
    padding: 8px !important;
}

.btn-oval {
    border-radius: 20px 20px 20px 20px !important;
    background-color: navy;
    /* outline: none !important; */
}

.btn-oval:hover {
    background-color: white;
    color: navy;
    border: 1px solid navy;
}

@media (min-width: 481px) and (max-width: 767px) {
    .help {
        bottom: 70px;
        right: 20px;
    }
    .modal-dialog {
        bottom: 120px;
        right: 20px;
    }
    .mgBtm {
        margin-bottom: 5px;
    }

    .mgBtm2 {
        margin-bottom: 0px !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .help {
        bottom: 70px;
        right: 20px;
    }
    .modal-dialog {
        bottom: 115px;
        right: 20px;
    }
    .modal-content {
        width: 320px !important;
    }
    .modal-title {
        margin-left: 10px;
    }

    .mgBtm {
        margin-bottom: 5px;
    }

    .mgBtm2 {
        margin-bottom: 0px !important;
    }


input {
    font-size: 12px;
}
}

@media (max-width: 320px) {
    .modal-content {
        width: 100% !important;
        height: 100% !important;
    }
    .modal-header {
        padding: 10px 10px;
    }

    .help {
        bottom:  60px !important;
    }
    .modal-dialog {
        right: 0px !important;
        bottom: 100px !important;
    }
    .modal-body {
        height: 267px;
        padding-top: 8px;
    }
    .modal-title {
        font-size: 14px;
    }
    input {
        height: 27px;
    }
    .smallLabel {
        font-size: 12px;
    }
    .modal-body p {
        font-size: 12px;
        line-height: 1.5;
    }
    .mgTop {
        margin-top: 2px;
    }
    .contactLabel {
        margin-bottom: 4px;
    }
    .btn-oval {
        padding: 2px 10px;
    }

    .form-group {
        margin-bottom: 8px !important;
    }
}

.form-check-label b {
    font-size: 14px;
}