<button
type="button "
class="btn btn-primary help"
data-toggle="modal"
data-target="#exampleModal"
data-whatever="@getbootstrap"
>
<!-- <i class="fa fa-question"></i> -->
<i class="material-icons">
  chat
</i>
</button>

<div
class="modal fade"
id="exampleModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5
        class="modal-title"
        style=" font-size: 18px; color: navy;"
        id="exampleModalLabel"
      >
      <img src="./../assets/chatbot/support.png" alt="" class="img-fluid" height="32" width="32" style="margin: 0px 4px;">
        Get a call back from us.
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <input
              type="text"
              class="form-control form-control-sm"
              id="inputName"
              placeholder="Name"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <input
              type="email"
              class="form-control form-control-sm"
              id="inputEmail"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <input
              type="number"
              class="form-control form-control-sm"
              id="inputEmail"
              placeholder="Phone"
            />
          </div>
        </div>
        <div class="form-row marginLeft">
          <div class="form-group col-6">
            <div class="form-check">
              <input
                class="form-check-input smallCheck"
                type="checkbox"
                id="chatbot-visa"
              />
              <label class="form-check-label smallLabel" for="chatbot-visa">
                  <img src="./../assets/chatbot/passport (1).png" alt="" class="img-fluid" height="22" width="22" style="margin: 0px 4px;">
                <b>Visa</b>
              </label>
            </div>
          </div>
          <div class="form-group col-6">
            <div class="form-check">
              <input
                class="form-check-input smallCheck"
                type="checkbox"
                id="chatbot-sim"
              />
              <label class="form-check-label smallLabel" for="chatbot-sim">
                  <img src="./../assets/chatbot/sim.png" alt="" class="img-fluid" height="22" width="22" style="margin: 0px 4px;">
                <b>Sim Card</b>
              </label>
            </div>
          </div>
          <div class="form-group col-6">
            <div class="form-check">
              <input
                class="form-check-input smallCheck"
                type="checkbox"
                id="chatbot-forex"
              />
              <label class="form-check-label smallLabel" for="chatbot-forex">
                  <img src="./../assets/chatbot/credit-card.png" alt="" class="img-fluid" height="22" width="22" style="margin: 0px 4px;">
                <b>Forex</b>
              </label>
            </div>
          </div>
          <div class="form-group col-6">
            <div class="form-check">
              <input
                class="form-check-input smallCheck"
                type="checkbox"
                id="chatbot-insurance"
              />
              <label class="form-check-label smallLabel" for="chatbot-insurance">
                <img src="./../assets/chatbot/travel-insurance.png" alt="" class="img-fluid" height="22" width="22" style="margin: 0px 4px;">
                <b>Insurance</b>
              </label>
            </div>
          </div>
        </div>
      </form>
      <div class="col-lg-12 mt-2">
        <p style="font-weight: 600;">Contact Info :</p>
        
        <p style="margin-bottom: 0px;"><i class="fas fa-envelope mr-3"></i>support@visa2fly.com</p>
        <p style="margin-bottom: 0px;"><i class="fas fa-phone mr-3"></i>1800-120-220-032</p>
        <p>(Available From 9:00am To 5:00pm)</p>
        <!-- <p style="margin-bottom: 0px !important; font-weight: 500;">Visa2Fly Contact</p>
        <p style="margin-bottom: 0px !important;"><i class="fas fa-envelope mr-3"></i>visa2fly@mail.com</p>
        <p><i class="fas fa-phone mr-3"></i>+91 09887654321</p> -->
      </div>
    </div>
    <div class="modal-footer" style="justify-content: center">
      <!-- <div style=""> -->
      <button type="button" class="btn btn-primary btn-oval">
        Submit
      </button>
      <!-- </div> -->
    </div>
  </div>
</div>
</div>
