.help {
  padding: 10px 10px 0px 10px;
  text-align: center;
  z-index: 10321;
  background-color: navy;
  color: white;
  position: fixed;
  bottom: 40px;
  right: 35px;
  font-size: 20px;
  border-radius: 100px;
  width: 45px;
}

.modal-body {
  padding-bottom: 0px;
}

.modal-title {
  margin-left: 35px;
}

.modal-content {
  width: 350px !important;
}

.help:hover {
  color: navy;
  background-color: white;
  border: 1px solid navy;
}

.modal-dialog {
  position: fixed;
  bottom: 70px;
  right: 30px;
}
.smallCheck {
  height: 12px !important;
  width: 12px !important;
}

.smallLabel {
  font-size: 14px;
}
.marginLeft {
  margin-left: 5px;
}

.modal-footer {
  padding: 8px !important;
}
.btn-oval {
  border-radius: 20px 20px 20px 20px !important;
  background-color: navy;
  /* outline: none !important; */
}

.btn-oval:hover {
  background-color: white;
  color: navy;
  border: 1px solid navy;
}

@media (min-width: 481px) and (max-width: 767px) {
  .help {
    bottom: 70px;
    right: 20px;
  }

  .modal-dialog {
    bottom: 120px;
    right: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .help {
    bottom: 70px;
    right: 20px;
  }

  .modal-dialog {
    bottom: 120px;
    right: 20px;
  }

  .modal-content {
    width: 320px !important;
  }

  .modal-title {
    margin-left: 10px;
  }
}

@media (max-width: 320px) {
.modal-content {
  width: 100% !important;
  height: 100% !important;
}
}