<div class="imageContainer desktopView">
  <div class="row">
    <div class="col-12 text-right">
      <p class="breadcrum">
        <span>
          <a [routerLink]="['/']">Home</a>&nbsp;/&nbsp;<b
            >{{ selectedCountrytype }} Visa Details</b
          >
        </span>
      </p>
    </div>
  </div>

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-12">
        <div class="country-img__box">
          <img
            data-src="https://static.visa2fly.com/flag/{{
              selectedCountrytype
            }}.png"
            alt="uk visa online"
            class="img-fluid countryFlag rounded lazyload"
          />

          <div class="country-info">
            <h2 class="country-heading">{{ selectedCountrytype }}</h2>
            <p class="country-desc">
              The United Kingdom of Great Britain and Northern Ireland consists
              of 4 countries, England, Scotland, Wales and Northern Ireland and
              14 overseas territories. The UK is mainly known all over the world
              due to its history of the British Empire, its colonies and other
              literary, visual arts and cinematic influences. Classics like
              Harry Potter and James Bond originated here too! The UK is the
              world’s 10 th biggest tourist destination with over 37 million
              people visiting the country in 2018 alone.
              <span id="dataCollapse" class="collapse">
                It is home to over 25 World Heritage Sites and has some of the
                most stunning landscapes and historical architecture. London is
                the most visited city in the UK and Edinburg, Oxford, Cambridge,
                York and Canterbury are some other popular tourist cities. The
                UK’s geographical and cultural diversity is another factor that
                attracts millions of tourists here every year. The 4 countries
                have their unique landscapes and histories which greatly
                influence the lifestyle of the people and the tourist
                attractions too. The castles, estates, royal residences, art
                galleries, museums are just some of the exciting things you can
                expect here.
              </span>
              <button
                class="btn dataDisplay"
                type="button"
                data-toggle="collapse"
                data-target="#dataCollapse"
                aria-expanded="false"
                aria-controls="dataCollapse"
                (click)="dataDisplayFunction()"
              >
                {{ loadText }}
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-5">
        <div class="changingPurpose">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4 setPadding">Visa Type</div>
            <div class="col-lg-9 col-md-6 col-8 visaDropDown">
              <form [formGroup]="purposeChooseForm">
                <div class="select-box">
                  <div
                    class="select-box__current"
                    tabindex="1"
                    (change)="purposeChanged()"
                  >
                    <div class="select-box__value" *ngIf="isTourist">
                      <input
                        class="select-box__input"
                        type="radio"
                        id="Tourist"
                        value="Tourist"
                        name="purposeSelected"
                        formControlName="purposeSelected"
                        checked="checked"
                      />
                      <p class="select-box__input-text">Tourist</p>
                    </div>
                    <div class="select-box__value" *ngIf="isBusiness">
                      <input
                        class="select-box__input"
                        type="radio"
                        id="Business"
                        value="Business"
                        name="purposeSelected"
                        formControlName="purposeSelected"
                        checked="checked"
                      />
                      <p class="select-box__input-text">Business</p>
                    </div>
                    <div class="select-box__value" *ngIf="isTransit">
                      <input
                        class="select-box__input"
                        type="radio"
                        id="Transit"
                        value="Transit"
                        name="purposeSelected"
                        formControlName="purposeSelected"
                        checked="checked"
                      />
                      <p class="select-box__input-text">Transit</p>
                    </div>
                    <svg
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px"
                      y="0px"
                      height="15px"
                      width="15px"
                      class="select-box__icon"
                      viewBox="0 0 1000 1000"
                      enable-background="new 0 0 1000 1000"
                      xml:space="preserve"
                    >
                      <metadata>
                        Svg Vector Icons : http://www.onlinewebfonts.com/icon
                      </metadata>
                      <g>
                        <path
                          d="M500,775.4L10,287.2l64.4-62.6L500,650.2l425.6-425.6l64.4,62.6L500,775.4z"
                        />
                      </g>
                    </svg>
                  </div>
                  <ul class="select-box__list">
                    <li *ngIf="isTourist">
                      <label
                        class="select-box__option"
                        style="margin-bottom: 0px"
                        for="Tourist"
                        aria-hidden="aria-hidden"
                        >Tourist</label
                      >
                    </li>
                    <li *ngIf="isBusiness">
                      <label
                        class="select-box__option"
                        style="margin-bottom: 0px"
                        for="Business"
                        aria-hidden="aria-hidden"
                        >Business</label
                      >
                    </li>
                    <li *ngIf="isTransit">
                      <label
                        class="select-box__option"
                        style="margin-bottom: 0px"
                        for="Transit"
                        aria-hidden="aria-hidden"
                        >Transit</label
                      >
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="imageContainer mobileView">
  <div class="row">
    <div class="col-12 text-right p-0">
      <p class="breadcrum">
        <span>
          <a [routerLink]="['/']">Home</a>&nbsp;/&nbsp;<b
            >{{ selectedCountrytype }} Visa Details</b
          >
        </span>
      </p>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-12">
        <div class="country-img__box">
          <img
            data-src="https://static.visa2fly.com/flag/{{
              selectedCountrytype
            }}.png"
            alt="uk visa online"
            class="img-fluid countryFlag rounded lazyload"
          />

          <div class="country-info">
            <h2 class="country-heading">{{ selectedCountrytype }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-5">
        <div class="changingPurpose">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4 setPadding p-0">Visa Type</div>
            <div class="col-lg-9 col-md-6 col-8 visaDropDown p-0">
              <form [formGroup]="purposeChooseForm">
                <div class="select-box">
                  <div
                    class="select-box__current"
                    tabindex="1"
                    (change)="purposeChanged()"
                  >
                    <div class="select-box__value" *ngIf="isTourist">
                      <input
                        class="select-box__input"
                        type="radio"
                        id="mTourist"
                        value="Tourist"
                        name="purposeSelected"
                        formControlName="purposeSelected"
                        checked="checked"
                      />
                      <p class="select-box__input-text">Tourist</p>
                    </div>
                    <div class="select-box__value" *ngIf="isBusiness">
                      <input
                        class="select-box__input"
                        type="radio"
                        id="mBusiness"
                        value="Business"
                        name="purposeSelected"
                        formControlName="purposeSelected"
                        checked="checked"
                      />
                      <p class="select-box__input-text">Business</p>
                    </div>
                    <div class="select-box__value" *ngIf="isTransit">
                      <input
                        class="select-box__input"
                        type="radio"
                        id="mTransit"
                        value="Transit"
                        name="purposeSelected"
                        formControlName="purposeSelected"
                        checked="checked"
                      />
                      <p class="select-box__input-text">Transit</p>
                    </div>
                    <svg
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px"
                      y="0px"
                      height="15px"
                      width="15px"
                      class="select-box__icon"
                      viewBox="0 0 1000 1000"
                      enable-background="new 0 0 1000 1000"
                      xml:space="preserve"
                    >
                      <metadata>
                        Svg Vector Icons : http://www.onlinewebfonts.com/icon
                      </metadata>
                      <g>
                        <path
                          d="M500,775.4L10,287.2l64.4-62.6L500,650.2l425.6-425.6l64.4,62.6L500,775.4z"
                        />
                      </g>
                    </svg>
                  </div>
                  <ul class="select-box__list">
                    <li *ngIf="isTourist">
                      <label
                        class="select-box__option"
                        style="margin-bottom: 0px"
                        for="mTourist"
                        aria-hidden="aria-hidden"
                        >Tourist</label
                      >
                    </li>
                    <li *ngIf="isBusiness">
                      <label
                        class="select-box__option"
                        style="margin-bottom: 0px"
                        for="mBusiness"
                        aria-hidden="aria-hidden"
                        >Business</label
                      >
                    </li>
                    <li *ngIf="isTransit">
                      <label
                        class="select-box__option"
                        style="margin-bottom: 0px"
                        for="mTransit"
                        aria-hidden="aria-hidden"
                        >Transit</label
                      >
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4 mobileView">
  <div class="row">
    <div class="col-12">
      <p class="country-desc">
        The United Kingdom of Great Britain and Northern Ireland consists of 4
        countries, England, Scotland, Wales and Northern Ireland and 14 overseas
        territories. The UK is mainly known all over the world due to its
        history of the British Empire, its colonies and other literary, visual
        arts and cinematic influences. Classics like Harry Potter and James Bond
        originated here too! The UK is the world’s 10 th biggest tourist
        destination with over 37 million people visiting the country in 2018
        alone.
        <span id="dataCollapse" class="collapse">
          It is home to over 25 World Heritage Sites and has some of the most
          stunning landscapes and historical architecture. London is the most
          visited city in the UK and Edinburg, Oxford, Cambridge, York and
          Canterbury are some other popular tourist cities. The UK’s
          geographical and cultural diversity is another factor that attracts
          millions of tourists here every year. The 4 countries have their
          unique landscapes and histories which greatly influence the lifestyle
          of the people and the tourist attractions too. The castles, estates,
          royal residences, art galleries, museums are just some of the exciting
          things you can expect here.
        </span>
        <button
          class="btn dataDisplay"
          type="button"
          data-toggle="collapse"
          data-target="#dataCollapse"
          aria-expanded="false"
          aria-controls="dataCollapse"
          (click)="dataDisplayFunction()"
        >
          {{ loadText }}
        </button>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid wrapContainer mt-2" style="overflow: hidden">
  <div class="row">
    <app-quotation-uk
      class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3"
      *ngFor="let quotation of MyQuotation1"
      [quotation]="quotation"
    >
    </app-quotation-uk>
  </div>
</div>

<app-offline-process-steps
  [country]="selectedCountrytype"
  *ngIf="!onlinestatus"
></app-offline-process-steps>
<app-online-process-steps
  [country]="selectedCountrytype"
  *ngIf="onlinestatus"
></app-online-process-steps>

<app-requirements-uk
  (changedPurpose)="navigateTo($event)"
  [selectedBusiness]="selectedBusiness"
  [selectedTransit]="selectedTransit"
  [selectedTourist]="selectedTourist"
  [selectedMobileTourist]="selectedMobileTourist"
  [selectedMobileBusiness]="selectedMobileBusiness"
  [selectedMobileTransit]="selectedMobileTransit"
  [selectedVisaType]="selectedVisaType"
  [selectedPurpose]="selectedPurpose"
>
</app-requirements-uk>

<app-important-points-uk></app-important-points-uk>

<app-faq></app-faq>

<app-description></app-description>

<div class="container-fluid wrapContainer linkAddress">
  <div class="row">
    <app-country-address></app-country-address>
  </div>
</div>
