<div class="static">
  <div
    class="bg"
    style="background-image: url('https://static.visa2fly.com/assets/generic.png'); height: 40vh;
      background-position: center;
          background-size: cover;"
  ></div>
  <section id="box">
    <div class="container">
      <div class="main">
        <h1 class="heading">Cancellation and Refund Policy</h1>
        <p class="info bold-Info">
          <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;How to
          Cancel -
        </p>
        <p class="info">
          Visa bookings may be cancelled by calling our Toll Free Number 1800-120-220-032.
        </p>
        <p class="info">
          If you have applied for multiple visas, or visas for multiple persons, then please identify the relevant visa to be cancelled.
        </p>
        <p class="info">
          This cancellation will be confirmed offline and the refund would be credited back to the account used for booking, after deduction of applicable cancellation charges.
        </p>
        <p class="info bold-Info">
          <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          &nbsp;Cancellations & Refunds – 
        </p>
        <p class="info">
          All cancellation charges are levied on per visa, per person basis.
        </p>
        <p class="info">
          If you cancel your visa within 24 hours from making the visa booking, then cancellation charges will be deducted as follows – 
        </p>
        <ol>
          <li>
            Rs. 250 (inc. GST) per visa for online Visa (if not processed
            already)
          </li>
          <li>Rs. 500 (inc. GST) per visa for offline Visa
          </li>
        </ol>

        <p class="info">
          No Refund in the following cases - 
        </p>
        <ol>
          <li>After 24 hours of booking your visa.
          </li>
          <li>If you cancel your visa after our agent has visited you for verification of documents.</li>
          <li>If you cancel your visa after your passport has been submitted to the relevant embassy.</li>
        </ol>

        <p class="info bold-Info"><i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;
          Rescheduling & Extra Visits for document checking and collection – 
        </p>
        <ol>
          <li>
            Customers get one (1) free rescheduling for our agent to visit you for physical verification and collection of documents.

          </li>
          <li>For any subsequent rescheduling a nominal charge of Rs. 250 (inc. GST) per visa shall be applicable.

          </li>
          <li>Our agents will check with you regarding preparedness of all the documents prior to their visit for physical verification of documents. In case after the visit, one or more documents remain to be prepared from your end, and there is a need for another visit by the agent for physical verification or collection of documents, then an additional charge of Rs. 250 (inc. GST) shall be applicable.</li>
        </ol>
        
        <p class="info bold-Info"><i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;
          Cancellation and Refund Policy for appointments at VFS Global and
          outsourcing and technology services specialists for governments and
          diplomatic missions worldwide -
        </p>
        <ol>
          <li>
            If you have applied for a visa to a country who has outsourced it’s
            administrative tasks for visa collection to VFS Global or similar
            agencies, then the Administration Fee in case of “Rescheduling” or a
            “No Show” shall be governed by such agency’s own Refund and
            Cancellation policy.
          </li>
          <li>
            In case of a “No Show” at the visa collection centre on the assigned
            date and time, V2F will only be responsible to assist the client to
            reschedule his or her visa appointment after the applicant pays the
            relevant “Rescheduling Fee”.
          </li>

          <li>
            This “Rescheduling Fee” would be different for different countries
            to which Visa is applied and the charges to the customer would also
            be different depending on the city and centre from where the
            customer is submitting his or her application.
          </li>
        </ol>
        <p class="info bold-Info"><i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Refunds –</p>
        <p class="info">
          Refunds will be processed within 48-72 hours and will be credited to the original mode of payment.
        </p>
        <p class="info">
          The Company reserves the right to change temporarily or permanently, some or all of the cancellation and refund policy, with respect to any or all users, at any time without notice.
        </p>
      </div>
    </div>
  </section>
</div>
