.planCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .planCard .card-header {
    background: #fec007;
    color: #130654;
  }
  
  .planCardRow {
    padding: 4px 0px;
  }
  
  .planCardBody {
    font-size: 14px;
    padding: 10px 22px;
  }
  
  .submitBtn {
    background: #130654 !important;
    border-radius: 20px !important;
    color: #fff !important;
    padding: 5px 20px !important;
  }
  
  @media screen and (min-width: 360px) and (max-width: 480px) {
    .planCardBody {
      padding: 10px 15px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 359px) {
    .planCardBody {
      padding: 10px 15px;
    }
  }
  