<div class="container-fluid profile">
  <div class="profile-box text-center d-flex align-items-center justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Hi !</h4>
        <h6>{{profile.firstName}}</h6>
        <div class="profile-avatar">
          <img src="../../../assets/profile/download.png" alt="" class="img-fluid" />
        </div>
        <p class="cardEmail">
          {{profile.emailId}}
        </p>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#profileModal">
              My Profile
            </button>

            <!-- Modal -->
            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-3 profileAvatr" style="background: #000080;">
                          <div class="row">
                            <div class="col-lg-12">
                              <img src="../../../assets/profile/WHITE_ONLY NAME.png" alt="" class="img-fluid logo" />
                            </div>
                            <div class="col-lg-12">
                              <img src="../../../assets/profile/download.png" alt="" class="img-fluid avatr" />
                            </div>
                            <div class="col-lg-12 email">
                              {{profile.emailId}}
                            </div>
                            <!-- <div class="col-lg-12">
<div class="verify text-center">
<button
class="btn btn-success btn-sm"
style="border-radius: 50px; padding: 0px 30px;"
>
Verify
</button>
</div>
</div> -->
                            <!-- <div class="col-lg-12" style="padding: auto !important;">
                              <div class="verified text-center">
                                <button class="btn btn-success btn-disable btn-sm" style="border-radius: 50px; padding: 0px 12px;">
                                  Verified
                                  <span><i class="fa fa-check-circle-o ml-1" aria-hidden="true"
                                      style="font-size: 18px;"></i></span>
                                </button>
                              </div>
                            </div> -->
                          </div>
                        </div>
                        <div class="col-lg-9 profileDetail">
                          <div class="row">
                            <div class="col-12">
                              <h2 class="profileHeading" style="color: #000;
															text-align: left;">
                                My Profile
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </h2>
                            </div>
                          </div>
                          <form [formGroup]="profileForm">
                            <div class="form-row">
                              <div class="form-group col-md-3 text-left">
                                <label for="title">Title</label>
                                <select formControlName="title" class="form-control form-control-sm text-left">
                                  <option>MR</option>
                                  <option>MRS</option>
                                  <option>MS</option>
                                  <option>MASTER</option>
                                </select>
                              </div>
                              <div class="form-group  col-md-3 text-left">
                                <label for="fname">First Name</label>
                                <input minlength="3" formControlName="firstName" type="text" class="form-control form-control-sm"
																	id="fname" placeholder="First Name" />
																	<div *ngIf="profileForm.get('firstName').invalid && profileForm.get('firstName').dirty"  class="invalid-feedback" style="display: block">
																			Enter a valid first name
																		</div>
                              </div>
                              <div class="form-group  col-md-3 text-left">
                                <label for="mname">Middle Name</label>
                                <input formControlName="middleName" type="text" class="form-control form-control-sm"
                                  id="mname" placeholder="Middle Name" />
                              </div>
                              <div class="form-group  col-md-3 text-left">
                                <label for="lname">last Name</label>
                                <input  minlength="3" formControlName="lastName" type="text" class="form-control form-control-sm"
																	id="lname" placeholder="Last Name" />
																	<div *ngIf="profileForm.get('lastName').invalid && profileForm.get('lastName').dirty"  class="invalid-feedback" style="display: block">
																			Enter a valid last name
																		</div>
																	
                              </div>
                            </div>
                            <div class="form-group text-left">
                              <label for="inputAddress1">Address 1</label>
                              <input  minlength="20" formControlName="addressLine1" type="text" class="form-control form-control-sm"
																id="inputAddress1" placeholder="Apartment, studio, or floor" />
																<div *ngIf="profileForm.get('addressLine1').invalid && profileForm.get('addressLine1').dirty"  class="invalid-feedback" style="display: block">
																		Enter a valid address
																	</div>
                            </div>
                            <div class="form-group text-left">
                              <label for="inputAddress2">Address 2</label>
                              <input  minlength="20" formControlName="addressLine2" type="text" class="form-control form-control-sm"
																id="inputAddress2" placeholder="Apartment, studio, or floor" />
																<div *ngIf="profileForm.get('addressLine2').invalid && profileForm.get('addressLine2').dirty"  class="invalid-feedback" style="display: block">
																		Enter a valid address
																	</div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-4 text-left">
                                <label for="inputState">State</label>
                                <select formControlName="state" id="inputState"
                                  class="form-control form-control-sm text-left">
                                  <option selected>Delhi NCR</option>
                                  <option>Haryana</option>
                                </select>
                              </div>
                              <div class="form-group col-md-6 text-left">
                                <label for="inputCity">City</label>
                                <select formControlName="city" id="inputState" class="form-control form-control-sm">
                                  <option selected>Delhi</option>
                                  <option>Gurugram</option>
                                </select>
                              </div>

                              <div class="form-group col-md-2 text-left">
                                <label for="inputZip">Pin Code</label>
                                <input pattern="^[1-9][0-9]{5}$" formControlName="pinCode" type="text" class="form-control form-control-sm"
																	id="inputZip" />
																	<div *ngIf="profileForm.get('pinCode').invalid && profileForm.get('pinCode').dirty"  class="invalid-feedback" style="display: block">
																			Enter a valid pin code
																		</div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6 text-left">
                                <label for="country">Country</label>
                                <select formControlName="country" class="form-control form-control-sm">
                                  <option selected>India</option>
                                </select>
                              </div>

                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6 text-left">
                                <label for="passportNo">Passport Number</label>
                                <input  pattern="^[A-Z]{1}[0-9]{7}$" formControlName="passportNumber" type="text" class="form-control form-control-sm" id="passportNo"
																	placeholder="Passport Number" />
																	<div *ngIf="profileForm.get('passportNumber').invalid && profileForm.get('passportNumber').dirty"  class="invalid-feedback" style="display: block">
																		Enter a valid passport number
																	</div>
                              </div>
                              <div class="form-group col-md-6 text-left">
                                <label for="passportExpireDate">Passport Expiry Date</label>
																<!-- <div class="col-md-2 mb-3"> -->
																		<!-- <app-date></app-date> -->
																			<!-- <div class="form-group"> -->
																				<div class="input-group">
																					<input   formControlName="passportExpiryDate" class="form-control  form-control-sm addTravelDate" placeholder="Passport Expiry Date" name="dp"
																					 [minDate]="mindate"  id="#doe" ngbDatepicker #doe="ngbDatepicker">
																					<div class="input-group-append">
																						<button class="btn calendar" (click)="doe.toggle()" type="button"><i
																								class="fas fa-calendar-alt"></i>
																						</button>
																					</div>
																				<!-- </div>
																			</div> -->
																	 
																	</div>
                              </div>
                            </div>
                            <div class="form-group">
                              <button [disabled] = "!profileForm.valid" (click) = "submitProfileData()" class="btn btn-primary btn-sm float-right">
                                Submit
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <button [routerLink] ="['/myBookings']" type="button" class="btn btn-primary btn-sm" style="width: 100px;">
              My Booking
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
