<div class="homeform md-stepper-horizontal ">
  <form class="flex-display">
    <div class="form-row center-content">
      <div class="chkIN chkIp homeformelement vl form-group col-md-2">
        <label for="inputEmail4">Destination</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="homeformelement vl form-group col-md-2">
        <label for="inputPassword4">Purpose</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="homeformelement vl form-group col-md-2">
        <label for="inputPassword4">I reside in</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="homeformelement form-group col-md-2">
        <label for="inputPassword4">Visa Type</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class=" form-group col-md-2">
          <button style="color:white;height: 100%; margin-left: -10px;border-radius: 0px;width: 100%" type="button" class="btn primaryColor ">Next</button>
        </div>
    </div>
    
  </form>
</div>
