.chkLabel {
    font-size: 12px !important;
}

.

@media (max-width:767px) {
    select {
        font-size: 16px !important;
    }
}

.purpose-opt {
    text-transform: capitalize !important;
}

.shadow{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    
}
.shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.disabled {
    background-color: grey;
    color: white;
    /* display: none; */
}

.disabled:hover {
    background-color: grey;
    color: white;
    border: none;
}

.invalid-feedback {
    display: block;
}

.chkIn .chkIp8 {
    width: 21%;
    /* border-right: 0; */
    border-right: 1px solid #e1e1e1  !important;
}

