<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
        </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="switerlandAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#switerlandAccordion1" aria-expanded="true"
            aria-controls="switerlandAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What type of visa is a Switzerland visitor visa?
              </button>
            </h5>
          </div>

          <div id="switerlandAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p>
                Since Switzerland is part of the Schengen states, it is a Schengen visa that is issued. Under this category, the type of visa is a Type C visa. You can travel throughout the Schengen territory with this visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#switerlandAccordion2" aria-expanded="false"
            aria-controls="switerlandAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What to do if my Switzerland visa application is refused/denied?
              </button>
            </h5>
          </div>
          <div id="switerlandAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p> The decision to refuse a Schengen visa and therefore the reasons for the refusal are
                notified to the applicant employing a standard form. You will get the chance to appeal within
                30 days of receipt of the
                refusal. For information on appeal procedures, please ask the webpage of the State Secretariat
                for Migration.
              </p>
              <p> Make sure to give a minimum time of 6 months before you apply for the visa again.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#switerlandAccordion3" aria-expanded="true"
            aria-controls="switerlandAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I’m entering the Schengen area from another country, but my main destination is Switzerland. Do I need a Switzerland visa or some other one?
              </button>
            </h5>
          </div>

          <div id="switerlandAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p>
                You will need to check the entry requirements for that Schengen area first. Depending on this, you will be able to obtain either a Switzerland tourist visa, or the other state’s.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#switerlandAccordion4" aria-expanded="true"
            aria-controls="switerlandAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I use a Type C visa as a Switzerland business visa?
              </button>
            </h5>
          </div>

          <div id="switerlandAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p>
                The Type C visa is valid for many purposes – tourist, visiting friends/family, cultural or sports events, and business purposes. It is valid for a stay of up to 90 days. If your business requires you to stay for more than 90 days, you will need a Type D visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#switerlandAccordion5" aria-expanded="true"
            aria-controls="switerlandAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is there a Switzerland visa on arrival for Indian citizens?
              </button>
            </h5>
          </div>

          <div id="switerlandAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p>
                No, there is not. You will need to submit a range of documents in person, which you cannot do once you arrive in Switzerland. However, with Visa2Fly, it becomes much easier, and you won’t have to worry about the visa procedure at all! We shall process your documents and appointment, and get your visa delivered to you personally.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#switerlandAccordion6" aria-expanded="true"
            aria-controls="switerlandAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I apply for a Switzerland visa application online?
              </button>
            </h5>
          </div>

          <div id="switerlandAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p>
                You can. However, you will be applying for a normal visa – not an e-visa. If you apply online through a third party such as Visa2Fly, we can help you process your documents and get your visa and passport to your doorstep
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#switerlandAccordion7" aria-expanded="true"
            aria-controls="switerlandAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Can I get a Switzerland parent visa online?
              </button>
            </h5>
          </div>

          <div id="switerlandAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p>
                If you are a parent travelling to visit your child in Switzerland, you will need a normal visitor visa. It is an offline process, but if you are tied up with a third party such as Visa2Fly, we can make it as online as possible.
              </p>
            </div>
          </div>
        </div>
        
        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
              data-target="#switerlandAccordion8" aria-expanded="false"
              aria-controls="switerlandAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What kind of visa is a Switzerland student visa?
                </button>
              </h5>
            </div>
            <div id="switerlandAccordion8" class="collapse" aria-labelledby="heading8"
              data-parent="#switerlandAccordion">
              <div class="card-body">
                <p>
                  The normal short stay visas are Type C. For a student visa you will need to fill forms pertaining to a Type D visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse"
              data-target="#switerlandAccordion9" aria-expanded="false"
              aria-controls="switerlandAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Does a Switzerland visa for Indians require biometrics?
                </button>
              </h5>
            </div>
            <div id="switerlandAccordion9" class="collapse" aria-labelledby="heading9"
              data-parent="#switerlandAccordion">
              <div class="card-body">
                <p>
                  Yes, you will need to submit fingerprints and other such biometric details for a Switzerland visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
              data-target="#switerlandAccordion10" aria-expanded="false"
              aria-controls="switerlandAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How long does it take to process a Switzerland visa online?
                </button>
              </h5>
            </div>
            <div id="switerlandAccordion10" class="collapse" aria-labelledby="headingBusiness10"
              data-parent="#switerlandAccordion">
              <div class="card-body">
  
                <p>
                  Once the Swiss authorities get all the required documents for your visa application – including fees, biometrics and supplementary documents – it usually takes around 15 days to process it from there. In exceptional circumstances, it might take up to 30 days as well.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse"
              data-target="#switerlandAccordion11" aria-expanded="false"
              aria-controls="switerlandAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the Switzerland visa fees like?
                </button>
              </h5>
            </div>
            <div id="switerlandAccordion11" class="collapse" aria-labelledby="headingBusiness11"
              data-parent="#switerlandAccordion">
              <div class="card-body">
  
                <p>
                  Our page on obtaining a Switzerland visa online tells you exactly what the fees are like – for business tourist and transit facilities! Click the hyperlink to know more.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse"
              data-target="#switerlandAccordion12" aria-expanded="false"
              aria-controls="switerlandAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I engage in work on a Switzerland business visa?
                </button>
              </h5>
            </div>
            <div id="switerlandAccordion12" class="collapse" aria-labelledby="headingBusiness12"
              data-parent="#switerlandAccordion">
              <div class="card-body">
  
                <p>
                  The general rule is that you cannot work on any business visa – paid or unpaid. This rule stays the same for Switzerland visas as well. If you want to work, you will need to apply for a Switzerland working visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse"
              data-target="#switerlandAccordion13" aria-expanded="false"
              aria-controls="switerlandAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the required ‘financial means’ needed for a Switzerland visa application?
                </button>
              </h5>
            </div>
            <div id="switerlandAccordion13" class="collapse" aria-labelledby="headingBusiness13"
              data-parent="#switerlandAccordion">
              <div class="card-body">
  
                <p>
                  If you are applying for a short-term visa for travel, you will need to show proof of at least 100 CHF per day – for as many days as you plan to stay. If you are a student, the minimum requirement is 30 CHF per day. You will need to demonstrate this at the time when you apply for Switzerland visa.
                </p>
              </div>
            </div>
          </div>
          </ng-container>
      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
    
  </div>
</div>
