<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="switerlandAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#switerlandAccordion1" aria-expanded="true"
            aria-controls="switerlandAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What is the present Switzerland visa processing time?
              </button>
            </h5>
          </div>

          <div id="switerlandAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p>As a general rule, a choice is taken by the Consulate within 15 days. this era may, in
                individual cases, be extended.</p>

              <p> Please note these are the processing times after your Biometrics are completed. Ideally,
                it's advised to start out your Swiss e-visa online application process 6-8 weeks prior to your
                intended date of departure.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#switerlandAccordion2" aria-expanded="false"
            aria-controls="switerlandAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What to do if my Switzerland visa application is refused/denied?
              </button>
            </h5>
          </div>
          <div id="switerlandAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p> The decision to refuse a Schengen visa and therefore the reasons for the refusal are
                notified to the applicant employing a standard form. You will get the chance to appeal within
                30 days of receipt of the
                refusal. For information on appeal procedures, please ask the webpage of the State Secretariat
                for Migration.
              </p>
              <p> Make sure to give a minimum time of 6 months before you apply for the visa again.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#switerlandAccordion3" aria-expanded="true"
            aria-controls="switerlandAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What is the current SWITZERLAND visa processing time?
              </button>
            </h5>
          </div>

          <div id="switerlandAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#switerlandAccordion">
            <div class="card-body">
              <p>As a general rule, a choice is taken by the Consulate within 15 days. This period may, in
                individual cases, be extended.</p>

              <p> Please note these are the processing times after your Biometrics have been completed.
                Ideally, it is advised to start your Swiss e-visa online application process 6-8 weeks prior
                to your intended date of
                departure.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
    
  </div>
</div>
