<div class="mgContainer mt-4">
  <div class="text-center my-3" style="width: 100%">
    <h3 class="popularVisa">E-Visas</h3>
    <p class="popularVisaSubHeading">Apply E-Visa Online</p>
    <div
      id="evisaCarouselLarge"
      class="carousel slide w-100 largeCarousel"
      data-ride="carousel"
      data-interval="6000"
      style="padding: 0px 15px"
    >
      <div class="carousel-inner w-100" role="listbox">
        <!-- for tablet and upper -->
        <div class="carousel-item row no-gutters active">
          <div
            (click)="proceedToHome('Thailand')"
            class="col-3 float-left img-fluid rounded"
          >
            <img
              class="img-fluid carouselImage rounded lazyload"
              data-src="https://static.visa2fly.com/eVisa/Thailand.jpg"
              alt="apply visa online"
            />
            <div class="country">Thailand</div>
          </div>
          <div (click)="proceedToHome('Sri Lanka')" class="col-3 float-left">
            <img
              class="img-fluid carouselImage rounded lazyload"
              data-src="https://static.visa2fly.com/eVisa/Sri Lanka.jpg"
              alt="apply visa online"
            />
            <div class="country">Sri Lanka</div>
          </div>
          <div
            (click)="proceedToHome('Malaysia')"
            class="col-3 float-left rounded"
          >
            <img
              class="img-fluid carouselImage rounded lazyload"
              data-src="https://static.visa2fly.com/eVisa/Malaysia.jpg"
              alt="apply visa online"
            />
            <div class="country">Malaysia</div>
          </div>
          <div
            (click)="proceedToHome('Cambodia')"
            class="col-3 float-left rounded"
          >
            <img
              class="img-fluid carouselImage rounded lazyload"
              data-src="https://static.visa2fly.com/eVisa/Cambodia.jpg"
              alt="apply visa online"
            />
            <div class="country">Cambodia</div>
          </div>
        </div>
        <div class="carousel-item row no-gutters">
          <div
            (click)="proceedToHome('Vietnam')"
            class="col-3 float-left rounded"
          >
            <img
              class="img-fluid carouselImage lazyload rounded lazyload"
              data-src="https://static.visa2fly.com/eVisa/Vietnam.jpg"
              alt="apply visa online"
            />
            <div class="country">Vietnam</div>
          </div>
          <div
            (click)="proceedToHome('Ethiopia')"
            class="col-3 float-left rounded"
          >
            <img
              class="img-fluid carouselImage rounded lazyload"
              data-src="https://static.visa2fly.com/eVisa/Ethiopia.jpg"
              alt="apply visa online"
            />
            <div class="country">Ethiopia</div>
          </div>
          <div
            (click)="proceedToHome('Armenia')"
            class="col-3 float-left rounded"
          >
            <img
              class="img-fluid carouselImage rounded lazyload"
              data-src="https://static.visa2fly.com/eVisa/Armenia.jpg"
              alt="apply visa online"
            />
            <div class="country">Armenia</div>
          </div>
          <div (click)="proceedToHome('UAE')" class="col-3 float-left rounded">
            <img
              class="img-fluid carouselImage rounded lazyload"
              data-src="https://static.visa2fly.com/eVisa/United Arab Emirates.jpg"
              alt="apply visa online"
            />
            <div class="country">United Arab Emirates</div>
          </div>
        </div>
        <!--  -->
      </div>
      <a
        class="carousel-control-prev"
        data-slide="prev"
        href="#evisaCarouselLarge"
        role="button"
      >
        <svg
          class="bi bi-chevron-left"
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          fill="#000000"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
      <a
        class="carousel-control-next"
        href="#evisaCarouselLarge"
        role="button"
        data-slide="next"
      >
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <!-- large controls -->
    </div>

    <!-- small Carousel -->
    <div class="smallHeader">
      <h2 class="smallVisaHeading">E-Visas</h2>
      <p class="smallVisaSubHeading">Apply E-Visa Online</p>
    </div>
    <div
      id="evisaCarouselSmall"
      class="carousel slide smallCarousel"
      data-ride="carousel"
      data-interval="6000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div (click)="proceedToHome('Thailand')" class="col-6 img-pd">
              <img
                class="img-fluid carouselImage rounded lazyload"
                data-src="https://static.visa2fly.com/eVisa/Thailand.jpg"
                alt="apply visa online"
              />
              <div class="country">Thailand</div>
            </div>
            <div (click)="proceedToHome('Sri Lanka')" class="col-6 img-pd">
              <img
                class="img-fluid carouselImage rounded lazyload"
                data-src="https://static.visa2fly.com/eVisa/Sri Lanka.jpg"
                alt="apply visa online"
              />
              <div class="country">Sri Lanka</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div (click)="proceedToHome('Malaysia')" class="col-6 img-pd">
              <img
                class="img-fluid carouselImage rounded lazyload"
                data-src="https://static.visa2fly.com/eVisa/Malaysia.jpg"
                alt="apply visa online"
              />
              <div class="country">Malaysia</div>
            </div>
            <div (click)="proceedToHome('Cambodia')" class="col-6 img-pd">
              <img
                class="img-fluid carouselImage rounded lazyload"
                data-src="https://static.visa2fly.com/eVisa/Cambodia.jpg"
                alt="apply visa online"
              />
              <div class="country">Cambodia</div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div (click)="proceedToHome('Vietnam')" class="col-6 img-pd">
              <img
                class="img-fluid carouselImage rounded lazyload"
                data-src="https://static.visa2fly.com/eVisa/Vietnam.jpg"
                alt="apply visa online"
              />
              <div class="country">Vietnam</div>
            </div>
            <div (click)="proceedToHome('Ethiopia')" class="col-6 img-pd">
              <img
                class="img-fluid carouselImage rounded lazyload"
                data-src="https://static.visa2fly.com/eVisa/Ethiopia.jpg"
                alt="apply visa online"
              />
              <div class="country">Ethiopia</div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div (click)="proceedToHome('Armenia')" class="col-6 img-pd">
              <img
                class="img-fluid carouselImage rounded lazyload"
                data-src="https://static.visa2fly.com/eVisa/Armenia.jpg"
                alt="apply visa online"
              />
              <div class="country">Armenia</div>
            </div>
            <div (click)="proceedToHome('UAE')" class="col-6 img-pd">
              <img
                class="img-fluid carouselImage rounded lazyload"
                data-src="https://static.visa2fly.com/eVisa/United Arab Emirates.jpg"
                alt="apply visa online"
              />
              <div class="country">United Arab Emirates</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
