<div [ngStyle]="{ display: showMobileCart ? 'none' : 'block' }" id="sim">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 form">
            <form [formGroup]="simHomeForm">
              <label class="mr-sm-2 text-white" for="country"
                >Select country for which you want SIM</label
              >
              <ng-select
                #country
                [items]="simCountries"
                [dropdownPosition]="'bottom'"
                [searchable]="false"
                [searchFn]="inputSearchFn"
                (open)="focusInputField('country')"
                class="desktopInput"
                (change)="onClickSelect()"
                formControlName="simSelect"
                id="country"
                placeholder="Select Country"
                required
              >
                <ng-template ng-header-tmp>
                  <div style="display: flex">
                    <input
                      #countryInput
                      style="width: 100%; line-height: 24px; box-shadow: none"
                      type="text"
                      class="form-control form-control-sm"
                      (input)="country.filter($event.target.value)"
                    />
                    <i
                      [hidden]="countryInput.value.length === 0"
                      (click)="country.filter(''); countryInput.value = ''"
                    ></i>
                  </div>
                </ng-template>
                <div>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item }}
                  </ng-template>
                </div>
              </ng-select>

              <div class="onMobileInput mobileInput" id="country_input_simplan">
                {{
                  simHomeForm.get("simSelect").value == null
                    ? "Select Country"
                    : simHomeForm.get("simSelect").value
                }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="sim-plans">
  <div class="container mt-4">
    <div class="row">
      <div
        [ngStyle]="{ display: showMobileCart ? 'none' : 'block' }"
        class="col-lg-9 col-md-8"
      >
        <div class="row">
          <div
            *ngFor="let simData of selectedSimCountryData; let i = index"
            class="col-lg-4 col-md-6 pricing-table"
          >
            <div class="plan">
              <div class="card-header">
                <h3>
                  {{ simData.country }} PREPAID SIM
                  <!-- <span
                    ><img
                      data-src="https://static.visa2fly.com/sim/flag/{{
                        simData.country
                      }}.png
"
                      height="90px;"
                      [alt]="simData.country"
                      class="lazyload"
                  /></span> -->
                </h3>
                <span>
                  <img
                    src="https://static.visa2fly.com/sim/plan/{{
                      simData.country
                    }}.png"
                    alt=""
                    class="img-fluid"
                  />
                </span>
              </div>

              <div class="card-body">
                <h4>
                  {{ simData.planName }}
                  <span>
                    &#x20B9;
                    {{ simData.priceWithoutGST | number: "1.0-2" }}</span
                  >
                </h4>
                <div class="planDesp">
                  <div class="summaryContainer">
                    <h6 class="summaryHeading">Summary</h6>
                    <div class="summaryContent">
                      <li *ngFor="let summary of simData.summary">
                        {{ summary }}
                      </li>
                    </div>
                  </div>
                  <br />
                  <!-- <p>Note - Student Visa mandatory</p> -->
                </div>

                <ul>
                  <h6
                    class="summaryHeading text-center"
                    style="
                      border: 1px solid #202020;
                      padding: 6px 0px;
                      border-radius: 5px;
                      margin: 10px 10px 0px;
                      text-align: center;
                      font-size: 14px;
                      cursor: pointer;
                      font-weight: 550;
                    "
                    class="dropdown-toggle"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Additional Details
                  </h6>

                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a
                      class="dropdown-item"
                      *ngFor="let tarrif of simData.tariffDetails"
                    >
                      <b>{{ tarrif.fieldName }}</b> - {{ tarrif.rates }}
                      {{ tarrif.description }}
                    </a>
                  </div>
                </ul>
              </div>

              <div class="card-footer">
                <div style="text-align: center; font-size: 16px">
                  <span
                    style="
                      box-sizing: inherit;
                      text-align: center;
                      max-width: 100%;
                      display: flex;
                      align-items: center;
                    "
                    class="metreButton"
                  >
                    <button
                      (click)="decreaseItemCount(simData)"
                      type="button"
                      class="ui left attached btn"
                    >
                      <svg
                        height="10px"
                        fill="#fff"
                        viewBox="0 -192 469.33333 469"
                        width="10px"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"
                        />
                      </svg>
                    </button>
                    <input
                      type="text"
                      value="{{ simData.quantity }}"
                      disabled
                      class="count" />
                    <button
                      (click)="increaseItemCount(simData)"
                      type="button"
                      class="btn right attached"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="10px"
                        viewBox="0 0 469.33333 469.33333"
                        width="10px"
                        class="hovered-paths"
                      >
                        <g>
                          <path
                            d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"
                            data-original="#000000"
                            class="hovered-path active-path"
                            data-old_color="#000000"
                            fill="#FFFFFF"
                          />
                        </g>
                      </svg></button
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card orderCard pc-Cart mb-3" style="padding: 0px">
          <div
            class="card-header bg-transparent"
            style="
              font-size: 18px;
              font-weight: 600;
              padding: 7px 15px;
              border-bottom: none;
              text-align: center;
            "
          >
            Your Order
          </div>
          <div
            class="card-body orderItem"
            *ngIf="!simCartEmpty"
            style="padding: 0px; overflow-y: auto;"
          >
            <div
              *ngFor="let item of simCart"
              style="width: 100%; padding: 0px 0px 10px"
            >
              <div class="col-lg-12">
                <h3
                  style="
                    font-size: 13px;
                    font-weight: 550;
                    border-top: 1px solid #707070;
                    padding-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                  "
                >
                  <span style="width: 70%">{{ item.planName }}</span>
                  <span class="pull-right" style="float: right">
                    &#x20B9;
                    {{ item.quantity * item.priceWithoutGST | number: "1.0-2" }}
                  </span>
                </h3>
              </div>
              <div class="col-lg-12 order">
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  <span
                    style="
                      box-sizing: inherit;
                      text-align: center;
                      max-width: 100%;
                      display: flex;
                      align-items: center;
                    "
                  >
                    <button
                      type="button"
                      (click)="decreaseItemCount(item)"
                      class="ui left attached btn"
                    >
                      <svg
                        height="10px"
                        fill="#fff"
                        viewBox="0 -192 469.33333 469"
                        width="10px"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"
                        />
                      </svg></button
                    ><input
                      type="text"
                      value="{{ item.quantity }}"
                      disabled
                      class="count" />
                    <button
                      (click)="increaseItemCount(item)"
                      type="button"
                      class="btn right attached"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="10px"
                        viewBox="0 0 469.33333 469.33333"
                        width="10px"
                        class="hovered-paths"
                      >
                        <g>
                          <path
                            d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"
                            data-original="#000000"
                            class="hovered-path active-path"
                            data-old_color="#000000"
                            fill="#FFFFFF"
                          />
                        </g>
                      </svg></button
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="simCartEmpty" class="card-body emptyItem">
            <div class="col-lg-12 text-center" style="margin-top: 80px">
              <!-- <h5
                class="emptyMsg"
                style="
                  font-size: 14px;
                  font-weight: 600;
                  color: gray;
                  margin-top: 30px;
                "
              >
                YOUR CART IS CURRENTLY EMPTY
              </h5> -->
            </div>
            <div class="col-lg-12">
              <img
                data-src="https://static.visa2fly.com/assets/sim_cart.png"
                alt="empty-cart icon"
                class="img-fluid lazyload"
                style="margin-top: 30px"
              />
            </div>
            <div class="col-lg-12 text-center">
              <h5
                class="emptyMsg"
                style="
                  font-size: 16px;
                  font-weight: 600;
                  color: gray;
                  margin-top: 30px;
                "
              >
                No Cart Added
              </h5>
            </div>
          </div>
          <div *ngIf="!simCartEmpty" class="card-footer orderTotal">
            <div
              class="col-lg-12"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <p style="margin-bottom: 2px; font-size: 12px; font-weight: 700">
                Total <br />
                <span style="font-size: 17px"
                  >&#x20B9; {{ displayTotal | number: "1.2-2" }}</span
                >
              </p>
              <button
                (click)="checkOut()"
                style="border-radius: 10px"
                class="btn btn-success btn-sm mt-1"
              >
                Continue
              </button>
            </div>
          </div>
        </div>

        <div
          [ngStyle]="{ display: showMobileCart ? 'block' : 'none' }"
          class="card orderCard mobile-cart mb-3"
          style="margin-top: 100px; padding: 0px"
        >
          <div
            class="card-header bg-transparent"
            style="
              font-size: 18px;
              font-weight: 600;
              padding: 7px 15px;
              border-bottom: none;
              text-align: center;
            "
          >
            Your Order
          </div>
          <!-- if item in cart -->
          <div
            class="card-body orderItem"
            *ngIf="!simCartEmpty"
            style="padding: 0px; overflow-y: auto;"
          >
            <div
              *ngFor="let item of simCart"
              style="width: 100%; padding: 0px 0px 10px"
            >
              <div class="col-lg-12">
                <h3
                  class="font-weight-bold"
                  style="
                    font-size: 13px;
                    font-weight: 550;
                    border-top: 1px solid #707070;
                    padding-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                  "
                >
                  <span style="width: 70%">{{ item.planName }}</span>
                  <span class="pull-right" style="float: right">
                    &#x20B9;
                    {{ item.quantity * item.priceWithoutGST | number: "1.0-2" }}
                  </span>
                </h3>
              </div>
              <div class="col-lg-12 order">
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  <span
                    style="
                      box-sizing: inherit;
                      text-align: center;
                      max-width: 100%;
                      display: flex;
                      align-items: center;
                    "
                  >
                    <button
                      type="button"
                      (click)="decreaseItemCount(item)"
                      class="ui left attached btn"
                    >
                      <svg
                        height="10px"
                        fill="#fff"
                        viewBox="0 -192 469.33333 469"
                        width="10px"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"
                        />
                      </svg></button
                    ><input
                      type="text"
                      value="{{ item.quantity }}"
                      disabled
                      class="count" />
                    <button
                      (click)="increaseItemCount(item)"
                      type="button"
                      class="btn right attached"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="10px"
                        viewBox="0 0 469.33333 469.33333"
                        width="10px"
                        class="hovered-paths"
                      >
                        <g>
                          <path
                            d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"
                            data-original="#000000"
                            class="hovered-path active-path"
                            data-old_color="#000000"
                            fill="#FFFFFF"
                          />
                        </g>
                      </svg></button
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <!-- if cart is empty -->
          <div *ngIf="simCartEmpty" class="card-body orderItem">
            <div class="col-lg-12 text-center">
              <!-- <h5
                class="emptyMsg"
                style="
                  font-size: 14px;
                  font-weight: 600;
                  color: gray;
                  margin-top: 30px;
                "
              >
                YOUR CART IS CURRENTLY EMPTY
              </h5> -->
            </div>
            <div class="col-lg-12">
              <img
                data-src="https://static.visa2fly.com/assets/sim_cart.png"
                alt="empty-cart icon"
                class="img-fluid lazyload"
                style="margin-top: 30px"
              />
            </div>
            <div class="col-lg-12 text-center">
              <h5
                class="emptyMsg"
                style="
                  font-size: 16px;
                  font-weight: 600;
                  color: gray;
                  margin-top: 30px;
                "
              >
                No Cart Added
              </h5>
            </div>
          </div>

          <div *ngIf="!simCartEmpty" class="card-footer orderTotal">
            <div
              class="col-lg-12"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <p style="margin-bottom: 2px; font-size: 12px; font-weight: 700">
                Total <br />
                <span style="font-size: 16px"
                  >&#x20B9; {{ displayTotal | number: "1.2-2" }}</span
                >
              </p>
              <button
                (click)="checkOut()"
                style="border-radius: 10px"
                class="btn btn-success btn-sm mt-1"
              >
                Continue
              </button>
            </div>
            <!-- <div class="col-lg-12">
              <button
                (click)="checkOut()"
                class="btn btn-success btn-sm mt-1"
                style="width: 100%"
              >
                Continue
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (click)="toogleCartMobile()" class="button backButton btn text-center">
    <svg style="height: 18px; width: 18px; margin-right: 15px">
      <use xlink:href="assets/sprites/sprite.svg#sim_cart"></use>
    </svg>
    {{ buttonLabel }}
  </div>
</section>

<div id="simplan_input_container">
  <h5 class="label_text" id="simplan_home_heading">
    <span>
      <svg id="sim_home_backBtn" class="backBtn_icon" (click)="onBackButton()">
        <use xlink:href="assets/sprites/sprite.svg#arrow-left"></use>
      </svg>
    </span>
    <span class="label" id="homeform_label"> Select Country </span>
  </h5>

  <form [formGroup]="simHomeForm">
    <ng-select
      #country_mobile_simplan
      [items]="simCountries"
      [dropdownPosition]="'bottom'"
      [searchable]="false"
      [searchFn]="inputSearchMobileFn"
      (open)="focusInputField('country_mobile_simplan')"
      class="desktopInput"
      (change)="onClickSelect()"
      formControlName="simSelect"
      id="country_mobile_simplan"
      [isOpen]="true"
      placeholder="Select Country"
      required
    >
      <ng-template ng-header-tmp>
        <div style="display: flex">
          <input
            #countryInput_mobile
            style="width: 100%; line-height: 24px; box-shadow: none"
            type="text"
            class="form-control form-control-sm"
            (input)="country_mobile_simplan.filter($event.target.value)"
          />
          <i
            [hidden]="countryInput_mobile.value.length === 0"
            (click)="
              country_mobile_simplan.filter(''); countryInput_mobile.value = ''
            "
          ></i>
        </div>
      </ng-template>
      <div>
        <ng-template ng-option-tmp let-item="item" let-index="index">
          {{ item }}
        </ng-template>
      </div>
    </ng-select>
  </form>
</div>
