/* FIREFOX FIX OF UGLY SELECT BOXES */
@supports (-moz-appearance: none) {
  select {
    -moz-appearance: none !important;
    background: transparent
      url("data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==")
      right center no-repeat !important;
    background-position: calc(100% - 5px) center !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .order .count {
      font-size: 13px !important;
    }

    .metreButton .count {
      height: 20.4px !important;
    }

    @media screen and (max-width: 1500px) and (min-width: 1400px) {
      .order .count {
        font-size: 13px !important;
      }

      .metreButton .count {
        height: 20.4px !important;
        font-size: 13px;
      }
    }
  }
}

select {
  border: none;
  font-size: 16px;
  font-weight: 550;
  padding-left: 0px;
}

select:focus {
  outline: none;
  box-shadow: none !important;
}

#sim {
  background-image: linear-gradient(
      to top,
      rgba(0, 45, 75, 0),
      rgba(0, 0, 0, 0.1)
    ),
    url("https://static.visa2fly.com/carousel/simBg.jpg");
  background-size: cover;
  height: 60vh;
  background-size: cover;
  background-position: center center;
}
#sim .form {
  margin-top: 100px;
  font-size: 14px;
}
#sim select {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
#sim option {
  background: #fff;
  color: #000;
}
#sim button {
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 4px 40px;
  margin-top: 10px;
}
#sim button:hover {
  border: 2px solid #000080;
  background: #000080;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #sim select {
    max-width: 300px;
  }

  .order .count {
    top: 0px;
  }

  button.attached {
    width: 14%;
  }

  #sim {
    height: 38vh;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #sim select {
    max-width: 300px;
  }
}
.pricing-table .plan {
  font-size: 12px;
  background: #f5f5f5;
  border: none;
  color: #333;
  padding: 0px;
  position: relative;
  margin-bottom: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px -2px 18px -3px rgba(0, 0, 0, 0.2);
}

.pricing-table .plan .card-header {
  padding: 0px;
  background: #0575e6;
  background: -webkit-linear-gradient(to top right, #101ee6 0%, #000080 74%);
  background: linear-gradient(to top right, #101ee6 0%, #000080 74%);
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.pricing-table .plan .card-body {
  padding: 15px 20px;
}

.pricing-table .plan .card-footer {
  background-color: transparent;
}

.pricing-table h3 {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 0px;
  color: #fff;
}
.pricing-table h4 {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  min-height: 60px;
  margin: 0px;
}
.pricing-table h4 span {
  display: block;
  font-size: 20px;
  margin-top: 10px;
}
.pricing-table h3 span img {
  display: block;
  font: bold 25px/100px Georgia, Serif;
  background: #eeebd9;

  padding: 4px;
  height: 100px;
  /* background: url("australia-flag-round-xs.png"); */
  width: 100px;
  margin: 10px auto -65px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

h6.summaryHeading {
  font-size: 14px;
  font-weight: 550;
  margin-top: 10px;
}

.dropdown-menu {
  font-size: 14px;
}

.pricing-table ul {
  margin: 10px 0 0 0;
  padding: 0;
  /* min-height: 330px; */
  list-style: none;
}
.pricing-table li {
  border-top: 1px solid #ddd;
  padding: 6px 0;
  font-size: 13px;
}

.summaryContainer {
  min-height: 200px;
}

.summaryContainer li {
  border-top: none !important;
  padding: 2px 0;
  font-size: 13px;
}
.pricing-table .buy {
  text-decoration: none;
  color: #000080;
  border: 2px solid #000080;
  display: block;
  padding: 3px 0;
  margin: 15px 30px 10px;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.5s;
  text-align: center;
}
.pricing-table .buy:hover {
  background: #000080;
  color: #fff;
}
button.attached {
  background: linear-gradient(to top right, #101ee6 0%, #0000a7 74%);
  color: #fff !important;
  cursor: pointer;
  line-height: 0px;
  height: 25px;
  padding: 0;
  width: 25px;
  font-size: 22px;
  border-radius: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.order button.attached {
  background: linear-gradient(to top right, #101ee6 0%, #0000a7 74%);
  color: #fff !important;
  cursor: pointer;
  line-height: 0px;
  height: 25px;
  padding: 0;
  width: 25px;
  font-size: 22px;
  border-radius: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
button.attached:focus {
  outline: none;
}
/* .left {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.right {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
} */
.metreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.metreButton .count {
  position: relative;
  width: 35px;
  color: #000;
  font-size: 16px;
  height: 20.4px;
  border: none;
  padding: 0;
  background-color: transparent;
  text-align: center;
  border-radius: 0;
}
.order .count {
  position: relative;
  width: 35px;
  color: #000;
  font-size: 12px;
  height: 19px;
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: center;
  border-radius: 0;
}
.planDesp {
  min-height: 250px;
}
.orderCard {
  border: none;
  padding: 5px 12px 0px;
  border-radius: 20px;
  background: #f5f5f5;
  position: sticky;
  top: 30px;
  margin-bottom: 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px -2px 18px -3px rgba(0, 0, 0, 0.2);
}
.orderTotal {
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 -2px 15px;
  background: #fff;
  padding: 12px 7px;
  margin-top: 10px;
  box-shadow: 1px;
  width: 100%;
  margin-left: 0px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  button.attached {
    padding-bottom: 5px;
    padding-left: 1px !important;
    padding-right: 10px !important;
    width: 15%;
    font-size: 6px;
    background: -webkit-linear-gradient(to top right, #101ee6 0%, #000080 74%);
    background: linear-gradient(to top right, #101ee6 0%, #000080 74%);
    color: #fff !important;
    cursor: pointer;
    line-height: 0px;
    height: 15px;
    font-size: 22px;
  }
  .metreButton .count {
    position: relative;
    width: 50px;
    background: #fff;
    color: #000;
    font-size: 12px;
    height: 17px;
    border: 1px solid #000080;
    padding: 0;
    text-align: center;
    border-radius: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .orderTotal {
    width: 100%;
    padding-bottom: 15px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  button.attached {
    padding-bottom: 5px;
    padding-left: 1px !important;
    padding-right: 10px !important;
    width: 15%;
    font-size: 6px;
    background: -webkit-linear-gradient(
      to top right,
      #101ee6 0%,
      #000080 74%
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #101ee6 0%, #000080 74%);
    color: #fff !important;
    cursor: pointer;
    line-height: 0px;
    height: 15px;
    font-size: 22px;
  }

  .metreButton .count {
    position: relative;
    width: 50px;
    background: #fff;
    color: #000;
    font-size: 12px;
    height: 16px;
    border: 1px solid #000080;
    padding: 0;
    text-align: center;
    border-radius: 0;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #sim {
    padding-top: 25px;
  }

  #sim .form {
    margin-top: 50px;
  }
  #sim select {
    max-width: 200px;
  }

  .orderTotal {
    width: 100%;
    padding: 12px !important;
  }

  .metreButton .count {
    height: 20px;
  }

  /* .orderCard {
      display: none;
    } */
}

.summaryContent {
  min-height: 120px;
}

@media screen and (width: 411px) {
  .metreButton .count {
    top: -1px;
  }

  .order .count {
    top: 0px;
  }
}

.orderItem {
  min-height: 26rem;
}

.emptyItem {
  min-height: 31rem;
}

.mobile-cart {
  display: none;
}

.pc-Cart {
  display: block;
}

@media screen and (max-width: 767px) {
  .mobile-cart {
    display: block;
  }

  .pc-Cart {
    display: none;
  }
  #sim {
    margin-top: 60px;
    height: 280px !important;
  }
}

.backButton {
  display: none;
}

@media screen and (max-width: 767px) {
  .backButton {
    z-index: 999;
    position: fixed;
    width: 100%;
    bottom: 56px;
    font-weight: 600;
    display: block;
    padding-top: 7px;
    height: 40px;
  }

  .dropdown-item {
    width: 264px;
    white-space: normal !important;
    word-wrap: break-word !important;
  }
}

@media screen and (width: 800px) {
  .order .count {
    top: 1px;
  }
}

/* @media screen and (min-width: 1301px) and (max-width: 1400px) {
  .metreButton .count {
    top: -1px !important;
  }
} */

.mobileInput {
  display: none;
}

.desktopInput {
  display: block;
}

#country_input_simplan {
  font-size: 14px;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .desktopInput {
    display: none;
  }

  .mobileInput {
    display: flex;
  }

  .pricing-table {
    padding: 0px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1200;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#country_mobile_simplan,
#simplan_home_heading {
  display: none;
  visibility: visible;
}

.show_select {
  display: block !important;
  visibility: visible !important;
}

.overlay .label_text {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  top: 15px;
}

.overlay .backBtn_icon {
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.overlay .label {
  font-size: 15px;
  font-weight: 600;
}
