<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="unitedkingdomAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#unitedkingdomAccordion1" aria-expanded="true"
            aria-controls="unitedkingdomAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Should I book my flight prior to applying for a UK Visa Application?
              </button>
            </h5>
          </div>

          <div id="unitedkingdomAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#unitedkingdomAccordion">
            <div class="card-body">
              <p>Don’t book any flight or hotel before your UK visa is approved. If your
                visa is refused, you may lose the amount
                spent on your flight or hotel.</p>

              <p> Get a flight itinerary by either holding
                a flight reservation or buying a refundable
                flight ticket for your UK visa application.
                You can get a from British Airways fare quote
                on your email that works as a flight itinerary
                for your visa application. Some of the hotel
                booking sites like Expedia or Booking.com
                offers plenty of “refundable / pay at check-in”
                options. </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#unitedkingdomAccordion2" aria-expanded="false"
            aria-controls="unitedkingdomAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is the current UK visa processing time?
              </button>
            </h5>
          </div>
          <div id="unitedkingdomAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#unitedkingdomAccordion">
            <div class="card-body">
              <p> It depends on the UK visa processing time
                where you have submitted your application.
                Generally, It takes 15 days as standard
                UK Visa Application processing time,
                though sometimes it can take
                more than 30 days.</p>
              <p> Please note these are the processing times after your Biometrics
                have been completed. Ideally it
                is
                advised to start your visa application process 6-8 weeks prior to
                your intended date of
                departure.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#unitedkingdomAccordion3" aria-expanded="false"
            aria-controls="unitedkingdomAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If my UK visa application is refused or denied, what options do I have?
              </button>
            </h5>
          </div>
          <div id="unitedkingdomAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#unitedkingdomAccordion">
            <div class="card-body">
              <p>If your UK visa application is refused or denied,
                the first thing is to understand the
                “reason for refusal/denial”. If a lack
                of proper documentation or funds/proofs
                is the reason, then ensure sure to have
                those when you apply for the UK
                visa for the next time.
              </p>
              <p> You can re-apply for UK visa by making sure you have all the
                documents, funds or proofs that
                were
                lacking previously. You must pay the visa fee again as the fee paid
                for the old application was
                non-refundable.</p>
              <p> If you do not know the reason for your visa refusal/denial, give at
                least 6 months before you
                apply
                for
                the visa again.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#unitedkingdomAccordion4" aria-expanded="false"
            aria-controls="unitedkingdomAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I withdraw my UK visa application?
              </button>
            </h5>
          </div>
          <div id="unitedkingdomAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#unitedkingdomAccordion">
            <div class="card-body">
              <p>Yes. You can withdraw your UK visa application. Any visa fee and
                priority service fee that is
                already
                paid are not refundable.</p>
              <p>The UK consulate will keep your passport for the entirety of the visa
                process. If you are
                applying
                for
                UK visa in a third country, it can be scary to not have your
                passport with you.</p>
              <p>In the event of an emergency, to withdraw your visa application, you
                must submit a withdrawal
                request along with the reason for withdrawal to the consulate via
                email. It might take up to 72
                hours
                for the consulate to locate your packet and send it back to you.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#unitedkingdomAccordion5" aria-expanded="true"
            aria-controls="unitedkingdomAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                UK Visa Application - Who needs a UK Transit Visa?
              </button>
            </h5>
          </div>

          <div id="unitedkingdomAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#unitedkingdomAccordion">
            <div class="card-body">
              <p style="font-size: 16px;">You will need a transit visa if you have to
                pass through border
                control. You will pass through border
                control if:</p>
              <li>you leave the airport building for any reason</li>
              <li>you need to collect and re-check your luggage</li>
              <li>your connecting flight departs from a different airport</li>
              <li>your connecting flight departs on a different day to when you arrive
              </li>
              <li>there is nowhere for you to stay in the airport overnight</li>
              <li>you are transiting through the UK to get to Ireland</li>
              <li>Note: You may need to re-check your luggage if you have connecting
                flights on different
                airlines.</li>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#unitedkingdomAccordion6" aria-expanded="false"
            aria-controls="unitedkingdomAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                UK Visa Application - For how long is a Transit Visa for the United Kingdom valid for?
              </button>
            </h5>
          </div>
          <div id="unitedkingdomAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#unitedkingdomAccordion">
            <div class="card-body">
              <p>Transit visas for the UK are usually
                valid for 6 months and allow multiple
                entries as long as your future trips
                meet the same criteria as the original
                transit trip (e.g. if you were granted a
                Direct Airside Transit Visa, you cannot
                leave the airport). You are allowed to do a
                reverse journey with the visa (i.e. You can
                use the same visa on your return trip).
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading7" data-toggle="collapse"
            data-target="#unitedkingdomAccordion7" aria-expanded="false"
            aria-controls="unitedkingdomAccordion7">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What you should know about A (DATV) Direct Airside Transit Visa?
              </button>
            </h5>
          </div>
          <div id="unitedkingdomAccordion7" class="collapse" aria-labelledby="heading7"
            data-parent="#unitedkingdomAccordion">
            <div class="card-body">
              <p>A (DATV) Direct Airside Transit Visa is
                valid for 24 hours which does not
                allow you to cross the UK Border Control
                (i.e. you have to remain ‘airside’). If
                you are in possession of a Transit Visa,
                You can pass through the transit channels
                and requires that you depart from the
                same airport on the same day. The DATV
                is perfect if you are traveling to
                Europe and need to catch a connecting
                flight in the United Kingdom.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading8" data-toggle="collapse"
            data-target="#unitedkingdomAccordion8" aria-expanded="false"
            aria-controls="unitedkingdomAccordion8">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                UK Visa Application - What is a Visitor in Transit Visa?
              </button>
            </h5>
          </div>
          <div id="unitedkingdomAccordion8" class="collapse" aria-labelledby="heading8"
            data-parent="#unitedkingdomAccordion">
            <div class="card-body">
              <p>As a visitor in Transit Visa, It remains
                valid for 48 hours that allows you to
                change terminals and cross the UK Border
                Control. The Visitor in Transit visa is
                designed for travelers who need to re-check
                their luggage or catch a connecting flight
                at a different airport (e.g. If you land
                at Gatwick Airport and your onward
                flight departs from Heathrow Airport).
                You will only be allowed to stay
                in the UK for 48 hours.</p>
            </div>
          </div>
        </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
  </div>
</div>