<div class="container-fluid step_container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="process-main--heading">Process For {{ country }} Visa Online</h1>
      </div>
    </div>
    <div class="desktopView">
      <div class="process-step_container">
        <div class="box-wrapper">
          <div class="box">
            <div class="process-img first-child">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.356 171.375">
                <g id="Group_1621" data-name="Group 1621" transform="translate(-292.717 -2143.994)">
                  <g id="Group_1458" data-name="Group 1458" transform="translate(315.894 2164.256)">
                    <g id="Group_1455" data-name="Group 1455">
                      <g id="Group_1453" data-name="Group 1453" transform="translate(14.384)">
                        <circle id="Ellipse_185" data-name="Ellipse 185" cx="10.246" cy="10.246" r="10.246"
                          fill="#f9be2d" />
                      </g>
                      <g id="Group_1454" data-name="Group 1454" transform="translate(0 23.448)">
                        <path id="Path_851" data-name="Path 851"
                          d="M84.884,175.21a24.629,24.629,0,0,0-24.628,24.631h49.259A24.632,24.632,0,0,0,84.884,175.21Z"
                          transform="translate(-60.256 -175.21)" fill="#f9be2d" />
                      </g>
                    </g>
                    <g id="Group_1456" data-name="Group 1456" transform="translate(23.074 25.813)">
                      <path id="Path_852" data-name="Path 852"
                        d="M70.878,178.8a.366.366,0,0,1-.631,0l-.62-1.074-.618-1.074a.363.363,0,0,1,.316-.546H71.8a.365.365,0,0,1,.318.546l-.62,1.074Z"
                        transform="translate(-68.958 -176.102)" fill="#282525" />
                    </g>
                    <g id="Group_1457" data-name="Group 1457" transform="translate(21.933 30.027)">
                      <path id="Path_853" data-name="Path 853"
                        d="M71.13,177.8a.147.147,0,0,1,.286,0l1.236,5.03,1.363,5.545a.153.153,0,0,1-.029.13l-2.6,3.153a.148.148,0,0,1-.228,0l-2.6-3.153a.153.153,0,0,1-.029-.13l1.363-5.545Z"
                        transform="translate(-68.527 -177.691)" fill="#282525" />
                    </g>
                  </g>
                  <g id="Group_1459" data-name="Group 1459" transform="translate(292.717 2143.994)">
                    <path id="Path_854" data-name="Path 854"
                      d="M163.825,330.1H63.386A11.884,11.884,0,0,1,51.515,318.23V170.595a11.883,11.883,0,0,1,11.871-11.869H163.825A11.883,11.883,0,0,1,175.7,170.595V180.6h-6.557v-10.01a5.32,5.32,0,0,0-5.314-5.314H63.386a5.32,5.32,0,0,0-5.314,5.314V318.23a5.32,5.32,0,0,0,5.314,5.314H163.825a5.32,5.32,0,0,0,5.314-5.314V242.5H175.7V318.23A11.883,11.883,0,0,1,163.825,330.1Z"
                      transform="translate(-51.515 -158.726)" fill="#282525" />
                  </g>
                  <g id="Group_1460" data-name="Group 1460" transform="translate(311.607 2229.319)">
                    <path id="Path_855" data-name="Path 855"
                      d="M142.5,195.987H61.179a2.541,2.541,0,0,1-2.54-2.543h0a2.541,2.541,0,0,1,2.54-2.54H142.5a2.543,2.543,0,0,1,2.543,2.54h0A2.543,2.543,0,0,1,142.5,195.987Z"
                      transform="translate(-58.639 -190.904)" fill="#282525" />
                  </g>
                  <g id="Group_1461" data-name="Group 1461" transform="translate(311.424 2262.233)">
                    <path id="Path_856" data-name="Path 856"
                      d="M142.433,208.4H61.113a2.541,2.541,0,0,1-2.543-2.54h0a2.542,2.542,0,0,1,2.543-2.543h81.32a2.541,2.541,0,0,1,2.54,2.543h0A2.541,2.541,0,0,1,142.433,208.4Z"
                      transform="translate(-58.57 -203.317)" fill="#282525" />
                  </g>
                  <g id="Group_1462" data-name="Group 1462" transform="translate(311.424 2278.692)">
                    <path id="Path_857" data-name="Path 857"
                      d="M142.433,214.607H61.113a2.543,2.543,0,0,1-2.543-2.543h0a2.541,2.541,0,0,1,2.543-2.54h81.32a2.541,2.541,0,0,1,2.54,2.54h0A2.543,2.543,0,0,1,142.433,214.607Z"
                      transform="translate(-58.57 -209.524)" fill="#282525" />
                  </g>
                  <g id="Group_1463" data-name="Group 1463" transform="translate(311.425 2295.391)">
                    <path id="Rectangle_1310" data-name="Rectangle 1310"
                      d="M.681,0h42.2a.68.68,0,0,1,.68.68V4.4a.68.68,0,0,1-.68.68H.681A.681.681,0,0,1,0,4.4V.681A.681.681,0,0,1,.681,0Z"
                      fill="#282525" />
                  </g>
                  <g id="Group_1464" data-name="Group 1464" transform="translate(311.424 2245.777)">
                    <path id="Path_858" data-name="Path 858"
                      d="M142.433,202.192H61.113a2.541,2.541,0,0,1-2.543-2.54h0a2.541,2.541,0,0,1,2.543-2.54h81.32a2.541,2.541,0,0,1,2.54,2.54h0A2.541,2.541,0,0,1,142.433,202.192Z"
                      transform="translate(-58.57 -197.111)" fill="#282525" />
                  </g>
                  <g id="Group_1471" data-name="Group 1471" transform="translate(374.424 2159.448)">
                    <path id="Path_860" data-name="Path 860"
                      d="M119.158,238.214a36.83,36.83,0,1,1,36.831-36.831A36.872,36.872,0,0,1,119.158,238.214Zm0-63.167A26.337,26.337,0,1,0,145.5,201.383,26.366,26.366,0,0,0,119.158,175.047Z"
                      transform="translate(-82.329 -164.554)" fill="#f9be2d" />
                  </g>
                  <g id="Group_1473" data-name="Group 1473" transform="translate(426.347 2216.163)">
                    <path id="Rectangle_1316" data-name="Rectangle 1316"
                      d="M0,0H71.536A1.694,1.694,0,0,1,73.23,1.694V9.775a1.694,1.694,0,0,1-1.694,1.694H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z"
                      transform="translate(8.652 0) rotate(48.968)" fill="#f9be2d" />
                  </g>
                </g>
              </svg>
            </div>
            <div class="process-info">
              <h6 class="process-heading">Upload Document</h6>
              <p class="process-desc">Upload scanned documents with ease</p>
            </div>
          </div>
        </div>

        <div class="box-wrapper">
          <div class="process-img second-child">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 170.99 176.856">
              <g id="Group_1622" data-name="Group 1622" transform="translate(-692.686 -2149.003)">
                <g id="Group_1465" data-name="Group 1465" transform="translate(692.686 2152.344)">
                  <path id="Path_859" data-name="Path 859"
                    d="M316.08,335.39H214.337a12,12,0,0,1-11.983-11.983V173.858a12,12,0,0,1,11.983-11.983H316.08a12,12,0,0,1,11.983,11.983v12.3h-6.557v-12.3a5.432,5.432,0,0,0-5.425-5.425H214.337a5.434,5.434,0,0,0-5.428,5.425V323.407a5.435,5.435,0,0,0,5.428,5.428H316.08a5.433,5.433,0,0,0,5.425-5.428V244.9h6.557v78.51A12,12,0,0,1,316.08,335.39Z"
                    transform="translate(-202.354 -161.875)" fill="#282525" />
                </g>
                <g id="Group_1466" data-name="Group 1466" transform="translate(729.365 2196.811)">
                  <rect id="Rectangle_1311" data-name="Rectangle 1311" width="42.54" height="5.148" rx="0.677"
                    fill="#282525" />
                </g>
                <g id="Group_1467" data-name="Group 1467" transform="translate(729.246 2243.638)">
                  <rect id="Rectangle_1312" data-name="Rectangle 1312" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1468" data-name="Group 1468" transform="translate(729.246 2267.051)">
                  <rect id="Rectangle_1313" data-name="Rectangle 1313" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1469" data-name="Group 1469" transform="translate(729.246 2290.587)">
                  <rect id="Rectangle_1314" data-name="Rectangle 1314" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1470" data-name="Group 1470" transform="translate(729.246 2220.347)">
                  <rect id="Rectangle_1315" data-name="Rectangle 1315" width="47.072" height="5.026" rx="0.703"
                    fill="#282525" />
                </g>
                <g id="Group_1472" data-name="Group 1472" transform="translate(768.038 2171.624)">
                  <path id="Path_861" data-name="Path 861"
                    d="M265.147,237.9a34.376,34.376,0,1,1,34.378-34.376A34.416,34.416,0,0,1,265.147,237.9Zm0-63.987a29.611,29.611,0,1,0,29.613,29.611A29.644,29.644,0,0,0,265.147,173.911Z"
                    transform="translate(-230.771 -169.146)" fill="#282525" />
                </g>
                <g id="Group_1474" data-name="Group 1474" transform="translate(729.247 2149.003)">
                  <path id="Path_862" data-name="Path 862"
                    d="M255.49,176.061H223.864a7.721,7.721,0,0,1-7.722-7.724h0a7.721,7.721,0,0,1,7.722-7.722H255.49a7.723,7.723,0,0,1,7.724,7.722h0A7.724,7.724,0,0,1,255.49,176.061Z"
                    transform="translate(-216.142 -160.615)" fill="#f9be2d" />
                </g>
                <g id="Group_1475" data-name="Group 1475" transform="translate(713.064 2196.811)">
                  <path id="Path_863" data-name="Path 863"
                    d="M210.977,183.74a2.942,2.942,0,1,1,4.158-.148A2.939,2.939,0,0,1,210.977,183.74Z"
                    transform="translate(-210.039 -178.645)" fill="#f9be2d" />
                </g>
                <g id="Group_1476" data-name="Group 1476" transform="translate(713.065 2219.612)">
                  <circle id="Ellipse_186" data-name="Ellipse 186" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1477" data-name="Group 1477" transform="translate(713.064 2243.147)">
                  <path id="Path_864" data-name="Path 864"
                    d="M215.923,199.062a2.942,2.942,0,1,1-2.941-2.943A2.941,2.941,0,0,1,215.923,199.062Z"
                    transform="translate(-210.039 -196.119)" fill="#f9be2d" />
                </g>
                <g id="Group_1478" data-name="Group 1478" transform="translate(713.065 2266.684)">
                  <circle id="Ellipse_187" data-name="Ellipse 187" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1479" data-name="Group 1479" transform="translate(713.065 2290.22)">
                  <circle id="Ellipse_188" data-name="Ellipse 188" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1481" data-name="Group 1481" transform="translate(779.845 2164.983)">
                  <g id="Group_1480" data-name="Group 1480">
                    <path id="Path_865" data-name="Path 865"
                      d="M236.717,205.216q8.46,9.928,16.917,19.858c2.158,2.535,6.107,1.97,8.345,0q27.584-24.27,55.165-48.543c5.712-5.027-2.662-13.348-8.347-8.345L253.635,216.73h8.345q-8.456-9.932-16.915-19.858c-4.935-5.791-13.248,2.591-8.347,8.345Z"
                      transform="translate(-235.224 -166.641)" fill="#f9be2d" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="process-info">
            <h6 class="process-heading">Pay online</h6>
            <p class="process-desc">Pay online securely.</p>
          </div>
        </div>

        <div class="box-wrapper">
          <div class="process-img third-child">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154.296 176.857">
              <g id="Group_1623" data-name="Group 1623" transform="translate(-1079.328 -2147.692)">
                <g id="Group_1497" data-name="Group 1497" transform="translate(1113.309 2157.348)">
                  <g id="Group_1494" data-name="Group 1494" transform="translate(0 0.001)">
                    <circle id="Ellipse_189" data-name="Ellipse 189" cx="2.623" cy="2.623" r="2.623" fill="#fff" />
                  </g>
                  <g id="Group_1495" data-name="Group 1495" transform="translate(13.114 0.001)">
                    <circle id="Ellipse_190" data-name="Ellipse 190" cx="2.623" cy="2.623" r="2.623" fill="#fff" />
                  </g>
                  <g id="Group_1496" data-name="Group 1496" transform="translate(26.228)">
                    <path id="Path_876" data-name="Path 876"
                      d="M376.118,166.384a2.622,2.622,0,1,1-2.622-2.622A2.622,2.622,0,0,1,376.118,166.384Z"
                      transform="translate(-370.873 -163.762)" fill="#fff" />
                  </g>
                </g>
                <g id="Group_1502" data-name="Group 1502" transform="translate(1165.637 2172.865)">
                  <g id="Group_1499" data-name="Group 1499" transform="translate(23.027)">
                    <path id="Path_878" data-name="Path 878"
                      d="M389.4,171.916a2.3,2.3,0,1,0,2.3-2.3A2.3,2.3,0,0,0,389.4,171.916Z"
                      transform="translate(-389.4 -169.614)" fill="#fff" />
                  </g>
                  <g id="Group_1500" data-name="Group 1500" transform="translate(11.513)">
                    <path id="Path_879" data-name="Path 879"
                      d="M385.058,171.916a2.3,2.3,0,1,0,2.3-2.3A2.3,2.3,0,0,0,385.058,171.916Z"
                      transform="translate(-385.058 -169.614)" fill="#fff" />
                  </g>
                  <g id="Group_1501" data-name="Group 1501">
                    <path id="Path_880" data-name="Path 880"
                      d="M380.716,171.916a2.3,2.3,0,1,0,2.3-2.3A2.3,2.3,0,0,0,380.716,171.916Z"
                      transform="translate(-380.716 -169.614)" fill="#fff" />
                  </g>
                </g>
                <g id="Group_1519" data-name="Group 1519" transform="translate(1079.328 2151.032)">
                  <path id="Path_888" data-name="Path 888"
                    d="M609.352,334.9H507.608a12,12,0,0,1-11.985-11.983V173.365a12,12,0,0,1,11.985-11.985H609.352a12,12,0,0,1,11.983,11.985V322.915A12,12,0,0,1,609.352,334.9ZM507.608,167.937a5.431,5.431,0,0,0-5.425,5.428V322.915a5.43,5.43,0,0,0,5.425,5.425H609.352a5.432,5.432,0,0,0,5.425-5.425V173.365a5.433,5.433,0,0,0-5.425-5.428Z"
                    transform="translate(-495.623 -161.38)" fill="#282525" />
                </g>
                <g id="Group_1520" data-name="Group 1520" transform="translate(1115.89 2265.74)">
                  <rect id="Rectangle_1318" data-name="Rectangle 1318" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1521" data-name="Group 1521" transform="translate(1115.89 2289.276)">
                  <rect id="Rectangle_1319" data-name="Rectangle 1319" width="56.515" height="5.149" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1522" data-name="Group 1522" transform="translate(1115.89 2218.53)">
                  <rect id="Rectangle_1320" data-name="Rectangle 1320" width="56.515" height="5.149" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1523" data-name="Group 1523" transform="translate(1115.89 2194.926)">
                  <rect id="Rectangle_1321" data-name="Rectangle 1321" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1524" data-name="Group 1524" transform="translate(1115.89 2242.067)">
                  <rect id="Rectangle_1322" data-name="Rectangle 1322" width="56.515" height="5.149" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1525" data-name="Group 1525" transform="translate(1115.89 2147.692)">
                  <rect id="Rectangle_1323" data-name="Rectangle 1323" width="47.072" height="15.445" rx="2.912"
                    fill="#f9be2d" />
                </g>
                <g id="Group_1526" data-name="Group 1526" transform="translate(1099.709 2195.5)">
                  <path id="Path_889" data-name="Path 889"
                    d="M504.247,183.246a2.943,2.943,0,1,1,4.158-.151A2.94,2.94,0,0,1,504.247,183.246Z"
                    transform="translate(-503.309 -178.15)" fill="#f9be2d" />
                </g>
                <g id="Group_1527" data-name="Group 1527" transform="translate(1099.709 2218.3)">
                  <circle id="Ellipse_193" data-name="Ellipse 193" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1528" data-name="Group 1528" transform="translate(1099.709 2241.836)">
                  <circle id="Ellipse_194" data-name="Ellipse 194" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1529" data-name="Group 1529" transform="translate(1099.709 2265.372)">
                  <circle id="Ellipse_195" data-name="Ellipse 195" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1530" data-name="Group 1530" transform="translate(1099.708 2288.909)">
                  <path id="Path_890" data-name="Path 890"
                    d="M509.193,216.318a2.942,2.942,0,1,1-2.941-2.941A2.943,2.943,0,0,1,509.193,216.318Z"
                    transform="translate(-503.309 -213.377)" fill="#f9be2d" />
                </g>
                <g id="Group_1539" data-name="Group 1539" transform="translate(1212.762 2170.462)">
                  <g id="Group_1531" data-name="Group 1531" transform="translate(12.244 9.652)">
                    <path id="Path_891" data-name="Path 891"
                      d="M559.18,180.778H556.4c0-2.249-.549-3.845-1.631-4.744a4.938,4.938,0,0,0-3.667-.846l-.538-2.729a7.728,7.728,0,0,1,5.953,1.411C558.284,175.318,559.18,177.644,559.18,180.778Z"
                      transform="translate(-550.562 -172.348)" fill="#f9be2d" />
                  </g>
                  <g id="Group_1532" data-name="Group 1532" transform="translate(2.782)">
                    <path id="Rectangle_1324" data-name="Rectangle 1324"
                      d="M1.288,0h5.77A1.288,1.288,0,0,1,8.345,1.288V24.216a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V1.288A1.288,1.288,0,0,1,1.288,0Z"
                      fill="#f9be2d" />
                  </g>
                  <g id="Group_1533" data-name="Group 1533" transform="translate(0.001 2.782)">
                    <path id="Path_892" data-name="Path 892"
                      d="M560.518,232.916H545.945V177.044a7.286,7.286,0,0,1,7.287-7.287h0a7.285,7.285,0,0,1,7.287,7.287Z"
                      transform="translate(-545.945 -169.757)" fill="#282525" />
                  </g>
                  <g id="Group_1534" data-name="Group 1534" transform="translate(1.619 57.843)">
                    <path id="Path_893" data-name="Path 893"
                      d="M552.224,190.522a5.669,5.669,0,0,0-5.669,5.669v57.493l4.123,11.126h3.092l4.123-11.126V196.191A5.668,5.668,0,0,0,552.224,190.522Z"
                      transform="translate(-546.555 -190.522)" fill="#282525" />
                  </g>
                  <g id="Group_1535" data-name="Group 1535" transform="translate(5.742 133.522)">
                    <path id="Path_894" data-name="Path 894" d="M549.656,223.235l1.546-4.173H548.11Z"
                      transform="translate(-548.11 -219.062)" fill="#282525" />
                  </g>
                  <g id="Group_1536" data-name="Group 1536" transform="translate(13.381 18.082)">
                    <path id="Path_895" data-name="Path 895"
                      d="M553.964,211.648c-4.9-1.225-2.8-11.389-.374-23.157,1.079-5.229,2.1-10.172,2.1-12.964h2.782c0,3.076-1.048,8.154-2.156,13.529-1.3,6.268-3.988,19.314-1.679,19.893Z"
                      transform="translate(-550.991 -175.527)" fill="#f9be2d" />
                  </g>
                  <g id="Group_1537" data-name="Group 1537" transform="translate(15.298 50.071)">
                    <path id="Path_896" data-name="Path 896"
                      d="M557.277,190.373a2.782,2.782,0,1,1-2.782-2.782A2.781,2.781,0,0,1,557.277,190.373Z"
                      transform="translate(-551.714 -187.591)" fill="#f9be2d" />
                  </g>
                  <g id="Group_1538" data-name="Group 1538" transform="translate(0 65.37)">
                    <rect id="Rectangle_1325" data-name="Rectangle 1325" width="15.299" height="2.782" fill="#fff" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="process-info">
            <h6 class="process-heading">Get your visa</h6>
            <p class="process-desc">Receive your approved visa.</p>
          </div>
        </div>

    </div>
    </div>

    <div class="mobileView">
      <div class="process-step_container">
        <div class="box-wrapper">
          <div class="box">
            <div class="process-img first-child">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.356 171.375">
                <g id="Group_1621" data-name="Group 1621" transform="translate(-292.717 -2143.994)">
                  <g id="Group_1458" data-name="Group 1458" transform="translate(315.894 2164.256)">
                    <g id="Group_1455" data-name="Group 1455">
                      <g id="Group_1453" data-name="Group 1453" transform="translate(14.384)">
                        <circle id="Ellipse_185" data-name="Ellipse 185" cx="10.246" cy="10.246" r="10.246"
                          fill="#f9be2d" />
                      </g>
                      <g id="Group_1454" data-name="Group 1454" transform="translate(0 23.448)">
                        <path id="Path_851" data-name="Path 851"
                          d="M84.884,175.21a24.629,24.629,0,0,0-24.628,24.631h49.259A24.632,24.632,0,0,0,84.884,175.21Z"
                          transform="translate(-60.256 -175.21)" fill="#f9be2d" />
                      </g>
                    </g>
                    <g id="Group_1456" data-name="Group 1456" transform="translate(23.074 25.813)">
                      <path id="Path_852" data-name="Path 852"
                        d="M70.878,178.8a.366.366,0,0,1-.631,0l-.62-1.074-.618-1.074a.363.363,0,0,1,.316-.546H71.8a.365.365,0,0,1,.318.546l-.62,1.074Z"
                        transform="translate(-68.958 -176.102)" fill="#282525" />
                    </g>
                    <g id="Group_1457" data-name="Group 1457" transform="translate(21.933 30.027)">
                      <path id="Path_853" data-name="Path 853"
                        d="M71.13,177.8a.147.147,0,0,1,.286,0l1.236,5.03,1.363,5.545a.153.153,0,0,1-.029.13l-2.6,3.153a.148.148,0,0,1-.228,0l-2.6-3.153a.153.153,0,0,1-.029-.13l1.363-5.545Z"
                        transform="translate(-68.527 -177.691)" fill="#282525" />
                    </g>
                  </g>
                  <g id="Group_1459" data-name="Group 1459" transform="translate(292.717 2143.994)">
                    <path id="Path_854" data-name="Path 854"
                      d="M163.825,330.1H63.386A11.884,11.884,0,0,1,51.515,318.23V170.595a11.883,11.883,0,0,1,11.871-11.869H163.825A11.883,11.883,0,0,1,175.7,170.595V180.6h-6.557v-10.01a5.32,5.32,0,0,0-5.314-5.314H63.386a5.32,5.32,0,0,0-5.314,5.314V318.23a5.32,5.32,0,0,0,5.314,5.314H163.825a5.32,5.32,0,0,0,5.314-5.314V242.5H175.7V318.23A11.883,11.883,0,0,1,163.825,330.1Z"
                      transform="translate(-51.515 -158.726)" fill="#282525" />
                  </g>
                  <g id="Group_1460" data-name="Group 1460" transform="translate(311.607 2229.319)">
                    <path id="Path_855" data-name="Path 855"
                      d="M142.5,195.987H61.179a2.541,2.541,0,0,1-2.54-2.543h0a2.541,2.541,0,0,1,2.54-2.54H142.5a2.543,2.543,0,0,1,2.543,2.54h0A2.543,2.543,0,0,1,142.5,195.987Z"
                      transform="translate(-58.639 -190.904)" fill="#282525" />
                  </g>
                  <g id="Group_1461" data-name="Group 1461" transform="translate(311.424 2262.233)">
                    <path id="Path_856" data-name="Path 856"
                      d="M142.433,208.4H61.113a2.541,2.541,0,0,1-2.543-2.54h0a2.542,2.542,0,0,1,2.543-2.543h81.32a2.541,2.541,0,0,1,2.54,2.543h0A2.541,2.541,0,0,1,142.433,208.4Z"
                      transform="translate(-58.57 -203.317)" fill="#282525" />
                  </g>
                  <g id="Group_1462" data-name="Group 1462" transform="translate(311.424 2278.692)">
                    <path id="Path_857" data-name="Path 857"
                      d="M142.433,214.607H61.113a2.543,2.543,0,0,1-2.543-2.543h0a2.541,2.541,0,0,1,2.543-2.54h81.32a2.541,2.541,0,0,1,2.54,2.54h0A2.543,2.543,0,0,1,142.433,214.607Z"
                      transform="translate(-58.57 -209.524)" fill="#282525" />
                  </g>
                  <g id="Group_1463" data-name="Group 1463" transform="translate(311.425 2295.391)">
                    <path id="Rectangle_1310" data-name="Rectangle 1310"
                      d="M.681,0h42.2a.68.68,0,0,1,.68.68V4.4a.68.68,0,0,1-.68.68H.681A.681.681,0,0,1,0,4.4V.681A.681.681,0,0,1,.681,0Z"
                      fill="#282525" />
                  </g>
                  <g id="Group_1464" data-name="Group 1464" transform="translate(311.424 2245.777)">
                    <path id="Path_858" data-name="Path 858"
                      d="M142.433,202.192H61.113a2.541,2.541,0,0,1-2.543-2.54h0a2.541,2.541,0,0,1,2.543-2.54h81.32a2.541,2.541,0,0,1,2.54,2.54h0A2.541,2.541,0,0,1,142.433,202.192Z"
                      transform="translate(-58.57 -197.111)" fill="#282525" />
                  </g>
                  <g id="Group_1471" data-name="Group 1471" transform="translate(374.424 2159.448)">
                    <path id="Path_860" data-name="Path 860"
                      d="M119.158,238.214a36.83,36.83,0,1,1,36.831-36.831A36.872,36.872,0,0,1,119.158,238.214Zm0-63.167A26.337,26.337,0,1,0,145.5,201.383,26.366,26.366,0,0,0,119.158,175.047Z"
                      transform="translate(-82.329 -164.554)" fill="#f9be2d" />
                  </g>
                  <g id="Group_1473" data-name="Group 1473" transform="translate(426.347 2216.163)">
                    <path id="Rectangle_1316" data-name="Rectangle 1316"
                      d="M0,0H71.536A1.694,1.694,0,0,1,73.23,1.694V9.775a1.694,1.694,0,0,1-1.694,1.694H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z"
                      transform="translate(8.652 0) rotate(48.968)" fill="#f9be2d" />
                  </g>
                </g>
              </svg>
            </div>
            <div class="process-info">
              <h6 class="process-heading">Upload Document</h6>
              <p class="process-desc">Upload scanned documents with ease</p>
            </div>
          </div>
        </div>

        <div class="box-wrapper">
          <div class="process-img second-child">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 170.99 176.856">
              <g id="Group_1622" data-name="Group 1622" transform="translate(-692.686 -2149.003)">
                <g id="Group_1465" data-name="Group 1465" transform="translate(692.686 2152.344)">
                  <path id="Path_859" data-name="Path 859"
                    d="M316.08,335.39H214.337a12,12,0,0,1-11.983-11.983V173.858a12,12,0,0,1,11.983-11.983H316.08a12,12,0,0,1,11.983,11.983v12.3h-6.557v-12.3a5.432,5.432,0,0,0-5.425-5.425H214.337a5.434,5.434,0,0,0-5.428,5.425V323.407a5.435,5.435,0,0,0,5.428,5.428H316.08a5.433,5.433,0,0,0,5.425-5.428V244.9h6.557v78.51A12,12,0,0,1,316.08,335.39Z"
                    transform="translate(-202.354 -161.875)" fill="#282525" />
                </g>
                <g id="Group_1466" data-name="Group 1466" transform="translate(729.365 2196.811)">
                  <rect id="Rectangle_1311" data-name="Rectangle 1311" width="42.54" height="5.148" rx="0.677"
                    fill="#282525" />
                </g>
                <g id="Group_1467" data-name="Group 1467" transform="translate(729.246 2243.638)">
                  <rect id="Rectangle_1312" data-name="Rectangle 1312" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1468" data-name="Group 1468" transform="translate(729.246 2267.051)">
                  <rect id="Rectangle_1313" data-name="Rectangle 1313" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1469" data-name="Group 1469" transform="translate(729.246 2290.587)">
                  <rect id="Rectangle_1314" data-name="Rectangle 1314" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1470" data-name="Group 1470" transform="translate(729.246 2220.347)">
                  <rect id="Rectangle_1315" data-name="Rectangle 1315" width="47.072" height="5.026" rx="0.703"
                    fill="#282525" />
                </g>
                <g id="Group_1472" data-name="Group 1472" transform="translate(768.038 2171.624)">
                  <path id="Path_861" data-name="Path 861"
                    d="M265.147,237.9a34.376,34.376,0,1,1,34.378-34.376A34.416,34.416,0,0,1,265.147,237.9Zm0-63.987a29.611,29.611,0,1,0,29.613,29.611A29.644,29.644,0,0,0,265.147,173.911Z"
                    transform="translate(-230.771 -169.146)" fill="#282525" />
                </g>
                <g id="Group_1474" data-name="Group 1474" transform="translate(729.247 2149.003)">
                  <path id="Path_862" data-name="Path 862"
                    d="M255.49,176.061H223.864a7.721,7.721,0,0,1-7.722-7.724h0a7.721,7.721,0,0,1,7.722-7.722H255.49a7.723,7.723,0,0,1,7.724,7.722h0A7.724,7.724,0,0,1,255.49,176.061Z"
                    transform="translate(-216.142 -160.615)" fill="#f9be2d" />
                </g>
                <g id="Group_1475" data-name="Group 1475" transform="translate(713.064 2196.811)">
                  <path id="Path_863" data-name="Path 863"
                    d="M210.977,183.74a2.942,2.942,0,1,1,4.158-.148A2.939,2.939,0,0,1,210.977,183.74Z"
                    transform="translate(-210.039 -178.645)" fill="#f9be2d" />
                </g>
                <g id="Group_1476" data-name="Group 1476" transform="translate(713.065 2219.612)">
                  <circle id="Ellipse_186" data-name="Ellipse 186" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1477" data-name="Group 1477" transform="translate(713.064 2243.147)">
                  <path id="Path_864" data-name="Path 864"
                    d="M215.923,199.062a2.942,2.942,0,1,1-2.941-2.943A2.941,2.941,0,0,1,215.923,199.062Z"
                    transform="translate(-210.039 -196.119)" fill="#f9be2d" />
                </g>
                <g id="Group_1478" data-name="Group 1478" transform="translate(713.065 2266.684)">
                  <circle id="Ellipse_187" data-name="Ellipse 187" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1479" data-name="Group 1479" transform="translate(713.065 2290.22)">
                  <circle id="Ellipse_188" data-name="Ellipse 188" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1481" data-name="Group 1481" transform="translate(779.845 2164.983)">
                  <g id="Group_1480" data-name="Group 1480">
                    <path id="Path_865" data-name="Path 865"
                      d="M236.717,205.216q8.46,9.928,16.917,19.858c2.158,2.535,6.107,1.97,8.345,0q27.584-24.27,55.165-48.543c5.712-5.027-2.662-13.348-8.347-8.345L253.635,216.73h8.345q-8.456-9.932-16.915-19.858c-4.935-5.791-13.248,2.591-8.347,8.345Z"
                      transform="translate(-235.224 -166.641)" fill="#f9be2d" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="process-info">
            <h6 class="process-heading">Pay online</h6>
            <p class="process-desc">Pay online securely.</p>
          </div>
        </div>
      </div>

      <div class="process-step_container" style="margin-top: 10px;">
        <div class="box-wrapper">
          <div class="process-img third-child">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154.296 176.857">
              <g id="Group_1623" data-name="Group 1623" transform="translate(-1079.328 -2147.692)">
                <g id="Group_1497" data-name="Group 1497" transform="translate(1113.309 2157.348)">
                  <g id="Group_1494" data-name="Group 1494" transform="translate(0 0.001)">
                    <circle id="Ellipse_189" data-name="Ellipse 189" cx="2.623" cy="2.623" r="2.623" fill="#fff" />
                  </g>
                  <g id="Group_1495" data-name="Group 1495" transform="translate(13.114 0.001)">
                    <circle id="Ellipse_190" data-name="Ellipse 190" cx="2.623" cy="2.623" r="2.623" fill="#fff" />
                  </g>
                  <g id="Group_1496" data-name="Group 1496" transform="translate(26.228)">
                    <path id="Path_876" data-name="Path 876"
                      d="M376.118,166.384a2.622,2.622,0,1,1-2.622-2.622A2.622,2.622,0,0,1,376.118,166.384Z"
                      transform="translate(-370.873 -163.762)" fill="#fff" />
                  </g>
                </g>
                <g id="Group_1502" data-name="Group 1502" transform="translate(1165.637 2172.865)">
                  <g id="Group_1499" data-name="Group 1499" transform="translate(23.027)">
                    <path id="Path_878" data-name="Path 878"
                      d="M389.4,171.916a2.3,2.3,0,1,0,2.3-2.3A2.3,2.3,0,0,0,389.4,171.916Z"
                      transform="translate(-389.4 -169.614)" fill="#fff" />
                  </g>
                  <g id="Group_1500" data-name="Group 1500" transform="translate(11.513)">
                    <path id="Path_879" data-name="Path 879"
                      d="M385.058,171.916a2.3,2.3,0,1,0,2.3-2.3A2.3,2.3,0,0,0,385.058,171.916Z"
                      transform="translate(-385.058 -169.614)" fill="#fff" />
                  </g>
                  <g id="Group_1501" data-name="Group 1501">
                    <path id="Path_880" data-name="Path 880"
                      d="M380.716,171.916a2.3,2.3,0,1,0,2.3-2.3A2.3,2.3,0,0,0,380.716,171.916Z"
                      transform="translate(-380.716 -169.614)" fill="#fff" />
                  </g>
                </g>
                <g id="Group_1519" data-name="Group 1519" transform="translate(1079.328 2151.032)">
                  <path id="Path_888" data-name="Path 888"
                    d="M609.352,334.9H507.608a12,12,0,0,1-11.985-11.983V173.365a12,12,0,0,1,11.985-11.985H609.352a12,12,0,0,1,11.983,11.985V322.915A12,12,0,0,1,609.352,334.9ZM507.608,167.937a5.431,5.431,0,0,0-5.425,5.428V322.915a5.43,5.43,0,0,0,5.425,5.425H609.352a5.432,5.432,0,0,0,5.425-5.425V173.365a5.433,5.433,0,0,0-5.425-5.428Z"
                    transform="translate(-495.623 -161.38)" fill="#282525" />
                </g>
                <g id="Group_1520" data-name="Group 1520" transform="translate(1115.89 2265.74)">
                  <rect id="Rectangle_1318" data-name="Rectangle 1318" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1521" data-name="Group 1521" transform="translate(1115.89 2289.276)">
                  <rect id="Rectangle_1319" data-name="Rectangle 1319" width="56.515" height="5.149" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1522" data-name="Group 1522" transform="translate(1115.89 2218.53)">
                  <rect id="Rectangle_1320" data-name="Rectangle 1320" width="56.515" height="5.149" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1523" data-name="Group 1523" transform="translate(1115.89 2194.926)">
                  <rect id="Rectangle_1321" data-name="Rectangle 1321" width="56.515" height="5.148" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1524" data-name="Group 1524" transform="translate(1115.89 2242.067)">
                  <rect id="Rectangle_1322" data-name="Rectangle 1322" width="56.515" height="5.149" rx="0.78"
                    fill="#282525" />
                </g>
                <g id="Group_1525" data-name="Group 1525" transform="translate(1115.89 2147.692)">
                  <rect id="Rectangle_1323" data-name="Rectangle 1323" width="47.072" height="15.445" rx="2.912"
                    fill="#f9be2d" />
                </g>
                <g id="Group_1526" data-name="Group 1526" transform="translate(1099.709 2195.5)">
                  <path id="Path_889" data-name="Path 889"
                    d="M504.247,183.246a2.943,2.943,0,1,1,4.158-.151A2.94,2.94,0,0,1,504.247,183.246Z"
                    transform="translate(-503.309 -178.15)" fill="#f9be2d" />
                </g>
                <g id="Group_1527" data-name="Group 1527" transform="translate(1099.709 2218.3)">
                  <circle id="Ellipse_193" data-name="Ellipse 193" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1528" data-name="Group 1528" transform="translate(1099.709 2241.836)">
                  <circle id="Ellipse_194" data-name="Ellipse 194" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1529" data-name="Group 1529" transform="translate(1099.709 2265.372)">
                  <circle id="Ellipse_195" data-name="Ellipse 195" cx="2.942" cy="2.942" r="2.942" fill="#f9be2d" />
                </g>
                <g id="Group_1530" data-name="Group 1530" transform="translate(1099.708 2288.909)">
                  <path id="Path_890" data-name="Path 890"
                    d="M509.193,216.318a2.942,2.942,0,1,1-2.941-2.941A2.943,2.943,0,0,1,509.193,216.318Z"
                    transform="translate(-503.309 -213.377)" fill="#f9be2d" />
                </g>
                <g id="Group_1539" data-name="Group 1539" transform="translate(1212.762 2170.462)">
                  <g id="Group_1531" data-name="Group 1531" transform="translate(12.244 9.652)">
                    <path id="Path_891" data-name="Path 891"
                      d="M559.18,180.778H556.4c0-2.249-.549-3.845-1.631-4.744a4.938,4.938,0,0,0-3.667-.846l-.538-2.729a7.728,7.728,0,0,1,5.953,1.411C558.284,175.318,559.18,177.644,559.18,180.778Z"
                      transform="translate(-550.562 -172.348)" fill="#f9be2d" />
                  </g>
                  <g id="Group_1532" data-name="Group 1532" transform="translate(2.782)">
                    <path id="Rectangle_1324" data-name="Rectangle 1324"
                      d="M1.288,0h5.77A1.288,1.288,0,0,1,8.345,1.288V24.216a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V1.288A1.288,1.288,0,0,1,1.288,0Z"
                      fill="#f9be2d" />
                  </g>
                  <g id="Group_1533" data-name="Group 1533" transform="translate(0.001 2.782)">
                    <path id="Path_892" data-name="Path 892"
                      d="M560.518,232.916H545.945V177.044a7.286,7.286,0,0,1,7.287-7.287h0a7.285,7.285,0,0,1,7.287,7.287Z"
                      transform="translate(-545.945 -169.757)" fill="#282525" />
                  </g>
                  <g id="Group_1534" data-name="Group 1534" transform="translate(1.619 57.843)">
                    <path id="Path_893" data-name="Path 893"
                      d="M552.224,190.522a5.669,5.669,0,0,0-5.669,5.669v57.493l4.123,11.126h3.092l4.123-11.126V196.191A5.668,5.668,0,0,0,552.224,190.522Z"
                      transform="translate(-546.555 -190.522)" fill="#282525" />
                  </g>
                  <g id="Group_1535" data-name="Group 1535" transform="translate(5.742 133.522)">
                    <path id="Path_894" data-name="Path 894" d="M549.656,223.235l1.546-4.173H548.11Z"
                      transform="translate(-548.11 -219.062)" fill="#282525" />
                  </g>
                  <g id="Group_1536" data-name="Group 1536" transform="translate(13.381 18.082)">
                    <path id="Path_895" data-name="Path 895"
                      d="M553.964,211.648c-4.9-1.225-2.8-11.389-.374-23.157,1.079-5.229,2.1-10.172,2.1-12.964h2.782c0,3.076-1.048,8.154-2.156,13.529-1.3,6.268-3.988,19.314-1.679,19.893Z"
                      transform="translate(-550.991 -175.527)" fill="#f9be2d" />
                  </g>
                  <g id="Group_1537" data-name="Group 1537" transform="translate(15.298 50.071)">
                    <path id="Path_896" data-name="Path 896"
                      d="M557.277,190.373a2.782,2.782,0,1,1-2.782-2.782A2.781,2.781,0,0,1,557.277,190.373Z"
                      transform="translate(-551.714 -187.591)" fill="#f9be2d" />
                  </g>
                  <g id="Group_1538" data-name="Group 1538" transform="translate(0 65.37)">
                    <rect id="Rectangle_1325" data-name="Rectangle 1325" width="15.299" height="2.782" fill="#fff" />
                  </g>
                </g>
              </g>
            </svg>

          </div>
          <div class="process-info">
            <h6 class="process-heading">Get your visa</h6>
            <p class="process-desc">Receive your approved visa.</p>
          </div>
        </div>
    </div>
    </div>
  </div>
