<div class="container stepMaincontainer">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="homeformHeader">Apply Visa Online In 4 Simple Steps</h1>
                <p class="homeformSubHeader">We Take Care Of Your Online Visa Application</p>
        </div>
    </div>
</div>
<div class="homeform">
    <div class="row steprow">
        <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer ">
            <div class="step">
                <div class="stepicon" style="display: flex;justify-content: center">
                    <img data-src="https://static.visa2fly.com/assets/text-document.png" alt="text-document icon" class="img-fluid chooseImage lazyload">
                </div>
                <!-- <div class="stepnumber" style="display: flex;justify-content: center">1</div> -->
                <div class="steptitle" style="display: flex;justify-content: center">Book Online</div>
                <p class="stepcontent" style="display: flex;justify-content: center">Apply Visa Online.</p>

            </div>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer ">
            <div class="step">
                <div class="stepicon" style="display: flex;justify-content: center">
                    <img data-src="https://static.visa2fly.com/assets/checked-files.png" alt="checked-files icon" class="img-fluid chooseImage lazyload">
                </div>
                <!-- <div class="stepnumber" style="display: flex;justify-content: center">2</div> -->
                <div class="steptitle text-center" style="display: flex;justify-content: center">Document Validation</div>
                <p class="stepcontent" style="display: flex;justify-content: center">Our visa expert will verify & collect your document.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer ">
            <div class="step">
                <div class="stepicon" style="display: flex;justify-content: center">
                    <img data-src="https://static.visa2fly.com/assets/time-left.png" alt="time-left icon" class="img-fluid chooseImage lazyload">
                </div>
                <!-- <div class="stepnumber" style="display: flex;justify-content: center">3</div> -->
                <div class="steptitle" style="display: flex;justify-content: center">Visa Processing</div>
                <p class="stepcontent" style="display: flex;justify-content: center">We schedule documents submission, biometric / interview.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3  stepcontainer">
            <div class="step">
                <div class="stepicon" style="display: flex;justify-content: center">
                    <!-- <i  class="fa fa-cube" aria-hidden="true"></i> -->
                    <img data-src="https://static.visa2fly.com/assets/passport(1).png" alt="passport icon" class="img-fluid chooseImage lazyload">
                </div>
                <!-- <div class="stepnumber" style="display: flex;justify-content: center">4</div> -->
                <div class="steptitle" style="display: flex;justify-content: center">Visa at Doorstep</div>
                <div class="stepcontent" style="display: flex;justify-content: center">Passport get delivered at your doorstep.</div>
            </div>
        </div>
    </div>
</div>