.homeform {
    color: navy;
    /* background-color: antiquewhite; */
    padding: 5px 10px;
    margin-top: 30px;
}

        .homeform {
            margin-top: 50px;
            padding: 5px 20px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }
        /* On mouse-over, add a deeper shadow */
        .homeform:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .stepcontainer:hover {
          background-color: #f8f8ff
        }

        .stepcontainer{

          padding: 10px;
          border-radius: 10px;
        }
        .stepicon {
          font-size: 60px;
          color: navy;
        }

        .steprow {
          padding-left: 10px;
          padding-right: 10px;

        }

        .stepnumber {
          color: navy;
          font-size: 25px;
          margin-top: 30px;
        }

        .steptitle {
          color: navy;
          font-size: 25px;
          margin-top: 10px;
        }


        .stepcontent {
          text-align: center;
          font-size: 18px;
          color: grey;
          margin-top: 10px;
        }

