
<div class="homeform ">
  <div class="row steprow">
    <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer mx-auto">
      <div class="stepicon" style="display: flex;justify-content: center">
        <i class="fas fa-file-upload"></i>
      </div>
      <!-- <div class="stepnumber" style="display: flex;justify-content: center">1</div> -->
      <div class="steptitle" style="display: flex;justify-content: center">Apply Online</div>
      <div class="stepcontent" style="display: flex;justify-content: center">We handhold you online, to complete your visa application, with confidence.</div>


    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer mx-auto">
      <div class="stepicon" style="display: flex;justify-content: center">
        <i class="fas fa-clipboard-check"></i>
      </div>
      <!-- <div class="stepnumber" style="display: flex;justify-content: center">2</div> -->
      <div class="steptitle" style="display: flex;justify-content: center">We Confirm</div>
      <div class="stepcontent" style="display: flex;justify-content: center">Our visa experts double check your application online for 100% accuracy.</div>

    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer mx-auto">
      <div class="stepicon" style="display: flex;justify-content: center">
        <i class="fas fa-file-alt"></i>
      </div>
      <!-- <div class="stepnumber" style="display: flex;justify-content: center">3</div> -->
      <div class="steptitle" style="display: flex;justify-content: center">We Process</div>
      <div class="stepcontent" style="display: flex;justify-content: center">We schedule Blue Dart pick-up or online submission,biometrics and or an interview, we chaperone you at every step.</div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 stepcontainer mx-auto">
      <div class="stepicon" style="display: flex;justify-content: center">
        <!-- <i  class="fa fa-cube" aria-hidden="true"></i> -->
        <i class="fab fa-cc-visa"></i>
      </div>
      <!-- <div class="stepnumber" style="display: flex;justify-content: center">4</div> -->
      <div class="steptitle" style="display: flex;justify-content: center">Get Your Visa</div>
      <div class="stepcontent" style="display: flex;justify-content: center">We monitor visa issuance progress, securely return passports, and ensure you depart on schedule.</div>
    </div>
  </div>
</div>
    
