<!-- desktop Only -->
<div class="imageContainer desktopView">
    <div class="row">
        <div class="col-lg-8">
            <div class="countryImage">
                <img class="bannerImage rounded img-fluid"
                    src="https://static.visa2fly.com/country/{{this.selectedCountrytype}}.jpg"
                    [alt]="selectedCountrytype" />
            </div>
        </div>

        <ng-container *ngIf="!onlinestatus">
            <div class="col-lg-4 visaStepContainer">
                <div class="visaStep">
                    <div class="visaStepHeader text-center">
                        <h1 class="visaStepHeading">{{this.selectedCountrytype}}</h1>
                    </div>
                    <div class="visaStepContent">
                        <div class="row">
                            <div class="col-md-6 col-lg-12 col-6 p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 1</h5>
                                    </div>
                                    <div class="col-2">
                                        <img src="../../../assets/text-document.png" alt="text-document icon"
                                            class="img-fluid mgdiff" style="height: 30px; width: 30px; margin-top: 4px;" />
                                    </div>
                                    <div class="col-10">
                                        <h5 style="font-size: 16px; margin-bottom: 5px;">Book Online</h5>
                                        <p style="font-size: 12px; margin-bottom: 7px;">Select Your Visa And Pay Online
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-6 p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 2</h5>
                                    </div>
                                    <div class="col-2">
                                        <img src="../../../assets/checked-files.png" alt="checked-files icon"
                                            class="img-fluid" style="height: 30px; width: 30px; margin-top: 4px;" />
                                    </div>
                                    <div class="col-10">
                                        <h5 style="font-size: 16px; margin-bottom: 5px;">
                                            Document Validation</h5>
                                        <p style="font-size: 12px; margin-bottom: 7px;">Our visa expert will verify &
                                            collect
                                            your
                                            document.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-6 p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 3</h5>
                                    </div>
                                    <div class="col-2">
                                        <img src="../../../assets/time-left.png" alt="text-document icon"
                                            class="img-fluid" style="height: 30px; width: 30px; margin-top: 4px;" />
                                    </div>
                                    <div class="col-10">
                                        <h5 style="font-size: 16px; margin-bottom: 5px;">
                                            Visa Processing</h5>
                                        <p style="font-size: 12px; margin-bottom: 7px;">We schedule documents
                                            submission,
                                            biometric
                                            / Interview.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-6 p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 4</h5>
                                    </div>
                                    <div class="col-2">
                                        <img src="../../../assets/passport(1).png" alt="text-document icon"
                                            class="img-fluid" style="height: 30px; width: 30px; margin-top: 4px;" />
                                    </div>
                                    <div class="col-10">
                                        <h5 style="font-size: 16px; margin-bottom: 5px;">

                                            Visa at doorstep</h5>
                                        <p style="font-size: 12px; margin-bottom: 7px;">Passport gets delivered at your
                                            doorstep.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="onlinestatus">
            <div class="col-lg-4 visaStepContainer">
                <div class="visaStep">
                    <div class="visaStepHeader text-center">
                        <h1 class="visaStepHeading">{{this.selectedCountrytype}}</h1>
                    </div>
                    <div class="visaStepContent">
                        <div class="row">
                            <div class="col-md-6 col-lg-12 col-6 mt-2 p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 1</h5>
                                    </div>
                                    <div class="col-2">
                                        <img src="../../../assets/file.png" alt="file-icon" class="img-fluid"
                                            style="height: 30px; width: 30px; margin-top: 4px;" />
                                    </div>
                                    <div class="col-10">
                                        <h5 style="font-size: 16px; margin-bottom: 5px;">Upload Document</h5>
                                        <p style="font-size: 12px; margin-bottom: 7px;">Upload soft copy passport front
                                            and book your Visa</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-6 mt-2 p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 2</h5>
                                    </div>
                                    <div class="col-2">
                                        <img src="../../../assets/credit.png" alt="credit-card-icon" class="img-fluid"
                                            style="height: 30px; width: 30px; margin-top: 4px;" />
                                    </div>
                                    <div class="col-10">
                                        <h5 style="font-size: 16px; margin-bottom: 5px;">

                                            Pay online</h5>
                                        <p style="font-size: 12px; margin-bottom: 7px;">Pay online securely.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-6 mt-2 p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 3</h5>
                                    </div>
                                    <div class="col-2">
                                        <img src="../../../assets/passport(1).png" alt="passport icon" class="img-fluid"
                                            style="height: 30px; width: 30px; margin-top: 4px;" />
                                    </div>
                                    <div class="col-10">
                                        <h5 style="font-size: 16px; margin-bottom: 5px;">

                                            Get your visa</h5>
                                        <p style="font-size: 12px; margin-bottom: 7px;">Receive your approved visa .</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div class=" mobileView">
    <div class="row">
        <div class="col-lg-12">
            <div class="countryImage">
                <img class="bannerImage rounded img-fluid"
                    src="https://static.visa2fly.com/country/{{this.selectedCountrytype}}.jpg"
                    [alt]="selectedCountrytype"/>
            </div>
        </div>

        <ng-container *ngIf="!onlinestatus">
            <div class="col-lg-12 visaStepContainer">
                <div class="visaStep">
                    <div class="visaStepHeader text-center">
                        <h1 class="visaStepHeading">{{this.selectedCountrytype}}</h1>
                    </div>
                    <div class="visaStepContent mt-3">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-6 txtCenter">
                                <div class="row">
                                    <div class="col-12 ">
                                        <h5 style="font-size: 16px;">Step 1</h5>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <img src="../../../assets/text-document.png" alt="text-document icon"
                                            class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                        <h5 class="visaStepMainPoint">Book Online</h5>
                                        <p class="visaStepPoints">Select Your Visa And Pay Online</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-6 txtCenter">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 2</h5>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 ">
                                        <img src="../../../assets/checked-files.png" alt="checked-files icon"
                                            class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                        <h5 class="visaStepMainPoint">
                                            Document Validation</h5>
                                        <p class="visaStepPoints">Our visa expert will verify &
                                            collect
                                            your
                                            document.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-6 txtCenter diffMg">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 3</h5>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 ">
                                        <img src="../../../assets/time-left.png" alt="time-left icon"
                                            class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                        <h5 class="visaStepMainPoint">
                                            Visa Processing</h5>
                                        <p class="visaStepPoints">We schedule documents submission,
                                            biometric
                                            / Interview.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-6 txtCenter diffMg">
                                <div class="row">
                                    <div class="col-12 ">
                                        <h5 style="font-size: 14px;">Step 4</h5>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <img src="../../../assets/passport(1).png" alt="passport icon"
                                            class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                        <h5 class="visaStepMainPoint">

                                            Visa at doorstep</h5>
                                        <p class="visaStepPoints">Passport gets delivered at your
                                            doorstep.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="onlinestatus">
            <div class="col-lg-12 visaStepContainer">
                <div class="visaStep">
                    <div class="visaStepHeader text-center">
                        <h1 class="visaStepHeading">{{this.selectedCountrytype}}</h1>
                    </div>
                    <div class="visaStepContent mt-3">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-6 txtCenter">
                                <div class="row">
                                    <div class="col-12 ">
                                        <h5 style="font-size: 16px;">Step 1</h5>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <img src="../../../assets/file.png" alt="file icon"
                                            class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                        <h5 class="visaStepMainPoint">Upload Document</h5>
                                        <p class="visaStepPoints">Upload soft copy passport front and book your Visa</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-6 txtCenter">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 2</h5>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 ">
                                        <img src="../../../assets/credit.png" alt="credit icon"
                                            class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-12 diffMg2">
                                        <h5 class="visaStepMainPoint">
                                            Pay online</h5>
                                        <p class="visaStepPoints">Pay online securely.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-12 txtCenter diffMg" style="display: flex;justify-content: center;">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="font-size: 16px;">Step 3</h5>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 ">
                                        <img src="../../../assets/passport(1).png" alt="passport icon"
                                            class="img-fluid mgTop" style="height: 30px; width: 30px;" />
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-12 diffMg2">
                                        <h5 class="visaStepMainPoint">
                                            Get your visa</h5>
                                        <p class="visaStepPoints">Receive your approved visa.</p>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div class="container-fluid wrapContainer">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-4 setPadding">
                    Visa Type :
                </div>
                <div class="col-lg-5 col-md-6 col-8">
                    <form [formGroup]="purposeChooseForm1">
                    <mat-form-field class="setWidth">
                        <mat-select (selectionChange)="purposeChanged()"  formControlName="purposeSelected">
                            <mat-option [value]="purpose" *ngFor = "let purpose of purposeApiNew">
                                {{purpose}}
                            </mat-option>
                            <!-- <mat-option value="Business">
                                Business
                            </mat-option>
                            <mat-option value="Transit">
                                Transit
                            </mat-option> -->
                        </mat-select>
                        <!-- {{selectedPurpose}} -->
                    </mat-form-field>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="visaPriceContainer largeVisaPriceContainer">
    <div class="row">
        <!-- <div class=""> -->
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 card-top " *ngFor="let quote of MyQuotation">
            <div class="card shadow" style="border-radius: 5px;">
                <div class="card-header priceHeading font-weight-bold">
                   {{quote.purpose}} 
                </div>
                <div class="card-body">
                    <ul class="row visa-type">
                        <div class="col-5" style="padding-left: 0px; padding-right: 0px;">
                            Processing time:
                        </div>
                            <div class="col-7 fieldData text-right" style="width: 145px; padding-left: 0px; padding-right: 0px">{{
                quote.processingTime
              }}</div>
                      
                    </ul>
                        <ul class="visa-type">
                        <li>
                            Stay period :
                            <span class="fieldData">{{
                quote.stayPeriod
              }}</span>
                        </li>
                        <li>
                            Validity :
                            <span class="fieldData">{{
                quote.validity
              }}</span>
                        </li>
                        <li>
                            Entry:
                            <span class="fieldData">{{
                quote.entryType
              }}</span>
                        </li>
                        <li>
                            Fees:
                            <span class="visa-price fieldData">
                INR {{ quote.basePrice + quote.serviceTax }} /-</span>
                        </li>
                    </ul>
                </div>
                <div class="continueBtn">
                    <button class="btn btn-primary btn-continue" (click)="navigate(quote.quoteId, quote.basePrice, quote.serviceTax,quote.stayPeriod)">
            Continue
          </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class=" visaPriceContainer">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3" *ngFor="let quote of MyQuotation;">
            <div class="card planCard mt-0">
                <div class="card-header text-center font-weight-bold" style="background: #e2e2e2;">
                    {{quote.purpose}} Visa
                </div>
                <div class="card-body planCardBody">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow">Processing time:
                        </div>
                        <div class="col-lg-6 col-md-6 col-6 text-right planCardRow">{{
                            quote.processingTime
                          }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow">Stay period:</div>
                        <div class="col-lg-6 col-md-6 col-6 text-right planCardRow">{{
                            quote.stayPeriod
                          }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow">Validity:</div>
                        <div class="col-lg-6 col-md-6 col-6 text-right planCardRow">{{
                            quote.validity
                          }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow">Entry:</div>
                        <div class="col-lg-6 col-md-6 col-6 text-right planCardRow">{{
                            quote.entryType
                          }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 planCardRow
                        ">Fees:</div>
                        <div class="col-lg-6 col-md-6 col-6 font-weight-bold text-right
                        planCardRow" style="color: #000080;">
                            INR {{ quote.basePrice + quote.serviceTax }} /-</div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary btn-sm font-weight-bold submitBtn" (click)="navigate(quote.quoteId, quote.basePrice, quote.serviceTax,quote.stayPeriod)">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->

<div class="detailsContainer">
    <h2 class="headingOther " style="display: flex; justify-content: center">
        <span class="ng-binding">REQUIREMENT FOR {{this.selectedCountrytype}} Visa</span>
    </h2>
    <div class="row accordianWrapper ng-scope" id="othercountry" ng-show="visaType == visa.Visa.Id"
        ng-repeat="visa in data.VisaData">
        <!-- <div class="row accordianWrapper container"> -->
        <div class="col-md-12 pcOnly">
            <div class="gmvsprite_container" *ngFor="let items of mainArr; let i = index ;">
                <div class="gmvsprite_row">
                    <div data-toggle="modal" data-target=".bd-example-modal-sm" class="gmvsprite_col"
                        *ngFor="let item of items;let j = index " (click)="onClickRequrements(i,j,item)">

                        <div class="parent ng-scope active">
                            <img class="img-fluid requiredIcon"
                                src="https://static.visa2fly.com/icon/{{item.fieldName}}.png" [alt]="item.fieldName"
                                style="height: 45px; margin-bottom: 10px;" />
                            <p>{{item.fieldName}}</p>
                        </div>
                    </div>
                </div>

                <div [@inOutAnimation] *ngIf="showRequirementsDetailArr[i]" id="innerwrap" class="innerWrap">
                    <h1 style="color: navy">{{selectedDataArr[i].fieldName}}</h1>
                    <p>
                        {{selectedDataArr[i].content}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 mobileOnly">
            <div class="gmvsprite_container" *ngFor="let items of mobileMainArr; let i = index ;">
                <div class="gmvsprite_row">
                    <div class="gmvsprite_col" *ngFor="let item of items;let j = index "
                        (click)="onClickRequrementsMobile(i,j,item)">

                        <div class="parent ng-scope active">
                            <img class="img-fluid requiredIcon"
                                src="https://static.visa2fly.com/icon/{{item.fieldName}}.png" [alt]="item.fieldName"
                                style="height: 45px; margin-bottom: 10px;" />
                            <p>{{item.fieldName}}</p>
                        </div>
                    </div>

                </div>

                <div [@inOutAnimation] *ngIf="mobileShowRequirementsDetailArr[i]" id="innerwrap" class="innerWrap"
                    style="">
                    <h1 style="color: navy">{{mobileSelectedDataArr[i].fieldName}}</h1>
                    <p>
                        {{mobileSelectedDataArr[i].content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
        <div class="alert-wrapper visa-information-imp">
            <div class="header">
                <div class="action_req search-toggle ng-binding">
                    <i class="fa fa-info-circle info"></i>Important Visa Information For {{this.selectedCountrytype}}
                </div>
            </div>
            <div class="important-visa ng-binding" ng-bind-html="data.VisaInformation" style="display: block;">
                <ul>
                    <li *ngFor="let info of importantInfo">{{info}}</li>
    
                </ul>
            </div>
            <div class="row ">
                <div class="col-md-12" id="div0761">
                    <!-- <div class="seachcountryOption">
    
              <button href="#" class="payButton btn btn-primary btn-lg btn1 scStart" role="button" aria-disabled="true">Pay
                Now</button>
            </div> -->
                </div>
            </div>
        </div>
</div>

<div class="accordion" id="accordionExample" style="margin-bottom: 40px;">
    <div
        style="display: flex;justify-content: center;margin-left: 20px;margin-top: 0px; font-weight: 1000;font-size: 30px;">
        FAQS
    </div>
    <div *ngFor="let faq of faqs; let first=first; let i = index" class="card"
        style="border-bottom: 1px soild #000 !important;">
        <div class="card-header" id="dataSource[i].id">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse"
                    attr.data-target="{{ dataSource[i].dataToggleHash }}" aria-expanded="true"
                    attr.aria-controls="{{ dataSource[i].dataToggle }}">
                    {{faq.title}}
                </button>
            </h5>
        </div>

        <div id="{{ dataSource[i].dataToggle }}" class="collapse " [ngClass]="{'show': first}"
            attr.aria-labelledby="{{ dataSource[i].id }}" data-parent="#accordionExample">
            <div class="card-body">
                {{faq.content}}
            </div>
        </div>
    </div>

</div>