.breadcrumSection .breadcrum {
  margin-bottom: 10px;
  font-size: 14px;
}

.bannerImage {
  height: 370px;
  width: 100%;
}

.mgxTop {
  margin-top: 10px;
}

.setPadding {
  font-weight: 600;
  padding-right: 0px;
}

.submitBtn {
  background: #000080 !important;
  border-radius: 20px !important;
  color: #fff !important;
  padding: 4px 10px !important;
}

.svgStepIcons {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}

p,
li {
  font-size: 14px;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.planCardBody {
  font-size: 14px;
  padding: 10px 22px;
}

.gmvsprite_container {
  margin-top: 20px;
}

.faqQuery {
  /* background: #0000bb; */
  /* border-radius: 10px; */
  background-color: rgba(0, 0, 0, 0.03);
  /* border-bottom: 1px solid rgba(0,0,0,.125); */
  /* color: #0000bb !important;   */
  text-decoration: none !important;
  border-radius: 10px;
  cursor: pointer;
}

.faqQueryCard {
  border-radius: 10px !important;
}

.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.faqQuery button {
  font-weight: 500;
  font-size: 16px;
  color: #0000bb !important;
  text-decoration: none !important;
}

.visaTypeButton button {
  font-weight: 650;
  font-size: 16px;
  color: #fff !important;
  text-decoration: none !important;
}

.mobileView {
  display: none;
}

.desktopView {
  display: block;
}

.planCardRow {
  padding: 4px 0px;
}

.requiredIcon {
  border-radius: 0px;
  margin-top: 4px;
  margin-left: 2px;
  height: 50px;
  margin-right: 2px;
}

.wrapContainer {
  padding: 10px 40px 10px;
}

.filterWrapper {
  padding: 10px 40px 10px;
}

.breadcrumSection {
  padding: 70px 40px 0;
}

.imageContainer {
  padding: 0px 40px 10px;
}

.visaStep {
  background: #f5f5f5;
  padding: 12px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.visaStepHeading {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.stepCount {
  margin-bottom: 0px;
}

.planCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.requirementContainer {
  color: #000;
  border-bottom: 2px solid navy;
  font-weight: 600;
  font-size: 20px;
}

.faqContainer {
  color: #000;
  border-bottom: 2px solid navy;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.iconSection {
  border: 5px solid #e2e2e2;
  padding: 0px 20px 20px;
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .imageContainer {
    padding: 0px 30px 10px;
  }

  .breadcrumSection {
    padding: 40px 30px 0;
  }

  .mgTop {
    margin-top: 10px;
  }

  .requirementContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 600;
    font-size: 20px;
  }

  .visaStepContainer {
    margin-top: 20px;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .visaStepContainer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 500px) {
  .imageContainer {
    padding: 0px 20px 10px;
  }

  .breadcrumSection {
    padding: 110px 20px 0;
  }

  .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }

  .bannerImage {
    height: 230px;
  }

  .visaStepMainPoint {
    font-size: 16px;
  }

  .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #0000bb !important;
    text-decoration: none !important;
  }

  .visaStepContainer {
    margin-top: 20px;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  .imageContainer {
    padding: 0px 20px 10px;
  }

  .breadcrumSection {
    padding: 110px 10px 0;
  }

  .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }

  .bannerImage {
    height: 230px;
  }

  .visaStepMainPoint {
    font-size: 16px;
  }

  .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #0000bb !important;
    text-decoration: none !important;
  }

  .visaStepContainer {
    margin-top: 20px;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .imageContainer {
    padding: 0px 20px 10px;
  }

  .breadcrumSection {
    padding: 110px 20px 0;
  }

  .setPadding {
    font-weight: 600;
    padding: 0px;
  }

  .impRequired {
    padding: 0px;
  }

  .iconSection {
    border: 5px solid #e2e2e2;
    padding: 0px 10px !important;
  }

  .planCardBody {
    padding: 10px 25px;
  }

  .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #0000bb !important;
    text-decoration: none !important;
  }

  .requirementContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 600;
    font-size: 16px;
  }

  .outerRequirement {
    line-height: 20px;
    margin-top: 10px;
  }

  .faqContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .bannerImage {
    height: 200px;
    width: 100%;
  }

  .visaStepContainer {
    margin-top: 20px;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }

  .visaStep {
    background: #f5f5f5;
    padding: 12px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }

  .txtCenter {
    text-align: center;
    padding: 0px;
  }

  .visaStep {
    font-size: 8px;
    margin-bottom: 7px;
  }

  .visaStepPoints {
    font-size: 8px;
    margin-bottom: 7px;
  }

  .visaStepMainPoint {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .requiredContext h6 {
    font-size: 15px;
}

.faqQuery button {
  font-size: 15px;
}

.faqQueryCard .card-body {
 font-size: 14px;
}

  p,
  li {
    font-size: 13px;
  }

  .diffMg {
    margin-top: 4px;
  }

  .diffMg2 {
    margin-top: 8px;
  }

  .wrapContainer {
    padding: 10px 25px 10px;
  }

  .visaStepHeading {
    font-size: 14px;
  }

  .gmvsprite_container {
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .imageContainer {
    padding: 0px 10px 10px;
  }

  .filterWrapper {
    padding: 10px 10px 10px;
  }

  .breadcrumSection {
    padding: 110px 10px 0;
  }

  .setPadding {
    font-weight: 600;
    padding: 0px;
  }

  .iconSection {
    border: 5px solid #e2e2e2;
    padding: 0px 10px !important;
  }

  .visaStepHeading {
    font-size: 14px;
  }

  .planCardBody {
    padding: 10px 10px;
  }

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .requiredContext h6 {
    font-size: 15px;
}

.faqQuery button {
  font-size: 15px;
}

.faqQueryCard .card-body {
 font-size: 14px;
}

  p,
  li {
    font-size: 13px;
  }

  .requirementContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 600;
    font-size: 14px;
  }

  .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }

  .faqContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .visaStepContainer {
    margin-top: 20px;
  }

  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }

  .visaStep {
    background: #f5f5f5;
    padding: 12px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }

  .visaStepPoints {
    font-size: 8px;
    margin-bottom: 7px;
  }

  .visaStepMainPoint {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .diffMg {
    margin-top: 4px;
  }

  .diffMg2 {
    margin-top: 8px;
  }

  .txtCenter {
    text-align: center;
    padding: 0px;
  }

  .impRequired {
    padding: 0px;
  }

  .wrapContainer {
    padding: 10px 20px 10px;
  }

  .gmvsprite_container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .mobileView {
    display: block;
  }

  .desktopView {
    display: none;
  }

  .diffMg {
    margin-top: 4px;
  }

  .diffMg2 {
    margin-top: 8px;
  }

  .requirementContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 600;
    font-size: 14px;
  }

  .faqContainer {
    color: #000;
    border-bottom: 2px solid navy;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (width: 320px) {
  .bannerImage {
    height: 180px;
  }
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  /* font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif; */
  font-size: 18px;
  color: #60666d;
}

.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  opacity: 0.8;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.select-box__value {
  display: -webkit-box;
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  font-weight: 600;
  margin: 0;
  color: #000;
  padding: 5px 10px;
  background-color: #e1e1e1;
}
.select-box__list {
  position: absolute;
  width: 100%;
  z-index: 99;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 10px;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

.requiredContainer,
.requiredContextContainer {
  width: 100%;
  padding: 0px 5px;
}

.requiredBox {
  height: 130px;
  background: #ebebeb;
  text-align: center;
  padding: 0px;
}

.requiredBox img {
  margin-top: 20px;
}

.requiredBox p {
  margin-top: 10px;
}

.requiredContext {
  background: #ebebeb;
  margin-top: 10px;
  padding: 15px;
}

.requiredContext h6 {
  font-size: 20px;
}

.gmvsprite_col {
  padding: 0px 5px;
}

@media screen and (max-width: 600px) {
  .svgStepIcons {
    height: 40px;
    width: 40px;
    margin-top: 5px;
  }
}
