<div class="container-fluid wrapContainer mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
        </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="malaysiaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#malaysiaAccordion1"
            aria-expanded="true" aria-controls="malaysiaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Are there any conditions for Multiple Entry Visas?
              </button>
            </h5>
          </div>

          <div id="malaysiaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#malaysiaAccordion">
            <div class="card-body">
              <p>Conditions for the Multiple Entry Visa are:</p>
              <li>Proof of sufficient funds for staying in Malaysia must be displayed by the
                applicant.</li>
              <li>Possession of a valid and confirmed return ticket must be proven by the
                applicant.</li>
              <li>A Multiple Entry Visa is not eligible for tour groups.</li>
              <li>The cost of the Multiple Entry Visa is RM100.00 for Indian Citizens, and
                RM30.00 for citizens of the People’s Republic of Malaysia.</li>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#malaysiaAccordion2"
            aria-expanded="false" aria-controls="malaysiaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                In general, what are the documents required for entering Malaysia?
              </button>
            </h5>
          </div>
          <div id="malaysiaAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#malaysiaAccordion">
            <div class="card-body">
              <li>A valid passport</li>
              <li>Malaysia eVisa/eNTRI Note</li>
              <li>Boarding pass</li>
              <li>Confirmed air tickets (onward & return.</li>
              <li>Complete travel itinerary</li>
              <li>Adequate funding to cover any expenses during your stay in Malaysia
                (This could be in the form of cash/credit cards/ATM cards).</li>
              <li>Proof of accommodation (hotel bookings etc.)</li>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#malaysiaAccordion3"
            aria-expanded="false" aria-controls="malaysiaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Does the Malaysian Visa Process require biometrics?
              </button>
            </h5>
          </div>
          <div id="malaysiaAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#malaysiaAccordion">
            <div class="card-body">
              <p>At the moment, Indian citizens do not need biometrics for the processing of
                their Malaysia e-visa online.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#malaysiaAccordion4"
            aria-expanded="false" aria-controls="malaysiaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Do I need a Malaysian visa if I have a valid US/UK visa?
              </button>
            </h5>
          </div>
          <div id="malaysiaAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#malaysiaAccordion">
            <div class="card-body">
              <p>Yes, all Indian citizens, even those who have US/UK visas, require
                Malaysian visas for entry into the country.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#malaysiaAccordion5"
            aria-expanded="false" aria-controls="malaysiaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                When do I need to start applying for my visa?
              </button>
            </h5>
          </div>
          <div id="malaysiaAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#malaysiaAccordion">
            <div class="card-body">
              <p>It is recommended that the Malaysia visa application be done 1 month from
                the date of travel.</p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#malaysiaAccordion6"
              aria-expanded="true" aria-controls="malaysiaAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  I will be travelling in a large group. Can I apply together for the Multiple-Entry VIsa?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>
                  Large (tour) groups are not eligible to apply for a multiple entry visa, so it is better for each
                  individual in your group to apply separately.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#malaysiaAccordion7"
              aria-expanded="false" aria-controls="malaysiaAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there any single-entry business visa avaliable?
                </button>
              </h5>
            </div>
            <div id="malaysiaAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>
                  Actually, Malaysia does not offer a business visa - they only
                  offer a single-entry and multiple-entry visa, with the explicit
                  stating of multiple entry visas being for those who “require a
                  visa to enter Malaysia mainly for business or government-to-government
                  matters”. Therefore, if you will only enter once, it is possible to apply for
                  a single-entry visa - keeping in mind that your trip must be only for business
                  meeting, discussion, negotiation etc., and you are not engaging in
                  any employment (paid or unpaid).
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#malaysiaAccordion8"
              aria-expanded="false" aria-controls="malaysiaAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What should I do if I possess a dual passport?
                </button>
              </h5>
            </div>
            <div id="malaysiaAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>
                  You must choose one passport to apply for the visa, and must
                  travel with the same passport. Inconsistencies between your
                  travel document (passport) and the information you provide
                  in your visa application will not be tolerated.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#malaysiaAccordion9"
              aria-expanded="false" aria-controls="malaysiaAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I hold an Indian diplomatic/official passport - do I require a business visa?
                </button>
              </h5>
            </div>
            <div id="malaysiaAccordion9" class="collapse" aria-labelledby="heading9" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>
                  Those who hold Indian diplomatic/official passports do not require a (business/any other) visa to
                  visit
                  Malaysia.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#malaysiaAccordion10"
              aria-expanded="true" aria-controls="malaysiaAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What is the TWV (Transit Without Visa)?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion10" class="collapse" aria-labelledby="heading10" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>The Transit Without Visa (TWOV) is applicable for a stop-over of up to 120
                  hours after clearing Malaysian Immigration. It is worth noting that the
                  granting of a Transit without Visa (TWOV) is solely at the discretion of the
                  Malaysian Immigration, even if guest(s) meet all the prerequisite criteria.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#malaysiaAccordion11"
              aria-expanded="false" aria-controls="malaysiaAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What countries are eligible for the Transit without Visa (TWV)?
                </button>
              </h5>
            </div>
            <div id="malaysiaAccordion11" class="collapse" aria-labelledby="heading11" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>Eligible countries include:</p>
                <p><b>Indian Subcontinent</b>
                  <p>
                    <li>Sri Lanka</li>
                    <li>India</li>
                    <li>Pakistan</li>
                    <li>Bangladesh</li>
                    <em>Diplomatic & Official Passports only</em>
                    <p><b>Other Countries</b></p>
                    <li>Bhutan</li>
                    <li>China</li>
                    <li>Myanmar</li>
                    <li>Nepal</li>
                    <li>Vietnam</li>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#malaysiaAccordion12"
              aria-expanded="true" aria-controls="malaysiaAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What are the conditions for eligibility for the Indian Subcontinent
                  countries?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion12" class="collapse" aria-labelledby="heading12" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <li>Onward ticket must be within 120 hours.</li>
                <li>Arrival and departure must be done only via the same airport. (E.g.
                  Arrive in KLIA2, Depart from KLIA2)</li>

                <li>Applicant must hold a valid onward ticket and carry a visa issued
                  from/and are heading to any one (1) of the seven (7) countries listed
                  below (*TWOV will not be issued if next country of destination is not
                  listed):
                <li>
                  <ol type="a">
                    <li>Australia</li>
                    <li>New Zealand</li>
                    <li>United States of America (USA)</li>
                    <li>Japan</li>
                    <li>China</li>
                    <li>Taiwan</li>
                    <li>South Korea</li>
                  </ol>
                <li>A copy of the itinerary and original tickets in printed form (and not
                  digital) should be produced. Holding only a PNR/booking number will
                  not be sufficient.</li>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#malaysiaAccordion13"
              aria-expanded="true" aria-controls="malaysiaAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What are the conditions for eligibility for other countries?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion13" class="collapse" aria-labelledby="heading13" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <li>Onward ticket must be within 120 hours.</li>
                <li>Given that flights departing the country depart from the same entry point,
                  passengers may arrive &amp; depart via AirAsia / other airlines and
                  connect/depart via said airlines.</li>
                <li>A confirmed onward ticket to the next (/3rd) country must be displayed.</li>
              </div>
            </div>
          </div>

          <!-- new  -->
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#malaysiaAccordion14"
              aria-expanded="false" aria-controls="malaysiaAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there a Malaysia visa on arrival for Indian citizens?
                </button>
              </h5>
            </div>
            <div id="malaysiaAccordion14" class="collapse" aria-labelledby="heading14" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>There is a similar option called an eNTRI visa, that allows for you to gain a travel eNTRI document
                  online, that you show to the Immigration Officals upon landing. It can be said that it is somewhere
                  between an e-visa and a visa on-arrival, and is only available for Indian and Chinese nationals
                  currently.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#malaysiaAccordion15"
              aria-expanded="true" aria-controls="malaysiaAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I process a Malaysia visa application online?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion15" class="collapse" aria-labelledby="heading15" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>Yes, you can. Malaysia does offer an e-visa service to nationals of China, India, Sri Lanka, Nepal,
                  Myanmar, Bangladesh, Pakistan, Bhutan, Serbia, and Montenegro. You cannot apply for it if you are
                  in Malaysia, Singapore or Israel at the time of application.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading16" data-toggle="collapse" data-target="#malaysiaAccordion16"
              aria-expanded="true" aria-controls="malaysiaAccordion16">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  How long does it take to get a Malaysia visa online?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion16" class="collapse" aria-labelledby="heading16" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>It will take around 48 hours (~2 days) to obtain the final visa. After getting the visa, you will
                  need to print it out (either in colour or black and white) on an A4 sheet.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading17" data-toggle="collapse" data-target="#malaysiaAccordion17"
              aria-expanded="true" aria-controls="malaysiaAccordion17">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I apply for Malaysia visa that is multiple-entry?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion17" class="collapse" aria-labelledby="heading17" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>Indian nationals can apply for a multiple entry e-visa. This cannot be extended. Other nationals can
                  apply for a multiple-entry visa, however, not an e-visa.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading18" data-toggle="collapse" data-target="#malaysiaAccordion18"
              aria-expanded="true" aria-controls="malaysiaAccordion18">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  I forgot to print my Malaysia visa – can I show the digital version?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion18" class="collapse" aria-labelledby="heading18" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>Yes. You can do so – both versions are accepted.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading19" data-toggle="collapse" data-target="#malaysiaAccordion19"
              aria-expanded="true" aria-controls="malaysiaAccordion19">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  How long is the Malaysia e-visa valid?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion19" class="collapse" aria-labelledby="heading19" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>A Malaysia visa for Indians (in case you opted for an e-visa) is valid for 30 days. You will be subject to
                  detainment and fines if you do not adhere to this.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading20" data-toggle="collapse" data-target="#malaysiaAccordion20"
              aria-expanded="true" aria-controls="malaysiaAccordion20">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  How long before my trip should I start processing my Malaysia visa application?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion20" class="collapse" aria-labelledby="heading20" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>It is advised to start processing your visa 2 weeks prior to your travel dates. This way, you will not
                  have to forego more losses if it is declined (will have enough time to apply for it again).</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading21" data-toggle="collapse" data-target="#malaysiaAccordion21"
              aria-expanded="true" aria-controls="malaysiaAccordion21">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What are the Malaysia visa fees like?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion21" class="collapse" aria-labelledby="heading21" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>These differ based on your nationality and the kind of visa you are applying for. Our website page for
                  Malaysia visa has all the information on the fees for a regular tourist, business and transit visa.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading22" data-toggle="collapse" data-target="#malaysiaAccordion22"
              aria-expanded="true" aria-controls="malaysiaAccordion22">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  How long does it take to obtain a Malaysia student visa?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion22" class="collapse" aria-labelledby="heading22" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>It takes approximately 4-6 weeks to obtain your VAL Student Pass. You will need your official
                  transcripts and admission letter before you start this process.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading23" data-toggle="collapse" data-target="#malaysiaAccordion23"
              aria-expanded="true" aria-controls="malaysiaAccordion23">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  My child is studying in Malaysia. Do I need a Malaysia parent visa to visit them?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion23" class="collapse" aria-labelledby="heading23" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>You will need a regular tourist visa to visit them. If you are an Indian or Chinese national, you can opt
                  for the eNTRI facility as well.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading24" data-toggle="collapse" data-target="#malaysiaAccordion24"
              aria-expanded="true" aria-controls="malaysiaAccordion24">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I apply for a Malaysia visitor visa whilst in Malaysia?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion24" class="collapse" aria-labelledby="heading24" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>No. You will have to be outside the country if you want to apply for an e-visa to travel to Malaysia.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading25" data-toggle="collapse" data-target="#malaysiaAccordion25"
              aria-expanded="true" aria-controls="malaysiaAccordion25">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I be a tourist on an eNTRI visa?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion25" class="collapse" aria-labelledby="heading25" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>Yes. You do not need a Malaysia tourist visa if you are an Indian or Chinese national – the eNTRI visa
                  will suffice.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading26" data-toggle="collapse" data-target="#malaysiaAccordion26"
              aria-expanded="true" aria-controls="malaysiaAccordion26">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  How do I apply for a Malaysia business visa?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion26" class="collapse" aria-labelledby="heading26" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>The website of the Consulate General of Malaysia (in Chennai) states that if your trip is only for
                  business meeting, discussion, negotiation etc. (as long as the visit does not cover any paid or unpaid
                  employment), you may enter the country by using tourist visa.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading27" data-toggle="collapse" data-target="#malaysiaAccordion27"
              aria-expanded="true" aria-controls="malaysiaAccordion27">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I work on a business visa in Malaysia?
                </button>
              </h5>
            </div>

            <div id="malaysiaAccordion27" class="collapse" aria-labelledby="heading27" data-parent="#malaysiaAccordion">
              <div class="card-body">
                <p>No. You will not be able to engage in any paid or unpaid work on this visa. For work, you will need to
                  apply for a Malaysia working visa.</p>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>

  </div>
</div>
