<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="spainAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#spainAccordion1" aria-expanded="true" aria-controls="spainAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                How long does it usually take for me to get my visa?
              </button>
            </h5>
          </div>

          <div id="spainAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#spainAccordion">
            <div class="card-body">
              <p>After applying for your visa, it usually takes around 10 days (or less, as usually occurs)
                for the Embassy Consulate to respond. </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#spainAccordion2" aria-expanded="false" aria-controls="spainAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                When should I start applying for my Spain e-visa online?
              </button>
            </h5>
          </div>
          <div id="spainAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#spainAccordion">
            <div class="card-body">
              <p> You can apply up to 3 months before
                your planned trip; a minimum of 15 days
                prior to the date of travel is advised,
                as that is the time it takes to process
                the visa.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse"
            data-target="#spainAccordion3" aria-expanded="false" aria-controls="spainAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How much money would I need to carry on my trip?
              </button>
            </h5>
          </div>
          <div id="spainAccordion3" class="collapse" aria-labelledby="heading3"
            data-parent="#spainAccordion">
            <div class="card-body">
              <p>If staying for 10 days, you would need
                to prove that you own an overall amount
                of around 583.74€, which is representative
                of 90% of the national minimum wage. For
                every extra day (after 10 days), the daily
                amount is 64.86€.</p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse"
            data-target="#spainAccordion4" aria-expanded="false" aria-controls="spainAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Apply for Spain E-Visa Online.Do You Need Transit Visa?
              </button>
            </h5>
          </div>
          <div id="spainAccordion4" class="collapse" aria-labelledby="heading4"
            data-parent="#spainAccordion">
            <div class="card-body">
              <p>Indian Nationals do not require a Schengen Transit Visa.</p>
              <p>If one needs to transit through more than
                one airport in the Schengen area, one must
                instead apply for a regular Schengen Tourist
                visa and is no longer eligible for a Schengen
                Transit Visa.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse"
            data-target="#spainAccordion5" aria-expanded="true" aria-controls="spainAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I am a sportsperson and have to travel to Spain for a tournament. Do I require a business or
                tourist visa?
              </button>
            </h5>
          </div>

          <div id="spainAccordion5" class="collapse" aria-labelledby="heading5"
            data-parent="#spainAccordion">
            <div class="card-body">
              <p>You would require a business visa. As part of the aforementioned documents, an invitation
                letter is mandatory.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse"
            data-target="#spainAccordion6" aria-expanded="false" aria-controls="spainAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is the form for business and tourist visa the same?
              </button>
            </h5>
          </div>
          <div id="spainAccordion6" class="collapse" aria-labelledby="heading6"
            data-parent="#spainAccordion">
            <div class="card-body">
              <p> Yes, the Schengen visa form is the same for all short-term visits, with a tick-box to
                indicate the purpose of travel.
              </p>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
