<div class="container-fluid wrapContainer">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
          <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
            xmlns="http://www.w3.org/2000/svg">
            <g>
              <g>
                <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
                <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
                <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
                <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
                <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
              </g>
              <path
                d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                fill="#66b3ff" />
              <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
              <path d="m241 210h30v30h-30z" fill="#edf5ff" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                fill="#edf5ff" />
              <g fill="#d5e8fe">
                <path d="m256 210h15v30h-15z" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
              </g>
            </g>
          </svg>FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="spainAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#spainAccordion1"
            aria-expanded="true" aria-controls="spainAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                How long do I need to wait before I get a confirmation on my Spain visa application?
              </button>
            </h5>
          </div>

          <div id="spainAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#spainAccordion">
            <div class="card-body">
              <p>Usually, the processing time is 15 days. However, in some cases, it can take up to 45 days – so don’t
                be worried if your application is taking longer than a month!</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#spainAccordion2"
            aria-expanded="false" aria-controls="spainAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                When should I start applying for my Spain e-visa online?
              </button>
            </h5>
          </div>
          <div id="spainAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#spainAccordion">
            <div class="card-body">
              <p> You can apply up to 3 months before
                your planned trip; a minimum of 15 days
                prior to the date of travel is advised,
                as that is the time it takes to process
                the visa.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#spainAccordion3"
            aria-expanded="false" aria-controls="spainAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                How much money would I need to carry on my trip?
              </button>
            </h5>
          </div>
          <div id="spainAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#spainAccordion">
            <div class="card-body">
              <p>If staying for 10 days, you would need
                to prove that you own an overall amount
                of around 583.74€, which is representative
                of 90% of the national minimum wage. For
                every extra day (after 10 days), the daily
                amount is 64.86€.</p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#spainAccordion4"
            aria-expanded="false" aria-controls="spainAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Apply for Spain E-Visa Online.Do You Need Transit Visa?
              </button>
            </h5>
          </div>
          <div id="spainAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#spainAccordion">
            <div class="card-body">
              <p>Indian Nationals do not require a Schengen Transit Visa.</p>
              <p>If one needs to transit through more than
                one airport in the Schengen area, one must
                instead apply for a regular Schengen Tourist
                visa and is no longer eligible for a Schengen
                Transit Visa.
              </p>

            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#spainAccordion5"
            aria-expanded="true" aria-controls="spainAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                I am a sportsperson and have to travel to Spain for a tournament. Do I require a business or
                tourist visa?
              </button>
            </h5>
          </div>

          <div id="spainAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#spainAccordion">
            <div class="card-body">
              <p>You would require a business visa. As part of the aforementioned documents, an invitation
                letter is mandatory.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#spainAccordion6"
            aria-expanded="false" aria-controls="spainAccordion6">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is the form for business and tourist visa the same?
              </button>
            </h5>
          </div>
          <div id="spainAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#spainAccordion">
            <div class="card-body">
              <p> Yes, the Schengen visa form is the same for all short-term visits, with a tick-box to
                indicate the purpose of travel.
              </p>


            </div>
          </div>
        </div>

        <div id="faqCollapse" class="collapse">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#spainAccordion6"
              aria-expanded="false" aria-controls="spainAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the time frame to apply for Spain visa?
                </button>
              </h5>
            </div>
            <div id="spainAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#spainAccordion">
              <div class="card-body">
                <p>
                  You can apply up to 3 months before your departure date. The minimum days required for processing is
                  15, so make sure you apply at least 3 weeks before you leave.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#spainAccordion7"
              aria-expanded="false" aria-controls="spainAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Do I need an appointment to obtain a Spain visa?
                </button>
              </h5>
            </div>
            <div id="spainAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#spainAccordion">
              <div class="card-body">
                <p>
                  Yes, you do. Your visa procedure involves an appointment that needs to be attended by the applicant.
                  This is the reason why you may not be able to fully process a Spain visa online. However, with
                  Visa2Fly, it becomes much easier, and you won’t have to worry about the visa procedure at all! We
                  shall process your documents and appointment, and get your visa delivered to you personally.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#spainAccordion8"
              aria-expanded="false" aria-controls="spainAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is there a Spain visa on arrival for Indian citizens?
                </button>
              </h5>
            </div>
            <div id="spainAccordion8" class="collapse" aria-labelledby="headingBusiness8" data-parent="#spainAccordion">
              <div class="card-body">

                <p>
                  No, there is not. You will need to submit a range of documents in person, which you cannot do once you
                  arrive in Spain. However, with Visa2Fly, it becomes much easier, and you won’t have to worry about the
                  visa procedure at all! We shall process your documents and appointment, and get your visa delivered to
                  you personally.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#spainAccordion9"
              aria-expanded="false" aria-controls="spainAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I travel to other Schengen countries with a Spain tourist visa?
                </button>
              </h5>
            </div>
            <div id="spainAccordion9" class="collapse" aria-labelledby="headingBusiness9" data-parent="#spainAccordion">
              <div class="card-body">

                <p>
                  Yes, you can. If Spain is your main destination (or the place where your purpose of visit lies/ you
                  stay the longest here), you need to apply for a Spain visitor visa. Otherwise, you will need to apply
                  to the Schengen country which is your main destination – you will still be able to visit Spain even if
                  this is the case.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#spainAccordion10"
              aria-expanded="false" aria-controls="spainAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Will I need to go myself to submit an application for a Spain visa?
                </button>
              </h5>
            </div>
            <div id="spainAccordion10" class="collapse" aria-labelledby="headingBusiness10"
              data-parent="#spainAccordion">
              <div class="card-body">

                <p>
                  You do not need to go by yourself. You can, if you want to, but it is not mandatory for the applicant
                  to be there. If you would like to process a Spain visa application online, you can contact Visa2Fly,
                  and we will process the visa for you.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#spainAccordion11"
              aria-expanded="false" aria-controls="spainAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I am not going to the visa appointment by myself, how will I know the status of my visa?
                </button>
              </h5>
            </div>
            <div id="spainAccordion11" class="collapse" aria-labelledby="headingBusiness11"
              data-parent="#spainAccordion">
              <div class="card-body">

                <p>
                  Once your application has been registered, a fee receipt (of your visa fee payment). A Spain visa for
                  Indians can be tracked at this link: https://india.blsspainvisa.com/track_application.php
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#spainAccordion12"
              aria-expanded="false" aria-controls="spainAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I get a Spain parent visa online?
                </button>
              </h5>
            </div>
            <div id="spainAccordion12" class="collapse" aria-labelledby="headingBusiness12"
              data-parent="#spainAccordion">
              <div class="card-body">

                <p>
                  If you are a parent travelling to visit your child in Spain, you will need a normal visitor visa. It
                  is an offline process, but if you are tied up with a third party such as Visa2Fly, we can make it as
                  online as possible.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#spainAccordion13"
              aria-expanded="false" aria-controls="spainAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the Spain visa fees like?
                </button>
              </h5>
            </div>
            <div id="spainAccordion13" class="collapse" aria-labelledby="headingBusiness13"
              data-parent="#spainAccordion">
              <div class="card-body">

                <p>
                  Our page on obtaining a Spain visa online tells you exactly what the fees are like – for business
                  tourist and transit facilities! Click the hyperlink to know more.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#spainAccordion14"
              aria-expanded="false" aria-controls="spainAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What can I do on a Spain business visa?
                </button>
              </h5>
            </div>
            <div id="spainAccordion14" class="collapse" aria-labelledby="headingBusiness14"
              data-parent="#spainAccordion">
              <div class="card-body">

                <p>
                  You can engage in business purposes such as signing contracts, negotiating deals or attending
                  conferences. You cannot carry out professional categories including engaging in any paid work. If you
                  want to work, you will need to obtain a Spain working visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#spainAccordion15"
              aria-expanded="false" aria-controls="spainAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How long does it take to obtain a Spain student visa?
                </button>
              </h5>
            </div>
            <div id="spainAccordion15" class="collapse" aria-labelledby="headingBusiness15"
              data-parent="#spainAccordion">
              <div class="card-body">

                <p>
                  It usually takes around 12 weeks (3 months) to completely process the visa. There are no emergency
                  urgent visa processes possible for this type, so make sure you apply at least 3 months in advance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData($event)" type="button" data-toggle="collapse"
        data-target="#faqCollapse" aria-expanded="false" aria-controls="faqCollapse">
        {{loadText}}
      </button>
    </div>
  </div>
</div>
