<section id="faq">
  <div
    class="container-fluid wrapContainer"
    style="position: relative"

  >
    <div class="row">
      <div class="col-12 text-center">
        <h3>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h3>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="canadaAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#canadaAccordion1"
              aria-expanded="true"
              aria-controls="canadaAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I choose between a single and multiple entry visa?
                </button>
              </h5>
            </div>

            <div
              id="canadaAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#canadaAccordion"
            >
              <div class="card-body">
                <p>
                  All visa applicants are automatically considered for a
                  multiple-entry visa at the start of application. You don’t
                  have to choose - the Canadian officials decide which visa you
                  are eligible for based on your submitted documents. The stay
                  period of the multiple entry is 6 months for a validity of 10
                  years, or one month before your passport is set to expire -
                  whichever is shorter.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#canadaAccordion2"
              aria-expanded="false"
              aria-controls="canadaAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I apply for a visitor visa online?
                </button>
              </h5>
            </div>
            <div
              id="canadaAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#canadaAccordion"
            >
              <div class="card-body">
                <p>
                  Yes, you can. You can apply for a visitor visa online or
                  through paper.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#canadaAccordion3"
              aria-expanded="false"
              aria-controls="canadaAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the stay period for my visa?
                </button>
              </h5>
            </div>
            <div
              id="canadaAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#canadaAccordion"
            >
              <div class="card-body">
                <p>
                  The stay period is usually 6 months. The border official will
                  decide whether you stay for this amount of time, or less/more.
                  The date by which you will need to leave Canada is given on
                  your passport and visitor record.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#canadaAccordion4"
              aria-expanded="false"
              aria-controls="canadaAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  My passport has only one blank page left, is this ok?
                </button>
              </h5>
            </div>
            <div
              id="canadaAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#canadaAccordion"
            >
              <div class="card-body">
                <p>
                  You will need at least 2 blank pages in your passport for your
                  visa to be processed. Kindly apply for a fresh passport to
                  avoid this issue.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#canadaAccordion5"
              aria-expanded="false"
              aria-controls="canadaAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Are these all the documents I need?
                </button>
              </h5>
            </div>
            <div
              id="canadaAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#canadaAccordion"
            >
              <div class="card-body">
                <p>
                  These are all the documents needed, however, they may ask for
                  more. This is on a case-to-case basis.
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#canadaAccordion6"
                aria-expanded="false"
                aria-controls="canadaAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I ask someone else to apply on behalf of me?
                  </button>
                </h5>
              </div>
              <div
                id="canadaAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>
                    You can. You can appoint a family member/ a trusted friend
                    as an unpaid representative. If you are using an immigration
                    agent, please make sure they are licensed to do so. If you
                    are giving the agent (consultant, lawyer or Quebec notary)
                    money for their services, they are paid representatives and
                    must be authorized.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#canadaAccordion7"
                aria-expanded="false"
                aria-controls="canadaAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Can I reapply if my visa is rejected?
                  </button>
                </h5>
              </div>

              <div
                id="canadaAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>
                    If your visa was rejected or your application is refused,
                    you should re-apply only if you addressed the reasons why
                    you were refused. Upon applying again, you will need to
                    submit new information to prove that your previous situation
                    has changed.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#canadaAccordion8"
                aria-expanded="false"
                aria-controls="canadaAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    What is considered as a ‘business visitor’?
                  </button>
                </h5>
              </div>

              <div
                id="canadaAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>
                    If you want to apply for a Canadian business visa, you will
                    need to be a business visitor. You qualify as a business
                    visitor if you have come to take part in international
                    business activities (without being a part of the Canadian
                    labour market), or are visiting Canada to grow your
                    business, invest or advance business relations.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit9"
                data-toggle="collapse"
                data-target="#canadaAccordion9"
                aria-expanded="false"
                aria-controls="canadaAccordion9"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    What are the activities I can conduct as a business visitor?
                  </button>
                </h5>
              </div>
              <div
                id="canadaAccordion9"
                class="collapse"
                aria-labelledby="headingtransit9"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>You can do the following activities:</p>
                  <li>
                    Buy Canadian goods/services for a foreign business or
                    government
                  </li>
                  <li>Take orders for goods or services</li>
                  <li>
                    Attend meetings, conferences, conventions or trade fairs
                  </li>
                  <li>
                    Give after-sales service as part of a warranty or sales
                    agreement
                  </li>
                  <li>
                    Get trained by a Canadian company that you already work for
                    outside Canada
                  </li>
                  <li>
                    Train employees from a Canadian branch of a foreign company
                  </li>
                  <li>
                    Be trained by a Canadian company that has sold you equipment
                    or services
                  </li>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit10"
                data-toggle="collapse"
                data-target="#canadaAccordion10"
                aria-expanded="false"
                aria-controls="canadaAccordion10"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is a business visa part of the visitor visa?
                  </button>
                </h5>
              </div>
              <div
                id="canadaAccordion10"
                class="collapse"
                aria-labelledby="headingtransit10"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes. You will need to fill the same visitor visa form, but you will need to submit some extra documents, which are outlined above.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit11"
                data-toggle="collapse"
                data-target="#canadaAccordion11"
                aria-expanded="false"
                aria-controls="canadaAccordion11"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I apply for a visitor visa online?
                  </button>
                </h5>
              </div>
              <div
                id="canadaAccordion11"
                class="collapse"
                aria-labelledby="headingtransit11"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes, you can. You can apply for a visitor visa online or through paper.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit12"
                data-toggle="collapse"
                data-target="#canadaAccordion12"
                aria-expanded="false"
                aria-controls="canadaAccordion12"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Why are the documents the same for transit and visitor visas?
                  </button>
                </h5>
              </div>
              <div
                id="canadaAccordion12"
                class="collapse"
                aria-labelledby="headingtransit12"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>
                    You will need to fill out the application form for a visitor visa, and select the transit option from there. If you have an already valid visitor visa, you will not need a transit visa
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit13"
                data-toggle="collapse"
                data-target="#canadaAccordion13"
                aria-expanded="false"
                aria-controls="canadaAccordion13"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I obtain a transit visa after arriving?
                  </button>
                </h5>
              </div>
              <div
                id="canadaAccordion13"
                class="collapse"
                aria-labelledby="headingtransit13"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>No, you cannot. You will need to apply for (and receive) the document before you depart from your home country. </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit14"
                data-toggle="collapse"
                data-target="#canadaAccordion14"
                aria-expanded="false"
                aria-controls="canadaAccordion14"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are there any eligibility requirements for a Canada transit visa?
                  </button>
                </h5>
              </div>
              <div
                id="canadaAccordion14"
                class="collapse"
                aria-labelledby="headingtransit14"
                data-parent="#canadaAccordion"
              >
                <div class="card-body">
                  <p>
                    The eligibility requirements are as follows:
                  </p>
                    <li>The international flight you are on stops at a Canadian airport on its way to another country.</li>
                    <li>You are on a connecting journey between 2 international flights at a Canadian airport.</li>
                    <li>The transit through Canada in 48 hours or less.</li>
                    <li>You do not already have a valid visitor visa.</li>
                    <li>You do NOT plan to visit Canada (i.e sightsee, etc), even if your transit is less than 48 hours.</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
        <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
        {{loadText}}
      </button> -->
      </div>
    </div>
  </div>
</section>
