<div class="container-fluid wrapContainer mt-4">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">
        <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="30" height="30"
          xmlns="http://www.w3.org/2000/svg">
          <g>
            <g>
              <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
              <path d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
              <path d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z" fill="#47568c" />
              <path d="m181 512v-30c0-49.629-40.371-91-90-91v121z" fill="#29376d" />
              <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
              <path d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z" fill="#ffbfab" />
              <path d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z" fill="#47568c" />
              <path d="m512 512v-30c0-49.629-41.371-91-91-91v121z" fill="#29376d" />
            </g>
            <path
              d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
              fill="#66b3ff" />
            <path d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z" fill="#4d88ff" />
            <path d="m241 210h30v30h-30z" fill="#edf5ff" />
            <path
              d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
              fill="#edf5ff" />
            <g fill="#d5e8fe">
              <path d="m256 210h15v30h-15z" />
              <path
                d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z" />
            </g>
          </g>
        </svg>
        FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="armeniaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#armeniaAccordion1"
            aria-expanded="true" aria-controls="armeniaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What can I do with a visitor visa?
              </button>
            </h5>
          </div>

          <div id="armeniaAccordion1" class="collapse show" aria-labelledby="heading1" data-parent="#armeniaAccordion">
            <div class="card-body">
              <p>
                You will be able to engage in tourism, visit relatives/friends,
                engage in business, use transportation and undergo medical
                treatment. Please note, the preface to this is that all
                these activities can be completed in a short-term stay.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#armeniaAccordion2"
            aria-expanded="false" aria-controls="armeniaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there any way I can obtain a single entry visa on arrival?
              </button>
            </h5>
          </div>
          <div id="armeniaAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#armeniaAccordion">
            <div class="card-body">
              <p>
                Yes, you can. However, there are some conditions to be met. These are - You should hold a valid
                residence permit to one of the following countries:
              </p>
              <li>United Arab Emirates</li>
              <li>Kingdom of Bahrain</li>
              <li>State of Qatar</li>
              <li>State of Kuwait</li>
              <li>Sultanate of Oman</li>
              <li>United States of America</li>
              <li>The UK and Northern Ireland</li>
              <li>Canada</li>
              <li>Schengen State</li>
              <li>Russian Federation</li>
              <li>Australia</li>
              <li>New Zealand</li>
              <li>Republic of Korea</li>
              <li>Japan</li>

              <p>Or, you hold a multiple visa to one of the following countries:</p>
              <li>United States of America</li>
              <li>The UK and Northern Ireland</li>
              <li>Canada</li>
              <li>Schengen State</li>
              <li>Russian Federation</li>
              <li>Australia</li>
              <li>New Zealand</li>
              <li>Republic of Korea</li>
              <li>Japan</li>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#armeniaAccordion3"
            aria-expanded="false" aria-controls="armeniaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I get a fee refund if my visa is denied/I am not going anymore?
              </button>
            </h5>
          </div>
          <div id="armeniaAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#armeniaAccordion">
            <div class="card-body">
              <p>
                The Armenian e-visa facility does not offer fee refunds. In fact, on the website, there is a notice that
                states it is clearly non-refundable.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#armeniaAccordion4"
            aria-expanded="false" aria-controls="armeniaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Is there a multiple-entry visa facility?
              </button>
            </h5>
          </div>
          <div id="armeniaAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#armeniaAccordion">
            <div class="card-body">
              <p>
                Yes, there is. You can opt for a multiple-entry Armenian visa.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#armeniaAccordion5"
            aria-expanded="false" aria-controls="armeniaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I enter Armenia without a visa?
              </button>
            </h5>
          </div>
          <div id="armeniaAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#armeniaAccordion">
            <div class="card-body">
              <p>
                You will be able to enter Armenia without a via only if the aim is to apply for asylum or refugee
                status. Otherwise, you will have to obtain a visitor visa before entry.
              </p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#armeniaAccordion6"
              aria-expanded="false" aria-controls="armeniaAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Are these all the documents I require for my Armenian visa?
                </button>
              </h5>
            </div>
            <div id="armeniaAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#armeniaAccordion">
              <div class="card-body">
                <p>
                  These are the documents that are most often asked for. You
                  may be asked to provide extra documents to strengthen your
                  case, however, these are not generalizable to all applications.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#armeniaAccordion7"
              aria-expanded="false" aria-controls="armeniaAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Is there a single-entry visa facility?
                </button>
              </h5>
            </div>

            <div id="armeniaAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#armeniaAccordion">
              <div class="card-body">
                <p>
                  Yes, there is. You can opt for a single-entry Armenian visa.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#armeniaAccordion8"
              aria-expanded="false" aria-controls="armeniaAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Are visa refunds processed?
                </button>
              </h5>
            </div>

            <div id="armeniaAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#armeniaAccordion">
              <div class="card-body">
                <p>
                  No, they are not. The Armenian visa facility states on their website that the visa fees are
                  non-refundable.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="headingtransit9" data-toggle="collapse"
              data-target="#armeniaAccordion9" aria-expanded="false" aria-controls="armeniaAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I will need to go on flights that keep transiting through Armenia. Is there a visa for me?
                </button>
              </h5>
            </div>
            <div id="armeniaAccordion9" class="collapse" aria-labelledby="headingtransit9"
              data-parent="#armeniaAccordion">
              <div class="card-body">
                <p>
                  If you find that you may need to regularly purchase an Armenian transit visa, you can instead opt for
                  their multiple entry transit facility. The validity of this multiple-entry transit is one year.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="headingtransit10" data-toggle="collapse"
              data-target="#armeniaAccordion10" aria-expanded="false" aria-controls="armeniaAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I might need to extend my transit visa. Is that possible?
                </button>
              </h5>
            </div>
            <div id="armeniaAccordion10" class="collapse" aria-labelledby="headingtransit10"
              data-parent="#armeniaAccordion">
              <div class="card-body">
                <p>
                  Yes, you can extend your visa from 3 days to a maximum of 4 days. Please remember, this is only for
                  emergencies and extension will not be allowed unless absolutely necessary.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="headingtransit11" data-toggle="collapse"
              data-target="#armeniaAccordion11" aria-expanded="false" aria-controls="armeniaAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Who issues my visas, and who do I contact if I want to extend my visa?
                </button>
              </h5>
            </div>
            <div id="armeniaAccordion11" class="collapse" aria-labelledby="headingtransit11"
              data-parent="#armeniaAccordion">
              <div class="card-body">
                <p>
                  Visitor and transit visas are Armenian visas issued by the Passport and Visa Department of the Police
                  of Armenia. If you wish to extend your visa, this is the department to contact. If you are travelling
                  with us, we can help you with these details.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="headingtransit12" data-toggle="collapse"
              data-target="#armeniaAccordion12" aria-expanded="false" aria-controls="armeniaAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I leave the airport during transit?
                </button>
              </h5>
            </div>
            <div id="armeniaAccordion12" class="collapse" aria-labelledby="headingtransit12"
              data-parent="#armeniaAccordion">
              <div class="card-body">
                <p>
                  You will have to stay inside the airport at all times during your (maximum of) 72 hour stay.
                </p>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
  </div>
</div>
