<section id="faq">
    <div
      class="container-fluid wrapContainer"
      style="position: relative"

    >
      <div class="row">
        <div class="col-12 text-center">
          <h3>
            <span class="faqContainer" id="faqContainer">
              <svg
                id="Capa_1"
                enable-background="new 0 0 512 512"
                viewBox="0 0 512 512"
                width="30"
                height="30"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <g>
                    <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                    <path
                      d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                      fill="#ffbfab"
                    />
                    <path
                      d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                      fill="#47568c"
                    />
                    <path
                      d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                      fill="#29376d"
                    />
                    <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                    <path
                      d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                      fill="#ffbfab"
                    />
                    <path
                      d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                      fill="#47568c"
                    />
                    <path
                      d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                      fill="#29376d"
                    />
                  </g>
                  <path
                    d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                    fill="#66b3ff"
                  />
                  <path
                    d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                    fill="#4d88ff"
                  />
                  <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                    fill="#edf5ff"
                  />
                  <g fill="#d5e8fe">
                    <path d="m256 210h15v30h-15z" />
                    <path
                      d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                    />
                  </g>
                </g>
              </svg>
              FAQ's</span
            >
          </h3>
        </div>

        <div class="col-12 p-0">
          <div class="accordion" id="estoniaAccordion">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading1"
                data-toggle="collapse"
                data-target="#estoniaAccordion1"
                aria-expanded="true"
                aria-controls="estoniaAccordion1"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    What is a Type C Schengen visa?
                  </button>
                </h5>
              </div>

              <div
                id="estoniaAccordion1"
                class="collapse show"
                aria-labelledby="heading1"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    It is a visa that allows for a short stay in any Schengen country. This includes tourist visa and business visa - it is applicable for a stay of 90 days in any 180 day period.

                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading2"
                data-toggle="collapse"
                data-target="#estoniaAccordion2"
                aria-expanded="false"
                aria-controls="estoniaAccordion2"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Should I book my flight tickets before my visa application?

                  </button>
                </h5>
              </div>
              <div
                id="estoniaAccordion2"
                class="collapse"
                aria-labelledby="heading2"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    No, it is recommended to book your flight tickets after your visa is confirmed. To show proof of flight tickets, please show a flight reservation.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading3"
                data-toggle="collapse"
                data-target="#estoniaAccordion3"
                aria-expanded="false"
                aria-controls="estoniaAccordion3"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    I have an old passport that is still valid but has no free pages. Should I submit this?

                  </button>
                </h5>
              </div>
              <div
                id="estoniaAccordion3"
                class="collapse"
                aria-labelledby="heading3"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    You can choose to submit it. If it includes your previous trips to USA, UK or any other Schengen/EEU countries, it may be useful for making a decision.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading4"
                data-toggle="collapse"
                data-target="#estoniaAccordion4"
                aria-expanded="false"
                aria-controls="estoniaAccordion4"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Will I be asked for more documents?
                  </button>
                </h5>
              </div>
              <div
                id="estoniaAccordion4"
                class="collapse"
                aria-labelledby="heading4"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    You may be asked for more documents, depending on whether the Embassy feels its required.

                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading5"
                data-toggle="collapse"
                data-target="#estoniaAccordion5"
                aria-expanded="false"
                aria-controls="estoniaAccordion5"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    When should I submit my application?
                  </button>
                </h5>
              </div>
              <div
                id="estoniaAccordion5"
                class="collapse"
                aria-labelledby="heading5"
                data-parent="#estoniaAccordion"
              >
                <div class="card-body">
                  <p>
                    You should submit it minimum 1 month before your travel date. At the earliest, the application can be submitted 3 months before your planned visit.


                  </p>
                </div>
              </div>
            </div>

            <div id="faqCollapse" class="collapse">
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading6"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion6"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion6"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Is the visa fee refundable if I don’t get my visa?

                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion6"
                  class="collapse"
                  aria-labelledby="heading6"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      Even if your visa is denied, the visa fee is non-refundable.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading7"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion7"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion7"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                      My travel plans have changed. Can I reflect this in new documents if the submission date is over?
                    </button>
                  </h5>
                </div>

                <div
                  id="estoniaAccordion7"
                  class="collapse"
                  aria-labelledby="heading7"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      You cannot make a later change to the purpose of visit, or prolong the arrival of your visa. In both cases, you will need to submit a new application.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading8"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion8"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion8"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                      Is the Estonia visa valid for all Schengen states?
                    </button>
                  </h5>
                </div>

                <div
                  id="estoniaAccordion8"
                  class="collapse"
                  aria-labelledby="heading8"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      Unless stated differently on the stamp, short-stay visas such as business and tourist visas are valid for all Schengen states. This includes the following countries: Austria, Belgium, Czech Republic, Denmark, Spain, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Slovenia, Slovakia, Sweden, and Switzerland.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading9"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion9"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion9"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Do I need a work permit to apply for this business visa?
                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion9"
                  class="collapse"
                  aria-labelledby="heading9"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      In some cases, such as a business training on the job, or working in your own company in the Member state of the Schengen Area as a destination, you will need a work permit. In other cases, you will not.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading10"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion10"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion10"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      I have an old passport that is still valid but has no free pages. Should I submit this?

                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion10"
                  class="collapse"
                  aria-labelledby="heading10"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      You can choose to submit it. If it includes your previous trips to USA, UK or any other Schengen/EEA countries, it may be useful for making a decision.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading11"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion11"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion11"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Will I be asked for more documents?
                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion11"
                  class="collapse"
                  aria-labelledby="heading11"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      You may be asked for more documents, depending on whether the Embassy feels its required.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading12"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion12"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion12"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      When should I submit my application?
                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion12"
                  class="collapse"
                  aria-labelledby="heading12"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      You should submit it minimum 1 month before your travel date. At the earliest, the application can be submitted 3 months before your planned visit.

                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading13"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion13"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion13"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Is the visa fee refundable if I don’t get my visa?

                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion13"
                  class="collapse"
                  aria-labelledby="heading13"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      Even if your visa is denied, the visa fee is non-refundable.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading14"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion14"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion14"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      I was advised to go for a short-stay visa. Isn’t this the same as the tourist visa?

                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion14"
                  class="collapse"
                  aria-labelledby="heading14"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      All short-stay visas can be used for a stay of 90 or less days in Estonia. Tourist and business visas fall under the Short Stay category - however, rest assured that your visa will reflect your intent to travel for business purposes, as you will need to state this when you apply.

                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading15"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion15"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion15"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      My employment contract is in my local language. Can I submit it as-is?

                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion15"
                  class="collapse"
                  aria-labelledby="heading15"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      All appendices (e.g. invitation letter or letter of employment) should be presented in English or Estonian. Kindly translate the copy and attach a translated page of this along with a photocopy of the original.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading16"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion16"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion16"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      If I wish to leave the airport during transit, what kind of visa would I need?

                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion16"
                  class="collapse"
                  aria-labelledby="heading16"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      Once you are outside the ‘international zone’ of the airport, you will need a short-stay visa (i.e. tourist visa). This visa will help if you need to change airports within Estonia to continue your travel, or are waiting for the transfer flight at a hotel/accommodation outside the airport.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading17"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion17"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion17"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Do Indian citizens need a transit visa to transit through Estonia?

                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion17"
                  class="collapse"
                  aria-labelledby="heading17"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      No, Indian citizens do not. This policy was implemented in July 2018.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading18"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion18"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion18"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Can I transit through all Schengen states without a transit visa?
                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion18"
                  class="collapse"
                  aria-labelledby="heading18"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      No, you cannot. Some Schengen countries require Indians to have a transit visa, such as Germany and Czech Republic. Please check if you are transiting through more than one Schengen country before you book your tickets. If you are transiting through more than 1 Schengen country, the transit visa for Country A is not valid to transit through Country B (eg. transiting through Germany and Denmark in the same trip means that you need a separate Denmark transit visa and a separate Germany transit visa).
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading19"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion19"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion19"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Are there any exceptions to which I don’t need a transit visa?
                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion19"
                  class="collapse"
                  aria-labelledby="heading19"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      In Estonia, Indian citizens do not need a transit visa to transit. However, for other Schengen countries, if you wish to transit without a visa, there are some exceptions. If you hold a diplomatic passport, or are a family member of a citizen of the EU or have a residency permit in EU, you can transit without a visa. If you hold a valid Schengen visa for another Schengen state (eg. are in Estonia, but have a Germany Schengen visa), you may be allowed to leave the airport during transit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card faqQueryCard">
                <div
                  class="card-header faqQuery"
                  id="heading20"
                  data-toggle="collapse"
                  data-target="#estoniaAccordion20"
                  aria-expanded="false"
                  aria-controls="estoniaAccordion20"
                >
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                      Are the processing times for Schengen transit visas less than the normal tourist visa?

                    </button>
                  </h5>
                </div>
                <div
                  id="estoniaAccordion20"
                  class="collapse"
                  aria-labelledby="heading20"
                  data-parent="#estoniaAccordion"
                >
                  <div class="card-body">
                    <p>
                      The time taken to process both tourist and transit visas are the same: 15 days approx. It may take up to 30-45 days in special circumstances based on the individual applicant and the documents they submit.

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-center loadMore mt-3">
          <button
            class="loadMoreBtn btn"
            (click)="loadData($event)"
            type="button"
            data-toggle="collapse"
            data-target="#faqCollapse"
            aria-expanded="false"
            aria-controls="faqCollapse"
          >
            {{ loadText }}
          </button>
          <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
              {{loadText}}
            </button> -->
        </div>
      </div>
    </div>
  </section>
