<section class="left-sty">
  <div class="card-body">
    <div class="row">
      <div class="col-12 text-center">
        <h4>Travel insurance covers all kinds of situation</h4>
        <span class="subtxt">Get free quotes and start comparing</span>
      </div>
      <div class="col-12">
        <div class="insurance_related">
          <ul class="ins_icons family">
            <li class="familyIcon asme">
              <img
                src="https://static.visa2fly.com/assets/insurance/accident.png"
                alt=""
                class="img-fluid"
              />
              <span>Accidental &amp; sickness medical expenses</span>
            </li>
            <li class="familyIcon bdl">
              <img
                src="https://static.visa2fly.com/assets/insurance/suitcases.png"
                alt=""
                class="img-fluid"
              />
              <span>Baggage Delay / Loss</span>
            </li>
            <li class="familyIcon tdc">
              <img
                src="https://static.visa2fly.com/assets/insurance/flight.png"
                alt=""
                class="img-fluid"
              />
              <span>Trip Delay / Cancellation</span>
            </li>
            <li class="familyIcon pl">
              <img
                src="https://static.visa2fly.com/assets/insurance/passport.png"
                alt=""
                class="img-fluid"
              />
              <span style="margin-top: 10px">Passport Loss</span>
            </li>
            <li class="familyIcon eme">
              <img
                src="https://static.visa2fly.com/assets/insurance/ambulance.png"
                alt=""
                class="img-fluid"
              />
              <span>Emergency Medical Evacuation</span>
            </li>
            <li class="familyIcon mf">
              <img
                src="https://static.visa2fly.com/assets/insurance/flight-time.png"
                alt=""
                class="img-fluid"
              />
              <span style="margin-top: 10px">Missed flights</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
