section#insurance {
  padding-top: 50px;
  padding-bottom: 50px;
}



li,
ul {
  padding: 0;
  margin: 0;
}

.insurance_related {
  display: table;
  width: 436px;
  margin: 15px auto;
}

.insurance_related ul {
  padding: 0;
  margin: 0;
}

.ins_icons.family li {
  display: inline-block;
  float: left;
  text-align: center;
  background: #fff;
  color: #333;
  width: 115px;
  height: 107px;
  border-radius: 10px;
  margin: 15px 15px;
  border: 1px solid #fff;
  /* box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8); */
  position: relative;
}

.ins_icons.family li img {
  width: 45px;
  margin-top: 5px;
}

.ins_icons.family li span {
  display: block;
  width: 96%;
  margin: 5px auto 0;
  text-align: center;
  font-weight: 600;
  line-height: 14px;
  font-size: 11px;
  letter-spacing: 0;
}

.left-sty {
  background-color: unset !important;
}

.left-sty h4 {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.left-sty span.subtxt {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  color: #fff;
  display: block;
}


@media screen and (max-width: 600px) {
  section#insurance {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  .left-sty h4 {
    font-size: 18px;
  }

  .left-sty span.subtxt {
    font-size: 14px;
  }

  .left-sty {
    padding: 0;
  }

  .insurance_related {
    display: table;
    width: 100%;
    margin: 15px auto;
  }

  .ins_icons.family li {
    width: 44%;
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-sty .card-body {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 600px) {
  .ins_icons.family li {
    width: 44%;
    margin: 15px 8px;
  }
}
