@import "~ngx-toastr/toastr";

body {
  font-family: "Roboto", sans-serif !important;
}

.my-pagination .ngx-pagination .current {
  background: #000080 !important;
}

.my-pagination .ngx-pagination li,
.my-pagination .ngx-pagination a {
  border-radius: 50%;
}

.my-pagination .ngx-pagination .pagination-previous a,
.my-pagination .ngx-pagination .pagination-next a {
  border-radius: 20px;
}

.my-pagination .ngx-pagination li:focus,
.my-pagination .ngx-pagination a:focus {
  outline: none !important;
  box-shadow: none !important;
}

.my-pagination .ngx-pagination li:hover,
.my-pagination .ngx-pagination a:hover {
  text-decoration: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px 0px 4px;
  border: 0px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px !important;
    margin-right: 0px !important;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
  }
}

a:hover {
  text-decoration: none;
}

button:focus,
button:hover {
  outline: none !important;
  box-shadow: none !important;
}

.popover {
  z-index: 999;
}

.toast-top-right {
  top: 70px !important;
  right: 12px;
}

.faqQueryCard {
  margin-top: 10px;
}

.faqQueryCard .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.img-sprite {
  background: url("assets/image-sprite.png");
}

.logo {
  background-position: -950px -470px !important;
}

.callBack-support {
  height: 50px;
  width: 50px;
  margin: -10px 4px;
  zoom: 0.59;
  display: inline-block;
  background-position: -1100px -420px !important;
}

.callBack-forex {
  height: 50px;
  width: 50px;
  margin: -2px 14px -15px 0px;
  display: inline-block;
  zoom: 0.4;
  background-position: -1000px -420px !important;
}

.callBack-visa {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: -2px 14px -15px 0px;
  zoom: 0.4;
  background-position: -1050px -420px !important;
}

.callBack-sim {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: -2px 14px -15px 0px;
  zoom: 0.4;
  background-position: -950px -420px !important;
}

.callBack-insurance {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: -2px 14px -15px 0px;
  zoom: 0.4;
  background-position: -900px -420px !important;
}

.user-image {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: -2px 7px -20px 0px;
  zoom: 0.5;
  background-position: -1150px -420px !important;
}

.Allure-of-Nature {
  background-position: 0 0px !important;
}

.Amazing-Architecture {
  background-position: -60px 0px !important;
}

.Beaches-and-Witches {
  background-position: -120px 0px !important;
}

.Boracay {
  background-position: -180px 0px !important;
}

.Capri {
  background-position: -240px 0px !important;
}

.Da-Lat {
  background-position: -300px 0px !important;
}

.Dragon-Boat-and-Lantern-Festivals {
  background-position: -360px 0px !important;
}

.Cebu {
  background-position: -420px 0px !important;
}

.Experience-the-Māori-way-of-life {
  background-position: -480px 0px !important;
}

.Fernando-de-Noronha {
  background-position: -540px 0px !important;
}

.france {
  background-position: -600px 0px !important;
}

.france1 {
  background-position: -660px 0px !important;
}

.Geothermal-Pools {
  background-position: -720px 0px !important;
}

.Glow-Worm-Caves {
  background-position: -780px 0px !important;
}

.Gothenburg {
  background-position: -840px 0px !important;
}

.Ha-Giang {
  background-position: -900px 0px !important;
}

.Hallyu-The-K-Wave {
  background-position: -960px 0px !important;
}

.Hang-Son-Doong {
  background-position: -1020px 0px !important;
}

.HD-Stargazing {
  background-position: -1080px 0px !important;
}

.Ho-Chi-Minh-Hanoi-and-Danang {
  background-position: -1140px 0px !important;
}

.Ice-Climbing {
  background-position: -1200px 0px !important;
}

.The-Cat-Islands {
  background-position: -1260px 0px !important;
}

.Beautiful-Barcelona {
  background-position: -1320px 0px !important;
}

.Bollywood-Kollywood-And-Other-Kinds-Of-Woods {
  background-position: -1380px 0px !important;
}

.Amsterdam {
  background-position: -1440px 0px !important;
}

.Burj-Khalifa {
  background-position: -1560px 0px !important;
}

.Hong-Kong-Disneyland {
  background-position: -1620px 0px !important;
}

.Bigger-Is-Better {
  background-position: -1680px 0px !important;
}

.Wisteria-Tunnel {
  background-position: -1740px 0px !important;
}

/* next row */

.Its-a-Festival-Year-Round {
  background-position: 0px -60px !important;
}

.Jeju {
  background-position: -60px -60px !important;
}

.Jewel-Changi-Airport {
  background-position: -120px -60px !important;
}

.Kiztopia {
  background-position: -180px -60px !important;
}

.Knights-And-Castles {
  background-position: -240px -60px !important;
}

.Lapland-and-Kalmar {
  background-position: -300px -60px !important;
}

.Lima {
  background-position: -360px -60px !important;
}

.Machu-Picchu {
  background-position: -420px -60px !important;
}

.Midsommar-and-Saint-Lucia {
  background-position: -480px -60px !important;
}

.Miniature-Wonderland-Hamburg {
  background-position: -540px -60px !important;
}

.More-Than-Just-One-Island {
  background-position: -600px -60px !important;
}

.mountain {
  background-position: -660px -60px !important;
}

.National-Parks-Galore,
.Gorongosa-National-Park {
  background-position: -720px -60px !important;
}

.Night-Markets-Food-Food-and-More-Food {
  background-position: -780px -60px !important;
}

.One-of-The-Biggest-Economies-in-the-World {
  background-position: -840px -60px !important;
}

.One-of-The-Worlds-Friendliest-Countries {
  background-position: -900px -60px !important;
}

.Opera-Houses-or-EDM {
  background-position: -960px -60px !important;
}

.Palawan {
  background-position: -1020px -60px !important;
}

.Rainbow-Village {
  background-position: -1080px -60px !important;
}

.Rio-De-Janeiro {
  background-position: -1140px -60px !important;
}

.roman {
  background-position: -1200px -60px !important;
}

.Rich-Intense-Culture {
  background-position: -1260px -60px !important;
}

.Luxe-Living,
.Port-Louis {
  background-position: -1320px -60px !important;
}

.Tokyo-The-City-of-Opportunity {
  background-position: -1380px -60px !important;
}

.Food-Love {
  background-position: -1440px -60px !important;
}

.Grand-Bassin {
  background-position: -1500px -60px !important;
}

.Cape-Town {
  background-position: -1560px -60px !important;
}

.Snow-Sea-Land-and-Mountains,
.The-Peak {
  background-position: -1680px -60px !important;
}

.Michelin-Gastronomy {
  background-position: -1740px -60px !important;
}

.Van-Gogh-Museum {
  background-position: -1800px -60px !important;
}

/* next row */

.Salvador,
.The-Hague {
  background-position: 0px -120px !important;
}

.Skincare-Wonderland {
  background-position: -60px -120px !important;
}

.Swimming-in-Sand-Dunes {
  background-position: -120px -120px !important;
}

.taj-mahal {
  background-position: -180px -120px !important;
}

.The-Amazon-Rainforest {
  background-position: -240px -120px !important;
}

.The-Arctic-Experience {
  background-position: -300px -120px !important;
}

.The-Ice-Hotel {
  background-position: -360px -120px !important;
}

.The-Landscape {
  background-position: -420px -120px !important;
}

.The-Rainbow-Mountain {
  background-position: -480px -120px !important;
}

.Travel-to-the-Stone-Age-and-Back {
  background-position: -540px -120px !important;
}

.Tuscany {
  background-position: -600px -120px !important;
}

.Vatican-City {
  background-position: -660px -120px !important;
}

.Wai-o-Tapu-Rotorua {
  background-position: -720px -120px !important;
}

.Water-Sports-Galore {
  background-position: -780px -120px !important;
}

.Whale-Watching {
  background-position: -840px -120px !important;
}

.Wildlife-Wonderland {
  background-position: -900px -120px !important;
}

.Adventure-Sport-Galore {
  background-position: -960px -120px !important;
}

.Breathtaking-Beaches,
.Astounding-Archipelago {
  background-position: -1020px -120px !important;
}

.Shopping-Bliss,
.Market-Mania {
  background-position: -1800px -120px !important;
}

.Wadi-Wurrayah {
  background-position: -1140px -120px !important;
}

.Travel-Back-In-Time {
  background-position: -1200px -120px !important;
}

.A-Heart-of-Adventure {
  background-position: -1260px -120px !important;
}

.Football-Frenzy {
  background-position: -1320px -120px !important;
}

.Beach-Bonanza,
.Halkidiki {
  background-position: -1380px -120px !important;
}

.The-Tomatina-Festival {
  background-position: -1440px -120px !important;
}

.Nautical-Paradise {
  background-position: -1500px -120px !important;
}

.National-Parks-and-Gardens {
  background-position: -1560px -120px !important;
}

.Boulder-Beach-and-Penguins {
  background-position: -1620px -120px !important;
}

.Boracay,
.Wine-Wonderland {
  background-position: -1680px -120px !important;
}

.Going-Green {
  background-position: -1740px -120px !important;
}

/* next row */

.The-Great-Barrier-Reef {
  background-position: 0px -180px !important;
}

.The-Australian-Alps {
  background-position: -60px -180px !important;
}

.Aboriginal-Australia {
  background-position: -120px -180px !important;
}

.Kangaroo-Island {
  background-position: -180px -180px !important;
}

.The-Weirdest-Themed-cafés {
  background-position: -240px -180px !important;
}

.Watching-Whale-Sharks {
  background-position: -300px -180px !important;
}

.Lantau-Island {
  background-position: -360px -180px !important;
}

.You-Want-It-You-Got-It {
  background-position: -420px -180px !important;
}

.Firefly-Fantasy {
  background-position: -480px -180px !important;
}

.Maputo,
.Melaka {
  background-position: -540px -180px !important;
}

.The-Big-Hole {
  background-position: -600px -180px !important;
}

.Motorbikes-Hikes-and-Safaris {
  background-position: -660px -180px !important;
}

.Nightlife-at-Bukit-Bintang {
  background-position: -720px -180px !important;
}

.Chios {
  background-position: -780px -180px !important;
}

/* world end */

.headerIcon-visa {
  background-position: -850px -420px !important;
}

.headerIcon-sim {
  background-position: -750px -420px !important;
}

.headerIcon-insurance {
  background-position: -800px -420px !important;
}

.footerIcon-aboutUs {
  height: 50px;
  width: 50px;
  zoom: 0.35;
  background-position: -1200px -420px !important;
}

.footerIcon-privacy {
  height: 50px;
  width: 50px;
  zoom: 0.35;
  background-position: -1250px -420px !important;
}

.footerIcon-tnc {
  height: 50px;
  width: 50px;
  zoom: 0.35;
  background-position: -1300px -420px !important;
}

.footerIcon-cancellation {
  height: 50px;
  width: 50px;
  zoom: 0.35;
  background-position: -1350px -420px !important;
}

.error-Icon {
  height: 50px;
  width: 50px;
  zoom: 0.4;
  display: block;
  background-position: -1400px -420px !important;
}

.success-Icon {
  height: 50px;
  width: 50px;
  zoom: 0.4;
  display: block;
  background-position: -1450px -420px !important;
}

.error-formIcon {
  height: 50px;
  width: 50px;
  zoom: 0.4;
  display: inline-block;
  background-position: -1400px -420px !important;
}

.success-formIcon {
  height: 50px;
  width: 50px;
  zoom: 0.4;
  display: inline-block;
  background-position: -1450px -420px !important;
}

.messageLead {
  font-size: 12px;
  padding: 0px 29px;
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
}

.makeIconCntr {
  display: flex;
  justify-content: center;
}

.makeIconCntr svg {
  height: 55px;
  width: 55px;
}

.requiredIcons {
  height: 45px;
  width: 45px;
  margin-bottom: 10px;
}

.vr-accommodation,
.vr-Accomodation,
.vr-Accommodation {
  background-position: 0px -530px !important;
}

.vr-additional-docs,
.vr-AdditionalDocuments {
  background-position: -45px -530px !important;
}

.vr-appointment,
.vr-appointment {
  background-position: -90px -530px !important;
}

.vr-applicationForm,
.vr-Applicationform {
  background-position: -135px -530px !important;
}

.vr-authorization {
  background-position: -180px -530px !important;
}

.vr-bankStatement,
.vr-BankStatement {
  background-position: -225px -530px !important;
}

.vr-biometric,
.vr-Biometric {
  background-position: -270px -530px !important;
}

.vr-birth {
  background-position: -315px -530px !important;
}

.vr-businessCard,
.vr-BusinessCard {
  background-position: -360px -530px !important;
}

.vr-businessForm,
.vr-BusinessForm {
  background-position: -405px -530px !important;
}

.vr-businessInvitation,
.BusinessInvitaionLetter,
.vr-BusinessInvitationLetter {
  background-position: -450px -530px !important;
}

.vr-businessRegistration,
.vr-Business-RegistrationLicense {
  background-position: -495px -530px !important;
}

.vr-completeDisembarkation,
.vr-Completed-Disembarkation-Card {
  background-position: -540px -530px !important;
}

.vr-conferenceVisa,
.vr-Conference-Visa {
  background-position: -585px -530px !important;
}

.vr-coverLetter,
.vr-CoverLetter {
  background-position: -630px -530px !important;
}

.vr-coveringLetter,
.vr-CoveringLetter,
.vr-Coveringletter {
  background-position: -675px -530px !important;
}

.vr-creditDebit,
.vr-CreditandDebitCard {
  background-position: -720px -530px !important;
}

.vr-email {
  background-position: -765px -530px !important;
}

.vr-employmentDoc,
.vr-EmploymentDocument {
  background-position: -810px -530px !important;
}

.vr-employStatus,
.vr-EmploymentStatus {
  background-position: -855px -530px !important;
}

.vr-employStuProof,
.vr-EmploymentStudentProof {
  background-position: -900px -530px !important;
}

.vr-ethiopianGovt,
.vr-EthiopianGovernmentEmploymentvisa {
  background-position: -945px -530px !important;
}

.vr-ethiopiaPrtBiz,
.vr-EthiopianPrivateBusinessFirmWorkVisa {
  background-position: -990px -530px !important;
}

.vr-euro,
.vr-ForeignBusinessFirmEmploymentVisa {
  background-position: -1035px -530px !important;
}

.vr-event {
  background-position: -1080px -530px !important;
}

.vr-financialDocs,
.vr-FinancialDocuments {
  background-position: -1125px -530px !important;
}

.vr-flightBooking,
.vr-FlightBooking {
  background-position: -1170px -530px !important;
}

.vr-flightTicket,
.vr-Flightticket,
.vr-FlightTicket {
  background-position: -1215px -530px !important;
}

.vr-flightTickets,
.vr-FlightTickets,
.vr-Flightticket {
  background-position: -1260px -530px !important;
}

.vr-form,
.vr-Form {
  background-position: -1305px -530px !important;
}

.vr-govtConfirm,
.vr-GovernmentConfirmation {
  background-position: -1350px -530px !important;
}

.vr-govtID,
.vr-GovernmentIDcard {
  background-position: -1395px -530px !important;
}

.vr-govtInstitutions,
.vr-GovernmentInstitutionsShortTaskVisa {
  background-position: -1440px -530px !important;
}

.vr-gstCopy,
.vr-GSTcopy {
  background-position: -1485px -530px !important;
}

.vr-hotelBookingProof,
.vr-Hotel-BookingAccommodationProof {
  background-position: -1530px -530px !important;
}

.vr-hotelReservation,
.vr-HotelReservation {
  background-position: -1575px -530px !important;
}

.vr-houseRentalContract,
.vr-HouseRentalContract {
  background-position: -1620px -530px !important;
}

.vr-incomeTaxReturn,
.vr-IncomeTaxReturns {
  background-position: -1665px -530px !important;
}

.vr-insurance,
.vr-Insurance {
  background-position: -1710px -530px !important;
}

.vr-internationalOrgVisa,
.vr-InternationalOrganizations-EmbassiesWorkVisa {
  background-position: -1755px -530px !important;
}

.vr-interview {
  background-position: -1800px -530px !important;
}

.vr-investmentVisa,
.vr-InvestmentVisa {
  background-position: -1845px -530px !important;
}
.vr-invitationLetterChina,
.vr-InvitationLetterfromChina {
  background-position: 0px -575px !important;
}

.vr-invitationLetter,
.vr-InvitationLetter {
  background-position: -45px -575px !important;
}

.vr-invitation,
.vr-Invitation {
  background-position: -90px -575px !important;
}

.vr-itinerary,
.vr-Itinerary {
  background-position: -135px -575px !important;
}

.vr-journalistVisa,
.vr-JournalistVisa {
  background-position: -180px -575px !important;
}

.vr-leaveLetter,
.vr-Leaveletter {
  background-position: -225px -575px !important;
}

.vr-letterFromEventOrganizer,
.vr-LetterFromEventOrganizer {
  background-position: -270px -575px !important;
}

.vr-letterFromSponser,
.vr-LetterfromSponsor {
  background-position: -315px -575px !important;
}

.vr-letterOfExperience,
.vr-LetterofExperience {
  background-position: -360px -575px !important;
}

.vr-marriageCertificate,
.vr-marriagecertificate {
  background-position: -405px -575px !important;
}

.vr-medicalInsurance,
.vr-MedicalInsurance {
  background-position: -450px -575px !important;
}

.vr-minor,
.vr-Minor {
  background-position: -495px -575px !important;
}

.vr-ngoWorkVisa,
.vr-NGOWorkVisa {
  background-position: -540px -575px !important;
}

.vr-noc,
.vr-NOC {
  background-position: -585px -575px !important;
}

.vr-nonMandatoryDocs,
.vr-Non-MandatoryDocuments {
  background-position: -630px -575px !important;
}

.vr-occupation,
.vr-Occupation {
  background-position: -675px -575px !important;
}

.vr-otherDocs,
.vr-OtherDocuments {
  background-position: -720px -575px !important;
}

.vr-otherSupportDocs,
.vr-OtherSupportingDocuments {
  background-position: -765px -575px !important;
}

.vr-panCard,
.vr-PanCard {
  background-position: -810px -575px !important;
}

.vr-passport,
.vr-Passport {
  background-position: -855px -575px !important;
}

.vr-personalCovering,
.vr-PersonalCoveringLetter {
  background-position: -900px -575px !important;
}

.vr-photograph,
.vr-Photograph {
  background-position: -945px -575px !important;
}

.vr-proofOfFunds,
.vr-ProofofFunds,
.vr-ProofOfFunds {
  background-position: -990px -575px !important;
}

.vr-proofOfResidence,
.vr-ProofOfResidence,
.vr-ProofofResidence {
  background-position: -1035px -575px !important;
}

.vr-proofOfStay,
.vr-ProofofStay,
.vr-ProofOfStay {
  background-position: -1080px -575px !important;
}

.vr-proofOfSufficientFunds,
.vr-Proofofsufficientfundsforundertakingtravel {
  background-position: -1125px -575px !important;
}

.vr-registration,
.vr-Registration {
  background-position: -1170px -575px !important;
}

.vr-residencePermit,
.vr-ResidencePermit {
  background-position: -1215px -575px !important;
}

.vr-statement {
  background-position: -1260px -575px !important;
}

.vr-supportLetter,
.vr-SupportLetter {
  background-position: -1305px -575px !important;
}

.vr-tax {
  background-position: -1350px -575px !important;
}

.vr-ticket,
.vr-Ticket {
  background-position: -1395px -575px !important;
}

.vr-travelInsurance,
.vr-TravelInsurance {
  background-position: -1440px -575px !important;
}

.vr-validLongTermPass,
.vr-ValidLong-TermPass {
  background-position: -1485px -575px !important;
}

.vr-visaOfVisitingCountry,
.vr-VisaofVisitingCountry {
  background-position: -1530px -575px !important;
}

.vr-visa,
.vr-Visa {
  background-position: -1575px -575px !important;
}

.vr-yellowFever,
.vr-Yellow-Fever {
  background-position: -1620px -575px !important;
}

.vrStep-payOnline {
  background-position: -50px -620px !important;
}

.vrStep-uploadDoc {
  background-position: 0px -620px !important;
}

.vrStep-passport {
  background-position: -1575px -575px !important;
}

.vrStep-clock {
  background-position: 0px -480px !important;
}

.vrStep-passport {
  background-position: -50px -480px !important;
}

.vrStep-txtDoc {
  background-position: -100px -480px !important;
}

.vrStep-checkedDoc {
  background-position: -150px -480px !important;
}

.vrStep-size {
  height: 50px;
  width: 50px;
  zoom: 0.6;
  margin-top: 4px;
}

@media (min-width: 1281px) {
  .whyChooseUs-map {
    height: 60px;
    width: 60px;
    zoom: 0.7;
    background-position: -60px -420px !important;
  }

  .whyChooseUs-delivery {
    height: 60px;
    width: 60px;
    zoom: 0.7;
    background-position: -120px -420px !important;
  }

  .whyChooseUs-passport {
    height: 60px;
    width: 60px;
    zoom: 0.7;
    background-position: -180px -420px !important;
  }

  .whyChooseUs-safety {
    height: 60px;
    width: 60px;
    zoom: 0.7;
    background-position: -240px -420px !important;
  }

  .homeStep-clock {
    height: 50px;
    width: 50px;
    zoom: 0.8;
    background-position: 0px -480px !important;
  }

  .homeStep-passport {
    height: 50px;
    width: 50px;
    zoom: 0.8;
    background-position: -50px -480px !important;
  }

  .homeStep-txtDoc {
    height: 50px;
    width: 50px;
    zoom: 0.8;
    background-position: -100px -480px !important;
  }

  .homeStep-checkedDoc {
    height: 50px;
    width: 50px;
    zoom: 0.8;
    background-position: -150px -480px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .whyChooseUs-passport {
    background-position: -60px -420px !important;
  }

  .whyChooseUs-map {
    background-position: -120px -420px !important;
  }

  .whyChooseUs-safety {
    background-position: -180px -420px !important;
  }

  .whyChooseUs-delivery {
    background-position: -240px -420px !important;
  }

  .homeStep-clock {
    background-position: 0px -480px !important;
  }

  .homeStep-passport {
    background-position: -50px -480px !important;
  }

  .homeStep-txtDoc {
    background-position: -100px -480px !important;
  }

  .homeStep-checkedDoc {
    background-position: -150px -480px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .whyChooseUs-passport {
    background-position: -300px -420px !important;
  }

  .whyChooseUs-map {
    background-position: -345px -420px !important;
  }

  .whyChooseUs-safety {
    background-position: -390px -420px !important;
  }

  .whyChooseUs-delivery {
    background-position: -435px -420px !important;
  }

  .homeStep-clock {
    background-position: -360px -480px !important;
  }

  .homeStep-passport {
    background-position: -405px -480px !important;
  }

  .homeStep-txtDoc {
    background-position: -450px -480px !important;
  }

  .homeStep-checkedDoc {
    background-position: -315px -480px !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .whyChooseUs-safety {
    background-position: -480px -420px !important;
  }

  .whyChooseUs-map {
    background-position: -600px -420px !important;
  }

  .whyChooseUs-passport {
    background-position: -560px -420px !important;
  }

  .whyChooseUs-delivery {
    background-position: -520px -420px !important;
  }

  .homeStep-clock {
    background-position: -540px -480px !important;
  }

  .homeStep-passport {
    background-position: -575px -480px !important;
  }

  .homeStep-txtDoc {
    background-position: -610px -480px !important;
  }

  .homeStep-checkedDoc {
    background-position: -645px -480px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .whyChooseUs-passport {
    height: 60px;
    width: 60px;
    zoom: 0.5;
    background-position: -60px -420px !important;
  }

  .whyChooseUs-map {
    height: 60px;
    width: 60px;
    zoom: 0.5;
    background-position: -120px -420px !important;
  }

  .whyChooseUs-safety {
    height: 60px;
    width: 60px;
    zoom: 0.5;
    background-position: -180px -420px !important;
  }

  .whyChooseUs-delivery {
    height: 60px;
    width: 60px;
    zoom: 0.5;
    background-position: -240px -420px !important;
  }

  .homeStep-clock {
    height: 50px;
    width: 50px;
    zoom: 0.5;
    background-position: 0px -480px !important;
  }

  .homeStep-passport {
    height: 50px;
    width: 50px;
    zoom: 0.5;
    background-position: -50px -480px !important;
  }

  .homeStep-txtDoc {
    height: 50px;
    width: 50px;
    zoom: 0.5;
    background-position: -100px -480px !important;
  }

  .homeStep-checkedDoc {
    height: 50px;
    width: 50px;
    zoom: 0.5;
    background-position: -150px -480px !important;
  }
}

@media screen and (max-width: 767px) {
  .requiredIcons {
    height: 45px;
    width: 45px;
    zoom: 0.8;
    margin-bottom: 10px;
  }

  .error-Icon {
    height: 50px;
    width: 50px;
    zoom: 0.35;
    display: block;
    background-position: -1400px -420px !important;
  }

  .success-Icon {
    height: 50px;
    width: 50px;
    zoom: 0.35;
    display: block;
    background-position: -1450px -420px !important;
  }

  .error-formIcon {
    height: 50px;
    width: 50px;
    zoom: 0.35;
    display: inline-block;
    background-position: -1400px -420px !important;
  }

  .success-formIcon {
    height: 50px;
    width: 50px;
    zoom: 0.35;
    display: inline-block;
    background-position: -1450px -420px !important;
  }

  .messageLead {
    font-size: 12px;
    padding: 0px 29px;
    display: block;
    margin-top: -18px;
    margin-bottom: 10px;
  }
}

.preloader {
  background-position: 39px -702px;
}

.landscape_wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #006aaf;
  z-index: 1400;
  pointer-events: none;
  display: none;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landscape {
  background-image: url(https://static.visa2fly.com/landscape.png);
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  padding-bottom: 25.5%;
}

.heading-primary {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #f1f1f1;
  text-align: center;
}

.heading-secondary {
  color: #f1f1f1;
  text-align: center;
}

@media (max-width: 896px) and (min-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .landscape_wrapper {
    display: flex;
    pointer-events: auto;
  }
}

a {
  text-decoration: none !important;
}

.linkAddress .linkAddressHeading {
  color: #343332;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0 #fff;
}

.linkAddress a {
  color: #0d6cbf;
  font-size: 13px;
  font-weight: 400;
}

.loadMore .loadMoreBtn {
  padding: 5px 20px !important;
  background-color: #000080 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .makeIconCntr svg {
    height: 40px;
    width: 40px;
  }
}

.carousel-caption:focus,
.carousel-inner:focus,
ngb-carousel:focus{
  outline: none !important;
  box-shadow: none !important;
}

.slide-content .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-bottom: 0;
}

.slide-content .carousel-indicators li {
  box-sizing: content-box !important;
  flex: 0 1 auto !important;
  width: 5px !important;
  height: 5px !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
  text-indent: -999px !important;
  opacity: 1 !important;
  cursor: pointer !important;
  background-color: #130654 !important;
  background-clip: padding-box !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  transition: background-color 0.6s ease !important;
  -webkit-transition: background-color 0.6s ease !important;
  -moz-transition: background-color 0.6s ease !important;
  -ms-transition: background-color 0.6s ease !important;
  -o-transition: background-color 0.6s ease !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

.slide-content .carousel-indicators li.active {
  background-color: #f4b938 !important;
}
.slide-content .carousel-control-prev,
.slide-content .carousel-control-next {
  display: none;
}

ngb-carousel {
  min-width: 350px !important;
}

@media (min-width: 340px) and (max-width: 375px) {
  ngb-carousel {
    min-width: 320px !important;
  }
}

@media (max-width: 339px) {
  ngb-carousel {
    min-width: 280px !important;
  }
}

#blogPostCarousel .carousel-control-next, 
#blogPostCarousel .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  color: #000;
  text-align: center;
  opacity: 0;
  height: 150px;
  top: 18%;
  transition: all .15s ease;
  background-color: #fff;
  box-shadow: 0 1px 3px #888;
}

#blogPostCarousel:hover .carousel-control-next,
#blogPostCarousel:hover .carousel-control-prev {
  opacity: 0.5;
}

#blogPostCarousel .carousel-control-next {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#blogPostCarousel .carousel-control-prev {
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

/* #blogPostCarousel .carousel-control-next:focus, */
#blogPostCarousel .carousel-control-next:hover,
/* #blogPostCarousel .carousel-control-prev:focus, */
#blogPostCarousel .carousel-control-prev:hover {
  text-decoration: none;
  outline: 0;
  opacity: 1;
}

#MobileblogPostCarousel .carousel-control-next, 
#MobileblogPostCarousel .carousel-control-prev {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  color: #000;
  text-align: center;
  opacity: 0.5;
  height: 100px;
  top: 20%;
  transition: all .15s ease;
  background-color: #fff;
  box-shadow: 0 1px 3px #888;
}

#MobileblogPostCarousel .carousel-control-next {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 5px;
}

#MobileblogPostCarousel .carousel-control-prev {
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
left: 5px;
}

#MobileblogPostCarousel .carousel-control-next:focus,
#MobileblogPostCarousel .carousel-control-next:hover,
#MobileblogPostCarousel .carousel-control-prev:focus,
#MobileblogPostCarousel .carousel-control-prev:hover {
  text-decoration: none;
  outline: 0;
  opacity: 0.5;
}


