/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr";

body {
  font-family: "Open-sans", sans-serif !important;
}


.my-pagination .ngx-pagination .current {
  background: #000080 !important;
}

.my-pagination .ngx-pagination li,
.my-pagination .ngx-pagination a {
  border-radius: 50%;
}

.my-pagination .ngx-pagination .pagination-previous a,
.my-pagination .ngx-pagination .pagination-next a {
  border-radius: 20px;
}

.my-pagination .ngx-pagination li:focus,
.my-pagination .ngx-pagination a:focus {
  outline: none !important;
  box-shadow: none !important;
}


.my-pagination .ngx-pagination li:hover,
.my-pagination .ngx-pagination a:hover {
  text-decoration: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px 0px 4px;
  border: 0px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px !important;
    margin-right: 0px !important;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
  }
}

a:hover {
text-decoration: none;
}

button:focus,
button:hover {
  outline: none !important;
  box-shadow: none !important;
}

.popover {
  z-index: 999;
}

/* .toast-top-right {
  top: 70px !important;
  right: 12px;
} */

.faqQueryCard {
  margin-top: 10px;
}

.faqQueryCard .card-body {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.Allure-of-Nature {
  background-position: 0 0px !important;
}

.Amazing-Architecture {
  background-position: -60px 0px !important;
}

.Beaches-and-Witches {
  background-position: -120px 0px !important;
}

.Boracay {
  background-position: -180px 0px !important;
}

.Capri {
  background-position: -240px 0px !important;
}

.Da-Lat {
  background-position: -300px 0px !important;
}

.Dragon-Boat-and-Lantern-Festivals {
  background-position: -360px 0px !important;
}

.Cebu {
  background-position: -420px 0px !important;
}

.Experience-the-Māori-way-of-life {
  background-position: -480px 0px !important;
}

.Fernando-de-Noronha {
  background-position: -540px 0px !important;
}

.france {
  background-position: -600px 0px !important;
}

.france1 {
  background-position: -660px 0px !important;
}

.Geothermal-Pools {
  background-position: -720px 0px !important;
}

.Glow-Worm-Caves {
  background-position: -780px 0px !important;
}

.Gothenburg {
  background-position: -840px 0px !important;
}

.Ha-Giang {
  background-position: -900px 0px !important;
}

.Hallyu-The-K-Wave {
  background-position: -960px 0px !important;
}

.Hang-Son-Doong {
  background-position: -1020px 0px !important;
}

.HD-Stargazing {
  background-position: -1080px 0px !important;
}

.Ho-Chi-Minh-Hanoi-and-Danang {
  background-position: -1140px 0px !important;
}

.Ice-Climbing {
  background-position: -1200px 0px !important;
}

.Its-a-Festival-Year-Round {
  background-position: 0px -60px !important;
}

.Jeju {
  background-position: -60px -60px !important;
}

.Jewel-Changi-Airport {
  background-position: -120px -60px !important;
}

.Kiztopia {
  background-position: -180px -60px !important;
}

.Knights-And-Castles {
  background-position: -240px -60px !important;
}

.Lapland-and-Kalmar {
  background-position: -300px -60px !important;
}

.Lima {
  background-position: -360px -60px !important;
}

.Machu-Picchu {
  background-position: -420px -60px !important;
}

.Midsommar-and-Saint-Lucia {
  background-position: -480px -60px !important;
}

.Miniature-Wonderland-Hamburg {
  background-position: -540px -60px !important;
}

.More-Than-Just-One-Island {
  background-position: -600px -60px !important;
}

.mountain {
  background-position: -660px -60px !important;
}

.National-Parks-Galore {
  background-position: -720px -60px !important;
}

.Night-Markets-Food-Food-and-More-Food {
  background-position: -780px -60px !important;
}

.One-of-The-Biggest-Economies-in-the-World {
  background-position: -840px -60px !important;
}

.One-of-The-Worlds-Friendliest-Countries {
  background-position: -900px -60px !important;
}

.Opera-Houses-or-EDM {
  background-position: -960px -60px !important;
}

.Palawan {
  background-position: -1020px -60px !important;
}

.Rainbow-Village {
  background-position: -1080px -60px !important;
}

.Rio-De-Janeiro {
  background-position: -1140px -60px !important;
}

.roman {
  background-position: -1200px -60px !important;
}

.Salvador {
  background-position: 0px -120px !important;
}

.Skincare-Wonderland {
  background-position: -60px -120px !important;
}

.Swimming-in-Sand-Dunes {
  background-position: -120px -120px !important;
}

.taj-mahal {
  background-position: -180px -120px !important;
}

.The-Amazon-Rainforest {
  background-position: -240px -120px !important;
}

.The-Arctic-Experience {
  background-position: -300px -120px !important;
}

.The-Ice-Hotel {
  background-position: -360px -120px !important;
}

.The-Landscape {
  background-position: -420px -120px !important;
}

.The-Rainbow-Mountain {
  background-position: -480px -120px !important;
}

.Travel-to-the-Stone-Age-and-Back {
  background-position: -540px -120px !important;
}

.Tuscany {
  background-position: -600px -120px !important;
}

.Vatican-City {
  background-position: -660px -120px !important;
}

.Wai-o-Tapu-Rotorua {
  background-position: -720px -120px !important;
}

.Water-Sports-Galore {
  background-position: -780px -120px !important;
}

.Whale-Watching {
  background-position: -840px -120px !important;
}

.Wildlife-Wonderland {
  background-position: -900px -120px !important;
}

.Adventure-Sport-Galore {
  background-position: -960px -120px !important;
}

@media screen and (max-width: 768px) { 

  .Adventure-Sport-Galore {
    background-position: 0px -300px !important;
  }

  .Allure-of-Nature {
    background-position: -40px -300px !important;
  }
  
  .Beaches-and-Witches {
    background-position: -80px -300px !important;
  }
  
  .Boracay {
    background-position: -120px -300px !important;
  }
  
  .Capri {
    background-position: -160px -300px !important;
  }

  .Amazing-Architecture {
    background-position: -200px -300px !important;
  }
  
  .Cebu {
    background-position: -240px -300px !important;
  }
  
  .france {
    background-position: -280px -300px !important;
  }
  
  .Dragon-Boat-and-Lantern-Festivals {
    background-position: -320px -300px !important;
  }
  
  .Da-Lat {
    background-position: -360px -300px !important;
  }
  
  .Fernando-de-Noronha {
    background-position: -400px -300px !important;
  }
  
  .Experience-the-Māori-way-of-life {
    background-position: -440px -300px !important;
  }
  
  .Geothermal-Pools {
    background-position: -480px -300px !important;
  }
  
  .france1 {
    background-position: -520px -300px !important;
  }
  
  .Glow-Worm-Caves {
    background-position: -560px -300px !important;
  }
  
  .Gothenburg {
    background-position: -600px -300px !important;
  }
  
  .Ha-Giang {
    background-position: -640px -300px !important;
  }
  
  .Hallyu-The-K-Wave {
    background-position: -680px -300px !important;
  }
  
  .Hang-Son-Doong {
    background-position: -720px -300px !important;
  }
  
  .HD-Stargazing {
    background-position: -760px -300px !important;
  }
  
  .Ho-Chi-Minh-Hanoi-and-Danang {
    background-position: -800px -300px !important;
  }
  
  .Ice-Climbing {
    background-position: -840px -300px !important;
  }
  
  .Its-a-Festival-Year-Round {
    background-position: -880px -300px !important;
  }
  
  .Jeju {
    background-position: -920px -300px !important;
  }
  
  .Jewel-Changi-Airport {
    background-position: -960px -300px !important;
  }
  
  .Kiztopia {
    background-position: -1000px -300px !important;
  }
  
  .Knights-And-Castles {
    background-position: -1040px -300px !important;
  }
  
  .Machu-Picchu {
    background-position: -1080px -300px !important;
  }
  
  .Lima {
    background-position: -1120px -300px !important;
  }
  
  .Lapland-and-Kalmar {
    background-position: -1160px -300px !important;
  }
  
  .Midsommar-and-Saint-Lucia {
    background-position: -1200px -300px !important;
  }

  .Miniature-Wonderland-Hamburg {
    background-position: -1240px -300px !important;
  }

  .The-Arctic-Experience {
    background-position: 0px -340px !important;
  }
  
  .The-Amazon-Rainforest {
    background-position: -40px -340px !important;
  }

  .taj-mahal {
    background-position: -80px -340px !important;
  }

  .Swimming-in-Sand-Dunes {
    background-position: -120px -340px !important;
  }

  .Skincare-Wonderland {
    background-position: -160px -340px !important;
  }
  
  .Salvador {
    background-position: -200px -340px !important;
  }
  
  .roman {
    background-position: -240px -340px !important;
  }

  .Rio-De-Janeiro {
    background-position: -280px -340px !important;
  }
  
  .Rainbow-Village {
    background-position: -320px -340px !important;
  }

  .Palawan {
    background-position: -360px -340px !important;
  }

  .Opera-Houses-or-EDM {
    background-position: -400px -340px !important;
  }

  .mountain {
    background-position: -440px -340px !important;
  }
  
  .Night-Markets-Food-Food-and-More-Food {
    background-position: -480px -340px !important;
  }

  .One-of-The-Biggest-Economies-in-the-World {
    background-position: -520px -340px !important;
  }

  .National-Parks-Galore {
    background-position: -560px -340px !important;
  }

  .More-Than-Just-One-Island {
    background-position: -600px -340px !important;
  }
  
  .One-of-The-Worlds-Friendliest-Countries {
    background-position: -640px -340px !important;
  }
  
  .The-Ice-Hotel {
    background-position: -680px -340px !important;
  }

  .The-Landscape {
    background-position: -720px -340px !important;
  }
  
  .The-Rainbow-Mountain {
    background-position: -760px -340px !important;
  }
  
  .Travel-to-the-Stone-Age-and-Back {
    background-position: -800px -340px !important;
  }
  
  .Tuscany {
    background-position: -840px -340px !important;
  }
  
  .Vatican-City {
    background-position: -880px -340px !important;
  }
  
  .Wai-o-Tapu-Rotorua {
    background-position: -920px -340px !important;
  }
  
  .Water-Sports-Galore {
    background-position: -960px -340px !important;
  }
  
  .Whale-Watching {
    background-position: -1000px -340px !important;
  }
  
  .Wildlife-Wonderland {
    background-position: -1040px -340px !important;
  }

}