/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";


body {
  font-family: "Open-sans", sans-serif !important;
}


.my-pagination .ngx-pagination .current {
  background: #000080 !important;
}

.my-pagination .ngx-pagination li,
.my-pagination .ngx-pagination a {
  border-radius: 50%;
}

.my-pagination .ngx-pagination .pagination-previous a,
.my-pagination .ngx-pagination .pagination-next a {
  border-radius: 20px;
}

.my-pagination .ngx-pagination li:focus,
.my-pagination .ngx-pagination a:focus {
  outline: none !important;
  box-shadow: none !important;
}


.my-pagination .ngx-pagination li:hover,
.my-pagination .ngx-pagination a:hover {
  text-decoration: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px 0px 4px;
  border: 0px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px !important;
    margin-right: 0px !important;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
  }
}

a:hover {
text-decoration: none;
}

button:focus,
button:hover {
  outline: none !important;
  box-shadow: none !important;
}
