/* #site-wrapper */
section#site-wrapper h2 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #878787;
  margin-top: 20px;
  font-weight: 700;
}
section#site-wrapper ul,
#site-wrapper ol {
  padding-left: 30px;
}
section#site-wrapper p,
#site-wrapper li {
  line-height: 16px;
  font-size: 13px;
  color: #878787;
  margin-bottom: 10px;
}
section#site-wrapper .wrapContainer {
  padding: 0px 40px 10px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  section#site-wrapper .wrapContainer {
    padding: 0px 15px 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  section#site-wrapper .wrapContainer {
    padding: 0px 15px 10px;
  }
}

/* section#faq */
section#faq p,
section#faq li {
  font-size: 13px;
  margin: 0;
}
section#faq .btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font-size: 14px !important;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
section#faq .faqQuery {
  background-color: rgba(0, 0, 0, 0.03);
  text-decoration: none !important;
  border-radius: 10px;
  cursor: pointer;
}
section#faq .faqQueryCard {
  border-radius: 10px !important;
}
section#faq .wrapContainer {
  padding: 35px 55px 10px;
}
section#faq .accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}
section#faq .faqQuery button {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #00b !important;
  text-decoration: none !important;
}
section#faq .visaTypeButton button {
  font-weight: 650;
  font-size: 16px;
  color: #fff !important;
  text-decoration: none !important;
}
section#faq .faqContainer {
  color: #000;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}
section#faq .faqContainer svg {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}
section#faq .wrapper {
  position: relative;
  height: auto;
  border-top: 0;
}
section#faq [type="checkbox"] {
  position: absolute;
  left: -9999px;
}
section#faq label {
  background: #e4e3df;
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: top 0.45s cubic-bezier(0.44, 0.99, 0.48, 1);
}
@media screen and (min-width: 481px) and (max-width: 500px) {
  section#faq .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #00b !important;
    text-decoration: none !important;
  }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  section#faq .faqQuery button {
    font-weight: 500;
    font-size: 14px;
    color: #00b !important;
    text-decoration: none !important;
  }
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  section#faq .faqContainer {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }
  section#faq .wrapContainer {
    padding: 35px 15px 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  section#faq .faqContainer {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }
  section#faq .wrapContainer {
    padding: 35px 15px 10px;
  }
}

/* section#important_point */
section#important_point .impRequired .card-header {
  color: #130654;
  font-weight: 600;
  font-size: 16px;
}
section#important_point .impRequired .card-header svg {
  height: 30px;
  margin-right: 10px;
}
section#important_point .impRequired .card-body {
  background-color: #130654;
  font-size: 15px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  section#important_point .container-fluid {
    padding: 0px !important;
  }
}

section#quotation .planCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
section#quotation .planCard .card-header {
  background: #fec007;
  color: #130654;
}
section#quotation .planCardRow {
  padding: 4px 0px;
}
section#quotation .planCardBody {
  font-size: 14px;
  padding: 10px 22px;
}
section#quotation .submitBtn {
  background: #130654 !important;
  border-radius: 20px !important;
  color: #fff !important;
  padding: 5px 20px !important;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  section#quotation .planCardBody {
    padding: 10px 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  section#quotation .planCardBody {
    padding: 10px 15px;
  }
}

section#requirement .tabset ul.nav-pills {
  padding: 7px;
  background-color: #130654;
}
section#requirement .tabset a.nav-link {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  font-weight: 700;
  padding: 7px;
  background: #8983aa;
}
section#requirement .showDiv {
  background: #fff !important;
}
section#requirement .tabset a.nav-link.active {
  background: #fff;
  color: #130654;
}
section#requirement .iconTabset a.nav-link {
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 0px;
  font-weight: 700;
  padding: 0px;
  background: transparent;
}
section#requirement .iconTabset a.nav-link .ng-star-inserted {
  background: #fff;
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
  height: 120px;
  padding-right: 15% !important;
  border: none;
  font-weight: 700;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#requirement .iconTabset a.nav-link .ng-star-inserted::before {
  content: url(https://static.visa2fly.com/assets/arrow-down.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#requirement .iconTabset a.nav-link .showDiv.ng-star-inserted::before {
  content: url(https://static.visa2fly.com/assets/arrow-up.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#requirement .iconTabset ul.nav-pills {
  padding: 0;
  background-color: transparent;
}
section#requirement .iconTabset a.nav-link.active {
  background: none;
  color: #000;
}
section#requirement .requiredIcon {
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background: #fff;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
section#requirement .mgxTop {
  margin-top: 10px;
}
section#requirement .setFontSize {
  font-size: 18px;
  margin-bottom: 0px;
  margin-left: 5%;
  max-width: 160px;
}
section#requirement .requiredIconHeading {
  font-size: 16px;
  font-weight: 600;
  color: #00b;
}
section#requirement p,
section#requirement li {
  font-size: 14px;
}
section#requirement
  .accordion
  > .card:not(:first-of-type)
  .card-header:first-child {
  border-radius: 10px;
}
section#requirement .mobileView,
section#requirement .mobileContainer {
  display: none;
}
section#requirement .desktopView,
section#requirement .desktopContainer {
  display: block;
}
section#requirement .wrapContainer {
  padding: 10px 40px 10px;
}
section#requirement .requirementContainer {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}
section#requirement .iconSection {
  padding: 0px 0px 20px;
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  section#requirement .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  section#requirement .iconTabset .tab-pane {
    width: 712px !important;
  }
  section#requirement .iconTabset a.nav-link {
    max-width: 230px !important;
  }
  section#requirement .setFontSize {
    font-size: 16px;
  }
}
@media screen and (min-width: 481px) and (max-width: 500px) {
  section#requirement .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }
  section#requirement .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    width: 155px;
    max-width: 216px;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 340px !important;
  }
  section#requirement .iconTabset a.nav-link.active {
    background: none;
  }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  section#requirement .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }
  section#requirement .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    width: 216px;
    max-width: 216px;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 340px !important;
  }
  section#requirement .iconTabset a.nav-link.active {
    background: none;
  }
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  section#requirement .setFontSize {
    font-size: 16px;
  }
  section#requirement .iconSection {
    padding: 0px 0px !important;
  }
  section#requirement .tabset a.nav-link {
    margin-left: 2px !important;
    margin-right: 2px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-size: 14px !important;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    height: 100px !important;
  }
  section#requirement .iconTabset a.nav-link.active {
    background: none;
  }
  section#requirement .desktopContainer {
    display: none;
  }
  section#requirement .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 16px;
  }
  section#requirement .outerRequirement {
    line-height: 20px;
    margin-top: 10px;
  }
  section#requirement .mobileContainer {
    display: block;
  }
  section#requirement .wrapContainer {
    padding: 10px 15px 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  section#requirement .setFontSize {
    font-size: 16px;
  }
  section#requirement .iconSection {
    padding: 0px 0px !important;
  }
  section#requirement .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 100px !important;
    padding: 10px !important;
    border: none;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 100px !important;
  }
  section#requirement .iconTabset a.nav-link.active {
    background: none;
  }
  section#requirement .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 14px;
  }
  section#requirement .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
  }
  section#requirement .wrapContainer {
    padding: 10px 15px 10px;
  }
  section#requirement .outerContainer {
    padding: 10px 0px 10px;
  }
}
@media screen and (min-width: 461px) and (max-width: 480px) {
  section#requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 100px;
    border: none;
    width: 193px !important;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 2px;
    margin-right: 2px;
    height: 115px;
    width: 193px !important;
  }
}
@media screen and (min-width: 421px) and (max-width: 460px) {
  section#requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 115px;
    padding: 10px;
    border: none;
    width: 170px !important;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    height: 115px;
    width: 170px !important;
  }
}
@media screen and (min-width: 393px) and (max-width: 420px) {
  section#requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    font-weight: 700;
    width: 352px;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 380px) and (max-width: 392px) {
  section#requirement .iconTabset a.nav-link {
    background: #fff;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 115px;
    padding: 10px;
    border: none;
    width: 149px !important;
    font-weight: 700;
  }
}
@media screen and (min-width: 361px) and (max-width: 379px) {
  section#requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    padding: 0px !important;
    border: none;
    width: 312px !important;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 351px) and (max-width: 360px) {
  section#requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px !important;
    width: 296px !important;
    border: none;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 350px) {
  section#requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px !important;
    border: none;
    width: 254px !important;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
@media screen and (max-width: 600px) {
  section#requirement .mobileView,
  section#requirement .mobileContainer {
    display: block;
  }
  section#requirement .desktopView,
  section#requirement .desktopContainer {
    display: none;
  }
  section#requirement .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 18px;
  }
}
@media screen and (min-width: 1600px) {
  section#requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 120px;
    padding: 0px !important;
    border: none;
    font-weight: 700;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
    height: 120px;
  }
}
@media screen and (min-width: 1801px) {
  section#requirement .iconTabset .tab-pane {
    width: 1735px;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1800px) {
  section#requirement .iconTabset .tab-pane {
    width: 1630px;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 537px !important;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1700px) {
  section#requirement .iconTabset .tab-pane {
    width: 1480px !important;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 350px !important;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1501px) {
  section#requirement .iconTabset .tab-pane {
    width: 1443px !important;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 460px !important;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1401px) {
  section#requirement .iconTabset .tab-pane {
    width: 1370px !important;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 435px !important;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1301px) {
  section#requirement .iconTabset .tab-pane {
    width: 1295px !important;
  }
  section#requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 412px !important;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1225px) {
  section#requirement .iconTabset .tab-pane {
    width: 1140px !important;
  }
}
@media screen and (width: 1024px) {
  section#requirement .iconTabset .tab-pane {
    width: 970px !important;
  }
  section#requirement .iconTabset a.nav-link {
    max-width: 310px !important;
  }
}
@media screen and (max-width: 600px) {
  section#requirement .mobileContainer .iconTabset a.nav-link {
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    background: transparent;
  }
  section#requirement .requiredIcon {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    background: #fff;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

/* section#ui_requirement */
section#ui_requirement .tabset ul.nav-pills {
  padding: 7px;
  background-color: #130654;
}
section#ui_requirement .tabset a.nav-link {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  font-weight: 700;
  padding: 7px;
  background: #aca8c3;
}
section#ui_requirement .showDiv {
  background: #e1f3fe !important;
}

section#ui_requirement .showDiv .setFontSize {
  font-weight: 600;
}
section#ui_requirement .tabset a.nav-link.active {
  background: #fff;
  color: #130654;
}
section#ui_requirement .iconTabset a.nav-link {
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 0px;
  font-weight: 700;
  padding: 0px;
  background: transparent;
}
section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
  background: #fff;
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
  height: 85px;
  border: none;
  font-weight: 700;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#ui_requirement .iconTabset ul.nav-pills {
  padding: 0;
  background-color: transparent;
}
section#ui_requirement .iconTabset a.nav-link.active {
  background: #fff;
  color: #000;
}
section#ui_requirement .requiredIcon {
  border-radius: 10px;
  margin-top: 15px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  /* background: #fff; */
  border: 1px solid #eee;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7); */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
section#ui_requirement .requiredIcon .card-body {
  padding: 15px;
}
section#ui_requirement .requiredIcon .card-body p {
  margin-bottom: 5px;
}

section#ui_requirement .mgxTop {
  margin-top: 10px;
}
section#ui_requirement .setFontSize {
  font-size: 15px;
  margin-bottom: 0px;
  margin-left: 5%;
  max-width: 50%;
}
section#ui_requirement .requiredIconHeading {
  font-size: 14px;
  font-weight: 600;
  color: #00b;
}
section#ui_requirement p,
section#ui_requirement li {
  font-size: 13px;
}

section#ui_requirement .requiredIcon ul {
  padding-left: 15px;
  margin-bottom: 0px;
}

section#ui_requirement .requiredIcon p:first-child {
  margin-bottom: 0px !important;
}


section#ui_requirement
  .accordion
  > .card:not(:first-of-type)
  .card-header:first-child {
  border-radius: 10px;
}
section#ui_requirement .mobileView,
section#ui_requirement .mobileContainer {
  display: none;
}
section#ui_requirement .desktopView,
section#ui_requirement .desktopContainer {
  display: block;
}
section#ui_requirement .wrapContainer {
  padding: 10px 40px 10px;
}
section#ui_requirement .headingWrapContainer {
  padding: 10px 32px 0px;
}
section#ui_requirement .outerRequirement {
  font-size: initial;
  margin-bottom: 20px;
}
section#ui_requirement .requirement-main--heading {
  font-size: 18px;
  font-weight: 600;
  color: #130654;
}
section#ui_requirement .requirementContainer {
  font-weight: 700;
  font-size: 17px;
  background: #aca8c3;
  padding: 5px 90px 5px 10px;
  color: #000080;
  position: relative;
}
section#ui_requirement .requirementContainer::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 17px solid white;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}
section#ui_requirement .iconSection {
  padding: 0px 0px 10px;
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  section#ui_requirement .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 712px !important;
  }
  section#ui_requirement .iconTabset a.nav-link {
    max-width: 230px !important;
  }
  section#ui_requirement .setFontSize {
    font-size: 15px;
  }
}
@media screen and (min-width: 481px) and (max-width: 500px) {
  section#ui_requirement .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
    font-size: initial;
  }
  section#ui_requirement .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    width: 155px;
    max-width: 216px;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 340px !important;
  }
  section#ui_requirement .iconTabset a.nav-link.active {
    background: none;
  }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  section#ui_requirement .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
    font-size: initial;
  }
  section#ui_requirement .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    width: 216px;
    max-width: 216px;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 340px !important;
  }
  section#ui_requirement .iconTabset a.nav-link.active {
    background: none;
  }
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  section#ui_requirement .setFontSize {
    font-size: 15px;
  }
  section#ui_requirement .iconSection {
    padding: 0px 0px !important;
  }
  section#ui_requirement .tabset a.nav-link {
    margin-left: 2px !important;
    margin-right: 2px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-size: 14px !important;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link {
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    height: 70px !important;
  }
  section#ui_requirement .iconTabset a.nav-link.active {
    background: none;
  }
  section#ui_requirement .desktopContainer {
    display: none;
  }
  section#ui_requirement .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 30px 5px 5px;
  }
  section#ui_requirement .outerRequirement {
    line-height: 20px;
    margin-top: 10px;
    font-size: initial;
  }
  section#ui_requirement .mobileContainer {
    display: block;
  }
  section#ui_requirement .wrapContainer {
    padding: 10px 15px 10px;
  }
  section#ui_requirement .headingWrapContainer {
    padding: 10px 12px 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  section#ui_requirement .setFontSize {
    font-size: 15px;
  }
  section#ui_requirement .iconSection {
    padding: 0px 0px !important;
  }
  section#ui_requirement .tabset a.nav-link {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px !important;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 70px !important;
    padding: 10px !important;
    border: none;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 70px !important;
  }
  section#ui_requirement .iconTabset a.nav-link.active {
    background: none;
  }
  section#ui_requirement .requirementContainer,
  section#ui_requirement  .mobheadtext {
    color: #000;
    font-weight: 700;
    font-size: 14px !important;
  }
  section#ui_requirement .requirementContainer {
    line-height: 3.2 !important;
  }
  section#ui_requirement .outerRequirement {
    margin-top: 10px;
    line-height: 20px;
    font-size: initial;
  }
  section#ui_requirement .wrapContainer {
    padding: 10px 15px 10px;
  }
  section#ui_requirement .headingWrapContainer {
    padding: 10px 12px 0px;
  }
  section#ui_requirement .outerContainer {
    padding: 10px 0px 10px;
  }
}
@media screen and (min-width: 461px) and (max-width: 480px) {
  section#ui_requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 100px;
    border: none;
    width: 193px !important;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 2px;
    margin-right: 2px;
    height: 115px;
    width: 193px !important;
  }
}
@media screen and (min-width: 421px) and (max-width: 460px) {
  section#ui_requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 115px;
    padding: 10px;
    border: none;
    width: 170px !important;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    height: 115px;
    width: 170px !important;
  }
}
@media screen and (min-width: 393px) and (max-width: 420px) {
  section#ui_requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    font-weight: 700;
    width: 352px;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 380px) and (max-width: 392px) {
  section#ui_requirement .iconTabset a.nav-link {
    background: #fff;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 115px;
    padding: 10px;
    border: none;
    width: 149px !important;
    font-weight: 700;
  }
}
@media screen and (min-width: 361px) and (max-width: 379px) {
  section#ui_requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    padding: 0px !important;
    border: none;
    width: 312px !important;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 351px) and (max-width: 360px) {
  section#ui_requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px !important;
    width: 296px !important;
    border: none;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 350px) {
  section#ui_requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px !important;
    border: none;
    width: 254px !important;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
@media screen and (max-width: 600px) {
  section#ui_requirement .mobileView,
  section#ui_requirement .mobileContainer {
    display: block;
  }
  section#ui_requirement .desktopView,
  section#ui_requirement .desktopContainer {
    display: none;
  }
  section#ui_requirement .requirementContainer {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 30px 5px 5px;
    line-height: 2.2;
  }
  section#ui_requirement .mobheadtext {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    line-height: 1.2;
    background: #aca8c3;
  }

  section#ui_requirement .mgxTop {
    margin-top: 10px;
    padding: 0;
  }
  section#ui_requirement .pdpy {
    padding: 0;
  }
}
@media screen and (min-width: 1600px) {
  section#ui_requirement .iconTabset a.nav-link {
    background: none;
    color: #000;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0px;
    height: 120px;
    padding: 0px !important;
    border: none;
    font-weight: 700;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    margin-left: 0px;
    margin-right: 0px;
    height: 120px;
  }
}
@media screen and (min-width: 1801px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 1735px;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1800px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 1600px;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 537px !important;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1700px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 1480px !important;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 350px !important;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1501px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 1416px !important;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 460px !important;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1401px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 1370px !important;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 435px !important;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1301px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 1264px !important;
  }
  section#ui_requirement .iconTabset a.nav-link .ng-star-inserted {
    max-width: 412px !important;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1225px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 1140px !important;
  }
}
@media screen and (width: 1024px) {
  section#ui_requirement .iconTabset .tab-pane {
    width: 970px !important;
  }
  section#ui_requirement .iconTabset a.nav-link {
    max-width: 310px !important;
  }
}
@media screen and (max-width: 600px) {
  section#ui_requirement .mobileContainer .iconTabset a.nav-link {
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    font-weight: 700;
    padding: 0px;
    background: transparent;
  }
  section#ui_requirement .requiredIcon {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    background: #fff;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

/* section#important_point */
section#ui_important_point .impRequired .card-header {
  color: #130654;
  font-weight: 600;
  font-size: 15px;
}
section#ui_important_point .impRequired .card-header svg {
  height: 25px;
  margin-right: 10px;
}
section#ui_important_point .impRequired .card-body {
  /* background-color: #130654; */
  font-size: 14px;
  color: #505050;
}
section#ui_important_point .impRequired .card-body p {
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  section#ui_important_point .container-fluid {
    padding: 0px !important;
  }
}
