<div style="background-color: whitesmoke; height: 150px; padding-top: 10px;">
    <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-12 text-center">
            <p class="contact" style="margin: 0px 0px 5px; "><a class="fontSize" href="mailto:support@visa2fly.com" target="_top"><i class="fa fa-envelope mr-2"></i>support@visa2fly.com</a> &nbsp;&nbsp;<a href="tel:1800120220032" class="fontSize"><span><i class="fa fa-phone mr-2" ></i>1800120220032</span></a></p>
        </div>

        <!-- <div class="col-md-12" style="padding-left: 37px;
        padding-right: 37px; font-size: 13px; text-align: center;">
            <p>
                <i class="fa fa-home mr-3"></i>C 207 Mayfield Garden,<span>Sector 50, Gurgaon</span>
                <span>
Haryana 122003, India</span></p>
        </div> -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

            <!-- Social buttons -->
            <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank" href="https://www.facebook.com/Visa2Flycom-124096785655917/">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank" href="https://twitter.com/visa2fly">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank" href="https://www.instagram.com/_visa2fly.com_/">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank" href="https://www.linkedin.com/company/visa2fly-com/">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
                </ul>
            </div>

        </div>
        <div class="col-md-7 col-lg-8">

            <!--Copyright-->
            <p class="text-center text-md-left" style="margin-top: 7px; font-size: 12px; margin-top: 2px;">© 2019 Copyright:
                <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> -->
                <strong>Hashbug Tech Private Limited</strong>
                <!-- </a> -->
            </p>

        </div>

        <!-- Grid column -->

    </div>
</div>
<div class="bottomNavContainer">
    <div class="container-fluid1">
        <div class="row noMargin">
            <div class="col bottomNavItem" [routerLink]="['aboutUs']" routerLinkActive="selectedItem" (click)="onClickBottomNavItem()">
                <div class="bottomNavItemIcon">
                    <!-- <i class="icon-accessibility icon"></i> -->
                    <img data-src="https://static.visa2fly.com/assets/about-us.png" class="footerIcon lazyload" alt="apply visa online">

                </div>
                <div class="bottomNavItemContent">
                    About Us
                </div>
            </div>
            <div class="col bottomNavItem" [routerLink]="['tnc']" routerLinkActive="selectedItem" (click)="onClickBottomNavItem()">

                <div class="bottomNavItemIcon">
                    <!-- <i class="fa fa-angellist"></i> -->
                    <img data-src="https://static.visa2fly.com/assets/term.png" class="footerIcon lazyload" alt="apply visa online">
                </div>
                <div class="bottomNavItemContent">
                    T&C
                </div>
            </div>
            <div class="col bottomNavItem" [routerLink]="['privacyPolicy']" routerLinkActive="selectedItem" (click)="onClickBottomNavItem()">
                <div class="bottomNavItemIcon">
                    <!-- <i class="fa fa-angellist"></i> -->
                    <img data-src="https://static.visa2fly.com/assets/secure-data.png" class="footerIcon lazyload" alt="apply visa online">

                </div>
                <div class="bottomNavItemContent">
                    Privacy Policy
                </div>
            </div>
            <div class="col bottomNavItem" [routerLink]="['cancellationPolicy']" routerLinkActive="selectedItem" (click)="onClickBottomNavItem()">
                <div class="bottomNavItemIcon">
                    <!-- <i class="fa fa-angellist"></i> -->
                    <img data-src="https://static.visa2fly.com/assets/rejected.png" class="footerIcon lazyload" alt="apply visa online">

                </div>
                <div class="bottomNavItemContent">
                    Cancellations
                </div>
            </div>

        </div>
    </div>
</div>