<div style="background-color: whitesmoke; height: 150px; padding-top: 10px;">
    <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-12 text-center">
            <p class="contact" style="margin: 0px 0px 5px; "><a class="fontSize" href="mailto:support@visa2fly.com" target="_top"><i class="fas fa-envelope mr-2"></i>support@visa2fly.com</a> &nbsp;&nbsp;<a href="tel:1800120220032" class="fontSize"><span><i class="fas fa-phone mr-2" style="transform: rotate(90deg);"></i>1800120220032</span></a></p>
        </div>

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

            <!-- Social buttons -->
            <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank" href="https://www.facebook.com/Visa2Flycom-124096785655917/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank" href="https://twitter.com/visa2fly">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank" href="https://www.instagram.com/_visa2fly.com_/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <!-- <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1" target="_blank" href="https://www.linkedin.com/in/visa-2-411748194/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li> -->
                </ul>
            </div>

        </div>
        <div class="col-md-7 col-lg-8">

            <!--Copyright-->
            <p class="text-center text-md-left" style="margin-top: 7px; font-size: 12px; margin-top: 2px;">© 2019 Copyright:
                <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> -->
                <strong>Hashbug Tech Private Limited</strong>
                <!-- </a> -->
            </p>

        </div>

        <!-- Grid column -->

    </div>
</div>
<div class="bottomNavContainer">
    <div class="container-fluid1">
        <div class="row noMargin">
            <div class="col bottomNavItem" [routerLink]="['aboutUs']" routerLinkActive="selectedItem" (click)="onClickBottomNavItem()">
                <div class="bottomNavItemIcon">
                    <!-- <i class="icon-accessibility icon"></i> -->
                    <img src="../../../assets/mobile-header/about-us.png" class="footerIcon" alt="">

                </div>
                <div class="bottomNavItemContent">
                    About Us
                </div>
            </div>
            <div class="col bottomNavItem" [routerLink]="['tnc']" routerLinkActive="selectedItem" (click)="onClickBottomNavItem()">

                <div class="bottomNavItemIcon">
                    <!-- <i class="fab fa-angellist"></i> -->
                    <img src="../../../assets/mobile-header/term.png" class="footerIcon" alt="">
                </div>
                <div class="bottomNavItemContent">
                    T&C
                </div>
            </div>
            <div class="col bottomNavItem" [routerLink]="['privacyPolicy']" routerLinkActive="selectedItem" (click)="onClickBottomNavItem()">
                <div class="bottomNavItemIcon">
                    <!-- <i class="fab fa-angellist"></i> -->
                    <img src="../../../assets/mobile-header/secure-data.png" class="footerIcon" alt="">

                </div>
                <div class="bottomNavItemContent">
                    Privacy Policy
                </div>
            </div>
            <div class="col bottomNavItem" [routerLink]="['cancellationPolicy']" routerLinkActive="selectedItem" (click)="onClickBottomNavItem()">
                <div class="bottomNavItemIcon">
                    <!-- <i class="fab fa-angellist"></i> -->
                    <img src="../../../assets/mobile-header/rejected.png" class="footerIcon" alt="">

                </div>
                <div class="bottomNavItemContent">
                    Cancellations
                </div>
            </div>

        </div>
    </div>
</div>