<div style="background-color: whitesmoke; height: 180px; margin-top: 30px;">
<div class="row d-flex align-items-center">

    <!-- Grid column -->
    <div class="col-md-7 col-lg-8">

      <!--Copyright-->
      <p class="text-center text-md-left">© 2019 Copyright:
        <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> -->
          <strong> Visa2fly</strong>
        <!-- </a> -->
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-5 col-lg-4 ml-lg-0">

      <!-- Social buttons -->
      <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- Grid column -->

  </div>
</div>
<div class="bottomNavContainer">
    <div class="container-fluid1">
        <div class="row noMargin">
            <div class="col bottomNavItem selectedItem">

                <div class="bottomNavItemIcon">
                    <i class="fab fa-angellist"></i>
                </div>
                <div class="bottomNavItemContent">
                    Terms and Conditions
                </div>
            </div>
            <div class="col bottomNavItem">
                <div class="bottomNavItemIcon">
                    <i class="fab fa-angellist"></i>
                </div>
                <div class="bottomNavItemContent">
                    Privacy Policy
                </div>
            </div>
            <div class="col bottomNavItem">
                <div class="bottomNavItemIcon">
                    <i class="fab fa-angellist"></i>
                </div>
                <div class="bottomNavItemContent">
                    Cancellation Policy
                </div>
            </div>
            <div class="col bottomNavItem">
                <div class="bottomNavItemIcon">
                    <i class="fab fa-angellist"></i>
                </div>
                <div class="bottomNavItemContent">
                    About Us
                </div>
            </div>
          
        </div>
    </div>
</div>