<!-- desktop -->
<div class="container desktopView">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center visaHeading">Free Visa Countries</h1>
        </div>
        <div (click)="proceedToHome('Antarctica')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Antarctica.jpg" alt="Antarctica" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Antarctica</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Bhutan')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Bhutan.jpg" alt="Bhutan" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Bhutan</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Dominica')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Dominica.jpg" alt="Dominica" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Dominica</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Ecuador')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Ecuador.jpg" alt="Ecuador" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Ecuador</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('El Salvador')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/El Salvador.jpg" alt="El Salvador" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>El Salvador</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Fiji')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Fiji.jpg" alt="Fiji" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Fiji</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('FYRO Macedonia')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/FYRO Macedonia.jpg" alt="FYRO Macedonia" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>FYRO Macedonia</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Grenada')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Grenada.jpg" alt="Grenada" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Grenada</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Haiti')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Haiti.jpg" alt="Haiti" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Haiti</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Indonesia')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Indonesia.jpg" alt="Indonesia" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Indonesia</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Jamaica')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Jamaica.jpg" alt="Jamaica" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Jamaica</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Mauritius')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Mauritius.jpg" alt="Mauritius" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Mauritius</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Micronesia')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Micronesia.jpg" alt="Micronesia" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Micronesia</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Montserrat')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Montserrat.jpg" alt="Montserrat" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Montserrat</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Nepal')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Nepal.jpg" alt="Nepal" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Nepal</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Saint Kitts And Nevis')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Saint Kitts And Nevis.jpg" alt="Saint Kitts And Nevis" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Saint Kitts And Nevis</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Saint Vincent And The Grenadines')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Saint Vincent And The Grenadines.jpg" alt="Saint Vincent And The Grenadines" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Saint Vincent And The Grenadines</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Seychelles')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Seychelles.jpg" alt="Seychelles" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Seychelles</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Svalbard')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Svalbard.jpg" alt="Svalbard" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Svalbard</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Trinidad And Tobago')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Trinidad And Tobago.jpg" alt="Trinidad And Tobago" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Trinidad And Tobago</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Vanuatu')" class="col-lg-3 col-md-4 col-sm-12 mb-4">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Vanuatu.jpg" alt="Vanuatu" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Vanuatu</p>
                </div>
            </div>
        </div>
    </div>
    <p class="lead" style="font-size: 12px"><span class="font-weight-bold">Disclaimer: </span> The information above has been last updated on 1st October 2019. The visa rules of individual countries can change at any time without any prior intimation. We cannot be held accountable whatsoever
        for any changes made to visa rules by any country. For any clarifications on information provided on this page, please call our Toll Free Number 1800-120-220-032 or write to us at <a href="mailto:support@visa2fly.com" target="_top">support@visa2fly.com</a></p>



</div>

<!-- for mobile and tablet -->
<div class="container mobile">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center visaHeading">Free Visa Countries</h1>
        </div>
        <div (click)="proceedToHome('Antarctica')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Antarctica.jpg" alt="Antarctica" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Antarctica</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Bhutan')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Bhutan.jpg" alt="Bhutan" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Bhutan</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Dominica')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Dominica.jpg" alt="Dominica" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Dominica</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Ecuador')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Ecuador.jpg" alt="Ecuador" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Ecuador</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('El Salvador')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/El Salvador.jpg" alt="El Salvador" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>El Salvador</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Fiji')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Fiji.jpg" alt="Fiji" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Fiji</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('FYRO Macedonia')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/FYRO Macedonia.jpg" alt="FYRO Macedonia" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>FYRO Macedonia</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Grenada')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Grenada.jpg" alt="Grenada" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Grenada</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Haiti')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Haiti.jpg" alt="Haiti" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Haiti</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Indonesia')" class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
                <div class="visa-card">
                    <div class="img-box">
                        <img data-src="https://static.visa2fly.com/fv/Indonesia.jpg" alt="Indonesia" class="img-fluid lazyload" />
                    </div>
                    <div class="content">
                        <p>Indonesia</p>
                    </div>
                </div>
            </div>

        <div (click)="proceedToHome('Jamaica')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Jamaica.jpg" alt="Jamaica" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Jamaica</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Mauritius')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Mauritius.jpg" alt="Mauritius" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Mauritius</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Micronesia')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Micronesia.jpg" alt="Micronesia" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Micronesia</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Montserrat')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Montserrat.jpg" alt="Montserrat" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Montserrat</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Nepal')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Nepal.jpg" alt="Nepal" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Nepal</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Saint Kitts And Nevis')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Saint Kitts And Nevis.jpg" alt="Saint Kitts And Nevis" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Saint Kitts And Nevis</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Saint Vincent And The Grenadines')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Saint Vincent And The Grenadines.jpg" alt="Saint Vincent And The Grenadines" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Saint Vincent And The Grenadines</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Seychelles')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Seychelles.jpg" alt="Seychelles" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Seychelles</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Svalbard')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Svalbard.jpg" alt="Svalbard" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Svalbard</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Trinidad And Tobago')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Trinidad And Tobago.jpg" alt="Trinidad And Tobago" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Trinidad And Tobago</p>
                </div>
            </div>
        </div>

        <div (click)="proceedToHome('Vanuatu')" class="col-lg-3 col-md-4 col-sm-6 col-6 img-card">
            <div class="visa-card">
                <div class="img-box">
                    <img data-src="https://static.visa2fly.com/fv/Vanuatu.jpg" alt="Vanuatu" class="img-fluid lazyload" />
                </div>
                <div class="content">
                    <p>Vanuatu</p>
                </div>
            </div>
        </div>
    </div>

    <p class="lead" style="font-size: 12px"><span class="font-weight-bold">Disclaimer: </span> The information above has been last updated on 1st October 2019. The visa rules of individual countries can change at any time without any prior intimation. We cannot be held accountable whatsoever
        for any changes made to visa rules by any country. For any clarifications on information provided on this page, please call our Toll Free Number 1800-120-220-032 or write to us at <a href="mailto:support@visa2fly.com" target="_top">support@visa2fly.com</a></p>



</div>