
    .container .visaHeading {
      font-size: 26px;
      display: flex;
      margin-bottom: 20px;
font-weight: 700;
      justify-content: center;
      padding-top: 72px;
    }

    .container.desktopView .visa-card {
      position: relative;
      background: #e2e2e2;
      border: none;
      overflow: hidden;
      border-radius: 10px;
      transition: 0.5s;
    }

    .container.desktopView .visa-card:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }

    .container.desktopView .visa-card .img-box {
      transition: 0.5s;
    }

    .container.desktopView .visa-card:hover .img-box {
      opacity: 0.5;
    }

    .container.desktopView .visa-card .content {
      position: absolute;
      width: 100%;
      height: 70%;
      bottom: -100%;
      padding-top: 60px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      transition: 0.5s;
    }

    .container.desktopView .visa-card:hover .content {
      bottom: 0;
    }

    .container.desktopView .visa-card:nth-child(1) .content {
      background: linear-gradient(0deg, #acb4bc, transparent);
    }

    .container.desktopView .visa-card .content p {
      color: #fff;
      position: absolute;
      left: 20px;
      font-weight: 600;
      bottom: 0px;
      font-size: 16px;
    }


    @media screen and (max-width: 676px) {
      .container {
        margin-top: 50px;
      }
    }


    .pagination .active a {
      color: #143361;
      background-color: transparent;
      font-weight: 600;
    }
    .pagination .active a:hover {
      background-color: transparent;
      color: #143361;
      border: 0px;
    }
    .pagination .active a:focus {
      background-color: transparent;
      color: #143361;
      outline: none;
    }
    .pagination li a {
      border: 1px;
      margin-left: 0px;
      color: #707070;
      padding: 7px 2px;
      margin: 0px 20px;
    }
    .pagination li a:hover {
      background-color: transparent;
      color: #4A90E2;
      padding-bottom: 2px;
      border-bottom: 1px solid;
    }
    .pagination li a:focus {
      outline: none;
      background-color: transparent;
      /*color:#707070;*/
    }
    .pagination li:first-child a, .pagination li:last-child a {
      border: 2px solid #143361 !important;
      border-radius: 6px;
      margin: 0px;
      padding: 6px 12px;
      border: 2px solid;
      font-size: 14px;
      color: #143361;
    }
    .pagination li:first-child a:hover, .pagination li:last-child a:hover {
      text-decoration: none !important;
      color: #fff;
      background-color: #143361;
    }
    .pagination li:first-child a:focus, .pagination li:last-child a:focus {
      outline: none;
    }
    
    .desktopView {
      display: block;
    }
  
    .mobile {
      display: none;
    }
  

@media screen and (max-width: 1024px) {

.desktopView {
  display: none;
}

.mobile {
  display: block;
}

.container.mobile .visa-card {
  position: relative;
  background: #e2e2e2;
  border: none;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
}

.container.mobile .visa-card .content p {
  color: #fff;
position: absolute;
left: 15px;
bottom: 0px;
font-size: 18px;
font-weight: 600;
margin-bottom: 10px;
}
}