<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center visaHeading">Free Visa Country</h1>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Antarctica.jpg"
            alt="Antarctica"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Antarctica</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Bhutan.jpg"
            alt="Bhutan"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Bhutan</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Dominica.jpg"
            alt="Dominica"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Dominica</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Ecuador.jpg"
            alt="Ecuador"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Ecuador</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/El Salvador.jpg"
            alt="El Salvador"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>El Salvador</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Fiji.jpg"
            alt="Fiji"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Fiji</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/FYRO Macedonia.jpg"
            alt="FYRO Macedonia"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>FYRO Macedonia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Grenada.jpg"
            alt="Grenada"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Grenada</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Haiti.jpg"
            alt="Haiti"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Haiti</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Jamaica.jpg"
            alt="Jamaica"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Jamaica</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Mauritius.jpg"
            alt="Mauritius"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Mauritius</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Micronesia.jpg"
            alt="Micronesia"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Micronesia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Montserrat.jpg"
            alt="Montserrat"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Montserrat</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Nepal.jpg"
            alt="Nepal"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Nepal</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Saint Kitts And Nevis.jpg"
            alt="Saint Kitts And Nevis"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Saint Kitts And Nevis</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Saint Vincent And The Grenadines.jpg"
            alt="Saint Vincent And The Grenadines"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Saint Vincent And The Grenadines</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Seychelles.jpg"
            alt="Seychelles"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Seychelles</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Svalbard.jpg"
            alt="Svalbard"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Svalbard</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Trinidad And Tobago.jpg"
            alt="Trinidad And Tobago"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Trinidad And Tobago</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="visa-card">
        <div class="img-box">
          <img
            src="https://static.visa2fly.com/fv/Vanuatu.jpg"
            alt="Vanuatu"
            class="img-fluid"
          />
        </div>
        <div class="content">
          <p>Vanuatu</p>
        </div>
      </div>
    </div>

   

  </div>

  

  <div style="display: flex; justify-content: center; margin-bottom: 20px;">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
  </div>

  <p class="lead" style="font-size: 12px"><span class="font-weight-bold">Disclaimer: </span> The information above has been last updated on 1st October 2019. The visa rules of individual countries can change at any time without any prior intimation. We cannot be held accountable whatsoever for any changes made to visa rules by any country. For any clarifications on information provided on this page, please call our Toll Free Number 1800-120-220-032 or write to us at <a href="mailto:support@visa2fly.com" target="_top">support@visa2fly.com</a></p>

  

</div>
