
    .container .visaHeading {
      font-size: 26px;
      display: flex;
      margin-bottom: 20px;
font-weight: 700;
      justify-content: center;
      padding-top: 72px;
    }

    .container .visa-card {
      position: relative;
      background: #e2e2e2;
      border: none;
      overflow: hidden;
      border-radius: 10px;
      transition: 0.5s;
    }

    .container .visa-card:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }

    .container .visa-card .img-box {
      transition: 0.5s;
    }

    .container .visa-card:hover .img-box {
      opacity: 0.5;
    }

    .container .visa-card .content {
      position: absolute;
      width: 100%;
      height: 70%;
      bottom: -100%;
      padding-top: 60px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      transition: 0.5s;
    }

    .container .visa-card:hover .content {
      bottom: 0;
    }

    .container .visa-card:nth-child(1) .content {
      background: linear-gradient(0deg, #000080, transparent);
    }

    .container .visa-card .content p {
      color: #fff;
      position: absolute;
      left: 20px;
      bottom: 0px;
      font-size: 16px;
    }


    @media screen and (max-width: 676px) {
      .container {
        margin-top: 50px;
      }
    }