<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>
    <div class="col-12 p-0">
      <div class="accordion" id="australiaAccordion">

        <!-- <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#australiaAccordion1"
            aria-expanded="true" aria-controls="australiaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Are there any specifications for the photo requirements?
              </button>
            </h5>
          </div>

          <div id="australiaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#australiaAccordion">
            <div class="card-body">
              <p>In Ihe process of applying for an Australia e-visa online, the photos that you will submit
                must be taken within the last 6 months - they also must be in color, with the image size as 35
                × 45mm. Please keep in mind that the photo must be taken with a white background with a matte
                finish.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#australiaAccordion2"
            aria-expanded="false" aria-controls="australiaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                I am entering Australia for a cruise. What kind of visa do I need?
              </button>
            </h5>
          </div>
          <div id="australiaAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#australiaAccordion">
            <div class="card-body">
              <p>You will need a tourist visa in the category of Australia e-visa online, that falls under
                subclass 600.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#australiaAccordion3"
            aria-expanded="false" aria-controls="australiaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Will I need to get any medical tests done to pass the health requirements?
              </button>
            </h5>
          </div>
          <div id="australiaAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#australiaAccordion">
            <div class="card-body">
              <p>If you are an Indian national, and you are staying for less than 6 months, you do not require
                any tests. If your stay is more than 6 months, you require proof of a medical examination, as
                well as a chest x-ray (if you are over the age of 11).
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#australiaAccordion4"
            aria-expanded="false" aria-controls="australiaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                If I return to India, and then wish to visit Australia again soon, does that count in the
                6-month health requirement?
              </button>
            </h5>
          </div>
          <div id="australiaAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#australiaAccordion">
            <div class="card-body">
              <p>Yes, it does. If you have traveled to Australia in the last 28 days, it is counted in the
                6-month window for exemption from medical tests.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#australiaAccordion5"
            aria-expanded="false" aria-controls="australiaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Which countries need to do medical tests, and why?
              </button>
            </h5>
          </div>
          <div id="australiaAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#australiaAccordion">
            <div class="card-body">
              <p>Applicants from those countries that are at a “high-risk” (i.e. anything above low risk) of
                tuberculosis are subject to medical tests. India is one of these countries.
              </p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#australiaAccordion6"
              aria-expanded="false" aria-controls="australiaAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Will my visa be shown in the passport?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#australiaAccordion">
              <div class="card-body">
                <p>No, In the case of Australia e-visa online, your visa will be digitally tagged with a ‘visa
                  label’. It will not be shown as a hard copy of your passport.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#australiaAccordion7"
              aria-expanded="false" aria-controls="australiaAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How much prior to my trip must I apply for a visa?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#australiaAccordion">
              <div class="card-body">
                <p>Since it takes around 35 days to process your visa, we recommend starting your visa
                  processing at least 1.5 months prior to your departure date. This is because of any unforeseen
                  delays (for example, requiring a change of personal information on the visa).
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#australiaAccordion8"
              aria-expanded="false" aria-controls="australiaAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What employment documents will I need to present?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#australiaAccordion">
              <div class="card-body">
                <p>● If you are employed, a copy of your salary slips for the last 3 months must be presented
                  when you apply for an Australian e-visa online. A leave letter from the employer (that
                  approves or sanctions your leave) must also be submitted. This must be on the company’s
                  letterhead with an authorized signature.
                </p>
                <p>● If you are self-employed, proof of the company’s registration certificate must be shown.
                  This could be in the form of an MOA, Shop ACT, etc.</p>
                <p>● If you have already retired, proof of the same must be shown.</p>
                <p>● If you are a student, a copy of your NOC (No Objection Certificate) letter/ID card/
                  bonafide letter from your respective school or college must be submitted.</p>
              </div>

            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#australiaAccordion9"
              aria-expanded="false" aria-controls="australiaAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I want to send my child (below the age of 18) on this trip, however, I will not be
                  accompanying them. Are there any special precautions to be taken?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion9" class="collapse" aria-labelledby="heading9" data-parent="#australiaAccordion">
              <div class="card-body">
                <p>A NOC (No Objection Certificate) from either/both parent(s) must be submitted along with all
                  other required documents. This must be attached to the parent’s passports. If the minor is
                  traveling/staying with an adult that is not a relative of them, then the submission of this
                  adult’s full name, date of birth, and nationality are mandatory when you apply for an
                  australia e-visa online.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#australiaAccordion10"
              aria-expanded="false" aria-controls="australiaAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the stay period of my visa?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion10" class="collapse" aria-labelledby="heading10"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>Stay periods of visitor’s visas vary from case to case - individual preferences (for how long
                  they might want their visa to be valid) are taken into consideration, but it is not promised
                  that you will get what you want. Therefore, we cannot predict the exact stay period of your
                  visa.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#australiaAccordion11"
              aria-expanded="true" aria-controls="australiaAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I apply for an extension of my visa whilst still in Australia?
                </button>
              </h5>
            </div>

            <div id="australiaAccordion11" class="collapse" aria-labelledby="heading11"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>No, you cannot. If you want to apply for an extension, you will need to go back to your
                  country and apply for a new Australia E-visa online.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading12" data-toggle="collapse" data-target="#australiaAccordion12"
              aria-expanded="false" aria-controls="australiaAccordion12">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I be paid for the work conferences that I am attending in Australia?
                </button>
              </h5>
            </div>

            <div id="australiaAccordion12" class="collapse" aria-labelledby="heading12"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>You cannot be paid to do any work while you are staying in Australia. If you must be paid, it
                  must be before or after your stay in Australia.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading13" data-toggle="collapse" data-target="#australiaAccordion13"
              aria-expanded="false" aria-controls="australiaAccordion13">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Will I be able to negotiate contracts for business while I am in Australia? Does that count as
                  paid work?
                </button>
              </h5>
            </div>

            <div id="australiaAccordion13" class="collapse" aria-labelledby="heading13"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>You will be able to negotiate contracts, attend conferences/events, and make general business
                  or employment inquiries. You will not be able to start the work that you enquired about or
                  sell goods from abroad.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading14" data-toggle="collapse" data-target="#australiaAccordion14"
              aria-expanded="false" aria-controls="australiaAccordion14">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What is the “character requirement” that I need to meet?
                </button>
              </h5>
            </div>

            <div id="australiaAccordion14" class="collapse" aria-labelledby="heading14"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>This ‘character requirement’ usually involves assessing criminal records (if any), and
                  attachment to your current country. This could be not just of you, but of your family members
                  who are not coming to Australia as well.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading15" data-toggle="collapse" data-target="#australiaAccordion15"
              aria-expanded="false" aria-controls="australiaAccordion15">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Is the AUD145 (visa fees) inclusive of all costs, or only visas?
                </button>
              </h5>
            </div>

            <div id="australiaAccordion15" class="collapse" aria-labelledby="heading15"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>You might also have to pay costs other than your visa - for health checks, police
                  certificates, and biometrics. This is required by the Australian Immigration.
                </p>

              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading16" data-toggle="collapse" data-target="#australiaAccordion16"
              aria-expanded="true" aria-controls="australiaAccordion16">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Can I transit without a visa?
                </button>
              </h5>
            </div>

            <div id="australiaAccordion16" class="collapse" aria-labelledby="heading16"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>It is possible to transit without a visa. This may be done if you are arriving by aircraft,
                  leaving in (a maximum of) 8 hours, and do not leave the airport transit lounge.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading17" data-toggle="collapse" data-target="#australiaAccordion17"
              aria-expanded="false" aria-controls="australiaAccordion17">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Do I have to pay any fees to the Australian Immigration authorities for the transit visa?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion17" class="collapse" aria-labelledby="heading17"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>You do not need to pay any fees to them, before or during your trip. Please note that service
                  charges for processing your visa through us may still apply when you apply for an Australia
                  e-visa online.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading18" data-toggle="collapse" data-target="#australiaAccordion18"
              aria-expanded="false" aria-controls="australiaAccordion18">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I apply for a transit visa after I reach the airport?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion18" class="collapse" aria-labelledby="heading18"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>No, it is not possible to do this. Even though the visa is free, you need to apply for it
                  while you are still in India.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading19" data-toggle="collapse" data-target="#australiaAccordion19"
              aria-expanded="false" aria-controls="australiaAccordion19">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  If I am traveling by sea, does the 72-hour deadline still apply?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion19" class="collapse" aria-labelledby="heading19"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>Yes, this deadline is applicable for all travelers entering Australia by both air and sea.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading20" data-toggle="collapse" data-target="#australiaAccordion20"
              aria-expanded="false" aria-controls="australiaAccordion20">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Are there any other conditions that I need to follow regarding an Australia e-visa online?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion20" class="collapse" aria-labelledby="heading20"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>You must have valid health insurance to cover the entirety of your maximum of 72 hours in
                  Australia.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading21" data-toggle="collapse" data-target="#australiaAccordion21"
              aria-expanded="false" aria-controls="australiaAccordion21">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is working on a transit visa (i.e. as a crewmember of a ship) allowed?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion21" class="collapse" aria-labelledby="heading21"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>In the case of an Australia e-visa online, there is a separate visa for this circumstance.
                  You will not be allowed to engage in any form of work (paid or otherwise) while traveling on a
                  transit visa.</p>
              </div>
            </div>
          </div>
        </ng-container> -->

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse" data-target="#australiaAccordion1"
            aria-expanded="true" aria-controls="australiaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                Is there an Australia visa on arrival for Indian citizens?
              </button>
            </h5>
          </div>

          <div id="australiaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#australiaAccordion">
            <div class="card-body">
              <p>You will need to apply for a visa before you travel. There is no Australia visa on arrival for Indians.
                You sometimes need to show medical tests, proof of character etc.
              </p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse" data-target="#australiaAccordion2"
            aria-expanded="false" aria-controls="australiaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Are the Australia visa fees inclusive of all costs?
              </button>
            </h5>
          </div>
          <div id="australiaAccordion2" class="collapse" aria-labelledby="heading2" data-parent="#australiaAccordion">
            <div class="card-body">
              <p>You might also have to pay costs other than your visa – this is dependent on your individual
                case. Some may need health checks, police certificates, and biometrics. This is required by the
                Australian Immigration. Depending on your nationality, what documents you have to submit,
                and where you are applying, your fees might change.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading3" data-toggle="collapse" data-target="#australiaAccordion3"
            aria-expanded="false" aria-controls="australiaAccordion3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What is the “character requirement” for an Australia visa for Indians?
              </button>
            </h5>
          </div>
          <div id="australiaAccordion3" class="collapse" aria-labelledby="heading3" data-parent="#australiaAccordion">
            <div class="card-body">
              <p>This 'character requirement' is usually a step in the visa processing of some countries, including
                Australia. This usually involves assessing criminal records (if any), and attachment to your current
                country. It is possible that the records of not just of you, but of your family members who are not
                coming to Australia might be checked as well.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading4" data-toggle="collapse" data-target="#australiaAccordion4"
            aria-expanded="false" aria-controls="australiaAccordion4">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                Can I work if I apply for an Australia visa online?
              </button>
            </h5>
          </div>
          <div id="australiaAccordion4" class="collapse" aria-labelledby="heading4" data-parent="#australiaAccordion">
            <div class="card-body">
              <p>No, you cannot work on an Australian visitor visa. You cannot work even on an ETA. You will need to
                get an Australia working visa. This is separate from any other visa. If you work in Australia on a
                regular visitor visa or ETA, you can be detained and removed, and may also be marked with a 3-year
                exclusion period (cannot apply for a visa to Australia for 3 years).</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading5" data-toggle="collapse" data-target="#australiaAccordion5"
            aria-expanded="false" aria-controls="australiaAccordion5">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What employment documents do I need to present for an Australia business visa?
              </button>
            </h5>
          </div>
          <div id="australiaAccordion5" class="collapse" aria-labelledby="heading5" data-parent="#australiaAccordion">
            <div class="card-body">
              <p>If you are employed, a copy of your salary slips for the last 3 months must be presented. A leave
                letter from the employer (that approves or sanctions your leave) must also be submitted. This must
                be on the company’s letterhead with an authorized signature.</p>
              <p>If you are self-employed, proof of the company’s registration certificate must be shown. This could
                be in the form of a MOA, Shop ACT, etc.</p>
              <p>If you have already retired, proof of the same must be shown.</p>
              <p>If you are a student, a copy of your NOC (No Objection Certificate) letter/ID card/ bona fide letter
                from your respective school or college must be submitted when you apply for an Australia e-visa
                online.</p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="showFaqs" [@simpleFadeAnimation]="'in'">
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading6" data-toggle="collapse" data-target="#australiaAccordion6"
              aria-expanded="false" aria-controls="australiaAccordion6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is the Australia tourist visa part of the visitor visa for this country?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion6" class="collapse" aria-labelledby="heading6" data-parent="#australiaAccordion">
              <div class="card-body">
                <p>Yes. The tourist visa is Subclass 600 of the visitor visas to Australia. You will need to apply for
                  this when you are outside Australia (a few weeks before arriving).</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading7" data-toggle="collapse" data-target="#australiaAccordion7"
              aria-expanded="false" aria-controls="australiaAccordion7">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is the stay period of my Australia visa?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion7" class="collapse" aria-labelledby="heading7" data-parent="#australiaAccordion">
              <div class="card-body">
                <p>The stay period depends on the documents you submit, and the time you ask for. Options are
                  between 3, 6 or 12 months. You will be granted a stay period based on which duration the
                  Immigration Office thinks you are eligible for. If you are an eligible parent of an Australian
                  citizen, you may be granted a longer stay period – hence, you will need to specify this separately.
                  Please note, this is still a normal visitor visa, not an Australia parent visa (there is no such
                  thing, parent visas are just normal visitor visas).</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading8" data-toggle="collapse" data-target="#australiaAccordion8"
              aria-expanded="false" aria-controls="australiaAccordion8">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What activities can I partake in on an Australia visitor visa?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion8" class="collapse" aria-labelledby="heading8" data-parent="#australiaAccordion">
              <div class="card-body">
                <p>The visitor visa is a broader class that includes business and tourist visas as well. Depending on
                  your reason for travel, you can choose one of the sub-classes. Here, you will get to know what you
                  can/cannot do in each subclass. For example, a tourist visa (subclass 600) allows you to visit friends
                  and family, cruise or have a holiday.</p>
              </div>

            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading9" data-toggle="collapse" data-target="#australiaAccordion9"
              aria-expanded="false" aria-controls="australiaAccordion9">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I process an Australia visa application online?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion9" class="collapse" aria-labelledby="heading9" data-parent="#australiaAccordion">
              <div class="card-body">
                <p>The online visa service that Australia offers is called the ETA. Indians are not currently eligible
                  for this option, however, if you hold a passport from one of these countries/regions, you can apply:
                </p>
                <li>Brunei Darussalam</li>
                <li>Canada</li>
                <li>Hong Kong (SAR PRC)</li>
                <li>Japan</li>
                <li>Malaysia</li>
                <li>Singapore</li>
                <li>Korea, Rep of (STH)</li>
                <li>United States</li>
                <p>Otherwise, you will have to go through the Embassy – an offline route. If you apply through Visa2Fly,
                  we can do the back-end processing for you so that it feels just a click away!</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading10" data-toggle="collapse" data-target="#australiaAccordion10"
              aria-expanded="false" aria-controls="australiaAccordion10">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  What is an ETA? Can I use it to apply for Australia visa?
                </button>
              </h5>
            </div>
            <div id="australiaAccordion10" class="collapse" aria-labelledby="heading10"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>ETA stands for Electronic Travel Authority. It is a visa type of Australia, that is electronically
                  linked to your passport. You can use it to travel to Australia, and it can be obtained online. You
                  cannot work on this visa.</p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div class="card-header faqQuery" id="heading11" data-toggle="collapse" data-target="#australiaAccordion11"
              aria-expanded="true" aria-controls="australiaAccordion11">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  What do I do if I made a mistake in my Australia visa application online (ETA)?
                </button>
              </h5>
            </div>

            <div id="australiaAccordion11" class="collapse" aria-labelledby="heading11"
              data-parent="#australiaAccordion">
              <div class="card-body">
                <p>Firstly, you must make sure that you go through each answer carefully to make sure all are correct. It is advised to go through the whole set of application answers so that you catch any last-minute mistakes. You will have the opportunity to review all the details you input, but you cannot change any after that. Once you confirm the details, you will be asked to pay the non-refundable fee online, and you cannot change any details after that. All details you input, however correct, must match those of your passport.</p>
              </div>
            </div>
          </div>
        </ng-container>



      </div>
    </div>

    <div class="col-12 text-center loadMore mt-3">
      <button class="loadMoreBtn btn" (click)="loadData()">{{loadText}}</button>
    </div>
  </div>
</div>
