<section id="faq">
  <div
    class="container-fluid wrapContainer"
    style="position: relative"
    #ElementRefName
  >
    <div class="row">
      <div class="col-12 text-center">
        <h1>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h1>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="denmarkAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#denmarkAccordion1"
              aria-expanded="true"
              aria-controls="denmarkAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Do I need to submit biometrics for my Denmark visa?
                </button>
              </h5>
            </div>

            <div
              id="denmarkAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#denmarkAccordion"
            >
              <div class="card-body">
                <p>
                  Yes. All applicants must submit biometric data - 10 fingerprints and a photo. This data is stored in the Visa Information System (VIS), an IT system allowing data exchange between the Schengen States. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#denmarkAccordion2"
              aria-expanded="false"
              aria-controls="denmarkAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  How much do I need to show as proof of sufficient funding?

                </button>
              </h5>
            </div>
            <div
              id="denmarkAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#denmarkAccordion"
            >
              <div class="card-body">
                <p>
                  Generally, you will need to show that you have at least approx. DKK 350 per day. You may be able to show a smaller amount if you are staying in a private home and you can show that your host will cover all costs. If you are staying in a hotel, the amount must be greater - approx. DKK 500 per day.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#denmarkAccordion3"
              aria-expanded="false"
              aria-controls="denmarkAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  When should I apply for this visa?
                </button>
              </h5>
            </div>
            <div
              id="denmarkAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#denmarkAccordion"
            >
              <div class="card-body">
                <p>
                  Denmark visa applications can be submitted upto 3 months before the trip, however, you must apply at least 1 month before. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#denmarkAccordion4"
              aria-expanded="false"
              aria-controls="denmarkAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Can I use another Schengen visa (not Denmark) to visit Denmark?
                </button>
              </h5>
            </div>
            <div
              id="denmarkAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#denmarkAccordion"
            >
              <div class="card-body">
                <p>
                  Yes, you can - applying for another Schengen state’s visa means you can still visit all Schengen states. However, if Denmark is your main destination and you are going to spend most of your time here, you will need to apply for a Denmark Schengen visa only. If you plan to visit any other Schengen states during your visit to Denmark, this needs to be specified too. 
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#denmarkAccordion5"
              aria-expanded="false"
              aria-controls="denmarkAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I have missed submitting a document. Can I submit it after the submission date?
                </button>
              </h5>
            </div>
            <div
              id="denmarkAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#denmarkAccordion"
            >
              <div class="card-body">
                <p>
                  In case you have missed one of your documents on the submission date, you can still submit them later. You will have to submit it in person (the applicant will need to be there) no more than 5 days after the submission date of the previous documents. The initial day of submission counts as day 1 of 5.
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#denmarkAccordion6"
                aria-expanded="false"
                aria-controls="denmarkAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there a Denmark visa on arrival for Indian citizens?
                  </button>
                </h5>
              </div>
              <div
                id="denmarkAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#denmarkAccordion"
              >
                <div class="card-body">
                  <p>
                    No, as of date all Indian nationals must apply for a visa before entering Denmark and/or other countries under the Schengen agreement. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#denmarkAccordion7"
                aria-expanded="false"
                aria-controls="denmarkAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    I have not yet received my travel insurance cover. Can I still apply?
                  </button>
                </h5>
              </div>

              <div
                id="denmarkAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#denmarkAccordion"
              >
                <div class="card-body">
                  <p>
                    You will need travel insurance to obtain your visa. Please apply after you have your travel and health insurance. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#denmarkAccordion8"
                aria-expanded="false"
                aria-controls="denmarkAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Are there any eligibility requirements for a Denmark business visa?
                  </button>
                </h5>
              </div>

              <div
                id="denmarkAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#denmarkAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes, there are. These are outlined below:
                  </p>
                    <li>There must be an actual commercial relationship between your own company/organisation and the company/organisation in Denmark which you wish to visit.</li>
                    <li>The Danish company / organisation must be registered in the Central Business Register (CVR).</li>
                    <li>The relationship with the company/organisation in Denmark must have been established prior to your entering Denmark,</li>
                    <li>The purpose of your visit must be related to your line of business in your country of origin.</li>
                    <li>The company/organisation in Denmark must confirm your visit. If you do not include an invitation form or an invitation ID when submitting the application, the Immigration Service will normally send a questionnaire to the company/organisation in Denmark when processing your application.</li>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading9"
                data-toggle="collapse"
                data-target="#denmarkAccordion9"
                aria-expanded="false"
                aria-controls="denmarkAccordion9"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there a difference between a work permit and a business visa?
                  </button>
                </h5>
              </div>
              <div
                id="denmarkAccordion9"
                class="collapse"
                aria-labelledby="heading9"
                data-parent="#denmarkAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes. Your business visa is only valid for a stay of 90 days, whereas your work permit is for longer and you can be paid on it. If the applicant is subject to work permit regulations, they cannot be granted a business visa. This may be the case if you are a trainee who is receiving pay while in Denmark, or if you are employed by a Danish company's foreign sister company/subsidiary, and you are in Denmark to work for the Danish company. If this applies to you, you should not apply for a business visa but for a work permit. Although, during visits of less than 90 days you can carry out certain work-related activities without holding a work permit.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading10"
                data-toggle="collapse"
                data-target="#denmarkAccordion10"
                aria-expanded="false"
                aria-controls="denmarkAccordion10"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    What happens if I stay beyond my visa expiry date?

                  </button>
                </h5>
              </div>
              <div
                id="denmarkAccordion10"
                class="collapse"
                aria-labelledby="heading10"
                data-parent="#denmarkAccordion"
              >
                <div class="card-body">
                  <p>
                    If you are in Denmark at the time of expiry of your visa, you may be given a penalty period of 3 to 5 years. You won’t be able to receive a visa to Denmark at this time. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading11"
                data-toggle="collapse"
                data-target="#denmarkAccordion11"
                aria-expanded="false"
                aria-controls="denmarkAccordion11"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Do I use a business visa if I am going for sports/cultural events?
                  </button>
                </h5>
              </div>
              <div
                id="denmarkAccordion11"
                class="collapse"
                aria-labelledby="heading11"
                data-parent="#denmarkAccordion"
              >
                <div class="card-body">
                  <p>
                    No, there is a separate visa for this purpose. You will not need to apply for a business or tourist visa in this case.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading12"
                data-toggle="collapse"
                data-target="#denmarkAccordion12"
                aria-expanded="false"
                aria-controls="denmarkAccordion12"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I leave the airport with this visa?

                  </button>
                </h5>
              </div>
              <div
                id="denmarkAccordion12"
                class="collapse"
                aria-labelledby="heading12"
                data-parent="#denmarkAccordion"
              >
                <div class="card-body">
                  <p>
                    You will not be allowed to leave the airport (even if the transit is overnight) if you are obtaining the Airport Transit Visa. If you wish to do this, or you need to leave the airport and go to another airport to catch your flight, you will need to apply for a regular short term visit visa - a tourist visa. 
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading13"
                data-toggle="collapse"
                data-target="#denmarkAccordion13"
                aria-expanded="false"
                aria-controls="denmarkAccordion13"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I use this visa if I need to transit through more than one airport in the Schengen Area?
                  </button>
                </h5>
              </div>
              <div
                id="denmarkAccordion13"
                class="collapse"
                aria-labelledby="heading13"
                data-parent="#denmarkAccordion"
              >
                <div class="card-body">
                  <p>
                    No, you cannot. If you are transiting through multiple Schengen airports, you will need a regular short-term Schengen visa, eg. the tourist visa. This is because flights between two or more Schengen countries are considered “domestic”, even if they are just for transit purposes.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
      </div>
    </div>
  </div>
</section>
