<section id="faq">
  <div
    class="container-fluid wrapContainer"
    style="position: relative"

  >
    <div class="row">
      <div class="col-12 text-center">
        <h3>
          <span class="faqContainer" id="faqContainer">
            <svg
              id="Capa_1"
              enable-background="new 0 0 512 512"
              viewBox="0 0 512 512"
              width="30"
              height="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <g>
                  <circle cx="91" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m151 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m91 391c-49.629 0-91 41.371-91 91v30h91 90v-30c0-49.629-40.371-91-90-91z"
                    fill="#47568c"
                  />
                  <path
                    d="m181 512v-30c0-49.629-40.371-91-90-91v121z"
                    fill="#29376d"
                  />
                  <circle cx="421" cy="331" fill="#ffe1ba" r="60" />
                  <path
                    d="m481 331c0-33.091-26.909-60-60-60v120c33.091 0 60-26.909 60-60z"
                    fill="#ffbfab"
                  />
                  <path
                    d="m512 482c0-49.629-41.371-91-91-91s-90 41.371-90 91v30h90 91z"
                    fill="#47568c"
                  />
                  <path
                    d="m512 512v-30c0-49.629-41.371-91-91-91v121z"
                    fill="#29376d"
                  />
                </g>
                <path
                  d="m256 0c-74.443 0-135 60.557-135 135v30c0 74.443 60.557 135 135 135s135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#66b3ff"
                />
                <path
                  d="m256 300c74.443 0 135-60.557 135-135v-30c0-74.443-60.557-135-135-135z"
                  fill="#4d88ff"
                />
                <path d="m241 210h30v30h-30z" fill="#edf5ff" />
                <path
                  d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-30v-15.7c0-14.52 5.46-28.47 15-39.14 2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15s-15 6.72-15 15v15h-30v-15c0-24.81 20.19-45 45-45s45 20.19 45 45z"
                  fill="#edf5ff"
                />
                <g fill="#d5e8fe">
                  <path d="m256 210h15v30h-15z" />
                  <path
                    d="m301 105c0 14.24-6.86 27.79-18.33 36.24-7.3 5.39-11.67 14-11.67 23.06v15.7h-15v-54.84c2.65-2.97 5.62-5.68 8.88-8.08 3.88-2.85 6.12-7.26 6.12-12.08 0-8.28-6.72-15-15-15v-30c24.81 0 45 20.19 45 45z"
                  />
                </g>
              </g>
            </svg>
            FAQ's</span
          >
        </h3>
      </div>

      <div class="col-12 p-0">
        <div class="accordion" id="belgiumAccordion">
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading1"
              data-toggle="collapse"
              data-target="#belgiumAccordion1"
              aria-expanded="true"
              aria-controls="belgiumAccordion1"
            >
              <h5 class="mb-0">
                <button class="btn btn-link" type="button">
                  Do I need an appointment for this Belgium visa?
                </button>
              </h5>
            </div>

            <div
              id="belgiumAccordion1"
              class="collapse show"
              aria-labelledby="heading1"
              data-parent="#belgiumAccordion"
            >
              <div class="card-body">
                <p>
                  Yes, you do. After you start your application online, you will
                  need to obtain an appointment before you finish your
                  application. After this, you will need to go for your
                  appointment in person (with all your supporting documents) to
                  the Belgian Embassy to complete the application.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading2"
              data-toggle="collapse"
              data-target="#belgiumAccordion2"
              aria-expanded="false"
              aria-controls="belgiumAccordion2"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  I have an old passport that is still valid but has no free
                  pages. Should I submit this?
                </button>
              </h5>
            </div>
            <div
              id="belgiumAccordion2"
              class="collapse"
              aria-labelledby="heading2"
              data-parent="#belgiumAccordion"
            >
              <div class="card-body">
                <p>
                  You can choose to submit it. If it includes your previous
                  trips to USA, UK or any oSchengen/EEU countries, it may be
                  useful for making a decision.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading3"
              data-toggle="collapse"
              data-target="#belgiumAccordion3"
              aria-expanded="false"
              aria-controls="belgiumAccordion3"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Will I be asked for more documents?
                </button>
              </h5>
            </div>
            <div
              id="belgiumAccordion3"
              class="collapse"
              aria-labelledby="heading3"
              data-parent="#belgiumAccordion"
            >
              <div class="card-body">
                <p>
                  You may be asked for more documents, depending on whether the
                  Embassy feels its required.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading4"
              data-toggle="collapse"
              data-target="#belgiumAccordion4"
              aria-expanded="false"
              aria-controls="belgiumAccordion4"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  When should I submit my application?
                </button>
              </h5>
            </div>
            <div
              id="belgiumAccordion4"
              class="collapse"
              aria-labelledby="heading4"
              data-parent="#belgiumAccordion"
            >
              <div class="card-body">
                <p>
                  You should submit it minimum 1 month before your travel date.
                  At the earliest, the application can be submitted 3 months
                  before your planned visit.
                </p>
              </div>
            </div>
          </div>
          <div class="card faqQueryCard">
            <div
              class="card-header faqQuery"
              id="heading5"
              data-toggle="collapse"
              data-target="#belgiumAccordion5"
              aria-expanded="false"
              aria-controls="belgiumAccordion5"
            >
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button">
                  Is the visa fee refundable if I don’t get my visa?
                </button>
              </h5>
            </div>
            <div
              id="belgiumAccordion5"
              class="collapse"
              aria-labelledby="heading5"
              data-parent="#belgiumAccordion"
            >
              <div class="card-body">
                <p>
                  Even if your visa is denied, the visa fee is non-refundable.
                </p>
              </div>
            </div>
          </div>

          <div id="faqCollapse" class="collapse">
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading6"
                data-toggle="collapse"
                data-target="#belgiumAccordion6"
                aria-expanded="false"
                aria-controls="belgiumAccordion6"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    My travel plans have changed. Can I reflect this in new
                    documents if the submission date is over?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    You cannot make a later change to the purpose of visit, or
                    prolong the arrival of your visa. In either case, a new
                    application will have to be submitted.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading7"
                data-toggle="collapse"
                data-target="#belgiumAccordion7"
                aria-expanded="false"
                aria-controls="belgiumAccordion7"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Will biometrics be taken in my visa appointment?
                  </button>
                </h5>
              </div>

              <div
                id="belgiumAccordion7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    At the application centre, your fingerprints will be taken
                    only if it’s required. Your picture will be taken live, even
                    if you have already submitted photos in your application
                    form. This applies only to short and long stay visas.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="heading8"
                data-toggle="collapse"
                data-target="#belgiumAccordion8"
                aria-expanded="false"
                aria-controls="belgiumAccordion8"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button">
                    Can I use the account I have created for a new visa at a
                    later date?
                  </button>
                </h5>
              </div>

              <div
                id="belgiumAccordion8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes. The account which you use to start this visa
                    application process can be used later for further
                    applications. You can also use this account to create
                    multiple applications (e.g. in case your family is
                    travelling together).
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit9"
                data-toggle="collapse"
                data-target="#belgiumAccordion9"
                aria-expanded="false"
                aria-controls="belgiumAccordion9"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Once I complete the application form online, for how long is
                    it valid?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion9"
                class="collapse"
                aria-labelledby="headingtransit9"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    This application form which is created electronically is
                    valid for 30 days. If you haven’t confirmed your application
                    at the Visa Application Center during this time, your visa
                    application form will be deleted.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit10"
                data-toggle="collapse"
                data-target="#belgiumAccordion10"
                aria-expanded="false"
                aria-controls="belgiumAccordion10"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    I have not yet received my travel insurance cover. Can I
                    still apply?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion10"
                class="collapse"
                aria-labelledby="headingtransit10"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    You will need travel insurance to obtain your visa. Please
                    apply after you have your travel and health insurance.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit11"
                data-toggle="collapse"
                data-target="#belgiumAccordion11"
                aria-expanded="false"
                aria-controls="belgiumAccordion11"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Is there a difference between a work permit and a business
                    visa?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion11"
                class="collapse"
                aria-labelledby="headingtransit11"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    Yes. Your business visa is only valid for a stay of 90 days,
                    whereas your work permit is for longer and you can be paid
                    on it. If the applicant is subject to work permit
                    regulations, they cannot be granted a business visa. This
                    can be the case if you are a trainee receiving pay while in
                    Belgium, or if you are employed by a Belgian company's
                    foreign sister company or subsidiary, and you are in Belgium
                    in order to work for the Belgian company. If this is the
                    case for you, you should not apply for a business visa but
                    instead go for a work permit. However, if you are visiting
                    for less than 90 days, it is possible to carry out certain
                    work-related activities without holding a work permit.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit12"
                data-toggle="collapse"
                data-target="#belgiumAccordion12"
                aria-expanded="false"
                aria-controls="belgiumAccordion12"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    If I wish to leave the airport during transit, what kind of
                    visa would I need?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion12"
                class="collapse"
                aria-labelledby="headingtransit12"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    Once you are outside the ‘international zone’ of the
                    airport, you will need a short-stay visa (i.e. tourist
                    visa). This visa will help if you need to change airports
                    within Belgium to continue your travel, or are waiting for
                    the transfer flight at a hotel/accommodation outside the
                    airport.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit13"
                data-toggle="collapse"
                data-target="#belgiumAccordion13"
                aria-expanded="false"
                aria-controls="belgiumAccordion13"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Do Indian citizens need a transit visa to transit through
                    Belgium?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion13"
                class="collapse"
                aria-labelledby="headingtransit13"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    No, Indian citizens do not. This policy was implemented in
                    July 2018.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit14"
                data-toggle="collapse"
                data-target="#belgiumAccordion14"
                aria-expanded="false"
                aria-controls="belgiumAccordion14"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Can I transit through all Schengen states without a transit
                    visa?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion14"
                class="collapse"
                aria-labelledby="headingtransit14"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    No, you cannot. Some Schengen countries require Indians to
                    have a transit visa, such as Germany and Czech Republic.
                    Please check if you are transiting through more than one
                    Schengen country before you book your tickets. If you are
                    transiting through more than 1 Schengen country, the transit
                    visa for Country A is not valid to transit through Country B
                    (eg. transiting through Germany and Denmark in the same trip
                    means that you need a separate Denmark transit visa and a
                    separate Germany transit visa).
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit15"
                data-toggle="collapse"
                data-target="#belgiumAccordion15"
                aria-expanded="false"
                aria-controls="belgiumAccordion15"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are there any exceptions to which I don’t need a transit
                    visa?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion15"
                class="collapse"
                aria-labelledby="headingtransit15"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    In Belgium, Indian citizens do not need a transit visa to
                    transit. However, for other Schengen countries, if you wish
                    to transit without a visa, there are some exceptions. If you
                    hold a diplomatic passport, or are a family member of a
                    citizen of the EU or have a residency permit in EU, you can
                    transit without a visa. If you hold a valid Schengen visa
                    for another Schengen state (eg. are in Belgium but have a
                    Germany Schengen visa), you may be allowed to leave the
                    airport during transit.
                  </p>
                </div>
              </div>
            </div>
            <div class="card faqQueryCard">
              <div
                class="card-header faqQuery"
                id="headingtransit16"
                data-toggle="collapse"
                data-target="#belgiumAccordion16"
                aria-expanded="false"
                aria-controls="belgiumAccordion16"
              >
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button">
                    Are the processing times for Schengen transit visas less
                    than the normal tourist visa?
                  </button>
                </h5>
              </div>
              <div
                id="belgiumAccordion16"
                class="collapse"
                aria-labelledby="headingtransit16"
                data-parent="#belgiumAccordion"
              >
                <div class="card-body">
                  <p>
                    The time taken to process both tourist and transit visas are
                    the same: 15 days approx. It may take up to 30-45 days in
                    special circumstances based on the individual applicant and
                    the documents they submit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center loadMore mt-3">
        <button
          class="loadMoreBtn btn"
          (click)="loadData($event)"
          type="button"
          data-toggle="collapse"
          data-target="#faqCollapse"
          aria-expanded="false"
          aria-controls="faqCollapse"
        >
          {{ loadText }}
        </button>
        <!-- <button class="loadMoreBtn btn" (click)="loadData($event)">
            {{loadText}}
          </button> -->
      </div>
    </div>
  </div>
</section>
