input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  /* height: 30px; */
}

input {
  border-radius: 5px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  line-height: 18px;
}

.btn-dark {
  background-color: #03203c;
  border: none;
  color: #fff;
  font-weight: 550;
  border-radius: 25px;
  padding: 4px 20px;
  font-size: 15px;
  cursor: pointer;
}

select {
  border-radius: 5px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  line-height: 18px;
}


label {
  margin-bottom: 0px !important;
}

.calendarSvg {
  fill: #6C757D;
}

.symbol{
  padding: 0px 8px;
}

.markUp{
  width: 40%;
}

.btn-outline-secondary.calendar:hover .calendarSvg {
  fill: #fff;
}

.invalid-feedback {
  font-size: 13px;
}

.form-control.is-invalid {
  background-color: #fce3e9 !important;
  color: #a94442 !important;
  border: 1px solid #9b0000 !important;
  background-image: none;
}

/* !important is needed sometimes */
::-webkit-scrollbar {
  width: 1px !important;
  height: 4px !important;
}

/* Track */

/* Handle */

/* FIREFOX FIX OF UGLY SELECT BOXES */
@supports (-moz-appearance: none) {
  select {
    -moz-appearance: none !important;
    background: #fff
      url("data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==")
      right center no-repeat !important;
    background-position: calc(100% - 5px) center !important;
  }
}

select {
  font-size: 14px;
  padding-left: 3px;
}

table,
th,
td {
  border: none !important;
  border-collapse: collapse;
  padding: 5px;
  background: #e2e2e2;
  font-size: 14px;
}

.table {
  display: block !important;
  overflow-x: auto !important;
  width: 100% !important;
}

input,
textarea {
  font-size: 14px;
}

.desktopView {
  display: block;
}

.mobileView {
  display: none;
}

/* .summaryContainer { */
/* min-height: 200px; */
/* } */

button.calendar {
  padding: 2px 7px;
  height: 30px;
}
.grandLabel {
  padding-right: 150px;
  float: right !important;
  font-size: 15px !important;
  font-weight: 700;
}

.mail {
  margin-left: 20px;
}


.gender {
  margin-left: 20px;
}

.country {
  margin-left: 20px;
}

.activated {
  /* padding-left: 90px; */
  margin-left: 20px;
}

#insrSummary {
  margin-top: 60px;
}

#insrSummary .container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
}

.headTitle {
  color: hsl(240, 100%, 25%);
  font-size: 16px !important;
}

#insrSummary .planDetail {
  margin-top: 10px;
  /* color: gray; */
  /* font-size: 14px; */
}

#insrSummary li {
  list-style: none;
}

#insrSummary li {
  list-style: none;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.TrvDetail .container {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 15px 20px 15px;
  margin-top: 20px;
}

.TrvDetail span {
  color: dodgerblue;
}

.TrvDetail label {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.form-check-inline {
  padding-left: 0px;
}


@media (min-width: 768px) and (max-width: 1024px) {
  #insrSummary .container {
    padding: 10px 10px 0px;
  }

  .markUp{
    width: 40%;
  }

  .symbol{
    padding: 0px 4px;
  }

  #insrSummary .planDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    /* color: gray; */
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #insrSummary .container {
    padding: 20px;
  }

  .markUp{
    width: 40%;
  }

  .symbol{
    padding: 0px 4px;
  }

  #insrSummary .planDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    /* color: gray; */
  }

  #insrSummary .container {
    border-radius: 10px;
  }
  .TrvDetail .container {
    border-radius: 0px;
  }

  .mail {
    margin-left: 0px;
  }

  .country {
    margin-left: 0px;
  }

  .activated {
    margin-left: 0px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #insrSummary .container {
    padding: 20px;
  }

  hr {
    margin-bottom: 6px !important;
  }

  .markupDiv{
    display: flex;
  }

  .markUp{
    width: 30%;
    float: right;
    margin-top: -5px;
    margin-left: 36px;
  }


  .symbol{
    padding: 0px 4px;
  }

  .mobileTotal {
    margin-top: 0px;
  }

  .grandLabel {
    padding-right: 0px;
    font-size: 16px;
    float: left;
  }

  .grandTotal {
    width: 50%;
  }

  .mail {
    margin-left: 0px;
  }

  #insrSummary .planDetail {
    margin-top: 2px;
    margin-bottom: 20px;
    /* color: gray; */
  }

  #insrSummary .container {
    border-radius: 10px;
  }

  .TrvDetail .container {
    border-radius: 10px;
  }

  input,
  select,
  .input-group-append,
  textarea {
    margin-top: 2px;
  }

  .mail,
  .gender,
  .country {
    margin-left: 5px;
    margin-top: 10px;
  }

  .activated {
    margin-left: 0px !important;
    margin-top: 10px;
  }

  #insrSummary {
    margin-top: 35px;
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  #insrSummary .container,
  .TrvDetail .container {
    padding: 20px 0px;
    margin-left: 15px;
    /* margin-right: 10px; */
    width: 382px;
  }

  .form-check-inline {
    padding-left: 15px;
  }

  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .forMobileUseOnly {
    margin-left: 10px;
  }
}

@media (min-width: 351px) and (max-width: 379px) {
  #insrSummary .container,
  .TrvDetail .container {
    padding: 20px 0px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    width: 332px;
  }

  .form-check-inline {
    padding-left: 15px;
  }

  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .forMobileUseOnly {
    margin-left: 10px;
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  #insrSummary .container,
  .TrvDetail .container {
    padding: 10px 0px 10px;
    margin-left: 17px;
    /* margin-right: 10px; */
    width: 285px;
  }

  .form-check-inline {
    padding-left: 15px;
  }
  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .forMobileUseOnly {
    margin-left: 10px;
  }
}

@media screen and (max-width: 980px) and (min-width: 678px) {
  .mail {
    margin-left: 16px;
  }

  .country {
    padding-left: 2px;
  }

  .activated {
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .desktopView,
  .onlyMob {
    display: none;
  }

  .mobileView {
    display: block;
  }

  .paddReq {
    padding: 0px;
  }

  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }
  .forMobileUseOnly {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  tr,
  th,
  label {
    font-size: 14px;
  }

  .form-check-inline {
    padding-left: 15px;
  }

  .grandLabel {
    font-size: 14px !important;
  }

  .totalPrice {
    font-size: 15px !important;
  }
  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .forMobileUseOnly {
    margin-left: 10px;
  }
}

@media screen and (width: 600px) {
  #insrSummary .container {
    border-radius: 10px;
  }

  .form-check-inline {
    padding-left: 15px;
  }
  .forMobile {
    padding-left: 15px;
    padding-right: 15px;
  }
  .forMobileUseOnly {
    margin-left: 10px;
  }
}

.form-group {
  margin-bottom: 0px;
}

.field_space {
  margin-bottom: 10px;
}
