<div class="container-fluid wrapContainer mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1><span class="faqContainer">FAQ's</span></h1>
    </div>

    <div class="col-12 p-0">
      <div class="accordion" id="chinaAccordion">

        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading1" data-toggle="collapse"
            data-target="#chinaAccordion1" aria-expanded="true" aria-controls="chinaAccordion1">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                What is a transit Visa ?
              </button>
            </h5>
          </div>

          <div id="chinaAccordion1" class="collapse show" aria-labelledby="heading1"
            data-parent="#chinaAccordion">
            <div class="card-body">
              <p>All Indian passport holders are eligible to apply for a China visa online. This visa is
                valid for most airports except the ones listed below. You need a visa if you have a
                layover at these airports :</p>

              <li>Mudanjiang Hailang Airport</li>
              <li>Yanji Chaoyangchuan Airport</li>
              <li>Fuzhou Changle Airport</li>
              <li>Huangshan Tunxi Airport</li>

              <p>At Urumqi Diwopu International Airport, Visa-free transit is applicable only for 2 hours
                and the traveler is not allowed to exit the airport. If the traveler is transiting Guangzhou
                via air, they will be issued the 24h transit visa under a qualified travel itinerary.</p>
            </div>
          </div>
        </div>
        <div class="card faqQueryCard">
          <div class="card-header faqQuery" id="heading2" data-toggle="collapse"
            data-target="#chinaAccordion2" aria-expanded="false" aria-controls="chinaAccordion2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button">
                What does validity of visa, duration of stay and number of entries mean ?
              </button>
            </h5>
          </div>
          <div id="chinaAccordion2" class="collapse" aria-labelledby="heading2"
            data-parent="#chinaAccordion">
            <div class="card-body">
              <p><b>Validity :</b> number of months your visa is valid.</p>

              <p><b>Duration:</b> how many days you can stay in a country while your china visa is still valid
              </p>

              <p><b>Number of entries:</b> how many times you can enter the country land while your china visa
                is valid and you haven’t exhausted your duration days </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>